@charset "utf-8";
/* CSS Document */

/**** School Setting Calendar *****/

td.day_sunday{ background-color:#FFFFFF; border-left:none }
td.day_dummy {  background-color:#FFFFFF;}
td.day_holiday span.day_no{ background:url(/images/2009a/school_setting/bg_holiday_bw.gif) #666666}
td.day_holiday {  background:url(/images/2009a/school_setting/bg_holiday_bw.gif)}

td.day_school_event { background:url(/images/2009a/school_setting/bg_school_event_bw.gif)}
td.day_academic {  background:url(/images/2009a/school_setting/bg_academic_event_bw.gif)}
td.day_school_event_academic { background:url(/images/2009a/school_setting/bg_academic_school_event_bw.gif) center repeat-y}
td.day_group_event p { background:url(/images/2009a/school_setting/icon_groupevent_bw.gif) no-repeat right top}
span.cycle_day_no{ color:#000000}

.title_school_event{ color:#000000;}
.title_school_event span.event_type_icon { background:url(/images/2009a/school_setting/bg_school_event_bw.gif)}

.title_academic{ color:#000000}
.title_academic span.event_type_icon { background:url(/images/2009a/school_setting/bg_academic_event_bw.gif)}

.title_holiday{ color:#000000;}
.title_holiday span.event_type_icon {  background:url(/images/2009a/school_setting/bg_holiday_bw.gif); font-size:0.8em}

.title_group_event{ color:#000000;}
.title_group_event span.event_type_icon {background:url(/images/2009a/school_setting/icon_groupevent_bw.gif) top right no-repeat #FFFFFF; }

