.dynCalendar_header{
     font-family: Arial, Verdana, Helvetica, Sans-Serif;
     font-size: 10pt;
     font-weight: bold;
}
.dynCalendar_dayname {
     background-color: #eeeeee;
     border: 1px solid #c0c0c0;
     font-family: Arial, Verdana, Helvetica, Sans-Serif;
     font-size: 8pt;
     text-align: center;
}

.dynCalendar_day {
     background-color: #eeeeee;
     color: #000000;
     font-family: Arial, Verdana, Helvetica, Sans-Serif;
     font-size: 8pt;
}

.dynCalendar_today {
     background-color: #ffffff;
     border: 1px solid #c0c0c0;
     font-family: Arial, Verdana, Helvetica, Sans-Serif;
     font-size: 8pt;
}

.dynCalendar {
     background-color: #c0c0c0;
     border: 2px outset white;
     visibility: hidden;
     position: absolute;
     top: 1px;
     left: 1px;
}

.dynCalendar_free {
     background-color: #7AC230;
     color: #000000;
     font-family: Arial, Verdana, Helvetica, Sans-Serif;
     font-size: 8pt;
}

.dynCalendar_half {
     background-color: orange;
     color: #000000;
     font-family: Arial, Verdana, Helvetica, Sans-Serif;
     font-size: 8pt;
}

.dynCalendar_full {
     background-color: red;
     color: #000000;
     font-family: Arial, Verdana, Helvetica, Sans-Serif;
     font-size: 8pt;
}

td.dynCalendar_card_no_data {
     color: #000000;
     font-family: Arial, Verdana, Helvetica, Sans-Serif;
     font-size: 8pt;
} 
td.dynCalendar_card_confirmed {
     background-color: #7AC230;
     color: #000000;
     font-family: Arial, Verdana, Helvetica, Sans-Serif;
     font-size: 8pt;
} 
td.dynCalendar_card_partial_confirmed {
     background-color: #FFFF00;
     border: 1px solid #c0c0c0;
     color: #000000;
     font-family: Arial, Verdana, Helvetica, Sans-Serif;
     font-size: 8pt;
} 
td.dynCalendar_card_not_confirmed {
     background-color: orange;
     border: 1px solid #c0c0c0;
     color: #000000;
     font-family: Arial, Verdana, Helvetica, Sans-Serif;
     font-size: 8pt;
} 