/*
Copyright (C) 2006 Google Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
*/

body {
  padding: 15px;
  margin: 0px;
  font: 12px Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
  background-color: #FFFFFF;
}

h1 {
  margin: 0px;
  font-size: 12px;
  padding: 4px;
  font-weight: bold;
  border: 0px solid #A4C0E2;
  background-color: #E6ECF6;
  color: #FFF0F5;
}

h2 {
  font-size: 14px;
  color: #FFF0F5;
}

/* titles */
.t {
  font-weight: bold; 
  font-size: 150%;
}

td,th,p,div,input {
  font: 12px Verdana, Arial, Helvetica, sans-serif;
  color: #DCDCDC;
}



.codediv {
  background-color: #FFFFCC;
  border: 1px #FF9933 solid;
  padding-top: 4px;
  padding-left: 10px;
  padding-bottom: 4px;
  padding-right: 4px;
  margin-left: 2px;
  margin-right: 2px;
  overflow: auto;
}

.warningdiv {
  background-color: #CCCCCC;
  border: 1px #333333 solid;
  padding-top: 4px;
  padding-left: 10px;
  padding-bottom: 4px;
  padding-right: 4px;
  margin-left: 2px;
  margin-right: 2px;
  overflow: auto;
}

.bordereddiv {
  background-color: #F4F7FB;
  border: 1px #A4C0E2 solid;
  padding: 4px;
}

.borderedwarningdiv {
  background-color: #FFFFCC;
  border: 1px #FFCC33 solid;
  width: 500px;
  padding: 10px;
}

h3 {
	background-color: #F4F7FB;
	color: Purple;
	border: 1px #A4C0E2 solid;
	padding: 4px;
}

.content {
  border: 1px solid #A4C0E2;
  background-color: #FFFFFF;
  padding: 10px;
  margin: 71px 50px 0px 160px;
}

a.activebutton {
  border-bottom: 1px solid #A4C0E2;
  background-color: #A4C0E2;
  color: #234A76;
}


a {
  color: #407AB6;
  text-decoration: underline;
  font-weight: bold;
}

a:hover {
  color: #86AEDA;
  text-decoration: underline;
}

.smaller {
  font: 11px/17px Verdana, Arial, Helvetica, sans-serif;
}

.evensmaller {
  font: 9px Verdana, Arial, Helvetica, sans-serif;
}

.evensmaller a {
  font-weight: normal;
}