
* {margin: 0; padding: 0;}
@media print {html, body {border: none; height: 100%; margin: 0mm;} div.cover, div.inner {}}

body{color: #000; font-size: 1em; margin:0; padding:0;font-family: Helvetica, Arial, msjh, sans-serif;}
table {table-layout: fixed; border-collapse: separate; border-spacing: 0;} /*for IE*/
br {display: block; height: 0px; line-height: 0px; margin: 0; padding: 0;}
#content {background-color: #fff; margin:0 auto; padding: 0; width: 210mm;}
div.page-wrapper {margin: 0; padding: 0;}
table tr.control {height: 0;}
table tr.control td {height: 0; line-height: 0;}

/* Cover Page Style Start */
div.cover {background: url(asset/images/bg_cover.png) no-repeat center center; background-size: cover; display: block; margin: 0; padding: 0;  width: 210mm;}
table.tbl_stdInfo {background: url(asset/images/bg_cover_table.png) no-repeat center 2.5mm; width: 210mm;background-image-resize:6;}
table.tbl_stdInfo td.year {color: #1c3d73; font-size: 29px; height: 9.5mm; line-height: 34px; text-align: center; vertical-align: bottom;}
table.tbl_stdInfo td.semester {color: #1c3d73; font-size: 26.5px; height: 8mm; line-height: 34px; text-align: center; vertical-align: bottom;}
table.tbl_stdInfo td.std_photo {height: 77mm; padding-left: 33.5mm; padding-right: 12mm; vertical-align: middle;}
table.tbl_stdInfo td.std_photo img {height: 67mm; width: 53.5mm;}
img.stud_photo{ height: 67mm; width: 53.5mm;}
table.tbl_stdInfo td.std_name {color: #323333; height: 20.5mm; padding-right: 31mm; text-align: center; vertical-align: bottom;}
table.tbl_stdInfo td.std_name {font-size: 37px; line-height: 40px;}
table.tbl_stdInfo td.std_class {font-size: 24px; height: 23.7mm; text-align: center; padding-right: 11.2mm; vertical-align: bottom;}
table.tbl_stdInfo td.std_classNo {font-size: 24px; height: 23.7mm; padding-right: 33.5mm; text-align: center; vertical-align: bottom;}
table.tbl_stdInfo td.std_height {font-size: 24px; height: 21.5mm; padding-right: 11.2mm; text-align: center; vertical-align: bottom;}
table.tbl_stdInfo td.std_weight {font-size: 24px; height: 21.5mm; padding-right: 33.5mm; text-align: center; vertical-align: bottom;}
table.tbl_stdInfo td.std_abs {font-size: 24px; height: 22.5mm; padding-right: 11.2mm; text-align: center; vertical-align: bottom;}
table.tbl_stdInfo td.std_late {font-size: 24px; height: 22.5mm; padding-right: 33.5mm; text-align: center; vertical-align: bottom;}
/* Cover Page Style End */

/* Inner Page Style Start */
div.inner {background: url(asset/images/bg_2.png) no-repeat center center; background-size: cover;  display: block; height: 297mm; margin: 0mm; padding: 0; width: 210mm;}
div.inner1 {background: url(asset/images/bg_1.png) no-repeat center center; background-size: cover; display: block; height: 297mm; margin: 0mm; padding: 0; width: 210mm;}
table.tbl_pageHead {padding-top: 4.2mm; padding-bottom: 7.5mm; width: 100%; z-index:999}
table.tbl_pageHead td {font-size: 16px; height: 8.8mm;}
table.tbl_pageHead td.year {background: #4681c3; color: #fff;  padding-right: 3mm; text-align: right;font-family: msjh, sans-serif; }
table.tbl_pageHead td.semester {background: url('asset/images/header_bg.png') no-repeat;color: #fff; font-size: 16px; text-align: center;font-family: msjh, sans-serif; height: 8.8mm; }
table.tbl_pageHead td.pagination {background: url('asset/images/pagination_bg.png') no-repeat; color: #3d98ba; font-size: 21px; letter-spacing: 1px; text-align: center; background-image-resize: 6;}

/* My Report Style Start */
table.tbl_myReport {background: url(asset/images/myReportBg.png) no-repeat top center; background-size: 180mm auto; height:140.5mm; width: 100%; background-image-resize:6;margin-left: 14mm; margin-right: 14mm;}
table.tbl_myReport .myReportTitle {font-size: 32px; color: #7e4e41; height: 17.25mm; text-align: center; padding-top: 1.25mm; vertical-align: top;}
table.tbl_myReport .myReport {padding: 3mm; text-align: center; padding-top: 5mm; padding-bottom: 5mm;}
table.tbl_myReport_small {background: url(asset/images/myReportBg_s.png) no-repeat top center; background-size: 180mm auto; height:140.5mm; width: 100%; background-image-resize:6;margin-left: 14mm; margin-right: 14mm;}
table.tbl_myReport_small .myReportTitle {font-size: 32px; color: #7e4e41; height: 14.775mm; text-align: center; padding-top: 1.25mm; vertical-align: top;}
img.myReport {height: auto; max-height: 120mm; max-width: 160mm; width: auto;}
table.tbl_reportDetails {padding: 5mm 15.5mm 0 15mm; width: 180mm; page-break-inside:avoid;}
table.tbl_reportDetails .reportDetails_img {width: 10mm;}
table.tbl_reportDetails .reportDetails_title{color: #fff; font-size: 21px; font-weight: bold; height: 9.7mm; line-height: 21px; width: 170mm;}
table.tbl_reportDetails .reportDetails_title span {padding-top: 1.5mm; text-shadow: 2px 2px 10px rgba(0,0,0,0.4);}
table.tbl_reportDetails .reportDetails_detail {background: #fff; border-radius: 0 0 2.5mm 2.5mm; border-top: 0.8mm solid #f5d34b;  font-size: 15px; line-height: 21px; padding: 3mm 3mm 5mm;font-family: Verdana, msjh;padding-bottom: 0;}
tr.reportDetails_bg td{height:5mm;background: url('asset/images/box_bg.png') no-repeat;background-image-resize: 3;}
/* My Report Style End */

/* Language Report General Style Start */
table.tbl_pageTitle {color: #08518e; font-size: 36px; height: 18.5mm; letter-spacing: 3px; text-align: center; text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4); width: 210mm;}
table .num {line-height: 1.2; padding-left: 1.5mm; padding-top: 1.5mm; vertical-align: top;}
table .itemName {line-height: 1.2; padding-bottom: 1.5mm; padding-top: 1.5mm; word-break: break-all; width: 108mm;}
table .rate_index {height: 26.5mm; text-align: center; vertical-align: bottom;}
img.rate_index{height: 18mm; width: 50.6mm;}
img.rate_index_nosub {height: 18mm; width: 50.6mm;margin-left: 12.6mm;}
img.rate_index_li {height: 18mm; width: 50.6mm; margin-left: 2mm;}
table .indexNo {color: #c6c6c6; font-weight: bold; text-align: center;}
table .indexNo span {border-radius: 1.3mm; padding: 1.3mm 2.5mm;}
.item {color: #313333; font-size: 15px; height: 9mm;}
td.num, td.itemName, td.indexNo { border-bottom: 1px solid #cad4d6;}
td.chosen{ background-image: url('asset/images/new_selected.png'); background-position: center; background-image-resize: 6; padding: -10px; }
span.chosen { color: #252525; font-weight: bold;}

div.language_bg {background: url(asset/images/innerContentPencilBg.png) no-repeat; background-position: left 140mm, 10mm top; height: 245mm; width: 220mm;margin-right: 10mm;margin-left:0mm; background-image-resize: 6; padding-left:0mm;}
table.tbl_language_top {margin-left: 10mm;}
table.tbl_language_body { margin-left: 20mm;}
table.tbl_language_top .language_subtitle {height: 26.5mm; vertical-align: bottom;}
img.language_subtitle {height: 19mm; width: 60mm;}
/* Language Report General Style End */

table.signature_table { margin-left: 20mm; border-collapse: collapse; text-align: center; }
td.signature_cell { border: 0.3mm solid #000000; vertical-align: top; }
td.signature_cell td { font-size: 13px; }
td.SchoolCrop { text-align: left; }

/* Second Page Style Start */
div.language_headerBg {background: url(asset/images/innerContentBg_top.png) no-repeat;  background-position: center 0; height: 24.5mm;margin-right: 10mm;margin-left:10mm; padding-left: 0mm; width: 188mm;background-image-resize: 6;}
div.language_contentBg {background: url(asset/images/innerContentBg_middle.png) repeat-y;  background-position: center 0;margin-right: 10mm;margin-left:10mm; padding-left: 10mm; padding-top: 1mm; width: 178mm;background-image-resize: 6;}
div.language_contentBg:after {clear: both;}
div.language_footerBg {background: url(asset/images/innerContentBg_bottom.png) no-repeat;  background-position: center; height: 10.5mm;margin-right: 10mm;margin-left:10mm; padding-left: 0mm; width: 188mm;background-image-resize: 6;}
/* Second Page Style End */

/* Language Report Style Start */
div.learningIndex_bg {background: url(asset/images/innerContentPencilBg.png) no-repeat; background-position: right 78mm, 10mm top; height: 245mm;margin-right: 10mm;margin-left:0mm; padding-left: 10mm; width: 208mm;background-image-resize: 6;}
table.tbl_learningIndex {margin-left:10mm;}
table.tbl_learningIndex .learningIndex_subtitle {height: 26mm; vertical-align: bottom;}
span.titleIndex {color: #1f2020; font-size: 30px; font-weight: bold; line-height: 30px; padding-left: 10mm; width: 104mm;}
span.title {color: #1f7639; font-size: 23px; font-weight: bold;}
table.tbl_learningIndex .learningIndex_index {height: 24.5mm; text-align: center; vertical-align: bottom;}
table.tbl_learningIndex .learningIndex_index img {height: auto; width: 51mm;}
img.learningIndex_subtitle {height: 10mm; width: 50mm;}
/* Language Report Style End */

/* Award Page Style Start */
div.award_bg {background: url(asset/images/innerContentAwardBg.png) no-repeat; background-position: left 140mm, 10mm top; height: 245mm; width: 220mm;margin-right: 10mm;margin-left:0mm; background-image-resize: 6; padding-left:0mm;}
.award_title_space {height:15mm;}
table.tbl_awardSign {background: url(asset/images/awardSignBg.png) no-repeat center 2.5mm; background-size: 210mm auto; width: 170mm;}
table.tbl_awardSign td {vertical-align:top;}
table.tbl_awardSign .item {font-size:12px; font-weight:bold; text-align:center;}
table.tbl_awardSign .item.short {height:7mm;}
table.tbl_awardSign .award_column td:first-child {width:10mm;}
table .award_column td:first-child {width:10mm;}
table .award_sign_column td:first-child {width:43mm;}
table .award_sign_column td:nth-child(2) {width:41mm;}
table .award_sign_column td:nth-child(3) {width:72mm;}
table .award_sign_column td:nth-child(4) {width:12mm;}
/* Award Page Style End */

/* Award Style Start */
div.award_bg2 {background: url(asset/images/innerContentAwardBg2.png) no-repeat; background-position: left 140mm top; height: 245mm; margin-left: 10.12mm; padding-left: 0mm; width: 189.75mm; background-image-resize: 6; }
.awardList {padding-right: 22mm; text-align: center; vertical-align: middle; width: 100%;}
.awardList img {vertical-align: middle;}
.awardList .award_l {height: 60mm; width: 70mm;}
.awardList .award_m {height: 50mm; width: 52mm;}
.awardList .award_s {height: 50mm; width: 52mm;}
/* Award Style End */

div.learningIndex2_headerBg {background: url(asset/images/innerContentBg_top.png) no-repeat; background-position: center 0; height: 24.5mm;margin-right: 10mm;margin-left:10mm; padding-left: 10mm; width: 178mm;background-image-resize: 6;}
div.learningIndex2_contentBg {background: url(asset/images/innerContentBg_middle.png) repeat-y; background-position: center 0; padding-left: 10mm;margin-right: 10mm;margin-left:10mm; padding-top: 1mm; width: 178mm;background-image-resize: 6;}
div.learningIndex2_contentBg:after {clear: both;}
div.learningIndex2_footerBg {background: url(asset/images/innerContentBg_bottom.png) no-repeat; background-position: center; height: 10.5mm; padding-left: 0mm;margin-right: 10.2mm;margin-left:10mm; width: 188mm;background-image-resize: 6;}
/* Inner Page Style End */