/*>>>> CONTENT.CSS  <<<< Last Updated : 2011-10-14 */
/* using:   */

@charset "utf-8";

/***********************************************************************************************************************/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Main Content Board START <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/***********************************************************************************************************************/
.main_content{	background-color:#FFFFFF;	padding:10px 5px 10px 5px;	height:350px;	vertical-align:top;}

/***********************************************************************************************************************/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Common Element START <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/***********************************************************************************************************************/
.edit_bottom_v30 { height:50px; padding:3px; display:block; clear:both; border-top:1px dashed #CCCCCC; text-align:center; margin-top:5px; padding-top:5px;}
.edit_bottom_v30 span { float:left; clear:both; display:block; font-size:0.92em; color:#666666;}

.navigation_v30 {	text-align: left;	color: #000000;	display:block;	margin-bottom:10px; line-height:20px;}
.navigation_v30 a{ color: #077C9E;	text-decoration: underline; background: url(../../../images/2009a/nav_arrow.gif) no-repeat 2px 2px; padding-left:20px; display:block; float:left}
.navigation_v30 a:hover{ color:#FF0000}
.navigation_v30 span { background: url(../../../images/2009a/nav_arrow.gif) no-repeat 2px 2px; padding-left:20px; display:block; float:left}

.navigation_v30_v2 {	text-align: left;	color: #000000;	display:block;	margin-bottom:10px; line-height:20px;}
.navigation_v30_v2 span { background: url(../../../images/2009a/nav_arrow.gif) no-repeat 2px 2px; padding-left:20px; display:block; float:left}


.view_table_list_v30 tr th{	background-color: #487db4/* #4A7ECC*/;}

span.row_content_v30{float:left; display:block;}

span.sub_row_content_v30{float:left; display:block; width:65px;}
/**** edit 2009-06-30 *****/
div.row_content_tool{ clear:right;float:right; }
/**** edit 2009-06-30  end*****/
.row_content_tool a{float:right;}

.table_row_tool { float:left; display:block}
.table_row_tool a{ background-image: url(../../../images/2009a/icon_table_row_tool.gif); background-repeat:no-repeat; background-position:0px 0px; height:20px; width:20px; float:left; margin-right:2px; display:block; clear:none;}
.table_row_tool a.add{ background-position:0px -40px;}
.table_row_tool a.add:hover{ background-position:-20px -40px;}
.table_row_tool a.add_dim{ background-position:-40px -40px;}
.table_row_tool a.add_dim:hover{ background-position:0px -40px;}
.table_row_tool a.add_alert{ background-position:-60px -40px;}
.table_row_tool a.add_alert:hover{ background-position:0px -40px;}
.table_row_tool a.edit{ background-position:0px 0px;}
.table_row_tool a.edit:hover{ background-position:-20px 0px;}
.table_row_tool a.edit_dim{ background-position:-40px 0px;}
.table_row_tool a.edit_dim:hover{ background-position:0px 0px;}

.table_row_tool a.edit_alert{ background-position:-60px 0px;}
.table_row_tool a.edit_alert:hover{ background-position:0px 0px;}
.table_row_tool a.delete_dim{ background-position:-40px -20px;}
.table_row_tool a.delete_dim:hover{ background-position:0px -20px;}
.table_row_tool a.delete{ background-position:0px -20px;}
.table_row_tool a.delete:hover{ background-position:-20px -20px;}
.table_row_tool a.copy_dim{ background-position:-40px -80px;}
.table_row_tool a.copy_dim:hover{ background-position:0px -80px;}
.table_row_tool a.move_order{ background-position:0px -60px;}
.table_row_tool a.move_order:hover{ background-position:-20px -60px;}
.table_row_tool a.move_order_dim{ background-position:-40px -60px;}
.table_row_tool a.move_order_dim:hover{ background-position:0px -60px;}
.table_row_tool a.setting_row{ background-position:0px -100px;}
.table_row_tool a.setting_row:hover{ background-position:-20px -100px;}
.table_row_tool a.setting_dim{ background-position:-40px -100px;}
.table_row_tool a.setting_dim:hover{ background-position:0px -100px;}
.table_row_tool a.delete_period_dim{ background-position:-40px -140px;}
.table_row_tool a.delete_period_dim:hover{ background-position:0px -140px;}
.table_row_tool a.select_date{ background-position:0px -160px;}
.table_row_tool a.select_date:hover{ background-position:-20px -160px;}
.table_row_tool a.select_preset{ background-position:0px -180px;}
.table_row_tool a.select_preset:hover{ background-position:-20px -180px;}
.table_row_tool a.minize{ background-position:0px -200px;}
.table_row_tool a.minize:hover{ background-position:-20px -200px;}
.table_row_tool a.reason{ background-position:0px -220px;}
.table_row_tool a:hover.reason{ background-position:-20px -220px;}
.table_row_tool a.reason_alert{ background: url(../../../images/2009a/icon_reason_alert.gif) 0px 0px no-repeat;}
.table_row_tool a.active_item{ background-position:0px -240px;}
.table_row_tool a.inactive_item{ background-position:-20px -240px;}
.table_row_tool a.subtract_dim{ background-position:-40px -260px;}
.table_row_tool a.subtract_dim:hover{ background-position:0px -260px;}
.table_row_tool a.subtract_dim{ background-position:-40px -260px;}
.table_row_tool a.subtract_dim:hover{ background-position:0px -260px;}
.table_row_tool a.health_ingredient_dim{ background-position:-40px -280px;}
.table_row_tool a.health_ingredient_dim:hover{ background-position:0px -280px;}
.table_row_tool a.clear_detail_dim{ background-position:-40px -300px;}
.table_row_tool a.clear_detail_dim:hover{ background-position:0px -300px;}
.table_row_tool a.zing_photo_dim{ background-position:-40px -320px;}
.table_row_tool a.zing_photo_dim:hover{ background-position:0px -320px;}
.table_row_tool a.icon_batch_assign{ background-position:0px -340px;}
.table_row_tool a.restore_form_dim{ background-position:-40px -360px;}
.table_row_tool a.restore_form_dim:hover{ background-position:0px -360px;}
.table_row_tool span{float:left; display:block; line-height:20px; color:#CCCCCC}
.row_content_tool span{float:right;}

/********* Form Element ************/
.textboxnum {	color: #000000;	width: 100px;}
.textboxnum2 {	color: #000000;	width: 50px;}
.formbutton_disable_v30{ cursor:auto; border:1px solid #CCCCCC;	color:#CCCCCC;	height:28px;	padding-top:3px;	padding-bottom:4px;	background-image: none;	background:#EEEEEE;}
.formbutton_v30{ cursor:pointer;	border:1px outset #82A4BC;	color:#0b3a90; height:28px; padding-top:3px; padding-bottom:4px; background: url(../../../images/2009a/btn_bg.gif) 0px 0px;}
.formbutton_v30:hover {background-position:0px -30px;color:#3263bd;}
.formsubbutton_v30{	cursor:pointer;	border:1px outset #CCCCCC; color:#000000; height:28px; padding-top:3px; padding-bottom:4px; background: url(../../../images/2009a/btn_bg.gif) 0px -60px}
.formsubbutton_v30:hover {	background-position: 0px -90px; }
.formsmallbutton_v30{ cursor:pointer; border:1px outset #CCCCCC; color:#000000;	height:20px; padding-top:1px; padding-bottom:2px;	background: url(../../../images/2009a/btn_bg.gif) 0px -60px; }
.formsmallbutton_v30:hover{	background-position: 0px -90px; }
/*for ip2.0*/
.formbuttonon_v30{ cursor:pointer; border:1px outset #82A4BC; color:#3263bd; height:28px; padding-top:3px; padding-bottom:4px; background: url(../../../images/2009a/btn_bg.gif) 0px -30px;}
.formsubbuttonon_v30{cursor:pointer; border:1px outset #CCCCCC; color:#000000; height:28px; padding-top:3px; padding-bottom:4px; background: url(../../../images/2009a/btn_bg.gif) 0px -90px}
.formsmallbuttonon_v30{ cursor:pointer; border:1px outset #CCCCCC; color:#000000; height:20px; padding-top:1px; padding-bottom:2px;	background: url(../../../images/2009a/btn_bg.gif) 0px -90px; }

.formbutton_alert{ cursor:pointer;	border:1px outset #b60000;	color:#b60000; height:28px; padding-top:3px; padding-bottom:4px; background: url(../../../images/2009a/btn_bg.gif) 0px -120px;}
.formbutton_alert:hover {background-position:0px -150px;color:#980000;}

/********************/
.form_table_v30{ width:100%; margin:0 0;	border-collapse:separate;	border-spacing: 5px; 	*border-collapse: expression('separate', cellSpacing = '5px');}
.form_table_thickbox{ width:90%;}
.form_table_v30 tr td{	vertical-align:top;	text-align:left; line-height:18px; padding-top:5px; padding-bottom:5px;}
.form_table_v30 tr td.field_title{	border-bottom:1px solid #FFFFFF ; width:30%; background:#f3f3f3; padding-left:2px; padding-right:2px}
.form_table_v30 tr td.field_title_short{	border-bottom:1px solid #FFFFFF ; width:14%; background:#f3f3f3/*f4f4f4*/; padding-left:2px; padding-right:2px}
.form_table_v30 tr td{	border-bottom:1px solid #EFEFEF; padding-left:2px; padding-right:2px}
.form_table_v30 col.field_title_short{width:14%; }
.form_table_v30 col.field_content_short{width:20%; }
.form_table_v30 tr td a{ color: #9966CC;	}
.form_table_v30 tr th a{ color: #FFFFFF;	}
.form_table_v30 tr td a:hover{ color: #FF0000;	}
.form_table_v30 col.field_c {width:10px;}
.form_table_v30 tr td .textbox{	width:98%}
.form_sub_title_v30{ padding: 1px 3px 1px 3px; margin-top:2px;margin-bottom:2px;border-top:1px solid #CCC; background: #dedede; display:block}
.form_sub_title_v30 em{float:left;color:#666; font-style:normal; display:block;}
.form_sub_title_v30 a{float:right;color:#666; font-style:normal; display:block; color:#06C;}
.form_sub_title_v30 a:hover{color:#FF0000;}

.form_table_select_student{ width:80%;	margin:0 auto;	border-collapse:separate;	border-spacing: 5px; 	*border-collapse: expression('separate', cellSpacing = '5px');}
.form_table_select_student th{ padding:10px; background:#e6e6e6; font-weight:normal; text-align:left; vertical-align:top;  width:50%}
.form_table_select_student th span { display:block; clear:both; padding-bottom:5px;padding-top:5px;}
.form_table_select_student th em { display:block; clear:both; padding-bottom:10px; padding-top:10px;}
.form_table_select_student tr td{ padding:10px;vertical-align:top;	text-align:left; line-height:18px;width:50%}


/*========================================================================= FORM ================================================*/
.textbox_name {	font-size: 12px;	width: 300px;	padding-right: 3px;	padding-left: 3px;	padding-top: 3px;	color: #000000;}

/********* Table Grey ************/
.no_record_find_v30 { line-height:100px; padding-bottom:20px; font-style:italic; background:#f3f3f3; text-align:center; color:#999999; border:1px dashed #CCCCCC; margin-top:10px; margin-bottom:10px; display:block; clear:both;}
.no_record_find_short_v30 { line-height:40px; padding-bottom:5px; font-style:italic; background:#f3f3f3; text-align:center; color:#999999; border:1px dashed #CCCCCC; margin-top:10px; margin-bottom:10px; display:block; clear:both;}

.common_table_list_v30{	width: 100%;	border: 1px solid #CCCCCC;		margin:0 auto;	border-collapse:separate;	border-spacing: 0px; 	*border-collapse: expression('separate', cellSpacing = '0px');	clear:both;}
.common_table_list_v30 tr th{	margin:0px;	padding:3px;	padding-top:5px;	padding-bottom:5px;	background-color: #A6A6A6;	font-weight: normal;	color: #FFFFFF;	text-align:left;	border-bottom: 1px solid #CCCCCC;		border-right: 1px solid #CCCCCC	;}
.edit_table_list_v30 tr th{	background-color: #669746/* #71AA2F*/;}
.common_table_list_v30 tr th a{	color: #FFFFFF;}
.common_table_list_v30 tr th a.sort_asc {font-weight: bold;display:block; float:left;background:url(../../../images/2009a/icon_table_sort_tool.gif) no-repeat 0px 0px; padding-left:15px; }
.common_table_list_v30 tr th a.sort_asc:hover {	 background-position:0px -80px; }
.common_table_list_v30 tr th a.sort_dec {font-weight: bold;display:block;float:left;background:url(../../../images/2009a/icon_table_sort_tool.gif) no-repeat 0px -160px;padding-left:15px; }
.common_table_list_v30 tr th a.sort_dec:hover {	 background-position:0px -240px; }
.common_table_list_v30  tr th a:hover{	color: #FF0000;}
.edit_table_list_v30 tr.edit_table_head_bulk th {background-color: #97bd7e}  
.common_table_list_v30 tr td{margin:0px;padding:5px 3px 5px 3px;background-color: #FFFFFF;	border-bottom: 1px solid #CCCCCC;	border-right: 1px solid #f1f1f1	;vertical-align:top;}
.common_table_list_v30 a {	color: #2286C5;}
.common_table_list_v30 a:hover {	color: #FF0000;}
.common_table_list_v30  .num_check{	width:20px;}
.common_table_list_v30  .num_class{	width:40px;}
.common_table_list_v30  .record_code{	width:150px;}
.common_table_list_v30  .record_code_long{	width:250px;}
.common_table_list_v30  .record_tool{	width:100px;}
.common_table_list_v30  .record_title{	width:200px;}
.common_table_list_v30 tr.sub_header th{	background-color:#B3B3B3}
.common_table_list_v30 tr.sub_row td{ background-color:#f4f4f4;  border-right: 1px solid #cfcfcf}
.common_table_list_v30 tr.sub_row td .form_table tr td { border-right: none;}
.common_table_list_v30 tr.sub_row td .form_table tr th { border-right: none; background:#FFFFFF;color:#000000}

.common_table_list_v30 tr.selected_row td{ background-color: #EFFDDB}
.common_table_list_v30 tr td.sub_function_row{ padding-left : 15px;}
.common_table_list_v30 tr td.rights_title_row{ background-color:#CCCCCC; width:120px; text-align:left}
.common_table_list_v30 tr td.rights_selected{ background-color: #EFFDDB}
.common_table_list_v30 tr td.rights_not_select_sub{ background-color: #eeeeee}
.common_table_list_v30 tr td.rights_not_select{ color:#999999}
.common_table_list_v30 tr th.dummy_row { background-color:#CCCCCC; width:1px; padding:0px;}
.common_table_list_v30 tr td.dummy_row { background-color:#A6A6A6; width:1px; padding:0px; border-bottom-color:#A6A6A6}

.common_table_list_v30 tr.move_selected td{ background-color:#fbf786; border-top: 2px dashed #d3981a; border-bottom: 2px dashed #d3981a}
.common_table_list_v30 tr.sub_sub_row td{ background-color:#eeeeee}
.common_table_list_v30 tr.seperate_row td{ background-color:#B3B3B3; text-align:left; color:#FFFFFF; font-style:italic}
.common_table_list_v30 tr.total_row td{ border-top:2px solid #999999}
.common_table_list_v30 tr td.total_col ,th.total_col { border-left:2px solid #999999}

.common_table_list_v30 tr th.sub_row_top { background-color:#7E7E7E}

.common_table_list_v30 tr.row_avaliable td{color:#000;background-color:#ECFEDA;border-bottom:1px solid #B8B8B8;padding:3px}
.common_table_list_v30 tr.row_avaliable a{color:#06C;text-decoration:none}
.common_table_list_v30 tr.row_suspend td{color:#000;background-color:#FFE0E1;border-bottom:1px solid #B8B8B8;padding:3px}
.common_table_list_v30 tr.row_waiting td{color:#000;background-color:#EBF6FA;border-bottom:1px solid #B8B8B8;padding:3px}
.common_table_list_v30 tr.record_Waived td{color:#000;background-color:#f6f6f6;border-bottom:1px solid #B8B8B8;padding:3px}
.common_table_list_v30 tr.high_score td{color:#000;background-color:#89a1f3 !important; border-bottom:1px solid #B8B8B8;padding:3px}
.common_table_list_v30 tr.low_score td{color:#000;background-color:#dc9898 !important;border-bottom:1px solid #B8B8B8;padding:3px}



.common_table_list_v30 tr.row_on td {background-color: #FFFFFF;}
.common_table_list_v30 tr.row_off td {background-color: #f0f0f0;}
.common_table_list_v30 table.table_plain tr td { border:none}

.common_table_list_v30 tr.row_drafted td{color:#000000;background-color:#f1f1f1;border-bottom:1px solid #B8B8B8;padding:3px}
.common_table_list_v30 tr.row_drafted a{color:#06C;text-decoration:none}

.view_table_bottom_v30 { 	background-color: #BEC7DC}
.view_table_list_v30 tr th{	background-color: #487db4/* #4A7ECC*/;}
.view_table_list_v30 tr th.sub_row_top { background-color:#32608f}
.view_table_list_v30 tr td.sub_row_group { background-color:#FFFFFF; border-right-color:#f1f1f1}

.table_filter{	float:left; padding-bottom:1px;}
.table_filter select{/* font-size:11px;*/}
.table_filter span{	line-height:20px;}


.sectiontitle_v30 {	font-size: 1.2em;	font-weight: bold;	color: #006600;	padding-right: 3px;	padding-left: 23px;	 display:block; float:left; line-height:25px; background: url(../../../images/2009a/icon_section.gif) no-repeat 0px 3px;}
.sectiontitle_table_v30 {	font-size: 1.2em;	font-weight: bold;	color: #FFFFFF;}

/*table tool*/
.common_table_tool{
	font-size:11px;
	background:url(../../../images/2009a/table_tool_bg.gif); 
	border-right:1px solid #bcbcbc; float:right; padding-left:11px;padding-right:3px; display:block;
}
.common_table_tool a{
		padding-left: 20px;
		height:20px;
		background-image: url(../../../images/2009a/icon_common_table_tool.gif);
		background-repeat:no-repeat;
		background-position:0px 0px;
		display:block; color:#2F7510;
		float:left;
		margin-left:2px;
		line-height:19px;
}
.common_table_tool a:hover{

	color:#FF0000;
}
.common_table_tool  a.tool_edit		{ background-position:0px 0px;}
.common_table_tool  a.tool_delete	{ background-position:0px -20px;}
.common_table_tool  a.tool_copy	{ background-position:0px -40px;}
.common_table_tool  a.tool_move	{ background-position:0px -60px;}
.common_table_tool  a.tool_public	{ background-position:0px -80px;}
.common_table_tool  a.tool_private	{ background-position:0px -100px;}
.common_table_tool  a.tool_handle	{ background-position:0px -120px;}
.common_table_tool  a.tool_zoom	{ background-position:0px -140px;}
.common_table_tool  a.tool_move_order	{ background-position:0px -160px;}
.common_table_tool  a.tool_student_photo	{ background-position:0px -180px;}
.common_table_tool  a.tool_photo	{ background-position:0px -200px;}
.common_table_tool  a.tool_set	{ background-position:0px -220px;}
.common_table_tool  a.tool_undo	{ background-position:0px -240px;}
.common_table_tool  a.tool_approve	{ background-position:0px -260px;}
.common_table_tool  a.tool_reject	{ background-position:0px -280px;}
.common_table_tool  a.tool_waive	{ background-position:0px -300px;}
.common_table_tool  a.tool_assign_to_student	{ background-position:0px -320px;}
.common_table_tool  a.tool_unassign_to_student	{ background-position:0px -340px;}
.common_table_tool  a.tool_email	{ background-position:0px -360px;}
.common_table_tool  a.tool_payment	{ background-position:0px -380px;}
.common_table_tool  a.tool_refund	{ background-position:0px -400px;}
.common_table_tool  a.tool_lock	{ background-position:0px -420px;}
.common_table_tool  a.tool_sms	{ background-position:0px -440px;}
.common_table_tool  a.tool_other	{ background-position:0px -540px;}
.common_table_tool  a.tool_totop	{ background-position:0px -560px;}
.common_table_tool span { display:block; float:left; height:20px; padding-left:5px; padding-right:5px; color:#FFFFFF}
.common_table_tool span.selection_box{ display:block; float:left; padding-top:2px;}

.freeze-table{min-width: 1000px;min-height: 400px;}
.freeze-table th{background-color: #71AA2F;color: white;}
.freeze-table-top, .freeze-table-content{width:100%;display: inline-block;}
.freeze-table-top-left{overflow: hidden;width:250px;float:left;vertical-align:top;}
.freeze-table-left{width:250px;float:left;overflow-y: hidden;overflow-x: scroll; max-height: 360px;}
.freeze-table table{table-layout: fixed;width: 100%;border-spacing: 0;}
.freeze-table-top-right{width:700px;float:left;overflow-x: hidden;overflow-y: scroll;border-left: 5px solid #CCCCCC;}
.freeze-table-right{overflow: scroll;width:700px;float:left;max-height: 360px;border-left: 5px solid #CCCCCC;}
.freeze-table-top-right th{min-width: 100px;height: 60px;width: 100px;vertical-align:middle;text-align: center;overflow: hidden;border-bottom: 2px solid #CCCCCC;border-right: 1px solid #CCCCCC;padding: 0px;}
.freeze-table-top-right th div {max-height: 58px;overflow-y:auto}
.freeze-table-right td{min-width: 100px;width: 100px;vertical-align:middle;height: 31px;text-align: center;overflow: hidden;border-top: 1px solid #CCCCCC;border-right: 1px solid #CCCCCC;padding: 0px;}
.freeze-table-top-left th{vertical-align:middle;height: 60px;max-height: 60px;padding: 0px;text-align: center;overflow: hidden;border-bottom: 2px solid #CCCCCC;border-left: 1px solid #CCCCCC;}
.freeze-table-left td{vertical-align:middle;height: 31px;text-align: center;border-top: 1px solid #CCCCCC;border-left: 1px solid #CCCCCC;padding: 0px;}
.freeze-table-left td div {max-height:30px; overflow:auto;}
	
span.sub_row_content{float:left; display:block; width:65px;}

/******************* step div [start] ****************************/
.stepboard {margin:0 auto; width:85%; display:block; padding:5px; border: dashed 1px #32C617; margin-bottom:10px; clear:both}
.stepboard  h1 {display:block; background:#EDFFE0; color:#188107; font-size:1em; padding:5px; margin:0}
.stepboard ul {list-style-type: none; margin:0; padding:10px; clear:both; display:block}
.stepboard ul li{ display:inline;float:left; padding:0px; margin:0px; line-height:18px;}
.stepboard ul li div{ padding-left:25px; display:block;}
.stepboard ul li em {font-style:normal; color:#FFFFFF;  background:url(../../../images/2009a/stepnum_off.gif) no-repeat 3px 1px; margin-left:-25px; float:left; display:block; width:25px; height:25px; text-align:center;}
.stepboard ul li span {color:#C4C4C4; display:block; padding-right:10px;}
.stepboard ul li.stepon em {font-style:bold;  background:url(../../../images/2009a/stepnum_on.gif) no-repeat 1px top; line-height:20px}
.stepboard ul li.stepon span {color:#188107; font-weight:bold;}

.stepboard_2s ul li{ width:50%}                   
.stepboard_3s ul li{ width:33%}                   
.stepboard_4s ul li{ width:25%}                   
.stepboard_5s ul li{ width:20%}
/******************* step div [end] ****************************/

.report_half_v30 {display:block; float:left; padding-right:1%; width:48%;}

.Conntent_tool{ float:left; padding:2px; display:block;	padding-bottom:5px;}
.Conntent_tool a.parent_btn {background-color:#e9eef2; border:1px solid #CCCCCC; border-bottom:none;z-index:999999}
.Conntent_tool .btn_option { display:block; float:left}
.Conntent_tool a, .Conntent_tool i{ padding-left:20px; display:block; float:left; height:20px; line-height:20px; 	color: #9966CC;	background:url(../../../images/2009a/content_icon.gif) 0px 0px no-repeat;  padding-right:3px; margin-right:3px}
.Conntent_tool a:hover{	color: #FF0000;}
.Conntent_tool i { color:#CCCCCC; background-image:url(../../../images/2009a/content_icon_dim.gif)}
.Conntent_tool a.new, .Conntent_tool i.new{ background-position:0px 0px;}
.Conntent_tool a.import, .Conntent_tool i.import{ background-position:0px -20px;}
.Conntent_tool a.export, .Conntent_tool i.export{ background-position:0px -40px;}
.Conntent_tool a.print, .Conntent_tool i.print{	background-position:0px -60px;}
.Conntent_tool a.email, .Conntent_tool i.email{	background-position:0px -160px;}
.Conntent_tool a.setting_content, .Conntent_tool i.setting_content{ background-position:0px -100px;}
.Conntent_tool a.copy, .Conntent_tool i.copy{ background-position:0px -220px;}
.Conntent_tool a.edit_content, .Conntent_tool i.edit_content{ background-position:0px -240px;}
.Conntent_tool a.upload, .Conntent_tool i.upload{			 background-position:0px -279px;}
.Conntent_tool a.new_folder, .Conntent_tool i.new_folder{			 background-position:0px -300px;}
.Conntent_tool a.view_stat, .Conntent_tool i.view_stat{			 background-position:0px -320px;}
.Conntent_tool a.generate, .Conntent_tool i.generate {			 background-position:0px -260px;}
.Conntent_tool a.blank_content, .Conntent_tool i.blank_content{			 background-position:0px -1000px; padding-left:5px;}
.Conntent_tool a.clear_record, .Conntent_tool i.clear_record{			 background-position:0px -340px;}
.Conntent_tool a.refresh_status, .Conntent_tool i.refresh_status{			 background-position:0px -360px;}

/**btn sub option**/
.Conntent_tool .btn_option_layer{ margin-top:-1px; padding:0px; display:block; position:absolute;visibility:hidden;line-height:18px; z-index:99; float:left;background-color:#e9eef2; border:1px solid #CCCCCC}
.Conntent_tool .btn_option_layer a.sub_btn { clear:both; 	background: url(../../../images/2009a/btn_sub.gif) no-repeat 0px 0px;}
/****/

.report_option {padding:3px; margin-bottom:5px; display:block; line-height:20px;}
.report_option a{color:#9966CC; background:url(../../../images/2009a/icon_show_option.gif) no-repeat; padding-left:20px; display:block}
.report_option a:hover{color:#FF0000}
.report_option_title{	color:#666666; font-style:italic; }
.report_show_option{	/*background-color:#F5F5F5;	border-bottom:1px dashed #999999;*/		border:1px dashed #999999;}
.report_hide_option{	/*background-color:#F5F5F5;	border-bottom:1px dashed #999999;*/		border:1px dashed #999999;}
.report_show_option a{ background-image:url(../../../images/2009a/icon_show_option.gif);background-repeat: no-repeat;}
.report_hide_option a{ background-image:url(../../../images/2009a/icon_hide_option.gif) ;background-repeat: no-repeat;}
.report_half {float:left; display:block; width:48%; padding-right:1%}

/** Instruction box **/
.instruction_box_v30{ clear:both; margin:0 auto;	width:95%;	text-align:left;	border: 1px solid #DBDBDB;	padding: 10px;	display:block;	margin-top:10px;margin-bottom:10px;}
.instruction_box_v30 legend{	color:#666666;	font-style: italic; line-height:18px}
.instruction_warning_box_v30{ clear:both; margin:0 auto; width:95%; text-align:left; color:#FF0000; border: 1px solid #FEABAB; padding: 10px; display:block; margin-top:10px;margin-bottom:10px;}
.instruction_warning_box_v30 legend{ color:#FF0000; font-style: italic; line-height:18px}

/** layer **/
.close_layer_v30{float:right; display:block; line-height:15px; margin-bottom:3px; clear:both; color:#9966CC}
.selectbox_layer{	background-color: #f3f3f3;	padding: 3px;	clear: both;	float: left;	border-left: 1px solid #CCCCCC;	border-right: 1px solid #999999;	border-top: 1px solid #CCCCCC;	border-bottom: 1px solid #999999;	position: absolute;	visibility: hidden;}
.selectbox_layer_show_info_v30{overflow:auto; width:300px; height:200px; padding:6px;}

/* bubble layer */

.sub_layer_board_v30{ clear:both;	float:left;	position: absolute;	visibility:hidden;	z-index:2;}
.bubble_board_01_v30{ background: url(../../../../../../images/2009a/addon_tools/sub_layer_bubble01.png) no-repeat left top;	display: block;	height: 30px; padding-left: 12px;clear: both; }
.bubble_board_02_v30{ background: url(../../../../../../images/2009a/addon_tools/sub_layer_bubble02.png) no-repeat right top;display: block;height: 30px;padding-right: 12px;text-align:right;}
.bubble_board_03_v30{ background: url(../../../../../../images/2009a/addon_tools/sub_layer_bubble03.png) no-repeat left top; display: block;	padding-left: 12px;	clear: both;;}
.bubble_board_04_v30{ background: url(../../../../../../images/2009a/addon_tools/sub_layer_bubble04.png) no-repeat right top;display: block; padding-right: 12px; color: #000000; text-align:left;
}
.bubble_board_05_v30{ background: url(../../../../../../images/2009a/addon_tools/sub_layer_bubble05.png) no-repeat left top; display: block; height: 20px;	padding-left: 12px;	clear: both;}
.bubble_board_06_v30{ background: url(../../../../../../images/2009a/addon_tools/sub_layer_bubble06.png) no-repeat right top; display: block; height: 20px; padding-right: 12px;}

#sub_layer_eclass_update_alert_v30{	width:550px; height:330px;}
#sub_layer_eclass_update_alert_v30 .bubble_board_01_v30{ background-image: url(../../../../../../images/2009a/addon_tools/sub_layer_bubble01.png); height:30px;}
#sub_layer_eclass_update_alert_v30 .bubble_board_02_v30{ background-image: url(../../../../../../images/2009a/addon_tools/sub_layer_bubble02.png); text-align:left; height:30px;}
#sub_layer_eclass_update_alert_v30 .bubble_board_03_v30{ background-image: url(../../../../../../images/2009a/addon_tools/sub_layer_bubble03.png); background-repeat:repeat-y ;}
#sub_layer_eclass_update_alert_v30 .bubble_board_04_v30{ background-image: url(../../../../../../images/2009a/addon_tools/sub_layer_bubble04.png); background-repeat:repeat-y ; padding-left:10px; padding-right:30px;}
#sub_layer_eclass_update_alert_v30 .bubble_board_05_v30{ background-image: url(../../../../../../images/2009a/addon_tools/sub_layer_bubble05.png) }
#sub_layer_eclass_update_alert_v30 .bubble_board_06_v30{ background-image: url(../../../../../../images/2009a/addon_tools/sub_layer_bubble06.png)}
#sub_layer_eclass_update_alert_v30 .bubble_board_02_v30 em{display:block; float:right; text-decoration:none; padding-right:100px}
#sub_layer_eclass_update_alert_v30 .bubble_board_02_v30 h2 { margin:0; padding:0; font-weight:normal; font-size:1em; display:block; float:right; padding-top:15px;}
#sub_layer_eclass_update_alert_v30 h1 { border-bottom: 1px solid #44a437; line-height:30px; margin:0; padding:0; font-size:1.5em; color:#44a437; font-weight:normal; padding-bottom:2px; margin-bottom:3px; font-style:italic}
#sub_layer_eclass_update_alert_v30 ul { list-style-image:url(../images/2007a/addon_tools/icon_list_arrow.gif); line-height:18px; font-style: italic; }
#sub_layer_eclass_update_alert_v30 ul li{ margin-bottom:2px; }
#sub_layer_eclass_update_alert_v30 a {color:#FF0000; text-decoration:underline}
#sub_layer_eclass_update_alert_v30 a:hover { text-decoration:none}

.user_login a.new_features{	color: #8aff00;}
.user_login a.new_features:hover, .user_login a:hover{	color:#FFFFFF;}

.user_login a.btn_to_pl { padding-left:20px; background:url(../../../images/2009a/topbar_25/icon_to_pl.gif) no-repeat left top;}
.user_login a.btn_to_pl:active, .user_login a.btn_to_pl:hover {background-image:url(../../../images/2009a/topbar_25/icon_to_pl_on.gif)}

//.common_table_list_v30 .edit_table_list_v30 tr.partial_edit_v30 tr {background-color: #669746; border: 1px solid red}

/*selectbox_group*/
.selectbox_group_v30{	float:left;	margin-top:2px;	margin-bottom:2px;	background-color:#FFFFFF;	margin-right:5px;}
.selectbox_group_v30 a{	border:1px solid #FFFFFF;	line-height:18px;	padding-left:3px;	padding-right:18px;	display:block;	text-decoration:none;	color:#000000;	background:url(../../../images/2009a/selectbox_arrow.gif) no-repeat right center #FFFFFF;}

.selectbox_group_v30 a:hover{	border:1px solid #CCCCCC;	background-image:url(../../../images/2009a/selectbox_arrow_on.gif);	color:#386713;}
.selectbox_layer{	background-color: #f3f3f3;	padding: 3px;	clear: both;	float: left;	border-left: 1px solid #CCCCCC;	border-right: 1px solid #999999;	border-top: 1px solid #CCCCCC;	border-bottom: 1px solid #999999;	position: absolute;	visibility: hidden;}
.selectbox_group_filter a{	border:1px solid #999999;}

.over_plugin_iframe { z-index:-1; position:absolute; border-bottom-style:none; filter:alpha(opacity=0);border-right-style:none; background-color:#fff; width:100%; border-top-style:none; height:100%; border-left-style:none; top:0px; left:0px;}


/*** Digitial Archive [Start] ***/
.word-cloud {
	border: 1px inset #333;
	padding: 30px;
}
.cloudword {
	font-family: Verdana, Tahoma, Arial;
	padding: 4px 4px 4px 4px;
	letter-spacing: 3px;
	text-decoration: none;
	font-weight: normal;
}
.cloudtextsize9 {
	color: #000;
	font-size: 30px;
}
.cloudtextsize8 {
	color: #111;
	font-size: 28px;
}
.cloudtextsize7 {
	color: #222;
	font-size: 26px;
}
.cloudtextsize6 {
	color: #333;
	font-size: 24px;
}
.cloudtextsize5 {
	color: #444;
	font-size: 22px;
}
.cloudtextsize4 {
	color: #555;
	font-size: 20px;
}
.cloudtextsize3 {
	color: #666;
	font-size: 18px;
}
.cloudtextsize2 {
	color: #777;
	font-size: 16px;
}
.cloudtextsize1 {
	color: #888;
	font-size: 10px;
}


#resource_search {display:block; min-height:20px;  }
#resource_search .resource_search_keywords{ display:block;padding-left:100px;}
#resource_search .resource_search_keywords input { margin-left:10px;}
#resource_search .resource_search_keywords input.keywords{ padding:2px;background:url(../../../images/2009a/content_icon.gif) no-repeat 0px -80px #FFFFFF; padding-left:20px; width: 150px; height:16px; border: 1px solid #BDCEB0; }
#resource_search a.link_advanced_search{ line-height:20px; float:right; display:block; padding-right:20px; margin-left:10px; padding-left:10px; color: #9966CC; }
#resource_search a.link_advanced_search:hover {color:#FF0000}

#resource_search_adv {display:block; min-height:20px;  }
#resource_search_adv .resource_search_keywords{ display:block;padding-left:100px;}
#resource_search_adv .resource_search_keywords input { margin-left:10px;}
#resource_search_adv .resource_search_keywords input.keywords{ padding:2px;background:url(../../../images/2009a/content_icon.gif) no-repeat 0px -80px #FFFFFF; padding-left:20px; width: 150px; height:16px; border: 1px solid #BDCEB0; }
#resource_search_adv a.link_advanced_search{ line-height:20px; float:right; display:block; padding-right:20px; margin-left:10px; padding-left:10px; color: #9966CC; }
#resource_search_adv a.link_advanced_search:hover {color:#FF0000}

.resource_search_simple1 { display:block; height:10px; padding:2px 2px 0px 2px; }
.resource_search_simple1 .resource_search_keywords{ float:right;}
.resource_search_simple1 a.link_advanced_search{background:url(../../../images/2009a/selectbox_arrow_open.gif) no-repeat top right;  }
.resource_search_simple1 a.link_advanced_search:hover { background:url(../../../images/2009a/selectbox_arrow_open_on.gif) no-repeat top right;  }

.resource_search_advance{ display:block;  padding:7px 7px 0px 7px; border:1px solid #CCCCCC; background:#f4f4f4; margin-bottom:10px;}
.resource_search_advance .resource_search_keywords{  float:left;}
.resource_search_advance a.link_advanced_search{background:url(../../../images/2009a/selectbox_arrow_close.gif) no-repeat top right;  }
.resource_search_advance a.link_advanced_search:hover { background:url(../../../images/2009a/selectbox_arrow_close_on.gif) no-repeat top right;  }
.resource_search_advance .resource_search_advance_form{ display:block; }
.resource_search_advance .resource_search_advance_form .form_table tr td.field_title { width:150px;}

.resource_portal{padding-left:230px; display:block; clear:both}
.resource_portal_left {display:block; float:left; margin-left:-230px; width:220px;}
.resource_portal_right {display:block; float:left; width:100%;}



/*** Digital Archive [End] ***/

.booking_calendar_tool{float:right;width:10px;padding:0;padding-right:2px;}
.icon_timezone {background:url(../../../images/2009a/ebooking/icon_timezone.png) #FF0000; display:block; width:15px; height:14px; }/*2011-07-12*/

table.full_border_table
{
	border-collapse:collapse;
	border:1px solid #000; 
}
table.full_border_table tr td, table.full_border_table tr th
{
	border:1px solid #000; 
	padding: 5px 3px;
}

table.full_border_table table,table.full_border_table td
{
	border:0px solid #000; 
}

.placeholder { background-color:#fbf786; border-top: 2px dashed #d3981a; border-bottom: 2px dashed #d3981a;}


/* eBooking*/
#follow_up_group_option{z-index: 99;} /* Follow-up Work Schedule */
/* eBooking [end] */