@charset "utf-8";
/* CSS Document */
/******************************************* Changes log **********************************************
 * 2012-10-11 (CharlesMa): .recommend_form textarea.inputbox; .review_form textarea.inputbox; both BAM resize
 *							#tool_highlight_board : z-index: 6;
 ******************************************************************************************************/


body { margin:0; padding:0; background:url(../../../images/2009a/ebook_reader/bg.jpg);}
p.spacer{clear:both; display:block; line-height:0; font-size:0; padding:0; margin:0; height:0}
a { text-decoration:none; }
body, input, select, textarea { font-family:Verdana, Arial, Helvetica, sans-serif}

input.form_btn { text-align:center; border:none; background:url(../../../images/2009a/ebook_reader/tool/btn_bg.png) no-repeat center; height:45px; width:75px; line-height:1.5em; color:#000099}
input.form_btn:hover, input.form_btn:active { color:#FF0000}

#book_structure{ display:block;}

.book_2page_structure{ margin:0 auto; width:1024px; height:672px; }
.book_1page_structure { margin:0 auto; width:768px; height:928px; }
.book_1page_cover_structure { margin:0 auto; width:626px; height:928px; }
.book_2page_cover_structure{ margin:0 auto; width:457px; height:672px;}


#tool_top { display:block; width:100%; position:absolute; z-index:6;}
.tool_top_content{ margin:0 auto;  display:block;position: relative; }
/*
.tool_top_left{ display:block; padding-left:15px; height:60px; background:url(../../../images/2009a/ebook_reader/tool_top_left.png) no-repeat left bottom;}
.tool_top_right{ display:block; padding-right:15px; height:60px; background:url(../../../images/2009a/ebook_reader/tool_top_right.png) no-repeat right bottom;}
.tool_top_bg{ display:block;  height:60px; background:url(../../../images/2009a/ebook_reader/tool_top_bg.png) bottom repeat-x;}
*/
/*****modified 2012-03-14 start *****/
.tool_top_left{ display:block; padding-left:15px; height:45px; background:url(../../../images/2009a/ebook_reader/tool_top_left.png) no-repeat left bottom;}
.tool_top_right{ display:block; padding-right:15px; height:45px; background:url(../../../images/2009a/ebook_reader/tool_top_right.png) no-repeat right bottom;}
.tool_top_bg{ display:block;  height:45px; background:url(../../../images/2009a/ebook_reader/tool_top_bg.png) bottom repeat-x;}
/*****modified 2012-03-14 end *****/

/********* class for #tool_top  ************/
.tool_top_2page {  min-width:1024px;}
.tool_top_2page .tool_top_content{width:1024px;}
.tool_top_1page { min-width:768px;}
.tool_top_1page .tool_top_content{width:768px;}

/*******************/
.tool_2page_left { display:block; width:480px;padding-right:15px;  float:left}
.tool_2page_right { display:block; width:480px;padding-left:15px; float:left}
.tool_1page { display:block; }



#tool_bottom { display:block; width:100%;  position:absolute; z-index:5; margin-top:-60px;}
.tool_bottom_content{ margin:0 auto; width:1024px; display:block;position: relative; }
.tool_bottom_left{ display:block; padding-left:14px; height:60px; background:url(../../../images/2009a/ebook_reader/tool_bottom_left.png) no-repeat left top;}
.tool_bottom_right{ display:block; padding-right:14px; height:60px; background:url(../../../images/2009a/ebook_reader/tool_bottom_right.png) no-repeat right top;}
.tool_bottom_bg{ display:block;  height:60px; background:url(../../../images/2009a/ebook_reader/tool_bottom_bg.png) top repeat-x;}


.tool_bottom_2page { min-width:1024px;}
.tool_bottom_2page .tool_bottom_content{width:1024px;}
.tool_bottom_1page { min-width:768px;}
.tool_bottom_1page .tool_bottom_content{width:768px;}


.tool_page_panel { display:block; padding-left:40px; padding-right:40px; padding-top:18px; height:35px;}
.tool_page_left { display:block; float:left; margin-left:-40px; width:35px; height:35px;}
.tool_page_right { display:block; float:right; margin-right:-40px; width:35px; height:35px;}
.tool_page_select { display:block; width:100%; background:url(../../../images/2009a/ebook_reader/tool_page_slide.png) repeat-x top;  height:35px; }
/*
.tool_left { padding-top:10px; display:block; float:left}
.tool_right { padding-top:10px; display:block; float:right}
*/
/*****modified 2012-03-14 start *****/
.tool_left { padding-top:0px; display:block; float:left}
.tool_right { padding-top:0px; display:block; float:right}
/*****modified 2012-03-14 end *****/

#tool_top a, #tool_bottom a , #tool_highlight a, #tool_common a, .tool_board a, .tool_notes_paper a, .tool_notes_book a , .tool_bookmark_list a, .tool_hightlight_list a{ height:35px; width:35px; display:block; background-image:url(../../../images/2009a/ebook_reader/tool_icon.png); background-repeat:no-repeat}
#tool_bottom .tool_page_select a{ position:relative;  width:16px; }
/********** added 2012-03-08 start ***********/
#tool_notes_added  { display:block; height:25px; width:25px;}
#tool_notes_added a{ height:25px; width:25px; display:block; background-image:url(../../../images/2009a/ebook_reader/tool_icon.png); background-repeat:no-repeat}
/***********added 2012-03-08 end *********/
.tool_left a{ float:left; margin-right:10px;}
.tool_right a{ float:right; margin-left:10px;}
.tool_page_left a{float:left;}
.tool_page_right a{float:right;}

a.btn_book_tool { background-position: 0px 0px;}
a.btn_book_tool:hover, a.btn_book_tool:active { background-position: -35px 0px;}
a.btn_add_notes { background-position: 0px -35px;}
a.btn_add_notes:hover, a.btn_add_notes:active { background-position: -35px -35px;}
a.btn_my_progress { background-position: 0px -70px;}
a.btn_my_progress:hover, a.btn_my_progress:active { background-position: -35px -70px;}
a.btn_book_review { background-position: 0px -105px;}
a.btn_book_review:hover, a.btn_book_review:active { background-position: -35px -105px;}
a.btn_send_recommend { background-position: 0px -140px;}
a.btn_send_recommend:hover, a.btn_send_recommend:active { background-position: -35px -140px;}
a.btn_my_notes { background-position: 0px -175px;}
a.btn_my_notes:hover, a.btn_my_notes:active { background-position: -35px -175px;}
a.btn_my_bookmarkes { background-position: 0px -210px;}
a.btn_my_bookmarkes:hover, a.btn_my_bookmarkes:active { background-position: -35px -210px;}
a.btn_add_bookmarkes { background-position: 0px -245px;}
a.btn_add_bookmarkes:hover, a.btn_add_bookmarkes:active { background-position: -35px -245px;}
a.btn_texttospeech { background-position: 0px -280px;}
a.btn_texttospeech:hover, a.btn_texttospeech:active { background-position: -35px -280px;}
a.btn_book_setting { background-position: 0px -315px;}
a.btn_book_setting:hover, a.btn_book_setting:active { background-position: -35px -315px;}
a.btn_book_close { background-position: 0px -350px;}
a.btn_book_close:hover, a.btn_book_close:active { background-position: -35px -350px;}
a.btn_common_close { background-position: 0px -385px;}
a.btn_common_close:hover, a.btn_common_close:active { background-position: -35px -385px;}
a.btn_tableofcontent { background-position: 0px -420px;}
a.btn_tableofcontent:hover, a.btn_tableofcontent:active { background-position: -35px -420px;}
a.btn_search { background-position: 0px -455px;}
a.btn_search:hover, a.btn_search:active { background-position: -35px -455px;}
a.btn_select_page { background-position: 0px -490px;}
a.btn_select_page:hover, a.btn_select_page:active { background-position: -35px -490px;}
a.btn_clear_highlight { background-position: 0px -525px;}
a.btn_clear_highlight:hover, a.btn_clear_highlight:active { background-position: -35px -525px;}
a.btn_notes { background-position: 0px -560px;}
a.btn_notes:hover, a.btn_notes:active { background-position: -35px -560px;}
a.btn_write { background-position: 0px -595px;}
a.btn_write:hover, a.btn_write:active { background-position: -35px -595px;}
a.btn_delete { background-position: 0px -630px;}
a.btn_delete:hover, a.btn_delete:active { background-position: -35px -630px;}
a.btn_zoomin { background-position: 0px -665px;}
a.btn_zoomin:hover, a.btn_zoomin:active { background-position: -35px -665px;}
a.btn_zoomout { background-position: 0px -700px;}
a.btn_zoomout:hover, a.btn_zoomout:active { background-position: -35px -700px;}

.btn_more{ display:block; text-align:center; clear:both; padding:10px;} 
.btn_more a {color:#0066CC; width:auto; background:none; height:auto; font-style:italic; font-size:0.9em;}
.btn_more a:hover, .btn_more a:active{ color:#FF0000}
/*********/

#book_content { display:block; width:100%;  position:absolute; z-index:1; margin:0; padding:0;}
/*********class for #book_content*************/
.book_2page_content {  min-width:1024px; }
.book_1page_content {  min-width:768px; }
/******************/

.book_content_container {font-family: "Lucida Sans Unicode", verdana; margin:0 auto;   display:block;   overflow:hidden;}
.book_2page_content .book_content_container { width:921px;   /* font-size:13px; line-height:2.5em;*/ font-size:15px; line-height:2.8em; }
.book_2page_content .book_content_container input, .book_2page_content .book_content_container select{ font-size:15px;}
.book_1page_content .book_content_container {width:650px;   font-size:18px; line-height:2.8em; }
.book_1page_content .book_content_container input, .book_1page_content .book_content_container select{ font-size:18px;}
#book_content_main{ clear:both;position: relative;/*background:#FF0000; */ margin:0; padding:0; display:block}
.book_2page_content #book_content_main{ font-family:Verdana, Arial, Helvetica,"標楷體",sans-serif;  -moz-column-count: 2;	-moz-column-width:400px; height:568px;	-moz-column-gap: 60px;	-webkit-column-count: 2;	-webkit-column-width: 400px;	-webkit-column-gap: 60px;	}
.book_1page_content #book_content_main{ font-family:Verdana, Arial, Helvetica,"標楷體",sans-serif;  -moz-column-count: 1;	-moz-column-width:650px; height:800px;	-moz-column-gap: 0px;	-webkit-column-count: 1;		-webkit-column-width: 600px;	-webkit-column-gap: 0px;}



.book_info_top_left, .book_info_top_right { height:55px; position:relative; display:block; text-align:center; line-height:60px;/* background:#FFFF00;*/overflow:hidden;}
.book_info_bottom_left, .book_info_bottom_right { height:40px; position:relative; display:block; text-align:center; line-height:40px; /*background:#FFFF00;*/overflow:hidden;}
.book_info_bottom_left span, .book_info_bottom_right span{ font-size:0.8em}
.book_2page_content .book_info_top_left { width:370px; padding-left:40px; padding-right:50px; float:left; font-size:12px;/* border:1px solid #FF0000;*/}
.book_2page_content .book_info_top_right, .book_2page_first .book_info_top_right { width:370px; padding-left:50px; padding-right:40px; float:left; font-size:12px;/* border:1px solid #FF0000;*/}
.book_2page_content .book_info_bottom_left { width:370px; padding-left:40px; padding-right:50px; float:left; font-size:12px;/* border:1px solid #FF0000;*/ }
.book_2page_content .book_info_bottom_right { width:370px; padding-left:50px; padding-right:40px; float:left; font-size:12px; /*border:1px solid #FF0000;*/}
.book_1page_content .book_info_top_right { clear:both;  font-size:15px;/* border:1px solid #FF0000;*/overflow:hidden;}
.book_1page_content .book_info_bottom_right {  clear:both;  font-size:15px; /*border:1px solid #FF0000;*/overflow:hidden;}

.page_top{ display:block; padding-left:29px; min-height:45px; background:left top no-repeat;}
.page_top_right{ display:block; padding-right:29px; min-height:45px; background:right top no-repeat;}
.page_top_bg{ display:block;  min-height:45px; background:top repeat-x;}
.page_content { display:block; padding-left:29px; background:left  repeat-y; min-height:588px; margin-top:-1px;}
.page_content_right{ display:block; padding-right:29px; background: right repeat-y; min-height:588px;}
.page_content_bg {display:block; background:repeat;position:relative; min-height:588px;}
.page_bottom{ display:block; padding-left:29px; min-height:40px; background:left top no-repeat; margin-top:-1px;}
.page_bottom_right{ display:block; padding-right:29px; min-height:40px; background:right top no-repeat;}
.page_bottom_bg{ display:block;  min-height:40px; background:top repeat-x;}

.page_pattern {position:absolute;display:block; margin-top:-33px;/*44-9*/ margin-bottom:-28px; /*39-11*/ text-align:center}
  
#book_page_style { display:block;}
.book_2page_left_style, .book_2page_right_style{ display:block; float:left; width:50%}
.book_1page_style, .book_2page_cover_style, .book_1page_cover_style { display:block;}


.book_2page_left_style .page_pattern {  background: no-repeat left bottom; margin-left:-11px/*29-18 */; margin-right:-29px;  height:652px; width:494px;}
.book_2page_right_style .page_pattern { background: no-repeat right bottom; margin-left:-29px; margin-right:-11px/*29-18 */; height:652px; width:494px; }
.book_1page_style .page_pattern { background: no-repeat right bottom; margin-left:-40px; margin-right:-11px;height:901px; width:750px; }
.book_1page_style .page_content, .book_1page_style .page_content_right, .book_1page_style .page_content_bg{ min-height:840px;}
.book_2page_cover_style .page_pattern{ background: no-repeat center;  margin-left:-31px; margin-right:-22px; height:648px; width:442px; background-size:contain;} /*width -16, height -23*/
.book_1page_cover_style .page_pattern{ background: no-repeat center;  margin-left:-31px; margin-right:-22px; height:900px; width:611px;background-size:contain;} /*width -16, height -23*/
.book_1page_cover_style .page_content, .book_1page_cover_style .page_content_right, .book_1page_cover_style .page_content_bg{ min-height:840px;}


.book_first_slip_style .page_top{ background-image: url(../../../images/2009a/ebook_reader/page/first_slip/2page_top_left.png)}
.book_first_slip_style .page_top_right{  background-image: url(../../../images/2009a/ebook_reader/page/first_slip/2page_top_right.png)}
.book_first_slip_style .page_top_bg{  background-image: url(../../../images/2009a/ebook_reader/page/first_slip/page_top_bg.png)}
.book_first_slip_style .page_content {background-image: url(../../../images/2009a/ebook_reader/page/first_slip/2page_left.png);}
.book_first_slip_style .page_content_right{ background-image: url(../../../images/2009a/ebook_reader/page/first_slip/2page_right.png);}
.book_first_slip_style .page_content_bg {background-image: url(../../../images/2009a/ebook_reader/page/first_slip/page_bg.png);}
.book_first_slip_style .page_bottom{  background-image: url(../../../images/2009a/ebook_reader/page/first_slip/2page_btm_left.png)}
.book_first_slip_style .page_bottom_right{ background-image: url(../../../images/2009a/ebook_reader/page/first_slip/2page_btm_right.png)}
.book_first_slip_style .page_bottom_bg{ background-image: url(../../../images/2009a/ebook_reader/page/first_slip/page_btm_bg.png)}


.book_cover_page_style .page_top{ background-image: url(../../../images/2009a/ebook_reader/page/cover/page_top_left.png); padding-left:39px;}
.book_cover_page_style .page_top_right{  background-image: url(../../../images/2009a/ebook_reader/page/cover/page_top_right.png)}
.book_cover_page_style .page_top_bg{  background-image: url(../../../images/2009a/ebook_reader/page/cover/page_top_bg.png)}
.book_cover_page_style .page_content {background-image: url(../../../images/2009a/ebook_reader/page/cover/page_left.png);padding-left:39px;}
.book_cover_page_style .page_content_right{ background-image: url(../../../images/2009a/ebook_reader/page/cover/page_right.png);}
.book_cover_page_style .page_content_bg {background-image: url(../../../images/2009a/ebook_reader/page/cover/page_bg.png);}
.book_cover_page_style .page_bottom{  background-image: url(../../../images/2009a/ebook_reader/page/cover/page_btm_left.png); padding-left:39px;}
.book_cover_page_style .page_bottom_right{ background-image: url(../../../images/2009a/ebook_reader/page/cover/page_btm_right.png)}
.book_cover_page_style .page_bottom_bg{ background-image: url(../../../images/2009a/ebook_reader/page/cover/page_btm_bg.png)}


.page_left_white_style .page_top{ background-image: url(../../../images/2009a/ebook_reader/page/white/2page_top_left.png)}
.page_left_white_style .page_top_right{  background-image: url(../../../images/2009a/ebook_reader/page/white/2page_top_right.png)}
.page_left_white_style .page_top_bg{  background-image: url(../../../images/2009a/ebook_reader/page/white/page_top_bg.png)}
.page_left_white_style .page_content {background-image: url(../../../images/2009a/ebook_reader/page/white/2page_left.png);}
.page_left_white_style .page_content_right{ background-image: url(../../../images/2009a/ebook_reader/page/white/2page_right.png);}
.page_left_white_style .page_content_bg {background-image: url(../../../images/2009a/ebook_reader/page/white/page_bg.png);}
.page_left_white_style .page_bottom{  background-image: url(../../../images/2009a/ebook_reader/page/white/2page_btm_left.png)}
.page_left_white_style .page_bottom_right{ background-image: url(../../../images/2009a/ebook_reader/page/white/2page_btm_right.png)}
.page_left_white_style .page_bottom_bg{ background-image: url(../../../images/2009a/ebook_reader/page/white/page_btm_bg.png)}


.page_right_white_style .page_top{ background-image: url(../../../images/2009a/ebook_reader/page/white/page_top_left.png); background-position: -10px top}
.page_right_white_style .page_top_right{  background-image: url(../../../images/2009a/ebook_reader/page/white/page_top_right.png)}
.page_right_white_style .page_top_bg{  background-image: url(../../../images/2009a/ebook_reader/page/white/page_top_bg.png)}
.page_right_white_style .page_content {background-image: url(../../../images/2009a/ebook_reader/page/white/page_left.png);  background-position: -10px}
.page_right_white_style .page_content_right{ background-image: url(../../../images/2009a/ebook_reader/page/white/page_right.png);}
.page_right_white_style .page_content_bg {background-image: url(../../../images/2009a/ebook_reader/page/white/page_bg.png);}
.page_right_white_style .page_bottom{  background-image: url(../../../images/2009a/ebook_reader/page/white/page_btm_left.png); background-position: -10px top}
.page_right_white_style .page_bottom_right{ background-image: url(../../../images/2009a/ebook_reader/page/white/page_btm_right.png)}
.page_right_white_style .page_bottom_bg{ background-image: url(../../../images/2009a/ebook_reader/page/white/page_btm_bg.png)}

.page_left_yellow_style .page_top{ background-image: url(../../../images/2009a/ebook_reader/page/yellow/2page_top_left.png)}
.page_left_yellow_style .page_top_right{  background-image: url(../../../images/2009a/ebook_reader/page/yellow/2page_top_right.png)}
.page_left_yellow_style .page_top_bg{  background-image: url(../../../images/2009a/ebook_reader/page/yellow/page_top_bg.png)}
.page_left_yellow_style .page_content {background-image: url(../../../images/2009a/ebook_reader/page/yellow/2page_left.png); }
.page_left_yellow_style .page_content_right{ background-image: url(../../../images/2009a/ebook_reader/page/yellow/2page_right.png);}
.page_left_yellow_style .page_content_bg {background-image: url(../../../images/2009a/ebook_reader/page/yellow/page_bg.png); }
.page_left_yellow_style .page_bottom{  background-image: url(../../../images/2009a/ebook_reader/page/yellow/2page_btm_left.png)}
.page_left_yellow_style .page_bottom_right{ background-image: url(../../../images/2009a/ebook_reader/page/yellow/2page_btm_right.png)}
.page_left_yellow_style .page_bottom_bg{ background-image: url(../../../images/2009a/ebook_reader/page/yellow/page_btm_bg.png)}


.page_right_yellow_style .page_top{ background-image: url(../../../images/2009a/ebook_reader/page/yellow/page_top_left.png); background-position: -10px top}
.page_right_yellow_style .page_top_right{  background-image: url(../../../images/2009a/ebook_reader/page/yellow/page_top_right.png)}
.page_right_yellow_style .page_top_bg{  background-image: url(../../../images/2009a/ebook_reader/page/yellow/page_top_bg.png)}
.page_right_yellow_style .page_content {background-image: url(../../../images/2009a/ebook_reader/page/yellow/page_left.png); background-position: -10px}
.page_right_yellow_style .page_content_right{ background-image: url(../../../images/2009a/ebook_reader/page/yellow/page_right.png);}
.page_right_yellow_style .page_content_bg {background-image: url(../../../images/2009a/ebook_reader/page/yellow/page_bg.png);}
.page_right_yellow_style .page_bottom{  background-image: url(../../../images/2009a/ebook_reader/page/yellow/page_btm_left.png); background-position: -10px top}
.page_right_yellow_style .page_bottom_right{ background-image: url(../../../images/2009a/ebook_reader/page/yellow/page_btm_right.png)}
.page_right_yellow_style .page_bottom_bg{ background-image: url(../../../images/2009a/ebook_reader/page/yellow/page_btm_bg.png)}

/* old style */
/*
.book_1page_style .page_top{ padding-left:40px;background-position:left;}
.book_1page_style .page_content{ padding-left:40px;background-position:left}
.book_1page_style .page_bottom{ padding-left:40px;background-position:left}
*/
/* added 2012-05-09 */
/*
.book_2page_right_style .page_top, .book_2page_right_style .page_bottom{ background-position: -22px top; padding-left:29px;}
.book_2page_right_style .page_content { background-position: -22px; padding-left:29px;}
.book_1page_style .page_top, .book_1page_style .page_bottom{ background-position: left top; padding-left:51px;}
.book_1page_style .page_content { background-position: left; padding-left:52px;}
*/

.hightlight_01 { background: url(../../../images/2009a/ebook_reader/highlight/hightlight_01.png) repeat-x bottom}
.hightlight_02 { background: url(../../../images/2009a/ebook_reader/highlight/hightlight_02.png) repeat-x bottom}
.hightlight_03 { background: url(../../../images/2009a/ebook_reader/highlight/hightlight_03.png) repeat-x bottom}
.hightlight_04 { background: url(../../../images/2009a/ebook_reader/highlight/hightlight_04.png) repeat-x bottom}
.hightlight_05 { background: url(../../../images/2009a/ebook_reader/highlight/hightlight_05.png) repeat-x bottom}
.hightlight_06 { background: url(../../../images/2009a/ebook_reader/highlight/hightlight_06.png) repeat-x bottom}
.hightlight_07 { background: url(../../../images/2009a/ebook_reader/highlight/hightlight_07.png) repeat-x bottom}

.hightlight_01:hover, .hightlight_01:active { cursor:pointer; }
.hightlight_02:hover, .hightlight_02:active { cursor:pointer; }
.hightlight_03:hover, .hightlight_03:active { cursor:pointer; }
.hightlight_04:hover, .hightlight_04:active { cursor:pointer; }
.hightlight_05:hover, .hightlight_05:active { cursor:pointer; }
.hightlight_06:hover, .hightlight_06:active { cursor:pointer; }
.hightlight_07:hover, .hightlight_07:active { cursor:pointer; }

/***********/
/*.book_2page_first .book_info_detail_page, .book_2page_first .book_toc_list_page { display:block; float:left; width:50%; }/*20130619*/
/*.book_1page_first .book_info_detail_page, .book_1page_first .book_toc_list_page { display:block;  }*/ 

.book_2page_first .book_info_detail_page, .book_2page_first .book_toc_list_page { display:block; float:left; width:50%; }/*20130619*/
.book_1page_first .book_info_detail_page, .book_1page_first .book_toc_list_page { display:block; height:900px; }/*20130619*/
.book_1page_first .book_toc_list_page, .book_1page_hor_first .book_toc_list_page  { padding:0 25px;}/*20130619*/
.book_1page_hor_first .book_info_detail_page, .book_1page_hor_first .book_toc_list_page { display:block; height:650px; }/*20130619*/

/*20130528 start*/
.book_1page_first .book_toc_list_page, .book_1page_hor_first .book_toc_list_page  { padding:0 25px;}
.book_1page_hor_first .book_info_detail_page, .book_1page_hor_first .book_toc_list_page { display:block; height:650px; }

.book_info_detail_story { background:url(../../../images/2009a/ebook_reader/page/info_bg.png) no-repeat; background-color: white; display:block; margin:0 auto; width:925px; height:600px; margin-top:35px; margin-left: 50px; font-family: 'Ruluko', sans-serif,'Pompiere','Paprika','Salsa', cursive, vendra; font-size: 18px/*20px 14px 16px*/; }
.book_info_detail_story h1 { margin:0 20px; font-size:2.1em; color:#02345e; text-align:center; display:block; background:url(../../../images/2009a/ebook_reader/title_bg.png) no-repeat center bottom; padding:40px 30px 25px 30px; min-height:20px ;font-weight:bold;}
.book_cat, .book_level, .book_author { display:block; text-align:center;  font-size:1.1em;  padding:0 30px;}/*20130619*/
.book_author {font-size:1.3em; padding-bottom:10px; font-weight:bold} /*20130619*/
.book_level {color:#527c00}
.book_info_pic { text-align:center; display:block; height:225px; position:relative;} /*20131111*/
.book_info_pic img { height:225px;}
.book_publish_detail { display:block; padding:0 70px; font-size:1em;}
.book_publish_detail ul { margin:0; padding:0; display:block}
.book_publish_detail ul li { list-style-type: none; display:block; clear:both; padding-left:110px;}
.book_publish_detail ul li span { display:block; margin-left:-110px; width:140px; float:left;}
.book_publish_detail ul li em { display:block; margin-left:-10px; float:left; width:10px; font-style:normal;}/*20130619*/
.book_copyright { display:block; padding:20px 70px; font-size:1em;}
.book_copyright span { display:block; padding-top:10px; font-size:0.9em;}
.book_ver .book_info_detail_story { width: 594px; height: 832px; background-image:url(../../../images/2009a/ebook_reader/page/info_bg_vert.png)}
.book_2page_first  .book_info_detail_story { width: 400px; background-image:url(../../../images/2009a/ebook_reader/page/info_bg_vert.png); font-size:13px; background-size: 100% 100%}
.book_2page_first  .book_info_detail_story h1 { background-size:300px; font-size:1.8em; padding-bottom:15px} /*20130619*/
.book_2page_first  .book_info_detail_story  .book_info_pic, .book_2page_first  .book_info_detail_story  .book_info_pic img { height:150px; }
.book_2page_first  .book_info_detail_story  .book_info_pic { padding-bottom:10px;}
.book_2page_first  .book_copyright { padding:20px 30px; padding-bottom:0;}
.book_2page_first .book_publish_detail ul li {  padding-left:95px;}/*20130619*/
.book_2page_first .book_publish_detail ul li span { margin-left:-95px; width:85px; }/*20130619*/
.book_2page_first .book_info_detail_story h1 { padding-top:20px;}
/*20130528 end*/

/*20130619 start */
.book_2page_first .book_publish_detail { padding:10px 30px; padding-bottom:0;}
.book_info_worksheet { position:relative} 
.book_info_worksheet .book_publish_detail {padding-right:160px;}
.book_info_worksheet .book_copyright {padding-right:160px;}
.download_worksheet { display:block; position:absolute; right:-10px; bottom:62px;width: 150px; height: 130px; background:url(../../../images/2009a/ebook_reader/dl_worksheet_bg.png) no-repeat}
.download_worksheet a { display:block; background:url(../../../images/2009a/ebook_reader/btn_worksheet.png) no-repeat left top; width: 150px; height: 130px; position:relative}
.download_worksheet a em { position:absolute;display:block; background:url(../../../images/2009a/ebook_reader/btn_download_arrow.png) no-repeat; width: 54px; height: 68px; left:0; top:30px; }
.download_worksheet a:hover{ background-position:left -2px;}
.download_worksheet a em {	
	animation:download_worksheet_move 1s ease-in-out infinite alternate;
	-moz-animation:download_worksheet_move 1s ease-in-out infinite alternate;
	-webkit-animation:download_worksheet_move 1s ease-in-out infinite alternate;
}

@keyframes download_worksheet_move{
from {top:30px} to {top:50px;}}

@-moz-keyframes download_worksheet_move{
from {top:30px} to {top:50px;}}

@-webkit-keyframes download_worksheet_move {
from {top:30px} to {top:50px;}}

/*20130808 start*/
.download_worksheet_2btn { height:95px; padding-top:40px;  background-image:url(../../../images/2009a/ebook_reader/dl_worksheet_bg_2btn.png)}
.download_worksheet a.btn_download_worksheet_normal{ width:135px; height:35px; margin-left:10px;  background:url(../../../images/2009a/ebook_reader/btn_worksheet_normal.png) no-repeat left top}
.download_worksheet a.btn_download_worksheet_normal:hover, .download_worksheet a.btn_download_worksheet_normal:active {background-position:bottom}
.download_worksheet a.btn_download_worksheet_answer{ width:135px; height:45px; margin-left:10px; background:url(../../../images/2009a/ebook_reader/btn_worksheet_answer.png) no-repeat left top;}
.download_worksheet a.btn_download_worksheet_answer:hover, .download_worksheet a.btn_download_worksheet_answer:active {background-position:bottom}
/*20130808 end*/
/*20130809 start*/
.book_info_learnthenews { background-image:url(../../../images/2009a/ebook_reader/page/info_bg_learnthenews.png)}
.book_info_learnthenews h1 { background:none; font-family:"Times New Roman", Times, serif; color:#c00000; padding-top:120px; text-align:right; padding-right:100px;}
.book_info_learnthenews .book_info_pic { height:150px;}
.book_info_learnthenews .book_info_pic img{display:none;}

/*20130819 start*/
.book_info_learnthenews .book_cat { display:none; }
/*20130819 end*/

.download_pdf { background:url(../../../images/2009a/ebook_reader/dl_pdf_bg.png) no-repeat left top; width:209px; height:176px; display:block; position:absolute; right:-15px; bottom:250px;}
.download_pdf a{ background:url(../../../images/2009a/ebook_reader/btn_pdf.png) no-repeat left top; width:90px; height: 95px; position:relative; display:block; margin:0 auto; margin-top:40px;}
.download_pdf a em { display:block; position:absolute; background: url(../../../images/2009a/ebook_reader/btn_download_arrow_s.png) no-repeat left top; width:35px; height: 45px; left:0; top:20px;}
.download_pdf a:hover { background-position:left 2px}
.download_pdf a em {	
	animation:download_pdf_move 1s ease-in-out infinite alternate;
	-moz-animation:download_pdf_move 1s ease-in-out infinite alternate;
	-webkit-animation:download_pdf_move 1s ease-in-out infinite alternate;
}
.download_pdf_small { width:90px; height:950px; background:none; bottom:auto ; top:20px;  right:250px;}/*20131111*/
.download_pdf_small a { margin-top:0;}/*20131111*/
.download_pdf_small a em{ animation:none;-moz-animation:none;-webkit-animation:none; }/*20131111*/

@keyframes download_pdf_move{
from {top:20px} to {top:30px;}}

@-moz-keyframes download_pdf_move{
from {top:20px} to {top:30px;}}

@-webkit-keyframes download_pdf_move {
from {top:20px} to {top:30px;}}
/*20130809 end*/

.book_2page_first .book_info_worksheet .book_copyright { padding-right:110px;}
.book_2page_first  .book_info_worksheet .book_publish_detail{ padding-right:30px;}
.book_2page_first .download_worksheet { right:-25px; bottom:34px;}
.book_2page_first .download_worksheet{ transform: scale(0.8,0.8);-ms-transform: scale(0.8,0.8));-moz-transform:scale(0.8,0.8));-webkit-transform: scale(0.8,0.8);}
.book_2page_first  .download_pdf_small {top:0; bottom:auto; right:50px;} /*20131111*/
.book_2page_first  .download_pdf_small a {transform: scale(0.8,0.8);-ms-transform: scale(0.8,0.8));-moz-transform:scale(0.8,0.8));-webkit-transform: scale(0.8,0.8);}/*20131111*/
/*201306189 end*/

.book_info_detail { display:block; float:left; background:url(../../../images/2009a/ebook_reader/page/first_slip/book_detail_bg.png) repeat-y right; padding-right:8px; width:80%; padding-left:18px; margin-top:10px; margin-bottom:8px;}
.book_2page_first .book_content_container { width:1024px; font-size:13px;   }
.book_1page_first .book_content_container {width:768px; font-size:18px}
.book_2page_first .book_info_detail, .book_2page_first #book_info_slip{  height:650px;} 
.book_1page_first .book_info_detail, .book_1page_first #book_info_slip{  height:900px;}
#book_info_slip{ background:#FFFFFF no-repeat left bottom; display:block;  padding-right:20px;}

#book_info_slip.slip_lv_4 {background-color:#ffd5ad}
#book_info_slip ul{ display:block; margin:0; padding:0; padding-top:45px; padding-left:20px;}
#book_info_slip ul li {list-style-type:none; display:block; padding-left:110px; clear:both; min-height:30px;}
/*
#book_info_slip ul li em{ display:block; float:left; width:100px; margin-left:-110px; font-size:0.7em; font-style:normal; padding-bottom:10px;}
#book_info_slip ul li span { display:block; float:left; width:100%; font-size:0.9em; padding-bottom:10px;}
*/
#book_info_slip ul li em{ display:block; float:left; width:100px; margin-left:-110px; font-size:1em; font-style:normal; padding-bottom:10px;}
#book_info_slip ul li span { display:block; float:left; width:100%; font-size:1.1em; padding-bottom:10px;}

.book_toc_list_page_detail{ display:block; padding:40px; padding-top:50px;}
/*
.book_toc_list_page_detail h1 { display:block; background:#e5e5e5; font-size:0.9em; text-align:center; padding:5px; margin:10px 0 10px 0;}
*/
.book_toc_list_page_detail h1 { display:block; background:#e5e5e5; font-size:1.1em; text-align:center; padding:5px; margin:10px 0 10px 0;}

.book_toc_list_page_detail ul { display:block; margin:0; padding:0; padding-top:10px; padding-left:20px; padding-right:20px;overflow:auto; /*border:1px solid #FF0000 */}
.book_2page_first .book_toc_list_page_detail ul{height:500px;}
.book_1page_first .book_toc_list_page_detail ul{height:800px;}
.book_toc_list_page_detail ul li{list-style-type:none; display:block;  clear:both; min-height:30px; padding-bottom:20px;}

/*
.book_toc_list_page_detail ul li a{ padding-right:50px; display:block; background:url(../../../images/2009a/ebook_reader/toc_line.gif) center repeat-x; min-height:30px; color:#003399; font-size:0.9em;}
*/
.book_toc_list_page_detail ul li a{ padding-right:50px; display:block; background:url(../../../images/2009a/ebook_reader/toc_line.gif) center repeat-x; min-height:30px; color:#003399; font-size:1.1em;}
.book_toc_list_page_detail ul li a:hover,  .book_toc_list_page_detail ul li a:active { color:#FF0000}
.book_toc_list_page_detail ul li a span { float:left; width:100%; display:block}
.book_toc_list_page_detail ul li a em {font-style:normal; background:url(../../../images/2009a/ebook_reader/page/white/page_bg.png); float:right; width:50px; display:block; margin-right:-50px; text-align:center; font-weight:bold}
.book_toc_list_page_detail ul li a span u{ text-decoration:none; background:url(../../../images/2009a/ebook_reader/page/white/page_bg.png); padding-right:5px;  }

/******************/
.book_2page_structure .tool_big_board, .book_2page_cover_structure .tool_big_board, .book_2page_structure .tool_board, .book_2page_cover_structure .tool_board{ font-size:13px;}
.book_1page_structure .tool_big_board, .book_1page_cover_structure .tool_big_board, .book_1page_structure .tool_board, .book_1page_cover_structure .tool_board  { font-size:16px; }
.tool_board_btn { line-height:1em; font-size:0.9em; font-style:italic; padding:5px 0 20px 0 ; display:block; text-align:right; }
textarea.inputbox, input.inputbox{border:1px solid #CCCCCC;border-radius:25px;-moz-border-radius:25px; /* Firefox 3.6 and earlier */padding:5px 10px 5px 10px; line-height:1.5em; font-size:1em;}

.tool_board { display:block; position:absolute; z-index:99}
.tool_board_top { display:block; background-repeat: no-repeat; background-position:left top; padding-left:18px;}
.tool_board_top_right{ display:block; background-repeat: no-repeat; background-position:right top; padding-right:18px;}
.tool_board_top_bg { display:block; }
.tool_board_content{ display:block; background: url(../../../images/2009a/ebook_reader/tool/tool_board_left.png) left repeat-y; padding-left:12px;}
.tool_board_content_right{ display:block; background:  url(../../../images/2009a/ebook_reader/tool/tool_board_right.png) right repeat-y; padding-right:12px;}
.tool_board_content_bg { display:block;  background: repeat url(../../../images/2009a/ebook_reader/tool/tool_board_bg.png); min-height:20px;}
.tool_board_bottom{ display:block; background-repeat: no-repeat; background-position:left top; padding-left:18px;}
.tool_board_bottom_right{ display:block; background-repeat: no-repeat; background-position:right top; padding-right:18px;}
.tool_board_bottom_bg{ display:block; }

.tool_big_board { display:block; position:absolute; z-index:99}
.tool_big_board_top { display:block; background:url(../../../images/2009a/ebook_reader/tool/tool_big_board_top_left.png) left top no-repeat; padding-left:18px; min-height:28px;}
.tool_big_board_top_right{ display:block; background:url(../../../images/2009a/ebook_reader/tool/tool_big_board_top_right.png) right top no-repeat; padding-right:18px; min-height:28px;}
.tool_big_board_top_bg { display:block;  min-height:28px; background-image:url(../../../images/2009a/ebook_reader/tool/tool_big_board_top_bg.png); background-repeat:no-repeat; }
.tool_big_board_content{ display:block; background: url(../../../images/2009a/ebook_reader/tool/tool_big_board_left.png) left repeat-y; padding-left:9px;}
.tool_big_board_content_right{ display:block; background:  url(../../../images/2009a/ebook_reader/tool/tool_big_board_right.png) right repeat-y; padding-right:9px;}
.tool_big_board_content_bg { display:block;  background: repeat url(../../../images/2009a/ebook_reader/tool/tool_big_board_bg.png); min-height:100px;}
.tool_big_board_bottom{ display:block; background:url(../../../images/2009a/ebook_reader/tool/tool_big_board_bottom_left.png) left bottom no-repeat; padding-left:18px; min-height:28px;}
.tool_big_board_bottom_right{ display:block; background:url(../../../images/2009a/ebook_reader/tool/tool_big_board_bottom_right.png) right bottom no-repeat; padding-right:18px; min-height:28px;}
.tool_big_board_bottom_bg{ display:block;  min-height:28px; background-image:url(../../../images/2009a/ebook_reader/tool/tool_big_board_bottom_bg.png);  background-repeat:no-repeat}




#tool_book_board { width:70px;}
#tool_book_board .tool_board_top{ height:28px; background-image:url(../../../images/2009a/ebook_reader/tool/tool_board_top_left.png)}
#tool_book_board .tool_board_top_right{ height:28px; background-image:url(../../../images/2009a/ebook_reader/tool/tool_board_top_right.png)}
#tool_book_board .tool_board_top_bg{ height:28px; background:url(../../../images/2009a/ebook_reader/tool/tool_board_top_bg.png) center no-repeat}
#tool_book_board .tool_board_content_bg { padding:0 5px 0 5px}
#tool_book_board .tool_board_bottom{ height:18px; background-image:url(../../../images/2009a/ebook_reader/tool/tool_board_bottom_left.png)}
#tool_book_board .tool_board_bottom_right{ height:18px; background-image:url(../../../images/2009a/ebook_reader/tool/tool_board_bottom_right.png)}
#tool_book_board .tool_board_bottom_bg{ height:18px; background:url(../../../images/2009a/ebook_reader/tool/tool_board_bottom_bg.png) top repeat-x}
#tool_book_board a{ display:block; float:left; margin-bottom:10px; clear:both;}
#tool_book_board span.sep{ display:block; border-top:1px solid #A5A5A5; margin-top:10px; height:10px ; clear:both; margin-left:5px; margin-right:5px; }

#tool_setting_board { width:80px;}
#tool_setting_board .tool_board_top{ height:28px; background-image:url(../../../images/2009a/ebook_reader/tool/tool_board_top_left.png)}
#tool_setting_board .tool_board_top_right{ height:28px; background-image:url(../../../images/2009a/ebook_reader/tool/tool_board_top_right.png)}
#tool_setting_board .tool_board_top_bg{ height:28px; background:url(../../../images/2009a/ebook_reader/tool/tool_board_top_bg.png) center no-repeat}
#tool_setting_board .tool_board_content_bg { padding:0px}
#tool_setting_board .tool_board_bottom{ height:18px; background-image:url(../../../images/2009a/ebook_reader/tool/tool_board_bottom_left.png)}
#tool_setting_board .tool_board_bottom_right{ height:18px; background-image:url(../../../images/2009a/ebook_reader/tool/tool_board_bottom_right.png)}
#tool_setting_board .tool_board_bottom_bg{ height:18px; background:url(../../../images/2009a/ebook_reader/tool/tool_board_bottom_bg.png) top repeat-x}


#tool_setting_board ul { display:block; margin:0; padding:0; width:55px;}
#tool_setting_board ul li{ display:block; margin:0; padding:0; padding-bottom:10px;}
#tool_setting_board ul li a{ display:block; float:left;  clear:both; height:55px; width:55px; background:url(../../../images/2009a/ebook_reader/tool/btn_setting_skin.png) no-repeat;}
#tool_setting_board ul li a span{ display:block; height:55px; width:55px; background:url(../../../images/2009a/ebook_reader/tool/btn_setting_skin.png) no-repeat left top;}
#tool_setting_board ul li a.skin_white { background-position: left -55px;}
#tool_setting_board ul li a.skin_yellow { background-position: right -55px;}
#tool_setting_board ul li a.pagemode_one { background-position: right -110px;}
#tool_setting_board ul li a.pagemode_two { background-position: left -110px;}
/* #tool_setting_board ul li.current_skin span{ background-position:right top} */
#tool_setting_board ul li.current_skin span, #tool_setting_board ul li.current_mode span{ background-position:right top}

#tool_page_num { width:75px;}
#tool_page_num .tool_board_top{ height:18px; background-image:url(../../../images/2009a/ebook_reader/tool/tool_board_2top_left.png)}
#tool_page_num .tool_board_top_right{ height:18px; background-image:url(../../../images/2009a/ebook_reader/tool/tool_board_2top_right.png)}
#tool_page_num .tool_board_top_bg{ height:18px; background:url(../../../images/2009a/ebook_reader/tool/tool_board_2top_bg.png) top repeat-x}
#tool_page_num .tool_board_content_bg span{ display:block; padding:0px; text-align:center; font-size:10px; color:#666666; }
#tool_page_num .tool_board_content_bg strong{ padding:0px; text-align:center;font-size:1.7em; font-weight:bold; }
#tool_page_num .tool_board_bottom{ height:28px; background-image:url(../../../images/2009a/ebook_reader/tool/tool_board_2bottom_left.png)}
#tool_page_num .tool_board_bottom_right{ height:28px; background-image:url(../../../images/2009a/ebook_reader/tool/tool_board_2bottom_right.png)}
#tool_page_num .tool_board_bottom_bg{ height:28px; background:url(../../../images/2009a/ebook_reader/tool/tool_board_2bottom_bg.png) center no-repeat}

#tool_page_search { width:400px}
#tool_page_search .tool_big_board_top_bg { background-position:right top}
#tool_page_search .tool_big_board_bottom_bg { background-position:right bottom}
#tool_page_search .search_form{ display:block; padding-top:15px;}
.search_form input.inputbox{ width:260px; }

.search_result{ display:block; padding:10px; height:400px; overflow:hidden; overflow-y: auto;}
span.search_result_num { display:block; padding-bottom:10px; font-style:italic; font-size:0.9em;}
.search_result ul { display:block; margin:0; padding:0; }
.search_result ul li{ list-style-type:none; display:block; margin:0; padding:0; padding-bottom:10px; border-bottom:1px solid #CCCCCC; margin-bottom:10px;  clear:both;}
.search_result ul li a{ display:block; clear:both; color:#000000}
.search_result ul li a h1{ display:block; margin:0; padding:0; padding-right:65px; clear:both; font-size:1em; padding-bottom:10px;}
.search_result ul li a h1 span.page_num { display:block; margin-right:-65px; float:right; width:60px; text-align:center; font-weight:normal; font-size:0.9em;}
.search_result ul li a h1 span.search_result_chapter { display:block;  float:left; width:100%; font-size:1.1em;}
.search_result ul li a span.search_result_content{ display:block; clear:both;}
.search_result ul li a:hover, .search_result ul li a:active {color:#FF0000;}

#tool_book_progress { width:400px}
#tool_book_progress .tool_big_board_top_bg { background-position:left top}
#tool_book_progress .tool_big_board_bottom_bg { background-position:left bottom}
.progress_form{ display:block; padding:10px; }
.progress_form p{ margin:0; padding:0; display:block; clear:both; padding-bottom:10px; line-height:1.2em; padding-left:25px;}
.progress_form p span{ float:left; margin-left:-25px; width:25px;}
h1.tool_board_title { margin:0; padding:0; line-height:1em; font-size:0.9em; font-style:italic; padding:25px 0 10px 0; display:block; }



#tool_book_recommend { width:400px}
#tool_book_recommend .tool_big_board_top_bg { background-position:left top}
#tool_book_recommend .tool_big_board_bottom_bg { background-position:left bottom}
.recommend_form{ display:block; padding:10px; }
.recommend_form input.inputbox{ width:260px; }

/* 2012-10-11 CharlesMa */
/* .recommend_form textarea.inputbox{ display:block; margin-top:10px;  width:340px; height:100px; } */
.recommend_form textarea.inputbox{ display:block; margin-top:10px;  width:340px; height:100px; resize: none; }

#tool_book_review { width:550px; z-index:110; }
#tool_book_review .tool_big_board_top_bg { background-position:left top}
#tool_book_review .tool_big_board_bottom_bg { background-position:left bottom}
#tool_book_review h1.tool_board_title { float:left;}
.review_form{ display:block; padding:10px; }
.review_form input.inputbox{ width:260px; }

/* 2012-10-11 CharlesMa */
/* .review_form textarea.inputbox{ display:block; margin-top:10px;  width:480px; height:100px; } */
.review_form textarea.inputbox{ display:block; margin-top:10px;  width:480px; height:100px; resize: none;}



#tool_book_review #tool_common { display:block; float:right; padding-top:15px;}
#tool_book_review #tool_common a{ float:right;}
.review_star { display:block;}
.review_star ul {display:block; margin:0; padding:0;}
.review_star ul li{ list-style-type:none; display:block; margin:0; padding:0; float:left; padding-left:10px;}
.review_star ul li a{ display:block;}
.review_star ul li span{ display:block; background-image: url(../../../images/2009a/ebook_reader/tool/icon_star.png); background-repeat:no-repeat}
.review_star ul.review_star_input li, .review_star ul.review_star_input li a, .review_star ul.review_star_input li span{ width:30px; height:30px;}
.review_star ul.review_star_input li a span { background-position: left -250px;}
.review_star ul.review_star_input li a:hover span, .review_star ul.review_star_input li a:active span, .review_star ul.review_star_input li.star_on a span { background-position: left -200px;}
.review_star ul.review_star_log li { padding-left:2px;}

.review_star ul.review_star_log li, .review_star ul.review_star_log li span{ width:20px; height:20px;}
.review_star ul.review_star_log li span { background-position: left -150px;}
.review_star ul.review_star_log li.star_on span { background-position: left -100px;}
.review_star ul.review_star_overall li, .review_star ul.review_star_overall li span{ width:50px; height:50px;}
.review_star ul.review_star_overall li  span { background-position: left -50px;}
.review_star ul.review_star_overall li.star_on span { background-position: left 0px;}

.review_log_overall { display:block; padding:10px; border-bottom:1px solid #CCCCCC; margin-bottom:10px; text-align:center; font-size:0.8em; line-height:1.5em; color:#999999}

.review_log_overall .review_star{ width:300px; margin:0 auto; padding-top:10px}

.review_log { display:block; clear:both; padding:10px 0 10px 0;}
.review_log_board_top{ display:block; padding-left:18px; height:15px; background:url(../../../images/2009a/ebook_reader/tool/review_log_top_left.png) no-repeat top left}
.review_log_board_top_right{ display:block; padding-right:18px; height:15px; background:url(../../../images/2009a/ebook_reader/tool/review_log_top_right.png) no-repeat top right}
.review_log_board_top_bg{ display:block;  height:15px; background:url(../../../images/2009a/ebook_reader/tool/review_log_top_bg.png) repeat-x top }
.review_log_board_content{ display:block; padding-left:18px; min-height:40px; background:url(../../../images/2009a/ebook_reader/tool/review_log_left.png) no-repeat top left}
.review_log_board_content_right{ display:block; padding-right:18px; min-height:40px; background:url(../../../images/2009a/ebook_reader/tool/review_log_right.png) no-repeat top right}
.review_log_board_content_bg{ display:block; min-height:40px; background:url(../../../images/2009a/ebook_reader/tool/review_log_bg.png) repeat-x top }
.review_log_board_bottom{ display:block; padding-left:18px; min-height:36px; background:url(../../../images/2009a/ebook_reader/tool/review_log_bottom_left.png) no-repeat top left}
.review_log_board_bottom_right{ display:block; padding-right:18px;  min-height:36px; background:url(../../../images/2009a/ebook_reader/tool/review_log_bottom_right.png) no-repeat top right}
.review_log_board_bottom_bg{ display:block;   min-height:36px; background:url(../../../images/2009a/ebook_reader/tool/review_log_bottom_bg.png) repeat-x top; padding-top:20px; font-size:0.9em; color:#666666;}
.review_log_board_bottom_bg a, .review_log_board_bottom_bg span{ color:#006699; padding-left:10px;padding-right:10px;}
.review_log_board_bottom_bg a:hover, .review_log_board_bottom_bg a:active { color:#FF0000}
.review_log_list { display:block; padding:10px; overflow:auto; height:500px;}
.review_log_content_info {display:block; padding-left:120px; padding-right:150px;}
.review_log_content_info .review_star { display:block; float:left; margin-left:-120px; width:115px;}
.review_writer { display:block; width:100%; float:left;color:#666666; font-size:0.9em;}
.review_time { display:block; float:right; margin-right:-150px; width:140px; color:#999999; font-size:0.8em; text-align:right}
.review_log_content_detail { display:block; padding-top:5px; clear:both;font-size:1em;} 

.tool_notes_paper { display:block; position:absolute; z-index:200}
.tool_notes_paper{ width:500px;}
.tool_notes_top { display:block; background:url(../../../images/2009a/ebook_reader/notes/notes_paper_top_left.png) left top no-repeat; min-height:35px; padding-left:163px}
.tool_notes_top_right { display:block; background:url(../../../images/2009a/ebook_reader/notes/notes_paper_top_right.png) right top no-repeat; min-height:35px; padding-right:147px}
.tool_notes_top_bg { display:block; background:url(../../../images/2009a/ebook_reader/notes/notes_paper_top_bg.png) top repeat-x; min-height:35px;}
.tool_notes_content { display:block; background:url(../../../images/2009a/ebook_reader/notes/notes_paper_left.png) left repeat-y; min-height:200px; padding-left:26px}
.tool_notes_content_right { display:block; background:url(../../../images/2009a/ebook_reader/notes/notes_paper_right.png) right repeat-y; min-height:200px; padding-right:30px}
.tool_notes_content_bg { display:block; background:url(../../../images/2009a/ebook_reader/notes/notes_paper_bg.png) repeat; min-height:200px;}
.tool_notes_bottom { display:block; background:url(../../../images/2009a/ebook_reader/notes/notes_paper_bottom_left.png) left bottom no-repeat; min-height:34px; padding-left:74px}
.tool_notes_bottom_right { display:block; background:url(../../../images/2009a/ebook_reader/notes/notes_paper_bottom_right.png) right bottom no-repeat; min-height:34px; padding-right:30px}
.tool_notes_bottom_bg { display:block; background:url(../../../images/2009a/ebook_reader/notes/notes_paper_bottom_bg.png) bottom repeat-x; min-height:34px; }
.tool_notes_top_bg h1{ display:block; padding:0; margin:0; margin-left:-150px; margin-right:-147px; font-size:1em; font-weight:normal}
.tool_notes_top_bg h1 .tool_left{ padding-top:20px; clear:none;}
.tool_notes_top_bg h1 .tool_right { margin-top:-10px;clear:none;}
span.notes_date { display:block; clear:both; font-style:italic; font-size:0.9em; text-align:right; color:#999999; float:right; padding-right:20px;clear:right;}
.notes_form{ display:block; padding:10px; }
.notesinput{ width:100%; border:0; background: transparent url(../../../images/2009a/ebook_reader/notes/notes_line.png); height:200px; line-height:30px; color:#88550e; font-size:1em;}



/* 2012-10-11 CharlesMa*/
/*#tool_highlight_board { display:block; position:absolute; z-index:3; width:480px;}*/
#tool_highlight_board { display:block; position:absolute; z-index:6; width:480px;}

.tool_hightlight_left { display:block; background:url(../../../images/2009a/ebook_reader/tool/highlight_tool_left.png) no-repeat left top; height:80px; padding-left:20px;}
.tool_hightlight_right { display:block; background:url(../../../images/2009a/ebook_reader/tool/highlight_tool_right.png) no-repeat right top; height:80px; padding-right:20px;}
.tool_hightlight_bg { display:block; background:url(../../../images/2009a/ebook_reader/tool/highlight_tool_bg.png) no-repeat center; height:80px; }
.tool_hightlight_list { display:block; margin-left:-10px; margin-right:-10px; padding-top:10px;}
.tool_hightlight_list  ul { display:block; margin:0; padding:0; float:left; padding-top:2px;}
.tool_hightlight_list  ul li { list-style-type:none; display:block; float:left; width:35px; padding-top:5px; height:35px;}
#tool_highlight_board ul.btn_hightlight li{padding:5px;}
#tool_highlight_board ul.btn_hightlight a{ background: url(../../../images/2009a/ebook_reader/tool/btn_highlight.png) no-repeat; margin-right:0px; }
#tool_highlight_board ul.btn_hightlight a.btn_hightlight_01 { background-position: left 0px;}
#tool_highlight_board ul.btn_hightlight a.btn_hightlight_02 { background-position: left -35px;}
#tool_highlight_board ul.btn_hightlight a.btn_hightlight_03 { background-position: left -70px;}
#tool_highlight_board ul.btn_hightlight a.btn_hightlight_04 { background-position: left -105px;}
#tool_highlight_board ul.btn_hightlight a.btn_hightlight_05 { background-position: left -140px;}
#tool_highlight_board ul.btn_hightlight a.btn_hightlight_06 { background-position: left -175px;}
#tool_highlight_board ul.btn_hightlight a.btn_hightlight_07 { background-position: left -210px;}
#tool_highlight_board ul.btn_hightlight li.selected_hightlight { background-image:url(../../../images/2009a/ebook_reader/tool/btn_highlight_selected.png);}
li.btn_hightlight_sep { padding:0; width:auto;}
li.btn_hightlight_sep span{ display:block; border-right:1px solid #A5A5A5; width:10px; padding:0;  margin-left:10px; height:20px ; margin-top:10px;  }


.tool_notes_book { display:block; position:absolute; z-index:200;}
.book_2page_structure .tool_notes_book{ width:500px;}
.book_1page_structure .tool_notes_book{ width:730px;}
.tool_notes_book_top { display:block; background:url(../../../images/2009a/ebook_reader/notes/notes_book_top_left.png) left top no-repeat; min-height:58px; padding-left:29px}
.tool_notes_book_top_right { display:block; background:url(../../../images/2009a/ebook_reader/notes/notes_book_top_right.png) right top no-repeat; min-height:58px; padding-right:34px}
.tool_notes_book_top_bg { display:block; background:url(../../../images/2009a/ebook_reader/notes/notes_book_top_bg.png) top repeat-x; min-height:58px;}
.tool_notes_book_content { display:block; background:url(../../../images/2009a/ebook_reader/notes/notes_book_left.png) left repeat-y; min-height:200px; padding-left:29px}
.tool_notes_book_content_right { display:block; background:url(../../../images/2009a/ebook_reader/notes/notes_book_right.png) right repeat-y; min-height:200px; padding-right:34px}
.tool_notes_book_content_bg { display:block; background:url(../../../images/2009a/ebook_reader/notes/notes_book_bg.png) repeat; min-height:200px;}
.tool_notes_book_bottom { display:block; background:url(../../../images/2009a/ebook_reader/notes/notes_book_bottom_left.png) left bottom no-repeat; min-height:28px; padding-left:29px}
.tool_notes_book_bottom_right { display:block; background:url(../../../images/2009a/ebook_reader/notes/notes_book_bottom_right.png) right bottom no-repeat; min-height:28px; padding-right:34px}
.tool_notes_book_bottom_bg { display:block; background:url(../../../images/2009a/ebook_reader/notes/notes_book_bottom_bg.png) bottom repeat-x; min-height:28px; }
.tool_notes_book_top_bg h1{ display:block; padding:0; margin:0; margin-right:-34px; font-size:1em; font-weight:normal}


span.notes_book_header{ display:block; clear:both; background:#efe8cf; float:left; height:30px; font-style:italic; font-weight:bold; font-size:0.9em; padding:3px 8px 3px 8px; margin-left:-19px; line-height:30px; clear:both}
.tool_notes_book .tool_left { margin-left:-15px; margin-top:-5px;}
.notes_log_list { display:block; margin-top:10px;padding:10px;  overflow:auto; clear:both}
.book_2page_structure .notes_log_list{ height:450px;}
.book_1page_structure .notes_log_list{ height:800px;}
.notes_log_top { display:block; background:url(../../../images/2009a/ebook_reader/notes/notes_log_top_left.png) left top no-repeat; height:20px; padding-left:237px}
.notes_log_top_right { display:block; background:url(../../../images/2009a/ebook_reader/notes/notes_log_top_right.png) right top no-repeat; height:20px; padding-right:94px}
.notes_log_top_bg { display:block; background:url(../../../images/2009a/ebook_reader/notes/notes_log_top_bg.png) top repeat-x; height:20px;}
.notes_log_content { display:block; min-height:30px; padding-left:12px}
.notes_log_content_right { display:block; min-height:30px; padding-right:13px}
.notes_log_content_bg { display:block;  min-height:30px;}
.notes_log_bottom { display:block; background: left bottom no-repeat; min-height:14px; padding-left:12px}
.notes_log_bottom_right { display:block; background: right bottom no-repeat; min-height:14px;  padding-right:13px}
.notes_log_bottom_bg { display:block; background: bottom repeat-x; min-height:14px; }

.notes_log_open { display:block;  clear:both; }
.notes_log_open .notes_log_content {  background:url(../../../images/2009a/ebook_reader/notes/notes_log_left.png) left repeat-y; }
.notes_log_open .notes_log_content_right { background:url(../../../images/2009a/ebook_reader/notes/notes_log_right.png) right repeat-y;}
.notes_log_open .notes_log_content_bg { background:url(../../../images/2009a/ebook_reader/notes/notes_log_bg.png) repeat;}
.notes_log_open .notes_log_bottom {  background:url(../../../images/2009a/ebook_reader/notes/notes_log_bottom_left.png) no-repeat left bottom; }
.notes_log_open .notes_log_bottom_right {  background-image:url(../../../images/2009a/ebook_reader/notes/notes_log_bottom_right.png);}
.notes_log_open .notes_log_bottom_bg { background-image:url(../../../images/2009a/ebook_reader/notes/notes_log_bottom_bg.png); }

.notes_log_close { display:block; clear:both; }
.notes_log_close .notes_log_content { background:url(../../../images/2009a/ebook_reader/notes/notes_log_2left.png) left top  no-repeat; }
.notes_log_close .notes_log_content_right { ; background:url(../../../images/2009a/ebook_reader/notes/notes_log_2right.png) right top no-repeat;}
.notes_log_close .notes_log_content_bg {  background:url(../../../images/2009a/ebook_reader/notes/notes_log_2bg.png) top repeat-x;}
.notes_log_close .notes_log_bottom {  background:none; }
.notes_log_close .notes_log_bottom_right {  background:none;}
.notes_log_close .notes_log_bottom_bg { background:none; }
.notes_log_close .notesinput { height:35px;}
.notes_log { display:block; clear:both; padding-bottom:30px;}
.notes_log h1 { display:block; margin:0; padding:0; padding-bottom:10px; font-size:1em; font-weight:normal; line-height:35px; clear:both;}
span.notes_page_num{ display:block; float:left; font-style:italic; color:#333333; padding-top:5px; font-size:0.9em;}
.notes_highlight { display:block; padding:10px; float:left; clear:both; font-family:"Lucida Sans Unicode", verdana}
.notes_highlight span { padding:0 10px 0 10px;}

.tool_bookmark_list { display:block; position:absolute; z-index:200}
.book_2page_structure .tool_bookmark_list{ width:500px;}
.book_1page_structure .tool_bookmark_list{ width:730px;}
.tool_bookmark_list_top { display:block; background:url(../../../images/2009a/ebook_reader/notes/bookmark_list_top_left.png) left top no-repeat; min-height:48px; padding-left:29px}
.tool_bookmark_list_top_right { display:block; background:url(../../../images/2009a/ebook_reader/notes/bookmark_list_top_right.png) right top no-repeat; min-height:48px; padding-right:34px}
.tool_bookmark_list_top_bg { display:block; background:url(../../../images/2009a/ebook_reader/notes/bookmark_list_top_bg.png) top repeat-x; min-height:48px;}
.tool_bookmark_list_content { display:block; background:url(../../../images/2009a/ebook_reader/notes/bookmark_list_left.png) left repeat-y; min-height:200px; padding-left:29px}
.tool_bookmark_list_content_right { display:block; background:url(../../../images/2009a/ebook_reader/notes/bookmark_list_right.png) right repeat-y; min-height:200px; padding-right:34px}
.tool_bookmark_list_content_bg { display:block; background:url(../../../images/2009a/ebook_reader/notes/bookmark_list_bg.png) repeat; min-height:200px;}
.tool_bookmark_list_bottom { display:block; background:url(../../../images/2009a/ebook_reader/notes/bookmark_list_bottom_left.png) left bottom no-repeat; min-height:28px; padding-left:29px}
.tool_bookmark_list_bottom_right { display:block; background:url(../../../images/2009a/ebook_reader/notes/bookmark_list_bottom_right.png) right bottom no-repeat; min-height:28px; padding-right:34px}
.tool_bookmark_list_bottom_bg { display:block; background:url(../../../images/2009a/ebook_reader/notes/bookmark_list_bottom_bg.png) bottom repeat-x; min-height:28px; }
.tool_bookmark_list_top_bg h1{ display:block; padding:0; margin:0; margin-right:-34px; font-size:1em; font-weight:normal}
span.bookmark_list_header{ display:block; clear:both; background:#efe8cf; float:left; height:30px; font-style:italic; font-weight:bold; font-size:0.9em; padding:3px 8px 3px 8px; margin-left:-23px; line-height:30px; clear:both}
.bookmark_log_list { display:block; margin-top:10px;padding:0 10px 10px 10px; margin-top:10px; height:500px; width: 256px; overflow-x:hidden; overflow-y:auto; clear:both; border-top:1px solid #CCCCCC}
.book_2page_structure .bookmark_log_list{ height:450px;}
.book_1page_structure .bookmark_log_list{ height:800px;}
.bookmark_log_list ul { display:block; padding:0; margin:0;}
.bookmark_log_list ul li{ list-style-type:none; display:block; padding:0; margin:0; padding-bottom:10px; padding-top:10px; clear:both }
.bookmark_log_list ul li a {padding-right:150px; display:block; line-height:30px; background:none; width:auto; color:#003399}
.bookmark_log_list ul li a span{ padding:0;}
.bookmark_log_list ul li a span.bookmark_title{ display:block; float:left; width:100%; color:#003399}
.bookmark_log_list ul li a span.notes_date{display:block; float:right; width:140px; margin-right:-150px; text-align:right;}
.bookmark_log_list ul li a span.notes_date em{ font-size:0.75em}

.tool_voice_board {display:block; position:absolute; z-index:100; min-width:100px;}
.tool_voice_board_top { display:block; background:url(../../../images/2009a/ebook_reader/tool/tool_voice_top_left.png); background-repeat:no-repeat; height:17px; padding-left:10px}
.tool_voice_board_top_right { display:block; background:url(../../../images/2009a/ebook_reader/tool/tool_voice_top_right.png) right top no-repeat; height:17px; padding-right:10px}
.tool_voice_board_top_bg { display:block; background:url(../../../images/2009a/ebook_reader/tool/tool_voice_top_bg.png) no-repeat; height:17px;}
.tool_voice_board_content { display:block; background:url(../../../images/2009a/ebook_reader/tool/tool_voice_left.png) left repeat-y; min-height:30px; padding-left:10px}
.tool_voice_board_content_right { display:block; background:url(../../../images/2009a/ebook_reader/tool/tool_voice_right.png) right repeat-y; min-height:30px; padding-right:10px}
.tool_voice_board_content_bg { display:block; background:url(../../../images/2009a/ebook_reader/tool/tool_voice_bg.png) repeat; min-height:30px;}
.tool_voice_board_bottom { display:block; background:url(../../../images/2009a/ebook_reader/tool/tool_voice_bottom_left.png) left bottom no-repeat; height:17px;padding-left:10px}
.tool_voice_board_bottom_right { display:block; background:url(../../../images/2009a/ebook_reader/tool/tool_voice_bottom_right.png) right bottom no-repeat; height:17px; padding-right:10px}
.tool_voice_board_bottom_bg { display:block; background:url(../../../images/2009a/ebook_reader/tool/tool_voice_bottom_bg.png)  no-repeat; height:17px; }

/* jQuery UI Slider */
a.ui-slider-handle { background-position: 0px -490px;}
a.ui-state-hover { background-position: -35px -490px;} 

/* Customized Style */
/*
.btn_notes{
	position: absolute;
	background-image: url(../../../images/2009a/ebook_reader/tool_icon.png); 
	height: 35px; 
	width: 35px;
	cursor: pointer;
	display:block;
	background-repeat:no-repeat;
	background-position: 0px -175px;
	margin: -20px 0 0 0px; 
	z-index: 2;
}

.btn_notes:hover, btn_notes:active{
	background-position: -35px -175px;
}
*/

.btn_notes{
	position: absolute;
	background-image: url(../../../images/2009a/ebook_reader/tool_icon.png); 
	height: 25px; 
	width: 25px;
	cursor: pointer;
	display:block;
	background-repeat:no-repeat;
	background-position: 0px -560px;
/*	margin: -20px 0 0 0px; */
	z-index: 2;
}

.btn_notes:hover, btn_notes:active{
	background-position: -35px -560px;
}


#tool_book_review_edit { width:550px; z-index: 120;}
#tool_book_review_edit .tool_big_board_top_bg { background-position:left top}
#tool_book_review_edit .tool_big_board_bottom_bg { background-position:left bottom}
#tool_book_review_edit h1.tool_board_title { float:left;}
#tool_book_review_edit #tool_common { display:block; float:right; padding-top:15px;}
#tool_book_review_edit #tool_common a{ float:right;}

.ebook_blockUI {
    background-color: #CCCCCC;
    border: 3px solid #CCCCCC;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0.6;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 150;
    filter: alpha(opacity = 60);
}

.ebook_blockUI .loadingText {
	z-index: 151; 
	position: absolute; 
	padding: 0px; 
	margin: 0px; 
	width: 30%; 
	text-align: center; 
	color: rgb(0, 0, 0); 
	border: 3px solid rgb(170, 170, 170); 
	background-color: rgb(255, 255, 255); 
	cursor: wait;
}

#book_cover_image {
	display:block; 
	z-index:600; 
	cursor: pointer;
}

#ebook_transparent_block {
	//display:block;
	position: absolute;
	z-index: 499;
	width: 100%;
	height: 100%;
	margin: 0pt; 
	padding: 0pt;
	opacity: 0;
	top: 0pt; 
	left: 0pt;
	cursor: pointer;
	filter: alpha(opacity = 0);
}

/*
.ebook_cover_image {
	background-color: #FFFFFF;
    border: 0px none #FFFFFF;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 500;
}
.ebook_cover_image #ebook_cover_image{
	height: 100%;
	z-index: 501;
}
*/
/*
.book_content_main_for_upload {font-family: "Lucida Sans Unicode", verdana; margin:0 auto; }
.book_2page_content .book_content_main_for_upload { font-size:15px; line-height:2.8em; }
.book_1page_content .book_content_main_for_upload { font-size:18px; line-height:2.8em; }
*/
.book_content_container .book_content_main_for_upload { overflow-x: hidden; overflow-y:hidden; } 

/****** for comic start ******/
#book_comic {display:block; width:100%;  position:absolute; z-index:1; margin:0; padding:0;}
.book_page_comic_2page {display:block;  margin:0 auto; margin-top:9px;}
.book_page_comic_1page {display:block; margin:0 auto;  margin-top:9px; padding-left:20px; padding-right:16px; }
#book_comic .book_2page_left_style .page_top_right{  background-image: url(../../../images/2009a/ebook_reader/page/comic/2page_top_right.png); min-height:37px;}
#book_comic .book_2page_left_style .page_content_right{ background-image: url(../../../images/2009a/ebook_reader/page/comic/2page_right.png);min-height:583px;}
#book_comic .book_2page_left_style .page_bottom_right{ background-image: url(../../../images/2009a/ebook_reader/page/comic/2page_btm_right.png); min-height:30px;}
#book_comic .book_2page_right_style .page_top{  background-image: url(../../../images/2009a/ebook_reader/page/comic/page_top_left.png);min-height:37px; background-position:left}
#book_comic .book_2page_right_style .page_content{ background-image: url(../../../images/2009a/ebook_reader/page/comic/page_left.png);margin-top:0;min-height:583px;background-position:left}
#book_comic .book_2page_right_style .page_bottom{ background-image: url(../../../images/2009a/ebook_reader/page/comic/page_btm_left.png); min-height:30px; margin-top:0;background-position:left}

#book_comic .book_1page_style .page_top{  background-image: url(../../../images/2009a/ebook_reader/page/comic/page_top_left.png);min-height:37px;}
#book_comic .book_1page_style .page_content{ background-image: url(../../../images/2009a/ebook_reader/page/comic/page_left.png);margin-top:0;min-height:833px;}
#book_comic .book_1page_style .page_bottom{ background-image: url(../../../images/2009a/ebook_reader/page/comic/page_btm_left.png); min-height:30px; margin-top:0}
#book_comic .book_2page_right_style {background-size:contain;background-repeat:no-repeat; background-position:left}
#book_comic .book_2page_left_style {background-size:contain;background-repeat:no-repeat; background-position:right}
#book_comic .book_1page_style {background-size:contain;background-repeat:no-repeat; }

#book_comic{ display:block; width:100%;  position:absolute; z-index:1; margin:0; padding:0;}
#book_comic .book_page_comic { margin:0 auto; width:1024px;}

@font-face {
  font-family: 'Sofia';
  font-style: normal;
  font-weight: 400;
  src: local('Sofia'), local('Sofia-Regular'), url(../font/eNNA2vlZnUPtgq9g__E3cA.woff) format('woff');
}
@font-face {
  font-family: 'Salsa';
  font-style: normal;
  font-weight: 400;
  src: local('Salsa-Regular'), url(../font/A4KcPjUX7Ams2Jqasy0vzQ.woff) format('woff');
}
@font-face {
  font-family: 'Paprika';
  font-style: normal;
  font-weight: 400;
  src: local('Paprika'), local('Paprika-Regular'), url(../font/5wID_eLdfLKUwzhIdMBadA.woff) format('woff');
}
@font-face {
  font-family: 'Pompiere';
  font-style: normal;
  font-weight: 400;
  src: local('Pompiere '), local('Pompiere-Regular'), url(../font/REn9C5nNcBLtk0UzcbjDQPesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Ruluko';
  font-style: normal;
  font-weight: 400;
  src: local('Ruluko'), url(../font/0bmp5mgwxDelR9L9Fd3OIw.woff) format('woff');
}


/* Customized style */
#book_comic_image_left { display:block; }
#book_comic_image_right { display:block; }

/****** for comic end ******/

.highlight { background-color: yellow }

/*20130528 start*/
.book_hor .page_tool_prev a, .book_hor .page_tool_next a, .book_hor .page_tool_prev a span, .book_hor .page_tool_next a span {height:648px;}
/*20130528 end*/

/***Loading 2013-06-03 Charles Ma****/
.loading_layer { display:block; background: url(../../../images/2009a/ebook_reader/loading/loading_layer_bg.png); margin:0 auto; border-radius:10px; }
#loading_text { position:absolute; font-weight:bold; font-family:"Comic Sans MS", Georgia; text-align:center; display:block; width:80px; font-style:normal; left:22px; top:40px; font-size:18px;color:#009900; background:url(../../../images/2009a/ebook_reader/loading/loading_text.png); width: 80px; height: 23px;}

.bubblingG { top: 250px;display:block; position:relative; padding-top:60px;
text-align: center;
width:125px;
height:65px; background: url(../../../images/2009a/ebook_reader/loading/loading_bg.png) no-repeat center; margin:0 auto;
}
.bubblingG span {
display: inline-block;
vertical-align: middle;
width: 8px;
height: 8px;
margin: 19px auto;
background: #A5FE00;
-moz-border-radius: 38px;
-moz-animation: bubblingG 1.2s infinite alternate;
-webkit-border-radius: 38px;
-webkit-animation: bubblingG 1.2s infinite alternate;
-ms-border-radius: 38px;
-ms-animation: bubblingG 1.2s infinite alternate;
-o-border-radius: 38px;
-o-animation: bubblingG 1.2s infinite alternate;
border-radius: 38px;
animation: bubblingG 1.2s infinite alternate;
}

#bubblingG_1 {
-moz-animation-delay: 0.72s;
-webkit-animation-delay: 0.72s;
-ms-animation-delay: 0.72s;
-o-animation-delay: 0.72s;
animation-delay: 0.72s;
}

#bubblingG_2 {
-moz-animation-delay: 0.36s;
-webkit-animation-delay: 0.36s;
-ms-animation-delay: 0.36s;
-o-animation-delay: 0.36s;
animation-delay: 0.36s;
}

#bubblingG_3 {
-moz-animation-delay: 0s;
-webkit-animation-delay: 0s;
-ms-animation-delay: 0s;
-o-animation-delay: 0s;
animation-delay: 0s;
}

@-moz-keyframes bubblingG {
0% {
width: 8px;
height: 8px;
background-color:#A5FE00;
-moz-transform: translateY(0);
}

100% {
width: 18px;
height: 18px;
background-color:#F8F800;
-moz-transform: translateY(-16px);
}

}

@-webkit-keyframes bubblingG {
0% {
width: 8px;
height: 8px;
background-color:#A5FE00;
-webkit-transform: translateY(0);
}

100% {
width: 18px;
height: 18px;
background-color:#F8F800;
-webkit-transform: translateY(-16px);
}

}

@-ms-keyframes bubblingG {
0% {
width: 8px;
height: 8px;
background-color:#A5FE00;
-ms-transform: translateY(0);
}

100% {
width: 18px;
height: 18px;
background-color:#F8F800;
-ms-transform: translateY(-16px);
}

}

@-o-keyframes bubblingG {
0% {
width: 8px;
height: 8px;
background-color:#A5FE00;
-o-transform: translateY(0);
}

100% {
width: 18px;
height: 18px;
background-color:#F8F800;
-o-transform: translateY(-16px);
}

}

@keyframes bubblingG {
0% {
width: 8px;
height: 8px;
background-color:#A5FE00;
transform: translateY(0);
}

100% {
width: 18px;
height: 18px;
background-color:#F8F800;
transform: translateY(-16px);
}

