table.common_table_list {
	font-size: large;	
}
div.table_board {font-size: large;}
div.op_btn span {
    margin-left: -130px;
    width: 125px;
    font-size: large;
}
#book_search_form {font-size: large;}
div.user_operation{font-size: large;}
.user_record ul li span {
    margin-left: -95px;
    width: 89px;
}
.user_record ul {
    padding-bottom: 40px;
}
#popup_div table {font-size: large;}
div.user_info table {font-size: large;}
select#StudentClass {font-size: large;}
select[name='StudentID'] {font-size: large;}
div.table_board table {font-size: large;}
div.ui-dialog-content table {font-size: large;}