@charset "utf-8";
body {	background: #e7f1d2 url(../../../images/ePost/bg.jpg) no-repeat left top;	margin: 0px;	padding: 0px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:13px;scrollbar-face-color:#89e8fe;	scrollbar-base-color:#89e8fe;	scrollbar-arrow-color:#FFFFFF;	scrollbar-track-color:#d2f7ff;	scrollbar-shadow-color:#d2f7ff;	scrollbar-highlight-color:#d2f7ff;	scrollbar-3dlight-color:#d2f7ff;	scrollbar-darkshadow-Color:#d2f7ff;}









.main_board_top_left{ display:block; padding-left:18px; height:122px; background:url(../../../images/ePost/board_top_left.png) no-repeat left bottom}
.main_board_top_right{ display:block; padding-right:18px; height:122px; background:url(../../../images/ePost/board_top_right.png) no-repeat right bottom}
.main_board_left{ display:block; padding-left:18px; background:url(../../../images/ePost/board_left.png) repeat-y left }
.main_board_right{ display:block; padding-right:18px; background:url(../../../images/ePost/board_right.png) repeat-y right; min-height:200px;}
.main_board_bottom_left{ display:block; padding-left:18px; height:40px; background:url(../../../images/ePost/board_bottom_left.png) no-repeat left top}
.main_board_bottom_right{ display:block; padding-right:18px; height:40px; background:url(../../../images/ePost/board_bottom_right.png) no-repeat right top; text-align:right}









/*modified 20120313 start */


h2.title_edit a{ display:block; float:right; padding-left:25px; background:url(../../../images/ePost/ej5/icon_content.gif) left top no-repeat; height:25px; line-height:25px;}

/*modified 20120313 end*/




.page_tab a{text-decoration:none;	float:left;	margin:0;	margin-right: 2px;  height:40px;padding-left:14px;/*padding:0 0 0 14px;	*/background: url(../../../images/ePost/tab_bg.png) no-repeat left -80px;}
.page_tab a span{padding-right:14px;float:left; font-size:1.1em; display:block;  height:40px;/* padding: 16px 15px 9px 0px;*/ line-height:42px;	background:url(../../../images/ePost/tab_bg.png) no-repeat right -120px; font-weight:bold; color:#909090;float:none;cursor: hand}








.thumb_list_tab a{ height:20px; display:block; float:right;  padding-left:5px; background-image:url(../../../images/ePost/thumb_list_tab_left.gif); background-repeat: no-repeat; background-position: -1000px -1000px;color:#014d94;}
.thumb_list_tab a span{ background-image:url(../../../images/ePost/thumb_list_tab_right.gif); background-repeat: no-repeat; background-position:-1000px -1000px; display:block;  padding-right:5px; height:20px; line-height:20px; cursor: hand}









.issue_list ul li a, ul.issue_only li  a{ display:block; margin:0 ; padding:3px;  clear:both; background: url(../../../images/ePost/icon_folder_close.png) no-repeat left top; padding-left:30px; min-height:25px; padding-top:3px; line-height:20px;}
.issue_list ul li.folder_open a{ background-image:url(../../../images/ePost/icon_folder_open.png)} 
.issue_list ul li.folder_open ul li a, ul.issue_only li a{ background-image:url(../../../images/ePost/icon_issue.png)} 



.select_form a { display:block; padding-left:125px; line-height:50px; font-size:1.1em;  background:url(../../../images/ePost/icon_creative.png) no-repeat top left; min-height:60px}

.select_form a.writing{ background-image:url(../../../images/ePost/icon_writing.png);float:left;margin-right:10px; margin-left:10px;}
.select_form a.write { background-image:url(../../../images/ePost/icon_write.png);float:left;margin-right:10px; padding-left:40px;margin-left:10px; line-height:30px; margin-top:10px;}
.select_form a.creative{ background-image:url(../../../images/ePost/icon_creative.png);float:left;margin-right:10px; margin-left:10px;}
.select_form a.newsanchor{ background-image:url(../../../images/ePost/icon_newsanchor.png);float:left;margin-right:10px; margin-left:10px;}
.select_form a.newswriter{ background-image:url(../../../images/ePost/icon_newswriter.png);float:left;margin-right:10px; margin-left:10px;}
.select_form a.see_report{
margin-top:10px; padding-left:40px; background-image:url(../../../images/ePost/icon_report.png); min-height:35px; line-height:35px; margin-left:140px; margin-bottom:10px}

.select_form a.view_issue{
margin-top:10px; padding-left:40px; background-image:url(../../../images/ePost/icon_newspaper.png); min-height:35px; line-height:35px; margin-left:20px; margin-bottom:10px;}
.select_form a.marking {
margin-top:10px; padding-left:45px; background-image:url(../../../images/ePost/icon_marking.png); min-height:35px; line-height:35px; margin-left:140px; margin-bottom:10px}
.select_form a.setting { margin-top:10px; background-image:url(../../../images/ePost/icon_setting.png); line-height:35px; height:35px; float:left; padding-left:35px; text-align:center; padding-right:10px; margin-right:20px; margin-left:55px; margin-bottom:20px}

.natvigation a{ display:block; float:left; padding-left:20px; color:#2369b9; padding-right:5px; background:url(../../../images/ePost/nav_arrow.gif) no-repeat top left}

.natvigation span{ display:block; float:left; color:#000000; padding-left:20px; padding-right:5px; font-weight:bold; background:url(../../../images/ePost/nav_arrow.gif) no-repeat top left}
/********** Content table ***********/

.table_board .table_top_left{ padding-left:6px; display:block; background-repeat:no-repeat; background-position:left bottom;background-image:url(../../../images/ePost/ej5/table/table_top_left_gray.gif);min-height:35px;}
.table_board .table_top_right{ min-height:35px; padding-right:6px; display:block; background-repeat:no-repeat; background-position:right bottom;background-image:url(../../../images/ePost/ej5/table/table_top_right_gray.gif);}


.table_board .table_right{ /*padding-right:3px; display:block; background :repeat-y right url(../../../images/ePost/ej5/table/table_content_right.png);*/}
.table_board .table_bottom_left{clear:both;height:35px;padding-left:6px;display:block; background:no-repeat url(../../../images/ePost/ej5/table/table_bottom_left.gif) bottom left;}
.table_board .table_bottom_right{ height:35px; padding-right:6px; display:block; background:no-repeat url(../../../images/ePost/ej5/table/table_bottom_right.gif) bottom right; line-height:20px; font-size:0.95em;}


.table_tool .table_tool_left{ height:27px; padding-right:6px; display:block; background-repeat:no-repeat; background-position:right top;background-image:url(../../../images/ePost/ej5/table/table_tool_left.gif);}
 .table_tool  .table_tool_right{  height:27px; padding-left:25px; display:block; background-repeat:no-repeat; background-position:left top;background-image:url(../../../images/ePost/ej5/table/table_tool_right.gif);}




/********** Each table top ***********/
/*.table_tool .table_tool_left{ background-image:url(../../../images/ePost/ej5/table/table_tool_left_green.png);}
.table_tool .table_tool_right{background-image:url(../../../images/ePost/ej5/table/table_tool_right_green.png);}*/


.table_tool_v .table_tool_right{background-image:url(../../../images/ePost/ej5/table/table_tool_right_green_v.png);background-position:left bottom; padding-bottom:5px;}



.show_content .show_content_top_left{ padding-left:8px; height:8px; display:block; background-repeat:no-repeat; background-position:left bottom; background-image:url(../../../images/ePost/ej5/eContent/content_board/right_top_left.png)}
.show_content .show_content_top_right{ height:8px; padding-right:15px; display:block; background-repeat:no-repeat; background-position:right bottom; background-image:url(../../../images/ePost/ej5/eContent/content_board/right_top_right.png)}
.show_content .show_content_left{ clear:both; padding-left:1px; display:block; background: repeat-y url(../../../images/ePost/ej5/eContent/content_board/right_content_left.gif);}
.show_content .show_content_right{ padding-right:7px; display:block; background :repeat-y right url(../../../images/ePost/ej5/eContent/content_board/right_content_right.png); min-height:760px;}
.show_content .show_content_bottom_left{clear:both;height:5px;padding-left:8px;display:block; background:no-repeat url(../../../images/ePost/ej5/eContent/content_board/right_bottom_left.png) bottom left;}
.show_content .show_content_bottom_right{ height:5px; padding-right:9px; display:block; background:no-repeat url(../../../images/ePost/ej5/eContent/content_board/right_bottom_right.png) bottom right; line-height:20px; font-size:0.9em;}

/**********  table tool ***********/
.table_tool a{	height:25px; width:25px;	background-image:url(../../../images/ePost/ej5/table/icon_table_tool.gif);background-repeat:no-repeat;display:block; color:#2F7510;	float:left;	margin-left:2px;margin-top:2px;}
.table_row_tool a{	height:25px; width:25px;background-image:url(../../../images/ePost/ej5/table/icon_table_tool.gif);	background-repeat:no-repeat;display:block; color:#2F7510;float:left;		margin-left:2px;}



























































































































.Content_tool a{	 background: url(../../../images/ePost/ej5/icon_content.gif) no-repeat; padding-left:25px; display:block; float:left; height:25px; line-height:25px;	color: #0f5b91;margin-left:5px;}

/*.Content_tool a.new{		 background-position: 0px -20px;}
.Content_tool a.new:hover{		 background-position: 0px -40px;}*/


































.Conntent_search input {padding:2px;padding-left:20px;width: 120px;	background: 0px 0px url(../../../images/ePost/ej5/icon_content.gif) no-repeat #FFFFFF;border: 1px solid #BDCEB0;		float:left}



/**********  table filter ***********/

/***********************************/


































.page_no a{	 float:left; display:block; height:18px; background-repeat:no-repeat;	 height:18px; width:18px;	 margin-top:1px;	background-image:url(../../../images/ePost/ej5/table/icon_table_tool.gif);	 }



















.common_table_list tr th.table_total_top { background-image: url(../../../images/ePost/ej5/table/table_top_bg_green_total.gif)}








.common_table_list  tr th{ 	background-image:url(../../../images/ePost/ej5/table/table_top_bg_gray.gif);}
.common_table_list tr th a.prev_col {	display:block; float:left; 
	background-image:url(../../../images/ePost/ej5/table/icon_table_tool.gif); background-repeat:no-repeat; background-position:-45px -120px; width:10px; padding:0px }


.common_table_list tr th a.next_col {	display:block; float:left; 
	background-image:url(../../../images/ePost/ej5/table/icon_table_tool.gif); background-repeat:no-repeat; background-position:-45px -160px; width:10px; padding:0px }



.common_table_list tr th a.sort_asc {	font-weight: bold;display:block; float:left; font-weight:bold;
	background-image:url(../../../images/ePost/ej5/table/icon_table_col_tool.gif); background-repeat:no-repeat; background-position:0px 0px; padding-left:15px; }



.common_table_list  tr th a.sort_dec {	font-weight: bold;display:block; float:left;
	background-image:url(../../../images/ePost/ej5/table/icon_table_col_tool.gif); background-repeat:no-repeat; background-position:0px -200px; padding-left:15px; }








.common_table_list  tr.table_phase_head th{ 	background-image:url(../../../images/ePost/ej5/table/table_top_bg_blue.gif); }
.common_table_list  tr.table_task_head th{ 	background-image:url(../../../images/ePost/ej5/table/table_top_bg_yellow.gif);}










.edit_table_list tr th{  background-image:none;background-color: #669746/* #71AA2F*/; color:#FFFFFF}




.edit_bottom { height:50px; padding:3px; display:block; clear:both;  text-align:center;background: url(../../../images/ePost/ej5/dotline_dot.gif) repeat-x top; padding-top:10px}


.formbutton{cursor:pointer;border:2px solid #ffd200;color:#a05e00;height:28px;padding-top:3px;padding-bottom:4px;background-image: url(../../../images/ePost/ej5/btn_bg.gif);background-position:0px 0px;}


.formsubbutton{cursor:pointer;border:2px solid #c5c5c5;color:#737373;height:28px;padding-top:3px;padding-bottom:4px;background-image: url(../../../images/ePost/ej5/btn_bg.gif);background-position:0px -60px; }

.formsmallbutton{cursor:pointer;border:1px solid #c5c5c5;color:#737373;height:20px;padding-top:1px;padding-bottom:2px;background-image: url(../../../images/ePost/ej5/btn_bg.gif);background-position:0px -65px; font-size: 0.95em;}






















.sectiontitle {	font-size: 1.1em;	font-weight: bold;	color: #006600;	padding-right: 3px;	/*padding-left: 23px;*/ padding-bottom:8px; display:block; float:left; line-height:25px;/* background: url(../../../images/ePost/icon_section.gif) no-repeat 0px 3px;*/}

/**********  Marking ***********/




h1.marking_header { padding:0; margin:0; display:block; background:  url(../../../images/ePost/icon_marking.png) no-repeat top left  #94DAF1; height:40px; line-height:35px; color: #006699; font-size:15px; padding-left:40px; }




.content_paper_top_left{ display:block; height:30px; padding-left:30px; background:url(../../../images/ePost/paper_top_btm.png) no-repeat left top}
.content_paper_top_right{ display:block; height:30px; padding-right:30px; background:url(../../../images/ePost/paper_top_btm.png) no-repeat right -30px}
.content_paper_left{ display:block; padding-left:30px; background:url(../../../images/ePost/paper_bg_left.png) repeat-y left}
.content_paper_right{ display:block;  padding-right:30px; background:url(../../../images/ePost/paper_bg_right.png) repeat-y right; color:#000000}
.content_paper_bottom_left{ display:block; height:30px; padding-left:30px; background:url(../../../images/ePost/paper_top_btm.png) no-repeat left -60px}
.content_paper_bottom_right{ display:block; height:30px; padding-right:30px; background:url(../../../images/ePost/paper_top_btm.png) no-repeat right -90px}
.display_showboard {display:block; float:left; padding-left:35px; height:20px; background: url(../../../images/ePost/display_item.png) no-repeat 0 0px;}
.display_newspaper {display:block; float:left; padding-left:35px; height:20px; background: url(../../../images/ePost/display_item.png) no-repeat 0 -20px;}


/*Markings Popup*/























.shadetabs li.selected a{ font-weight: bold ;/*selected tab effect*/position: relative;top: 1px;border: 1px solid #b1bfdb;border-bottom: none;padding-top: 4px;background-image: url(../../../images/ePost/ej5/shade.gif);color: #2b64b2;}
/******************* step div ****************************/





.stepboard ul li em {font-style:normal; color:#FFFFFF;  background:url(../../../images/ePost/ej5/stepnum_off.gif) no-repeat 3px 1px; margin-left:-25px; float:left; display:block; width:25px; height:25px; text-align:center;}

.stepboard ul li.stepon em {font-style:bold;  background:url(../../../images/ePost/ej5/stepnum_on.gif) no-repeat 1px top; line-height:20px}

        









/*
#newspaper_main{ display:block; border:1px solid #CCCCCC ; margin:0 auto; width:750px; min-height:300px; padding:5px; font-size:15px; }
.inside_01{}
#page_header {display:block; height:40px; border-bottom:1px solid #CCCCCC; margin-bottom:10px;  font-size:0.8em;}
#page_header h1{display:block; margin:0; padding:0;font-weight:bold; font-size:1em; width:450px; float:left}
.page_papername {display:block; line-height:30px; float:left; }
.page_issue {line-height:20px; font-weight:normal;font-size:1em;float:left; display:block; margin-left:20px;}
#page_title {display:block; margin-top:15px; width:240px; float:right; padding-right:50px ;text-align:right;}

.log_content{display:block; padding:5px; }

.log_content h1 {display:block; margin:0; padding:3px; background:#CCCCCC; font-size:1.4em; font-weight:bold; font-family:Georgia, 'Times New Roman', Times, serif; margin-bottom:10px;}
.log_photo {border:1px solid #CCCCCC;border-collapse:separate;	border-spacing: 5px; 	*border-collapse: expression('separate', cellSpacing = '5px'); background:#FFFFFF; margin-right:10px; display:block; }
.log_photo_file {display:block; background:#DDDDDD; width:300px; height:200px;}
.log_photo_desc {display:block; background:#FFFFFF; font-size:0.8em}
span.log_content_text{  font-size:1.1em}
.log_content_more {display:block; float:left; font-size:0.8em}
.log_author {display:block;  height:30px; line-height:30px; font-size:0.8em}
.log_enjoy_comment_tool {display:block;  height:30px; line-height:30px; font-size:0.8em}
.log_enjoy_comment_tool a, .log_enjoy_comment_tool span { display:block; float:left; padding-left:2px; padding-right:2px;}
.log_enjoy_comment_tool span { color:#CCCCCC}

.log_left {margin-right:1%}
.log_right {margin-left:1%}
.log_full_m{display:block;}
.log_full_m .log_content{min-height:250px;}
.log_half_long { display:block; float:left; width:48%;}
.log_half_long .log_content{min-height:500px;}
.log_half_long .log_photo_file {width:200px; height:120px;}
.log_half_long  span.log_content_text{ font-size:1em}
.log_half_short {display:block; float:left; width:48%;  }
.log_half_short .log_content{min-height:235px;}
.log_half_short .log_photo_file {width:80px; height:60px;}
.log_half_short  span.log_content_text{ font-size:0.9em}
*/



a.img_file { display:block; float:left; background:url(../../../images/ePost/ej5/jpg.gif) no-repeat left 3px; padding-left:20px; width:auto; line-height:20px; }