@charset "utf-8";
/*##################################################################*/
/*########################## Common ##########################*/
/*##################################################################*/




.bg_wood { background:url(../../../images/ePost/newspaper/bg_wood.gif)}

/*######## bg3_greenPaper ##########*/

.bg3_green_top_left {display:block; background:url(../../../images/ePost/newspaper/bg3_green_top_left.png) no-repeat left top; padding-left:253px; height:390px; }
.bg3_green_top_right {display:block; background: url(../../../images/ePost/newspaper/bg3_green_top_right.png) no-repeat right top; padding-right:391px; height:390px;}
.bg3_green_top_bg {display:block; background: url(../../../images/ePost/newspaper/bg3_green_top_bg.png) repeat-x top; height:390px;}
.bg3_green_body {background: url(../../../images/ePost/newspaper/bg3_green_body.png); }


/*######## bg4_wood ##########*/

.bg4_wood { background:url(../../../images/ePost/newspaper/bg4_wood_top_bg.png)}

/*###########################*/
/*######## bg2_sky ##########*/

.bg2_sky_top_left {display:block; background:url(../../../images/ePost/newspaper/bg2_sky_top_left.png) no-repeat left top; padding-left:392px; height:203px; }
.bg2_sky_top_right {display:block; background: url(../../../images/ePost/newspaper/bg2_sky_top_right.png) no-repeat  right top; padding-right:367px; height:203px;}
.bg2_sky_top_bg {display:block; background: url(../../../images/ePost/newspaper/bg2_sky_top_bg.png) repeat-x top; height:203px;}
.bg2_sky_body {background: url(../../../images/ePost/newspaper/bg2_sky_body.png); }


/*###########################*/


.print_alert_line {display:block; background:url(../../../images/ePost/newspaper/print_alert_line.gif) top repeat-x; min-height:1050px;}





/*######################################################20121113######################################################*/










/***###########################*******20121113 end ******###########################******/


.page_cat_01 { background-image:url(../../../images/ePost/newspaper/page_cat/icon_page_cat_big_01.png)}
.page_cat_02 { background-image:url(../../../images/ePost/newspaper/page_cat/icon_page_cat_big_02.png)}
.page_cat_03 { background-image:url(../../../images/ePost/newspaper/page_cat/icon_page_cat_big_03.png)}
.page_cat_04 { background-image:url(../../../images/ePost/newspaper/page_cat/icon_page_cat_big_04.png)}
.page_cat_05 { background-image:url(../../../images/ePost/newspaper/page_cat/icon_page_cat_big_05.png)}
.page_cat_06 { background-image:url(../../../images/ePost/newspaper/page_cat/icon_page_cat_big_06.png)}
.page_cat_07 { background-image:url(../../../images/ePost/newspaper/page_cat/icon_page_cat_big_07.png)}																																																		
.page_cat_08 { background-image:url(../../../images/ePost/newspaper/page_cat/icon_page_cat_big_08.png)}
.page_cat_09 { background-image:url(../../../images/ePost/newspaper/page_cat/icon_page_cat_big_09.png)}																																																		
.page_cat_10 { background-image:url(../../../images/ePost/newspaper/page_cat/icon_page_cat_big_10.png)}
.page_cat_11 { background-image:url(../../../images/ePost/newspaper/page_cat/icon_page_cat_big_11.png)}																																																		
.page_cat_12 { background-image:url(../../../images/ePost/newspaper/page_cat/icon_page_cat_big_12.png)}
.page_cat_13 { background-image:url(../../../images/ePost/newspaper/page_cat/icon_page_cat_big_13.png)}																																																		
.page_cat_j01 { background-image:url(../../../images/ePost/newspaper/page_cat/icon_page_cat_big_j01.png)}
.page_cat_j02 { background-image:url(../../../images/ePost/newspaper/page_cat/icon_page_cat_big_j02.png)}
.page_cat_j03 { background-image:url(../../../images/ePost/newspaper/page_cat/icon_page_cat_big_j03.png)}
.page_cat_j04 { background-image:url(../../../images/ePost/newspaper/page_cat/icon_page_cat_big_j04.png)}
.page_cat_j05 { background-image:url(../../../images/ePost/newspaper/page_cat/icon_page_cat_big_j05.png)}
.page_cat_j06 { background-image:url(../../../images/ePost/newspaper/page_cat/icon_page_cat_big_j06.png)}
.page_cat_j07 { background-image:url(../../../images/ePost/newspaper/page_cat/icon_page_cat_big_j07.png)}



.page_body_bg {display:block; background:url(../../../images/ePost/newspaper/paper_bg.png);min-height:430px;}




.page_bottom_bg {display:block; background:url(../../../images/ePost/newspaper/paper_bottom_bg.png) bottom repeat-x;min-height:44px;}
.page_bottom_bg2 {display:block; background:url(../../../images/ePost/newspaper/paper_bottom_bg2.png) bottom repeat-x;min-height:44px;}


/*##########################page_big_cover#########################*/
/*####################################################################################################################################################################*/
/*###################################################################### 20121113 start ######################################################################*/
.page_big_cover .page_top, .page_big_left .page_top, .page_big_right .page_top, .page_big_back .page_top { background-image: url(../../../images/ePost/newspaper/paper_big_top_left.png); padding-left:219px; min-height:100px;} 
.page_big_cover .page_top_right, .page_big_left .page_top_right, .page_big_right .page_top_right, .page_big_back .page_top_right {background-image: url(../../../images/ePost/newspaper/paper_big_top_right.png) ; padding-right:518px; min-height:100px;}
.page_big_cover .page_top_bg, .page_big_left .page_top_bg, .page_big_right .page_top_bg, .page_big_back .page_top_bg { background-image:url(../../../images/ePost/newspaper/paper_big_top_bg.png); min-height:100px;}

.page_big_cover .page_top h1 {background:url(../../../images/ePost/newspaper/title_cover_bg_00.png) no-repeat left  ; width:795px; height:148px;}



.page_big_left .page_top h1, .page_big_back .page_top h1 {background:url(../../../images/ePost/newspaper/title_left_big_00.png) no-repeat 30px bottom; }
.page_big_right .page_top h1 {background:url(../../../images/ePost/newspaper/title_right_big_00.png) no-repeat right  bottom;  }

/*--issue_title---*/
.page_big_cover .issue_title {font-size: background:url(../../../images/ePost/newspaper/issue_bg.png); color:#34836a;}



/*--newspaper_title---*/




/*--page_cat---*/


/*###################################################################### 20121113 end ######################################################################*/
/*####################################################################################################################################################################*/
.page_big_cover .page_body, .page_big_left .page_body, .page_big_right .page_body, .page_big_back .page_body { background-image: url(../../../images/ePost/newspaper/paper_big_left.png); padding-left:142px; min-height:390px;}
.page_big_cover .page_body_right, .page_big_left .page_body_right, .page_big_right .page_body_right, .page_big_back .page_body_right { background-image: url(../../../images/ePost/newspaper/paper_big_right.png) ; padding-right:114px; min-height:390px;}



.page_big_cover .page_bottom, .page_big_left .page_bottom, .page_big_right .page_bottom, .page_big_back .page_bottom { background-image: url(../../../images/ePost/newspaper/paper_big_bottom_left.png); padding-left:181px; height:88px;}
.page_big_cover .page_bottom_right, .page_big_left .page_bottom_right, .page_big_right .page_bottom_right, .page_big_back .page_bottom_right { background-image: url(../../../images/ePost/newspaper/paper_big_bottom_right.png) ; padding-right:551px; height:88px;}
.page_big_cover .page_bottom_bg, .page_big_left .page_bottom_bg, .page_big_right .page_bottom_bg, .page_big_back .page_bottom_bg {  background-image: url(../../../images/ePost/newspaper/paper_big_bottom_bg.png) ; height:88px;}
/*####################################################################*/

/*##########################page_big_cover00#########################*/
/*####################################################################################################################################################################*/
/*###################################################################### 20121113 start ######################################################################*/

.page_big_cover00 .page_top, .page_big_left00 .page_top, .page_big_right00 .page_top, .page_big_back00 .page_top { background-image: url(../../../images/ePost/newspaper/paper_big_top_left.png); padding-left:219px; min-height:100px;} 
.page_big_cover00 .page_top_right, .page_big_left00 .page_top_right, .page_big_right00 .page_top_right, .page_big_back00 .page_top_right {background-image: url(../../../images/ePost/newspaper/paper_big_top_right.png) ; padding-right:518px; min-height:100px;}
.page_big_cover00 .page_top_bg, .page_big_left00 .page_top_bg, .page_big_right00 .page_top_bg, .page_big_back00 .page_top_bg { background-image:url(../../../images/ePost/newspaper/paper_big_top_bg.png); min-height:100px;}

.page_big_cover00 .page_top h1 {background:url(../../../images/ePost/newspaper/title_cover_bg_00a.png) no-repeat  50px top  ; width:795px; height:148px;}


.page_big_left00 .page_top h1, .page_big_back00 .page_top h1 {background:url(../../../images/ePost/newspaper/title_left_big_00a.png) no-repeat 50px bottom  ;  padding-top:-20px; }
.page_big_right00 .page_top h1 {background:url(../../../images/ePost/newspaper/title_right_big_00a.png) no-repeat right bottom;  padding-top:-20px;  height:100px; }


/*--issue_title---*/
.page_big_cover00 .issue_title {font-size:1.2em;  /*background:url(../../../images/ePost/newspaper/issue_bg.png);*/  color: #000; bottom:30px; right:135px;}



/*--newspaper_title---*/





/*--page_cat---*/


/*###################################################################### 20121113 end ######################################################################*/
/*####################################################################################################################################################################*/

.page_big_cover00 .page_body, .page_big_left00 .page_body, .page_big_right00 .page_body, .page_big_back00 .page_body { background-image: url(../../../images/ePost/newspaper/paper_big_left.png); padding-left:142px; min-height:390px;}
.page_big_cover00 .page_body_right, .page_big_left00 .page_body_right, .page_big_right00 .page_body_right, .page_big_back00 .page_body_right { background-image: url(../../../images/ePost/newspaper/paper_big_right.png) ; padding-right:114px; min-height:390px;}



.page_big_cover00 .page_bottom, .page_big_left00 .page_bottom, .page_big_right00 .page_bottom, .page_big_back00 .page_bottom { background-image: url(../../../images/ePost/newspaper/paper_big_bottom_left.png); padding-left:181px; height:88px;}
.page_big_cover00 .page_bottom_right, .page_big_left00 .page_bottom_right, .page_big_right00 .page_bottom_right, .page_big_back00 .page_bottom_right { background-image: url(../../../images/ePost/newspaper/paper_big_bottom_right.png) ; padding-right:551px; height:88px;}
.page_big_cover00 .page_bottom_bg, .page_big_left00 .page_bottom_bg, .page_big_right00 .page_bottom_bg, .page_big_back00 .page_bottom_bg {  background-image: url(../../../images/ePost/newspaper/paper_big_bottom_bg.png) ; height:88px;}
/*####################################################################*/

/*##########################page_big_cover_J01#########################*/
.page_big_cover_J01 .page_top, .page_big_left_J01 .page_top { background-image: url(../../../images/ePost/newspaper/paper_big_top_left_J01.png); padding-left:343px; min-height:80px;} 
.page_big_cover_J01 .page_top_right, .page_big_left_J01 .page_top_right{background-image: url(../../../images/ePost/newspaper/paper_big_top_right_J01.png) ; padding-right:310px; min-height:80px;}
.page_big_cover_J01 .page_top_bg, .page_big_left_J01 .page_top_bg{ background-image:url(../../../images/ePost/newspaper/paper_big_top_bg_J01.png); min-height:80px;}
.page_big_left_J01 .page_top h1 { margin-left:-374px; margin-right:-310px; width:795px; font-weight:bold; height:80px;background:url(../../../images/ePost/newspaper/title_left_big_J01.png) no-repeat 31px 35px; height:100px;   }
.page_big_cover_J01 .page_top h1 { margin-left:-374px; margin-right:-310px;background:url(../../../images/ePost/newspaper/title_cover_bg_J01.png) no-repeat 31px 12px;   width:795px; height:145px;}






.page_big_cover_J01 .page_body, .page_big_left_J01 .page_body{ background-image: url(../../../images/ePost/newspaper/paper_big_left_J01.png); padding-left:88px; min-height:390px;}
.page_big_cover_J01 .page_body_right, .page_big_left_J01 .page_body_right { background-image: url(../../../images/ePost/newspaper/paper_big_right_J01.png) ; padding-right:71px; min-height:390px;}
.page_big_cover_J01 .page_body_bg, .page_big_left_J01 .page_body_bg { background-image: url(../../../images/ePost/newspaper/paper_bg_J01.png); min-height:390px;}


.page_big_cover_J01 .page_bottom, .page_big_left_J01 .page_bottom{ background-image: url(../../../images/ePost/newspaper/paper_big_bottom_left_J01.png); padding-left:328px; height:45px;}
.page_big_cover_J01 .page_bottom_right, .page_big_left_J01 .page_bottom_right { background-image: url(../../../images/ePost/newspaper/paper_big_bottom_right_J01.png) ; padding-right:358px; height:45px;}
.page_big_cover_J01 .page_bottom_bg, .page_big_left_J01 .page_bottom_bg {  background-image: url(../../../images/ePost/newspaper/paper_big_bottom_bg_J01.png) ; height:45px;}
/*####################################################################*/
/*##########################page_big_cover_J02#########################*/
.page_big_cover_J02 .page_top, .page_big_left_J02 .page_top { background-image: url(../../../images/ePost/newspaper/paper_big_top_left_J01.png); padding-left:343px; min-height:80px;} 
.page_big_cover_J02 .page_top_right, .page_big_left_J02 .page_top_right{background-image: url(../../../images/ePost/newspaper/paper_big_top_right_J01.png) ; padding-right:310px; min-height:80px;}
.page_big_cover_J02 .page_top_bg, .page_big_left_J02 .page_top_bg{ background-image:url(../../../images/ePost/newspaper/paper_big_top_bg_J01.png); min-height:80px;}
.page_big_left_J02 .page_top h1 { margin-left:-374px; margin-right:-310px; width:795px; font-weight:bold; height:80px;background:url(../../../images/ePost/newspaper/title_left_big_J02.png) no-repeat 31px 35px; height:100px;   }
.page_big_cover_J02 .page_top h1 { margin-left:-374px; margin-right:-310px;background:url(../../../images/ePost/newspaper/title_cover_bg_J02.png) no-repeat 20px 8px;   width:795px; height:145px;}
.page_big_cover_J02 .page_top h1 .school_logo { background:url(../../../images/ePost/newspaper/schoollogo_bg_big_J02.png) no-repeat; width:100px; height:90px; display:block; left:50px; top:15px;}

.page_big_left_J02 .page_top h1 .school_logo { background:url(../../../images/ePost/newspaper/schoollogo_bg_J02.png) no-repeat; width:60px; height:50px; display:block; left:25px; top:35px;}







.page_big_cover_J02 .page_body, .page_big_left_J02 .page_body{ background-image: url(../../../images/ePost/newspaper/paper_big_left_J01.png); padding-left:88px; min-height:390px;}
.page_big_cover_J02 .page_body_right, .page_big_left_J02 .page_body_right { background-image: url(../../../images/ePost/newspaper/paper_big_right_J01.png) ; padding-right:71px; min-height:390px;}
.page_big_cover_J02 .page_body_bg, .page_big_left_J02 .page_body_bg { background-image: url(../../../images/ePost/newspaper/paper_bg_J01.png); min-height:390px;}
.page_big_cove_J02 .page_body_content, .page_big_left_J02 .page_body_content { margin-left:-50px; margin-right:-40px;min-height:390px;}

.page_big_cover_J02 .page_bottom, .page_big_left_J02 .page_bottom{ background-image: url(../../../images/ePost/newspaper/paper_big_bottom_left_J01.png); padding-left:328px; height:45px;}
.page_big_cover_J02 .page_bottom_right, .page_big_left_J02 .page_bottom_right { background-image: url(../../../images/ePost/newspaper/paper_big_bottom_right_J01.png) ; padding-right:358px; height:45px;}
.page_big_cover_J02 .page_bottom_bg, .page_big_left_J02 .page_bottom_bg {  background-image: url(../../../images/ePost/newspaper/paper_big_bottom_bg_J01.png) ; height:45px;}
/*####################################################################*/


/*###########################page_control_panel#########################################*/
.page_control_panel { display:block; background:url(../../../images/ePost/newspaper/control_panel_left.png) no-repeat left top; padding-left:38px; height:45px; width:730px; margin:0 auto}
.page_control_panel_right { display:block; background:url(../../../images/ePost/newspaper/control_panel_right.png) no-repeat right top; padding-right:38px; height:45px;}
.page_control_panel_bg { display:block; background:url(../../../images/ePost/newspaper/control_panel_bg.png) repeat-x top;  height:45px;}

/*###########################page_control_panel_button#########################################*/



.page_num span.page_select { background:url(../../../images/ePost/newspaper/control_panel_select_bg.png) no-repeat; width:80px; text-align:center; height:26px; padding-top:4px;}

.page_control_panel a { display:block; background:url(../../../images/ePost/newspaper/icon_control_btn.png) no-repeat; color:#FFFFFF; height:30px; line-height:30px; margin-top: -30px; font-size:1em; font-weight:bold}













/*####################################################################*/













.log_author {display:block;min-height:20px;  font-size:0.9em; padding-top:3px; padding-bottom:0px; float:left; margin-right:20px; line-height:22px;font-style:italic; padding-left:20px; background:url(../../../images/ePost/newspaper/btn_icon_tool.gif) no-repeat left -78px;}














 
 
 













/**********EDIT************/












/*enjoy board*/

.enjoy_ppl_board_top_left{ padding-left:28px; height:14px; display:block; background:url(../../../images/ePost/newspaper/enjoy_board_top_left.png) no-repeat left top;}
.enjoy_ppl_board_top_right{ padding-right:10px; height:14px; display:block; background:url(../../../images/ePost/newspaper/enjoy_board_top_right.png) no-repeat right top;}
.enjoy_ppl_board_top_bg{ height:14px; display:block; background:url(../../../images/ePost/newspaper/enjoy_board_top_bg.png) repeat-x top;}
.enjoy_ppl_board_left{ padding-left:10px;  display:block; background:url(../../../images/ePost/newspaper/enjoy_board_left.png) repeat-y left;}
.enjoy_ppl_board_right{ padding-right:10px; display:block; background:url(../../../images/ePost/newspaper/enjoy_board_right.png) repeat-y right;}
.enjoy_ppl_board_bg{  display:block; background:url(../../../images/ePost/newspaper/enjoy_board_bg.png); height:120px;}
.enjoy_ppl_board_bottom_left{ padding-left:10px; height:10px; display:block; background:url(../../../images/ePost/newspaper/enjoy_board_bottom_left.png) no-repeat left top;}
.enjoy_ppl_board_bottom_right{ padding-right:10px; height:10px; display:block; background:url(../../../images/ePost/newspaper/enjoy_board_bottom_right.png) no-repeat right top;}
.enjoy_ppl_board_bottom_bg{ height:10px; display:block; background:url(../../../images/ePost/newspaper/enjoy_board_bottom_bg.png) repeat-x top;}



.enjoy_ppl_list  li em{ display:block; float:left; margin-left:-25px; height:20px; width:20px; background: url(../../../images/ePost/newspaper/btn_icon_tool.gif) no-repeat left -80px;}



/*********** NEWS  SKIN*****************/
/*############################################# Type 01 #############################################*/

/******basketball orange*****/

.log_header_01_basketball_orange .log_header_top  { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/basketball/orange/news_head_top_left.png) no-repeat left top; height:20px; padding-left:10px;}
.log_header_01_basketball_orange .log_header_top_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/basketball/orange/news_head_top_right.png) no-repeat right top; height:20px; padding-right:70px;}
.log_header_01_basketball_orange .log_header_top_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/basketball/orange/news_head_top_bg.png) left top; height:20px;} 
.log_header_01_basketball_orange .log_header_body { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/basketball/orange/news_head_left.png) no-repeat left top; min-height:51px; padding-left:10px;}
.log_header_01_basketball_orange .log_header_body_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/basketball/orange/news_head_right.png) no-repeat right top; min-height:51px; padding-right:70px;}
.log_header_01_basketball_orange .log_header_body_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/basketball/orange/news_head_bg.png) left top no-repeat; min-height:51px; padding-top:1px} 

.log_header_01_basketball_orange .log_header_bottom {display:block; background: url(../../../images/ePost/newspaper/news_log_skin/type_01/basketball/orange/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:10px;}
.log_header_01_basketball_orange .log_header_bottom_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/basketball/orange/news_head_bottom_right.png) no-repeat right top; height:9px; padding-right:70px;}
.log_header_01_basketball_orange .log_header_bottom_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/basketball/orange/news_head_bottom_bg.png) left top; height:9px;} 



/****** building blue*****/

.log_header_01_building_blue .log_header_top  { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/building/blue/news_head_top_left.png) no-repeat left top; height:20px; padding-left:10px;}
.log_header_01_building_blue .log_header_top_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/building/blue/news_head_top_right.png) no-repeat right top; height:20px; padding-right:70px;}
.log_header_01_building_blue .log_header_top_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/building/blue/news_head_top_bg.png) top; height:20px;} 
.log_header_01_building_blue .log_header_body { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/building/blue/news_head_left.png) no-repeat left bottom; min-height:30px; padding-left:10px;}
.log_header_01_building_blue .log_header_body_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/building/blue/news_head_right.png) no-repeat right top; min-height:30px; padding-right:70px;}
.log_header_01_building_blue .log_header_body_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/building/blue/news_head_bg.png) left bottom no-repeat; min-height:30px; padding-top:3px} 

.log_header_01_building_blue .log_header_bottom {display:block; background: url(../../../images/ePost/newspaper/news_log_skin/type_01/building/blue/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:10px;}
.log_header_01_building_blue .log_header_bottom_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/building/blue/news_head_bottom_right.png) no-repeat right top; height:9px; padding-right:70px;}
.log_header_01_building_blue .log_header_bottom_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/building/blue/news_head_bottom_bg.png) left top no-repeat; height:9px;} 



/****** cloub pink*****/

.log_header_01_cloub_pink .log_header_top  { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/cloub/pink/news_head_top_left.png) no-repeat left top; height:20px; padding-left:153px;}
.log_header_01_cloub_pink .log_header_top_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/cloub/pink/news_head_top_right.png) no-repeat right top; height:20px; padding-right:70px;}
.log_header_01_cloub_pink .log_header_top_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/cloub/pink/news_head_top_bg.png) top; height:20px;} 
.log_header_01_cloub_pink .log_header_body { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/cloub/pink/news_head_left.png) no-repeat left top; min-height:30px; padding-left:10px;}
.log_header_01_cloub_pink .log_header_body_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/cloub/pink/news_head_right.png) no-repeat right top; min-height:30px; padding-right:70px;}
.log_header_01_cloub_pink .log_header_body_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/cloub/pink/news_head_bg.png) left top no-repeat; min-height:30px; padding-top:1px} 

.log_header_01_cloub_pink .log_header_bottom {display:block; background: url(../../../images/ePost/newspaper/news_log_skin/type_01/cloub/pink/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:10px;}
.log_header_01_cloub_pink .log_header_bottom_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/cloub/pink/news_head_bottom_right.png) no-repeat right top; height:9px; padding-right:70px;}
.log_header_01_cloub_pink .log_header_bottom_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/cloub/pink/news_head_bottom_bg.png) left top; height:9px;} 




/******phone green*****/

.log_header_01_phone_green .log_header_top  { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/phone/green/news_head_top_left.png) no-repeat left top; height:20px; padding-left:77px;}
.log_header_01_phone_green .log_header_top_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/phone/green/news_head_top_right.png) no-repeat right top; height:20px; padding-right:8px;}
.log_header_01_phone_green .log_header_top_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/phone/green/news_head_top_bg.png) left top; height:20px;} 
.log_header_01_phone_green .log_header_body { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/phone/green/news_head_left.png) no-repeat left top; min-height:51px; padding-left:77px;}
.log_header_01_phone_green .log_header_body_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/phone/green/news_head_right.png) no-repeat right top; min-height:51px; padding-right:8px;}
.log_header_01_phone_green .log_header_body_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/phone/green/news_head_bg.png) left top no-repeat; min-height:51px; padding-top:1px} 

.log_header_01_phone_green .log_header_bottom {display:block; background: url(../../../images/ePost/newspaper/news_log_skin/type_01/phone/green/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:77px;}
.log_header_01_phone_green .log_header_bottom_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/phone/green/news_head_bottom_right.png) no-repeat right top; height:9px; padding-right:8px;}
.log_header_01_phone_green .log_header_bottom_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/phone/green/news_head_bottom_bg.png) left top; height:9px;} 



/******phone blue*****/

.log_header_01_phone_blue .log_header_top  { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/phone/blue/news_head_top_left.png) no-repeat left top; height:20px; padding-left:77px;}
.log_header_01_phone_blue .log_header_top_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/phone/blue/news_head_top_right.png) no-repeat right top; height:20px; padding-right:8px;}
.log_header_01_phone_blue .log_header_top_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/phone/blue/news_head_top_bg.png) left top; height:20px;} 
.log_header_01_phone_blue .log_header_body { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/phone/blue/news_head_left.png) no-repeat left top; min-height:51px; padding-left:77px;}
.log_header_01_phone_blue .log_header_body_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/phone/blue/news_head_right.png) no-repeat right top; min-height:51px; padding-right:8px;}
.log_header_01_phone_blue .log_header_body_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/phone/blue/news_head_bg.png) left top no-repeat; min-height:51px; padding-top:1px} 

.log_header_01_phone_blue .log_header_bottom {display:block; background: url(../../../images/ePost/newspaper/news_log_skin/type_01/phone/blue/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:77px;}
.log_header_01_phone_blue .log_header_bottom_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/phone/blue/news_head_bottom_right.png) no-repeat right top; height:9px; padding-right:8px;}
.log_header_01_phone_blue .log_header_bottom_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/phone/blue/news_head_bottom_bg.png) left top; height:9px;} 



/******telephone_blue*****/

.log_header_01_telephone_blue .log_header_top  { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/telephone/blue/news_head_top_left.png) no-repeat left top; height:20px; padding-left:10px;}
.log_header_01_telephone_blue .log_header_top_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/telephone/blue/news_head_top_right.png) no-repeat right top; height:20px; padding-right:70px;}
.log_header_01_telephone_blue .log_header_top_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/telephone/blue/news_head_top_bg.png) left top; height:20px;} 
.log_header_01_telephone_blue .log_header_body { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/telephone/blue/news_head_left.png) no-repeat left top; min-height:51px; padding-left:10px;}
.log_header_01_telephone_blue .log_header_body_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/telephone/blue/news_head_right.png) no-repeat right top; min-height:51px; padding-right:70px;}
.log_header_01_telephone_blue .log_header_body_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/telephone/blue/news_head_bg.png) left top no-repeat; min-height:51px; padding-top:1px} 

.log_header_01_telephone_blue .log_header_bottom {display:block; background: url(../../../images/ePost/newspaper/news_log_skin/type_01/telephone/blue/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:10px;}
.log_header_01_telephone_blue .log_header_bottom_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/telephone/blue/news_head_bottom_right.png) no-repeat right top; height:9px; padding-right:70px;}
.log_header_01_telephone_blue .log_header_bottom_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/telephone/blue/news_head_bottom_bg.png) left top; height:9px;} 



/******tower blue*****/

.log_header_01_tower_blue .log_header_top  { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/tower/blue/news_head_top_left.png) no-repeat left top; height:20px; padding-left:10px;}
.log_header_01_tower_blue .log_header_top_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/tower/blue/news_head_top_right.png) no-repeat right top; height:20px; padding-right:70px;}
.log_header_01_tower_blue .log_header_top_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/tower/blue/news_head_top_bg.png) left top; height:20px;} 
.log_header_01_tower_blue .log_header_body { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/tower/blue/news_head_left.png) no-repeat left top; min-height:51px; padding-left:10px;}
.log_header_01_tower_blue .log_header_body_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/tower/blue/news_head_right.png) no-repeat right top; min-height:51px; padding-right:70px;}
.log_header_01_tower_blue .log_header_body_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/tower/blue/news_head_bg.png) left top no-repeat; min-height:51px; padding-top:1px} 

.log_header_01_tower_blue .log_header_bottom {display:block; background: url(../../../images/ePost/newspaper/news_log_skin/type_01/tower/blue/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:10px;}
.log_header_01_tower_blue .log_header_bottom_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/tower/blue/news_head_bottom_right.png) no-repeat right top; height:9px; padding-right:70px;}
.log_header_01_tower_blue .log_header_bottom_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/tower/blue/news_head_bottom_bg.png) left top; height:9px;} 



/******tower yellow*****/

.log_header_01_tower_yellow .log_header_top  { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/tower/yellow/news_head_top_left.png) no-repeat left top; height:20px; padding-left:10px;}
.log_header_01_tower_yellow .log_header_top_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/tower/yellow/news_head_top_right.png) no-repeat right top; height:20px; padding-right:70px;}
.log_header_01_tower_yellow .log_header_top_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/tower/yellow/news_head_top_bg.png) left top; height:20px;} 
.log_header_01_tower_yellow .log_header_body { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/tower/yellow/news_head_left.png) no-repeat left top; min-height:51px; padding-left:10px;}
.log_header_01_tower_yellow .log_header_body_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/tower/yellow/news_head_right.png) no-repeat right top; min-height:51px; padding-right:70px;}
.log_header_01_tower_yellow .log_header_body_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/tower/yellow/news_head_bg.png) left top no-repeat; min-height:51px; padding-top:1px} 

.log_header_01_tower_yellow .log_header_bottom {display:block; background: url(../../../images/ePost/newspaper/news_log_skin/type_01/tower/yellow/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:10px;}
.log_header_01_tower_yellow .log_header_bottom_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/tower/yellow/news_head_bottom_right.png) no-repeat right top; height:9px; padding-right:70px;}
.log_header_01_tower_yellow .log_header_bottom_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/tower/yellow/news_head_bottom_bg.png) left top; height:9px;} 


/******magnifier_purple*****/

.log_header_01_magnifier_purple .log_header_top  { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/magnifier/purple/news_head_top_left.png) no-repeat left top; height:20px; padding-left:10px;}
.log_header_01_magnifier_purple .log_header_top_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/magnifier/purple/news_head_top_right.png) no-repeat right top; height:20px; padding-right:70px;}
.log_header_01_magnifier_purple .log_header_top_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/magnifier/purple/news_head_top_bg.png) right top; height:20px;} 
.log_header_01_magnifier_purple .log_header_body { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/magnifier/purple/news_head_left.png) no-repeat left top; min-height:51px; padding-left:10px;}
.log_header_01_magnifier_purple .log_header_body_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/magnifier/purple/news_head_right.png) no-repeat right top; min-height:51px; padding-right:70px;}
.log_header_01_magnifier_purple .log_header_body_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/magnifier/purple/news_head_bg.png) right top no-repeat; min-height:51px; padding-top:1px} 

.log_header_01_magnifier_purple .log_header_bottom {display:block; background: url(../../../images/ePost/newspaper/news_log_skin/type_01/magnifier/purple/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:10px;}
.log_header_01_magnifier_purple .log_header_bottom_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/magnifier/purple/news_head_bottom_right.png) no-repeat right top; height:9px; padding-right:70px;}
.log_header_01_magnifier_purple .log_header_bottom_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_01/magnifier/purple/news_head_bottom_bg.png) left top; height:9px;} 



/*############################################# Type 02 #############################################*/


/****** flag *****/

.log_header_02_flag .log_header_top  { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/flag/news_head_top_left.png) no-repeat left top; height:20px; padding-left:144px;}
.log_header_02_flag .log_header_top_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/flag/news_head_top_bg.png) no-repeat right top; height:20px; padding-right:8px;}
.log_header_02_flag .log_header_top_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/flag/news_head_top_bg.png) top repeat-x; height:20px;} 
.log_header_02_flag .log_header_body { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/flag/news_head_left.png) no-repeat left top; min-height:50px; padding-left:144px;}
.log_header_02_flage .log_header_body_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/flag/news_head_bg.png) ; min-height:50x; padding-right:8px;}
.log_header_02_flag .log_header_body_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/flag/news_head_bg.png) ; min-height:50px; padding-top:3px} 

.log_header_02_flage .log_header_bottom {display:block; background: url(../../../images/ePost/newspaper/news_log_skin/type_02/flag/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:77px;}
.log_header_02_flag .log_header_bottom_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/flag/news_head_bottom_bg.png) repeat-x top; height:9px; padding-right:10px;}
.log_header_02_flag .log_header_bottom_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/flag/news_head_bottom_bg.png) repeat-x top; height:9px;} 


/****** color_blue *****/

.log_header_02_color_blue .log_header_top  { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/color/blue/news_head_top_left.png) no-repeat left top; height:20px; padding-left:144px;}
.log_header_02_color_blue .log_header_top_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/color/blue/news_head_top_bg.png) no-repeat right top; height:20px; padding-right:8px;}
.log_header_02_color_blue .log_header_top_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/color/blue/news_head_top_bg.png) top repeat-x; height:20px;} 
.log_header_02_color_blue .log_header_body { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/color/blue/news_head_left.png) no-repeat left top; min-height:50px; padding-left:144px;}
.log_header_02_color_blue .log_header_body_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/color/blue/news_head_bg.png) ; min-height:50x; padding-right:8px;}
.log_header_02_color_blue .log_header_body_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/color/blue/news_head_bg.png) ; min-height:50px; padding-top:3px} 

.log_header_02_color_blue .log_header_bottom {display:block; background: url(../../../images/ePost/newspaper/news_log_skin/type_02/color/blue/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:77px;}
.log_header_02_color_blue .log_header_bottom_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/color/blue/news_head_bottom_bg.png) repeat-x top; height:9px; padding-right:10px;}
.log_header_02_color_blue .log_header_bottom_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/color/blue/news_head_bottom_bg.png) repeat-x top; height:9px;} 


/****** color_yellow *****/

.log_header_02_color_yellow .log_header_top  { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/color/yellow/news_head_top_left.png) no-repeat left top; height:20px; padding-left:144px;}
.log_header_02_color_yellow .log_header_top_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/color/yellow/news_head_top_bg.png) no-repeat right top; height:20px; padding-right:8px;}
.log_header_02_color_yellow .log_header_top_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/color/yellow/news_head_top_bg.png) top repeat-x; height:20px;} 
.log_header_02_color_yellow .log_header_body { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/color/yellow/news_head_left.png) no-repeat left top; min-height:50px; padding-left:144px;}
.log_header_02_color_yellow .log_header_body_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/color/yellow/news_head_bg.png) ; min-height:50x; padding-right:8px;}
.log_header_02_color_yellow .log_header_body_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/color/yellow/news_head_bg.png) ; min-height:50px; padding-top:3px} 

.log_header_02_color_yellow .log_header_bottom {display:block; background: url(../../../images/ePost/newspaper/news_log_skin/type_02/color/yellow/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:77px;}
.log_header_02_color_yellow .log_header_bottom_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/color/yellow/news_head_bottom_bg.png) repeat-x top; height:9px; padding-right:10px;}
.log_header_02_color_yellow .log_header_bottom_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/color/yellow/news_head_bottom_bg.png) repeat-x top; height:9px;} 



/****** color_pink *****/

.log_header_02_color_pink .log_header_top  { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/color/pink/news_head_top_left.png) no-repeat left top; height:20px; padding-left:144px;}
.log_header_02_color_pink .log_header_top_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/color/pink/news_head_top_bg.png) no-repeat right top; height:20px; padding-right:8px;}
.log_header_02_color_pink .log_header_top_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/color/pink/news_head_top_bg.png) top repeat-x; height:20px;} 
.log_header_02_color_pink .log_header_body { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/color/pink/news_head_left.png) no-repeat left top; min-height:50px; padding-left:144px;}
.log_header_02_color_pink .log_header_body_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/color/pink/news_head_bg.png) ; min-height:50x; padding-right:8px;}
.log_header_02_color_pink .log_header_body_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/color/pink/news_head_bg.png) ; min-height:50px; padding-top:3px} 

.log_header_02_color_pink .log_header_bottom {display:block; background: url(../../../images/ePost/newspaper/news_log_skin/type_02/color/pink/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:77px;}
.log_header_02_color_pink .log_header_bottom_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/color/pink/news_head_bottom_bg.png) repeat-x top; height:9px; padding-right:10px;}
.log_header_02_color_pink .log_header_bottom_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/color/pink/news_head_bottom_bg.png) repeat-x top; height:9px;} 



/****** pin *****/

.log_header_02_pin .log_header_top  { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/pin/news_head_top_left.png) no-repeat left top; height:20px; padding-left:144px;}
.log_header_02_pin .log_header_top_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/pin/news_head_top_bg.png) no-repeat right top; height:20px; padding-right:8px;}
.log_header_02_pin .log_header_top_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/pin/news_head_top_bg.png) top repeat-x; height:20px;} 
.log_header_02_pin .log_header_body { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/pin/news_head_left.png) no-repeat left top; min-height:50px; padding-left:144px;}
.log_header_02_pin .log_header_body_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/pin/news_head_bg.png) ; min-height:50x; padding-right:8px;}
.log_header_02_pin .log_header_body_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/pin/news_head_bg.png) ; min-height:50px; padding-top:3px} 

.log_header_02_pin .log_header_bottom {display:block; background: url(../../../images/ePost/newspaper/news_log_skin/type_02/pin/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:77px;}
.log_header_02_pin .log_header_bottom_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/pin/news_head_bottom_bg.png) repeat-x top; height:9px; padding-right:10px;}
.log_header_02_pin .log_header_bottom_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/pin/news_head_bottom_bg.png) repeat-x top; height:9px;} 


/****** pin_orange *****/

.log_header_02_pin_orange .log_header_top  { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/pin_orange/news_head_top_left.png) no-repeat left top; height:20px; padding-left:144px;}
.log_header_02_pin_orange .log_header_top_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/pin_orange/news_head_top_bg.png) no-repeat right top; height:20px; padding-right:8px;}
.log_header_02_pin_orange .log_header_top_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/pin_orange/news_head_top_bg.png) top repeat-x; height:20px;} 
.log_header_02_pin_orange .log_header_body { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/pin_orange/news_head_left.png) no-repeat left top; min-height:50px; padding-left:144px;}
.log_header_02_pin_orange .log_header_body_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/pin_orange/news_head_bg.png) ; min-height:50x; padding-right:8px;}
.log_header_02_pin_orange .log_header_body_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/pin_orange/news_head_bg.png) ; min-height:50px; padding-top:3px} 

.log_header_02_pin_orange .log_header_bottom {display:block; background: url(../../../images/ePost/newspaper/news_log_skin/type_02/pin_orange/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:77px;}
.log_header_02_pin_orange .log_header_bottom_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/pin_orange/news_head_bottom_bg.png) repeat-x top; height:9px; padding-right:10px;}
.log_header_02_pin_orange .log_header_bottom_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/pin_orange/news_head_bottom_bg.png) repeat-x top; height:9px;} 


/****** redphone *****/

.log_header_02_redphone .log_header_top  { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/redphone/news_head_top_left.png) no-repeat left top; height:20px; padding-left:144px;}
.log_header_02_redphone .log_header_top_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/redphone/news_head_top_bg.png) no-repeat right top; height:20px; padding-right:8px;}
.log_header_02_redphone .log_header_top_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/redphone/news_head_top_bg.png) top repeat-x; height:20px;} 
.log_header_02_redphone .log_header_body { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/redphone/news_head_left.png) no-repeat left top; min-height:50px; padding-left:144px;}
.log_header_02_redphone .log_header_body_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/redphone/news_head_bg.png) ; min-height:40x; padding-right:8px;}
.log_header_02_redphone .log_header_body_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/redphone/news_head_bg.png) ; min-height:50px; padding-top:3px} 

.log_header_02_redphone .log_header_bottom {display:block; background: url(../../../images/ePost/newspaper/news_log_skin/type_02/redphone/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:77px;}
.log_header_02_redphone .log_header_bottom_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/redphone/news_head_bottom_bg.png) repeat-x top; height:9px; padding-right:10px;}
.log_header_02_redphone .log_header_bottom_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/redphone/news_head_bottom_bg.png) repeat-x top; height:9px;} 


/****** greenphone *****/

.log_header_02_greenphone .log_header_top  { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/greenphone/news_head_top_left.png) no-repeat left top; height:20px; padding-left:144px;}
.log_header_02_greenphone .log_header_top_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/greenphone/news_head_top_bg.png) no-repeat right top; height:20px; padding-right:8px;}
.log_header_02_greenphone .log_header_top_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/greenphone/news_head_top_bg.png) top repeat-x; height:20px;} 
.log_header_02_greenphone .log_header_body { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/greenphone/news_head_left.png) no-repeat left top; min-height:50px; padding-left:144px;}
.log_header_02_greenphone .log_header_body_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/greenphone/news_head_bg.png) ; min-height:40x; padding-right:8px;}
.log_header_02_greenphone .log_header_body_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/greenphone/news_head_bg.png) ; min-height:50px; padding-top:3px} 

.log_header_02_greenphone .log_header_bottom {display:block; background: url(../../../images/ePost/newspaper/news_log_skin/type_02/greenphone/news_head_bottom_left.png) no-repeat left top; height:9px; padding-left:77px;}
.log_header_02_greenphone .log_header_bottom_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/greenphone/news_head_bottom_bg.png) repeat-x top; height:9px; padding-right:10px;}
.log_header_02_greenphone .log_header_bottom_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_02/greenphone/news_head_bottom_bg.png) repeat-x top; height:9px;} 



/*############################################# Type 03 #############################################*/
/*===================01 line===============*/








.log_header_03_right .log_header_top, .log_header_03_left .log_header_top  { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_03/news_head_top_left.png) left top no-repeat ; height:10px; padding-left:46px;}
.log_header_03_right .log_header_top_right, .log_header_03_left .log_header_top_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_03/news_head_top_right.png) no-repeat right top;height:10px; padding-right:46px;}
.log_header_03_right .log_header_top_bg, .log_header_03_left .log_header_top_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_03/news_head_top_bg.png) top repeat-x; height:10px;} 


 


 
/*===================02 dotline===============*/








.log_header_03_right_dot .log_header_top, .log_header_03_left_dot .log_header_top  { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_03/news_head_top_left_dot.png) left top no-repeat ; height:20px; padding-left:46px;}
.log_header_03_right_dot .log_header_top_right, .log_header_03_left_dot .log_header_top_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_03/news_head_top_right_dot.png) no-repeat right top;height:20px; padding-right:46px;}
.log_header_03_right_dot .log_header_top_bg, .log_header_03_left_dot .log_header_top_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_03/news_head_top_bg_dot.png) top repeat-x; height:20px;} 


 



/*===================03 kiteline===============*/








.log_header_03_right_kiteline .log_header_top, .log_header_03_left_kiteline .log_header_top  { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_03/news_head_top_left_kiteline.png) left top no-repeat ; height:20px; padding-left:46px;}
.log_header_03_right_kiteline .log_header_top_right, .log_header_03_left_kiteline .log_header_top_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_03/news_head_top_right_kiteline.png) no-repeat right top;height:20px; padding-right:46px;}
.log_header_03_right_kiteline .log_header_top_bg, .log_header_03_left_kiteline .log_header_top_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_03/news_head_top_bg_kiteline.png) top repeat-x; height:20px;} 


 






/****** kite***/
.log_header_03_kite .log_header { background-image:url(../../../images/ePost/newspaper/news_log_skin/type_03/kite/news_head_bg.png)  ;}

.log_header_03_kite .log_content_body{  background-image:url(../../../images/ePost/newspaper/news_log_skin/type_03/kite/news_bg.png) }
/*thumb*/
.newspaper_page .log_header_03_kite .log_header { background-image:url(../../../images/ePost/newspaper/news_log_skin/type_03/kite/t_news_head_bg.png)  ;}

.newspaper_page .log_header_03_kite .log_content_body{  background-image:url(../../../images/ePost/newspaper/news_log_skin/type_03/kite/t_news_bg.png) }



/*===================04 redline===============*/








.log_header_03_right_redline .log_header_top, .log_header_03_left_redline .log_header_top  { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_03/news_head_top_left_redline.png) left top no-repeat ; height:20px; padding-left:46px;}
.log_header_03_right_redline .log_header_top_right, .log_header_03_left_redline .log_header_top_right { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_03/news_head_top_right_redline.png) no-repeat right top;height:20px; padding-right:46px;}
.log_header_03_right_redlinet .log_header_top_bg, .log_header_03_left_redline .log_header_top_bg { display:block; background:url(../../../images/ePost/newspaper/news_log_skin/type_03/news_head_top_bg_redline.png) top repeat-x; height:20px;} 


 





/****** writing***/
.log_header_03_writing .log_header { background-image:url(../../../images/ePost/newspaper/news_log_skin/type_03/writing/news_head_bg.png)  ;}

.log_header_03_writing .log_content_body{  background-image:url(../../../images/ePost/newspaper/news_log_skin/type_03/writing/news_bg.png) }


/****** travel***/
.log_header_03_travel .log_header { background-image:url(../../../images/ePost/newspaper/news_log_skin/type_03/travel/news_head_bg.png)  ;}

.log_header_03_travel .log_content_body{  background-image:url(../../../images/ePost/newspaper/news_log_skin/type_03/travel/news_bg.png) }
/****** travel2***/
.log_header_03_travel2 .log_header { background-image:url(../../../images/ePost/newspaper/news_log_skin/type_03/travel2/news_head_bg.png)  ;}

.log_header_03_travel2 .log_content_body{  background-image:url(../../../images/ePost/newspaper/news_log_skin/type_03/travel2/news_bg.png) }


/****** football***/
.log_header_03_football .log_header { background-image:url(../../../images/ePost/newspaper/news_log_skin/type_03/football/news_head_bg.png)  ;}

.log_header_03_football .log_content_body{  background-image:url(../../../images/ePost/newspaper/news_log_skin/type_03/football/news_bg.png) }
/****** pencil***/
.log_header_03_pencil .log_header { background-image:url(../../../images/ePost/newspaper/news_log_skin/type_03/pencil/news_head_bg.png)  ;}

.log_header_03_pencil .log_content_body{  background-image:url(../../../images/ePost/newspaper/news_log_skin/type_03/pencil/news_bg.png) }
/****** comic***/
.log_header_03_comic .log_header { background-image:url(../../../images/ePost/newspaper/news_log_skin/type_03/comic/news_head_bg.png)  ;}

.log_header_03_comic .log_content_body{  background-image:url(../../../images/ePost/newspaper/news_log_skin/type_03/comic/news_bg.png) }
/*############################################# Type 04 #############################################*/



 


 

/******** color ********/
.log_header_04_color {background:url(../../../images/ePost/newspaper/news_log_skin/type_04/color/news_main_bg.png)}
.log_header_04_color .log_content_body{ background:url(../../../images/ePost/newspaper/news_log_skin/type_04/color/news_bg.png) no-repeat right bottom; padding-left:20px; padding-right:10px;}


/******** milk ********/
.log_header_04_milk {background:url(../../../images/ePost/newspaper/news_log_skin/type_04/milk/news_main_bg.png)}
.log_header_04_milk .log_content_body{ background:url(../../../images/ePost/newspaper/news_log_skin/type_04/milk/news_bg.png) no-repeat right bottom; padding-left:20px; padding-right:10px;}


/******** ilovehk ********/
.log_header_04_ilovehk {background:url(../../../images/ePost/newspaper/news_log_skin/type_04/ilovehk/news_main_bg.png)}
.log_header_04_ilovehk .log_content_body{ background:url(../../../images/ePost/newspaper/news_log_skin/type_04/ilovehk/news_bg.png) no-repeat right bottom; padding-left:20px; padding-right:10px;}


/******** ilovehk2 ********/
.log_header_04_ilovehk2 {background:url(../../../images/ePost/newspaper/news_log_skin/type_04/ilovehk2/news_main_bg.png)}
.log_header_04_ilovehk2 .log_content_body{ background:url(../../../images/ePost/newspaper/news_log_skin/type_04/ilovehk2/news_bg.png) no-repeat right bottom; padding-left:20px; padding-right:10px;}


/******** ufo ********/
.log_header_04_ufo {background:url(../../../images/ePost/newspaper/news_log_skin/type_04/ufo/news_main_bg.png)}
.log_header_04_ufo .log_content_body{ background:url(../../../images/ePost/newspaper/news_log_skin/type_04/ufo/news_bg.png) no-repeat right bottom; padding-left:20px; padding-right:10px;}


/******** colorpen ********/
.log_header_04_colorpen {background:url(../../../images/ePost/newspaper/news_log_skin/type_04/colorpen/news_main_bg.png)}
.log_header_04_colorpen .log_content_body{ background:url(../../../images/ePost/newspaper/news_log_skin/type_04/colorpen/news_bg.png) no-repeat right bottom; padding-left:20px; padding-right:10px;}


/********Spaceship********/

.log_header_04_spaceship {background:url(../../../images/ePost/newspaper/news_log_skin/type_04/spaceship/news_main_bg.png)}
.log_header_04_spaceship .log_content_body{ background:url(../../../images/ePost/newspaper/news_log_skin/type_04/spaceship/news_bg.png) no-repeat right bottom; padding-left:20px; padding-right:10px;}


/******** Hong Kong ********/

.log_header_04_hongkong {background:url(../../../images/ePost/newspaper/news_log_skin/type_04/hongkong/news_main_bg.png)}
.log_header_04_hongkong .log_content_body{ background:url(../../../images/ePost/newspaper/news_log_skin/type_04/hongkong/news_bg.png) no-repeat right bottom; padding-left:20px; padding-right:10px;}


/******** tram ********/
.log_header_04_tram {background:url(../../../images/ePost/newspaper/news_log_skin/type_04/tram/news_main_bg.png)}
.log_header_04_tram .log_content_body{ background:url(../../../images/ePost/newspaper/news_log_skin/type_04/tram/news_bg.png) no-repeat right bottom; padding-left:20px; padding-right:10px;}


/******** tram2 ********/

.log_header_04_tram2 {background:url(../../../images/ePost/newspaper/news_log_skin/type_04/tram2/news_main_bg.png)}
.log_header_04_tram2 .log_content_body{ background:url(../../../images/ePost/newspaper/news_log_skin/type_04/tram2/news_bg.png) no-repeat right bottom; padding-left:20px; padding-right:10px;}


/******** taxi ********/
.log_header_04_taxi {background:url(../../../images/ePost/newspaper/news_log_skin/type_04/taxi/news_main_bg.png)}
.log_header_04_taxi .log_content_body{ background:url(../../../images/ePost/newspaper/news_log_skin/type_04/taxi/news_bg.png) no-repeat right bottom; padding-left:20px; padding-right:10px;}


/******** baseball ********/
.log_header_04_baseball {background:url(../../../images/ePost/newspaper/news_log_skin/type_04/baseball/news_main_bg.png)}
.log_header_04_baseball .log_content_body{ background:url(../../../images/ePost/newspaper/news_log_skin/type_04/baseball/news_bg.png) no-repeat right bottom; padding-left:20px; padding-right:10px;}


/****###############################********20121113  custom banner & school logo *****###############################**********/

/********* page_big************/

 
 












 

 



/********* page_big_00************/



 
 













 

 



/********* page_big_J01************/



 
 









 
 




/********* page_big_J02************/



 
 










 
 








/* .log_photo added by Thomas */
.log_photo tr td {border:0; padding:0;}

/* .no_margin_top added by Thomas */
.no_margin_top {margin-top:0}

/* .no_margin_bottom added by Thomas */
.no_margin_bottom {margin-bottom:0}