@charset "utf-8";
body {	background: #e7f1d2 url(../images/bg.jpg) no-repeat left top;	margin: 0px;	padding: 0px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:13px;scrollbar-face-color:#89e8fe;	scrollbar-base-color:#89e8fe;	scrollbar-arrow-color:#FFFFFF;	scrollbar-track-color:#d2f7ff;	scrollbar-shadow-color:#d2f7ff;	scrollbar-highlight-color:#d2f7ff;	scrollbar-3dlight-color:#d2f7ff;	scrollbar-darkshadow-Color:#d2f7ff;}
a { text-decoration:none; color:#0f5b91}
a :hover{ color:#FF0000}
p.spacer{clear:both; display:block; line-height:0px; font-size:0px; padding:0; margin:0; height:0px}
select, input { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:13px;}
.school_name_tab {float:left; display:block}
.home_icon{ display:block; float:left;width:50px; height:92px;}
.home_icon a{display:block; float:left;width:50px; height:50px; margin-top:20px}
.top_banner { display:block; padding-left:20px; padding-top:10px; height:32px; clear:both; line-height:50px; font-size:2em; color: #330000; font-weight:bold}
.main_board{ display:block; clear:both; min-width:970px }
.main_board_top_left{ display:block; padding-left:18px; height:122px; background:url(../images/board_top_left.png) no-repeat left bottom}
.main_board_top_right{ display:block; padding-right:18px; height:122px; background:url(../images/board_top_right.png) no-repeat right bottom}
.main_board_left{ display:block; padding-left:18px; background:url(../images/board_left.png) repeat-y left }
.main_board_right{ display:block; padding-right:18px; background:url(../images/board_right.png) repeat-y right; min-height:200px;}
.main_board_bottom_left{ display:block; padding-left:18px; height:40px; background:url(../images/board_bottom_left.png) no-repeat left top}
.main_board_bottom_right{ display:block; padding-right:18px; height:40px; background:url(../images/board_bottom_right.png) no-repeat right top; text-align:right}
.main_board_bottom_right a{ color: #666666; font-size:0.95em; display:block; margin-top:18px; text-decoration:none; float:right}
.main_board_bottom_right a:hover{ color:#FF0000;}

.portal_box{ display:block; float:left; width:49%}
.portal_box_trial{ display:block; border:10px solid #FFFFFF; padding:10px; background:#FEF0CF}
.portal_box_report{ display:block; border:10px solid #FFFFFF; padding:10px; background: #E0F3FE; height:185px;}
.portal_box_marking{ display:block; border:10px solid #FFFFFF; padding:10px; background: #d5f2ff;}
.portal_box_setting{ display:block; border:10px solid #FFFFFF; padding:10px; background: #EAEAEA; min-height:100px}
.portal_box h1{ padding:0; margin:0; font-size:1.1em; border-bottom:10px dotted #FFFFFF; line-height:30px; font-weight:normal; color:#333333}
/*modified 20120313 start */
h2 { display:block; padding:0; margin:0; font-size:1em; line-height:30px; font-weight:normal; color:#333333; padding-left:5px; padding-right:5px;}
h2.title_edit span{ display:block; float:left; text-decoration:underline}
h2.title_edit a{ display:block; float:right; padding-left:25px; background:url(../images/ej5/icon_content.gif) left top no-repeat; height:25px; line-height:25px;}
h2.title_edit a:hover{color:#FF0000}
/*modified 20120313 end*/
.intro{ display:block; padding:10px; clear:both}
.page_tab{  display:block;padding-top:31px; clear:both; padding-left:150px;}
.page_tab ul{	list-style-type: none;	margin:0;	margin-left: 0px; padding:0;display:block;}
.page_tab li{	display:inline;	margin:0;	padding:0;display:block; float:left}
.page_tab a{text-decoration:none;	float:left;	margin:0;	margin-right: 2px;  height:40px;padding-left:14px;/*padding:0 0 0 14px;	*/background: url(../images/tab_bg.png) no-repeat left -80px;}
.page_tab a span{padding-right:14px;float:left; font-size:1.1em; display:block;  height:40px;/* padding: 16px 15px 9px 0px;*/ line-height:42px;	background:url(../images/tab_bg.png) no-repeat right -120px; font-weight:bold; color:#909090;float:none;cursor: hand}
.page_tab a:hover{background-position:left 0px;}
.page_tab a:hover span {	color:#FF0000; line-height:40px; background-position:right -40px;}
.page_tab li.current_tab a{ background-position:0px 0px;}
.page_tab li.current_tab a span{ font-weight:bold; line-height:40px; background-position:right -40px;color:#0f5b91;}
.page_tab li.current_tab a:hover span{ color:#FF0000;}

.thumb_list_tab{	display:block; text-align:right; height:20px; padding:2px; padding-bottom: 5px;}
.thumb_list_tab em{ display:block; float:right; line-height:20px; color:#dedede; font-style:normal;margin-right:2px;margin-left:2px;}
.thumb_list_tab a{ height:20px; display:block; float:right;  padding-left:5px; background-image:url(../images/thumb_list_tab_left.gif); background-repeat: no-repeat; background-position: -1000px -1000px;color:#014d94;}
.thumb_list_tab a span{ background-image:url(../images/thumb_list_tab_right.gif); background-repeat: no-repeat; background-position:-1000px -1000px; display:block;  padding-right:5px; height:20px; line-height:20px; cursor: hand}
.thumb_list_tab a.thumb_list_tab_on{  background-position: left top; color:#FFFFFF; font-weight:bold}
.thumb_list_tab a.thumb_list_tab_on span{ background-position: right top;}
.thumb_list_tab a:hover{ background-position:left top; color:#FFFF00}
.thumb_list_tab a:hover span{ background-position: right top; color:#FFFF00}

.issue_list{float:left; width:48%; background:#F5F5F5; margin-right:2%;}

.issue_list ul, ul.issue_only  { display:block; margin:0; padding:10px;}
.issue_list ul li, ul.issue_only li { display:block; margin:0 0 0 10px;  clear:both; list-style-type:none;}
.issue_list ul li a, ul.issue_only li  a{ display:block; margin:0 ; padding:3px;  clear:both; background: url(../images/icon_folder_close.png) no-repeat left top; padding-left:30px; min-height:25px; padding-top:3px; line-height:20px;}
.issue_list ul li.folder_open a{ background-image:url(../images/icon_folder_open.png)} 
.issue_list ul li.folder_open ul li a, ul.issue_only li a{ background-image:url(../images/icon_issue.png)} 
.issue_list ul li a:hover{ background-color: #FFDE6F}
ul.issue_only li a:hover { color: #FF0000}
.select_form { disp lay:block; margin:0 auto; /*width:450px;*/}
.select_form a { display:block; padding-left:125px; line-height:50px; font-size:1.1em;  background:url(../images/icon_creative.png) no-repeat top left; min-height:60px}
.select_form a:hover { color:#FF0000}
.select_form a.writing{ background-image:url(../images/icon_writing.png);float:left;margin-right:10px; margin-left:10px;}
.select_form a.write { background-image:url(../images/icon_write.png);float:left;margin-right:10px; padding-left:40px;margin-left:10px; line-height:30px; margin-top:10px;}
.select_form a.creative{ background-image:url(../images/icon_creative.png);float:left;margin-right:10px; margin-left:10px;}
.select_form a.newsanchor{ background-image:url(../images/icon_newsanchor.png);float:left;margin-right:10px; margin-left:10px;}
.select_form a.newswriter{ background-image:url(../images/icon_newswriter.png);float:left;margin-right:10px; margin-left:10px;}
.select_form a.see_report{
margin-top:10px; padding-left:40px; background-image:url(../images/icon_report.png); min-height:35px; line-height:35px; margin-left:140px; margin-bottom:10px}

.select_form a.view_issue{
margin-top:10px; padding-left:40px; background-image:url(../images/icon_newspaper.png); min-height:35px; line-height:35px; margin-left:20px; margin-bottom:10px;}
.select_form a.marking {
margin-top:10px; padding-left:45px; background-image:url(../images/icon_marking.png); min-height:35px; line-height:35px; margin-left:140px; margin-bottom:10px}
.select_form a.setting { margin-top:10px; background-image:url(../images/icon_setting.png); line-height:35px; height:35px; float:left; padding-left:35px; text-align:center; padding-right:10px; margin-right:20px; margin-left:55px; margin-bottom:20px}
.natvigation  { display:block; margin-bottom:5px;}
.natvigation a{ display:block; float:left; padding-left:20px; color:#2369b9; padding-right:5px; background:url(../images/nav_arrow.gif) no-repeat top left}
.natvigation a:hover{color:#FF0000}
.natvigation span{ display:block; float:left; color:#000000; padding-left:20px; padding-right:5px; font-weight:bold; background:url(../images/nav_arrow.gif) no-repeat top left}
/********** Content table ***********/
.table_board{	clear:both; padding-left:2px; padding-right:2px;}
.table_board .table_top_left{ padding-left:6px; display:block; background-repeat:no-repeat; background-position:left bottom;background-image:url(../images/ej5/table/table_top_left_gray.gif);min-height:35px;}
.table_board .table_top_right{ min-height:35px; padding-right:6px; display:block; background-repeat:no-repeat; background-position:right bottom;background-image:url(../images/ej5/table/table_top_right_gray.gif);}

.table_board .table_left{ clear:both;; display:block; border-left:2px solid #bcbcbc; border-right:2px solid #bcbcbc;}
.table_board .table_right{ /*padding-right:3px; display:block; background :repeat-y right url(../images/ej5/table/table_content_right.png);*/}
.table_board .table_bottom_left{clear:both;height:35px;padding-left:6px;display:block; background:no-repeat url(../images/ej5/table/table_bottom_left.gif) bottom left;}
.table_board .table_bottom_right{ height:35px; padding-right:6px; display:block; background:no-repeat url(../images/ej5/table/table_bottom_right.gif) bottom right; line-height:20px; font-size:0.95em;}
.table_board .table_bottom_none{height:5px;}
.table_tool { float:right; padding-top:2px;}
.table_tool .table_tool_left{ height:27px; padding-right:6px; display:block; background-repeat:no-repeat; background-position:right top;background-image:url(../images/ej5/table/table_tool_left.gif);}
 .table_tool  .table_tool_right{  height:27px; padding-left:25px; display:block; background-repeat:no-repeat; background-position:left top;background-image:url(../images/ej5/table/table_tool_right.gif);}
.edit_mode_tool a { display:block; float:right; margin:3px; padding:0 8px 0 8px ; background:#3366CC; color:#FFFFFF; border-radius :4px;  -moz-border-radius :4px;  -webkit-border-radius :4px; }
.edit_mode_tool a:hover { background:#FF0000}
.edit_mode_tool a.delete_log { background:#b91919;}
.edit_mode_tool a.delete_log:hover { background:#000000;}
/********** Each table top ***********/
/*.table_tool .table_tool_left{ background-image:url(../images/ej5/table/table_tool_left_green.png);}
.table_tool .table_tool_right{background-image:url(../images/ej5/table/table_tool_right_green.png);}*/
.table_tool_v  { padding-top:0px;}
.table_tool_v .table_tool_left{ background:none; padding:0px;}
.table_tool_v .table_tool_right{background-image:url(../images/ej5/table/table_tool_right_green_v.png);background-position:left bottom; padding-bottom:5px;}
.table_tool_v  a{ margin:0px;}

.show_content { float:left; clear:none; width:100%;}
.show_content .show_content_top_left{ padding-left:8px; height:8px; display:block; background-repeat:no-repeat; background-position:left bottom; background-image:url(../images/ej5/eContent/content_board/right_top_left.png)}
.show_content .show_content_top_right{ height:8px; padding-right:15px; display:block; background-repeat:no-repeat; background-position:right bottom; background-image:url(../images/ej5/eContent/content_board/right_top_right.png)}
.show_content .show_content_left{ clear:both; padding-left:1px; display:block; background: repeat-y url(../images/ej5/eContent/content_board/right_content_left.gif);}
.show_content .show_content_right{ padding-right:7px; display:block; background :repeat-y right url(../images/ej5/eContent/content_board/right_content_right.png); min-height:760px;}
.show_content .show_content_bottom_left{clear:both;height:5px;padding-left:8px;display:block; background:no-repeat url(../images/ej5/eContent/content_board/right_bottom_left.png) bottom left;}
.show_content .show_content_bottom_right{ height:5px; padding-right:9px; display:block; background:no-repeat url(../images/ej5/eContent/content_board/right_bottom_right.png) bottom right; line-height:20px; font-size:0.9em;}

/**********  table tool ***********/
.table_tool a{	height:25px; width:25px;	background-image:url(../images/ej5/table/icon_table_tool.gif);background-repeat:no-repeat;display:block; color:#2F7510;	float:left;	margin-left:2px;margin-top:2px;}
.table_row_tool a{	height:25px; width:25px;background-image:url(../images/ej5/table/icon_table_tool.gif);	background-repeat:no-repeat;display:block; color:#2F7510;float:left;		margin-left:2px;}
.table_row_tool_qp{width:20px}
.table_row_tool span{float:left;}
.table_tool span{ color:#999999; float:left; display:block; padding-left:2px; padding-right:2px; padding-top:0px; line-height:20px;}
.table_tool a:hover{	color:#FF0000;}
a.tool_hide_board{background-position: 0px -550px;}
a.tool_hide_board:hover{background-position: -25px -550px;}

a.tool_delete{background-position: 0px -25px;}
a.tool_delete:hover{background-position: -25px -25px;}
a.tool_delete_dim{background-position: -50px -25px;}
a.tool_delete_dim:hover{background-position: -25px -25px;}

a.tool_edit{background-position: 0px 0px;}
a.tool_edit:hover{background-position: -25px 0px;}

a.tool_copy{background-position: 0px -100px;}
a.tool_copy:hover{background-position: -25px -100px;}

a.tool_edit_content{background-position: 0px -450px;}
a.tool_edit_content:hover{background-position: -25px -450px;}
a.tool_edit_dim{background-position: -50px 0px;}
a.tool_edit_dim:hover{background-position: -25px 0px;}
a.tool_task_edit{background-position: -60px 0px;}
a.tool_task_edit:hover{background-position: -20px 0px;}




a.tool_move_dim{background-position: -40px -200px;}
a.tool_move_dim:hover{background-position: -20px -200px;}
a.tool_setting_dim{background-position: -40px -180px;}
a.tool_setting_dim:hover{background-position: -20px -180px;}
a.tool_task_setting{background-position: -60px -180px;}
a.tool_task_setting:hover{background-position: -20px -180px;}
a.calendar{background-position: 0px -475px;}
a.calendar:hover{background-position: -25px -475px;}
a.tool_setting{background-position: 0px -400px;}
a.tool_setting:hover{background-position: -25px -400px;}
a.tool_enlarge{background-position: 0px -260px;}
a.tool_enlarge:hover{background-position: -20px -260px;}
/***modified 2010-03-09***/
a.tool_minimize{background-position: 0px -250px;}
a.tool_minimize:hover{background-position: -25px -250px;}
/***********/
a.tool_add{background-position: 0px -460px;}
a.tool_add:hover{background-position: -20px -460px;}
a.tool_add_small{background-position: 0px -700px;}
a.tool_add_small:hover{background-position: -25px -700px;}

a.tool_add_q{background-position: -40px -480px;}
a.tool_add_q:hover{background-position: -20px -480px;}
a.tool_zoom{background-position: 0px -60px;}
a.tool_zoom:hover{background-position: -20px -60px;}
a.tool_content_next{background-position: 0px -280px;}
a.tool_content_next:hover{background-position: -20px -280px;}
a.tool_content_prev{background-position: 0px -300px;}
a.tool_content_prev:hover{background-position: -20px -300px;}
a.tool_hide{background-position: 0px -320px;}
a.tool_hide:hover{background-position: -20px -320px;}
a.tool_open{background-position: 0px -340px;}
a.tool_open:hover{background-position: -20px -340px;}
a.tool_ref_hide{background-position: 0px -360px;}
a.tool_ref_hide:hover{background-position: -20px -360px;}
a.tool_ref_open{background-position: 0px -380px;}
a.tool_ref_open:hover{background-position: -20px -380px;}
a.preset_list{background-position: 0px -400px;}
a.preset_list:hover{background-position: -20px -400px;}
a.add_q_pool{background-position: 0px -500px;}
a.add_q_pool:hover{background-position: -20px -500px;}
a.at_q_pool{background-position: 0px -520px;}
a.at_q_pool:hover{background-position: -20px -520px;}
a.arrow_open{background-position: 0px -540px;}
a.arrow_open:hover{background-position: -20px -540px;}
a.arrow_close{background-position: 0px -560px;}
a.arrow_close:hover{background-position: -20px -560px;}
a.tool_notify {background: none; width:auto}
a.tool_notify:hover {color:#FF0000;}
a.tool_rich_text{background-position: 0px -620px;}
a.tool_rich_text:hover{background-position: -20px -620px;}
a.tool_add_attach{background-position: 0px -640px;}
a.tool_add_attach:hover{background-position: -20px -640px;}
a.tool_add_voice{background-position: 0px -660px;}
a.tool_add_voice:hover{background-position: -20px -660px;}
a.tool_add_attach_dim{background-position: -40px -640px;}
a.tool_add_voice_dim{background-position: -40px -660px;}
a.tool_edit_rich_text{background-position: 0px -680px;}
a.tool_edit_rich_text:hover{background-position: -20px -680px;}
a.tool_zip{background-position: 0px -740px;}
a.tool_zip:hover{background-position: -20px -740px;}
a.tool_move_file{background-position: 0px -760px;}
a.tool_move_file:hover{background-position: -20px -760px;}

a.tool_send_message{background-position: 0px -860px;}
a.tool_send_message:hover{background-position: -20px -860px;}
a.tool_message_history{background-position: 0px -840px;}
a.tool_message_history:hover{background-position: -20px -840px;}
a.tool_export{background-position: 0px -40px;}
a.tool_export:hover{background-position: -20px -40px;}
a.tool_import{background-position: 0px -880px;}
a.tool_import:hover{background-position: -20px -880px;}
a.tool_auto_mark{background-position: 0px -900px;}
a.tool_auto_mark:hover{background-position: -20px -900px;}
a.tool_download {background-position: 0px -920px;}
a.tool_download:hover{background-position: -20px -920px;}

a.tool_edit_difficulty{background-position: 0px -940px;}
a.tool_edit_difficulty:hover{background-position: -20px -940px;}
a.tool_edit_Status {background-position: 0px -960px;}
a.tool_edit_Status:hover{background-position: -20px -960px;}


a.tool_move{background-position: 0px -200px;}
a.tool_move:hover{background-position: -20px -200px;}
a.tool_draft{background-position: 0px -1000px;}
a.tool_draft:hover{background-position: -20px -1000px;}
a.tool_swap{background-position: 0px -980px;}
a.tool_swap:hover{background-position: -20px -980px;}
a.tool_public_task{background-position: 0px -125px;}
a.tool_public_task:hover{background-position: -25px -125px;}
a.tool_delete_post{background-position: 0px -1040px;}
a.tool_delete_post:hover{background-position: -20px -1040px;}
.content_top_tool{		clear:both;	display: block;	border-bottom: 2px dashed #e3e3e3; min-height:25px;	margin-bottom:18px; padding-top:15px; padding-bottom:5px;}
.Content_tool{	float:left; padding:2px; display:block;	padding-bottom:5px;}
.Content_tool a{	 background: url(../images/ej5/icon_content.gif) no-repeat; padding-left:25px; display:block; float:left; height:25px; line-height:25px;	color: #0f5b91;margin-left:5px;}
.Content_tool a:hover{	 	color: #FF0000;}
/*.Content_tool a.new{		 background-position: 0px -20px;}
.Content_tool a.new:hover{		 background-position: 0px -40px;}*/
.Content_tool a.new{		 background-position: 0px 0px;}
.Content_tool a.new:hover{		 background-position: 0px -25px;}
.Content_tool a.new_small{		 background-position: 0px -100px;}
.Content_tool a.new_small:hover{		 background-position: 0px -120px;}
.Content_tool a.manage{		 background-position: 0px -220px;}
.Content_tool a.manage:hover{		 background-position: 0px -240px;}
.Content_tool a.export{		 background-position: 0px -250px;}
.Content_tool a.export:hover{		 background-position: 0px -275px;}
.Content_tool a.import{		 background-position: 0px -1360px;}
.Content_tool a.import:hover{		 background-position: 0px -1380px;}

.Content_tool a.print{		 background-position: 0px -200px;}
.Content_tool a.print:hover{		 background-position: 0px -225px;}
.Content_tool a.new_qb_ref{		 background-position: 0px -1040px;}
.Content_tool a.new_qb_ref:hover{		 background-position: 0px -1060px;}
.Content_tool a.new_file{		 background-position: 0px -1040px;}
.Content_tool a.new_file:hover{		 background-position: 0px -1060px;}
.Content_tool a.new_folder{		 background-position: 0px -1080px;}
.Content_tool a.new_folder:hover{		 background-position: 0px -1100px;}
.Content_tool a.upload_file{		 background-position: 0px -1120px;}
.Content_tool a.upload_file:hover{		 background-position: 0px -1140px;}
.Content_tool a.edit_text{		 background-position: 0px -148px;}
.Content_tool a.edit_text:hover{		 background-position: 0px -125px;}
.Content_tool a.quote_msg{		 background-position: 0px -1260px;}
.Content_tool a.quote_msg:hover{		 background-position: 0px -1280px;}
.Content_tool a.to_top{		 background-position: 0px -1420px;}
.Content_tool a.to_top:hover{		 background-position: 0px -1440px;}
.Content_tool a.expand{		 background-position: 0px -1500px;}
.Content_tool a.expand:hover{		 background-position: 0px -1520px;}
.Content_tool a.collapse{		 background-position: 0px -1460px;}
.Content_tool a.collapse:hover{		 background-position: 0px -1480px;}

.Content_tool span{ float:left; display:block; margin-left:5px; color:#CCCCCC}
.Conntent_search{	float:right; padding:2px; display:block;	padding-bottom:5px;	height:20px;}
.Conntent_search input {padding:2px;padding-left:20px;width: 120px;	background: 0px 0px url(../images/ej5/icon_content.gif) no-repeat #FFFFFF;border: 1px solid #BDCEB0;		float:left}
.Conntent_search a{	display:block; float:left; height:20px; line-height:20px; margin-left:3px;color: #2b8b0a;}
.Conntent_search a:hover{	 	color: #FF0000;}
.Conntent_search span{ float:left; line-height:20px; color:#CCCCCC; padding-left:2px;padding-right:2px; display:block}
/**********  table filter ***********/
#table_filter{float:left; padding-top:3px; clear:both;}
/***********************************/
.table_board{	clear:both;	margin:0px auto;}
.common_table_list{	width: 100%;margin:0 auto;	border-collapse:separate;	border-spacing: 0px; 	*border-collapse: expression('separate', cellSpacing = '0px');}
.common_table_list tr th{	margin:0px;	padding:3px;padding-right:5px;padding-left:5px;	font-weight:normal;	background-position: center;	height:20px;	color: #000000;	text-align:left;	border-bottom: 1px solid #CCCCCC;line-height:20px;}
.common_table_list tr th a{	color: #3366CC;	}
.common_table_list  tr th a:hover{	color: #FF0000;}
.common_table_list tr td{margin:0px;padding:3px;padding-right:5px;padding-left:5px;text-align:left;border-top: 1px solid #FFFFFF;vertical-align:top;line-height:20px;}
.common_table_list tr.sub_row td{ background-color:#f4f4f4}

.common_table_list a {	color: #2286C5;}
.common_table_list  td a:hover {	color: #FF0000;}
.common_table_list .num_check{	width:18px;}
.common_table_list .last_update{	width:220px;}
.common_table_list .dateform{	width:110px;}
.common_table_list .row_tool{	width:80px;}
.common_table_list .new_msg{	width:30px;}
.common_table_list .normal .borderright{ border-right:#ddd 1px solid} /*Added 20110216*/
.common_table_list .sub_head .borderright{ border-right:#ddd 1px solid} /*Added 20110216*/

col.num_check{	width:18px;}
th.num_check{	width:18px;}
td.num_check{	width:18px;}
table.normal_table_list tr th { background-color:#CCCCCC; background-image:none;}
table.normal_table_list tr td { background-color:#FFFFFF; border-bottom:1px solid #CCCCCC}
table.rubrics_table_list{	width: 95%;border-collapse:separate;	border-spacing: 0px; 	*border-collapse: expression('separate', cellSpacing = '0px'); border:1px dashed #CCCCCC}
table.rubrics_table_list tr th { background-color:#CCCCCC; background-image:none;}
table.rubrics_table_list tr td { padding:3px; background-color:#FFFFFF;}
table.rubrics_table_list tr td h1{ margin:0; padding:0; line-height:20px; font-size:1em; margin-bottom:2px;}
table.criteria_table_list {	width: 95%;	border-collapse:separate;	border-spacing: 0px; 	*border-collapse: expression('separate', cellSpacing = '0px');}
table.criteria_table_list tr td { background-color:#f4f4f4; border-bottom:1px solid #FFFFFF}

table.pool_table_list tr th { background-color:#85bbdd; background-image:none;}
table.pool_table_list tr td { background-color:#eef7fd; border-bottom:1px solid #CCCCCC}
 .record_no{	 margin-top:7px;	float:left;}
.page_no{	float:right; height:25px; 	 margin-top:7px;}
.page_no a{	 float:left; display:block; height:18px; background-repeat:no-repeat;	 height:18px; width:18px;	 margin-top:1px;	background-image:url(../images/ej5/table/icon_table_tool.gif);	 }
.page_no span{	display:block; float:left; padding-left:2px; height:25px; padding-top:0px;}
.page_no span select{	border: 1px solid #CCCCCC;	 font-size:0.9em;}
a.first{background-position: 0px -300px;}
a.first:hover{background-position: -25px -300px;}
a.prev{background-position: 0px -325px;}
a.prev:hover{background-position: -25px -325px;}
a.next{background-position: 0px -375px;}
a.next:hover{background-position: -25px -375px;}
a.last{background-position: 0px -400px;}
a.last:hover{background-position: -25px -400px;}

.draft td { background-color:#ddecfa;border-bottom: 1px solid #CCCCCC;}
.past td { background-color: #ECFEDA;border-bottom: 1px solid #CCCCCC;}
.common_table_list tr td.past  { background-color: #ECFEDA;}
.normal td {	background-color: #FFFFFF;	border-bottom: 1px solid #CCCCCC;}
.group_normal td {	background-color: #f1f6e9; font-weight:bold;	}
.normal td.sub_normal_row { padding-left:20px;}
.normal td.normal_row_total { background-color:#f0f6e8; }
.group_normal td.normal_row_total { background-color:#e3edd4; font-weight:bold;}
.common_table_list tr th.table_total_top { background-image: url(../images/ej5/table/table_top_bg_green_total.gif)}
.record_bottom td {border-bottom: 1px solid #CCCCCC;}
.record_level_top td {border-bottom: 1px dashed #CCCCCC;}
.record_sub_level td {border-bottom: 1px solid #FFFFFF;}
.select_q td { background-color:#fff9c9}
.common_table_list tr.select_q td  { background-color: #fff9c9;}
.member_teacher td { background-color:#edfcdc}
.return_error td { background-color:#ffe0e1} /*2009-12-07 added*/
.page_container_table {width: 100%;margin:0 auto;	border-collapse:separate;	border-spacing: 0px; 	*border-collapse: expression('separate', cellSpacing = '0px');}
.common_table_list  tr th{ 	background-image:url(../images/ej5/table/table_top_bg_gray.gif);}
.common_table_list tr th a.prev_col {	display:block; float:left; 
	background-image:url(../images/ej5/table/icon_table_tool.gif); background-repeat:no-repeat; background-position:-45px -120px; width:10px; padding:0px }

.common_table_list tr th a.prev_col:hover { background-position:-25px -120px; }
.common_table_list tr th a.next_col {	display:block; float:left; 
	background-image:url(../images/ej5/table/icon_table_tool.gif); background-repeat:no-repeat; background-position:-45px -160px; width:10px; padding:0px }

.common_table_list tr th a.next_col:hover { background-position:-25px -160px; }

.common_table_list tr th a.sort_asc {	font-weight: bold;display:block; float:left; font-weight:bold;
	background-image:url(../images/ej5/table/icon_table_col_tool.gif); background-repeat:no-repeat; background-position:0px 0px; padding-left:15px; }

.common_table_list  tr th a.sort_asc:hover {	 background-position:0px -100px; }

.common_table_list  tr th a.sort_dec {	font-weight: bold;display:block; float:left;
	background-image:url(../images/ej5/table/icon_table_col_tool.gif); background-repeat:no-repeat; background-position:0px -200px; padding-left:15px; }

.common_table_list tr th a.sort_dec:hover {	 background-position:0px -300px; }

.common_table_list  tr.sub_head th{ 	background-image:none; background-color: #EEEEEE; }
.common_table_list  tr.sub_head th.bold{font-weight:bold; color:#181818} /*Added 20110221*/
.common_table_list  tr.sub_head th.bold{font-weight:bold; color:#181818} /*Added 20110221*/
.common_table_list  tr.sub_head_past th{background-image:none; background-color:#ECFEDA} /*Added 20110221*/
.common_table_list  tr.sub_head_past th.bold{font-weight:bold; color:#181818} /*Added 20110221*/
.common_table_list  tr.table_phase_head th{ 	background-image:url(../images/ej5/table/table_top_bg_blue.gif); }
.common_table_list  tr.table_task_head th{ 	background-image:url(../images/ej5/table/table_top_bg_yellow.gif);}
.common_table_list  tr.table_task_head th span{ float:left; display:block}
.common_table_list  tr.table_task_head th .table_tool { padding-top:0px;}


.common_table_list tr th { border-right:1px solid #FFFFFF; border-bottom:1px solid #FFFFFF;}
.common_table_list tr td { border-right:1px solid #EEEEEE;}
.common_table_list tr th.column_sep{ border-right:2px solid #FFFFFF; }
.common_table_list tr td.column_sep { border-right:2px solid #CCCCCC;}
tr.summary td { background-color:#d8edbd; border-top: 1px solid #999999;  border-bottom: 1px solid #999999;font-weight:bold}
.edit_table_list { float:left; width:100%}
.edit_table_list tr th{  background-image:none;background-color: #669746/* #71AA2F*/; color:#FFFFFF}
.edit_table_list {border:1px solid #CCCCCC;}
.edit_table_list tr td{border-left:1px solid #EEEEEE;border-bottom:1px solid #EEEEEE}
.edit_table_list tr.sub_head th{background-image:none; background-color: #EEEEEE; color:#000000 } /*Added 20110216*/

.edit_bottom { height:50px; padding:3px; display:block; clear:both;  text-align:center;background: url(../images/ej5/dotline_dot.gif) repeat-x top; padding-top:10px}
.edit_bottom span { float:left; clear:both; display:block; font-size:0.92em; color:#666666}

.formbutton{cursor:pointer;border:2px solid #ffd200;color:#a05e00;height:28px;padding-top:3px;padding-bottom:4px;background-image: url(../images/ej5/btn_bg.gif);background-position:0px 0px;}
.formbutton:hover{color:#ab0101;background-position:0px -30px;}

.formsubbutton{cursor:pointer;border:2px solid #c5c5c5;color:#737373;height:28px;padding-top:3px;padding-bottom:4px;background-image: url(../images/ej5/btn_bg.gif);background-position:0px -60px; }
.formsubbutton:hover{background-position:0px -90px; }
.formsmallbutton{cursor:pointer;border:1px solid #c5c5c5;color:#737373;height:20px;padding-top:1px;padding-bottom:2px;background-image: url(../images/ej5/btn_bg.gif);background-position:0px -65px; font-size: 0.95em;}
.formsmallbuttonon:hover{color:#000000;background-position:0px -95px; }
.record_indication { border:1px dashed #CCCCCC; display:block; padding:3px; clear:both; float:left; margin-bottom:10px;}
.record_indication ul { list-style-type:none; margin:0; padding:0;}
.record_indication ul li { padding:0px;  margin:0px;display:block; float:left; padding-left:20px; padding-right:15px;}
.record_indication ul li span{float:left; display:block; width:100%}
.record_indication ul li em{ width:15px; height:15px; margin-left:-20px; border:1px solid #DDDDDD; float:left;}

.title_row_normal{ }
.title_row_normal em { background-color:#FFFFFF}
.title_row_approved{ }
.title_row_approved em { background-color:#FFFFFF}
.title_row_waiting{}
.title_row_waiting em { background-color:#EBF6FA}
.title_row_suspend{}
.title_row_suspend em { background-color:#FFE0E1}
.title_row_passed{ }
.title_row_passed em{ background-color:#ffffff}
.title_row_past{ }
.title_row_past em { background-color:#ECFEDA}
.title_row_drafted{ }
.title_row_drafted em{ background-color:#f1f1f1}

.sectiontitle {	font-size: 1.1em;	font-weight: bold;	color: #006600;	padding-right: 3px;	/*padding-left: 23px;*/ padding-bottom:8px; display:block; float:left; line-height:25px;/* background: url(../images/icon_section.gif) no-repeat 0px 3px;*/}
.sectiontitle em{font-size:0.9em; font-style:normal}
/**********  Marking ***********/
.marking_board {   display:block;}
.student_work_content {display:block;  }
h1.student_work_title{margin:0; padding:0; font-size:18px; line-height:18px; margin-bottom:10px;}
.marking_area {display:block; background:#DCF2FA}
h1.marking_header { padding:0; margin:0; display:block; background:  url(../images/icon_marking.png) no-repeat top left  #94DAF1; height:40px; line-height:35px; color: #006699; font-size:15px; padding-left:40px; }
.common_table_list td a.alert_link {color: #FF0000;}
.common_table_list td a.alert_link:hover { text-decoration:underline}

.content_paper { display:block;  margin-top:0px; margin-bottom:10px;}
.content_paper_top_left{ display:block; height:30px; padding-left:30px; background:url(../images/paper_top_btm.png) no-repeat left top}
.content_paper_top_right{ display:block; height:30px; padding-right:30px; background:url(../images/paper_top_btm.png) no-repeat right -30px}
.content_paper_left{ display:block; padding-left:30px; background:url(../images/paper_bg_left.png) repeat-y left}
.content_paper_right{ display:block;  padding-right:30px; background:url(../images/paper_bg_right.png) repeat-y right; color:#000000}
.content_paper_bottom_left{ display:block; height:30px; padding-left:30px; background:url(../images/paper_top_btm.png) no-repeat left -60px}
.content_paper_bottom_right{ display:block; height:30px; padding-right:30px; background:url(../images/paper_top_btm.png) no-repeat right -90px}
.display_showboard {display:block; float:left; padding-left:35px; height:20px; background: url(../images/display_item.png) no-repeat 0 0px;}
.display_newspaper {display:block; float:left; padding-left:35px; height:20px; background: url(../images/display_item.png) no-repeat 0 -20px;}
.display_empty {display:block; float:left; padding-left:35px; height:20px;}

/*Markings Popup*/
#markings_pop {background:#1475b3}
#markings_pop .main_board{min-width:650px}
#markings_pop .main_board_top_left {height:18px}
#markings_pop .main_board_top_right {height:18px}
#markings_pop .main_board_bottom_left {height:18px}
#markings_pop .main_board_bottom_right {height:18px}
#markings_pop .edit_bottom {height:42px;}

.form_table{ width:97%;	margin:0 0;	border-collapse:separate;	border-spacing: 3px; 	*border-collapse: expression('separate', cellSpacing = '3px');}
.form_table tr td{	vertical-align:top;	text-align:left; line-height:18px; padding-top:3px; padding-bottom:3px;}
.form_table tr td a{ color: #9966CC;	}
.form_table tr th a{ color: #FFFFFF;	}
.form_table tr td a:hover{ color: #FF0000;	}
.form_table col.field_title {width:150px;}
.form_table col.field_c {width:10px;}
.form_table tr td .textbox{	width:98%}
.marking_area table.form_table{}
.marking_area table.form_table col.field_title {width:80px}
.shadetabs{display:block;margin-bottom: 5px; clear:both}
.shadetabs ul{ padding: 3px 0;margin-left: 0;border-bottom: 1px solid #b1bfdb;list-style-type: none;text-align: left; /*set to left, center, or right to align the menu as desired*/}
.shadetabs li{display: inline;margin: 0;}
.shadetabs li a{text-decoration: none;padding: 3px 7px;margin-right: 3px;border: 1px solid #d9d9d9;border-bottom: none;background-color: #FFFFFF;color: #a5a5a5;}
.shadetabs li a:hover{color:#FF0000;}
.shadetabs li.selected a{ font-weight: bold ;/*selected tab effect*/position: relative;top: 1px;border: 1px solid #b1bfdb;border-bottom: none;padding-top: 4px;background-image: url(../images/ej5/shade.gif);color: #2b64b2;}
/******************* step div ****************************/
.stepboard {margin:0 auto; width:85%; display:block; padding:5px; border: dashed 1px #32C617; margin-bottom:10px; clear:both}
.stepboard  h1 {display:block; background:#EDFFE0; color:#188107; font-size:1em; padding:2px; margin:0; line-height:15px; height:18px}
.stepboard ul {list-style-type: none; margin:0; padding:10px; clear:both; display:block}
.stepboard ul li{ display:inline;float:left; padding:0px; margin:0px; line-height:18px;}
.stepboard ul li div{ padding-left:25px; display:block;}
.stepboard ul li em {font-style:normal; color:#FFFFFF;  background:url(../images/ej5/stepnum_off.gif) no-repeat 3px 1px; margin-left:-25px; float:left; display:block; width:25px; height:25px; text-align:center;}
.stepboard ul li span {color:#C4C4C4; display:block; padding-right:10px;}
.stepboard ul li.stepon em {font-style:bold;  background:url(../images/ej5/stepnum_on.gif) no-repeat 1px top; line-height:20px}
.stepboard ul li.stepon span {color:#188107; font-weight:bold;}
        
.stepboard_2s ul li{ width:50%}                   
.stepboard_3s ul li{ width:33%}                   
.stepboard_4s ul li{ width:25%}                   
.stepboard_5s ul li{ width:20%}                
.issue_layout_img { border:1px solid #CCCCCC}
.select_layout{float:left; margin-left:5px; margin-right:5px; border:2px solid #FFFFFF}
.select_layout_selected {border:2px solid #00CC00}


/*
#newspaper_main{ display:block; border:1px solid #CCCCCC ; margin:0 auto; width:750px; min-height:300px; padding:5px; font-size:15px; }
.inside_01{}
#page_header {display:block; height:40px; border-bottom:1px solid #CCCCCC; margin-bottom:10px;  font-size:0.8em;}
#page_header h1{display:block; margin:0; padding:0;font-weight:bold; font-size:1em; width:450px; float:left}
.page_papername {display:block; line-height:30px; float:left; }
.page_issue {line-height:20px; font-weight:normal;font-size:1em;float:left; display:block; margin-left:20px;}
#page_title {display:block; margin-top:15px; width:240px; float:right; padding-right:50px ;text-align:right;}

.log_content{display:block; padding:5px; }

.log_content h1 {display:block; margin:0; padding:3px; background:#CCCCCC; font-size:1.4em; font-weight:bold; font-family:Georgia, 'Times New Roman', Times, serif; margin-bottom:10px;}
.log_photo {border:1px solid #CCCCCC;border-collapse:separate;	border-spacing: 5px; 	*border-collapse: expression('separate', cellSpacing = '5px'); background:#FFFFFF; margin-right:10px; display:block; }
.log_photo_file {display:block; background:#DDDDDD; width:300px; height:200px;}
.log_photo_desc {display:block; background:#FFFFFF; font-size:0.8em}
span.log_content_text{  font-size:1.1em}
.log_content_more {display:block; float:left; font-size:0.8em}
.log_author {display:block;  height:30px; line-height:30px; font-size:0.8em}
.log_enjoy_comment_tool {display:block;  height:30px; line-height:30px; font-size:0.8em}
.log_enjoy_comment_tool a, .log_enjoy_comment_tool span { display:block; float:left; padding-left:2px; padding-right:2px;}
.log_enjoy_comment_tool span { color:#CCCCCC}

.log_left {margin-right:1%}
.log_right {margin-left:1%}
.log_full_m{display:block;}
.log_full_m .log_content{min-height:250px;}
.log_half_long { display:block; float:left; width:48%;}
.log_half_long .log_content{min-height:500px;}
.log_half_long .log_photo_file {width:200px; height:120px;}
.log_half_long  span.log_content_text{ font-size:1em}
.log_half_short {display:block; float:left; width:48%;  }
.log_half_short .log_content{min-height:235px;}
.log_half_short .log_photo_file {width:80px; height:60px;}
.log_half_short  span.log_content_text{ font-size:0.9em}
*/
.pool_content { display:block; padding:5px; border:1px dashed #CCCCCC; background:#F7EEDB}

.custom_img_input { display:block; padding-left: 20px;}
a.img_file { display:block; float:left; background:url(../images/ej5/jpg.gif) no-repeat left 3px; padding-left:20px; width:auto; line-height:20px; }