/* Editing by  */

.Monday, .MON {
	background-color: #FFBB99;
}

.Tuesday, .TUE {
	background-color: #99FFBB;
}

.Wednesday, .WED {
	background-color: #FF99BB;
}

.Thursday, .THU {
	background-color: #FFEEAA;
}

.Friday, .FRI {
	background-color: #AAFFDD;
}
