/***********************************************************************************************************************/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> PRINT.CSS START <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/***********************************************************************************************************************/

/*#####################################################################################################################*/
/*##################### Common Elements ###############################################################################*/
/*#####################################################################################################################*/
html, body{
	color: #000000;
	background:#FFFFFF;
	padding:10px;
	margin: 0px; padding: 0px;
}
.tabletext {
	
	color: #000000;
}

.printbutton{
	
	cursor:pointer;
	border:1px outset #CCCCCC;
	color:#666666;
	font-weight:bold;
	padding: 1px 2px;
	background-color:#D7D7D7;
    Filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#ffFFFFFF',EndColorStr='#D7D7D7');

}
.printbuttonon{
	
	cursor:pointer;
	border:1px outset #CCCCCC;
	color:#9E9FA0;
	font-weight:bold;
	padding: 1px 2px;
	background-color:#EFEFEF;
    Filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#ffFFFFFF',EndColorStr='#EFEFEF');

}
.dotline {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #999999;
}

/*#####################################################################################################################*/
/*##################### Report Card ###################################################################################*/
/*#####################################################################################################################*/
.report_title {
		
		font-size: 20px;
		font-weight: normal;
		color: #000000;
		display:block;
		text-align:center; line-height:18px;
		padding:5px;
	}

.report_contenttitle {
		
		font-size: 13px;
		color: #000000;
		font-weight: bold;
	}

.report_formfieldtitle {
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: #000000;
	}

.summary_table {
		border-left: 1px solid #000000; 
		border-right: 1px solid #000000; 
		border-bottom: 1px solid #000000;
	}

.report_border {
		border: 1px solid #000000;
	}

.border_left {
		border-left: 1px solid #000000;
	}
.border_top {
		border-top: 1px solid #000000;
	}
.small_title {
		
		font-size: 11px;
		color: #000000;
		font-weight: bold;
	}
.small_text {
		
		font-size: 11px;
		color: #000000;
		}
.reportcard_text {
	FONT-SIZE: 10px; COLOR: #000000; 
}	

/*#####################################################################################################################*/
/*##################### eSports Document ##############################################################################*/
/*#####################################################################################################################*/

.eSportprinttitle {
	
	font-size: 15px;
	font-weight: normal;
	color: #000000;
}
.eSportprinttext {
	
	font-size: 13px;
	color: #000000;
}
.eSportprinttabletitle {
	
	font-size: 13px;
	color: #000000;
	background-color: #EEEEEE;
}
.eSporttdborder {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #333333;
	border-bottom-color: #333333;
}
.eSporttableborder {
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
}
.eSportunderline {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}

/*###############################################2008/11/28##########################################################*/
.tabletop_print {
	font-weight: bold;
	color: #FFFFFF;
	font-size: 13px;
	color: #000000;
	background-color: #EEEEEE;

}
.tabletop_print td{
	padding:3px;
	border-bottom: 1px solid #999999;
	border-right: 1px solid #999999;
}
.tableborder_print {
	border-top: 2px solid #999999;
	border-left: 2px solid #999999;
	border-bottom: 1px solid #999999;
	border-right: 1px solid #999999;
}
.tableborder_print_alone {
	border: 2px solid #999999;

}
.row_underline {
	background-color: #FFFFFF;
	border-bottom: 1px solid #999999;

}
.row_print td{
	padding:3px;
	border-bottom: 1px solid #999999;
	border-right: 1px solid #999999;
}

.td_row_print {
	padding:3px;
	border-bottom: 1px solid #999999;
	border-right: 1px solid #999999;
}

.sectiontitle_print{
	font-size: 14px;
	font-weight: bold;

}
.page_title_print{
	font-size: 16px;
	font-weight: bold;
	text-align:center;
	padding-bottom:10px;
	padding-top:10px;

	text-decoration:underline

}
/*###############################################2009/01/16##########################################################*/

.form_sep_title_print{
	color:#999999;
	/*background-color:#FFFFFF;*/
	padding-right:3px;
	padding-left:3px;

	margin-top:10px;
	display:block
}

/***************************************/
/********* Table Grey ************/
.common_table_list_v30{	border: 1px solid #666666; border-right:none; border-bottom:none}
.common_table_list_v30 tr th{	margin:0px;	padding:3px;	padding-top:5px;	padding-bottom:5px;	background-color: #A6A6A6;	font-weight: bold;	color: #FFFFFF;	text-align:left;	border-bottom: 1px solid #666666;		border-right: 1px solid #666666	;}

.common_table_list_v30 tr th{	background-color: #ffffff/* #71AA2F*/; color:#000000; border-bottom: 1px solid #666666;}

.common_table_list_v30 tr td{margin:0px;padding:5px 3px 5px 3px;background-color: #FFFFFF;	border-bottom: 1px solid #666666;	border-right: 1px solid #666666	;vertical-align:top;}


/***********************************************************************************************************************/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> PRINT.CSS END <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/***********************************************************************************************************************/