@charset "utf-8";

.common_table_list_v30 tr th.level1_table_header {
	background-color: #9E9E9E;
}
.common_table_list_v30 tr td.level1_table_content {
	background-color: #FFFFFF;
}
.common_table_list_v30 tr th.level2_table_header {
	background-color: #7E7E7E;
}
.common_table_list_v30 tr td.level2_table_content {
	background-color: #F4F4F4;
}
.common_table_list_v30 tr th.level3_table_header {
	background-color: #5E5E5E;
}
.common_table_list_v30 tr td.level3_table_content {
	background-color: #E0E0E0;
}

.common_table_list_v30 tr td.not_check_cell {
	background-color: #C0C0C0;
}
.common_table_list_v30 tr td.special_cell {
	background-color: #F0F0F0;
}

.common_table_list_v30 tr td.within_schedule_cell {
	background-color:#AADC74;
}

.common_table_list_v30 tr th.apply_all_top {
	background-color:#4E4E4E;
}

.common_table_list_v30 tr th.apply_all_top_bulk {
	background-color:#6E6E6E;
}

.sortable_table tr td {padding: 0px 0px;}
.sortable_table tr.move_selected td{ background-color:#fbf786; border-top: 2px dashed #d3981a; border-bottom: 2px dashed #d3981a}

ul { list-style-type: none; margin:0; padding-left:20px; }
.sortable { width:250px; }
.sortable li label, .sortable li{ cursor:move; }
.placeholder {border: 1px dotted #888; width:200px; height:14px; }

.move_td{ cursor:move; }

.report_table
{
	border:1px solid #000;
	border-collapse: collapse;
}

.grandmarksheet_title
{
	font-style:bold;
	font-size:18px;
}

span.compare_report_title
{
	margin:5px;
	font-weight:bold;
	font-size:14px;
}