/* Modified by  */
@charset "utf-8";
 
html, body {color: black; background-color: white;}
table tr td.editable {cursor:default;}

.sundayField,
.event_list_month span,
.title_group_event,
.title_school_event,
.title_academic,
.title_public_holiday,
.title_school_holiday
{color: black;}

.tabletop,
.public_holiday,
.booking_calendar_date,
.non_bookable,
.icalendar_weektitle,
.indexcalendarremark,
.school_event,
.academic_event,
.school_holiday,
.common_table_list tr.sub_row td
{color: black; background-color: white;}

.sunday_holiday .public_holiday
{text-decoration: none;}

font.school_holiday,
font.public_holiday,
.school_event div.booking_calendar_date,
.academic_event div.booking_calendar_date,
.group_event div.booking_calendar_date,
.group_event div.booking_calendar_date .public_holiday
{text-decoration: underline;}


.sub_row {color:red;}