/* For login.html */
body.loginPage
{
  background-image:url("../images/main_bg.png");
  background-size:cover;
  background-position: center center;
}

.CustCommon #blkContainer
{
  height:100%;
  margin:0 auto;
  padding-bottom: 100px;
}

.CustCommon #blkContainer::after
{
  display: inline-block;
  content:"";
  height:100%;
  width:0;
  vertical-align: middle;
}

.CustCommon #blkContainer > *
{
  vertical-align: middle;
}

.CustCommon #blkContainer > #blkLoginWrapper
{
  width:98%;
  left:1%;
  text-align: center;
}

.CustCommon #blkLogin
{
  width:470px;
  margin-left:auto;
  margin-right: auto;
  background-color:white;
  box-shadow: 0px 6px 14px -3px rgba(0, 0, 0, 0.2);
  padding:50px;
  font-size:18px;
  line-height: 22px;
  margin-top:40px;
  text-align: left;
}

.CustCommon #blkLogin .invaidMsg
{
  float:right;
  color:red;
  font-size: 14px;
}

.CustCommon #blkLogin .invaidMsg + div
{
  overflow: hidden;
}

.CustCommon #blkLogin > input
{
  width:100%;
  margin-bottom: 15px;
}

.CustCommon #blkLogin > .forgot_password
{
  font-size: 16px;
  line-height: 42px; /* Align with button */
  z-index: 1;
}

.CustCommon #blkLogin > .login_button
{
  width:auto;
  float:right;
  border:0;
  z-index: 2;
}

.CustCommon #blkLogin > .login_button, #blkLogin > .forgot_password
{
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
}

.CustCommon #blkLogin > .login_button:hover
{
  background-color:#666666;
}

.CustCommon #lbleClass
{
  width:470px;
}

.CustCommon #blkLoginWrapper #lbleClass #lblBL
{
  float:left;
}

/*
.CustCommon #blkLoginWrapper #lbleClass #btnGoogleSignin2
{
  float:left;
  border: 0;
  background-image: url("../images/btn_google_signin_light_normal_web.png");
  background-color: transparent;
  height: 46px;
  width: 191px;
  background-size: 191px 46px;
  background-position: top left;
  cursor: pointer;
  left: -4px;
  top: -10px;
}
*/

.CustCommon #blkLoginWrapper #blkLoginDivider
{
    color:white;
    text-align: center;
    width:470px;
    margin-left:auto;
    margin-right: auto;
    opacity: 0.7;
    margin-bottom:20px;
}

.CustCommon #blkLoginWrapper #blkLoginDivider > span:nth-of-type(2n-1)
{
    width:calc(50% - 30px);
    height:1px;
    background: white;
    vertical-align: middle;
}

.CustCommon #blkLoginWrapper #blkLoginDivider > span:nth-child(2)
{
    width:30px;
    margin:0 5px;
}

.CustCommon #blkLoginWrapper #btnGoogleSignin
{
  width:470px;
  height:40px;
  margin-left:auto;
  margin-right: auto;
  display: block;
  border:0;
  background-color: white;
  background-image: url("../images/btn_google_signin_whitebg.png");
  background-size: 191px 46px;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
  box-shadow: 0 1px 0 rgba(0,0,0,.15);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.CustCommon #blkLoginWrapper #btnGoogleSignin:hover
{
  -webkit-box-shadow: 0 2px 1px rgba(0,0,0,.25);
  box-shadow: 0 2px 1px rgba(0,0,0,.25);
}

@media screen and (max-width: 470px)
{
  .CustCommon #blkLogin, .CustCommon #blkLoginWrapper #lbleClass, .CustCommon #blkLoginWrapper #blkLoginDivider, .CustCommon #blkLoginWrapper #btnGoogleSignin
  {
    width:90%;
  }

  .CustCommon #blkLogin
  {
    padding:5%;
  }

  .CustCommon .invaidMsg
  {
    max-width: 42%;
    line-height: 14px;
    margin-top: -3px;
  }

  .CustCommon #blkLogin > .login_button
  {
    float: none;
    margin: 0px auto 30px auto;
    width: 100%;
    display: block;
  }

  .CustCommon #blkLogin > .forgot_password
  {
    margin: 0 auto 15px auto;
    display: block;
    text-align: center;
    line-height: 22px;
  }
}
