.loadingContainer {
  margin-top: 50px;
  margin-bottom:50px;
  display:none;
}

.loader {
  position: relative;
  width: 44px;
  height: 8px;
  margin: 12px auto;
}
.loadingtext { line-height:40px; text-align:center; }
.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: #ccc;
  position: absolute;
}

.dot_1 {
  animation: animateDot1 1.5s linear infinite;
  left: 12px;
  background: #f00;
}

.dot_2 {
  animation: animateDot2 1.5s linear infinite;
  animation-delay: 0.5s;
  left: 24px;
}

.dot_3 {
  animation: animateDot3 1.5s linear infinite;
  left: 12px;
}

.dot_4 {
  animation: animateDot4 1.5s linear infinite;
  animation-delay: 0.5s;
  left: 24px;
}

@keyframes animateDot1 {
  0% {
    transform: rotate(0deg) translateX(-12px);
  }
  25% {
    transform: rotate(180deg) translateX(-12px);
  }
  75% {
    transform: rotate(180deg) translateX(-12px);
  }
  100% {
    transform: rotate(360deg) translateX(-12px);
  }
}
@keyframes animateDot2 {
  0% {
    transform: rotate(0deg) translateX(-12px);
  }
  25% {
    transform: rotate(-180deg) translateX(-12px);
  }
  75% {
    transform: rotate(-180deg) translateX(-12px);
  }
  100% {
    transform: rotate(-360deg) translateX(-12px);
  }
}
@keyframes animateDot3 {
  0% {
    transform: rotate(0deg) translateX(12px);
  }
  25% {
    transform: rotate(180deg) translateX(12px);
  }
  75% {
    transform: rotate(180deg) translateX(12px);
  }
  100% {
    transform: rotate(360deg) translateX(12px);
  }
}
@keyframes animateDot4 {
  0% {
    transform: rotate(0deg) translateX(12px);
  }
  25% {
    transform: rotate(-180deg) translateX(12px);
  }
  75% {
    transform: rotate(-180deg) translateX(12px);
  }
  100% {
    transform: rotate(-360deg) translateX(12px);
  }
}


.set:not(:last-child) {

}
.elm-body .btn,
.set .btn {
	display: inline-block;
	margin: 5px 5px;
	padding: 5px 10px 5px;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 1px rgba(0, 0, 0, 0.1), inset 0 -10px 20px rgba(0, 0, 0, 0.1);
  	cursor: pointer;
  	outline:none;
}

.btn.sec {
	color: #777;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	background: #fff;
}

.btn.sec:hover {
	background: #f5f5f5;
}

.btn.pri {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.set.blue .input-field {
	line-height:20px;
}
.set.blue .btn.pri {
	background: #59d;
}

.set.green .btn.pri {
	background: #6b6;
}

.set.red .btn.pri {
	background: #d33;
}

.set.black .btn.pri {
	background: #555;
}

.set.blue .btn.pri:hover {
	background: #48c;
}

.set.green .btn.pri:hover {
	background: #5a5;
}

.set.red .btn.pri:hover {
	background: #c22;
}

.set.black .btn.pri:hover {
	background: #444;
}

.btn.sec.ico,
.btn.pri.ico {
	position: relative;
	padding-left: 40px;
	text-align: left;
}

/*************************************************************************************/
.form_table_v30 tr td.tabletext {
	border-bottom: none;
}
.SupplementaryRequest { margin:10px; margin-top:20px; padding-top:10px; }
.SupplementaryRequest .contenttitle { padding-left:0px; }
.SupplementaryRequest textarea { width:100%; display:block; box-sizing:border-box; }

.eFormBGRed { background-color:#f00; } 
#eForm_errorMsg { color:#f00; text-align:center; line-height:30px; }

.eform_holder { width:100%; display:block; }
.eform_holder .eform_folder_area { width:15%; float:left; }
.eform_holder .eform_folder_area .folder_holder {
	margin-right:15px;
	padding-bottom:10px;
}

.eform_holder .eform_folder_area .folder_holder .treetools {
	margin-top:20px;
	padding:10px;
	padding-right:0px;
	border-top:1px dotted #dfdfdf;
	text-align:right;
}

.eform_holder .btn-info { background-color:#efefef; padding:5px; color:#000;  }

.eform_holder .eform_content_area { width:85%; float:right; }
.eform_holder .clearboth { clear:both; }

.eform_holder ul.fancytree-container { border:none; background-color:transparent; }
.eform_holder ul.fancytree-treefocus { border:none; outline:none; }

.folder_breadcrumb {
	border-bottom:1px dotted #afafaf;
	padding-bottom:10px;
	margin-bottom:10px;
}
.folder_breadcrumb a {
	padding-left: 5px; padding-right:5px;
	color:#2285c5;
}
.folder_breadcrumb a:hover {
	color:#f00;
}
.folder_breadcrumb a.selected {
	font-weight:bold;
}
#selectedhdr { display:none; margin-bottom:15px; }
#item_title { padding-top:5px; display:block; background-color:#fff; padding:10px; color:#000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.card {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color:#efefef;
	padding:10px;
}

.card.card-warnings {
	padding:5px;
	background-color:#faefd2;
}

.card.card-info {
	padding:5px;
	background-color:#b7d6f5;
}

.card.selected {
	background: #1c92d2;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #1c92d2, #baf3ff);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #1c92d2, #baf3ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color:#fff;
}

/**/
td.move_file {
	background-color: #baf3ff!important; /* fallback for old browsers */
}

.card .card-title { padding:10px; display:none; }

.card .card-title .panel_action_title h3 { margin-top:0px; border-bottom:2px solid #fff; }
.card .card-title .panel_action_title h3 span {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color:#fff; color:#000; display:inline-block; padding:5px; padding-left:10px; padding-right:10px;
}

.card .card-body { background-color:#fff; padding:5px; }

.card-body .info_remark { padding:10px; color:#777; }
.card-body .info_remark ul { margin:0px; padding-left:18px; padding-top:10px; }
.card-body .info_remark ul li { padding-bottom:5px; }

#folder_action { margin-top:0px; padding-left:10px; padding-right:10px; }
#folder_action .actionbox { float:left; }

#folder_action .actionbox.set.red { float:right; }

.promptbox { display:none; width:60%; min-width:300px; max-width:550px; padding:0px!important; margin:0px!important;}
.promptbox .boxTitle { padding:10px; padding-left:15px; padding-right:15px; background-color:#dfdfdf; font-weight:bold; font-size:1.2em; color:#777; }

.promptbox .boxMsg { display:none; padding:10px; text-align:center; padding-top:50px; padding-bottom:50px; color:#777; font-size:1.2em; }
.promptbox .boxMsg.warning { padding-top:10px; padding-bottom:10px; color:#f00; }
.promptbox .boxMsg.info { color:#33a217; }
.promptbox.promptbox-blue .boxTitle { background-color:#59d; color:#fff; }
.promptbox.promptbox-blue .fancybox-close-small:after { color:#fff; }
.promptbox.promptbox-blue .fancybox-close-small:hover:after { color:#777; }

.promptbox.promptbox-red .boxTitle { background-color:#d33; color:#fff; }
.promptbox.promptbox-red .fancybox-close-small:after { color:#fff; }
.promptbox.promptbox-red .fancybox-close-small:hover:after { color:#777; }

.promptbox .fancybox-container { font-family:Verdana, Arial, Helvetica, sans-serif, 新細明體, 細明體_HKSCS, mingliu; }

.promptbox .boxBody { padding:15px; font-size:14px; }
.promptbox .boxBody .row { margin-bottom:10px; }
.promptbox .boxBody .row .label { float:left; width:40%; }
.promptbox .boxBody .row .inputField { float:left; width:55%; }
.promptbox .boxBody .row input.input-field { line-height:20px; border:1px solid #777; outline:none; }
.promptbox .boxBody .row input.input-field.err { border:1px solid #f00; }
.promptbox .boxBody .row .clearboth { clear:both; }
.promptbox .boxBody .text-warning i { color:#f00; }
.promptbox .boxBody .text-msg { padding-top:30px; padding-bottom:30px; text-align:center; }

.promptbox .boxFooter { border-top:1px dotted #777; background-color:#f7f7f7; padding:5px; padding-left:10px; padding-right:10px; text-align:right; }

.fancytree-statusnode-error span.fancytree-icon, .fancytree-statusnode-error span.fancytree-icon:hover { background-position: 0 -127px!important; }

.fancybox-button.fancybox-button--share { display:none!important; }

#closeOptions { display:none; }
#action_remarks { display:none; color:#777; line-height:25px; }
#action_remarks.warning { color:#f00; }

#tree {
  -vendor-animation-duration: 5s;
  -vendor-animation-delay: 5s;
  -vendor-animation-iteration-count: 1;
  overflow:auto;
  min-height:180px;
}

#tree::-webkit-scrollbar {
  width: 2px;
  height: 5px;
}
#tree::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
#tree::-webkit-scrollbar-thumb {
  background: #afafaf;
  border: 0px none #ffffff;
  border-radius: 50px;
}
#tree::-webkit-scrollbar-thumb:hover {
  
}
#tree::-webkit-scrollbar-thumb:active {
  background: #5598dc;
}
#tree::-webkit-scrollbar-track {
  background: #efefef;
  border: 0px none #ffffff;
  border-radius: 50px;
}
#tree::-webkit-scrollbar-track:hover {
}
#tree::-webkit-scrollbar-track:active {
  background: #efefef;
}
#tree::-webkit-scrollbar-corner {
  background: transparent;
}

/****************** tooltip ********************/
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  filter: alpha(opacity=0);
  opacity: 0;

  line-break: auto;
}
.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #f00;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #f00;
}
.tooltip.top-left .tooltip-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #f00;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #f00;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #f00;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #f00;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #f00;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #f00;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #f00;
}
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 350px;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

  line-break: auto;
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.popover-content {
  padding: 9px 14px;
}
.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover > .arrow {
  border-width: 11px;
}
.popover > .arrow:after {
  content: "";
  border-width: 10px;
}
.popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, .25);
  border-bottom-width: 0;
}
.popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0;
}
.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, .25);
  border-left-width: 0;
}
.popover.right > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #fff;
  border-left-width: 0;
}
.popover.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, .25);
}
.popover.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff;
}
.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, .25);
}
.popover.left > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #fff;
}
/****************** tooltip ********************/
@media only screen and (max-width:1151px) {
	.eform_holder .eform_folder_area { width:25%; }
	.eform_holder .eform_content_area { width:75%; }
}

@media only screen and (min-width: 1152px) and (max-width:1444px) {
	.eform_holder .eform_folder_area { width:20%; }
	.eform_holder .eform_content_area { width:80%; }
}
.dtp { background: rgba(0, 0, 0, 0.80); }
.dtp-picker table { font-size:15px; }
.dtp > .dtp-content > .dtp-date-view > header.dtp-header { background-color:#318bdd; }
.dtp div.dtp-date, .dtp div.dtp-time { background:#a6cdf3; }
.dtp .p10 > a { color:#318bdd; }
.dtp div.dtp-actual-year { color:#3c88c8; }
.dtp table.dtp-picker-days tr > td > a.selected { background:#3c88c8; }
.btn.btn-flat { margin:5px; background-color:#3c88c8; color:#fff; border:none; padding:5px 10px 5px; cursor:pointer; outline:none; }
.dtp-btn-cancel.btn.btn-flat { background-color:#efefef; color:#000; }
.btn.btn-flat:hover { background-color:#888; outline:none; color:#fff; }
.dtp div.dtp-picker-month, .dtp div.dtp-actual-time { font-weight:bold; }