.form-style-2{
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
}
.form-style-2-heading {
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}
/*
.form-style-2 label{
    display: block;
    margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
    width: 100px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}
*/
.form-style-2 span.required{
    color:red;
}
.form-style-2 .tel-number-field{
    width: 40px;
    text-align: center;
}
.form-style-2 input.input-field{
    width: 48%;
    
}

.form-style-2 input.input-field, 
.form-style-2 .tel-number-field, 
.form-style-2 .textarea-field, 
 .form-style-2 .select-field{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}
.form-style-2 .input-field:focus, 
.form-style-2 .tel-number-field:focus, 
.form-style-2 .textarea-field:focus,  
.form-style-2 .select-field:focus{
    border: 1px solid #519de4;
}
.form-style-2 .textarea-field{
    height:100px;
    width: 55%;
}
.form-style-2 input[type=submit].formBtn,
.form-style-2 input[type=button].formBtn {
    border: none;
    padding: 8px 15px 8px 15px;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.form-style-2 input[type=submit].formBtn,
.form-style-2 input[type=button].formBtn {
	margin-top:5px;
	background: #afafaf;
}
.form-style-2 input[type=submit].formBtn:hover,
.form-style-2 input[type=button].formBtn:hover{
    background: #808080;
    color: #fff;
}
.form-style-2 input.btn-blue { background: #509de3; }
.form-style-2 input.btn-green { background: #3dc351; }
.form-style-2 input.btn-red { background: #ff7c7c; }
.form-style-2 input.btn-blue:hover { background: #2075c3; }
.form-style-2 input.btn-red:hover { background: #bd4c4c; }
.form-style-2 input.btn-green:hover { background: #2d9a3d; }
.form-style-2 input[type='checkbox'],
.form-style-2 input[type='radio'] {
/* Double-sized Checkboxes */
  -ms-transform: scale(1.2); /* IE */
  -moz-transform: scale(1.2); /* FF */
  -webkit-transform: scale(1.2); /* Safari and Chrome */
  -o-transform: scale(1.2); /* Opera */ }
  
.form-style-2 input[type=submit]:disabled,
.form-style-2 input[type=button]:disabled,
.form-style-2 input[type=submit]:disabled:hover,
.form-style-2 input[type=button]:disabled:hover { background:#afafaf; }

/*************************************************************************************/
.form-preview { margin-top:10px; font-size:12px; line-height: 20px; }

.form-preview table,
.form-preview select,
.form-preview input,
.form-preview textarea { /* line-height: 20px;  */}

.form-wrap { padding-bottom:10px; }

.form-wrap table, 
.form-wrap div,
.form-wrap p,
.form-wrap select,
.form-wrap textarea,
.form-wrap input,
.form-wrap option,
.form-wrap span { font-family: Verdana, Arial, Helvetica, sans-serif, 新細明體, 細明體_HKSCS, mingliu; }

.form-header { font-size: 1.5em; border-bottom:3px solid #dfdfdf; padding:10px;}

.form-info { padding:10px; padding-left:0px; }
.form-useredit .form-info { display:none; }
.form-body { /* border:2px solid #dfdfdf; -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1);
box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1); */ }
.form-body .elm { position:relative; padding-bottom:5px; }
.form-body .elm .elm-type { background-color:#efefff; padding:5px; }
.form-body .elm .elm-body { margin:10px; margin-bottom:0px; }
.form-body .elm h1,
.form-body .elm h2,
.form-body .elm h3 { margin:0px; padding:0px;}
.form-body .elm h1 { font-size: 1.6em; }
.form-body .elm h2 { font-size: 1.4em; }
.form-body .elm h3 { font-size: 1.3em; }
.form-body .elm .elmParagraph { font-size:1.2em; }
.form-body .elm .table-header { padding-bottom:5px; }
.form-body .elm table { border:1px solid #afafaf; border-collapse: collapse; width:100%; }
.form-body .elm table.displayTable { border:none; }
.form-body .elm table thead { background-color:#efefef; }
/*
.form-body .elm table.fixedTable thead { background-color:#ddeeff; }
.form-body .elm table.dynamicTable thead { background-color:#faefd2; }
*/
.form-body .elm table thead tr th, .form-body .elm table tbody tr td { padding:5px; border:1px solid #afafaf; border-collapse: collapse; text-align:left; vertical-align:top; }
.form-body .elm table.displayTable thead tr th, .form-body .elm table.displayTable tbody tr td { border:none; vertical-align:top; border:1px solid #afafaf; border-collapse: collapse; }
.form-body .elm table thead tr th { text-align:center; vertical-align:bottom; }
.form-body .elm textarea { width:100%; display:block; box-sizing:border-box }
/*
.form-body .elm input[type='text'], .form-body .elm input[type='number'], .form-body .elm select { height: 25px; }
*/
.form-body .elm select.isMultiple { min-height:70px; }
.form-body .elm textarea,
.form-body .elm input[type='text'],
.form-body .elm select,
.form-body .elm table input[type='tel'],
.form-body .elm table input[type='email'],
.form-body .elm table input[type='number'] { width:100%; display:block; box-sizing:border-box; }
.form-body .elm button.formBtn { margin-top:10px; }
.form-body .elm .clearboth { clear:both; }
.form-body .elm input[type='text'].hasDatepick { width:auto; display:inline-block; }
.form-body .elm input[type='text'].input-field-other { width:100px; display:inline-block; margin-left:10px;  }
.form-body textarea { resize: vertical; }
.form-body input[readonly], .form-body textarea[readonly] { background-color:#f6f6f6; resize: none; border:none; box-shadow:none; background:none; }

.form-info .elmLabel,
.form-body .elmLabel { font-size: 1.1em; padding:5px; padding-left:0px; line-height:2em; font-weight:bold; }

.form-wrap .text-left { text-align:left; }
.form-wrap .text-center { text-align:center; }
.form-wrap .text-right { text-align:right; }

.form-wrap .text-red { color:#ff7c7c; }

.form-foot .elm { position:relative; padding-bottom:10px; }
.form-foot .elm .elm-body { margin:10px; margin-bottom:0px; }

.form-wrap .elmRequired::before {
	content: "* ";
	color:red;
}
.form-wrap .dynno { font-weight:bold; }
.form-wrap .TABLE_TPL { display:none; }
.form-wrap .select-field.error,
.form-wrap .textarea-field.error,
.form-wrap .input-field.error { border:1px solid #f00; background-color:#fdeaea; }
.form-wrap .select-field.error:focus,
.form-wrap .textarea-field.error:focus,
.form-wrap .input-field.error:focus,
.form-wrap .select-field.error:active,
.form-wrap .textarea-field.error:active,
.form-wrap .input-field.error:active { border:1px solid #f00!important; }

.form-wrap .elmRequired.elmError { color:#f00; }
.form-wrap .elm label.error { color:#f00; }
.form-wrap .inforow { display:block; clear:both; margin-bottom:2px; font-size:1.1em; }
.form-wrap .inforow label.infolabel { background-color:#efefef; width:150px; display:inline-block; float:left; padding:5px; padding-left:10px; }
.form-wrap .inforow div.infoVal { margin:5px; margin-left:10px; float:left; font-weight:bold; }
.form-wrap .clearboth { clear:both; height:1px; }
.form-wrap .dualselect { color:#009aff; }

.form-wrap .userdata {
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
    margin-bottom:5px; 
}
.form-wrap .dualselect .yeartag {
	padding:0px; padding-left:5px; padding-right:5px; margin:5px;
	font-size:13px;
	font-weight:bold;
	color:#000;
}

.form-wrap .dualselect .tags { background-color:#d1e5f8;
	float:left;
	padding:5px;
	padding-left:10px; padding-right:10px; margin:5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:#000;
	font-size:12px;
	min-width:100px;
	min-height:20px; 
	line-height:20px;
	text-align:center;
}

.form-wrap .dualselect .tags:hover { background-color:#fed9da; }
.form-wrap .dualselect .btn { color:#000; clear:both; background-color:#ffe7a3; }
.form-wrap .dualselect.elmError .btn,
.form-wrap .dualselect .btn:hover { color:#f00; }

.form-wrap table .dualselect .btn { padding:5px 5px 5px;  margin-left:0px; margin-right:0px; display:block; text-align:center; }
.form-wrap table .userdata { border:none; box-shadow:none; }
.form-wrap table .dualselect .yeartag { margin:0px; }
.form-wrap table .dualselect .tags { float:none; display:block; margin:2px; }

.form-wrap .presetVal { color:#000; margin:5px; }
.form-preview .presetVal { border-bottom:1px solid #dfdfdf; }
.SupplementaryRequest { background-color:#f0f0f0; padding:20px; }
/* .form-wrap .elm { display:none; } */

.form-wrap .form-suppreq { background:#ffd9d9; padding:20px; }
.form-wrap .form-suppreq .suppTitle { font-size: 1.2em; font-weight:bold; }
.form-wrap .form-suppreq .SupFormInfo { border:1px solid #a08c8c; padding:10px; background-color:#fff; }

.wickedpicker { height:auto; }
.wickedpicker__title { padding:5px; }

.fancybox-slide--iframe .fancybox-content { width:90%; min-width:700px; max-width:1000px; padding:0px!important; margin:0px!important; }
.fancybox-toolbar { display:none; }
