html,
body {
  height: 100%;
}

body {
  background-image: none;
  background:none;
  background-color: #cfcfcf!important;
  font-family: Verdana, Arial, Helvetica, sans-serif, 新細明體, 細明體_HKSCS, mingliu;
}
body > div {}

#fb-template {
  // display: none;
}

.template-textarea-wrap {
  display: block !important;
}

.content {
  margin: auto;
  width: 100%;
  max-width: 1280px;
}

.form-rendered .build-wrap {
  display: none;
}

.render-wrap {
  display: none;
}

.form-rendered .render-wrap {
  display: block;
}

#edit-form {
  display: none;
  float: right;
}

.form-rendered #edit-form {
  display: block;
}
.frmb-control li:first-child,
.frmb-control li:last-child,
.frmb .form-elements { border-radius:0px!important; }

.action-buttons { margin-top:10px; }

/* .icon-tableElm { display:none; } */
.icon-autocomplete,
.icon-button,
.icon-file,
.icon-hidden,
.icon-date { display:none; }

.icon-subjectGroupElm:before,
.icon-teacherElm:before,
.icon-studentElm:before { content:"\E806"; }

.icon-timeFieldElm:before, 
.icon-datetimeFieldElm:before,
.icon-dateFieldElm:before { content:"\E801"; }
.icon-fixedTableElm:before { content:"\229E"; }
.icon-dynamicTableElm:before { content:"\25A6"; font-size:25px!important; vertical-align: middle; margin-left:-2px!important; margin-right:2px!important; }

.frmb .prev-holder input[type=number], .frmb .prev-holder input[type=text], .frmb .prev-holder select, .frmb .prev-holder textarea { width:100%; line-height:25px; }

.frmb li:first-child { border-top-right-radius:0px!important; border-top-left-radius:0px!important; }
.frmb li:last-child { border-bottom-right-radius:0px!important; border-bottom-left-radius:0px!important; }
.action-buttons { text-align:right; }

.table-condensed th,
.datepicker td { text-align:center; cursor:pointer; }
.prev-holder input.datepicker { width:200px; } 
.tableHdr { border:1px solid #808080; background-color:#efefef; padding:5px; }