body { margin:0px; padding:0px; }
html, body, table, div, select, textarea, input, option { font-family: Verdana, Arial, Helvetica, sans-serif, 新細明體, 細明體_HKSCS, mingliu; }

.fancybox-button.fancybox-button--share { display:none!important; }

.dualSelectPanel { width:100%; padding:0px!important; margin:0px!important; min-height:500px; }

.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group { margin-left:0px; }

.dualSelectPanel .ds_title { padding:10px; padding-left:15px; padding-right:15px; background-color:#59d; color:#fff; font-weight:bold; font-size:1.2em; }
.dualSelectPanel.teacherElm .ds_content .btn-default { background-color:#59d; color:#fff; border:1px solid #204a73; }
.dualSelectPanel.teacherElm .ds_content .btn-default:hover { background-color:#cfcfcf; color:#777; }

.dualSelectPanel.studentElm .ds_title { background-color:#3cba5d; }
.dualSelectPanel.studentElm .ds_content .btn-default { background-color:#3cba5d; color:#fff; border:1px solid #00731d; }
.dualSelectPanel.studentElm .ds_content .btn-default:hover { background-color:#cfcfcf; color:#777; }

.dualSelectPanel.subjectGroupElm .ds_title { background-color:#ba8d3c; }
.dualSelectPanel.subjectGroupElm .ds_content .btn-default { background-color:#ba8d3c; color:#fff; border:1px solid #785008; }
.dualSelectPanel.subjectGroupElm .ds_content .btn-default:hover { background-color:#cfcfcf; color:#777; }

.dualSelectPanel .fancybox-close-small:after { color:#fff; }
.dualSelectPanel .fancybox-close-small:hover:after { color:#777; }
.dualSelectPanel .ds_content { padding:20px; min-height:490px; }
.dualSelectPanel .ds_footer { background-color:#dfdfdf; padding:20px; padding-top:10px; padding-bottom:10px; text-align:right; }
.dualSelectPanel.single button.moveall,
.dualSelectPanel.single button.removeall { display:none; }
.dualSelectPanel.single .bootstrap-duallistbox-container .move,
.dualSelectPanel.single .bootstrap-duallistbox-container .remove { width:100%; }
.dualSelectPanel .ds_content .remark { margin-top:20px; }

.dualSelectPanel .ds_footer .btn-info { background-color:#59d; }
.dualSelectPanel.subjectGroupElm .ds_footer .btn-info { background-color:#ba8d3c; border-color:#916515; }
.dualSelectPanel.studentElm .ds_footer .btn-info { background-color:#3cba5d; border-color:#169136; }

.rightbtn { float:right; color:#fff; }

option { padding:5px; padding-bottom:2px; padding-top:2px; }

.bottomborder { border-bottom:1px dotted #777; padding-bottom:10px; }
.yearpanel { padding-bottom:10px; }
.typepanel { padding-bottom:10px; }

.text-bold { font-weight:bold; padding-top:5px; padding-bottom:5px; }