.content_pop_board_190 h1.ref{
	text-transform: uppercase;
}
.content_pop_board_write_190 table.table_sub th {
	white-space:nowrap; font-weight:normal;
	vertical-align:top;
}
.common_table_list td {
	background:white;
}
.write_board .ref {
	margin-top: 30px;
}
.marking_board {
	margin-top: 30px;
}

.mark_comment #comment_board{
	visibility:visible;
	display: none;
}

.board_mid_writing_content strong{
	line-height:28px;
}