 .bluelink_15pt:link  {color:#000000; text-decoration:underline; font-size: 15px;}
 .bluelink_15pt:visited {color:#000000; text-decoration:underline; font-size: 15px;}
 .bluelink_15pt:hover {color:#0000FF; text-decoration:underline; font-size: 15px;}

 .greenlink_15pt:link {color:#006600; text-decoration:none; font-size: 15px;}
 .greenlink_15pt:visited {color:#006600; text-decoration:none; font-size: 15px;}
 .greenlink_15pt:hover {color:#006600; text-decoration:underline; font-size: 15px;}

 .greenlink2:link { color:#006600; text-decoration:none; }
 .greenlink2:visited { color:#006600; text-decoration:none; }
 .greenlink2:hover { color:#006600;	font-weight:bold; background-color:#DBECA8; }

 .orangelink01 { color:#cc0000; text-decoration:none}
 .orangelink01:hover { color:#FF6600; font-weight:none; text-decoration:underline; background-color:none}

 .orangelink:link { color:#FF6600; text-decoration:none; background-color:#FFD89D; }
 .orangelink:visited {color:#FF6600; text-decoration:none; background-color:#FFD89D;}
 .orangelink:hover { color:#FF6600;	font-weight:bold; background-color:#FFD89D; }

 .orangelink_15pt:link {color:#000000;text-decoration:none;font-size: 15px;}
 .orangelink_15pt:visited {color:#000000;text-decoration:none;font-size: 15px;}
 .orangelink_15pt:hover {color:#FF6600;font-weight:none;background-color:none;font-size: 15px;}

 .orangelink_submenu:link { color:#990000;	font-weight:bold; text-decoration:underline;	font-size: 13px;}
 .orangelink_submenu:visited {color:#990000;	font-weight:bold; text-decoration:underline;	font-size: 13px;}
 .orangelink_submenu:hover {color:#FF6600;	font-weight:bold;	background-color:none;	font-size: 13px;}

 .orangelink_13pt:link {	color:#000000;	text-decoration:none;	font-size: 13px;}
 .orangelink_13pt:visited {	color:#000000;	text-decoration:none;	font-size: 13px;}
 .orangelink_13pt:hover {	color:#FF6600;	font-weight:none;	background-color:none;	font-size: 13px;}

 .pinklink_11pt:link {	color:#ff3399;	text-decoration:none;	font-size: 11px;}
 .pinklink_11pt:visited {	color:#ff3399;	text-decoration:none;	font-size: 11px;}
 .pinklink_11pt:hover {	color:#ff3399;	text-decoration:underline;	background-color:none;	font-size: 11px;}

 .pinklink_12pt:link {
	color:#ffffff;
	text-decoration:none;
	font-size: 12px;
	background-color: #FF6699;
}
 .pinklink_12pt:visited {
	color:#ffffff;
	text-decoration:none;
	font-size: 12px;
	background-color: #FF6699;
}

 .pinklink_12pt:hover {
    color:#ff3399;
	text-decoration:none;
	font-size: 12px;
	background-color: #FFFFFF;}

 .redlink_15pt:link {color:#cc0000;	text-decoration:none;font-size: 15px;}
 .redlink_15pt:visited {color:#cc0000;text-decoration:none;font-size: 15px;}
 .redlink_15pt:hover {color:#FF6600;font-weight:none;text-decoration:underline;background-color:none;font-size: 15px;}

 .redlink_13pt:link {color:#cc0000;	text-decoration:none;font-size: 13px;font-weight:bold;}
 .redlink_13pt:visited {color:#cc0000;text-decoration:none;font-size: 13px;font-weight:bold;}
 .redlink_13pt:hover {color:#FF6600;text-decoration:underline;background-color:none;font-size: 13px;font-weight:bold;}

 .link_chi {font-size: 12px; color:#000000; text-decoration:none; font-weight:none; }
 .link_chi:visited {font-size: 12px; color:#000000; text-decoration:none; font-weight:none; }
 .link_chi:hover {font-size: 12px; color:#FF6600; text-decoration:underline; font-weight:none; }

 .link_eng { color:#000000; text-decoration:none; font-weight:bold }
 .link_eng:hover { color:#FF6600; text-decoration:none; font-weight:bold; }

 .blacklink { color:#000000; text-decoration:none}
 .blacklink:hover { color:#000000; text-decoration:none; }

 .lgraylink { color:#CCCCCC; text-decoration:none}
 .lgraylink:hover { color:#CCCCCC; text-decoration:none; font-weight:bold; }

 .dgraylink { color:#000000; text-decoration:none}
 .dgraylink:hover { color:#000000; text-decoration:none; font-weight:bold; }

 .graylink01 { color:#333333; text-decoration:none}
 .graylink01:hover { color:#FF6600; font-weight:bold; }

 .whitelink { color:#FFFFFF; text-decoration:none}
 .whitelink:hover { color:#FFFFFF; text-decoration:underline; font-weight:none; }
 .link_a {font-family: Arial, Helvetica, sans-serif;	font-size: 12px;	color: #006699;	text-decoration: none;}
 .link_a:visited { font-family: Arial, Helvetica, sans-serif;	font-size: 12px;	color: #006699;	text-decoration: none;}
 .link_a:hover { font-family: Arial, Helvetica, sans-serif;	font-size: 12px;	color: #FF0000;	text-decoration: underline;}

.link_as {	font-family: Arial, Helvetica, sans-serif;	font-size: 10px;	color: #006699;	text-decoration: none;}
 .link_as:visited { font-family: Arial, Helvetica, sans-serif;	font-size: 10px;	color: #006699;	text-decoration: none;}
 .link_as:hover { font-family: Arial, Helvetica, sans-serif;	font-size: 10px;	color: #FF0000;	text-decoration: underline;}


.link_bs {	font-family: Arial, Helvetica, sans-serif;	font-size: 10px;	color: #C1EBFF;	text-decoration: none;}
 .link_bs:visited { font-family: Arial, Helvetica, sans-serif;	font-size: 10px;	color: #C1EBFF;	text-decoration: none;}
 .link_bs:hover { font-family: Arial, Helvetica, sans-serif;	font-size: 10px;	color: #FFFFFF;	text-decoration: underline;}


.chi_content_15:link { color:#FFFFFF; text-decoration:none; }
.chi_content_15:visited { color:#FFFFFF; text-decoration:none; }
.chi_content_15:hover { color:#FFFFFF;	text-decoration:underline; }


.link_10_white_red {
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
}
.link_10_white_red:hover {
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	color: #FF0000;
}
.link_12_white_white {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}
.link_12_white_white:hover {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: underline;
}
.link_12_green_green {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	color: #006600;
	text-decoration: none;
}
.link_12_green_green:hover {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	color: #006600;
	text-decoration: underline;
}

.link_12_green_red  {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	color: #006600;
	text-decoration: none;
}
.link_12_green_red:hover {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	color: #FF0000;
}
.link_10_blue_red {
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	color: #5172B7;
	text-decoration: none;
}

.link_10_blue_red:hover {
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	color: #FF0000;
}
.link_10_blue_black {
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	color: #5172B7;
	text-decoration: none;
}

.link_10_blue_black:hover {
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	color: #000000;
}
.link_10_grey_red {
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	color: #666666;
	text-decoration: none;
}
.link_10_grey_red:hover {
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	color: #FF0000;
}
.link_12_black_red {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.link_12_black_red:hover {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	color: #FF0000;
}
.link_12_purple_red {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	color: #7B00AE;
	text-decoration: none;
}
.link_12_purple_red:hover {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	color: #FF0000;
}
.link_13b_black_red {
	font-family: verdana, arial, sans-serif;
	font-size: 13px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}
.link_13b_black_red:hover {
	font-family: verdana, arial, sans-serif;
	font-size: 13px;
	color: #FF0000;
	font-weight: bold;
}

.link_13b_purple_red {
	font-family: verdana, arial, sans-serif;
	font-size: 13px;
	color: #7B00AE;
	text-decoration: none;
	font-weight: bold;
}
.link_13b_purple_red:hover {
	font-family: verdana, arial, sans-serif;
	font-size: 13px;
	color: #FF0000;
	font-weight: bold;
}

.link_12_blue_red {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	color: #02439C;
	text-decoration: none;
}
.link_12_blue_red:hover {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	color: #FF0000;
}
.link_12_red_blue {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
}
.link_12_red_blue:hover {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	color: #02439C;
}

.link_13b_red_black {
	font-family: verdana, arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #CC0000;
	text-decoration: none;
}
.link_13b_red_black:hover  {
	font-family: verdana, arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
}

.link_13b_blue_red {
	font-family: verdana, arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #3E3F9F;
	text-decoration: none;
}
.link_13b_blue_red:hover  {
	font-family: verdana, arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FF0000;
}
