BODY, P, TD, INPUT, TEXTAREA, SELECT {
	FONT-FAMILY: times new roman, times, Arial, Verdana, Helvetica, Mingliu, Sans-Serif;
	FONT-SIZE: 13px;
	COLOR: black;
}
.report_title1
{
	font-family: Verdana, Arial, Helvetica, Mingliu, Sans-Serif;
	font-size: 23px;
	font-weight: bold;
}
.report_title2
{
	font-family: Sans-Serif, Arial, Helvetica, Mingliu;
	font-size: 13px;
	font-weight: bold;
	line-height: 180%;
}
.head_sub_1
{
	font-family: Courier New, Helvetica, Mingliu, Sans-Serif;
	font-size: 20px;
}
.head_sub_2
{
	font-family: Arial, Helvetica, Mingliu, Sans-Serif;
	font-size: 13px;
	font-weight: bold;
}
.head_sub_3
{
	font-family: Arial, Helvetica, Mingliu, Sans-Serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: underline;
}
.head_sub_4
{
	font-family: Arial, Helvetica, Mingliu, Sans-Serif;
	font-size: 13px;
	color: #000000;
}
