.tdstyle {
	background-color: #FFFFFF;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-right-color: #FFFFFF;
	border-left-color: #FFFFFF;
}

.table_b {
	border: 1px dashed #C2E0FE;

}
.table_r {
	border: 1px dashed #FF9999;
}
.table_y {
	border: 1px dashed #FFFF66;
}
.table_g {
	border: 1px dashed #99CC00;
}
.table_p {
	border: 1px dashed #E5D0EA;
}
.unnamed1 {
	background-color: #FFC4C4;
	filter: Alpha(opacity=100,finishopacity=0,style=2);: Alpha(opacity=50,finishopacity=100,style=1,starty=0,finishy=100,startx=100,finishy=100);;
}

.table_dot {
	border: 1px dashed #000000;
}

.table_print {
	border-width: 1px;
	border-color= black;
	border-collapse: collapse;
}

table.table_print th {
	border-width: 1px;
	border-color: black;
}
table.table_print td {
	border-width: 1px;
	border-color: black;
}