/***********************************************************************************************************************/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> PRINT.CSS START <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/***********************************************************************************************************************/

/*#####################################################################################################################*/
/*##################### Common Elements ###############################################################################*/
/*#####################################################################################################################*/

.tabletext {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #000000;
}

.printbutton{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	cursor:pointer;
	border:1px outset #CCCCCC;
	color:#666666;
	font-weight:bold;
	padding: 1px 2px;
	background-color:#D7D7D7;
    Filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#ffFFFFFF',EndColorStr='#D7D7D7');

}
.printbuttonon{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	cursor:pointer;
	border:1px outset #CCCCCC;
	color:#9E9FA0;
	font-weight:bold;
	padding: 1px 2px;
	background-color:#EFEFEF;
    Filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#ffFFFFFF',EndColorStr='#EFEFEF');
<link rel="stylesheet" type="text/css" href="content.css">
}
.dotline {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #999999;
}

/*#####################################################################################################################*/
/*##################### Report Card ###################################################################################*/
/*#####################################################################################################################*/
.report_title {
		font-family: "Arial", "Helvetica", "sans-serif";
		font-size: 20px;
		font-weight: normal;
		color: #000000;
	}

.report_contenttitle {
		font-family: "Arial", "Helvetica", "sans-serif";
		font-size: 13px;
		color: #000000;
		font-weight: bold;
	}

.report_formfieldtitle {
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: #000000;
	}

.summary_table {
		border-left: 1px solid #000000; 
		border-right: 1px solid #000000; 
		border-bottom: 1px solid #000000;
	}

.report_border {
		border: 1px solid #000000;
	}

.border_left {
		border-left: 1px solid #000000;
	}
.border_top {
		border-top: 1px solid #000000;
	}
.small_title {
		font-family: "Arial", "Helvetica", "sans-serif";
		font-size: 11px;
		color: #000000;
		font-weight: bold;
	}
.small_text {
		font-family: "Arial", "Helvetica", "sans-serif";
		font-size: 11px;
		color: #000000;
		}
.reportcard_text {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}	
/*#####################################################################################################################*/
/*##################### eSports Document ##############################################################################*/
/*#####################################################################################################################*/

.eSportprinttitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: normal;
	color: #000000;
}
.eSportprinttext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
}
.eSportprinttabletitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	background-color: #EEEEEE;
}
.eSporttdborder {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #333333;
	border-bottom-color: #333333;
}
.eSporttableborder {
	border-top-width: 2px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
}
.eSportunderline {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}
/***********************************************************************************************************************/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> PRINT.CSS END <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/***********************************************************************************************************************/