@charset "utf-8";

body, body.teacher, body.parent { background:url(/images/kis/cust/hartspreschool/bg.jpg) no-repeat #F5F5F5;background-attachment: fixed;background-size: cover}

#top_header, #top_header.teacher, #top_header.parent {background:url(/images/kis/cust/hartspreschool/bg.jpg) no-repeat #F5F5F5;background-attachment: fixed;background-size: cover}
