table.dataTable td.dt-body-center { text-align:center;}
table.dataTable td.dt-body-middle { vertical-align:middle;}
table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before{
	 
	background-color:#ffffff; color: #cdcdcd; border:none; box-shadow:none; height:18px; width: 18px; line-height: 16px; content:' '; background: url(../img/action_more.png); background-size: 100% 100%;  
}

div.dataTables_wrapper div.dataTables_processing{position:absolute;top:50%;left:50%;width:200px;margin-left:-100px;margin-top:-26px;text-align:center;padding:1em 0;z-index:1;}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before{
	
	background-color:#ffffff; color: #cdcdcd;  content:' '; background: url(../img/action_up.png); background-size: 100% 100%;  
}

.table-striped>tbody>tr:nth-of-type(odd){background-color: white;}

.table>thead>tr>th{background-color: #f1f1f1;}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th{border-bottom: none;}

.header{ background-color: #3c9bed; margin-bottom: 20px;}

.header h1 nobr, .header h2 nobr, .header h3 nobr, .header h4 nobr, .header h5 nobr, .header h6 nobr{color: white;}

.header hr{border-top:none;}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .collapsible, .side-nav{box-shadow:none;}

.teal.lighten-1{background-color: #429eeb !important;}

.teal.lighten-5{background-color: white !important;}

.row.header .glyphicon:before{ font-size: 22px;}

.row.header a{background-color:#3c9bed; width:45px;}

.row.header a .glyphicon {  left: -8px !important; top: 2px !important;}/*20170809*/

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{ background-color: none;}

.btn, .btn-large{background-color: #429eeb;}

.dropdown-content li{border-bottom:1px solid #ddd;}
.dropdown-content li>a, .dropdown-content li>span{ color: #5f5f5f;}

.pageHldrWrap {	padding-left: 0; padding-right: 0;}/*20170809*/

.btn:hover{box-shadow:none !important;}/*20170809*/
.btn{ text-transform: none !important;}/*20170809*/
.btn:hover, .btn-large:hover{ color: white !important;}/*20170809*/

.grey.darken-1{ background-color: #8f8e8a !important;}/*20170809*/

.collection{margin:.5rem 0 2rem 0 !important;}/*20170809*/

.select-wrapper+label{top:0px !important;}/*20170809*/
.select-wrapper{ margin-top : 0.8em !important;}/*20170809*/

.table-header{ font-size: 1.3em; font-weight: bold; background-color:#f1f1f1; padding:  0.3em 0.8em 0.3em 0.8em;}/*20170809*/

.collection.with-header .collection-header h5{ line-height: 140% !important; }/*20170809*/
.collection.with-header .collection-header{padding: 0px 15px !important;}/*20170809*/

div a.btn-photo { height: auto !important; line-height: 18px; padding: 0 0.5rem; } 
