@charset "utf-8";
/* CSS Document */
/* Scroll bar style start */
::-webkit-scrollbar {width:3px; height:5px;}
::-webkit-scrollbar-track {background: #fff; -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1); width: 3px;}
::-webkit-scrollbar-thumb {background: #ccc; -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2); border-radius: 3px;}
::-webkit-scrollbar-thumb:hover {background: #aaa;}
::-webkit-scrollbar-thumb:active {background: #888;-webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);}
/* Scroll bar style end */
body {background: #f1f1f1; font-family: Helvetica, Arial, 微軟正黑體, sans-serif; font-size: 16px; height: 100%; margin: 0!important; padding: 0!important; width: 100%;}
a, a:hover, a:focus {color: #429dea; cursor: pointer; text-decoration: none;}
:focus {outline: none;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {outline: none;}
.remarks {font-size: 14px;}
.mandatory {color: #ff6666;}

/* Modal box style style */
.modal-dialog {top:50% !important; transform: translate(0, -50%) !important; -ms-transform: translate(0, -50%) !important; -webkit-transform: translate(0, -50%) !important;}
.modal-header {background: #10c6b4; border-radius: 3px 3px 0 0; min-height: 40px; padding: 12px 15px 8px;}
.modal-header.edit {background: #17a08f;}
.modal-title {color: #fff; font-size: 18px; line-height: 1; position: relative;}
button.close {display: block; height: 40px; position: absolute; right: 0; top: 0; width: 40px;}
.close {opacity: 1;}
.modal-content {border: none; border-radius: 3px; box-shadow: 3px 3px 9px rgba(0,0,0,0.2); color: #666;}
.modal-body {font-size: 16px; line-height: 1.2em; padding: 15px 25px 30px;}
.modal-body span {display: block; margin: 5px 0;}
.modal-footer {border: none; padding: 0 15px 15px; text-align: center;}
.modal-footer button {background: #f2f2f2; border: none; color: #666; font-size: 16px; width: 45%;}
.modal-footer a:not(:first-child) .btn {margin-left: 15px;}
.modal-backdrop.in {opacity: .7; filter: alpha(opacity=70);}
.modal-dialog .btn:focus, .modal-dialog .btn:active:focus, .modal-dialog .btn.active:focus, .modal-dialog .btn.focus, .modal-dialog .btn:active.focus, .modal-dialog .btn.active.focus {outline: none;}
@media (max-width: 768px) {
    .modal-dialog {margin: 10px auto; width: 80%;}
}
/* Modal box style end */


#wrapper {max-height: 100vh; width: 100vw;}
/* Tab style start */
/* Tab header start */
#oleTab .nav-tabs > li {background: #5da8a1; font-size: 18px; text-align: center; width: 50%;}
#oleTab .nav-tabs > li > a {border: none; border-radius: 0; color: #fff; margin: 0; opacity: 0.5;}
#oleTab .nav-tabs > li > a:hover {background: transparent; border: none; opacity: 1;}
#oleTab .nav-tabs > li.active {background-color: #10c6b4;}
#oleTab .nav-tabs > li.active > a, #oleTab .nav-tabs > li.active > a:hover, #oleTab .nav-tabs > li.active > a:focus {background: transparent; color: #fff; cursor: pointer; opacity: 1;}
#oleTab .nav-tabs > li.active:after {border-color: #f1f1f1 transparent; border-style: solid; border-width: 0px 10px 10px 10px; bottom: 0; content: ' '; display: block; left: calc(50% - 10px); position: absolute;}
#oleTab .navbar-fixed-top {border: none;}
/* Tab header end */

/* tab content start */
#oleTab .tab-content {background: #f1f1f1; height: 100vh; overflow: hidden; padding-top: 45px;}
.tapHeader {background: #f1f1f1; border: none; margin: 0; min-height: 40px;}
.tapHeader .button {display: table-cell; float: right; position: relative; text-align: center; vertical-align: middle;}
.tapHeader .headerIcon {display: table-cell; font-size: 20px; height: 40px; position: relative; text-align: center; vertical-align: middle; width: 40px;}
.tapHeader .headerIcon a {color: #999;}
.tapHeader .headerIcon span {content: " "; display: block; height: 40px; margin: auto; width: 40px;}
.tapHeader .headerIcon a .addProg {background: url(../images/ole_icon.png) -700px 0; background-size: auto 500px;}
.tapHeader .headerIcon a .filter {background: url(../images/ole_icon.png) -800px 0; background-size: auto 500px;}
.tapHeader #searchProg, .tapHeader #filterProg, .tapHeader #searchStd, .tapHeader #filterStd {height: 40px; margin-top: 40px; padding: 0 15px; width: 100%;}
#searchProg input, #searchStd input {background: transparent; border: 0; border-bottom: 1px solid #999; border-radius: 0; box-shadow: none; color: #666; padding: 5px;}

#progContent, #stdContent {min-height: calc(100vh - 85px); max-height: calc(100vh - 85px); overflow-y: auto; padding-bottom: 45px; -webkit-transition: max-height 0.4s; transition: max-height 0.4s;}
#stdContent {padding-bottom: 0;}
#progContent.searchOpen, #progContent.filterOpen, #stdContent.searchOpen, #stdContent.filterOpen {min-height: calc(100vh - 125px); max-height: calc(100vh - 125px); -webkit-transition: max-height 0.4s; transition: max-height 0.4s;}
#searchProg, #filterProg, #filterStd {height: 40px; padding: 0 15px 5px;}
#filterProg .schoolYear, #filterProg .category, #filterStd .grade, #filterStd .class {display: inline-block; float: left; font-size: 16px; position: relative; width: calc(50% - 5px);}
#filterProg .schoolYear button, #filterProg .category button, #filterStd .grade button, #filterStd .class button {background: transparent; border: 0; border-bottom: 1px solid #999; border-radius: 0; box-shadow: none; color: #666; outline: none!important; text-align: left; width: 100%;}
#filterProg .schoolYear, #filterStd .grade {margin-right: 10px;}
#filterProg .bootstrap-select, #filterStd .bootstrap-select {width: 100%;}
#filterProg .dropdown-menu, #filterStd .dropdown-menu {border: none; border-radius: 0px; margin: 0; padding: 0; width: 100%;}
/* tab content end */

/* Content icon style start */
.noOfApproved .icon {background: url(../images/ole_icon.png) -206px -50px no-repeat; background-size: auto 260px; display: inline-block; height: 18px; vertical-align: text-bottom; width: 18px;}
.noOfRecord .icon {background: url(../images/ole_icon.png) -154px -50px no-repeat; background-size: auto 260px; display: inline-block; height: 18px; vertical-align: text-bottom; width: 18px;}

.status {line-height: 1.6em;}
.status .icon {display: inline-block; height: 18px; vertical-align: text-bottom; width: 18px;}
.status.approved {color: #16a20d;}
.status.approved .icon {background: url(../images/ole_icon.png) 2px -50px no-repeat; background-size: auto 260px; margin: 0;}
.status.pending {color: #db9435;}
.status.pending .icon {background: url(../images/ole_icon.png) -50px -50px no-repeat; background-size: auto 260px; margin: 0;}
.status.rejected {color: #999;}
.status.rejected .icon {background: url(../images/ole_icon.png) -102px -50px no-repeat; background-size: auto 260px; margin: 0;}

.attachIcon {background: url(../images/ole_icon.png) -501px -54px no-repeat; background-size: auto 280px; float: left; height: 18px; margin-right: 5px; vertical-align: text-bottom; width: 18px;}
.returnIcon {background: url(../images/ole_icon.png) no-repeat -722px -91px; background-size: auto 450px; content: " "; display: block; float: left; height: 20px; margin-left: calc(100% - 20px); margin-top: -28px; width: 20px; z-index: 999;}
.removeIcon {background: url(../images/ole_icon.png) no-repeat -724px -105px; background-size: auto 515px; content: " "; display: block; height: 20px; width: 20px; z-index: 999;}
.addIcon {background: url(../images/ole_icon.png) -505px -113px no-repeat; background-size: auto 280px; float: left; height: 18px; margin-right: 5px; vertical-align: text-bottom; width: 18px;}
/* Content icon style end */

/* Event list style start */
.eventList {color: #666; list-style: none; margin-bottom: 2px; padding-left: 0;}
.eventList a {color: #666;}
.eventList .event > div {line-height: 1.6em;}
.eventList li {background: #fff; margin: 0 0 2px; padding: 10px 30px 10px 20px; position: relative;}
.eventList a li:after {color: #ccc; content: '\f105'; display: block; font-family: FontAwesome; font-size: 27px; font-weight: bold; position: absolute; top: 50%; right: 10px; transform: translateY(-50%);}
.eventTitle {font-size: 18px; font-weight: bold;}
.eventList .label {color: #999; font-size: 16px; font-weight: normal; padding: 0;}
.eventList .noOfRecord, .eventList .status {display: inline-block; font-size: 15px; width: calc(50% - 5px);}
.eventList .noOfRecord {margin-right: 5px;}
.eventList .num {font-family: '微軟正黑體'; font-size: 20px;}
/* Event list style end */

/* Student list style start */
.stdList {color: #666; list-style: none; margin-bottom: 2px; padding-left: 0;}
.stdList a {color: #666;}
.stdList .student > div {line-height: 1.6em;}
.stdList li {background: #fff; margin: 0 0 2px; padding: 10px 30px 10px 20px; position: relative;}
.stdList li:after {color: #ccc; content: '\f105'; display: block; font-family: FontAwesome; font-size: 27px; font-weight: bold; position: absolute; top: 50%; right: 10px; transform: translateY(-50%);}
.stdList .stdName {display: block; font-size: 18px; font-weight: bold;}
.stdList .classClassNo {color: #999; font-size: 15px; font-weight: normal; padding: 0;}
.stdList .noOfApprovedRecord {display: block; font-size: 15px; width: 100%;}
.stdList .noOfApproved, .stdList .pending {display: inline-block; width: calc(50% - 5px);}
.stdList .noOfApproved {margin-right: 5px;}
.stdList .num {font-family: '微軟正黑體'; font-size: 20px;}
.stdList.withPic li {padding: 10px 30px 10px 10px;}
.stdList.withPic .stdProfilePic {border: 1px solid #ccc; border-radius: 50%; float: left; height: 50px; overflow: hidden; position: relative; width: 50px;}
.stdList.withPic .stdProfilePic img {left: 50%; max-width: 50px; position: absolute; top: 50%; transform: translate(-50%, -50%); width: 50px;}
.stdList.withPic .stdName {margin-left: 60px; width: calc(100% - 60px);}
.stdList.withPic .noOfApprovedRecord {margin-left: 60px; width: calc(100% - 60px);}
.stdList.withPic .noOfApproved, .stdList.withPic .pending {width: 100%;}
@media (min-width: 360px) {
    .stdList.withPic .noOfApproved, .stdList.withPic .pending {width: calc(50% - 5px);}
}
/* Event list style end */
/* tab style end */

/* Floating function button style start */
.functionBtn {bottom: 0; display: table; height: 60px; position: absolute; right: 0;}
.functionBtn .btn {border-radius: 50%; box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2); display: inline-block; height: 50px; position: relative; margin-right: 10px; padding: 0; width: 50px;}
.functionBtn .btn .icon {display: block; height: 35px; left: 50%; margin: auto; position: absolute; top: 50%; transform: translate(-50%, -50%); width: 35px;}
.functionBtn .btn.add {background: #f7931e;}
.functionBtn .btn.add .icon {background: url(../images/ole_icon.png) -158px -158px no-repeat; background-size: auto 400px;}
.functionBtn .btn.approve {background: #69b577;}
.functionBtn .btn.approve .icon {background: url(../images/ole_icon.png) 3px -158px no-repeat; background-size: auto 400px;}
.functionBtn .btn.reject {background: #aaa;}
.functionBtn .btn.reject .icon {background: url(../images/ole_icon.png) -77px -158px no-repeat; background-size: auto 400px;}
/* Floating function button style end */

/* Header style start */
#header {border: 0;}
#header.ole {background: #10c6b4; color: #fff; display: block; font-size: 18px; margin-bottom: 0; min-height: 50px; position: fixed; width: 100vw;}
#header.noTitle {background: #f1f1f1;}
#header #function {display: table-cell; height: 50px; vertical-align: middle;}
#headerTitle {color: #fff; display: table-cell; font-size: 18px; height: 50px; width: calc(100vw - 155px); padding-left: 15px; padding-top: 3px; vertical-align: middle;}
#headerTitle.withFunction {width: calc(100vw - 50px); padding-left: 5px;}
#headerTitle.withFunction.btn-2 {width: calc(100vw - 155px);}
#headerTitle.withFunction.btn-2 .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {width: calc(100vw - 155px);}
#headerTitle.withFunction.btn-3 {width: calc(100vw - 205px);}
#headerTitle.withFunction.btn-3 .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {width: calc(100vw - 205px);}
#headerTitle.filterStatus button {background: transparent; border: 0; border-bottom: 1px solid #fff; border-radius: 0; box-shadow: none; color: #fff; font-size: 16px; padding: 6px; position: relative; text-align: left;}
.filterStatus .btn-group.open .dropdown-toggle, .schoolYear .btn-group.open .dropdown-toggle, .category .btn-group.open .dropdown-toggle {box-shadow: none;}
.filterStatus .btn-group.bootstrap-select:focus {outline: none!important;}
.filterStatus .bootstrap-select .dropdown-toggle:focus {outline: none!important;}
.filterStatus .dropdown-menu {border: none; border-radius: 0px; margin: 0; padding: 0; width: 100%;}
.filterStatus .dropdown-menu > li > a {padding: 6px;}
#filterStatus {color: #333;}
#filterStatus {border: 0; box-shadow: 0 3px 6px rgba(0,0,0,0.2); margin: 0; padding: 0;}
#filterStatus li {padding: 6px;}
#filterStatus li:hover {background-color: #f5f5f5;}
#searchStd {height: 40px; padding: 0 15px;}
#header #searchStd input {background: transparent; border: 0; border-bottom: 1px solid #fff; border-radius: 0; box-shadow: none; color: #fff; padding: 5px;}
#filterStd .dropdown-menu {border: none; border-radius: 0px; margin: 0; padding: 0; width: 100%;}
#header #filterProg .schoolYear button, #header #filterProg .category button, #header #filterStd .grade button, #header #filterStd .class button {background: transparent; border: 0; border-bottom: 1px solid #fff; border-radius: 0; box-shadow: none; color: #fff; outline: none!important; text-align: left; width: 100%;}
.schoolYear {margin-right: 10px;}
#filterStd .bootstrap-select {width: 100%;}
#filterStd .schoolYear button, #filter .category button {background: transparent; border: 0; border-bottom: 1px solid #fff; border-radius: 0; box-shadow: none; color: #fff; outline: none!important; text-align: left; width: 100%;}
#button {display: table-cell; float: right; margin-top: -50px; position: relative; text-align: center; vertical-align: middle;}
.headerIcon {display: table-cell; font-size: 20px; height: 50px; position: relative; text-align: center; vertical-align: middle; width: 50px;}
.headerIcon a {color: #fff;}
.headerIcon span {content: " "; display: block; height: 40px; margin: auto; width: 40px;}
.headerIcon a .oleGraph {background: url(../images/ole_icon.png) -5px -5px; background-size: auto 500px;}
.headerIcon a .filterStd, .headerIcon a .filterProg {background: url(../images/ole_icon.png) -106px -5px; background-size: auto 500px;}
.headerIcon a .addStd {background: url(../images/ole_icon.png) -206px -5px; background-size: auto 500px;}
.headerIcon a .editProg {background: url(../images/ole_icon.png) -304px -5px; background-size: auto 500px;}
.headerIcon .close {background: url(../images/ole_icon.png) -905px -5px no-repeat; background-size: auto 500px; opacity: 1;}
.close .icon {background: url(../images/ole_icon.png) -191px -125px no-repeat; background-size: auto 325px; display: block; height: 40px; margin-right: 8px; width: 40px;}
/* Header style end */

/* Chart style start */
/* Tab header start */
#chartTab {padding-top: 50px;}
#chartTab .nav-tabs {border: 0;}
#chartTab .nav-tabs > li {font-size: 18px; text-align: center; width: 50%;}
#chartTab .nav-tabs > li > a {border: none; border-radius: 0; color: #666666; margin: 0; padding: 8px 15px; position: relative; opacity: 0.5;}
#chartTab .nav-tabs > li > a:hover {background: transparent; border: none; opacity: 1;}
#chartTab .nav-tabs > li.active > a, #chartTab .nav-tabs > li.active > a:hover, #chartTab .nav-tabs > li.active > a:focus {background: transparent; color: #10c6b4; cursor: pointer; opacity: 1;}
#chartTab .nav-tabs > li.active:after {background: #10c6b4; content: " "; display: block; height: 2px; left: 50%; max-width: 200px; position: absolute; transform: translateX(-50%); width: 80%;}
#chartTab .navbar-fixed-top {border: none;}
/* Tab header end */

#record > .chart, #totalHr > .chart {margin-top: 25px;}
.chart .chart {padding: 13px 0;}
.chart .chartInfo {align-items: center; color: #666; height: 176px; padding: 60px 0; text-align: center;}
.chart .totalHour {color: #333; font-size: 36px; line-height: 1;}
.chart .totalHour .small {font-size: 18px;}
.chart .chartLabel {font-size: 16px;}
.statistics {background: #fff; box-shadow: 1px 1px 0 #ddd; margin: 25px 15px 15px; padding: 10px;}
.statistics .label {display: inline-block; font-size: 14px; line-height: 25px; margin: 3px; padding: 0;}
.statistics .text {display: inline-block; font-size: 16px; line-height: 25px; width: calc(100% - 70px);}
.statistics .hours {display: inline-block; font-size: 16px; line-height: 25px; text-align: right; width: 40px;}
.color0 {color: #f28b8b;}
.color1 {color: #f49769;}
.color2 {color: #f9c74b;}
.color3 {color: #e4ea78;}
.color4 {color: #b6e09b;}
.color5 {color: #88d66e;}
.color6 {color: #69b577;}
.color7 {color: #75d3ba;}
.color8 {color: #93f2f9;}
.color9 {color: #69d2f7;}
.color10 {color: #3d9be8;}
.color11 {color: #6575ea;}
.color12 {color: #8382db;}
.color13 {color: #b980dd;}
.color14 {color: #efa3c8;}
.chart .pagination > li > a, .chart .pagination > li > span {background: #ccc; border: 0; border-radius: 50%; height: 6px; margin: 0 3px; padding: 0; width: 6px;}
.chart .pagination > .active > a, .chart .pagination > .active > span, .chart .pagination > .active > a:hover, .chart  .pagination > .active > span:hover, .chart .pagination > .active > a:focus, .chart .pagination > .active > span:focus {background: #999;}
@media (min-width: 375px){
    #totalHourChart > div > div {float: right;}
}
/* Chart style end */

/* Content style start */
#content {padding-top: 50px; -webkit-transition: padding-top 0.4s; transition: padding-top 0.4s;}
#content.filterOpen {padding-top: 90px; -webkit-transition: padding-top 0.4s; transition: padding-top 0.4s;}
#content.infoPage {background: #fff; padding: 65px 15px 15px;}
.noRecord {padding: 15px; text-align: center;}

/* Event student list start */
.eventBriefInfo {background: #fff; color: #666; line-height: 1.6em; margin-bottom: 12px; padding: 10px 10px 10px 20px;}
.eventBriefInfo .label {color: #999; font-size: 16px; font-weight: normal; padding: 0;}
.eventBriefInfo > div {line-height: 1.6em;}
.eventBriefInfo .eventDetails {display: block; position: relative;}
.eventBriefInfo a .eventDetails {color: #429dea; font-size: 15px; position: relative;}
.eventBriefInfo .eventDetails:after {color: #429dea; content: '\f105'; display: block; font-family: FontAwesome; font-size: 18px; font-weight: bold; position: absolute; top: 50%; right: 5px; transform: translateY(-50%);}
.eventStdList {color: #666; list-style: none; margin-bottom: 0; overflow: auto; padding-left: 0;}
.eventStdList.edit {padding-bottom: 45px;}
.eventStdList li {background: #fff; margin: 0 0 2px; padding: 10px 30px 10px 20px; position: relative;}
.eventStdList li:last-child {margin: 0;}
.eventStdList a {color: #666; display: block; max-width: calc(100% - 30px);}
.eventStdList a > div {line-height: 1.6em;}
.eventStdList .stdName {display: block; font-size: 18px; font-weight: bold;}
.eventStdList .classClassNo {color: #999; font-size: 15px; font-weight: normal; padding: 0;}
.eventStdList .label {color: #999; font-size: 16px; font-weight: normal; padding: 0;}
.eventStdList .form-check {display: block; height: 100%; position: absolute; right: 0; top: 0; width: 50px;}
.eventStdList .form-check .label {display: inline-block; max-width: 100%; margin-bottom: 5px;}
.eventStdList input[type="checkbox"] {display: table; cursor: pointer; height: 100%; margin: 0; opacity: 0; top: 0; width: 100%;}
.eventStdList input[type="checkbox"] + span {background: url(../images/icon_check.png) no-repeat center center; background-size: 100% auto; bottom: 0; cursor: pointer; height: 25px; left: 0; margin: auto; position: absolute; right: 0; top: 0; transform: scale(0.9); vertical-align: middle; width: 25px; -webkit-transition: background .2s ease-in-out, transform .1s ease-in-out; -o-transition: background .2s ease-in-out, transform .1s ease-in-out; transition: background .2s ease-in-out, transform .1s ease-in-out;}
.eventStdList input[type="checkbox"]:checked + span {background: url(../images/icon_checked.png) no-repeat center center; background-size: 100% auto; transform: scale(1.1);}

.eventStdList.withPic li {padding: 10px 30px 10px 10px;}
.eventStdList.withPic .stdProfilePic {border: 1px solid #ccc; border-radius: 50%; float: left; height: 50px; overflow: hidden; position: relative; width: 50px;}
.eventStdList.withPic .stdProfilePic img {left: 50%; max-width: 50px; position: absolute; top: 50%; transform: translate(-50%, -50%); width: 50px;}
.eventStdList.withPic .stdName {font-weight: bold; margin-left: 60px; width: calc(100% - 60px);}
.eventStdList.withPic .noOfHrs, .eventStdList.withPic .participate, .eventStdList.withPic .status {margin-left: 60px; width: calc(100% - 60px);}
/* Event student list end */

/* Event details page style start */
.eventTitle {color: #666; font-size: 18px; line-height: 1.5;}
.eventInfo {list-style: none; margin-top: 15px; padding: 0;}
.eventInfo li {border-top: 1px solid #eeeddd; padding: 5px;}
.eventInfo li:last-child {border-bottom: 1px solid #eeeddd;}
.eventInfo .label {color: #999; display: block; font-size: 16px; font-weight: normal; padding: 3px 0; text-align: left; width: 100%;}
.eventInfo .text {color: #333; display: block; font-size: 16px; padding: 3px 0; width: 100%;}
.eventInfo .label.subItem {font-size: 15px; margin-top: 10px; text-decoration: underline;}
.eventInfo .text.subItem {font-size: 15px;}
.eventInfo .attachment .text {display: block; position: relative;}
.eventInfo .attachName {display: block; margin-left: 20px; width: calc(100% - 20px);}
/* Event details page style end */

/* Student details page style start */
.stdName {display: block; font-size: 18px; font-weight: bold;}
.classClassNo {color: #999; font-size: 15px; font-weight: normal; padding: 0;}
.withPic .stdProfilePic {border: 1px solid #ccc; border-radius: 50%; float: left; height: 50px; overflow: hidden; position: relative; width: 50px;}
.withPic .stdProfilePic img {left: 50%; max-width: 50px; position: absolute; top: 50%; transform: translate(-50%, -50%); width: 50px;}
.withPic .stdName {margin-left: 60px; width: calc(100% - 60px);}
.withPic .status.approved {margin-left: 60px; width: calc(100% - 60px);}
/* Student details page style end */

/* Student event list start */
.stdInfo {color: #333; padding: 15px 10px 10px 20px;}
.stdInfo.withPic {padding: 15px 15px 10px;}
.stdInfo.withPic .stdProfilePic {margin-top: -5px;}
.stdInfo.withPic .stdName, .stdInfo.withPic .classClassNo {margin-left: 60px; width: calc(100% - 60px);}
.eventBriefInfo .label {color: #999; font-size: 16px; font-weight: normal; padding: 0;}
.eventBriefInfo > div {line-height: 1.6em;}
.eventBriefInfo .eventDetails {display: block; position: relative;}
.eventBriefInfo a .eventDetails {color: #429dea; font-size: 15px; position: relative;}
.stdEventList {color: #666; list-style: none; margin-bottom: 0; overflow: auto; padding-left: 0;}
.stdEventList.edit {padding-bottom: 45px;}
.stdEventList:not(.edit) li:after {color: #ccc; content: '\f105'; display: block; font-family: FontAwesome; font-size: 27px; font-weight: bold; position: absolute; top: 50%; right: 10px; transform: translateY(-50%);}
.stdEventList a {background: #fff; margin: 0 0 2px; padding: 10px 30px 10px 20px; position: relative;}
.stdEventList li:last-child {margin: 0;}
.stdEventList a {color: #666; display: block;}
.stdEventList a li > div{line-height: 1.6em;}
.eventStdList .stdName {display: block; font-size: 18px; font-weight: bold;}
.eventStdList .classClassNo {color: #999; font-size: 15px; font-weight: normal; padding: 0;}
.stdEventList .label {color: #999; font-size: 16px; font-weight: normal; padding: 0;}
.stdEventList .form-check {display: block; height: 100%; position: absolute; right: 0; top: 0; width: 50px;}
.stdEventList .form-check .label {display: inline-block; max-width: 100%; margin-bottom: 5px;}
.stdEventList input[type="checkbox"] {display: table; cursor: pointer; height: 100%; margin: 0; opacity: 0; top: 0; width: 100%;}
.stdEventList input[type="checkbox"] + span {background: url(../images/icon_check.png) no-repeat center center; background-size: 100% auto; bottom: 0; cursor: pointer; height: 25px; left: 0; margin: auto; position: absolute; right: 0; top: 0; transform: scale(0.9); vertical-align: middle; width: 25px; -webkit-transition: background .2s ease-in-out, transform .1s ease-in-out; -o-transition: background .2s ease-in-out, transform .1s ease-in-out; transition: background .2s ease-in-out, transform .1s ease-in-out;}
.stdEventList input[type="checkbox"]:checked + span {background: url(../images/icon_checked.png) no-repeat center center; background-size: 100% auto; transform: scale(1.1);}
/* Student event list end */

/* Edit ole record style start */
#header.ole.edit {background: #17a08f;}
#content.approveInfoPage {background: #fff; padding: 65px 15px 15px;}
#content.approveInfoPage .stdName {color: #666;}
.approveInfoList {list-style: none; margin-bottom: 40px; margin-top: 20px; padding: 0;}
.approveInfoList .label {color: #999; display: block; font-size: 16px; font-weight: normal; padding: 3px 6px; text-align: left; width: 100%;}
.approveInfoList .fieldInput, .approveInfoList .bootstrap-select.btn-group:not(.input-group-btn), .approveInfoList .bootstrap-select.btn-group[class*=col-] {width: 100%;}
.approveInfoList .fieldInput {margin-bottom: 20px;}
.approveInfoList .btn {border: none; border-bottom: 1px solid #ccc; border-radius: 0; font-size: 16px; padding: 4px 6px; width: 100%;}
.approveInfoList .form-control {border: none; border-bottom: 1px solid #ccc; border-radius: 0; box-shadow: none; font-size: 16px; padding: 6px; width: 100%;}
.approveInfoList .form-control:active, .approveInfoList .form-control:focus, .approveInfoList .form-control:hover {border-bottom: 1px solid #429dea;}
.approveInfoList .bs-caret {color: #999;}
.approveInfoList .bootstrap-select > .dropdown-toggle.bs-placeholder, .approveInfoList .bootstrap-select > .dropdown-toggle.bs-placeholder:active, .approveInfoList .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .approveInfoList .bootstrap-select > .dropdown-toggle.bs-placeholder:hover {color: #333;}
.approveInfoList .btn-group.open .dropdown-toggle {background: none; border: none; border-bottom: 1px solid #429dea; box-shadow: none; outline: none;}
.approveInfoList .bootstrap-select .dropdown-toggle:focus {border-bottom: 1px solid #429dea; outline: none;}
.approveInfoList .btn-default:hover {background: none; border-bottom: 1px solid #429dea;}
.approveInfoList .btn-default:active, .approveInfoList .btn-default.active, .approveInfoList .open > .dropdown-toggle.btn-default, .approveInfoList .btn-default:focus, .approveInfoList .btn-default.focus {background: none;}
.approveInfoList .btn:active, .approveInfoList .btn.active {box-shadow: none;}
.approveInfoList .fieldInput .dropdown-menu {border-radius: 0; margin: 0; -webkit-box-shadow: none; box-shadow: none;}
.approveInfoList .bootstrap-select .dropdown-toggle:focus {outline: none !important;}
.approveInfoList .dropdown-menu > li > a {padding: 5px 15px;}
.approveInfoList .bootstrap-select.btn-group .dropdown-toggle .caret {right: 7px;}
.approveInfoList .text {display: block; width: 100%;}
.approveInfoList .text.attachment {border-bottom: 1px solid #eee; padding: 6px 0; position: relative;}
.approveInfoList .text.attachment a {display: block; max-width: calc(100% - 45px); margin-left: 20px;}
.approveInfoList .removeBtn {position: absolute; right: 0; top: 0;}
.approveInfoList span.text.addAttachment {padding: 6px 0 20px;}
#inputRoleField, #inputAwardsField {display: none;}
.submitBtn {border-top: 1px solid #eee; padding: 10px 10px 0;}
.submitBtn .btn-primary {background: #429dea; border: none; font-size: 18px; padding: 9px 12px 6px; width: 100%;}
/* Edit ole record style end */

/* Add programme style start */
#inputTitleField, #endDateFeild {display: none;}
#content.addProgrammePage {background: #fff; padding: 65px 15px 15px;}
.progInfoList {list-style: none; margin-bottom: 40px; margin-top: 5px; padding: 0;}
.progInfoList .label {color: #999; display: block; font-size: 16px; font-weight: normal; padding: 3px 6px; position: relative; text-align: left; width: 100%;}
.progInfoList .label.mandatory:before {color: #ff6666; content: "*"; font-size: 20px; font-weight: bold; left: -4px; position: absolute; top: 0;}
.progInfoList .fieldInput, .progInfoList .bootstrap-select.btn-group:not(.input-group-btn), .progInfoList .bootstrap-select.btn-group[class*=col-] {width: 100%;}
.progInfoList .fieldInput {display: table; margin-bottom: 20px;}
.progInfoList .btn {border: none; border-bottom: 1px solid #ccc; border-radius: 0; font-size: 16px; padding: 4px 6px; width: 100%;}
.progInfoList .form-control {border: none; border-bottom: 1px solid #ccc; border-radius: 0; box-shadow: none; font-size: 16px; padding: 6px; width: 100%;}
.progInfoList .form-control:active, .progInfoList .form-control:focus, .progInfoList .form-control:hover {border-bottom: 1px solid #429dea;}
.progInfoList .bs-caret {color: #999;}
.progInfoList .bootstrap-select > .dropdown-toggle.bs-placeholder, .progInfoList .bootstrap-select > .dropdown-toggle.bs-placeholder:active, .progInfoList .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .progInfoList .bootstrap-select > .dropdown-toggle.bs-placeholder:hover {color: #333;}
.progInfoList .btn-group.open .dropdown-toggle {background: none; border: none; border-bottom: 1px solid #429dea; box-shadow: none; outline: none;}
.progInfoList .bootstrap-select .dropdown-toggle:focus {border-bottom: 1px solid #429dea; outline: none;}
.progInfoList .btn-default:hover {background: none; border-bottom: 1px solid #429dea;}
.progInfoList .btn-default:active, .progInfoList .btn-default.active, .progInfoList .open > .dropdown-toggle.btn-default, .progInfoList .btn-default:focus, .progInfoList .btn-default.focus {background: none;}
.progInfoList .btn:active, .progInfoList .btn.active {box-shadow: none;}
.progInfoList .fieldInput .dropdown-menu {border-radius: 0; margin: 0; -webkit-box-shadow: none; box-shadow: none;}
.progInfoList .bootstrap-select .dropdown-toggle:focus {outline: none !important;}
.progInfoList .dropdown-menu > li > a {padding: 5px 15px;}
.progInfoList .bootstrap-select.btn-group .dropdown-toggle .caret {right: 7px;}
.progInfoList .text {display: block; position: relative; width: 100%;}
.progInfoList .text.attachment {border-bottom: 1px solid #eee; padding: 6px 0; position: relative;}
.progInfoList .text.attachment a {display: block; max-width: calc(100% - 45px); margin-left: 20px;}
.progInfoList .removeBtn {position: absolute; right: 0; top: 0;}
.progInfoList span.text.addAttachment {padding: 6px 0 20px;}
.progInfoList #inputDateField .datetimepicker {float: left; margin-right: 10px; margin-top: -5px; width: 50%;}
#endDateFeild table {width: 100%;}
#endDateFeild td:first-child {padding-top: 5px;}
.progInfoList .input-group-addon {background: #fff; border: 0; border-radius: 0; border-bottom: 1px solid #ccc; color: #999; font-size: 14px; padding: 6px;}
.progInfoList input[type="checkbox"],.progInfoList input[type="radio"] {display: none;}
#selectComponentField, #selectAllowReportingField, #selectOEAField {clear: both; margin-top: 10px;}
#selectComponentField .item .text {cursor: pointer; display: block; font-weight: normal; margin-left: 10px; padding-left: 20px;}
#selectOEAField label > .text {cursor: pointer; display: block; font-weight: normal; padding-left: 20px;}
#selectGradeField .item .text, #selectCompulsoryField .item .text {cursor: pointer; display: block; font-weight: normal; padding-left: 22px;}
.progInfoList input[type="checkbox"] + .text:before {color: #999; content: "\f096"; cursor: pointer; display: inline-block; font-family: "FontAwesome"; font-style: normal; font-weight: normal; font-variant: normal; left: 0; line-height: 1; position: absolute; speak: none; top: 2px; text-transform: none; width: 1em; -webkit-font-smoothing: antialiased;}
.progInfoList input[type="checkbox"]:checked + .text:before {color: #2e93d7; content: "\f14a"; width: 1em;}
.progInfoList input[type="radio"] + .text:before {background: url(../images/icon_radio.png) no-repeat center center; background-size: 100% auto; content: " "; cursor: pointer; display: inline-block; height: 25px; line-height: 1; margin-right: 5px; speak: none; text-transform: none; vertical-align: middle; width: 25px;}
.progInfoList input[type="radio"]:checked + .text:before {background: url(../images/icon_radioChecked.png) no-repeat center center; background-size: 100% auto; height: 25px; vertical-align: middle; width: 25px;}
.allowReportingInfoList, .mapToOEAList {list-style: none; padding: 0 0 0 30px;}
.allowReportingInfoList .label {padding: 3px 0;}
.allowReportingInfoList table {margin-bottom: 20px; width: 100%;}
.allowReportingInfoList td:first-child {padding-top: 5px;}
.allowReportingInfoList .label.mandatory:before {left: -10px;}
#selectGradeField, #selectCompulsoryField {margin-bottom: 10px; margin-top: 10px;}
#selectGradeField input[type="checkbox"] + .text:before, #selectCompulsoryField input[type="checkbox"] + .text:before {left: 2px;}
#selectGradeField label {margin: 0;}
#selectGradeField table {margin-bottom: 0; margin-left: 25px; width: calc(100% - 25px)}
#selectGradeField td {height: 25px; vertical-align: top; width: 33.3333333%;}
#selectGradeField td:first-child {padding-top: 0;}
#selectAutoApprovalField {margin-top: 10px;}
#selectAutoApprovalField input[type="radio"] + .text:before, #selectOEAField input[type="radio"] + .text:before {background: url(../images/icon_radio.png) no-repeat -5px center; background-size: 100% auto; margin-right: 0;}
#selectAutoApprovalField input[type="radio"]:checked + .text:before, #selectOEAField input[type="radio"]:checked + .text:before {background: url(../images/icon_radioChecked.png) no-repeat -5px center; background-size: 100% auto;}
.progInfoList .text small {color: #999;}
#selectOEAField .mapToOEAList li .text.auto {border-bottom: 1px solid #ccc; color: #666; padding: 4px 6px; margin-bottom: 20px;}
#selectOEAField .mapToOEAList li:last-child .text.auto {margin-bottom: 0;}
#selectOEAField #selectAwardBearingField .text {border: none; margin-top: 10px; padding: 0;}
#selectOEAField #selectAwardBearingField label {margin-bottom: 0;}
#matchOEATitleField {margin-top: 20px;}
#matchOEATitleField label {display: block; text-align: left;}
#matchOEATitleField input[type="radio"] {display: none;}
#matchOEATitleField input[type="radio"] + .text:before {background: url(../images/icon_radio.png) no-repeat center center; background-size: 100% auto; content: " "; cursor: pointer; display: inline-block; height: 25px; line-height: 1; left: 0; position: absolute; top: -3px; width: 25px;}
#matchOEATitleField input[type="radio"]:checked + .text:before {background: url(../images/icon_radioChecked.png) no-repeat center center; background-size: 100% auto;}
#matchOEATitleField .text {display: block; font-weight: normal; padding-left: 30px; position: relative;}
/* Add programme style end */

/* Add student style start */
#selectedArea .stdAddedList::-webkit-scrollbar {display: none;}
#selectedArea {background: #fff;}
#selectedArea .stdAddedList {height: 90px; list-style: none; margin-bottom: 0; overflow-x: auto; overflow-y: hidden; padding: 15px; white-space: nowrap;}
#selectedArea .stdAddedList li {background: #f2f2f2; border-radius: 5px; display: inline-block; padding: 9px 12px 6px; position: relative; text-align: center;}
#selectedArea .stdAddedList li:not(:last-child) {margin-right: 10px;}
#selectedArea .stdAddedList .closeBtn {background: #999; border-radius: 50%; color: #fff; display: block; font-size: 12px; height: 17px; padding: 1px 0; position: absolute; right: -8px; text-align: center; top: -5px; width: 17px;}
#selectedArea .stdName {font-size: 16px; font-weight: normal;}
#selectedArea .classClassNo {font-size: 14px;}
#selectedArea.withPic .stdAddedList {height: 110px; padding: 10px 15px;}
#selectedArea.withPic .stdAddedList li {background: none; padding: 0;}
#selectedArea.withPic .stdAddedList li:not(:last-child) {margin-right: 15px;}
#selectedArea.withPic .stdName {display: block; margin: 3px 0 0; height: 23px; max-width: 100px; width: 100%;}
#selectedArea.withPic .classClassNo {display: block; margin-top: -3px;}
#selectedArea.withPic .stdProfilePic {border: 1px solid #ccc; border-radius: 50%; display: block; float: none; height: 50px; margin: 0 auto; overflow: hidden; position: relative; width: 50px;}
#selectedArea.withPic .stdProfilePic img {left: 50%; max-width: 50px; position: absolute; top: 50%; transform: translate(-50%, -50%); width: 50px;}
#selectedArea.withPic .stdAddedList .closeBtn {right: calc(50% - 33px); top: 33px;}
#content.addStdArea {height: 100vh; overflow: hidden;}
#content.addStdArea #filterStdArea {background: #67bbb1;}
#content.addStdArea.filterOpen {padding-top: 50px;}
#filterStdArea .headerIcon a {color: #fff;}
#filterStdArea .headerIcon a .filter {background: url(../images/ole_icon.png) -105px -5px; background-size: auto 500px;}
#filterStdArea #searchStd input {border-bottom: 1px solid #fff; color: #fff;}
#filterStdArea #filterStd .grade button, #filterStdArea #filterStd .class button {border-bottom: 1px solid #fff; color: #fff;}
.addStdList {color: #666; list-style: none; margin-bottom: 0; overflow: auto; padding-left: 0;}
.addStdList li {background: #fff; margin: 0 0 2px; min-height: 65px; padding: 10px 30px 8px 20px; position: relative;}
.addStdList li.selectAll {padding: 20px 30px 18px 20px;}
.addStdList li.selectAll .stdName {font-weight: normal;}
.addStdList .form-check {display: block; height: 100%; position: absolute; right: 0; top: 0; width: 50px;}
.addStdList input[type="checkbox"] {cursor: pointer; display: table; height: 100%; margin: 0; opacity: 0; top: 0; width: 100%;}
.addStdList input[type="checkbox"] + span {background: url(../images/icon_check.png) no-repeat center center; background-size: 100% auto; bottom: 0; cursor: pointer; height: 25px; left: 0; margin: auto; position: absolute; right: 0; top: 0; transform: scale(0.9); vertical-align: middle; width: 25px; -webkit-transition: background .2s ease-in-out, transform .1s ease-in-out; -o-transition: background .2s ease-in-out, transform .1s ease-in-out; transition: background .2s ease-in-out, transform .1s ease-in-out;}
.addStdList input[type="checkbox"]:checked + span {background: url(../images/icon_checked.png) no-repeat center center; background-size: 100% auto; transform: scale(1.1);}
.addStdList.withPic li {padding: 10px 30px 10px 10px;}
.addStdList.withPic li.selectAll {padding: 20px 30px 18px 10px;}
.addStdList.withPic .stdProfilePic {margin-top: -3px;}
.addStdList.withPic li.selectAll .stdProfilePic {border-color: transparent; margin-top: -11px;}
.addStdList.withPic .selectAll .stdProfilePic {background: url(../images/ole_icon.png) -1px -301px; background-size: auto 500px;}
.addStdList.withPic .stdName {font-weight: bold; margin-left: 60px; width: calc(100% - 60px);}
.addStdList.withPic .classClassNo {color: #999; display: block; font-size: 15px; margin-left: 60px; width: calc(100% - 60px);}
#saveStdAdd .modal-footer button {display: block; margin: 0 auto 15px; min-width: 200px; width: 80%;}
/* Add student style end */


@media (max-width: 768px){
    .modal-dialog {margin: 10px auto; width: 80%;}
}
/* Content style end */