@charset "utf-8";
/* Scroll bar style start */
::-webkit-scrollbar {width:3px; height:5px;}
::-webkit-scrollbar-track {background: #fff; -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1); width: 3px;}
::-webkit-scrollbar-thumb {background: #ccc; -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2); border-radius: 3px;}
::-webkit-scrollbar-thumb:hover {background: #aaa;}
::-webkit-scrollbar-thumb:active {background: #888;-webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);}
/* Scroll bar style end */
body {background: #f1f1f1; font-family: Helvetica, Arial, 微軟正黑體, sans-serif; font-size: 16px; height: 100%; margin: 0!important; padding: 0!important; width: 100%;}
button:focus {outline: 0;}
a, a:hover, a:focus {color: #16a20d; cursor: pointer; text-decoration: none;}
a:focus {outline: none;}

/* overwrite bootstrap deafult style start */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {outline: none;}
/* overwrite bootstrap deafult style end */

/* Header style strart */
#wrapper {padding-top: 50px;}
#header {background: #10c6b4;  border: 0;color: #fff; display: block; font-size: 18px; margin-bottom: 0; min-height: 50px; position: fixed; width: 100vw;}
#header.noTitle {background: #f1f1f1;}
#header #function {display: table-cell; height: 50px; vertical-align: middle;}
#headerTitle {color: #fff; display: table-cell; font-size: 18px; height: 50px; max-width: calc(100vw - 155px); padding-left: 15px; padding-top: 3px; vertical-align: middle;}
#headerTitle.filterStatus .bootstrap-select {width: 100%;}
#headerTitle.filterStatus button {background: transparent; border: 0; border-bottom: 1px solid #fff; border-radius: 0; box-shadow: none; color: #fff; font-size: 16px; padding: 6px; position: relative; text-align: left; width: calc(100vw - 170px);}
.filterStatus .btn-group.open .dropdown-toggle, .schoolYear .btn-group.open .dropdown-toggle, .category .btn-group.open .dropdown-toggle {box-shadow: none;}
.filterStatus .btn-group.bootstrap-select:focus {outline: none!important;}
.filterStatus .bootstrap-select .dropdown-toggle:focus {outline: none!important;}
.filterStatus .dropdown-menu {border: none; border-radius: 0px; margin: 0; padding: 0; width: 100%;}
.filterStatus .dropdown-menu > li > a {padding: 6px;}
#filterStatus {color: #333;}
#filterStatus {border: 0; box-shadow: 0 3px 6px rgba(0,0,0,0.2); margin: 0; padding: 0;}
#filterStatus li {padding: 6px;}
#filterStatus li:hover {background-color: #f5f5f5;}
#search {height: 40px; padding: 0 15px;}
#search input {background: transparent; border: 0; border-bottom: 1px solid #fff; border-radius: 0; box-shadow: none; color: #fff; padding: 5px;}
#filter {height: 40px; padding: 0 15px 5px;}
#filter .dropdown-menu {border: none; border-radius: 0px; margin: 0; padding: 0; width: 100%;}
#filter .schoolYear, #filter .category {display: inline-block; float: left; font-size: 16px; position: relative; width: calc(50% - 5px);}
.schoolYear {margin-right: 10px;}
#filter .bootstrap-select {width: 100%;}
#filter .schoolYear button, #filter .category button {background: transparent; border: 0; border-bottom: 1px solid #fff; border-radius: 0; box-shadow: none; color: #fff; outline: none!important; text-align: left; width: 100%;}
#button {display: table-cell; float: right; margin-top: -50px; position: relative; text-align: center; vertical-align: middle;}
.headerIcon {display: table-cell; font-size: 20px; height: 50px; position: relative; text-align: center; vertical-align: middle; width: 50px;}
.headerIcon a {color: #fff;}
.headerIcon span {content: " "; display: block; height: 40px; margin: auto; width: 40px;}
.headerIcon a .oleGraph {background: url(../images/ole_icon_parent.png) -5px -5px; background-size: auto 500px;}
.headerIcon a .filter {background: url(../images/eEnrol_icon_filterActive.png) no-repeat center center; background-size: 100% auto;}
.headerIcon .close {background: url(../images/ole_icon_parent.png) -105px -5px no-repeat; background-size: auto 500px; opacity: 1;}
/* Header style end */

/* Content style start */
#content {margin-top: 0; -webkit-transition: margin-top 0.4s; transition: margin-top 0.4s;}
#content.infoPage {background: #fff; padding: 15px;}
#content.searchOpen, #content.filterOpen {margin-top: 40px; -webkit-transition: margin-top 0.4s; transition: margin-top 0.4s;}

/* Evnet status style start */
.status .icon {display: inline-block; height: 18px; vertical-align: middle; width: 18px;}
.status.approved {color: #16a20d;}
.status.approved .icon {background: url(../images/ole_icon_parent.png) 0 -50px no-repeat; background-size: auto 250px; margin: 0;}
.status.pending {color: #db9435;}
.status.pending .icon {background: url(../images/ole_icon_parent.png) -50px -50px no-repeat; background-size: auto 250px; margin: 0;}
.status.rejected {color: #999;}
.status.rejected .icon {background: url(../images/ole_icon_parent.png) -100px -50px no-repeat; background-size: auto 250px; margin: 0;}
/* Evnet status style end */

/* Event list style start */
.eventList {color: #666; list-style: none; margin-bottom: 2px; padding-left: 0;}
.eventList a {color: #666;}
.eventList .event > div {line-height: 1.6em;}
.eventList li {background: #fff; margin: 0 0 2px; padding: 10px 30px 10px 20px; position: relative;}
.eventList li:after {color: #ccc; content: '\f105'; display: block; font-family: FontAwesome; font-size: 27px; font-weight: bold; position: absolute; top: 50%; right: 10px; transform: translateY(-50%);}
.eventTitle {font-size: 18px; font-weight: bold;}
.eventList .label {color: #999; font-size: 16px; font-weight: normal; padding: 0;}
/* Event list style end */

/* Chart style start */
/* Tab style start */
/* Tab header start */
#chartTab .nav-tabs {border: 0;}
#chartTab .nav-tabs > li {font-size: 18px; text-align: center; width: 50%;}
#chartTab .nav-tabs > li > a {border: none; border-radius: 0; color: #666666; margin: 0; padding: 8px 15px; position: relative; opacity: 0.5;}
#chartTab .nav-tabs > li > a:hover {background: transparent; border: none; opacity: 1;}
#chartTab .nav-tabs > li.active > a, #chartTab .nav-tabs > li.active > a:hover, #chartTab .nav-tabs > li.active > a:focus {background: transparent; color: #10c6b4; cursor: pointer; opacity: 1;}
#chartTab .nav-tabs > li.active:after {background: #10c6b4; content: " "; display: block; height: 2px; left: 50%; max-width: 200px; position: absolute; transform: translateX(-50%); width: 80%;}
#chartTab .navbar-fixed-top {border: none;}
/* Tab header end */

#record > .chart, #totalHr > .chart {margin-top: 25px;}
.chart .chartInfo {align-items: center; color: #666; height: 176px; padding: 60px 0; text-align: center;}
.chart .totalHour {color: #333; font-size: 36px; line-height: 1;}
.chart .totalHour .small {font-size: 18px;}
.chart .chartLabel {font-size: 16px;}
.statistics {background: #fff; box-shadow: 1px 1px 0 #ddd; margin: 25px 15px 15px; padding: 10px;}
.statistics .label {display: inline-block; font-size: 14px; line-height: 25px; margin: 3px; padding: 0;}
.statistics .text {display: inline-block; font-size: 16px; line-height: 25px; width: calc(100% - 70px);}
.statistics .hours {display: inline-block; font-size: 16px; line-height: 25px; text-align: right; width: 40px;}
.color0 {color: #f28b8b;}
.color1 {color: #f49769;}
.color2 {color: #f9c74b;}
.color3 {color: #e4ea78;}
.color4 {color: #b6e09b;}
.color5 {color: #88d66e;}
.color6 {color: #69b577;}
.color7 {color: #75d3ba;}
.color8 {color: #93f2f9;}
.color9 {color: #69d2f7;}
.color10 {color: #3d9be8;}
.color11 {color: #6575ea;}
.color12 {color: #8382db;}
.color13 {color: #b980dd;}
.color14 {color: #efa3c8;}
.chart .pagination > li > a, .chart .pagination > li > span {background: #ccc; border: 0; border-radius: 50%; height: 6px; margin: 0 3px; padding: 0; width: 6px;}
.chart .pagination > .active > a, .chart .pagination > .active > span, .chart .pagination > .active > a:hover, .chart  .pagination > .active > span:hover, .chart .pagination > .active > a:focus, .chart .pagination > .active > span:focus {background: #999;}
/* Chart style end */

/* Event details page style start */
.eventTitle {color: #666; font-size: 18px; line-height: 1.5;}
.eventInfo {list-style: none; margin-top: 15px; padding: 0;}
.eventInfo li {border-top: 1px solid #eeeddd; padding: 5px;}
.eventInfo li:last-child {border-bottom: 1px solid #eeeddd;}
.eventInfo .label {color: #999; display: block; font-size: 16px; font-weight: normal; padding: 3px 0; text-align: left; width: 100%;}
.eventInfo .text {color: #333; display: block; font-size: 16px; padding: 3px 0; width: 100%;}
.eventInfo .attachment .text {display: block; position: relative;}
.eventInfo .attachIcon {background: url(../images/ole_icon_parent.png) -167px -54px no-repeat; background-size: auto 280px;     float: left; height: 18px; vertical-align: text-bottom; width: 18px;}
.eventInfo .attachName {display: block; margin-left: 20px; width: calc(100% - 20px);}
@media (min-width: 375px){
    #totalHourChart > div > div {float: right;}
}
/* Event details page style end */
/* Content style end */