@charset "utf-8";
/* CSS Document */

html,body {	margin:0;	padding:0;	height:100%; /* needed for container min-height */ font-family:Verdana, "微軟正黑體"; font-size:15px; }
a, select, input { font-family:Verdana, "微軟正黑體;font-size:13px;"}
a { text-decoration:none}
p.spacer { line-height:0px; height:0px; clear:both; display:block; padding:0px; margin:0px; height:0px}
#container {	position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	display:block;
	background:#fff;
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
	min-height:100%; /* real browsers */
	 width:985px; margin:0 auto; box-shadow:0 0 5px #888;
        overflow: hidden;
}

.overlay {position:fixed; left:0; top:0; width:100%; height: 100%; background-color: white; opacity: 0.6; display: none;}
#header {	min-height:90px; position:relative;}
#content_board { min-height:300px; /* bottom padding for footer */}
#main_content{ display:block; }
#main_menu{ display:block; min-height:30px;text-align:center; padding-left:110px;padding-right:110px; position:relative}
#main_menu ul { margin:0; padding:0; display:block;}
#main_menu ul li{margin:0; padding:0; display:block; list-style-type:none;  }
#sub_menu{ display:block;}
.school_logo{ display:none;}
.lp_name {	display:block;	position:absolute;	left:auto;	right:30px;	bottom:10px;	font-size:1.5em; color:#000; text-shadow:0 1px 3px #FFF; font-family:Georgia, "Times New Roman", Times, serif; font-style:oblique}
.custom_banner  .lp_name {	display:block;	position:absolute;	left:auto;	right:30px;	bottom:10px; top:auto;	font-size:1.5em; color:#000; text-shadow:0 1px 3px #FFF; font-family:Georgia, "Times New Roman", Times, serif; font-style:oblique;text-align:right;}
.custom_banner .school_name { background:none;position:absolute; padding:0;	 margin:0; padding-top:5px; left:15px; text-align:left; top:5px; padding-left:0;} 
.custom_banner .student_name { background:none; text-align:left; padding:0; margin:0;padding-top:5px; position:absolute; left:15px;	top:35px;}
.custom_banner .animated_element { display:none;}
#sub_menu ul { margin:0; padding:0; display:block;}
#sub_menu ul li{margin:0; padding:0; display:block; list-style-type:none; clear:both}
#footer {	position:absolute;	width:100%;	bottom:0; /* stick to bottom */	 height:35px;}
#footer span { display:block; margin-left:10px;margin-left:10px; font-size:0.85em;}
#footer span em{ display:block; float:right; padding-right:5px; font-style:normal}
#footer span a.link_eclass{ display:block; background: url(/images/2020a/logo_eclass_footer.gif) no-repeat; height:15px; width:40px; float:right;}

.fb_option { z-index: 999; font-size: 0.85em; display:block; position:fixed;
            top:100%; left:50px; padding:3px 10px; margin-top: -35px; height:35px;
            color:#000000; background:url(/images/2020a/iPortfolio/LP/bg_pop.png);
            background-color: rgba(255,255,255,0.7)
            border-radius: 10px 10px 0 0;-moz-border-radius: 10px 10px 0 0;-webkit-border-radius: 10px 10px 0 0;
             width: 400px;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
            } 
.lp_fb_like { display:block; float:left;  font-size:0.9em; min-height:25px; padding-top:5px; }
a.lp_fb_share {  font-size: 0.85em; margin-top:5px;background: url(/images/2020a/icon_fb.gif) no-repeat left 2px; margin-left:15px; padding-left:20px; display:block; float:right;   color: #003399;}
a.lp_fb_share:hover{   color: #ff0000;  }
a.lp_info_comment { float: left; margin-left:10px; background: url(/images/2020a/icon_comment2.gif) no-repeat left top; padding-left:20px; line-height:20px; padding-right:5px; font-weight:bold }
#comment_iframe{height:450px; width:100%}

.content_board_main_bg { min-height:400px;}

.edit_tool { display:block; background: url(/images/2020a/iPortfolio/LP/tool_bg.png); z-index:100; border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; border:1px solid #FFFFFF; padding:3px 5px; box-shadow:0 0 2px #888
    transition: opacity 0.3s linear, visibility 0.3s;
    -moz-transition: opacity 0.3s linear, visibility 0.3s;
    -webkit-transition: opacity 0.3s linear, visibility 0.3s;
    -o-transition: opacity 0.3s linear, visibility 0.3s;
}
.edit_tool * { color:#FFFFFF; font-size:12px;}
.edit_tool_ind { background:none; border:none; box-shadow:none; display:block;}
.edit_tool a{line-height:20px; display:block; padding-left:20px; background:url(/images/2020a/iPortfolio/LP/icon_tools.gif) no-repeat left top; text-align:left }
.edit_tool a.tool_add { background-position:0px 0px;}
.edit_tool a.tool_delete { background-position:0px -20px;}
.edit_tool a.tool_edit { background-position:0px -40px;}
.edit_tool a.tool_setting { background-position:0px -60px;}
.edit_tool a.tool_preview { background-position:0px -80px;}
.edit_tool a:hover { color:#FFFF00; text-decoration:underline}
.edit_tool a:active{ color:#FFFF00;text-decoration:none;}
.edit_tool div{font-size:10px;color:#FFFFFF;font-weight:bold;}
#main_menu .edit_tool, #header .edit_tool{  float:right; position:absolute; right:0; top:0; visibility:hidden; opacity: 0} 
#sub_menu .edit_tool { float:left; visibility:hidden; opacity: 0}
#sub_menu select {float:left}
#sub_sub_menu {min-height: 20px;position:relative;}
#page_title, #sub_title { position:relative; cursor: pointer;}
#page_title .edit_tool, #sub_title .edit_tool{float:none; left: 0px; width: 120px; top: 2em; visibility:hidden; opacity: 0; position:absolute;}
#content_detail .edit_tool{float:none; right: 0px; width: 120px; top: 0px; visibility:hidden; opacity: 0; position:absolute;}
#header:hover .edit_tool, #main_menu:hover .edit_tool, #sub_menu:hover .edit_tool, #sub_sub_menu:hover .edit_tool, #weblog_display:hover>.edit_tool, #weblog_display .weblog_item:hover .edit_tool{ visibility:visible; opacity:1}
#content_detail .edit_tool {  float:left; clear:both; margin-bottom:10px;}
#content_detail .edit_tool a, #sub_menu .edit_tool a{  margin-right:10px;}
#weblog_display {position:relative;}
#weblog_display>.edit_tool {position:absolute;right:-10px; top:-30px;}
#weblog_display .weblog_item {
    margin: 10px;
    position:relative; left:0px; width:100%; min-height: 20px;
}
#weblog_display .weblog_item h4 { margin: 5px 0px; padding: 5px; background: url("/images/2020a/iPortfolio/LP/bg_pop.png") repeat scroll 0 0 transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#weblog_display .weblog_item h4 span{
    float: right;
    font-weight: normal;
    font-size: 12px;
    font-style: italic;
    color: dimgray;
}
#content_detail .weblog_content{margin-left: 10px; border: 2px dashed white; padding: 3px 5px;}
.drop_hint {position:absolute; width: 100%; height: 100%; z-index:999; color: red; font-size:30px; text-align: center; background-color: white; opacity: 0.6; display: none; }

#edit_form {width:600px}
/********* edit tools************/

/** for fancy box**/
.fancybox-skin {
	 background:#FFF url(/images/2020a/iPortfolio/LP/setting_bg.gif) repeat-x bottom;
		-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
}
.fancybox-overlay {	background: url(/images/2020a/iPortfolio/LP/bg_pop.png);}
/******************************/
/***********Setting ****************/

#themesetting {background-color: white; padding-bottom: 10px; right: 20px; min-height:500px; width:750px; z-index: 999; box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
body.setting_bg { background:none; min-width:770px; width:770px; padding:0px 10px;
}
body.setting_section_bg { background:none; min-width:570px; width:570px; padding:0px 10px;}
.setting_board { display:block; padding-bottom:30px;}
h1.setting_title { display:block; padding-bottom:10px; font-weight:bold; font-size:1.2em; color:#0e4d00; text-align:center; clear:both; padding:0; margin:0;}
.control_board { background: #EFEFEF; padding:10px;
    background: -webkit-gradient(linear, top, bottom, from(#ededed), to(#fff));
      /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #ededed, #fff);
      /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #ededed, #fff);
      /* IE 10 */
    background: -ms-linear-gradient(top, #ededed, #fff);
      /* Opera 11.10+ */
    background: -o-linear-gradient(top, #ededed, #fff);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;  
  
}
.control_board h2 { background:url(/images/2020a/iPortfolio/LP/setting_control_title.gif) repeat-x center; margin:0; padding:0; font-size:1em; font-weight:bold; margin-bottom:10px}
.control_board h2 span { background:#ededed; padding-left:5px; padding-right:10px; }

.removed_items{height: 300px; overflow: auto; width:300px; padding:5px; margin:0px 5px;  background: url("/images/2020a/iPortfolio/LP/bg_pop.png") repeat scroll 0 0 transparent;}

ul.template_list { margin:0; height: 250px; display:block; padding:10px; overflow:auto;}
ul.template_list li { list-style-type:none;  padding:0; margin:0 7px 15px 7px; display:block; float:left;} 
ul.template_list li a.template_thumb { display:block; width:155px; height:100px; padding:2px; background:no-repeat 3px  3px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; clear:both; margin-bottom:3px;}
ul.template_list li a.template_thumb span { border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;display:block; border:1px solid #c0c0c0; background:url(/images/2020a/iPortfolio/LP/template_list_bg.png); display:block; width:155px; height:100px;}
ul.template_list li a.template_thumb:hover span{ border:#FF0000 3px solid}
ul.template_list li.selected a.template_thumb, ul.template_list li a.template_thumb:hover{ width:159px; height:104px;padding:0; }
ul.template_list li.selected a.template_thumb span {border:3px solid #0080b6; background:url(/images/2020a/iPortfolio/LP/template_selected.png) no-repeat right bottom; box-shadow:0 3px 3px #a1a1a1}
ul.template_list li#theme_01 a.template_thumb { background-image: url(/images/2020a/iPortfolio/templates_thumb/template_01.gif)}
ul.template_list li#theme_02 a.template_thumb { background-image: url(/images/2020a/iPortfolio/templates_thumb/template_02.gif)}
ul.template_list li#theme_03 a.template_thumb { background-image: url(/images/2020a/iPortfolio/templates_thumb/template_03.gif)}
ul.template_list li#theme_04 a.template_thumb { background-image: url(/images/2020a/iPortfolio/templates_thumb/template_04.gif)}
ul.template_list li#theme_05 a.template_thumb { background-image: url(/images/2020a/iPortfolio/templates_thumb/template_05.gif)}
ul.template_list li#theme_06 a.template_thumb { background-image: url(/images/2020a/iPortfolio/templates_thumb/template_06.gif)}
ul.template_list li#theme_07 a.template_thumb { background-image: url(/images/2020a/iPortfolio/templates_thumb/template_07.gif)}
ul.template_list li#theme_08 a.template_thumb { background-image: url(/images/2020a/iPortfolio/templates_thumb/template_08.gif)}
ul.template_list li#theme_09 a.template_thumb { background-image: url(/images/2020a/iPortfolio/templates_thumb/template_09.gif)}
ul.template_list li#theme_10 a.template_thumb { background-image: url(/images/2020a/iPortfolio/templates_thumb/template_10.gif)}
ul.template_list li#theme_11 a.template_thumb { background-image: url(/images/2020a/iPortfolio/templates_thumb/template_11.gif)}
ul.template_list li#theme_12 a.template_thumb { background-image: url(/images/2020a/iPortfolio/templates_thumb/template_12.gif)}
ul.template_list li#theme_13 a.template_thumb { background-image: url(/images/2020a/iPortfolio/templates_thumb/template_13.gif)}
ul.template_list li#theme_14 a.template_thumb { background-image: url(/images/2020a/iPortfolio/templates_thumb/template_14.gif)}
ul.template_list li#theme_15 a.template_thumb { background-image: url(/images/2020a/iPortfolio/templates_thumb/template_15.gif)}
ul.template_list li#theme_16 a.template_thumb { background-image: url(/images/2020a/iPortfolio/templates_thumb/template_16.gif)} /*20130917*/
ul.template_list li em { display:block; float:left; font-style:normal; line-height:20px; padding-top:3px;}
ul.template_list li.selected em {color:#003b83}

.template_size { padding-left:10px; font-size:0.8em;}
.template_size em{color:#003b83}
.template_uploaded { display:block; padding-left:25px; position:relative}
.upload_file { display:block; float:left; margin-left:10px; padding-right:10px; padding-left:30px; padding-top:5px; min-height:25px;  background:url(/images/2020a/iPortfolio/LP/arrow.png) no-repeat left top }

ul.section_setting { margin:0; height: 350px; display:block; padding:10px; overflow:auto;}
ul.section_setting li { list-style-type:none; display:block; margin-bottom:10px; padding-left:47px; padding-right:5px; padding-top:3px; padding-bottom:3px; min-height:25px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; background:#DFFAFF}
ul.section_setting li .edit_tool_ind{ padding:0; margin-left:-43px; width:42px; float:left; visibility:hidden; opacity: 0; }
ul.section_setting li .edit_tool_ind a{ width:1px;}
ul.section_setting li a.section_title { display:block; float:left; width:98%; line-height:20px;}
ul.section_setting li .section_title_edit { display:block; float:left; width:98%; line-height:20px;}
ul.section_setting li:hover, ul.section_setting li.editing { background:#f4f191; box-shadow: 0 0px 3px #999; }
ul.section_setting li:active .edit_tool_ind{ visibility:hidden; opacity: 0}
ul.section_setting li a.section_title:hover { cursor:move; color:#FF0000}
ul.section_setting li:hover .edit_tool { visibility:visible; opacity:1}
ul.section_setting li.section_add { padding-left:5px; background:none; }
ul.section_setting li.section_add .edit_tool_ind { margin-left:0px; visibility:visible; opacity:1}
ul.section_setting li.section_add .edit_tool_ind a{ width:100px; color:#006600}
ul.section_setting li.section_add:hover { background:none; box-shadow:none;}
/****************/

.edit_bottom { display:block; position:absolute; bottom:0px; height:30px; width:95%; text-align:center; margin: 10px;}
.formbutton {border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; margin:0px 5px 0px 5px; border:2px solid #1372a4;background: #EFEFEF; padding:2px 10px; box-shadow :0 0 2px inset  #FFF; box-shadow: 0 3px 3px #999;color:#00366d; text-shadow:0 0 2px #FFF;
 background: #c6edf4; /* Old browsers */
background: -moz-linear-gradient(top, #c6edf4 0%, #c6edf4 51%, #84d7e9 51%, #7db9e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c6edf4), color-stop(51%,#c6edf4), color-stop(51%,#84d7e9), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #c6edf4 0%,#c6edf4 51%,#84d7e9 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #c6edf4 0%,#c6edf4 51%,#84d7e9 51%,#7db9e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #c6edf4 0%,#c6edf4 51%,#84d7e9 51%,#7db9e8 100%); /* IE10+ */
background: linear-gradient(to bottom, #c6edf4 0%,#c6edf4 51%,#84d7e9 51%,#7db9e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6edf4', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */}
.formbutton:hover { background: #7db9e8; /* Old browsers */ 
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: #7db9e8;box-shadow: 0 1px 3px #999; color:#000;
background: -moz-linear-gradient(top,  #7db9e8 0%, #84d7e9 49%, #c6edf4 49%, #c6edf4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(49%,#84d7e9), color-stop(49%,#c6edf4), color-stop(100%,#c6edf4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7db9e8 0%,#84d7e9 49%,#c6edf4 49%,#c6edf4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7db9e8 0%,#84d7e9 49%,#c6edf4 49%,#c6edf4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7db9e8 0%,#84d7e9 49%,#c6edf4 49%,#c6edf4 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7db9e8 0%,#84d7e9 49%,#c6edf4 49%,#c6edf4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#c6edf4',GradientType=0 ); /* IE6-8 */
}
.formsubbutton {border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; margin:0px 5px 0px 5px; border:2px solid #959595; padding:2px 10px; box-shadow :0 0 2px inset  #FFF; box-shadow: 0 3px 3px #999; color:#666; text-shadow:0 0 2px #FFF;
background: #f2f2f2; /* Old browsers */
background: -moz-linear-gradient(top,  #f2f2f2 0%, #ededed 49%, #dddddd 52%, #dbdbdb 100%, #e0e0e0 100%, #e2e2e2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(49%,#ededed), color-stop(52%,#dddddd), color-stop(100%,#dbdbdb), color-stop(100%,#e0e0e0), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f2f2f2 0%,#ededed 49%,#dddddd 52%,#dbdbdb 100%,#e0e0e0 100%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f2f2f2 0%,#ededed 49%,#dddddd 52%,#dbdbdb 100%,#e0e0e0 100%,#e2e2e2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f2f2f2 0%,#ededed 49%,#dddddd 52%,#dbdbdb 100%,#e0e0e0 100%,#e2e2e2 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f2f2f2 0%,#ededed 49%,#dddddd 52%,#dbdbdb 100%,#e0e0e0 100%,#e2e2e2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */


}
.formsubbutton:hover {background: #7db9e8;box-shadow: 0 1px 3px #999; color:#000;
background: #e2e2e2; /* Old browsers */

background: -moz-linear-gradient(top,  #e2e2e2 0%, #e0e0e0 0%, #dbdbdb 0%, #dddddd 48%, #ededed 51%, #f2f2f2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(0%,#e0e0e0), color-stop(0%,#dbdbdb), color-stop(48%,#dddddd), color-stop(51%,#ededed), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e2e2e2 0%,#e0e0e0 0%,#dbdbdb 0%,#dddddd 48%,#ededed 51%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e2e2e2 0%,#e0e0e0 0%,#dbdbdb 0%,#dddddd 48%,#ededed 51%,#f2f2f2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e2e2e2 0%,#e0e0e0 0%,#dbdbdb 0%,#dddddd 48%,#ededed 51%,#f2f2f2 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e2e2e2 0%,#e0e0e0 0%,#dbdbdb 0%,#dddddd 48%,#ededed 51%,#f2f2f2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */ }

.sortable-placeholder {background-color: yellow; border: 1px dashed gray; opacity: 0.5; }


.form_table_select_student { width:95%; border:1px solid #CCC;margin-left:20px; margin-top:5px;}
.form_table_select_student{ width:80%;	margin:0 auto;	border-collapse:separate;	border-spacing: 5px; 	*border-collapse: expression('separate', cellSpacing = '5px');}
.form_table_select_student th{ padding:10px; background:#e6e6e6; font-weight:normal; text-align:left; vertical-align:top;  width:50%}
.form_table_select_student th span { display:block; clear:both; padding-bottom:5px;padding-top:5px;}
.form_table_select_student th em { display:block; clear:both; padding-bottom:10px; padding-top:10px;}

.lp_review_list { display:block; clear:both; width:600px;}
.lp_review_list ul { display:block; margin:0; padding:0;}
.lp_review_list ul li.review_log { display:block; list-style-type:none; padding:10px; margin:0; border-top:1px solid #e0d3bf; margin-bottom:10px; padding-left:100px; clear:both}   
.lp_review_list .user_photo {margin-left:-90px; width:71px;float:left;padding-left:0;}
.lp_review_list .user_photo span {width:65px; height:65px;}
.lp_review_list .user_photo span img{max-width:65px; max-height:65px;}
.review_detail { display:block; width:100%; float:left}
.review_detail h2{ display:block; margin:0; padding:0; font-size:1.1em; font-weight:normal; line-height:1.1em; color:#274a7e}
.review_detail h2 span{ font-size:0.9em;}
.review_detail h2{  float:left; }
.review_content { display:block; clear:both; padding:8px 0 8px 0;}
.review_footer{display:block; clear:both;}
.review_footer .date_time{ cursor:default; display:block; float:left; color:#666666}

/* copied from fancybox */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('/images/2020a/fancybox/fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 10060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('/images/2020a/fancybox/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 60px;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('/images/2020a/fancybox/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: -60px;
}

.fancybox-next {
	right: -60px;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: visible;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -9999px;
	left: -9999px;
	visibility: hidden;
}

/* Overlay helper */

.fancybox-lock {
	overflow: hidden;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('/images/2020a/fancybox/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 9999;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}