@charset "utf-8";
/* CSS Document */
body{
	font-family:  Arial,Verdana, Helvetica, sans-serif;
	font-size: 12px;	
}

#stu_left_function_item {
	font-size: 12px;	
	margin: 0px;
	padding-left: 5px;
	padding-top: 10px;
	width: 98%;
	display: block;
}

#stu_left_function_item ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
	clear: left;
	width: 100%;
}

#stu_left_function_item li {
	display: block;
    padding: 0px;
	padding-bottom: 1px;
	width: 100%;

}

#stu_left_function_item a {

	display: block;
	text-decoration: none;
	padding-top: 3px;
	padding-right: 15px;
	padding-bottom: 3px;
	padding-left: 5px;

}
#stu_left_function_item a span {
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 20px;
	display: block;
}
#stu_left_function_item a:hover {
	color: #FF0000;

}
#stu_left_function_item #current a:hover {
	color: #FF0000;


}
.icon_stu_acc{
	color: #000000;
	display: block;
	background-image: url(../images/2007a/iPortfolio/icon_stu_acc_off.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.icon_stu_acc_on{
	color: #000000;
	font-weight:bold;
	display: block;
	background-image: url(../images/2007a/iPortfolio/icon_stu_acc_on.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.icon_stu_acc:hover{
	background-image: url(../images/2007a/iPortfolio/icon_stu_acc_on.gif);
}

.icon_LP{
	color: #2b8105;
	display: block;
	background-image: url(../images/2007a/iPortfolio/icon_LP_off.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.icon_LP_on{
	color: #2b8105;
	font-weight:bold;
	display: block;
	background-image: url(../images/2007a/iPortfolio/icon_LP_on.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.icon_LP:hover{
	background-image: url(../images/2007a/iPortfolio/icon_LP_on.gif);
}

.icon_scheme{
	color: #9b3b07;
	display: block;
	background-image: url(../images/2007a/iPortfolio/icon_scheme_off.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.icon_scheme_on{
	color: #9b3b07;
	font-weight:bold;
	display: block;
	background-image: url(../images/2007a/iPortfolio/icon_scheme_on.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.icon_scheme:hover{
	background-image: url(../images/2007a/iPortfolio/icon_scheme_on.gif);

}

.page_title{
	width: 180px;
	height: 37px;
	padding-right:20px;
	vertical-align:middle;
	background-position:right;
	background-repeat:no-repeat;
	font-size: 13px;
	color: #000000;
	font-weight:bold;
}
.sub_page_title{
	font-size: 12px;	
	color: #000000;
	font-weight:bold;
	padding:5px;
}
.stu_info_log{
	padding: 5px;
	border-top-width: 3px;
	border-bottom-width: 3px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #c2c2c2;
	border-bottom-color: #c2c2c2;
	background-color: #f3f3f3;
}
.stu_info_log_main{
	background-color: #f2fafe;
}
.form_field_name{
	width: 100px;
	font-size: 12px;
	vertical-align:top;
	padding:4px;
}
.form_field_content{
	font-size: 12px;
	vertical-align:top;
	background-color: #FFFFFF;
	padding:4px;
	
}
.stu_acc_OLR_tab{
	font-size: 12px;
	background-color:#ebebeb;

}
.stu_acc_OLR_tab a{
	padding:5px;
	color:#999999;
	text-decoration:none;

}
.stu_acc_OLR_tab a:hover{
	color:#FF0000;

}
.stu_acc_OLR_tab span{
	padding:5px;
	color:#000000;
	text-decoration:none;
	background-color:#FFFFFF;
	font-weight:bold;

}

.tablerow_total {
	background-color: #F4FBFB;

}
.tablerow_total2 {
	background-color: #deeded;

}
.tablerow_subtotal {
	background-color: #DDF0F0;

}
.tablerow_title{
background-color: #e0e0e0;
}
.status_approved {
	background-color: #FFFFFF;

}
.status_reject {
	background-color: #ffe0e1;

}
.status_waiting {
	background-color: #F7FEEF;

}
.status_teacher {
	background-color: #DFF7FF;

}

.page_title_LP_sub{

	height: 34px;
	padding-right:10px;
	padding-left:10px;
	background-repeat:no-repeat;
	font-size: 12px;
	color: #000000;
	font-weight:bold;
}
.LP_on_title{
	color:#17409c;
	font-weight:bold;
	font-size:12px;
	text-decoration: none;
}
.LP_on_title:hover{
		color:#FF0000;
}
.LP_draft_title{
	color:#686867;
	font-weight:bold;
	font-size:12px;
	text-decoration: none;
}
.LP_draft_title:hover{
		color:#FF0000;
}
.LP_draft{
	color:#a0a0a0;
	font-weight:bold;
	font-size:12px;
}
.LP_shared{
	color:#ed7b00;
	font-weight:bold;
	font-size:12px;
}
.LP_publish{
	color:#357108;
	font-weight:bold;
	font-size:12px;
}
.LP_comment{
	color:#FF0000;
	font-size:12px;
	text-decoration: none;
}
.LP_comment:hover{
	text-decoration: underline;
}
.scheme_phase_time_on{
 color:#418f07;
 font-weight:normal;
}
.phase_title_on{
 color:#418f07;
 font-weight:bold;
	text-decoration: underline;
 
}
.phase_title_on:hover{
 color:#ff0000;

}
.phase_title_off{
 color:#000000;
	text-decoration: underline;
 
}
.phase_title_off:hover{
 color:#ff0000;

}
.phase_title_on{
 color:#418f07;
 font-weight:bold;
}
.thumb_list{
	color:#000000;
	font-size:12px;
}
.thumb_list a{
	color:#014d94;
	text-decoration: none;
}
.thumb_list a:hover{
	color:#FF0000;
	
}
.thumb_list span{
	font-weight:bold
}
.student_list_top_thumb{
	background-color:#dddddd;
}
.student_list_top{

	padding:2px;
}
.student_list_top a{
	color:#337aee;
	text-decoration:none;
}
.student_list_top a:hover{
	color:#FF0000;
}
.student_list_top_list{
	border-top:solid 1px #dddddd
}
.student_thumb_content{
	border-bottom:solid 1px #dddddd
}
.photo_border_on{
	border:solid 2px #66b410;
}
.photo_border{
	border:solid 1px #666666;
}
.new_alert {
	color:#FF0000;
	font-size : 10px;
	text-decoration:none;
	font-weight:bold;
}
.new_alert:hover {

	text-decoration:underline;
}
.row_on {
	background-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b8b8b8;
}
.row_off {
	background-color: #f0f0f0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b8b8b8;
}
.top_batch 
{
font-size: 11px; 
font-family: Arial, Helvetica, sans-serif; }
.scheme_submit{
	padding:2px;
}
.scheme_submit a{
	color:	#40790e;
	text-decoration:none;
	}
.scheme_submit a:hover{
	color:	#FF0000;

	}
.scheme_submit_done{
	background-color:#d2e1f5;

}
.scheme_submit_on{
	background-color:#cbf4c5;

}
.scheme_submit_off{
	background-color:#e8e8e8;

}
.scheme_act_btn{
 	width:67px; 
	height:23px; 
	display:block;  
	margin-bottom:5px;
}
.scheme_act_btn a{
	display:block; 
	height:23px; 
	text-align:center; 
	padding-top:3px; 
	font-size:12px;
	text-decoration:none;

}

.scheme_act_btn_activate{
	background-image:url(../images/2007a/iPortfolio/btn_activate.gif);

}
.scheme_act_btn_activate a{
	color:#FFFFFF; 
	font-weight:bold;
}
.scheme_act_btn_activate a:hover{
	color:#000000;
}
.scheme_act_btn_deactivate{
	background-image:url(../images/2007a/iPortfolio/btn_deactivate.gif);

}
.scheme_act_btn_deactivate a{
	color:#000000; 
	font-weight:normal;
}
.scheme_act_btn_deactivate a:hover{
	color:#FF0000; 

}

.seperator_left{
/*	border-left-width: 1px;
	border-left-style: double;
	border-left-color: #666666;*/
}
.seperator_right{
	border-right-width: 1px;
	border-right-style: groove;
	border-right-color: #999999;
}
.select_form_group{
	font-weight:bold;
}
.select_class{
	padding-left:10px;
}