.cke_button__sba_icon {
	display:none !important
}

.cke_button__sba_label {
    display: inline !important;
}

.cke_button__insertsticker_icon {
	height:18px;
	background-image:url('plugins/InsertSticker/icons/edsticker.png');
}

.cke_button__addcaptionsymbol_icon {
	height:16px;
	background-image:url('plugins/AddCaptionSymbol/icons/AC.gif');
}

.cke_button__missing_icon {
	height:16px;
	background-image:url('plugins/Missing/icons/ed_insertmissing.gif');
}

.cke_button__marginalcomment_icon {
	height:16px;
	width:18px;
	background-image:url('plugins/MarginalComment/icons/ed_marginalcomment.gif');
}

.cke_button__redcomment_icon {
	height:18px;
	background-image:url('plugins/RedComment/icons/ed_comment.gif');
}

.cke_button__markcorrect_icon {
	height:16px;
	background-image:url('plugins/MarkCorrect/icons/ed_correct.gif');
}

.cke_button__markpartright_icon {
	height:16px;
	background-image:url('plugins/MarkPartRight/icons/ed_partlycorrect.gif');
}

.cke_button__markwrong_icon {
	height:16px;
	background-image:url('plugins/MarkWrong/icons/ed_incorrect.gif');
}

.cke_button__appreciate_icon {
	height:18px;
	background-image:url('plugins/Appreciate/icons/ed_appreciate.gif');
}

.cke_button__markingcode_icon {
	height:16px;
	background-image:url('plugins/MarkingCode/icons/ed_markingcode.gif');
}

.cke_button__markingscheme_icon {
	height:16px;
	background-image:url('plugins/MarkingScheme/icons/ed_markingscheme.gif');
}

.cke_button__topicsentence_icon {
	height:16px;
	background-image:url('plugins/TopicSentence/icons/ed_topicsentence.gif');
}

.cke_button__errorsummary_icon {
	height:16px;
	background-image:url('plugins/ErrorSummary/icons/ed_errorsummary.gif');
}

.cke_button__needexplanationsymbol_icon {
	height:16px;
	background-image:url('plugins/NeedExplanationSymbol/icons/NE.gif');
}

.cke_button__mp3upload_icon {
	height:16px;
	background-image:url('plugins/mp3upload/icons/ed_mp3upload.gif');
}

.cke_button__powervoice_icon {
	height:18px;
	width:18px;
	background-image:url('plugins/powervoice/icons/powervoice.gif');
}

.cke_button__insertflippedchannels_icon {
	height:18px;
	width:18px;
	background-image:url('plugins/InsertFlippedChannels/icons/flipped_channels_icon.png');
}

.cke_button__replytemplate_icon {
	display:none !important
}

.cke_button__replytemplate_label {
	display: inline !important;
}