@charset "utf-8";
html {height:100%;}
body {width:100%; height:100%; background:#fff; color:#333; font-family:"蘋方-繁", "PingFang TC", "微軟正黑體", "Microsoft JhengHei", Verdana, sans-serif; font-size:12px; -ms-overflow-style: scrollbar !important; /*fix ie scrollbar covering content*/}
@media all and (min-width:1100px) {
  body {font-size:13px;}
}
@media all and (min-width:1400px) {
  body {font-size:15px;}
}
@media all and (max-width:768px) {
  body {font-size:14px;}
}
a, a:hover, a:focus {text-decoration:none;}
a {color:#319c9c;}
a:hover {color:#60c3c3;}
*:focus {outline:none !important; box-shadow:none;}
/*Scroll bar*/
::-webkit-scrollbar {width:10px; height:10px;}
::-webkit-scrollbar-track {background:#fff; -webkit-box-shadow:inset 1px 1px 2px rgba(0, 0, 0, 0.1); box-shadow:inset 1px 1px 2px rgba(0, 0, 0, 0.1);}
::-webkit-scrollbar-thumb {background:#ccc; -webkit-box-shadow:inset 1px 1px 2px rgba(0, 0, 0, 0.2); box-shadow:inset 1px 1px 2px rgba(0, 0, 0, 0.2);}
::-webkit-scrollbar-thumb:hover {background:#aaa;}
::-webkit-scrollbar-thumb:active {background:#888; -webkit-box-shadow:inset 1px 1px 2px rgba(0, 0, 0, 0.3); box-shadow:inset 1px 1px 2px rgba(0, 0, 0, 0.3);}

/*========== GENERAL ==========*/
@media only screen and (min-width:769px) {
	.elearn-overview {min-height:50vh; padding:1rem;}
}

/*select child*/
.elearn-overview:not(.parent) .select-child {display:none;}
.select-child {width:100%; text-align:right;}
.select-child .btn {background-color:#eee;}
.select-child .btn:focus {box-shadow:none;}
.dropdown-menu {padding:0; font-size:inherit;}
.dropdown-item {padding:.15rem .5rem;}
.dropdown-item.active, .dropdown-item:active {background-color:#5cb2cc;}
@media all and (max-width:768px) {
  .select-child {display:none;}
}

/*date range*/
.elearn-overview .date-range {text-align:center; max-width:100%; width:400px; margin:0 auto 1rem; padding:1rem;}
.elearn-overview .date-range .btn-nav {font-size:1.6rem; color:#ccc;}
.elearn-overview .date-range .btn-nav::before {border-style:solid; border-width:.12em .12em 0 0; content:''; display:block; height:.45em; width:.45em; position:relative; top:10px; transform:rotate(-45deg); -webkit-transform:rotate(-45deg); vertical-align:top;}
.elearn-overview .date-range .btn-nav.next:before {transform:rotate(45deg); -webkit-transform:rotate(45deg);}
.elearn-overview .date-range .btn-nav.prev:before {transform:rotate(-135deg); -webkit-transform:rotate(-135deg);}
.elearn-overview .date-range .btn-nav:hover {opacity:.7;}
.elearn-overview .date-range .btn-nav.prev {float:left;}
.elearn-overview .date-range .btn-nav.next {float:right;}
c.date {display:inline-block; max-width:calc(100% - 50px); font-weight:normal; font-size:21px;}
.elearn-overview .date-range .date {display:inline-block; font-size:21px; color:#4d4d4d;}

@media all and (max-width:769px) {
  .elearn-overview .date-range {max-width:100%; width:100%;}
  .elearn-overview .date-range .date {font-size:18px;}
}

/*========== WEEK TABLE ==========*/
.week-table {display:-webkit-box; display:flex; flex-wrap:wrap; width:100%;}
@media all and (min-width:769px) {
  .week-table {border-top:1px solid #ccc;}
}
.loading {text-align:center; width:100%; margin-top:100px;}

/*column widths*/
.five-cols > .week-table-cell {width:20%;}
.six-cols > .week-table-cell {width:16.6%;}
.seven-cols > .week-table-cell {width:14.2%;}
.week-table-cell.narrow {width:80px;}

/*force row break on last day*/
.break {width:100%; height:0;}

/*table cell styles*/
.week-table-cell {box-sizing:border-box; -webkit-box-flex:1; flex-grow:1; width:100%; overflow:hidden; list-style:none; border:solid 5px #fff; border-width:0 3px; background:#f2f2f2;}
.week-table-cell.date {text-align:center; color:#999; font-size:14px; background:#fff; padding:1rem .5rem;}
.week-table-cell.date.today {color:#333; font-weight:bold; background:#ffd869; margin-top:-12px; padding-top:24px;}
.ej .week-table-cell.date.today {border-radius:30px 30px 0 0;}
.week-table-cell.date.future {color:#333;}
@media all and (max-width:768px) {
  .week-table-cell.date {display:none;}
}
.week-table-cell.real-time {background:#fff3fb; border-width:6px 3px;}
.week-table-cell.today:not(.date) {background:#fffee3;}
@media all and (max-width:768px) {
	.week-table-cell {border-width:0 10px;}
	.week-table-cell.real-time {border-width:6px 10px;}
}
@media all and (min-width:769px) {
    .ej .week-table-cell {border-radius:10px;}
    .ej .week-table-cell.today {border-radius:0 0 10px 10px;}
    .ej .week-table-cell.today.real-time {border-radius:10px;}
    .ej .week-table-cell:not(.today) .subject:first-of-type {border-radius:10px 10px 0 0;}
    .ej .week-table-cell:not(.today) .subject:last-of-type {border-radius:10px;}
    .ej .week-table-cell.today .subject:last-of-type {border-radius:0 0 10px 10px;}
    .ej .week-table-cell:not(.today) .subject:first-of-type .subject-title {border-radius:10px 10px 0 0;}
}
/*subject colors*/
.week-table-cell .subject {background:#a5e9f9; margin-bottom:1px;}
.week-table-cell .subject .subject-title {background:#5cb2cc; padding:3px 8px; font-size:14px; color:#fff;}
.week-table-cell:nth-of-type(odd) .subject:nth-child(odd) , .week-table-cell:nth-of-type(even) .subject:nth-child(even){background:#b7f9f1;}
.week-table-cell:nth-of-type(odd) .subject:nth-child(odd) .subject-title, .week-table-cell:nth-of-type(even) .subject:nth-child(even) .subject-title {background:#5bccc5;}
.week-table-cell.real-time .subject {background:#ffdcec!important;}
.week-table-cell.real-time .subject .subject-title {background:#ea88b0!important;}

/*item*/
.week-table-cell .subject .item {padding:5px 8px;}
.week-table-cell .subject .item:last-child {padding:5px 8px 8px;}
.week-table-cell .subject .item-icon {width:18px; display:inline-block; vertical-align:top;}
.week-table-cell .subject .item-icon:before {content:''; display:inline-block; width:16px; height:16px; background-image:url(../images/icon-view.png); background-size:100% 100%;}
.week-table-cell .subject .item-icon.work:before {background-image:url(../images/icon-work.png);}
.week-table-cell .subject .item-icon.lesson:before {background-image:url(../images/icon-lesson.png);}
.week-table-cell:nth-of-type(odd) .subject:nth-child(odd) .item-icon:before, .week-table-cell:nth-of-type(even) .subject:nth-child(even) .item-icon:before {background-image:url(../images/icon-view-odd.png);}
.week-table-cell:nth-of-type(odd) .subject:nth-child(odd) .item-icon.work:before, .week-table-cell:nth-of-type(even) .subject:nth-child(even) .item-icon.work:before {background-image:url(../images/icon-work-odd.png);}
.week-table-cell:nth-of-type(odd) .subject:nth-child(odd) .item-icon.lesson:before, .week-table-cell:nth-of-type(even) .subject:nth-child(even) .item-icon.lesson:before {background-image:url(../images/icon-lesson-odd.png);}
.week-table-cell.real-time .subject .item-icon.lesson:before {background-image:url(../images/icon-lesson-live.png)!important;}
.week-table-cell .subject .status {display:none;}
.with-status .week-table-cell .subject .status {width:16px; display:inline-block; vertical-align:top; float:right;}
.with-status .week-table-cell .subject .status.fin:before {content:''; display:inline-block; width:16px; height:16px; background-image:url(../images/icon-fin.png); background-size:100% 100%;}
.week-table-cell .subject .item-title {width:calc(100% - 25px); display:inline-block; vertical-align:top; line-height:1.4; cursor:pointer; word-wrap:break-word; overflow:hidden;}
.week-table-cell.future .subject .item-title, .parent .week-table-cell .subject .item-title {cursor:default; pointer-events:none;}
.elearn-overview:not(.parent) .week-table-cell:not(.future) .subject .item-title:hover {opacity:.7;}
.with-status .week-table-cell .subject .item-title {width:calc(100% - 40px);}
.week-table-cell .subject .item-title .due {transform:scale(.8); -webkit-transform:scale(.8); transform-origin:left; -webkit-transform-origin:left; color:#000; opacity:.5;}
.week-table-cell .subject .item-title .period {font-size:1.1em; margin-bottom:3px;}
.week-table-cell .subject .item-title .countdown {transform:scale(.9); -webkit-transform:scale(.9); transform-origin:left; -webkit-transform-origin:left; color:#de4785; margin-top:-5px; margin-bottom:3px;}

/*mobile tabs*/
.week-tab-list {display:-webkit-box; display:flex; -webkit-box-orient:horizontal; -webkit-box-direction:normal; flex-direction:row; margin:5px 10px;}
@media all and (min-width:769px) {
  .week-tab-list {display:none;}
}
.btn-tab {flex-grow:1; align-self:flex-start; color:#999; font-size:14px; background:#fff; padding:.5em; margin: 0 0 5px 0; text-align:center; border:none; border-radius:.5em; text-decoration:none; -webkit-transition:background-color 0.1s; transition:background-color 0.1s; cursor:pointer;}
.btn-tab+.btn-tab {margin-left:5px;}
.btn-tab.today {color:#333; font-weight:bold; background:#ffd869!important;}
.btn-tab.future {color:#333;}
.btn-tab:hover, .btn-tab:focus {background-color:#f2f2f2; outline:none;}
.btn-tab[aria-selected="true"] {background:#f2f2f2; cursor:default;  border-radius:.5em .5em 0 0; margin-bottom:-5px; padding-bottom:24px;}
@media all and (max-width:768px) {
  .week-table-collapse {display: block;}
  .week-table-collapse > .week-table-cell {width:100%!important;}
  .hidden-mobile {display: none;}
}

/*no data*/
.elearn-overview .no-data {color:#ccc; padding:50px 8px;}

/*last update*/
.elearn-overview .last-update {text-align:right; color:#999;}
@media all and (max-width:768px) {
  .elearn-overview .last-update {margin:0 10px;}
}
