@charset "utf-8";
/* CSS Document */

/*
2014-05-08 Ivan
			added .dr_list ul li.after_deadline
2014-03-14 Ivan
			added .dr_list ul li.waiting_reply
2013-01-09 Carlos
			remove "float:left;" from ".dr_file_detail ul li"
2012-11-01 Rita
			added .dr_list ul li ul.member_list li span.memmber_View_Only {width:310px; }
2012-10-31	Ivan
			added .dr_physical_detail { display:block; background:#efefe0; padding:5px 10px 10px 30px;}

2012-10-31	Rita
			add memmber_empty_css
			add width for below classes
.dr_list ul li ul.member_list li span.memmber_done {background-position:left -100px; width:310px; padding-left:20px; color:#157727}
.dr_list ul li ul.member_list li span.memmber_read {background-position:left -200px; width:310px; padding-left:20px; color:#24768e; font-weight:bold}
.dr_list ul li ul.member_list li span.memmber_alert {background-position:left -300px; width:310px; padding-left:20px; color:#FF0000; font-weight:bold}
.dr_list ul li ul.member_list li span.memmber_empty_css {width:310px; }

2012-11-21	Rita
			modified .dr_list ul li,  .dr_list ul li ul.member_list li, .dr_list ul li ul.member_list li.status_pass, .dr_list ul li ul.member_list li.status_current, .dr_list ul li ul.member_list li span.memmber_viewonly
					 .date_time, .tag
*/

a { color:#226094; }

.dr_list { display:block; padding-top:10px;}
.dr_list ul { display:block; clear:both; margin:0; padding:0;}
.dr_list ul li { display:block; clear:both; margin:0; padding:0; list-style-type:none;/*20121119 updated*/ -moz-border-radius: 10px  ;    -webkit-border-radius: 10px   ;    border-radius: 10px  ; margin-bottom:15px;
border: 1px solid #c0c0c0;
	 background-color: #FFFFFF;
}/*20200706*/
.dr_list ul li.processing{ background:#edfae3;}/*20200706*/
.dr_list ul li.waiting { background:#ffe5e5;}/*20200706*/


  .dr_list ul li.waiting_reply { background:#fff6ca;}  /*20200706*/

  .dr_list ul li.after_deadline { background:#ffe3cf;}  /*20200706*/


div.dr_list_header { display:block; margin:0; padding:5px 330px 5px 30px; border-bottom: 1px solid #CCCCCC;}
div.dr_list_header a.btn_set_important { display:block; float:left; margin-left:-25px; background:url(../../../images/2020a/icon_star_vote.png) no-repeat center -35px; width:20px; height:20px;}
div.dr_list_header a.btn_set_important_on { display:block; float:left; margin-left:-25px; background:url(../../../images/2020a/icon_star_vote.png) no-repeat center top; width:20px; height:20px;}
div.dr_list_header h1 { display:block; width:100%; float:left; margin:0; padding:0; font-size:1em; line-height:20px; }
div.dr_list_header h1 a{ color:#2b51b0; text-decoration:none}
div.dr_list_header_detail { min-height:40px; border:none;}
div.dr_list_header_detail h1 { font-size:1.3em; color:#426302}
span.member_pic_name{ display:block; float:right; width:290px; padding-left:20px; margin-right:-330px; background:url(../../../images/2020a/dr/dr_status.gif) no-repeat left top; line-height:20px;}
div.dr_list_header_detail span.member_pic_name { width:auto; font-weight:bold}
.dr_content_detail { display:block; margin:0; padding:10px 330px 5px 30px}
.dr_content_file{ display:block; width:100%; float:left; margin:0; padding:0; font-size:1em; line-height:20px; font-weight:normal}
span.file_attach { display:block; padding-left:20px; background:url(../../../images/2020a/icon_attachment.gif) no-repeat 5px 2px; line-height:20px; clear:both; margin-bottom:10px;}
span.date_time { color:#666666; font-size:1em; display:block; float:left; line-height:20px; margin-bottom: 8px}
span.tag{ display:block; float:left; padding-left:50px; padding-right:10px; line-height:20px;color:#666666;  margin-bottom: 8px }
span.tag em { margin-left:-30px; float:left; width:30px; font-style:normal}
span.tag a { color:#226094; margin-right:5px;}
.dr_list ul li ul.member_list {  margin-right:-330px; width:310px; float:right; clear:none;}
.dr_list ul li ul.member_list li{ display:block; padding:0; background:url(../../../images/2020a/dr/dr_status_normal.gif) no-repeat left top; padding-left:20px; box-shadow:none; border:0; margin-bottom:5px; min-height:20px; color:#838383; list-style-type:none;}
.dr_list ul li ul.member_list li span{display:block; float:left; clear:both;background:url(../../../images/2020a/dr/dr_status.gif) no-repeat 1000px top; line-height:20px; color:#000}/*20121119 updated*/

.dr_list ul li ul.member_list li.status_pass{ background:url(../../../images/2020a/dr/dr_status_past.gif) no-repeat left top; color:#157727}/*20121119 updated*/
.dr_list ul li ul.member_list li.status_current{ background:url(../../../images/2020a/dr/dr_status_current.gif) no-repeat left top;  color:#24768e; }/*20121119 updated*/
.dr_list ul li ul.member_list li span.time_pass {background-position:left -700px;  padding-left:20px; color:#157727}
.dr_list ul li ul.member_list li span.time_current {background-position:left -900px; padding-left:20px; color:#24768e; font-weight:bold}
.dr_list ul li ul.member_list li span.time_coming {background-position:left -500px;  padding-left:20px; color:#838383}
.dr_list ul li ul.member_list li span.memmber_done {background-position:left -100px; width:310px; padding-left:20px; color:#157727}
.dr_list ul li ul.member_list li span.memmber_read {background-position:left -200px; width:310px; padding-left:20px; color:#24768e; font-weight:bold}
.dr_list ul li ul.member_list li span.memmber_alert {background-position:left -300px; width:310px; padding-left:20px; color:#FF0000; font-weight:bold}
.dr_list ul li ul.member_list li span.memmber_empty_css {width:310px; }
.dr_list ul li ul.member_list li span.memmber_View_Only {width:310px; color:#838383 } /*20121119 added*/


.dr_list ul li a:hover, .dr_list ul li  div.dr_list_header h1 a:hover { opacity:0.7;}


.dr_intru_file {display:block;/* box-shadow:0 0 5px #888; */min-height:40px;margin-bottom:30px;border: 1px solid #cccccc;}
.dr_intru_detail { display:block; background:#f9f8e7 url(../../../images/2020a/dr/icon_intru.gif) no-repeat 5px 8px; padding:10px; padding-left:30px;}
.dr_physical_detail { display:block; background:#efefe0; padding:5px 10px 10px 30px;}
.dr_file_detail { display:block; background:#efefe0 url(../../../images/2020a/icon_attachment.gif) no-repeat 10px 5px; padding:5px 10px 10px 30px;}
a.download_all { font-style:italic; padding-left:10px;}
.dr_file_detail ul { padding:0; margin:0; display:block; padding-top:5px;}
.dr_file_detail ul li{ display:block; margin:0; padding:0; list-style-type:none; margin-right:15px;}
.dr_file_detail ul li a{ display:block; padding-left:20px; line-height:20px;}
.dr_file_detail ul li a img{ border:0; margin-right:5px;}

.status_board{ display:block; margin-bottom:10px;border:1px solid #cccccc;-moz-border-radius: 10px  ;    -webkit-border-radius: 10px   ;    border-radius: 10px }
#status_board_pass { border:1px solid #d1e3ae}
.status_board_header {display:block;padding-left:55px;/* border-bottom:2px solid #f4f1b4; */background:#e1e1e1;-moz-border-radius: 10px  10px 0px 0px;-webkit-border-radius: 10px  10px 0px 0px;border-radius: 10px  10px 0px 0px;}
#status_board_pass  .status_board_header { background:#eaf4dd }
#status_board_current {/* box-shadow: 0 0 4px #b9deec */}
#status_board_current  .status_board_header { background:#e9f9ff}
.status_board_header_time {padding-left:175px;}
.status_icon { background: #CCCCCC; width:1px; padding:5px; float:left; margin-left:-55px; padding-left:24px; padding-right:30px; line-height:20px;-moz-border-radius: 10px  0px 0px 0px ;    -webkit-border-radius: 10px  0px 0px 0px  ;    border-radius: 10px  0px 0px 0px}
.status_board_header_time .status_icon { width:120px;  margin-left:-175px;}

.status_arrow{ float:left; margin-left:-20px; width:20px; height:20px;background:url(../../../images/2020a/dr/dr_status.gif) no-repeat left -400px}
#status_board_pass .status_icon { background-color:#d1e3ae;}
#status_board_pass .status_arrow {background-position:left -600px;}
#status_board_current .status_icon { background-color:#b7dfef;}
#status_board_current .status_arrow { background-position:left -800px;}
.status_time{ display:block; padding-left:20px;background:url(../../../images/2020a/dr/dr_status.gif) no-repeat left -500px; float:left}
.icon_member_status{ display:block; float:right; height:20px; margin-right:-25px; width:25px; background: url(../../../images/2020a/dr/icon_status_member.gif) no-repeat left top;}
#status_board_pass .status_time{background-position:left -700px; }
#status_board_current .status_time{background-position:left -900px; }

.member_status{ display:block; width:100%; float:left; /*position:relative;*/ }
ul.member_status_summary { display:block; margin:0; padding:0;}
ul.member_status_summary li { display:block; float:left;padding:5px; line-height:20px; display:block; float:left;margin-right:15px; list-style-type:none;}
ul.member_status_summary li a {display:block; float:left; position:relative }
ul.member_status_summary li a span { display:block; float:left; cursor:hand}
ul.member_status_summary li.selected { background:#FFF; border:1px solid #e6e6e6; border-bottom:none; border-top:none;}/*20200703*/


span.member_done{ padding-left:20px; background:url(../../../images/2020a/dr/dr_status.gif) no-repeat left -100px;  color:#157727; min-height:20px; line-height:20px;}
span.memmber_read{ padding-left:20px; background:url(../../../images/2020a/dr/dr_status.gif) no-repeat left -200px;color:#24768e; font-weight:bold}
span.member_waiting{ color:#838383}
span.memmber_alert{background:url(../../../images/2020a/dr/dr_status.gif) no-repeat left -300px; padding-left:20px; color:#FF0000; font-weight:bold}
ul.member_list_summary li a:hover span{ color:#FF0000}
.member_status_list{ display:block; position:absolute;  min-height:30px; max-height:250px; overflow:auto; border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6; visibility: hidden; background:#fafafa; box-shadow:0 2px 2px #ccc; z-index:999; clear:both;/* width:100%;*/ width:500px; }
.member_status_list ul { display:block; padding:0; margin:0;  border-left:1px solid #e6e6e6;border-right:1px solid #e6e6e6;min-height:30px; padding-top:5px;}
.member_status_list ul li { display:block; list-style-type:none; clear:both; margin-top:5px; padding:5px; padding-left:25px; line-height:20px; min-height:20px;}
.member_status_list ul li em { display:block; float:left; margin-left:-25px; width:25px; line-height:20px; text-align:center}
.member_status_list ul li span{ display:block; float:left; line-height:20px; min-height:20px;}
.member_status_list ul li.member_status_list_btn { background:#FFFFFF;}
.btn_sent_reminder { float:right; display:block; border:0px; background: url(../../../images/2020a/icon_common_table_tool.gif) no-repeat left -360px; padding-left:20px; color:#17516f}
.btn_sent_reminder:hover{ color:#FF0000}
.status_comment{ display:block; border-top:1px solid #dddddd}
.status_comment h1 { display:block; padding:5px  ;margin:0; font-size:1em; line-height: 20px; font-weight:normal }
.status_comment h1 span {display:block; padding-left:20px; background:url(../../../images/2020a/dr/dr_status.gif) no-repeat left top; float:left; font-weight:bold; padding-right:10px;}
.member_comment { display:block; clear:both}
.member_comment ul {margin:0; padding:5px; padding-top:0; display:block;/* background:#f3f3f3;  border-top:1px solid #cdcdcd; border-bottom:1px solid #cdcdcd*/}

.member_comment ul li { list-style-type:none; margin:0; display:block; padding:5px; border-top:1px solid #cdcdcd; clear:both}
.member_comment ul li span { font-weight:bold;padding-right:10px;}
.member_comment ul li div.comment_info2 { display:block; clear:both; padding-top:5px;}
.member_comment ul li div.comment_info2 span, .member_comment ul li div.comment_info2 a { padding:0; font-size:0.95em; line-height:20px; min-height:20px; display:block; float:left; font-weight:normal; margin-right:5px;}
.member_comment ul li div.comment_info2 a {padding-left:20px;}
.member_comment ul li div.comment_info2 span.sep{ display:block; width:10px; text-align:center; line-height:18px; padding-right:0px; color:#999999 }
.member_comment ul li div.comment_info2 a.icon_attachement {padding-left:15px; background:url(../../../images/2020a/icon_attachment.gif) no-repeat 1px 2px; }
.member_comment ul li div.comment_info2 a.icon_add_attachement { background: url(../../../images/2020a/icon_add.gif) no-repeat 0px 0px; }
.member_comment ul li div.comment_info2 a.icon_voice_attach{background: url(../../../images/2020a/icon_voice.gif) no-repeat 0px 0px;}
.member_comment ul li textarea { margin:0 auto; display:block; width:98%; padding:3px; border:1px solid #999;-moz-border-radius: 10px  ;    -webkit-border-radius: 10px   ;    border-radius: 10px  ; }
.member_comment ul li.write_comment{ display: none;}
.member_comment ul li div.comment_info2 input.formsubbutton { display:block; float:right}
.member_comment ul li.comment_draft { background:  url(../../../images/2020a/dr/common_draft.gif) }
span.comment_board_arrow{ display:block; padding:5px; padding-top:15px;}
/* ============================================================================================================================
== BUBBLE WITH A BORDER AND TRIANGLE
** ============================================================================================================================ */

/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border {
	position:relative;
	padding:15px;
	margin-top:1em;
	border:1px solid #edcf74;

	background:#fefce4;
	/* css3 */
	/*-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;*/
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-border.left {
	margin-left:30px;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-border.right {
	margin-right:30px;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border:before {
	content:"";
	position:absolute;
	bottom:-11px; /* value = - border-top-width - border-bottom-width */
	left:20px; /* controls horizontal position */
    border-width:10px 10px 0;
	border-style:solid;
    border-color:#edcf74 transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}

/* creates the smaller  triangle */
.triangle-border:after {
	content:"";
	position:absolute;
	bottom:-9px; /* value = - border-top-width - border-bottom-width */
	left:20px; /* value = (:before left) + (:before border-left) - (:after border-left) */
	border-width:10px 10px 0;
	border-style:solid;
	border-color:#fefce4 transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}

/* Variant : top
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.top:before {
	top:-11px; /* value = - border-top-width - border-bottom-width */
	bottom:auto;
	left:auto;
	right:10px; /* controls horizontal position */
    border-width:0 10px 10px;
}

/* creates the smaller  triangle */
.triangle-border.top:after {
	top:-9px; /* value = - border-top-width - border-bottom-width */
	bottom:auto;
	left:auto;
	right:10px; /* value = (:before right) + (:before border-right) - (:after border-right) */
    border-width:0 10px 10px;
}

/* Variant : left
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.left:before {
	top:10px; /* controls vertical position */
	bottom:auto;
	left:-30px; /* value = - border-left-width - border-right-width */
	border-width:15px 30px 15px 0;
	border-color:transparent #5a8f00;
}

/* creates the smaller  triangle */
.triangle-border.left:after {
	top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
	bottom:auto;
	left:-21px; /* value = - border-left-width - border-right-width */
	border-width:9px 21px 9px 0;
	border-color:transparent #fff;
}

/* Variant : right
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.right:before {
	top:10px; /* controls vertical position */
	bottom:auto;
    left:auto;
	right:-30px; /* value = - border-left-width - border-right-width */
	border-width:15px 0 15px 30px;
	border-color:transparent #5a8f00;
}

/* creates the smaller  triangle */
.triangle-border.right:after {
	top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
	bottom:auto;
    left:auto;
	right:-21px; /* value = - border-left-width - border-right-width */
	border-width:9px 0 9px 21px;
	border-color:transparent #fff;
}

/***********************************/
.member_comment ul.triangle-border{ background:#f3f3f3;  border-color: #cdcdcd; border-right:none; border-left:none;}
.member_comment ul.triangle-border:before {    border-color:#cdcdcd transparent;}
.member_comment ul.triangle-border:after {	border-color:#f3f3f3 transparent;}
.reply_slip { display:block; clear:both;}
.reply_slip h1 { display:block; margin:0 10px 0 5px; padding:0; min-height:24px; font-weight:normal; font-size:1em; line-height:normal; background:url(../../../images/2020a/dr/reply_bg.gif) repeat-x center}/*20200703*/
.reply_slip_header{
float:left;
	height:24px;
	line-height:24px;
	position:relative;

	margin-right:20px;
	padding:0 10px 0 12px;
	background:#f5e3ab;
	color:#000;
	text-decoration:none;
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	border-top-left-radius:4px;
	}

.reply_slip_header:before{
    content:"";
	float:right;
	position:absolute;
	top:0;
	right:-12px;
	width:0;
	height:0;
	border-color:transparent transparent transparent #f5e3ab  ;
	border-style:solid;
	border-width:12px 0 12px 12px ;
	}


.reply_slip_header:after{

	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;

	}
.btn_view_stat { background:url(../../../images/2020a/dr/icon_view_stat.gif) no-repeat left top; width:25px; height:25px; display: block; float:right;}

.reply_slip_content{ display:block;  min-height:30px; padding:15px; padding-bottom:0px; padding-top:28px;}
.reply_slip_stat{ display:block;  min-height:30px; padding:15px; display:none; padding-bottom:0px}
.reply_slip_stat ul, .reply_slip_content ul { display:block; padding:0; margin:0;  min-height:30px; padding-top:5px; padding:10px;}
.reply_slip_stat ul li, .reply_slip_content ul li { display:block; list-style-type:none; clear:both; margin-top:5px; padding:5px; padding-left:25px; line-height:20px; min-height:20px;}
.reply_slip_stat ul li em, .reply_slip_content ul li em { display:block; float:left; margin-left:-25px; width:25px; line-height:20px; text-align:center}
.reply_slip_stat ul li span, .reply_slip_content ul li span{ display:block; float:left; line-height:20px; min-height:20px;}
.reply_slip_stat ul li.reply_slip_btn , .reply_slip_content ul li.reply_slip_btn { text-align:right}
.reply_slip_stat ul li.reply_slip_btn strong , .reply_slip_content ul li.reply_slip_btn strong { color:#1e6f94}


.reply_stat_result{
 font-style:normal;
float:left;
	height:20px;
	line-height:20px;
	position:relative;

	margin-right:20px;
	padding:0 0px 0 0px;
	background:#1e6f94;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	border-top-left-radius:4px;
	}

.reply_stat_result:before{
    content:"";
	float:right;
	position:absolute;
	top:0;
	right:-10px;
	width:0;
	height:0;
	border-color:transparent transparent transparent #1e6f94  ;
	border-style:solid;
	border-width:10px 0 10px 10px ;
	}


.reply_stat_result:after{

	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px #004977;
	-webkit-box-shadow:-1px -1px 2px #004977;
	box-shadow:-1px -1px 2px #004977;
	}
