@charset "utf-8";
/*============= GENERAL ===============*/
body, input, select {font-size:13px; line-height:1.4em; color:#333; font-family: "Open Sans", Verdana, "微軟正黑體"; vertical-align: bottom;}
body {height:100%; width:100%; margin:0; padding:0; background: linear-gradient(to bottom, #f1ecd5, #f6f3e1); background-size: 100% 4px;}
a, a:hover, a:focus {text-decoration:none;} 
ul {margin:0; padding:0; list-style:none;}
*:focus {outline:none !important;}
.elib-content {padding-top:20px;}
.elib-content>.container {padding-left:0; padding-right:0}

/*CARET - Triangles*/
.caret {margin-left:5px;}
.caret-right, .caret-right-yellow  {width:0; height:0; border-top:4px solid transparent;border-bottom:4px solid transparent; border-left:4px solid #333; display:inline-block; margin:0 3px; vertical-align:middle;}
.caret-right-yellow {border-left:4px solid #fff2c6;}
.caret-left, .caret-left-red {width:0; height:0; border-top:4px solid transparent;border-bottom:4px solid transparent; border-right:4px solid #333; display:inline-block; margin:0 3px; vertical-align:middle;}
.caret-left-red {border-right:4px solid #f06b50/*theme color2*/;}

/*LOADING - SPINNER*/
.load-spinner {position:relative; left:50%; top:50%; transform: translateX(-50%); transform: translateY(-50%); opacity:0.4}

/*ELLIPSIS*/
.ellipsis {white-space: nowrap; overflow: hidden; display: block;} /*single line*/
.ellipsis.multiline {white-space: normal;} /*multiple lines - with js*/

/*BUTTONS*/
/*normal button*/
.btn-type1 {padding:6px 10px; margin-right:10px; border:none; background:#45aab8/*theme color1*/; color:#fff; font-weight:bold; border-radius:5px; display:inline-block; text-transform:uppercase}
.btn-type1:hover, .btn-type1:focus {background:#f06b50/*theme color2*/; color:#fff;}
.btn-type1:focus {outline:none;}
.btn-type1.btn-cancel {background:#999;}
.btn-type1.btn-delete {background:#e6ac27;}
.btn-type1.btn-cancel:hover, .btn-type1.btn-delete:hover {background:#f06b50/*theme color2*/;}
.btn-type1.red {background:#f06b50/*theme color2*/;}
.btn-type1.red:hover {background:#cb4f4f/*theme color2hover*/;}
/*back button*/
a.btn-back {color:#f06b50/*theme color2*/; font-weight:bold; margin-bottom:10px; display:block}
a.btn-back:hover {color:#45aab8/*theme color1*/}
a.btn-back:hover .caret-left-red {border-right:4px solid #45aab8/*theme color1*/;}
/*remove button*/
a.btn-remove {color:#f06b50/*theme color2*/; font-size:0.9em; font-weight:bold; display:inline-block;}
a.btn-remove:hover {color:#45aab8/*theme color1*/}
a.btn-remove .glyphicon {margin-left:5px}

/*FORMS*/
.dropdown-menu, input, select {font-size:1em !important;}
.form-horizontal .control-label {text-align:left; font-size:1.1em}
.form-control:focus {border-color: #ccc;  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.2);}
.form-control.dates {display:inline-block; width:120px; vertical-align:middle;}
.date-pick.form-group  {width:150px; display:inline-block; margin:0; vertical-align: middle;}
.date-pick.form-group .date .form-control {margin:0}

/*CHECKBOX*/
input[type="checkbox"] {display: none;}
.custom-check {display:inline-block; width:15px; height:15px; background:#e0d9b9; border:none; border-radius:4px; font-family: 'Glyphicons Halflings'; font-size:1em; vertical-align:middle}
.custom-check::before {content:"\e013"; color:#424242; display:none; font-size:1em; margin-top:-1px}
input[type=checkbox]:checked+.custom-check::before {display:block; color:#424242; border-radius:4px;}

/*TABS*/
.general-tabs .nav-tabs {padding-left:0; border-bottom: 1px solid #e9d6af;}
.general-tabs .nav-tabs>li>a {border-radius:0; font-weight:bold; border: 1px solid #e9d6af; border-bottom-color: transparent; font-size:1.1em; color:#836969; background:#ece6cd; padding:5px 10px;}
.general-tabs .nav-tabs>li>a:hover {background:#e3ddc5;}
.general-tabs .nav-tabs>li.active>a {border-top:3px solid #f06b50/*theme color2*/; background:#fff; color:#333}
.general-tabs .tab-content {width:100%; background:#fff; border:1px solid #e4dbc8; margin-top:-2px; padding:15px; display:inline-block; height:auto;} /*edited 170419 */

/*SIDEBAR TABS*/
.side-tabs>li>a {color:#ad9c9a; border-radius:0; background-color:#ece6cd; padding: 8px 0px 8px 12px;  border:1px solid #e4dbc8; min-height: 38px;}
.side-tabs>li>a:hover, .side-tabs>li.active>a, .side-tabs>li.active>a:focus, .side-tabs>li.active>a:hover {color:#45aab8/*theme color1*/; background-color: #fff;}
.side-tabs>li {font-weight:bold; border-left:3px solid #ad9c9a;}
.side-tabs>li.active {border-left:3px solid #45aab8/*theme color1*/;}
.side-tabs>li+li {margin-top:0px;}
.side-tabs>li.active:after {content:''; position:absolute; display:inline-block; border-top:8px solid transparent; border-left:8px solid #45aab8/*theme color1*/; border-bottom:8px solid transparent; right:-7px; top:calc(50% - 8px);}
@media only screen and (max-width: 991px){.side-tabs>li {margin-left:0} .side-tabs>li:after, .side-tabs>li.active:after, .side-tabs>li:before{display:none} .side-tabs {margin-bottom:10px; padding-right:0}}

/*TABLE*/
/*normal page head, body, footer - e.g. search results*/
.table-header {background:#fff; border:1px solid #e4dbc8; border-top:3px solid #45aab8/*theme color1*/; padding:10px 15px; color:#45aab8/*theme color1*/; font-weight:bold; font-size:1.1em; display: table; width:100%}
.table-header .total-no {color:#333; font-weight:normal; padding-left:10px; margin-left:10px; border-left:1px solid #45aab8/*theme color1*/}
.btn-views {margin-top:-5px; float:right}
.btn-views select.form-control {width:auto; height:auto; display:inline-block; padding:0; border:none; box-shadow:none; background:none; color:#45aab8/*theme color1*/; transition:none; font-size:0.9em !important; margin-top: 3px;}
.btn-table-view, .table-header .btn-list-view {border-radius:5px; background:#45aab8/*theme color1*/; color:#fff; font-weight:normal; padding:5px 5px 5px 6px; margin-left:5px;}
.btn-table-view.off, .table-header .btn-list-view.off {background:#e4dbc8;}
.table-body {background:#fff; border:1px solid #e4dbc8; overflow:hidden; height:auto;}
.table-body.bg-brown {background:#ece6cd}
.table-footer {background:#45aab8/*theme color1*/; float:left; width:100%;}
.table-footer .pagination {margin:5px 10px}
.table-footer .pagination>li>a, .pagination>li>span {background:none; border:none; border-radius:5px; color:#fff; padding: 2px 7px; margin-right:8px; font-weight:bold;}
.table-footer .pagination>.active>a, .table-footer .pagination>.active>a:focus, .table-footer .pagination>.active>a:hover, .table-footer .pagination>.active>span, .pagination>.active>span:focus, .table-footer .pagination>.active>span:hover {color:#45aab8/*theme color1*/; background-color: #e1d772; border-color: #e1d772;}
.table-footer .pagination>.disabled>a, .table-footer .pagination>.disabled>a:focus, .table-footer .pagination>.disabled>a:hover, .table-footer .pagination>.disabled>span, .pagination>.disabled>span:focus, .table-footer .pagination>.disabled>span:hover {color: rgba(255,255,255,0.5); background-color: transparent; border-color: transparent; cursor:default;}
.table-footer .cust-pagination {float:right;}
.table-footer .cust-pagination span.center {display: inline-block; padding: 2px 8px; font-weight: normal; color: #fff; overflow: hidden; position: relative;}
.table-footer .cust-pagination span.hidden {display: none;}
.table-footer .cust-pagination select.center {width:80px; margin-top:2px; margin-bottom:4px;}
.table-footer .cust-pagination2 {float:right;}
.table-footer .cust-pagination2 span.center {padding: 2px 8px; font-weight: normal; color: #fff; overflow: hidden; position: relative;}
.table-footer .cust-pagination2 span.hidden {display: none;}
.table-footer .cust-pagination2 select.center {width:80px; margin-top:2px; margin-bottom:4px;}
/*.table-footer .cust-pagination span.disabled {display: inline-block; height:32px; padding: 2px 8px; font-weight: normal; color: #fff; overflow: hidden; position: relative;}*/
/*.table-footer .cust-pagination>span.disabled>a, .table-footer .cust-pagination>span.disabled>a:focus, .table-footer .cust-pagination>span.disabled>a:hover {color: rgba(255,255,255,0.5) !important; background-color: transparent !important; border-color: transparent !important; cursor:default !important;}*/
/*table - list view with category - e.g. my record*/
.table-cat {background:#e1d772; margin-top:10px}
.table-cat span.title {color:#666; padding:10px; font-size:1.1em; display:inline-block; font-weight:bold}
/*table - list view*/
.table-list {width:100%; font-size:1em;border-collapse:separate; border-spacing:0}
.table-list td {vertical-align:top; padding:15px 10px; border-bottom: 1px dotted #d4d4d4;}
.table-list tr:last-child td {border-bottom: none;}
.table-list td:first-child, .table-list th:first-child {padding-left:30px;}
.table-list td:last-child, .table-list th:last-child {padding-right:30px;}
.table-list th {vertical-align:bottom; padding: 4px 10px;}
.table-list thead tr th {background:#faf4b1; border-bottom:3px solid #e1d772; height:40px;}
.table-list tbody tr td {background:#fff;}
.table-list .icon-ebooks {background: url(/images/2020a/eLibplus2/icon-ebooks-list.png) no-repeat left top; height:20px; width:30px;display: block}
.table-list .icon-ebooks-off {background: url(/images/2020a/eLibplus2/icon-ebooks-list.png) no-repeat left top; height:20px; width:30px;display: block; -webkit-filter: grayscale(100%); filter: grayscale(100%);}
.table-list a.title, .table-list a.notes {color: #4e749c;}
.table-list a.title:hover, .table-list a.notes:hover {color: #45aab8/*theme color1*/}
.table-list a.title-off, .table-list td.off {color: #999;}
@media only screen and (max-width: 767px){.table-header .btn-views {float:none; margin:5px;} .table-list td:first-child, .table-list th:first-child {padding-left:10px;} .table-list td:last-child, .table-list th:last-child {padding-right:10px;}}

/*BOOK INFO list*/
.list-table {margin-top: 5px; margin-right: 5px; font-size:1em;} /* edited 170419 */
.list-table tr {display:table-row}
.list-table td {vertical-align:top; padding:4px;}
.list-table>li {margin-bottom:10px;}
.list-table .list-label {width: 80px;}
.list-table a {color:#4e749c;}
.list-table a:hover {color: #45aab8/*theme color1*/;}
.list-table .list-title {font-size:1.2em; font-weight:bold; line-height:1.6em;}
.list-table .list-title a {color:#323b49;}
.list-table .list-title a:hover {color:#45aab8/*theme color1*/}

/*RATINGS + REVIEWS + HITS*/
.ratings ul {display:inline-block; vertical-align:middle; display:inline-flex;}
.ratings span {font-size:0.85em; padding-left:5px;}
.ratings .star-on, .ratings .star-off {background: url(/images/2020a/eLibplus2/icon-stars.png) left top no-repeat; height:20px; width:20px; display:inline-block}
.ratings .star-off {background-position:left -20px;}
/*rating action*/
.ratings ul li a{display:block; background:url(/images/2020a/eLibplus2/icon-stars.png) no-repeat left -20px; width:20px; height:20px;}
.ratings ul li a:hover, .ratings ul li.star-on a{ background-position: left top;}

/*USER PHOTO*/
.user-photo img {border:1px solid #e4dbc8;}
.user-photo {height:75px; width:75px; position:relative; display:inline-block;} /*added 20170106*/
.user-photo img {width:auto; max-width:100%; height:auto; max-height:100%; position:absolute; top:0; bottom:0; left:0; right:0; margin:auto;} /*added 20170106*/

/*a bit better mobile ux*/
.navbar-toggle {background-color:#fff;  border: 1px solid #999;}
.navbar-toggle .icon-bar {background-color:#999;}
.navbar-collapse.in {overflow-y: visible;}

/*============= HEADER ===============*/
.elib-top.container-fluid {background:#fff; padding-left:0; padding-right:0}
.elib-top .navbar-collapse {padding-left:0; padding-right:0}
.elib-top .navbar-brand {height:auto; padding:10px; position:relative; z-index:1; width:calc(100% - 250px);}
.elib-top .navbar {margin-bottom: 0; border:none;}
.elib-top .navbar-header {width:100%;}
.header-logo img {border-right:1px solid #e4e4e4; padding-right:10px; margin-right:20px; display: inline-block;}
.header-logo .school-name {color:#666; font-size:0.9em; font-weight:bold; display:inline-block; width:calc(100% - 300px); vertical-align:middle;}
.header-right-container {position:absolute; top:0; margin-left: auto; margin-right: auto; left: 0; right: 0;}
.header-right {float:right; margin-top:7px; margin-right: -15px;}
.header-user {float:left;}
.header-user>a {color:#45aab8/*theme color1*/; padding: 2px 15px 2px 0; margin-right:0; display:block;}
.header-user>a:hover, .header-user li>a:focus {color:#f06b50/*theme color2*/; background-color: #fff;}
.header-user>a .glyphicon {padding: 0 5px;}
.header-user>a .caret-right {border-left: 4px solid #45aab8/*theme color1*/; margin-top:-1px;}
.header-user>a:hover .caret-right {border-left: 4px solid #f06b50/*theme color2*/;}
.lang-switcher {float:right;}
.lang-switcher a {border-radius:5px; background:#45aab8/*theme color1*/; color:#fff; padding:2px 5px;}
.lang-switcher a:hover {background:#f06b50/*theme color2*/;}
.header-search {clear:both; float:right; padding-top:10px;}
.header-search-form {width:160px; float:left; margin-right:5px}
.header-search-form .form-control-feedback {color:#999}
.header-search a.header-search-text {float:left; font-size:0.9em; line-height: 1.1em; color:#333; padding:5px; background-color: #fff;}
.header-search a.header-search-text:hover {color:#f06b50/*theme color2*/; background-color: #fff;}
.header-search a.header-search-text:hover .caret-right {border-left:4px solid #f06b50/*theme color2*/}
@media only screen and (max-width: 767px) {.header-logo img{display:block; border-right:none; margin-bottom:10px} .header-right, .header-search, .lang-switcher {float: none;} .header-right-container {position:relative}}
@media only screen and (max-width: 991px) {.header-logo img{display:block; border-right:none; margin-bottom:10px} /*.elib-top .navbar-brand {width:100%;}*/ .header-logo .school-name {width:100%;}}


/*============= FOOTER ===============*/
.footer {height: 22px; font-size: 11px; color: #999999; padding: 1px; padding-right: 20px; text-align: right; margin-top:10px; clear: both;}

/*============= MAIN MENU ===============*/
.elib-menu {background: #f06b50; font-size:1.1em; padding-left:0; padding-right:0}
.elib-menu .container-fluid {padding-left:0;}
.elib-menu>.container {padding-left:0; padding-right:0;}
.elib-main-menu.nav {display:table;}
.elib-main-menu.nav>li {display:table-cell; float:none;  line-height:1.4em;}
@media only screen and (max-width: 767px) {.elib-main-menu.nav{display:inherit;}.elib-main-menu.nav>li {display:inline}}
.elib-main-menu.nav>li>a {text-transform: uppercase; color:#fff; font-weight:bold; padding: 10px 11px;}
.elib-main-menu.nav>li:hover, .elib-main-menu.nav>li:focus, .elib-main-menu.nav>li:active, .elib-main-menu.nav .open>a, .elib-main-menu.nav .open>a:focus, .elib-main-menu.nav>li.current {background-color:#cb4f4f/*theme color2hover*/}
.elib-main-menu.nav>li>a:hover, .elib-main-menu.nav>li>a:focus {background-color:transparent}
.elib-main-menu.nav>li>a>.badge {background-color:#45aab8/*theme color1*/; padding: 3px 6px 4px 6px; font-size:0.9em; font-weight:normal; margin-left: 5px;}

/*SETTINGS menu*/
.elib-menu-settings.nav>li>a{color:#fff2c6; text-transform:none; font-size:0.85em; line-height: 16px; background: url(/images/2020a/eLibplus2/icon-menu.png) no-repeat left; height:16px; padding: 0 0 0 18px; margin:12px 4px; font-weight:normal;}
.elib-menu-settings.nav>li>a:hover{color:#fff;}
.elib-menu-settings.nav>li>a.icon-circulations {background-position:left 0px;}
.elib-menu-settings.nav>li>a.icon-circulations:hover {background-position:left -48px;}
.elib-menu-settings.nav>li>a.icon-admin {background-position:left -16px;}
.elib-menu-settings.nav>li>a.icon-admin:hover {background-position:left -64px;}
.elib-menu-settings.nav>li>a.icon-theme {background-position:left -32px;}
.elib-menu-settings.nav>li>a.icon-theme:hover {background-position:left -80px;}

/*BOOK CATEGORY menu*/
.elib-menu .megamenu {margin:0; padding:0; min-width:900px; max-width:100%; min-height: 210px; max-height:501px; top:auto; border:none; border-radius:0;}
.browse-cat form {margin-bottom:0;}
.browse-cat .list-all a {font-size:0.8em; color:#333; padding:10px 21px; font-weight:bold;}
.browse-cat .list-all a:hover {color:#45aab8/*theme color1*/; background-color:transparent;}
.browse-cat .list-all a:hover .caret-right {border-left:4px solid #45aab8/*theme color1*/;}
.browse-cat.dropdown-menu .nav-tabs>li:first-child {margin-left:10px;}
.browse-cat .nav-tabs>li {margin-bottom:-2px;}
.browse-cat .nav-tabs>li>a {padding:5px 10px; font-size:0.9em;}
.browse-cat .nav-tabs>li.active>a {border-top:2px solid #f06b50/*theme color2*/;}
.browse-cat .tab-content {padding:10px; margin-top:0; overflow-y:auto; max-height:430px}
.browse-cat.dropdown-menu .tab-content {padding:10px; border:none; margin-top:0; overflow-y:auto; max-height:430px}
.browse-cat .tab-content>.tab-pane ul {padding:5px 0 5px 8px; margin:0; list-style-type:none;}
.browse-cat .tab-content>.tab-pane>ul>li {margin:0 0 10px 0; width:50%; float:left; font-size:0.9em; padding-left:5px; position:relative}
.browse-cat .tab-content>.tab-pane ul li a{color:#666}
.browse-cat .tab-content>.tab-pane ul li a:hover {color:#45aab8/*theme color1*/;}
.browse-cat .tab-content>.tab-pane>ul>li:before {content: ""; width:0; height:0; border-top:4px solid transparent; border-bottom:4px solid transparent; border-left:4px solid #333; margin-top: -3px; vertical-align:middle; position:absolute; top: 9px;left: -4px;}
.browse-cat .tab-content>.tab-pane>ul>li:hover:before{border-left:4px solid #45aab8/*theme color1*/;}
@media only screen and (max-width: 767px) {.elib-menu .megamenu {min-width:calc(100vw - 20px)} .browse-cat .nav-tabs>li {width:100%;} .browse-cat .nav-tabs>li:first-child {margin-left:0;} .browse-cat .tab-content>.tab-pane>ul>li {width:100%;}}

/*============= INDEX-SHELVES ===============*/
.elib-shelf {height:250px; background:url(/images/2020a/eLibplus2/bg-shelf.jpg) repeat;}
.elib-shelves:after {content:""; width:100%; height:40px; background: linear-gradient(to bottom, rgba(60,12,0,1), rgba(60,12,0,0)); display:block}
/*CAROUSEL*/
.elib-shelf .carousel-box {width: -webkit-calc(100% - 280px); width: -moz-calc(100% - 280px); width: calc(100% - 280px); float:left;}
@media only screen and (max-width: 767px) {.elib-shelf .carousel-box {width:100%}}
.elib-shelf .carousel .item {width:100%;}
.elib-shelf .carousel-inner {height: 185px;}
.elib-shelf a.carousel-control {top:40%; background: rgba(0,0,0, .5); height:45px; width:45px; border-radius:25px; padding:12px; text-shadow:none; opacity:1;}
.elib-shelf a.carousel-control:hover {background: rgba(0,0,0, .3);}
/*SHELF TYPE*/
.elib-shelf .shelf-info {font-size:0.9em; padding:10px 0; text-shadow: 1px 1px #411d14;}
.elib-shelf .shelf-info .shelf-type {position:relative; left:0; font-weight:600; color:#fff2c6; display:inline;}
.elib-shelf .shelf-info a.btn-more {position:relative; float:right; color:#fff2c6;}
.elib-shelf .shelf-info a.btn-more:hover {color:#fff;}
.elib-shelf .shelf-info a.btn-more:hover .caret-right{border-left:4px solid #fff;}
/*FILTER BUTTONS*/
.elib-shelf .shelf-filter {margin:5px auto 0 auto; border-radius:7px; border:2px solid rgba(88,37,37,0.8); background:url(/images/2020a/eLibplus2/bg-shelf-filter.jpg) repeat; text-transform: uppercase; box-shadow: inset -1px -2px 5px 1px rgba(88,37,37,0.5), 2px 2px 5px 2px rgba(88,37,37,0.3); display: table; position:absolute; left: 40%; transform: translateX(-50%); background-clip: padding-box; -moz-background-clip: padding; -webkit-background-clip: padding;}
/*.opac .elib-shelf .shelf-filter {left:50%}*/
.elib-shelf .shelf-filter a {font-size:0.95em; font-weight:600; color: #582525; background-color:transparent; border:none; border-right:1px solid rgba(88,37,37,0.7); border-left:2px solid rgba(255,255,255,0.5);}
.elib-shelf .shelf-filter a:hover{background-color:rgba(88,37,37,0.2);}
.elib-shelf .shelf-filter a:last-child {border-right:none;}
.elib-shelf .shelf-filter a:first-child {border-left:none;}
.elib-shelf .shelf-filter a.active, .elib-shelf .shelf-filter a.active:focus {color: #fff; background-color: #935f3e; border-color:#935f3e;}
@media only screen and (max-width: 767px) {.elib-shelf .shelf-filter{position:inherit; transform:none} .elib-shelf .shelf-filter a{font-size:0.8em; padding:5px}}
/*RANKING BOX*/
.elib-shelf .ranking-box {width:250px; height: 233px; background: rgba(255, 255, 255, 0.8); float:right; margin-right:20px;}
@media only screen and (max-width: 767px) {.elib-shelf .ranking-box {display: none;}}
.elib-shelf .ranking-box .ranking-title {background-color:#45aab8/*theme color1*/; color:#fff; font-weight:bold; padding:0 5px 0 10px; line-height:2em;}
.elib-shelf .ranking-box a.btn-more {color:#fff2c6; font-size:0.8em; font-weight:normal; float:right;}
.elib-shelf .ranking-box a.btn-more:hover {color:#fff;}
.elib-shelf .ranking-box a.btn-more:hover .caret-right {border-left:4px solid #fff;}
.elib-shelf .ranking-box .ranking-content {padding:10px;} 
.elib-shelf .ranking-box .ranking-content select {width:100%; padding:2px 5px; background-color:#fff; border:none; border-radius:4px; margin-bottom:5px;}
.elib-shelf .ranking-box .ranking-content .ranking-table {table-layout:fixed; font-size:1em; color:#3b1212;}
.elib-shelf .ranking-box .ranking-content .ranking-table th {padding:2px; border-bottom:none; background-image: linear-gradient(to right, #3b1212 30%, rgba(255, 255, 255, 0) 20%); background-position: bottom; background-size: 5px 1px; background-repeat: repeat-x;}
.elib-shelf .ranking-box .ranking-content .ranking-table td {white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding:2px; border-top: none;}
.elib-shelf .ranking-box .ranking-content .ranking-table td span {float:left; width:58px;}
.elib-shelf .ranking-box .ranking-content .ranking-table td:last-child {font-weight:600;}

/*============= BOOK COVERS ===============*/
.book-covers {padding: 0; text-align:center; margin: 0 auto; position:relative}
.book-covers .book-box {box-shadow:3px 2px 5px 2px rgba(0,0,0,0.6); background:#fff8e4;}
.book-covers .book-box {perspective: 1000px; -webkit-perspective: 1000px; position: relative; display: inline-block; margin:10px; vertical-align: text-bottom; }
.book-covers .book-box .face {width: auto; height: auto; backface-visibility: visible; -webkit-backface-visibility: visible; transition: all 0.5s ease-out; -webkit-transition: all 0.5s ease-out; transform-origin: 0 0; -webkit-transform-origin: 0 0;}
.book-covers .book-box .front {position: relative; z-index:1;}
.book-covers .book-box .back {position: absolute; top:0; background: #fff; padding:10px 8px 10px 15px; width:100%; height:100%; text-align:center; z-index:0;}
.book-covers .book-box:hover .front, .book-covers .book-box:focus .front {perspective: 100px; transform: rotateY(-80deg); -moz-perspective: 100px;  -moz-transform: rotateY(-80deg);  -webkit-perspective: 100px;-webkit-transform: rotateY(-80deg); transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; box-shadow:10px 1px 1px 1px rgba(0,0,0,0.6);}
.book-covers .book-box .back .book-btns {text-align:center; position:absolute; top:37%; left:0; padding-left:14px; padding-right:3px; width:100%;}
.book-covers .book-box .back .book-btns li{background:#45aab8/*theme color1*/; border-radius:5px; margin:2px; display:inline-block; padding:5px; cursor:pointer;}
.book-covers .book-box .back .book-btns li:hover {background:#f06b50/*theme color2*/;}
.book-covers .book-box .back .book-btns li a { font-size:0.9em; font-weight:600; color:#fff;}
.book-covers .title {text-align:center; font-size:0.9em; line-height:1.3em; font-weight:bold; height:2.6em;}
.book-covers .author {text-align:center; font-size:0.85em; line-height:1.3em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width:100%; position:absolute; bottom:13px; left:0; padding-left:17px; padding-right:8px;}
/*GENERIC covers*/
.book-covers .generic {padding:10px 5px 10px 18px;}
.book-covers .generic .title {color:#fff;}
.book-covers .generic .author {color:rgba(255,255,255,0.6)}
.book-covers .generic {display:block; background:#999}
.book-covers .generic.type1{background:url(/images/2020a/eLibplus2/generic-cover-01.jpg) no-repeat}
.book-covers .generic.type2{background:url(/images/2020a/eLibplus2/generic-cover-02.jpg) no-repeat}
.book-covers .generic.type3{background:url(/images/2020a/eLibplus2/generic-cover-03.jpg) no-repeat}
.book-covers .generic.type4{background:url(/images/2020a/eLibplus2/generic-cover-04.jpg) no-repeat}
.book-covers .generic.type5{background:url(/images/2020a/eLibplus2/generic-cover-05.jpg) no-repeat}
.book-covers .generic.type6{background:url(/images/2020a/eLibplus2/generic-cover-06.jpg) no-repeat}
.book-covers .generic.type7{background:url(/images/2020a/eLibplus2/generic-cover-07.jpg) no-repeat}
.book-covers .generic.type8{background:url(/images/2020a/eLibplus2/generic-cover-08.jpg) no-repeat}
.book-covers .generic.type9{background:url(/images/2020a/eLibplus2/generic-cover-09.jpg) no-repeat}
.book-covers .generic.type10{background:url(/images/2020a/eLibplus2/generic-cover-10.jpg) no-repeat}
/*OFF-SHELF*/
.book-covers .book-box.off-shelf {background:rgba(255,255,255,0.4); box-shadow:none; border:1px solid rgba(136,136,136,0.4); padding:10px 8px;}
.book-covers .book-box.off-shelf a {width:100%; height:100%; display: block; text-decoration:none; color:#333;}
.book-covers .book-box.off-shelf .off-shelf-tag {display: block; position: absolute; top:43%; width: 85%; margin: 0 auto; left: 0; right: 0; color: #4a4a4a; font-size: 0.95em; background: rgba(255,255,255,0.4); border: 1px solid rgba(136,136,136,0.4); border-radius: 4px;}
.book-covers .book-box.off-shelf .author {padding-left:8px;}
/*eBOOK icon*/
.book-covers .icon-ebooks {background:url(/images/2020a/eLibplus2/icon-ebooks.png) no-repeat; width:27px; height:27px; position:absolute; right:0; bottom:0; z-index:2}
/*BOOK SIZE*/
.book-covers {height:170px;}
.book-covers .book-box {max-width: 160px; max-height: 160px;}
.book-covers .book-box img {max-height:160px; max-width:160px;}
.book-covers .generic {width:120px; height:160px; display:block;}
.book-covers .book-box.off-shelf {height:160px; width:120px;}
/*BOOK DETAILS book size*/
.book-details .book-covers {height:240px; padding-top:10px}
.book-details .book-covers .book-box {max-width: 200px; max-height: 200px;}
.book-details .book-covers .book-box img {max-height:200px; max-width:200px;}
.book-details .book-covers .generic {width:150px; height:200px; display:block;}
.book-details .book-covers .book-box.off-shelf {width:150px; height:200px; background:#f5f2ea}
/*RELATED BOOKS, MY FRIENDS - NEWS FEED book size*/
.related-books .book-covers {height:130px;}
.related-books .book-covers .book-box, .myfriends .feed-book feed-book .book-covers .book-box {max-width: 120px; max-height: 120px;}
.related-books .book-covers .book-box img, .myfriends .feed-book .book-covers .book-box img {max-height:120px; max-width:120px;}
.related-books .book-covers .generic, .myfriends .feed-book .book-covers .generic {width:90px; height:120px; display:block;}
.related-books .book-covers .book-box.off-shelf, .myfriends .feed-book .book-covers .book-box.off-shelf {height:120px; width:90px; background:#f5f2ea; cursor:pointer;}
.related-books .book-covers .generic, .myfriends .feed-book .book-covers .generic {padding:6px 2px 6px 12px;}
.related-books .book-covers .book-box .back, .myfriends .feed-book .book-covers .book-box .back {padding:6px 2px 6px 12px;}
.related-books .book-covers .title, .myfriends .feed-book .book-covers .title {font-size:0.8em; line-height:1.2em;}
.related-books .book-covers .author, .myfriends .feed-book .book-covers .author {font-size:0.8em; padding-left:13px; padding-right:2px;}
.related-books .book-covers .book-box.off-shelf .author, .myfriends .feed-book .book-covers .book-box.off-shelf .author {padding-left:2px; padding-right:2px;}

/*============= INDEX-BOTTOM CONTENT===============*/
.elib-news .announcement {font-size:1em; color:#666; font-weight:bold; text-transform:uppercase; display:inline; position:relative; top:5px; padding-left:15px;}
.elib-news .news-box {width:calc(100% - 215px); width: -webkit-calc(100% - 215px); width: -moz-calc(100% - 215px); float:left; min-width:65%; margin-bottom:15px;}
.opac .elib-news .news-box {width:100%}
.elib-news .news-box .nav-tabs>li:last-child>a {margin-right:0;}
.elib-news .news-box-no-rb-item {width:calc(100%); width: -webkit-calc(100%); width: -moz-calc(100%); float:left; min-width:80%; margin-bottom:15px;}
.elib-news .module-box {width:200px; float:right}
.elib-news .module-box .graphs {min-width:190px; min-height:150px; background:#fff; border:1px solid #e4dbc8; display:block; padding:5px; position:relative;}
.elib-news .module-box .graphs .title {color:#384252; font-weight:bold; font-size:0.95em;}
.elib-news .module-box .graphs .y-axis, .elib-news .module-box .graphs .x-axis, .elib-news .module-box .graphs .chart-tip{font-size:0.8em; line-height:0.9em;}
.elib-news .module-box .graphs .chart-tip .tip {height:1px}
.elib-news .module-box .graphs a.btn-more {position:absolute; bottom:0; right:0; padding-right:6px; font-size:0.8em; font-weight:bold; color:#384252}
.elib-news .module-box .graphs a.btn-more:hover {color:#f06b50/*theme color2*/}
.elib-news .module-box .graphs a.btn-more:after {content:''; position:absolute; bottom:0; right:0; width:0;height:0; border-style:solid; border-width:0 0 6px 6px; border-color:transparent transparent #384252 transparent;}
.elib-news .module-box .graphs a.btn-more:hover:after { border-color:transparent transparent #f06b50/*theme color2*/ transparent;}
.elib-news .news-box .nav-tabs>li>a {text-transform:uppercase;}
.elib-news .news-box-no-rb-item .nav-tabs>li>a {text-transform:uppercase;}
.elib-news .module-box li {list-style:none; margin-bottom:15px; float:left;}
.form-group.required .control-label:after {content:"*";color:red;}
@media only screen and (max-width: 767px) {.elib-news .news-box, .elib-news .module-box {width:100%;} .elib-news .news-box>ul{margin-top:10px} .news-box .nav-tabs>li>a{font-size:0.9em;}.elib-news .announcement{display:none;} .elib-news .module-box ul{width:100%; text-align:center}.elib-news .module-box li{float:none; display: inline-block;}
.elib-news .module-box li:first-child {width:100%;}}

/*video, epost - same as before*/
.video-btn { display:block; position:relative; width:200px; height:150px; background:url(/images/2020a/eLibplus2/video/video-bg.png);}
.video-btn:hover { margin-top:-2px }
.video-green { left:168px; top:123px; position:relative; width:13px; height:5px; background:url(/images/2020a/eLibplus2/video/video-green.png); }
.video-blue-area { opacity:1; left:14px; top:11px; position:relative; width:170px; height:91px; overflow:hidden; animation: video-blue-area-alpha 8s ease-in-out infinite; -moz-animation: video-blue-area-alpha 8s ease-in-out infinite; -webkit-animation: video-blue-area-alpha 8s ease-in-out infinite; }
@keyframes video-blue-area-alpha {90% {opacity:1} 100% {opacity:0}}
@-moz-keyframes video-blue-area-alpha {90% {opacity:1} 100% {opacity:0}}
@-webkit-keyframes video-blue-area-alpha {90% {opacity:1} 100% {opacity:0}}
.video-cam {left:9px; top:11px; position:relative; width:48px; height:48px; background:url(/images/2020a/eLibplus2/video/video-cam.png); animation: video-cam-move 8s ease-in-out infinite; -moz-animation: video-cam-move 8s ease-in-out infinite; -webkit-animation: video-cam-move 8s ease-in-out infinite;}
@keyframes video-cam-move {0% {top:-47px} 8% {top:11px} 10% {top:9px} 12% {top:11px}}
@-moz-keyframes video-cam-move {0% {top:-47px} 8% {top:11px} 10% {top:9px} 12% {top:11px}}
@-webkit-keyframes video-cam-move {0% {top:-47px} 8% {top:11px} 10% {top:9px} 12% {top:11px}}
.video-cam-shadow { left:11px; top:11px; position:relative; width:45px; height:24px; background:url(/images/2020a/eLibplus2/video/video-cam-shadow.png); animation: video-cam-shadow-move 8s ease-in-out infinite; -moz-animation: video-cam-shadow-move 8s ease-in-out infinite; -webkit-animation: video-cam-shadow-move 8s ease-in-out infinite;}
@keyframes video-cam-shadow-move {0% {top:50px} 8% {top:11px} 10% {top:13px} 12% {top:11px}}
@-moz-keyframes video-cam-shadow-move {0% {top:50px} 8% {top:11px} 10% {top:13px} 12% {top:11px}}
@-webkit-keyframes video-cam-shadow-move {0% {top:50px} 8% {top:11px} 10% {top:13px} 12% {top:11px}}
.video-text { left:44px; top:-59px; position:relative; width:127px; height:55px; background:url(/images/2020a/eLibplus2/video/video-text.png); animation: video-text-move 8s ease-in-out infinite; -moz-animation: video-text-move 8s ease-in-out infinite; -webkit-animation: video-text-move 8s ease-in-out infinite; }
@keyframes video-text-move {0% {left:160px} 18% {left:160px} 25% {left:44px} 27% {left:48px} 29% {left:44px}}
@-moz-keyframes video-text-move {0% {left:160px} 18% {left:160px} 25% {left:44px} 27% {left:48px} 29% {left:44px}}
@-webkit-keyframes video-text-move {0% {left:160px} 18% {left:160px} 25% {left:44px} 27% {left:48px} 29% {left:44px}}
.video-text-shadow {left:6px; top:31px; position:relative; width:119px; height:45px; background:url(/images/2020a/eLibplus2/video/video-text-shadow.png) no-repeat;}
.video-btn-chn .video-text-shadow{background-image:url(/images/2020a/eLibplus2/video/video-text-chn-shadow.png); top:41px;}
.video-btn-chn .video-text {background-image:url(/images/2020a/eLibplus2/video/video-text-chn.png); height:65px; top:-65px;}
/*others: ePost, magazines - same as before*/
.others-epost {display:block; width:200px; height:200px;  position:relative; margin-top:80px}
.epost-stand {display:block; width:200px; height:205px; position:absolute; bottom:10px; left:0;}
a.newspaper {display:block; background: url(/images/2020a/eLibplus2/epost/newspaper.png) no-repeat; padding:0px 10px 0px 5px; position:absolute; width:140px; height:185px; left:25px; top:5px;}
a.newspaper div.post-title { display:block; padding:8px 5px 3px 5px;}
a.newspaper:hover, a.newspaper:active {top:3px;}
a.newspaper h1 {margin:0; padding:0; font-size:1.25em; font-weight: normal; text-align:left; background:#ecc780; padding-left:5px; color:#000; overflow:hidden; text-overflow: ellipsis; max-height:50px; width:125px;}
a.newspaper h2 {margin:0; padding:0; font-size:1em; font-weight: normal;text-align:right; background:#f1e8e0; color:#3d3d3d; overflow:hidden;text-overflow: ellipsis;  width:125px;white-space: nowrap;}
a.newspaper:hover  h1, a.newspaper:active  h1,a.newspaper:hover  h2, a.newspaper:active  h2 { color:#FF0000}
.stand-glass { display:block; background:url(/images/2020a/eLibplus2/epost/glass.png) no-repeat center; width: 200px ; height:56px; position:absolute; bottom:15px;}
span.logo_epost { background:url(/images/2020a/eLibplus2/epost/icon_epost.png) no-repeat center; height:65px; width:65px; display:block; position:absolute; left:10px; bottom:25px;}
.others-epost a.btn-more { position:absolute; right:20px; bottom:15px;}
.epost-magazine-stand {display:block; width:200px; height:270px; position:absolute; bottom:10px; left:0;}
.epost-magazine-stand  a.newspaper { background: url(/images/2020a/eLibplus2/epost/newspaper_small.png) no-repeat; padding:4px 5px 0px 15px; position:absolute; width:145px; height:116px; left:15px; top:130px;}
.epost-magazine-stand  a.newspaper:hover { top:128px;} 
a.magazine{ display:block; background:url(/images/2020a/eLibplus2/epost/magazine.png) no-repeat; height: 171px; width:152px; position:absolute;left:25px; top:0px;}
a.magazine:hover { top:-2px}
.epost-stand a.magazine {top:20px;}
.epost-stand a.magazine:hover {top:18px;}
.stand-glass-magazine{ display:block; background:url(/images/2020a/eLibplus2/epost/glass2.png) no-repeat center; width: 200px ; height:56px; position:absolute; top:95px;}
.others-epost a.btn-more-magazine {right:20px; top:110px;}

/*============= NEWS (index and edit), OPENING HOURS and RULES (index and edit) ===============*/
#news {position: relative; line-height:1.4em}
#news li {list-style: none; border-bottom: 1px dotted #d4d4d4; padding:15px 0 20px 0;}
#news li:first-child {margin-top: -15px;}
#news li:last-child {border-bottom:none; padding-bottom:5px;}
.news-title {color:#384252; font-weight:bold; font-size:1.2em; line-height:1.5em; display:inline;}
.news-title a {color:#384252;}
.news-title a:hover {color:#45aab8/*theme color1*/}
.news-date {color:#d89845; font-size:0.8em; display:inline; margin-left:5px;}
.news-content, .news-content a {color:#4d6986; font-size:1em; line-height:1.4em;}
.news-content a.attachment, #rules a.attachment {color:#4e749c; font-weight:bold; text-decoration:underline}
.news-content a.attachment:hover, #rules a.attachment:hover {color:#f06b50/*theme color2*/}
#news li.others .news-content {width:90%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
#news .btn-more {color:#fff; font-size:0.9em; background:#45aab8/*theme color1*/; display:inline-block; float:right; padding: 0 0 2px 3px; margin-top:-15px;}
#news .btn-more .caret-right {border-left:4px solid #fff;}
#news .btn-more:hover {background:#f06b50/*theme color2*/;}
#news li.others:hover .news-title {color:#45aab8/*theme color1*/}
.news-story .table-body, .news-edit .table-body {padding:15px}
.news-story .news-content {margin-top:10px;}
.news-edit a.attachment {color:#4e749c; margin-top: 10px; display: inline-block;}
.news-edit a.attachment:hover {color:#f06b50/*theme color2*/}
.news-edit .custom-check {margin-top: 7px;}
.news-edit img {display:block; margin:10px 0px; width:200px}
.news-edit .btn-add {color:#45aab8/*theme color1*/; font-weight:bold}
.news-edit .btn-add:hover {color:#f06b50/*theme color2*/}
/*TEACHER SETTINGS*/
.news-settings {position: relative; text-align:right}
.news-settings a {color:#f06b50/*theme color2*/; font-size:0.9em; font-weight:bold;}
.news-settings a:hover {color:#45aab8/*theme color1*/}
.news-settings a.btn-add {display:block; padding-bottom:15px}
.news-settings a.btn-edit {position:absolute; right:0; top:-17px; padding-top:3px}
@media only screen and (max-width: 767px) {#news li.others .news-content {width: 80%;} .news-story .news-content img{width:100%}}
/*OPENING HOURS*/
#op-hr .btn-manage #rules .btn-manage {margin-top: -5px; margin-bottom:10px; display:block}
#op-hr .btn-prev, #op-hr a.btn-next {color:#384252; display:inline-block}
#op-hr .btn-prev.dim, #op-hr .btn-next.dim, #op-hr .btn-prev.dim:hover, #op-hr .btn-next.dim:hover {color:#999}
#op-hr .btn-prev.dim .caret-left, #op-hr .btn-prev.dim:hover .caret-left {border-right:4px solid #999;}
#op-hr .btn-next.dim .caret-right, #op-hr .btn-next.dim:hover .caret-right {border-left:4px solid #999;}
#op-hr .btn-prev:hover, #op-hr .btn-next:hover {color:#45aab8/*theme color1*/}
#op-hr .btn-prev .caret-left {border-right:4px solid #384252; margin-top:-2px;}
#op-hr .btn-prev:hover .caret-left {border-right:4px solid #45aab8;}
#op-hr .btn-next .caret-right {border-left:4px solid #384252; margin-top:-2px;}
#op-hr .btn-next:hover .caret-right {border-left:4px solid #45aab8;}
#op-hr .btn-next {float:right;}
#op-hr .navigation {height:20px; padding-top:5px;}
#op-hr .calendar {display:table; table-layout: fixed; width:100%; margin-top:20px;}
#op-hr .calendar li {text-align:center; display:table-cell; padding-right:10px;}
#op-hr .calendar li:last-child {padding-right:0px;}
#op-hr .calendar li .date-box {background:#faf4b1; text-align:center; padding:10px; color:#384252; font-weight:bold;}
#op-hr .calendar li.today .date-box {background:#e1d772;}
#op-hr .calendar li.holiday .date-box {color:#e25858}
#op-hr .calendar li .date-box .month {font-size:1.6em; line-height:1em;}
#op-hr .calendar li .date-box .date {font-size:3.5em; line-height:1.2em;}
#op-hr .calendar li .date-box .day {font-size:1.1em; line-height:1.3em;}
#op-hr .calendar li .time-box {padding:15px; height:70px; display:flex; flex-direction: column; justify-content: center;}
#op-hr .calendar li.holiday .time-box {color:#e25858;}
/*RULES*/
#rules ol {padding:5px; margin-bottom: 0px;}
#rules ol li {margin-left: 10px; margin-bottom:15px; padding-left:5px;}
#rules ol li:last-child {margin-bottom:0}
@media only screen and (max-width: 767px) {#op-hr .calendar li {width:100%; display:block;}}

/*============= ADVANCED SEARCH ===============*/
.adv-search-title {text-transform:uppercase; font-weight:bold; padding:8px 15px; background:#45aab8/*theme color1*/; color:#fff; display: inline-block;}
.adv-search-box {background:#ece6cd; border:1px solid #e4dbc8; padding:15px;}
.opac .adv-search-box {border-top:2px solid #45aab8/*theme color1*/; margin-bottom:25px;}
.adv-search-box .form-control {display: inline-block; width:300px; max-width:100%; font-size:1em; margin-bottom:5px;}
.adv-search-browse {font-size:1.1em; color:#666; font-weight:bold; text-transform:uppercase; display:inline; position:relative; top:5px; padding-left:15px;}
/*Browse by Category*/
.browse-cat.container {margin-top:20px; font-size:1.2em;}
.browse-cat.container .tab-content>.tab-pane>ul {padding:15px;}
.browse-cat.container .tab-content>.tab-pane>ul>li {margin: 0 5px 15px 0; width: 32%}
.browse-cat.container .tab-content>.tab-pane>ul>li:before {margin-top: -5px;}
.browse-cat.container .tab-content>.tab-pane>ul>li>ul>li {margin-bottom:5px;}
@media only screen and (max-width: 767px){.adv-search-browse{position:inherit} .browse-cat.container .tab-content>.tab-pane>ul>li{width:100%;} .browse-cat.container .nav-tabs>ul, .browse-cat.container .nav-tabs>li {width:100%;} .browse-cat.container .general-tabs .nav-tabs {padding-left:0; margin-top:10px}}
@media only screen and (max-width: 991px){.adv-search-browse {position:inherit}.browse-cat.container .general-tabs .nav-tabs {padding-left:0; margin-top:10px}}

/*============= SEARCH RESULT ===============*/
.options-area {margin-bottom:15px;}
a.btn-options {color:#f06b50/*theme color2*/; font-weight:bold; margin-bottom:10px; display:block; padding-left:15px;}
a.btn-options:hover {color:#45aab8/*theme color1*/}
a.btn-options:hover .caret {border-top:4px solid #45aab8/*theme color1*/;}
a.btn-options.active .caret {border-top:none; border-bottom:4px solid #45aab8/*theme color1*/;}
.result-list {float:left; width:100%;}
.result-list>li {width:50%; float:left; margin-bottom:10px; border-top: 1px dotted #d4d4d4; padding:20px 10px 10px 10px;}
.result-list>li:nth-child(-n+2) {border-top:none;}
.result-list>li:nth-child(even) .book-covers:before {content: ''; border-left: 1px dotted #d4d4d4; height: 80%; width: 1px; position: absolute; left: 0; top: 20;}
.result-list>li:nth-child(odd) {clear:left;  float:left;}
.result-list .book-covers {float:left; text-align:center; width:190px;}
.result-list .book-covers .book-box.off-shelf {background:#f5f2ea}
.search-result-list .off {color:#999}
@media only screen and (max-width: 767px){.search-result-list {padding-left:0; padding-right:0} .result-list>li {width:100%; text-align:left; padding-left:0;} .result-list>li:nth-child(2) {border-top: 1px dotted #d4d4d4;} .result-list>li:nth-child(even) .book-covers:before {display:none;}}
@media only screen and (max-width: 991px) and (min-width: 768px){.result-list>li:nth-child(-n+2) {border-top:1px dotted #d4d4d4;} .result-list>li:first-child, .result-list>li:nth-child(2) {border-top:none;} .result-list>li:nth-child(even) .book-covers:before {display:none;} .result-list .book-covers {width: 100%; height:auto;}}

/*============= BOOK DETAILS ===============*/
.book-details, .action-left .action-tabs {margin-bottom:20px;}
.book-details .table-body {padding:15px;}
.book-details .details-left {text-align:center; padding-left:0;}
.book-details .details-right {padding-right:0;}
.book-details a.btn-type1 {margin-bottom:10px; padding:5px 10px;}
.book-details .icon-fav, .book-details .icon-reserve, .book-details .icon-read {background: url(/images/2020a/eLibplus2/icon-tools.png) no-repeat left top; width:25px; height:25px; display: inline-block; vertical-align: middle; margin-right: 3px; margin-left:-3px}
.book-details .icon-reserve {background-position:left -50px;}
.book-details .icon-read {background-position:left -75px;}
.book-details .icon-fav.unfav {background-position:left -150px;}
.book-details .details-info-box {width:100%; display: table;}
.book-details .list-table {min-width:330px; margin-bottom:10px;} /* edited 170419 */
.book-details .description {width:100%; max-width: calc(100% - 330px); display: table-cell; height:100%; border-radius:5px; background:#fff; padding:15px; margin:10px; line-height:1.6em; vertical-align:top;}
.book-details .recommended {clear:left; padding:4px; padding-bottom:10px;} /*edited 170419 */
.book-details .recommended .icon-recommend {background: url(/images/2020a/eLibplus2/icon-tools.png) no-repeat left -200px; width:25px; height:25px; display: inline-block; vertical-align: middle; margin-right: 3px; margin-left:-4px;}
.book-details .recommended a {color:#a89696;}
.book-details .recommended a:hover {color:#45aab8/*theme color1*/}

/*shared-by in book detail box - no longer use*/
.book-details .recommended .recommend-info, .book-details .shared-by>ul>li {border-radius:5px; background:#e0d9b9; padding:10px; margin:5px 0; line-height:1.6em}
.book-details .shared-by>ul>li {background:#fff; margin-top:10px}
.book-details .shared-by {clear:left; padding:4px;}
.book-details .shared-by a {font-weight:bold; color:#4e749c;}
.book-details .shared-by a:hover {color: #45aab8/*theme color1*/;}
@media only screen and (max-width: 991px){.book-details .list-table, .book-details .description{width:100%; min-width:inherit; height:auto;} .book-details .description {display:block; margin:0; max-width:100%;} .book-details .details-info-box{display:block} .book-details .details-right {padding-left:0;}} /* edited 170419 */

/*ACTION boxes*/
.action-left {padding-left:0; padding-right:0;}
.action-right {padding-right:0;}
.action-left .icon-recommend {background: url(/images/2020a/eLibplus2/icon-tabs.png) no-repeat left -20px; width:20px; height:20px; display: inline-block; vertical-align: middle;}
.action-left .active .icon-recommend {background-position: left top;}
.action-left .icon-share {background: url(/images/2020a/eLibplus2/icon-tabs.png) no-repeat left -60px; width:20px; height:20px; display: inline-block; vertical-align: middle;}
.action-left .active .icon-share {background-position: left -40px;}
.action-left .ratings {margin-bottom:5px;}
.action-left form {margin-bottom:0}
/*recommend*/
.action-left .recommend-all {float:left; margin-right:50px;}
.action-left ul.recommend-list {display:inline-block; margin-bottom:5px}
.action-left ul.recommend-list li {width:30%; float:left}
#act-recommend label {font-weight:normal;}
@media only screen and (max-width: 767px){.action-left .nav-tabs>li{width:100%} .action-left ul.recommend-list li {width: 100%;}  .action-left .all-reviews .review-detail{width:100%}}
@media only screen and (max-width: 991px){.action-left, .action-right {width:100%} .action-right{padding-left:0; margin-top:20px}}
/*share*/
.action-left .select-friends span {vertical-align:middle; display:inline; margin:2px;}
.action-left .select-friends .box {border:1px solid #ccc; border-radius:3px; padding:2px; display:inline; float:right; width:calc(100% - 60px); vertical-align:middle; margin-bottom:10px;}
.action-left .select-friends .box input[type="text"] {border:none; margin-bottom:5px;}
.action-left .select-friends .box .selected {background:#e1d772; border-radius:3px; padding:2px 5px; margin-right:5px; margin-bottom:5px; display:inline-block;}
.action-left .select-friends .box .selected a.btn-remove {color:#333;}
.action-left .select-friends .box .selected a.btn-remove .glyphicon {top:-1px;}
.action-left .select-friends .box .selected a.btn-remove:hover {color:#f06b50/*theme color2*/;}
.action-left .select-friends .box .inline-search {position:relative;}
.action-left .select-friends .box .inline-search .result {position:absolute; left:0; width:250px; height:180px; overflow-y:auto; z-index:1; background:#fff; border:1px solid #ccc; box-shadow:0 6px 12px rgba(0,0,0,.175); padding:5px}
.action-left .select-friends .box .inline-search .result li {padding:8px;}
.action-left .select-friends .box .inline-search .result li:hover {background:#e1d772;}
.action-left .select-friends .user-photo {display:inline-block; height:50px; width:50px; margin-right:10px;} /*edited 170419*/
.action-left .select-friends .user-info {display:inline-block; width:calc(100% - 60px); float:right;}
.action-left .select-friends .result-box {display:block; float:right; width:100%; border:1px solid #ccc; margin-bottom:10px;}
.action-left .select-friends .result-box .nav-pills {float:right;}
.action-left .select-friends .result-box .nav-pills>li>a {margin:5px; padding:3px 8px;}
.action-left .select-friends .result-box .nav-pills>li.active>a {background-color:#ddd;}
.action-left .select-friends .result-box .nav-pills>li>a, .action-left .select-friends .result-box .nav-pills>li>a:focus, .action-left .select-friends .result-box .nav-pills>li>a:hover { color:#333;}
.action-left .select-friends .result-box .tab-content {border:none; border-top:1px solid #ccc; padding:0}
.action-left .select-friends .result-box .student-list  {display:flex; flex-wrap:wrap; height:170px; overflow:auto; padding:15px 0 15px 15px;}
.action-left .select-friends .result-box .student-list li {width:31%; float:left; padding:8px; margin-bottom:10px; margin-right:10px;}
.action-left .select-friends .result-box .student-list li.selected {border-radius:3px; border:2px solid #e1d772;}
@media only screen and (max-width: 767px){.action-left .nav-tabs>li{width:100%} .action-left ul.recommend-list li {width: 100%;}  .action-left .all-reviews .review-detail{width:100%} .action-right{padding-left:0;} .action-left .select-friends .box {width:100%; display:block;} .action-left .select-friends .result-box .student-list li {width:100%;}}
/*ALL REVIEWS*/
.action-left .all-reviews {margin-bottom:10px;}
.action-left .all-reviews .tab-pane>ul {display:inline-block; width:100%;} /* added 170419 */
.action-left .all-reviews .tab-pane>ul>li {display:inline-block; width:100%; min-height:100px;} /* edited 170419 */
.action-left .all-reviews .tab-pane>ul>li+li {border-top:1px dotted #d4d4d4;} /* edited 170419 */
.action-left .all-reviews a.teacher.btn-remove {position:relative; right:5px; margin-bottom: 10px;} /* added 170419 */
.action-left .all-reviews a.btn-remove {float:right;}
.action-left .all-reviews .user-photo {text-align:center; float:left;} /* edited 170419 */
.action-left .all-reviews .user-photo img {margin:10px auto;}
.review-detail {padding:10px 5px 10px 10px; float:left; width:calc(100% - 75px);} /* edited 170419 */
.review-detail .user-name {display:inline-block; font-size:1.1em; font-weight:bold;}
.review-detail .user-name a{color:#4e749c}
.review-detail .user-name a:hover {color:#45aab8/*theme color1*/}
.user-role {color:#a89696; font-size:0.8em; margin-left:10px;}
.review-detail .ratings {margin: 5px 0;}
.review-detail .review-content {line-height:1.6em; float:left; width:100%;} /* edited 170419 */
.review-date {color: #999; font-size: 0.8em; display:inline-block; margin-top:5px; float:left;} /* edited 170419 */
.review-likes {float:right; display:inline-block; margin-top: 7px;}
.review-likes a.btn-type1{padding:5px 8px; text-transform:uppercase; font-size:0.9em;}
.review-likes .number-like {color:#f06b50/*theme color2*/; font-size:0.8em; margin-left:8px;}
.review-likes .icon-like {background: url(/images/2020a/eLibplus2/icon-tools.png) no-repeat left -100px; width:25px; height:25px; display: inline-block; vertical-align:text-bottom; margin-bottom:-3px}
/*Shared by me*/ /*added 170419 */
#shared-by-me .review-detail {width:100%;}
#shared-by-me .review-detail .review-date {float:none; margin-left:5px;}
#shared-by-me .review-detail .message {display:inline-block; width:100%; background:#faf8e1; border:1px solid #e4dbc8; padding: 10px 15px; line-height: 1.6em; margin-top:10px;}
#more_reviews {color:#f06b50; font-size:0.9em; font-weight:bold; float:right; padding: 0 0 2px 3px; padding-right:10px;}
#more_reviews:hover {color:#45aab8/*theme color1*/}
.all-reviews .no-record {margin-left:10px; }

/*RELATED BOOKS*/
.related-books .table-body>ul>li {height:auto; width:50%; float:left; margin-bottom:10px; padding-top:10px;}
.opac .related-books .table-body>ul>li {width:16.5%;}
.related-books .table-body>ul {padding-right:10px;}
.related-books .table-body {padding-bottom:10px;}
@media only screen and (max-width: 991px){.opac .related-books .table-body>ul>li {width:33%;}}
@media only screen and (max-width: 767px){.opac .related-books .table-body>ul>li {width:50%;}}

/*============= RANKING ===============*/
.ranking .tab-content {padding-right:0; padding-left:0}
/*SIDEBAR TABS icon*/
.ranking .side-tabs>li {margin-left:40px;}
.ranking .side-tabs .separator {background: #e4dbc8; height:6px; margin-left:40px; border-left:3px solid #ad9c9a;}
.ranking .side-tabs .icon1, .ranking .side-tabs .icon2, .ranking .side-tabs .icon3 {content:''; margin-bottom:-40px; width:40px; height:38px; background:url(/images/2020a/eLibplus2/icon-tabs-ranking.png) no-repeat left top; display: inline-block;}
.ranking .side-tabs .icon2 {background-position:left -38px;}
.ranking .side-tabs .icon3 {background-position:left -76px;}
.ranking .side-tabs .icon1.on {background-position:right top;}
.ranking .side-tabs .icon2.on {background-position:right -38px;}
.ranking .side-tabs .icon3.on {background-position:right -76px;}
.ranking .side-tabs .separator:before,.ranking .side-tabs .separator:after {display:none}
@media only screen and (max-width: 991px){.ranking .side-tabs>li {margin-left:0} .ranking .side-tabs .icon1, .ranking .side-tabs .icon2, .ranking .side-tabs .icon3 {display:none} .ranking .side-tabs {margin-bottom:10px; padding-right:0} .ranking .side-tabs .separator {margin-left:0;}}
/*BOOKS COVERS*/
.ranking-list .book-covers {float:left; text-align:center; width:190px;}
#tab-most-helpful-review .ranking-list .book-covers {text-align:center; width:180px; float:right;}
.ranking-list .book-covers .book-box.off-shelf {background:#f5f2ea}
/*RANKS*/
.ranking-list .rank {float:left; width:33px; height: 44px; background: url(/images/2020a/eLibplus2/icon-ranks.png) no-repeat left -132px; text-align: center; line-height: 35px;  padding-left: 0px; margin: 10px 10px 10px 20px; color:#333; font-size:1.2em; font-weight: bold;}
.ranking-list .rank-1 .rank {background-position:left top; color:#e59b30;} 
.ranking-list .rank-2 .rank {background-position:left -44; color:#96a7a8;} 
.ranking-list .rank-3 .rank {background-position:left -88; color:#a8533e;} 
.ranking-list .list-table {margin-top:20px;}
/*.ranking-list>li {border-bottom: 1px dotted #d4d4d4; float:left; width:100%; padding:20px 10px 20px 10px;}*/
/*.ranking-list>li:last-child {border-bottom: 1px dotted #d4d4d4;}*/
.ranking-list>li {float:left; width:100%; padding:20px 10px 20px 10px;}
.ranking-list>li+li {border-top: 1px dotted #d4d4d4;}
.ranking-list.table-list td, .ranking-list.table-list th {text-align:center; vertical-align:middle;}
.ranking-list.table-list td.ranking_user_review_detail {text-align:left; vertical-align:middle;}
.ranking-list.table-list th:first-child {padding-left:0;}
.ranking-list.reviews>li {overflow:hidden;}
.ranking-list.reviews .user-photo {float:left}
.ranking-list.reviews .review-detail {width:calc(100% - 340px);}
.ranking_user_review li.user-review-detail {display:inline-block; padding-top:10px; padding-left:20px; padding-bottom:20px; padding-right:20px; width: 100%; border-bottom: 1px dotted #d4d4d4;}
.ranking_user_review li.user-review-detail:last-child {border:none;}
.ranking_user_list_log_open_shadow {text-align: center;}
.ranking_user_review_container, .ranking_user_list_log_open { background:#fffbed !important; padding-bottom:0px;}
.ranking_user_review_detail .more_reviews {color:#f06b50; font-size:0.9em; font-weight:bold; float:right; padding: 0 0 2px 3px; padding-right:10px;}
@media only screen and (max-width: 767px){.ranking-list.table-list td:nth-child(2), .ranking-list.table-list th:nth-child(2) {display:none}/*hide user photo*/ .ranking-list.reviews .review-detail{width:100%} .ranking-list.reviews .book-covers, #tab-most-helpful-review .ranking-list .book-covers {float:left}}

/*============= STATISTICS ===============*/
.statistics .table-header {color:#333}
.statistics .table-header label {font-weight:normal; font-size:0.9em;}
/*EXPORT buttons*/
.statistics .btn-export {position: relative; bottom: -10px; float: right; display:inline-block; vertical-align:bottom}
.statistics .btn-export a{color:#45aab8/*theme color1*/; margin-left:20px;}
.statistics .btn-export a:hover {color:#f06b50/*theme color2*/}
.statistics .icon-export {background: url(/images/2020a/eLibplus2/icon-tools.png) no-repeat left -225px; width:25px; height:25px; display: inline-block; vertical-align: middle; margin-right: 3px; margin-left:-3px}
.statistics .btn-export a:hover .icon-export {background-position:left -250px;}
.statistics .btn-radio-all {margin-bottom:3px;}
.statistics .btn-radio-date {margin-bottom:15px;}
/*SORTING*/
.statistics .table-list .glyphicon {display:inline-block; font-size:0.8em; margin-left:5px}
.statistics .table-list th a {color:#333}
.statistics .table-list th a:hover {color:#f06b50/*theme color2*/}
/*CLASS NAME in bold*/
.statistics #tab-all-classes .table-list td:nth-child(2) {font-weight:bold}
.statistics #all-classes-table .table-body {padding:10px;}
.statistics .reviews>li {display:inline-block; padding-top:20px; padding-bottom:20px; width: 100%; border-bottom: 1px dotted #d4d4d4;}
.statistics .reviews>li:last-child {border:none;}
.statistics .reviews .book-covers {float:left; width:210px}
.statistics .reviews .review-detail {width: calc(100% - 210px);}
.statistics .reviews-header {background:#fff; padding:10px 0px; color:#45aab8/*theme color1*/; font-weight:bold; font-size:1.1em; display: table; width:100%}
/*FORM INPUT*/
.statistics .form-control {display:inline-block; font-size: 0.9em; font-weight:normal; height:30px; margin:5px;}
.statistics #tab-all-classes .form-control {width:auto}
.statistics span.width1 {width:50px;}
.statistics label {font-weight:normal;}
.statistics select {padding-top:3px; display: inline-block; vertical-align: middle;}
@media only screen and (max-width: 767px){.statistics .btn-export a {display:block; float:left}}

/*============= MY RECORD ===============*/
.myrecord .user-photo-container {text-align:center; padding:10px; background:#fff; border: 1px solid #e4dbc8;}
.myrecord .user-photo img {text-align:center}
.myrecord .table-list tbody tr td {vertical-align: middle;}
/*QUOTA*/
.myrecord .table-cat span.quota {float:right; display:inline-block; padding:10px; color:#848168; font-weight:bold; font-size:0.9em;}
/*WARNING, REMINDER highlight*/
.myrecord .table-list tr.warning td:first-child{border-left:5px solid #f06b50}
.myrecord .table-list tr.warning td:last-child{border-right:5px solid #f06b50; color:#f06b50; font-weight:bold;}
.myrecord .table-list tr.reminder td:first-child{border-left:5px solid #45aab8/*theme color1*/}
.myrecord .table-list tr.reminder td:last-child{border-right:5px solid #45aab8/*theme color1*/; color:#45aab8/*theme color1*/; font-weight:bold;}
/*Penalty*/
.myrecord .table-cat.penalty span.title {color:#e25858;}
.myrecord .table-cat.penalty .table-list tr td:nth-child(6){font-weight:bold;}
.myrecord .table-cat.penalty .table-list tr td:last-child{color:#f06b50; font-weight:bold;}
/*My Notes*/
.myrecord #ebook-notes .table-list tbody tr td {vertical-align: top;}
.myrecord #ebook-notes .table-list tbody tr td:nth-child(3) {width:50%}
.myrecord #tab-fav .table-body {padding-top:35px;}
/*TRASH icon*/
.myrecord #tab-fav a.btn-remove {color:#f06b50;}
.myrecord #tab-fav a.btn-remove:hover {color:#45aab8/*theme color1*/}
/*My Fav BOOKSHELF*/
.myrecord .bookshelf {background:url(/images/2020a/eLibplus2/bg-shelf.jpg) repeat;}
.myrecord .bookshelf .fav-list>li {width:auto; display:inline-block; vertical-align:bottom; margin-bottom: 80px;}
.myrecord .bookshelf .fav-list {display:table;}
/*My reviews*/
.myrecord #tab-review .table-body {padding:10px;}
.myrecord .reviews>li {display:inline-block; padding-top:20px; padding-bottom:20px; border-bottom: 1px dotted #d4d4d4; width:100%;}
.myrecord .reviews>li:last-child {border:none;}
.myrecord .reviews .book-covers {float:left; width:210px}
.myrecord .reviews .review-detail {width: calc(100% - 210px);}
.myrecord .table-list td a.inline{display: inline-block;}
@media only screen and (max-width: 767px){.myrecord .nav-tabs>li {width:100%;}.myrecord .reviews .book-covers {float:none; width:100%}.myrecord .reviews .review-detail {width: 100%}}
@media only screen and (max-width: 567px){.myrecord .bookshelf {background:#fff}}

/*============= MY FRIENDS ===============*/
/*notifications*/
.myfriends .notifications {margin-bottom:20px;}
.myfriends .notifications .table-header {border-top: 3px solid #f06b50/*theme color2*/; color: #f06b50/*theme color2*/;}
.myfriends .notifications .table-body {padding:0 15px;}
.myfriends .notifications ul.notify-list>li {position:relative; float:left; width:100%;}
.myfriends .notifications ul.notify-list>li.nothing {padding:15px 0;}
.myfriends .notifications ul.notify-list>li+li {border-top:1px dotted #ccc6b1;}
.myfriends .notifications .user-photo {width:60px; height:60px; float:left; margin-top:15px; margin-bottom:10px} /*edited 20170106*/
.myfriends .notifications .notify-detail {width:calc(100% - 65px); float:left; padding:15px 15px 15px 10px;}
.myfriends .notifications .btn-remove {position:absolute; right:0; top:18px; color:#a89696;}
.myfriends .notifications .btn-remove:hover {color:#f06b50/*theme color2*/}
.myfriends .notifications .btn-type1 {margin-top:10px}
.myfriends .user-name {display:inline; font-weight:bold; margin-right:5px;}
.myfriends .user-name a, .myfriends .share-book .text .title {color:#4e749c}
.myfriends .user-name a:hover, .myfriends .share-book .text .title:hover {color:#45aab8/*theme color1*/}
.myfriends .date {color:#999; font-size:0.8em; display:inline; margin-left:7px;}
.myfriends .new {display:inline-block; vertical-align:middle; background:#cb4f4f/*theme color2hover*/; padding:0px 6px 3px 6px; color:#fff; font-size:0.9em; font-weight:400; line-height:13px; margin-left:7px;}
.myfriends .share-book {width:100%; padding-top:10px;}
.myfriends .share-book .book-covers {display:inline-block; vertical-align:top; position:relative; height:auto; width:80px;}
.myfriends .share-book .book-covers a {margin:0 auto;}
.myfriends .share-book .book-covers img {max-height:80px; max-width:80px;}
.myfriends .share-book .book-covers .generic {width:60px; height:80px; display:block; padding:5px 2px 2px 7px; margin:0 auto;}
.myfriends .share-book .book-covers .book-box.off-shelf {height:80px; width:60px; background:#f5f2ea; cursor:pointer; margin:0; padding:5px 2px;}
.myfriends .share-book .book-covers .book-box.off-shelf .off-shelf-tag {font-size:0.8em;}
.myfriends .share-book .book-covers .title {font-size:0.7em; line-height:1.1em; word-break:break-word;}
.myfriends .share-book .book-covers .author {font-size:0.7em; bottom:8px; word-break:break-word;} /*edited 20170106*/
.myfriends .share-book .book-covers .book-box.off-shelf .author {padding-left:2px; padding-right:2px;}
.myfriends .share-book .text {display:inline-block; padding:0 0 0 10px; width:calc(100% - 90px); float:right;}
.myfriends .share-book .text .title {font-size:1.2em; font-weight:bold; line-height:1.6em; padding-bottom:10px; display:block;}
.myfriends .share-book .text .message {background:#faf8e1; border:1px solid #e4dbc8; padding:10px 15px; line-height:1.6em;}
/*news-feed*/
.myfriends .news-feed .table-body {padding:0 15px;}
.myfriends .news-feed ul.feed-list>li {position:relative; float:left; width:100%;}
.myfriends .news-feed ul.feed-list>li.nothing {padding:15px 0;}
.myfriends .news-feed ul.feed-list>li+li {border-top:1px dotted #ccc6b1;}
.myfriends .news-feed .user-photo {width:75px; float:left; margin-top:15px;} /*edited 20170106*/
.myfriends .news-feed .feed-detail {width:calc(100% - 75px); float:left; padding:15px 15px 15px 10px;}
.myfriends .book-review {width:100%; padding-top:10px;}
.myfriends .book-borrow {background:#faf8e1; /*border:1px solid #e4dbc8;*/ border-radius:3px; width:100%; margin-top:10px; float:left; padding:5px 0;}
.myfriends .book-review .book-covers, .myfriends .book-borrow .book-covers {display:inline-block; vertical-align:top; width:140px; height:140px}
.myfriends .book-review .text, .myfriends .book-borrow .list-table {display:inline-block; padding:5px 0 0 10px; width:calc(100% - 150px); float:right;}
.myfriends .book-review .text .title {font-size:1.2em; font-weight:bold; line-height:1.6em; padding-bottom:10px; display:block;}
.myfriends .book-review .text .message {background:#faf8e1; border:1px solid #e4dbc8; padding:10px 15px; line-height:1.6em;}
.myfriends .text a:not(.btn-type1), .myfriends .book-borrow .list-table .list-title a {color:#4e749c}
.myfriends .text a:not(.btn-type1):hover, .myfriends .book-borrow .list-table .list-title a:hover {color:#45aab8/*theme color1*/}
.myfriends .loading {width:100%; text-align:center; color:#ad9c9a; font-weight:bold; margin:10px 0}
/*add friends*/
.myfriends .add-friends {margin-bottom:20px;}
.myfriends .add-friends .table-header {background:#45aab8/*theme color1*/; color:#fff; border-top:1px solid #e4dbc8;}
.myfriends .add-friends .table-body {padding:15px; background:#faf8e1;}
.myfriends .add-friends .table-body select, .myfriends .add-friends .table-body a {margin-top:15px;}
/*friends list*/
.myfriends .friend-list {margin-bottom:20px;}
.myfriends .friend-list .table-body {padding:0 15px; max-height:280px; overflow-y:auto;}
.myfriends .friend-list .table-search {background:#fff; border: 1px solid #e4dbc8; border-bottom:none; padding:15px;} /*added 20170929*/
.myfriends .friend-list .table-search .form-group {margin-bottom:0;} /*added 20170929*/
.myfriends .friend-list .table-search+.table-body {border-top:0;} /*added 20170929*/
.myfriends .friend-list li {padding:15px 0; width:100%; float:left;}
.myfriends .friend-list li+li {border-top:1px dotted #ccc6b1;}
.myfriends .friend-list .user-photo {height:60px; width:60px; display:inline-block; float:left; margin-right:10px;} /*edited 20170106*/
.myfriends .friend-list .user-info {display:inline-block; width:calc(100% - 70px);}
.myfriends .friend-list .user-name, .myfriends .friend-list .class-no {display:block; line-height:1.6em;}
.myfriends .friend-list a.btn-remove-request {float:right;}
/*friends ranking*/
.myfriends .friend-rank {margin-bottom:20px;}
.myfriends .friend-rank .nav-tabs {width:100%;}
.myfriends .friend-rank .nav-tabs>li {width:33.33%;}
.myfriends .friend-rank .nav-tabs>li a {font-size:1em; padding:5px 7px; text-align:center;}
.myfriends .friend-rank .nav-tabs>li:last-child a {margin-right:0}
.myfriends .friend-rank .ranking-list>li {padding:10px 0;}
.myfriends .friend-rank .ranking-list .rank {margin:10px 15px 10px 0;}
.myfriends .friend-rank .user-photo {height:60px; width:60px; display:inline-block; float:left; margin-right:10px;} /*edited 20170106*/
.myfriends .friend-rank .user-info {display:inline-block; width:calc(100% - 125px);}
/*find friends*/
.myfriends .find-friend .search-area {background:#faf8e1; padding:15px; border-bottom:1px solid #e4dbc8}
.myfriends .find-friend .search-area .form-group {width:30%; margin-bottom:0;}
.myfriends .find-friend .friend-result {padding:0 15px;}
.myfriends .find-friend .friend-result li {padding:15px 0; float:left; width:100%;}
.myfriends .find-friend .friend-result li+li {border-top:1px dotted #ccc6b1;}
.myfriends .find-friend .user-photo {width:60px; height:60px; display:inline-block; margin-right:10px; vertical-align:top} /*edited 20170106*/
.myfriends .find-friend .user-info {display:inline-block; width:calc(100% - 200px);}
.myfriends .find-friend .user-name {font-size:1.1em;} 
.myfriends .find-friend a.add {display:inline-block; vertical-align:middle;}
.myfriends .find-friend a.btn-remove-request {float:right;}
/*friend profile*/
.myfriends .friend-profile {margin-bottom:20px;}
.myfriends .friend-profile .table-body {padding:15px;}
.myfriends .friend-profile .user-photo {display:inline-block; float:left; margin-right:10px;}
.myfriends .friend-profile .user-info {display:inline-block; max-width:calc(100% - 400px); padding-right:15px; height:75px; border-right:1px dotted #ccc6b1;}
.myfriends .friend-profile .user-name {font-size:1.2em; margin-bottom:5px; display:block}
.myfriends .friend-profile .user-stat {display:inline-block; margin-left:15px; height:75px; vertical-align:bottom; position:relative;}
.myfriends .friend-profile .user-stat table {position:absolute; bottom:0; font-size:1em; width:150px;}
.myfriends .friend-profile a.btn-unfriend {float:right; color:#a89696; font-weight:bold}
.myfriends .friend-profile a.btn-unfriend:hover {color:#f06b50/*theme color2*/}
.myfriends .review-list>li {padding:15px 0; float:left; width:100%;}
.myfriends .review-list>li+li {border-top:1px dotted #ccc6b1;}
.myfriends .list-top {margin-bottom:10px;}
@media only screen and (max-width: 767px){.myfriends .notifications .notify-detail, .myfriends .news-feed .feed-detail {width:100%; padding:0} .myfriends .notifications ul.notify-list>li {padding-bottom:10px;} .myfriends .share-book .text, .myfriends .book-review .text, .myfriends .book-borrow .list-table {width:100%;} .myfriends .find-friend a.add {display:block; margin-top:10px; clear:both; width:100%;} .myfriends .friend-profile .user-info {max-width:calc(100% - 100px); border-right:none;} .myfriends .friend-profile .user-stat {width:100%; padding-left:70px;}  .myfriends .friend-news .nav-tabs>li {width:100%;} .myfriends .friend-news .nav-tabs {padding-left:0; margin-top:10px}}

/*============= GRAPHS ===============*/
.graphs .big-number, .graphs .pie,.graphs .bar {margin-bottom:20px;}
.graphs .big-number .table-header {background:#45aab8/*theme color1*/; color:#fff; border-top:1px solid #e4dbc8;}
.graphs .big-number .table-body {padding:40px 15px; background:#faf8e1; color:#45aab8/*theme color1*/; font-size:2.5em; font-weight:bold; text-align:center;}
.graphs .big-number .table-body i {font-size:0.8em; margin-right:10px;}
.graphs .big-number .table-body.grey-text {color:#999}
.graphs .pie .table-body, .graphs .bar .table-body{padding:15px;}
.graphs .pie-choice {line-height:1.1em; text-align:center;}
.graphs .bar .table-body {min-height:350px;}
.graphs .y-axis {color:#999; text-align:right; display:inline-block}
.graphs .x-axis {color:#666; text-align:center; display:inline-block}
.graphs .x-axis .year {font-size:0.8em;}
.graphs hr.x-line {border:none; border-top:1px solid #999;}
.graphs hr.bg-line {border:none; border-top:1px dotted #dcdcdc;}
.graphs .chart-tip {text-align:center; -webkit-filter:brightness(80%); filter:brightness(80%);}
.graphs .chart-tip .tip {width:100%; height:3px;}
.graphs .color0 {background:#c1c1c1;}
.graphs .color1 {background:#f1a632;}
.graphs .color2 {background:#8eb23c;}
.graphs .color3 {background:#f2474f;}
.graphs .color4 {background:#008aaf;}
.graphs .color5 {background:#3cb278;}
.graphs .textcolor0 {color:#8b8b8b}
.graphs .textcolor1 {color:#e3951b}
.graphs .textcolor2 {color:#8eb23c}
.graphs .textcolor3 {color:#f2474f}
.graphs .textcolor4 {color:#008aaf}
.graphs .textcolor5 {color:#3cb278}

/* Portal Settings */
.system-settings .setting {font-size:1em; color:#666; font-weight:bold; text-transform:uppercase; display:inline; position:relative; top:5px; padding-left:15px;}
.system-settings label.back {margin-bottom:0px;}
.system-settings div.category {background:#e1d772; margin-top:10px}
.system-settings div.subcategory {margin-top:5px; margin-bottom:5px}
.system-settings .view-edit {position: relative; text-align:right}
.system-settings .view-edit a {color:#f06b50/*theme color2*/; font-size:0.9em; font-weight:bold;}
.system-settings .view-edit a:hover {color:#45aab8/*theme color1*/}
.system-settings .view-edit a.btn-edit {position:absolute; right:0; top:-20px;}
.system-settings span.category {color:#666; padding:10px; font-size:1.1em; display:inline-block; font-weight:bold}
.system-settings span.subcategory {background:#faf4b1; border-bottom:3px solid #e1d772; height:40px; margin-left:20px; margin-bottom: 5px;}
.system-settings .edit-form .table-body {padding:15px}
.system-settings .edit-form .row-center{text-align:center;}
.system-settings .edit-form .interval-unit{padding-top:5px !important;}
.system-settings .edit-form .select-field{height: 24px !important; border-radius: 2px !important; padding: 0px 0px !important;}
.system-settings .view-form, .system-settings .edit-form {text-align:left; font-size:1.1em;}
.system-settings .view-form .control-label, .system-settings .edit-form .control-label {text-align:left; margin-left:40px; padding:3px 0px; background-color:#faf4b1;font-size: 1.0em;}
.system-settings .view-row, .system-settings .edit-row {vertical-align: middle; padding: 10px 0px; height: 40px;}
.system-settings .view-value {border-bottom: 1px dotted #e1d772; margin-left:15px; padding:3px 0px;}
.system-settings .edit-value {border-bottom: 1px dotted #e1d772; margin-left:15px; padding:3px 0px;}
.system-settings .edit-value label {margin-bottom:0px;}

/****************  Copy from IP content_25.css  **************************************************/
/* for action result layer */
#system_message_box {position:absolute; display:block; text-align:center; width:100%; clear:both; margin:-25px;}
.msg_board_left { height:30px; margin:0 auto; float:none; display:block; padding-left:8px; width:500px; background:url(../../../images/2020a/system_message_left.gif) no-repeat top left;}
.msg_board_right {height:30px; display:block; padding-right:8px; background:url(../../../images/2020a/system_message_right.gif) no-repeat top right; line-height:30px;}
.msg_board_right a{ font-size:0.95em;color:#1d7616; }
.msg_board_right a:hover{ color:#FF0000; }
.warning_box .msg_board_left { background-image:url(../../../images/2020a/system_message_warning_left.gif)}
.warning_box .msg_board_right { background-image:url(../../../images/2020a/system_message_warning_right.gif); color:#FFFFFF; font-weight:bold}
.warning_box .msg_board_right a{color:#FFFFFF; font-weight:normal}
.warning_box .msg_board_right a:hover{ text-decoration:underline}
.dotline {
	border-bottom : 1px dashed #999999;
}

/** Session timeout **/
.timeoutAlert {vertical-align: middle; background: url(../../../images/2020a/session_timeout/bg_transparentwhite.png) repeat;}
.timeoutAlert .contentContainer { width: 550px; height: 210px; position: relative; display: block; background: url(../../../images/2020a/session_timeout/time_bg.png) center; margin: 0 auto; padding: 0;}
.timeoutAlert .textTitle { top: 23px; left: 115px; height: 30px; position: absolute; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color:#FFFFFF; width: 300px;  text-align: left;}
.timeoutAlert .textTitle .timeLeft { color: #FFFF33; font-size: 20px; }
.timeoutAlert .textContent { line-height:20px; top: 70px; left: 124px; position: absolute; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; color:#000; width: 380px; text-align: left;}
.timeoutAlert .textContent u{ text-decoration:none; color:#FF0000; font-weight:bold; font-size:1.2em }
.textContent input {font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:bold;font-size:13px; color:green; margin-top:10px;}
/** Session timeout **/

.sub_layer_board{
	clear:both;
	float:right;
	position: absolute;
	visibility:hidden;
}

/* copy from elibplus.css */
/* book item layer begin */	
.item_details {
	width: 300px;
	height: 200px;
	position:absolute;
	visibility: hidden;
	border-width: 1px;
	border-style: solid;
	border-color: #aeaeae;
	background-color: #f2f2f2;	
	z-index: 10;
}

.item_details .body{
	width: 296px;
	height: 174px;
	text-align: center;
	position:absolute;
	margin: 24px 2px 2px 2px;
	background-color: #ffffff;	
	overflow-x:hidden;
}
	
.item_details .bottom{
	float: right;
	padding-right: 4px
}

.item_details .content{
	padding: 13px 0 13px 0;
}

.item_details .close {
	float: right;
	margin: 4px 4px 0 0;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
	background: url(/images/2007a/eLibrary/close_icon.gif) no-repeat;
}

.item_details .close a{
	display: block;
}
/* book item layer end */	

/* copy from elibplus.css */
/* start book_progress */
.book_progress { display:block; background:#e6e6e6; border:1px solid #9b9b9b; position:relative; overflow:hidden; height:20px; width:100px; box-shadow: #888 0 0px  3px; border-radius: 3px;-moz-border-radius: 3px;  -webkit-border-radius: 3px;}
.book_progress span{ position:absolute; display:block; width:100%; height:25px;box-shadow: #666 0 0px  5px; top:-2px;
 background:#7ecdeb;
   background: -webkit-gradient(linear, top, bottom, from(#f2fafb), to(#57a0df));
    /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #f2fafb, #57a0df);
    /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #f2fafb, #57a0df);
    /* IE 10 */
  background: -ms-linear-gradient(top, #f2fafb, #57a0df);
    /* Opera 11.10+ */
  background: -o-linear-gradient(top, #f2fafb, #57a0df);}
.book_progress em { display:block; width:100%; position:absolute; text-align:center; text-shadow:0 0px 10px #FFF ; font-style:normal; line-height:20px; color:#2b4801;}
.book_progress span.done { background:#c3fa96;
   background: -webkit-gradient(linear, top, bottom, from(#f3ffea), to(#8bd53a));
    /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #f3ffea, #8bd53a);
    /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #f3ffea, #8bd53a);
    /* IE 10 */
  background: -ms-linear-gradient(top, #f3ffea, #8bd53a);
    /* Opera 11.10+ */
  background: -o-linear-gradient(top, #f3ffea, #8bd53a);}
  /* end book_progress */

/* fancybox style */
.fancybox-nav {
    width: 60px !important;       
}

.fancybox-nav span {
    visibility: visible;
    opacity: 0.5;
}

.fancybox-nav:hover span {
    opacity: 1;
}

.fancybox-next {
    right: -60px !important;
}

.fancybox-prev {
    left: -60px !important;
}
  