@charset "utf-8";
/*
* Modification Log
* 2015-01-14 (Siuwan)
* added table.common_table_list tr:hover td.log_photo_desc, set white background in article shelf caption
* 2013-03-07 (Siuwan)
* - Add span.title_usertype a for Editors 
*/
/* CSS Document */
html{height:100%}
body { background:#f6f6f6; margin:0; padding:0; min-width:990px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:15px;}
input, select, textarea {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:15px;}
a { text-decoration:none; color:#1160a5}
a:hover {  color:#ff0000}
p.spacer{clear:both; display:block; line-height:0px; font-size:0px; padding:0; margin:0; height:0px}
.edit_bottom {  padding:3px; display:block; clear:both;  text-align:center; border-top:5px dotted #CCC; margin-top:5px; padding-top:10px;}
.edit_bottom_save { display:block; clear:both;  text-align:right; padding-right:5px; padding-top:-70px;}
.edit_bottom span { float:left; clear:both; display:block; font-size:0.92em; color:#666666}
.formbutton{cursor:pointer;		color:#893207;	height:30px;	padding:3px 10px 5px 10px; 
	background-color: #FFCC00;
    background: -moz-linear-gradient(
		top,
		#ffd99d 0%,
		#ff9f37);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffd99d),
		to(#ff9f37));
	-moz-border-radius: 8px; 
    -webkit-border-radius: 8px;
    border-radius: 8px; 
	border: 1px solid #e26613;
	-moz-box-shadow:
		0px 1px 3px #525252,
		inset 0px -1px 3px #f1f1f1;
	-webkit-box-shadow:
		0px 1px 3px #525252,
		inset 0px -1px 3px #f1f1f1;
	box-shadow:
		0px 1px 3px #525252,
		inset 0px -1px 3px #f1f1f1;
	/*text-shadow:
		
		0px 1px 0px #FFF;*/
	 font-weight:bold 

}


.formbutton:hover{ background-color: #ff9f37;
   background: -moz-linear-gradient(
		bottom,
		#ffd99d 0%,
		#ff9f37);
	background: -webkit-gradient(
		linear, left bottom, left top, 
		from(#ffd99d),
		to(#ff9f37));
	color:#990000
	
}

.formsubbutton{cursor:pointer;		color:#737373;	height:30px;	padding:3px 10px 5px 10px; 
	background-color: #ececec;
    background: -moz-linear-gradient(
		top,
		#ececec 0%,
		#d2d2d2);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ececec),
		to(#d2d2d2));
	-moz-border-radius: 8px; 
    -webkit-border-radius: 8px;
    border-radius: 8px; 
	border: 1px solid #c5c5c5;
	-moz-box-shadow:
		0px 1px 3px #525252,
		inset 0px -1px 3px #f1f1f1;
	-webkit-box-shadow:
		0px 1px 3px #525252,
		inset 0px -1px 3px #f1f1f1;
	box-shadow:
		0px 1px 3px #525252,
		inset 0px -1px 3px #f1f1f1;
	 font-weight:bold 

}


.formsubbutton:hover{ background-color: #d2d2d2;
   background: -moz-linear-gradient(
		bottom,
		#ececec 0%,
		#d2d2d2);
	background: -webkit-gradient(
		linear, left bottom, left top, 
		from(#ececec),
		to(#d2d2d2));
	color:#000
}

.formsmallbutton{cursor:pointer;		color:#737373;	height:25px;	padding:3px 7px 3px 7px; 
font-size:0.9em;
	background-color: #ececec;
    background: -moz-linear-gradient(
		top,
		#ececec 0%,
		#d2d2d2);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ececec),
		to(#d2d2d2));
	-moz-border-radius: 8px; 
    -webkit-border-radius: 8px;
    border-radius: 8px; 
	border: 1px solid #c5c5c5;
	-moz-box-shadow:
		0px 1px 3px #525252,
		inset 0px -1px 3px #f1f1f1;
	-webkit-box-shadow:
		0px 1px 3px #525252,
		inset 0px -1px 3px #f1f1f1;
	box-shadow:
		0px 1px 3px #525252,
		inset 0px -1px 3px #f1f1f1;

}


.formsmallbutton:hover{ background-color: #d2d2d2;
   background: -moz-linear-gradient(
		bottom,
		#ececec 0%,
		#d2d2d2);
	background: -webkit-gradient(
		linear, left bottom, left top, 
		from(#ececec),
		to(#d2d2d2));
	color:#000
}


.bg_left{ display:block; background: url(../../../images/ePost/bg_left.jpg) no-repeat left top; padding-left: 611px;}
.bg_right{ display:block; background: url(../../../images/ePost/bg_right.jpg) no-repeat right top; padding-right: 301px;}
.bg { display:block; background:url(../../../images/ePost/bg.jpg) repeat-x top; min-height:650px;}
#container{ display:block; margin-left:-611px; margin-right:-301px;}
.top_header{ height:45px; display:block; position:relative}
.top_header a { display:block; background-repeat: no-repeat; background-position: 10px 10px; width: 185px; height:55px; padding-top:10px; position:absolute; top:0; left:0;}
.top_header a.title_logo_en {background-image:url(../../../images/ePost/logo_epost_en.png)}
.top_header a.title_logo_chn {background-image:url(../../../images/ePost/logo_epost_chn.png)}
span.title_usertype { display:block; position:absolute; left:185px; top:30px; height:25px; padding-left:20px; background:url(../../../images/ePost/user_arrow.png) no-repeat left center; color:#3b3b3b; font-size: 1.2em; text-shadow:0 0 2px #FFF; line-height:25px; font-weight:bold}
span.title_usertype a { display:block; height:25px; color:#3b3b3b; font-size: 1.2em; text-shadow:0 0 2px #FFF; line-height:25px; font-weight:bold;padding-top:0px}
span.user_name { display:block; position:absolute; right:10px; top:0px; height:25px; color:#000; font-size: 1em; text-shadow:0 0 2px #FFF; line-height:25px;}

.top_header a:hover, .top_header a:active { background-position:9px 9px} 
.content_board { display:block;  min-height:500px; }
.footer { display:block; height:25px; display:block; text-align:right; padding:5px 10px; line-height:25px; color:#010101;font-size:11px;}
.footer a { display:block; float:right; background:url(../../../images/ePost/logo_eclass.png) no-repeat; width:50px;; height:25px; }
.content_board { display:block} 
.content_board_top { display:block; clear:both;background-position:left bottom; background-repeat:no-repeat; padding-left:35px; min-height:55px;}
.content_board_top_right {  display:block;background-position:right bottom; background-repeat:no-repeat; padding-right:35px; min-height:55px;}
.content_board_top_bg { display:block; background-position:bottom; background-repeat:repeat-x; min-height:55px; padding-left:270px;}
.content_board_main {  display:block; clear:both;background-position:left; background-repeat:repeat-y; padding-left:35px; min-height:400px;}
.content_board_main_right { display:block;background-position:right; background-repeat:repeat-y; padding-right:35px; min-height:400px;}
.content_board_main_bg { display:block;min-height:400px;}
.content_board_bottom { display:block; clear:both; background-position:left top; background-repeat:no-repeat; padding-left:121px; min-height:39px;}
.content_board_bottom_right { display:block; background-position:right top; background-repeat:no-repeat; padding-right:35px; min-height:39px;}
.content_board_bottom_bg { display:block; background-position:top; background-repeat:repeat-x; min-height:39px;}
#editor_board .content_board_top{ background-image:url(../../../images/ePost/board_edit_top_left.png)}
#editor_board .content_board_top_right{ background-image:url(../../../images/ePost/board_edit_top_right.png)}
#editor_board .content_board_top_bg{ background-image:url(../../../images/ePost/board_edit_top_bg.png)}
#editor_board .content_board_main{ background-image:url(../../../images/ePost/board_edit_content_left.png)}
#editor_board .content_board_main_right{ background-image:url(../../../images/ePost/board_edit_content_right.png)}
#editor_board .content_board_main_bg{ background-image:url(../../../images/ePost/board_edit_content_bg.png); padding:0 15px;}
#editor_board .content_board_bottom{ background-image:url(../../../images/ePost/board_edit_bottom_left.png)}
#editor_board .content_board_bottom_right{ background-image:url(../../../images/ePost/board_edit_bottom_right.png)}
#editor_board .content_board_bottom_bg{ background-image:url(../../../images/ePost/board_edit_bottom_bg.png)}
#post_board .content_board_top{ background-image:url(../../../images/ePost/board_post_top_left.png)}
#post_board .content_board_top_right{ background-image:url(../../../images/ePost/board_post_top_right.png)}
#post_board .content_board_top_bg{ background-image:url(../../../images/ePost/board_post_top_bg.png)}
#post_board .content_board_main{ background-image:url(../../../images/ePost/board_post_content_left.png)}
#post_board .content_board_main_right{ background-image:url(../../../images/ePost/board_post_content_right.png)}
#post_board .content_board_main_bg{ background-image:url(../../../images/ePost/board_post_content_bg.png); padding:10px}
#post_board .content_board_bottom{ background-image:url(../../../images/ePost/board_post_bottom_left.png)}
#post_board .content_board_bottom_right{ background-image:url(../../../images/ePost/board_post_bottom_right.png)}
#post_board .content_board_bottom_bg{ background-image:url(../../../images/ePost/board_post_bottom_bg.png)}
#portal_board .content_board_main{ padding-right:270px}
.board_tab { display:block; padding:0; margin:0;}
.board_tab ul{ display:block; padding:0; margin:0;}
.board_tab ul li { display:block; padding:0; margin:0; float:left; height:55px;background-repeat: no-repeat; background-position: left top; padding-left:43px;}
.board_tab ul li a{ display:block; height:55px; background-repeat: no-repeat; background-position: right -55px;padding-right:40px; }
.board_tab ul li a span { display:block;  margin-left:-22px; margin-right:-22px;height:24px;padding-top:12px; font-size:1.1em; color:#929292;}
.board_tab ul li a:hover span { color:#000;}
.board_tab ul li.current_tab{ background-position: left -110px;}
.board_tab ul li.current_tab a{ background-position: right -165px; }
.board_tab ul li.current_tab a span {   height:55px;line-height:52px;padding-top:0px;}
#editor_board .board_tab ul li, #editor_board .board_tab ul li a  { background-image:url(../../../images/ePost/tab_edit.png)}
#editor_board .board_tab ul li.current_tab a span{ color:#0f5b91; font-weight:bold;}
#post_board .board_tab ul li a span{ padding-bottom:10px;}
#post_board .board_tab ul li.current_tab a span{ padding-bottom:0px; color:#FFF; font-weight:bold;}
#post_board .board_tab ul li , #post_board .board_tab ul li a { background-image:url(../../../images/ePost/tab_post.png);} 


.portal_left {/* background:#FFff00;*/ float:left; width:100%; display:block}
.portal_right {margin-right:-270px; /*background:#FF0000; */float:right; width:250px; display:block; padding-left:20px; padding-top:10px}
.portal_full { display:block; margin-right:-270px}
.filter_search { display:block; width:100%; clear:both; height:35px;} 
.filter_bar { display:block; float:left; clear:none;}
.filter_bar select { border-radius: 5px;-moz-border-radius: 5px;  -webkit-border-radius: 5px; background:#FFF; border:1px solid #CCC; padding:2px; margin-bottom:2px; margin-right:2px;font-size:0.9em;  color:#363636}
.search_bar { display:block; float:right; clear:none;}
.search_bar input{ display:block; float:right; margin-right:10px; width:130px; border:1px solid #CCCCCC; border-radius: 10px;-moz-border-radius: 10px;  -webkit-border-radius: 10px; box-shadow: #e1e1e1 0 0 3px inset; background:url(../../../images/ePost/icon_search.png) no-repeat 5px center #FFF; height:20px; line-height:20px; padding:2px 8px 2px 25px; color:#999; font-style:italic}
.search_bar input:focus{ background-color:#FFFF99; color:#000;font-style:normal}
.toggle_tool { display:block; float:right; height:30px; line-height:30px; }   
.toggle_tool ul { float:right; display:block; margin:0; padding:0;}         	
.toggle_tool ul li{ display:block; float:right; list-style-type:none; margin-right:2px;}
.toggle_tool ul li a { display:block; height:30px; width:30px; background:url(../../../images/ePost/icon_toggle.png) no-repeat left top;}
.toggle_tool ul li a.view_cover { background-position:left top}
.toggle_tool ul li a.view_cover:hover, .toggle_tool ul li.selected a.view_cover { background-position:right top}
.toggle_tool ul li a.view_list {background-position:left -30px;}
.toggle_tool ul li a.view_list:hover, .toggle_tool ul li.selected a.view_list {background-position:right -30px;}

.post_list_board_top { display:block; clear:both; background:url(../../../images/ePost/post_stand_top_left.png) no-repeat left bottom; padding-left:21px; height:26px;}
.post_list_board_top_right { display:block; clear:both; background:url(../../../images/ePost/post_stand_top_right.png) no-repeat right bottom; padding-right:17px; height:26px;}
.post_list_board_top_bg { display:block; clear:both; background:url(../../../images/ePost/post_stand_top_bg.png) repeat-x bottom;  height:26px;}

.post_list_board_main { display:block; clear:both; background:url(../../../images/ePost/post_stand_left.png) repeat-y left ; padding-left:8px; min-height:200px;}
.post_list_board_main_right { display:block; clear:both; background:url(../../../images/ePost/post_stand_right.png) repeat-y right ; padding-right:5px; min-height:200px;}
.post_list_board_main_bg { display:block; clear:both; background:url(../../../images/ePost/post_stand_bg.png) ;  min-height:200px;}

.post_list_board_bottom { display:block; clear:both; background:url(../../../images/ePost/post_stand_bottom_left.png) no-repeat left top; padding-left:21px; height:18px;}
.post_list_board_bottom_right { display:block; clear:both; background:url(../../../images/ePost/post_stand_bottom_right.png) no-repeat right top; padding-right:17px; height:18px;}
.post_list_board_bottom_bg { display:block; clear:both; background:url(../../../images/ePost/post_stand_bottom_bg.png) repeat-x top;  height:18px;}

.issue_list { display:block;}
.show_more { text-align:center; display:block;}
.issue_list ul { display:block; margin:0; padding:0; clear:both;margin:0px 30px;position:relative;  }
.post_stand_row {height:118px; display:block; position:relative; text-align:center;  padding:10px 0;clear:both; width:580px; margin:0 auto; clear: both }
.issue_list ul li { list-style-type:none; width:168px; height: 118px; margin-left:10px; margin-right:10px; position:relative ; display:block; float:left;} 
.issue_list ul  li a { background-image: url(../../../images/ePost/issue_bg_01.png); width:168px; height: 118px; display:block; position:absolute}
.issue_list ul  li:nth-child(5n+0) a{ background-image: url(../../../images/ePost/issue_bg_01.png)}
.issue_list ul  li:nth-child(5n+1) a{ background-image:url(../../../images/ePost/issue_bg_02.png)}
.issue_list ul  li:nth-child(5n+2) a{ background-image:url(../../../images/ePost/issue_bg_03.png)}
.issue_list ul  li:nth-child(5n+3) a{ background-image:url(../../../images/ePost/issue_bg_04.png)}
.issue_list ul  li:nth-child(5n+4) a{ background-image:url(../../../images/ePost/issue_bg_05.png)}

.board_postit { display:block; background:url(../../../images/ePost/board_postit.png) no-repeat left top; width: 225px; height: 225px; padding-bottom:20px; margin:0 auto; padding-top:15px;}
.board_postit h1 { display:block; background:url(../../../images/ePost/board_postit_title_en.png) no-repeat center; height:25px; padding:0; margin:0; }
.btn_tool { display:block; clear:both; padding:20px;}
.btn_tool a { display:block; float:left; color:#0d428a; font-size:1.2em; padding-left:35px; line-height:35px; background:url(../../../images/ePost/btn_tool.png) no-repeat; margin-bottom:10px; }
.btn_tool a:hover { color:#FF0000}
.btn_tool a.btn_write { background-position:left 0px;}
.btn_tool a.btn_write:hover { background-position:left -100px;}
.btn_tool a.btn_myrecord{ background-position:left -200px;}
.btn_tool a.btn_myrecord:hover{ background-position:left -300px;}
.btn_tool a.btn_manage{ background-position:left -400px;}
.btn_tool a.btn_manage:hover{ background-position:left -500px;}
.btn_tool a.btn_new{ background-position:left -600px;}
.btn_tool a.btn_new:hover{ background-position:left -700px;}
.btn_tool a.btn_assign_ppl{ background-position:left -800px;}
.btn_tool a.btn_assign_ppl:hover{ background-position:left -900px;}
.btn_tool a span { display:block; padding-left:20px; font-size:0.9em; color:#666666; line-height:18px; clear:both; background:url(../../../images/ePost/icon_arrow.png) no-repeat left top; margin-bottom:8px;}
.btn_tool a span.btn_not_allow { background-image:url(../../../images/ePost/icon_notallow.png)}
.btn_tool a span.btn_tick { background-image:url(../../../images/ePost/icon_tick.png); color: #006600}
.board_editor { display:block;  padding:10px 0;  background:#bae5f5 url(../../../images/ePost/board_editor.png) no-repeat right top; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; box-shadow: inset 0 0 5px #fff,  0 0 3px #999; border:1px solid #CCC}
.portal_right .board_editor  {width:200px; margin:0 auto;min-height:80px;}
.portal_editor {width:31%; float:left; margin:0 1%}
.portal_editor h1 { display:block; margin:0; padding:5px; font-size:1.5em; color:#1159a0; line-height: normal; font-weight:normal}
.portal_editor .board_editor {min-height:120px;}
.portal_editor .btn_tool a { clear:both}
.portal_editor_assign { display:block; width:65%; clear:left; float:left;margin:0 1%} /*20131022*/
.portal_editor_assign .board_editor { background-color:#dcdcdc; min-height:150px;}
.portal_editor_assign h1 { display:block; margin:0; padding:5px; font-size:1.5em; color:#000; line-height: normal; font-weight:normal;padding-top:20px;}
/*20131022 start*/
.portal_editor_setting {display:block; width:30%; float:left;margin:0 1%}
.portal_editor_setting .board_editor { background-color:#dcdcdc; min-height:150px;}
.portal_editor_setting h1 { display:block; margin:0; padding:5px; font-size:1.5em; color:#000; line-height: normal; font-weight:normal;padding-top:20px;}
.editor_setting_area { display:block; padding:10px; border-radius:10px; background:#eee; font-size:1.2em; box-shadow:0 0 3px #ccc inset}
.editor_setting_area .formbutton { margin-left:20px;}

.portal_editor_assign .btn_tool a {}
/*20131022 end*/
.portal_editor_assign .btn_tool a { width: 300px;}
.issue_list ul  li a div.post_title { display:block; padding:8px 18px 3px 10px;}
.issue_list ul  li a h1{ margin:0; padding:0; font-size:1.25em; font-weight: normal; text-align:left; background:#ecc780; padding-left:5px; color:#000; overflow:hidden; text-overflow: ellipsis; max-height:50px;  width:135px ; }
.issue_list ul  li a h2 { margin:0; padding:0; font-size:1em; font-weight: normal;text-align:right; background:#f1e8e0; color:#3d3d3d; overflow:hidden;text-overflow: ellipsis;  width:135px;white-space: nowrap;  }
.post_list_board_glass { background:url(../../../images/ePost/post_stand_glass.png) right; margin-top:-58px; height:56px; display:block; width:100%; position:absolute }
.issue_list ul  li a:hover, .issue_list ul  li a:active {z-index:999; top:-2px;}

.no_of_record{ font-size:0.9em; line-height:30px;}
.table_board{	clear:both; display:block; padding:5px; margin-top:10px;}
table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
/*     width: 100%;     */
}

table.common_table_list {

    border: solid #ccc 1px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 2px #ccc; 
    -moz-box-shadow: 0 1px 2px #ccc; 
    box-shadow: 0 1px 2px #ccc;         
}
table.common_table_list tr td{ background:#fff}
table.common_table_list tr:hover td.log_photo_desc{
    background: #ffffff; 
}    
table.common_table_list tr:hover td{
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
table.common_table_list td, table.common_table_list th {
    border-left: 1px solid #ececec;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left; vertical-align:top;   
}

table.common_table_list th {
    background-color: #d8d8d8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#d8d8d8));
    background-image: -webkit-linear-gradient(top, #f1f1f1, #d8d8d8);
    background-image:    -moz-linear-gradient(top, #f1f1f1, #d8d8d8);
    background-image:     -ms-linear-gradient(top, #f1f1f1, #d8d8d8);
    background-image:      -o-linear-gradient(top, #f1f1f1, #d8d8d8);
    background-image:         linear-gradient(top, #f1f1f1, #d8d8d8);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
	font-weight:normal; color:#000000
}

table.common_table_list td:first-child, table.common_table_list th:first-child {
    border-left: none;
}

table.common_table_list th:first-child {
    -moz-border-radius: 8px 0 0 0;
    -webkit-border-radius: 8px 0 0 0;
    border-radius: 8px 0 0 0;
}

table.common_table_list th:last-child {
    -moz-border-radius: 0 8px 0 0;
    -webkit-border-radius: 0 8px 0 0;
    border-radius: 0 8px 0 0;
}

table.common_table_list th:only-child{
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 86px 0 0;
    border-radius: 8px 8px 0 0;
}

table.common_table_list tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 8px;
    -webkit-border-radius: 0 0 0 8px;
    border-radius: 0 0 0 8px;
}

table.common_table_list tr:last-child td:last-child {
    -moz-border-radius: 0 0 8px 0;
    -webkit-border-radius: 0 0 8px 0;
    border-radius: 0 0 8px 0;
}

table.common_table_list tr th a{	color: #000000; text-decoration:none; }
table.common_table_list tr th a.sort_asc {font-weight: bold;display:block; float:left;background:url(../../../images/ePost/icon_table_sort_tool.gif) no-repeat 0px 0px; padding-left:15px; }
table.common_table_list tr th a.sort_asc:hover {	 background-position:0px -80px; }
table.common_table_list tr th a.sort_dec {font-weight: bold;display:block;float:left;background:url(../../../images/ePost/icon_table_sort_tool.gif) no-repeat 0px -160px;padding-left:15px; }
table.common_table_list tr th a.sort_dec:hover {	 background-position:0px -240px; }
table.common_table_list tr th a:hover{	color: #FF0000;}
table.common_table_list .num_check{	width:20px;}
table.common_table_list tr.draft td { background-color:#f1f1f1;}
table.common_table_list tr.select_q td { background-color:#fff9c9}
table.common_table_list tr.waiting td { background-color: #E1F4FD;}
table.common_table_list tr.past td { background-color: #f1f1f1;}
table.common_table_list tr.normal td {	background-color: #FFFFFF;	}
table.common_table_list tr.group_normal td {	background-color: #f1f6e9; font-weight:bold;	}
table.common_table_list tr.normal td.sub_normal_row { padding-left:20px;}
table.common_table_list tr.normal td.normal_row_total { background-color:#f0f6e8; }
table.common_table_list tr.group_normal td.normal_row_total { background-color:#e3edd4; font-weight:bold;}
table.common_table_list table.common_table_list trtr th.table_total_top { background-image: url(../../../images/ePost/ej5/table/table_top_bg_green_total.gif)}
table.common_table_list tr.record_bottom td {border-bottom: 1px solid #CCCCCC;}
table.common_table_list tr.record_level_top td {border-bottom: 1px dashed #CCCCCC;}
.record_sub_level td {border-bottom: 1px solid #FFFFFF;}

table.common_table_list tr.member_teacher td { background-color:#edfcdc}





.common_table_bottom{ font-size:0.9em; line-height:25px; padding-left:20px; padding-right:20px; display:block;}
 .record_no{	 margin-top:7px;	float:left;}
.page_no{	float:right; height:25px; 	 margin-top:7px;}
.page_no a{	 float:left; display:block; height:18px; background-repeat:no-repeat;	 height:18px; width:18px;	 margin-top:1px;	background-image:url(../../../images/ePost/icon_table_tool.gif);	 }
.page_no span{	display:block; float:left; padding:0px 1px; height:25px; padding-top:0px;}
.page_no span select{	border: 1px solid #CCCCCC;	}
a.first{background-position: 0px -300px;}
a.first:hover{background-position: -25px -300px;}
a.prev{background-position: 0px -325px;}
a.prev:hover{background-position: -25px -325px;}
a.next{background-position: 0px -375px;}
a.next:hover{background-position: -25px -375px;}
a.last{background-position: 0px -400px;}
a.last:hover{background-position: -25px -400px;}

.sectiontitle {	font-size: 1.1em;	font-weight: bold;	color: #006600;	padding-right: 3px;	/*padding-left: 23px;*/ padding-bottom:8px; display:block; float:left; line-height:25px;/* background: url(../../../images/ePost/icon_section.gif) no-repeat 0px 3px;*/}
.sectiontitle em{font-size:0.9em; font-style:normal}
.issue_list table.common_table_list th { background:url(../../../images/ePost/post_stand_bg.png)}


table.edit_table_list { float:left; width:100%}
table.edit_table_list tr th{  background-image:none;background-color: #76bc61/* #71AA2F*/; }
table.edit_table_list {border:1px solid #CCCCCC;}

table.edit_table_list tr.sub_head th{background-image:none; background-color: #EEEEEE; color:#000000 }
.pool_content { display:block; padding:8px; border:1px solid #CCCCCC; background:#fffdf3; box-shadow:0 0 3px #888}

.request_in { font-family:'Julee', cursive; color:#763b0c; font-size:1.2em; padding-bottom:20px; display:block;}

.request_list { display:block; width:850px; margin:0 auto;}
.request_list ul { display:block; margin:0; padding:0;}
.request_list ul li { display:block; list-style-type:none; clear:both; width:850px;}
.request_row_top { display:block; min-height:45px; background:url(../../../images/ePost/request_board_top.png) no-repeat top center; padding:10px 45px 5px 45px;}
.request_row_top h1 { margin:0; padding:0; font-size:1.3em; padding-right:300px; position:relative; font-weight:normal; border-bottom: 2px solid #bababa; padding-bottom:5px;}
span.deadline_date{ position:absolute; right:0; top:5px; font-size:0.7em;}
span.deadline_date strong { color:#FF0000}
.request_row_bottom { display:block; min-height:80px; background:url(../../../images/ePost/request_board_bottom.png) no-repeat bottom center;padding:5px 300px 5px 45px; position:relative}
.request_row_bottom .board_editor  { width:200px; padding:5px;  min-height:20px; position:absolute; right:30px; bottom:20px;}
.request_row_bottom .board_editor .btn_tool{ padding:0px; margin:0;}
.request_row_bottom .board_editor .btn_tool a{ margin:0;}

.write_content_board{ display:block; padding:15px 10px }
.write_title{	display:block;		margin:0 auto;	margin-bottom:10px;	font-size:1.4em;	color:#663300;text-align:center;line-height:30px;}
.write_title h1{ display:block; width:600px; margin:0 auto; margin-bottom:10px;  font-size:1.0em; color:#663300; text-align:center;line-height:30px; }
.write_title input{font-size:1.2em; text-align:center;line-height:30px; border:1px solid #CCCCCC ;width:600px;}
.write_content{display:block;font-size:1.2em; color:#663300;line-height:30px;  min-height:320px; padding:10px;}
.write_content textarea{  border:1px solid #CCCCCC ; width:98%; padding:1%;display:block;  height:300px;font-size:1.2em;}

.write_upload{ display:block;font-size:0.9em;  font-size:0.9em; line-height:20px; height:30px; padding-top:10px;}

.write_content_guide{display:block;position:relative; height:10px; }
#guide_board { display:block; position:absolute; visibility:hidden; left:0; top:0; width:100%;}
.guide_content_board { display:block;  clear:both; width:850px; margin:0 auto;}
.btn_guide { position:absolute; display:block; background:url(../../../images/ePost/btn_guide.png) no-repeat left top; width: 95px; height: 40px; text-align:center; color:#044b62; padding-top:30px; font-size:1.1em;}
.request_row_bottom .formsmallbutton { position:absolute; right:20px; bottom:20px;}

.portfolio_content_board_bg{ display:block; clear:both; padding:10px; min-height:400px;}
.portfolio_content_board_bg table.common_table_list th {  background-color: #e4843d;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f1b88e), to(#e4843d));
    background-image: -webkit-linear-gradient(top, #f1b88e, #e4843d);
    background-image:    -moz-linear-gradient(top, #f1b88e, #e4843d);
    background-image:     -ms-linear-gradient(top, #f1b88e, #e4843d);
    background-image:      -o-linear-gradient(top, #f1b88e, #e4843d);
    background-image:         linear-gradient(top, #f1b88e, #e4843d);}
a.btn_show_newspaper { background: url(../../../images/ePost/icon_newspaper.png) no-repeat left top; padding-left:25px; line-height:25px; display:block;}
.write_content_guide  a.btn_show_newspaper { position:absolute; right:0;}


/**/
.shadetabs{display:block;margin-bottom: 5px; clear:both}
.shadetabs ul{ padding: 3px 0;margin-left: 0;border-bottom: 1px solid #b1bfdb;list-style-type: none;text-align: left; /*set to left, center, or right to align the menu as desired*/}
.shadetabs li{display: inline;margin: 0;}
.shadetabs li a{text-decoration: none;padding: 3px 7px;margin-right: 3px;border: 1px solid #d9d9d9;border-bottom: none;background-color: #FFFFFF;color: #a5a5a5;}
.shadetabs li a:hover{color:#FF0000;}
.shadetabs li.selected a{ font-weight: bold ;/*selected tab effect*/position: relative;top: 1px;border: 1px solid #b1bfdb;border-bottom: none;padding-top: 4px;background-image: url(../../../images/ePost/ej5/shade.gif);color: #2b64b2;}

/**********  table tool ***********/
.table_tool a{	height:25px; width:25px;	background-image:url(../../../images/ePost/icon_table_tool.gif);background-repeat:no-repeat;display:block; color:#2F7510;	float:left;	margin-left:2px;margin-top:2px;}
.table_row_tool a{	height:25px; width:25px;background-image:url(../../../images/ePost/icon_table_tool.gif);	background-repeat:no-repeat;display:block; color:#2F7510;float:left;		margin-left:2px;}
.table_row_tool_qp{width:20px}
.table_row_tool span{float:left;}
.table_tool span{ color:#999999; float:left; display:block; padding-left:2px; padding-right:2px; padding-top:0px; line-height:20px;}
.table_tool a:hover{	color:#FF0000;}
a.tool_hide_board{background-position: 0px -550px;}
a.tool_hide_board:hover{background-position: -25px -550px;}

a.tool_delete{background-position: 0px -25px;}
a.tool_delete:hover{background-position: -25px -25px;}
a.tool_delete_dim{background-position: -50px -25px;}
a.tool_delete_dim:hover{background-position: -25px -25px;}

a.tool_edit{background-position: 0px 0px;}
a.tool_edit:hover{background-position: -25px 0px;}

a.tool_copy{background-position: 0px -100px;}
a.tool_copy:hover{background-position: -25px -100px;}

a.tool_edit_content{background-position: 0px -220px;}
a.tool_edit_content:hover{background-position: -20px -220px;}
a.tool_edit_dim{background-position: -50px 0px;}
a.tool_edit_dim:hover{background-position: -25px 0px;}
a.tool_task_edit{background-position: -60px 0px;}
a.tool_task_edit:hover{background-position: -20px 0px;}




a.tool_move_dim{background-position: -40px -200px;}
a.tool_move_dim:hover{background-position: -20px -200px;}
a.tool_setting_dim{background-position: -40px -180px;}
a.tool_setting_dim:hover{background-position: -20px -180px;}
a.tool_task_setting{background-position: -60px -180px;}
a.tool_task_setting:hover{background-position: -20px -180px;}
a.calendar{background-position: 0px -475px;}
a.calendar:hover{background-position: -25px -475px;}
a.tool_setting{background-position: 0px -400px;}
a.tool_setting:hover{background-position: -25px -400px;}
a.tool_enlarge{background-position: 0px -260px;}
a.tool_enlarge:hover{background-position: -20px -260px;}
/***modified 2010-03-09***/
a.tool_minimize{background-position: 0px -250px;}
a.tool_minimize:hover{background-position: -25px -250px;}
/***********/
a.tool_add{background-position: 0px -460px;}
a.tool_add:hover{background-position: -20px -460px;}
a.tool_add_small{background-position: 0px -700px;}
a.tool_add_small:hover{background-position: -25px -700px;}

a.tool_add_q{background-position: -40px -480px;}
a.tool_add_q:hover{background-position: -20px -480px;}
a.tool_zoom{background-position: 0px -60px;}
a.tool_zoom:hover{background-position: -20px -60px;}
a.tool_content_next{background-position: 0px -280px;}
a.tool_content_next:hover{background-position: -20px -280px;}
a.tool_content_prev{background-position: 0px -300px;}
a.tool_content_prev:hover{background-position: -20px -300px;}
a.tool_hide{background-position: 0px -320px;}
a.tool_hide:hover{background-position: -20px -320px;}
a.tool_open{background-position: 0px -340px;}
a.tool_open:hover{background-position: -20px -340px;}
a.tool_ref_hide{background-position: 0px -360px;}
a.tool_ref_hide:hover{background-position: -20px -360px;}
a.tool_ref_open{background-position: 0px -380px;}
a.tool_ref_open:hover{background-position: -20px -380px;}
a.preset_list{background-position: 0px -400px;}
a.preset_list:hover{background-position: -20px -400px;}
a.add_q_pool{background-position: 0px -500px;}
a.add_q_pool:hover{background-position: -20px -500px;}
a.at_q_pool{background-position: 0px -520px;}
a.at_q_pool:hover{background-position: -20px -520px;}
a.arrow_open{background-position: 0px -540px;}
a.arrow_open:hover{background-position: -20px -540px;}
a.arrow_close{background-position: 0px -560px;}
a.arrow_close:hover{background-position: -20px -560px;}
a.tool_notify {background: none; width:auto}
a.tool_notify:hover {color:#FF0000;}
a.tool_rich_text{background-position: 0px -620px;}
a.tool_rich_text:hover{background-position: -20px -620px;}
a.tool_add_attach{background-position: 0px -640px;}
a.tool_add_attach:hover{background-position: -20px -640px;}
a.tool_add_voice{background-position: 0px -660px;}
a.tool_add_voice:hover{background-position: -20px -660px;}
a.tool_add_attach_dim{background-position: -40px -640px;}
a.tool_add_voice_dim{background-position: -40px -660px;}
a.tool_edit_rich_text{background-position: 0px -680px;}
a.tool_edit_rich_text:hover{background-position: -20px -680px;}
a.tool_zip{background-position: 0px -740px;}
a.tool_zip:hover{background-position: -20px -740px;}
a.tool_move_file{background-position: 0px -760px;}
a.tool_move_file:hover{background-position: -20px -760px;}

a.tool_send_message{background-position: 0px -860px;}
a.tool_send_message:hover{background-position: -20px -860px;}
a.tool_message_history{background-position: 0px -840px;}
a.tool_message_history:hover{background-position: -20px -840px;}
a.tool_export{background-position: 0px -40px;}
a.tool_export:hover{background-position: -20px -40px;}
a.tool_import{background-position: 0px -880px;}
a.tool_import:hover{background-position: -20px -880px;}
a.tool_auto_mark{background-position: 0px -900px;}
a.tool_auto_mark:hover{background-position: -20px -900px;}
a.tool_download {background-position: 0px -920px;}
a.tool_download:hover{background-position: -20px -920px;}

a.tool_edit_difficulty{background-position: 0px -940px;}
a.tool_edit_difficulty:hover{background-position: -20px -940px;}
a.tool_edit_Status {background-position: 0px -960px;}
a.tool_edit_Status:hover{background-position: -20px -960px;}


a.tool_move{background-position: 0px -200px;}
a.tool_move:hover{background-position: -20px -200px;}
a.tool_draft{background-position: 0px -1000px;}
a.tool_draft:hover{background-position: -20px -1000px;}
a.tool_swap{background-position: 0px -980px;}
a.tool_swap:hover{background-position: -20px -980px;}
a.tool_public_task{background-position: 0px -125px;}
a.tool_public_task:hover{background-position: -25px -125px;}
a.tool_delete_post{background-position: 0px -1040px;}
a.tool_delete_post:hover{background-position: -20px -1040px;}

.row_tool_group{ display: block; float:left; position:relative}
.row_tool_layer { display:block; position:absolute; top:25px; left:2px;; background: #FFF9D2; padding:10px; visibility:hidden; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; border:2px solid #F3B150 ; box-shadow: 0 2px 3px #888; z-index:10 }
.row_tool_layer  a{ width:auto; background:none; overflow: hidden; white-space:nowrap; color:#CC3300}
.row_tool_layer  a:hover { color:#FF0000}
.edit_mode_tool a { display:block; float:right; margin:3px; padding:0 8px 0 8px ; background:#3366CC; color:#FFFFFF; border-radius :4px;  -moz-border-radius :4px;  -webkit-border-radius :4px; }
.edit_mode_tool a:hover { background:#FF0000}
.edit_mode_tool a.delete_log { background:#b91919;}
.edit_mode_tool a.delete_log:hover { background:#000000;}
/**********/
.content_top_tool{		clear:both;	display: block;	border-bottom: 2px dashed #e3e3e3; min-height:25px;	margin-bottom:18px; padding-top:15px; padding-bottom:5px;}
.Content_tool{	float:left; padding:2px; display:block;	padding-bottom:5px;}
.Content_tool a{	 background: url(../../../images/ePost/icon_content.gif) no-repeat; padding-left:25px; display:block; float:left; height:25px; line-height:25px;	color: #0f5b91;margin-left:5px;}
.Content_tool a:hover{	 	color: #FF0000;}
/*.Content_tool a.new{		 background-position: 0px -20px;}
.Content_tool a.new:hover{		 background-position: 0px -40px;}*/
.Content_tool a.new{		 background-position: 0px 0px;}
.Content_tool a.new:hover{		 background-position: 0px -25px;}
.Content_tool a.new_small{		 background-position: 0px -100px;}
.Content_tool a.new_small:hover{		 background-position: 0px -120px;}
.Content_tool a.manage{		 background-position: 0px -220px;}
.Content_tool a.manage:hover{		 background-position: 0px -240px;}
.Content_tool a.export{		 background-position: 0px -250px;}
.Content_tool a.export:hover{		 background-position: 0px -275px;}
.Content_tool a.import{		 background-position: 0px -1360px;}
.Content_tool a.import:hover{		 background-position: 0px -1380px;}

.Content_tool a.print{		 background-position: 0px -200px;}
.Content_tool a.print:hover{		 background-position: 0px -225px;}
.Content_tool a.new_qb_ref{		 background-position: 0px -1040px;}
.Content_tool a.new_qb_ref:hover{		 background-position: 0px -1060px;}
.Content_tool a.new_file{		 background-position: 0px -1040px;}
.Content_tool a.new_file:hover{		 background-position: 0px -1060px;}
.Content_tool a.new_folder{		 background-position: 0px -1080px;}
.Content_tool a.new_folder:hover{		 background-position: 0px -1100px;}
.Content_tool a.upload_file{		 background-position: 0px -1120px;}
.Content_tool a.upload_file:hover{		 background-position: 0px -1140px;}
.Content_tool a.edit_text{		 background-position: 0px -148px;}
.Content_tool a.edit_text:hover{		 background-position: 0px -125px;}
.Content_tool a.quote_msg{		 background-position: 0px -1260px;}
.Content_tool a.quote_msg:hover{		 background-position: 0px -1280px;}
.Content_tool a.to_top{		 background-position: 0px -1420px;}
.Content_tool a.to_top:hover{		 background-position: 0px -1440px;}
.Content_tool a.expand{		 background-position: 0px -1500px;}
.Content_tool a.expand:hover{		 background-position: 0px -1520px;}
.Content_tool a.collapse{		 background-position: 0px -1460px;}
.Content_tool a.collapse:hover{		 background-position: 0px -1480px;}

.Content_tool span{ float:left; display:block; margin-left:5px; color:#CCCCCC}
.Conntent_search{	float:right; padding:2px; display:block;	padding-bottom:5px;	height:20px;}
.Conntent_search input {padding:2px;padding-left:20px;width: 120px;	background: 0px 0px url(../../../images/ePost/ej5/icon_content.gif) no-repeat #FFFFFF;border: 1px solid #BDCEB0;		float:left}
.Conntent_search a{	display:block; float:left; height:20px; line-height:20px; margin-left:3px;color: #2b8b0a;}
.Conntent_search a:hover{	 	color: #FF0000;}
.Conntent_search span{ float:left; line-height:20px; color:#CCCCCC; padding-left:2px;padding-right:2px; display:block}
/**********  table filter ***********/
#table_filter{float:left; padding-top:3px; clear:both;}
/***********************************/
.table_board{	clear:both;	margin:0px auto;}

.natvigation  { display:block; margin-bottom:5px;}
.natvigation a{ display:block; float:left; padding-left:20px; color:#2369b9; padding-right:5px; background:url(../../../images/ePost/nav_arrow.gif) no-repeat top left}
.natvigation a:hover{color:#FF0000}
.natvigation span{ display:block; float:left; color:#000000; padding-left:20px; padding-right:5px; font-weight:bold; background:url(../../../images/ePost/nav_arrow.gif) no-repeat top left}
.form_table{ width:97%;	margin:0 auto;	border-collapse:separate;	border-spacing: 3px; 	*border-collapse: expression('separate', cellSpacing = '3px');}
.form_table tr td{	vertical-align:top;	text-align:left; line-height:18px; padding-top:3px; padding-bottom:3px;}
.form_table tr td a{ color: #9966CC;	}
.form_table tr th a{ color: #FFFFFF;	}
.form_table tr td a:hover{ color: #FF0000;	}
.form_table col.field_title {width:150px;}
.form_table col.field_c {width:10px;}
.form_table tr td .textbox{	width:98%}
.form_sub_option{	margin-left:20px; border:none; padding:3px;  display:block;  margin-top:2px; margin-bottom:2px;}
.form_sub_option table tr td.option_list{ width:45%; background:#EEEEEE; text-align:center; padding-bottom:10px;}
.form_sub_option table tr td.select_btn { width:45px; text-align:center}
.form_sub_option table tr td.select_btn input { width:40px;}
.form_sub_option table tr td.option_selected { background:#EFFEE2;width:45%; text-align:center; padding-bottom:10px;}
.form_sub_option select { width:90%}
/*Marking***/

/**********  Marking ***********/
.marking_board {   display:block;}
.student_work_content {display:block;  }
h1.student_work_title{margin:0; padding:0; font-size:18px; line-height:18px; margin-bottom:10px;}
.marking_area {display:block; background:#DCF2FA; border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;}
h1.marking_header { padding:0; margin:0; display:block; background:   #94DAF1; height:40px; line-height:35px; color: #006699; font-size:15px; padding-left:15px;border-radius:10px 10px 0px 0px;-moz-border-radius:10px 10px 0px 0px;-webkit-border-radius:10px 10px 0px 0px; }
.common_table_list td a.alert_link {color: #FF0000;}
.common_table_list td a.alert_link:hover { text-decoration:underline}

.content_paper { display:block;  margin-top:0px; margin-bottom:10px;}
.content_paper_top_left{ display:block; height:30px; padding-left:30px; background:url(../../../images/ePost/paper_top_btm.png) no-repeat left top}
.content_paper_top_right{ display:block; height:30px; padding-right:30px; background:url(../../../images/ePost/paper_top_btm.png) no-repeat right -30px}
.content_paper_left{ display:block; padding-left:30px; background:url(../../../images/ePost/paper_bg_left.png) repeat-y left}
.content_paper_right{ display:block;  padding-right:30px; background:url(../../../images/ePost/paper_bg_right.png) repeat-y right; color:#000000}
.content_paper_bottom_left{ display:block; height:30px; padding-left:30px; background:url(../../../images/ePost/paper_top_btm.png) no-repeat left -60px}
.content_paper_bottom_right{ display:block; height:30px; padding-right:30px; background:url(../../../images/ePost/paper_top_btm.png) no-repeat right -90px}

/******************* step div ****************************/
.stepboard {margin:0 auto; width:85%; display:block; padding:5px; border: dashed 1px #32C617; margin-bottom:10px; clear:both; border-radius:10px;-moz-border-radius:10px ;-webkit-border-radius:10px ; }
.stepboard  h1 {display:block; background:#EDFFE0; color:#188107; font-size:1em; padding:3px; margin:0; line-height:15px; height:18px;border-radius:10px 10px 0px 0px;-moz-border-radius:10px 10px 0px 0px;-webkit-border-radius:10px 10px 0px 0px; }
.stepboard ul {list-style-type: none; margin:0; padding:10px; clear:both; display:block}
.stepboard ul li{ display:inline;float:left; padding:0px; margin:0px; line-height:18px;}
.stepboard ul li div{ padding-left:25px; display:block;}
.stepboard ul li em {font-style:normal; color:#FFFFFF;  background:url(../../../images/ePost/stepnum_off.gif) no-repeat 3px 1px; margin-left:-25px; float:left; display:block; width:25px; height:25px; text-align:center;}
.stepboard ul li span {color:#C4C4C4; display:block; padding-right:10px;}
.stepboard ul li.stepon em {font-style:bold;  background:url(../../../images/ePost/stepnum_on.gif) no-repeat 1px top; line-height:20px}
.stepboard ul li.stepon span {color:#188107; font-weight:bold;}
        
.stepboard_2s ul li{ width:50%}                   
.stepboard_3s ul li{ width:33%}                   
.stepboard_4s ul li{ width:25%}                   
.stepboard_5s ul li{ width:20%}  
.issue_layout_img { border:1px solid #CCCCCC}
.select_layout{float:left; margin-left:5px; margin-right:5px; border:2px solid #FFFFFF}
.select_layout_selected {border:2px solid #00CC00}
a.img_file { display:block; float:left; padding:0 10px 0 20px; background: url(../../../images/ePost/icon_pic.gif) no-repeat left top; }
.tabletextremark {	color: #999999;}
body.edit_page_panel {padding:0; margin:0; height:100%; padding-left:220px;min-width:670px; background:#FFF;}
.edit_page_panel_left {display:block;  width:200px;  margin-left:-220px; float:left;/*height:auto !important;  height:100%;min-height:100%;   max-height:100%;*/  padding-left:10px; padding-right:10px; overflow:auto; position:relative; margin-top:80px;}
.page_list { display:block; }
.page_list ul{ margin:0; padding:0;}
.page_list ul li{ border:1px solid #dadada; margin:0; padding:0; list-style-type:none; margin:10px 0; padding:10px 5px;border-radius: 10px ;  -webkit-border-radius:10px ; -moz-border-radius: 10px ; position:relative}
.page_list ul li a { display:block}
.page_list ul li em { position:absolute; left:10px; top:10px; font-style:normal; font-size:0.9em;} 
.page_list ul li .table_row_tool { position:absolute; right:5px; top:5px;}
.page_list ul li:hover { background:#FFCECF}
.page_list ul li:hover a { color:#FF0000}
.page_list ul li a span { width:60px; margin:0 auto; display:block; border:1px solid #666; padding:2px; background:#FFF}
.page_list ul li a img { border:none}
.page_list ul li a h3 { display:block; text-align:center; font-size:1em; font-weight:normal; margin:0; padding:3px; line-height:normal}
.page_list ul li.selected_page { background: #E4FABE;box-shadow: inset 0px 0px 8px #dadada;}
.page_list ul li.selected_page a span { border:3px solid #009900; padding:0;}
.edit_page_panel_right { display:block;width:100%;  float:left;height:auto !important;	height:100%;min-height:100%;  max-height:100%; overflow:auto; background:url(../../../images/ePost/edit_page_bg.png) repeat-y left #f6f6f6; }
.edit_page_panel_right .print_alert_line{margin-top:70px; margin-bottom:10px; position:relative}
.page_edit_tool { position:absolute; left:15px; top:-25px; display:block;}
span.m_date { position:absolute; right:25px; top:-20px; display:block;}
.edit_page_header {display:block; position: absolute; top:0; left:0; width:98%;  height:30px; padding:5px 0px; background:#d1ecf7 url(../../../images/ePost/board_editor.png) top right no-repeat; border-radius: 0 0 10px 0px ;  -webkit-border-radius: 0 0 10px 0px ; -moz-border-radius: 0 0 10px 0px ;box-shadow:0px 0px 5px #999; z-index:2}
.edit_page_tool { display:block;position: absolute; top:40px; left:0; width:210px;  height:20px; padding:5px 0 ;  background:#fff; z-index:1}
.post_issue_title {display:block; float:left; padding-right:10px; padding-left:10px; font-size:1.1em;  line-height:25px;}
.post_issue_title span{color: #333333; font-size:0.9em;}
.post_issue_title span select { font-size:0.9em;}
.post_issue_title span em{ font-style:normal; color:#999999; font-size:0.8em}
span.page_total{display:block; line-height:25px; color:#666; text-align:right; float:right; text-align:right; font-size:0.8em; line-height:30px;}
.edit_page_btn {display:block; float:right; padding-right:15px;}
.pop_container { display:block; margin:0 auto; position:relative;}


body#edit_pop .edit_bottom{ position:absolute; bottom:0; width:98%; height:35px; left:5px;}
body#edit_pop { width:auto; min-width:500px;}
body.edit_pop_page_info{background:#FFF }
body.edit_pop_page_select{background:#F6F6F6 }
body.edit_pop_issue_edit{background:#FFF }
.pop_container .sectiontitle{ margin-bottom:10px; background: #F3FCD3; display:block; padding:5px; float:none}
body.edit_pop_page_info .pop_container { height:390px; }
body.edit_pop_page_info .marking_board { overflow:auto; height:290px; }
body.edit_pop_page_select .pop_container { height:555px; }
body.edit_pop_page_select .marking_board { overflow:auto; height:500px; }
body.edit_pop_issue_edit .pop_container { height:500px; }
body.edit_pop_issue_edit .marking_board { overflow:auto; height:400px; }

/*20131022 start */
.form_table_article {border: 0px;   *border-collapse: collapse; /* IE7 and lower */ width:99%;    border-spacing: 0px 5px;	display:block; margin:0 auto;	}

.form_table_article tr td{	vertical-align:top;	text-align:left; line-height:18px; width:auto; padding:5px; background:#FFF;}
.form_table_article tr td:first-child { background:none; width:120px;}
.form_table_article tr td:nth-child(2) { background:none; width:20px;}
.form_table_article tr td:nth-child(3) { background:#FFF; border-radius : 10px 0 0 10px}
.form_table_article tr td:last-child {  border-radius :  0 10px 10px 0; font-size:0.85em; width:80px; }
.form_table_article tr td.news_show {background: #C0ED63; color:#003300}
.form_table_article tr td.news_hide {background: #dfdfdf; color: #666666}
.form_table_article tr td.news_hide_content { background:#E8E8E8}
.tool_new_attachment {display: block; float:left; margin-left:10px; padding:5px 10px; border-radius:30px 5px 5px 30px; background:#C2F5F5; visibility:hidden}
.tool_new_attachment a {display:block; float:left; background-repeat: no-repeat; background-position: left top; padding-left:20px; margin-right:10px; color:#003399}
.tool_new_attachment a.att_image {background-image:url(../../../images/ePost/icon_photo.gif)}
.tool_new_attachment a.att_video {background-image:url(../../../images/ePost/icon_video.gif)}
.tool_attacment_file {float:left; padding:2px 5px; display:block;}
.tool_attacment_file a {padding-left:20px; background-repeat: no-repeat; background-position: left top; display:block;}
.tool_attacment_file a.att_image {background-image:url(../../../images/ePost/icon_photo.gif)}
.tool_attacment_file a.att_video {background-image:url(../../../images/ePost/icon_video.gif)}
.att_detail {display:block; background:#ECFDFF; border-radius:0 0 10px 10px; padding:5px; border-top: 2px dashed #33CCCC}
.att_detail ul { display:block; margin:0; padding:3px;}
.att_detail ul li { display:block; margin:0; padding:3px; padding-left:100px; margin-bottom:2px 0; list-style-type:none;}  
.att_detail ul li span { display:block; float:left; margin-left:-100px; width:80px;}
.att_detail ul li em { display:block; float:left; margin-left:-20px; width:20px; text-align:center; font-style:normal}

/*20131022 end */

/*20150129 Siuwan system msg style*/
#sys_msg {float:right;color:red;} 
/*20150129 Siuwan system msg style end*/