/* for normal view of school bus report */

.taking_date, .student_name {
	white-space: nowrap;
}

.schoolbus_report_title{
	text-align:center;
	padding-bottom:10px;
	padding-top:10px;
}

.class_group, .location, .bus, .total{
	text-align:center;
	white-space: nowrap;
}

.bus_number{
	text-align:center !important;
}

.bus_number_absent_bg{
	background-color: #1B91AF;
}

.bus_number_present_bg{
	background-color: #4A7ECC;
}
