/* Lesson Attendance */

/* old styles */
.greenText{ color:#339900; font-weight: bold;}
.blueText{ color:#0066FF; font-weight: bold;}
.redText{ color:red; font-weight: bold;}
.orangeText{ color:#FF9900; font-weight: bold;}

/* new styles */
.LessonAttendance_Present{ color:#339900; font-weight: bold;}
.LessonAttendance_Late{ color:#0066FF; font-weight: bold;}
.LessonAttendance_Absent{ color:red; font-weight: bold;}
.LessonAttendance_Outing{ color:#FF9900; font-weight: bold;}
.LessonAttendance_LateForSplitClass{ color:#0000FF; font-weight: bold;}
.LessonAttendance_MedicalLeave{ color:#7401DF; font-weight: bold;}
.LessonAttendance_SchoolActivities{ color:#0B3B24; font-weight: bold;}
.LessonAttendance_OtherApprovedEvents{ color:#FF00FF; font-weight: bold;}
