@charset "utf-8";
/* CSS Document */
.list_header { display:block; position:absolute; width:100%; background:url(../../../images/powerflipwebview/powerFlip_top.png) no-repeat left top; height:50px; top:0; left:0;}