/***********************************************************************************************************************/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> PRINT.CSS START <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/***********************************************************************************************************************/

/*#####################################################################################################################*/
/*##################### Common Elements ###############################################################################*/
/*#####################################################################################################################*/
body{
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #000000;
}
.tabletext {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif", "新細明體", "細明體_HKSCS";
	font-size: 12px;
	color: #000000;
}

.printbutton{
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	cursor:pointer;
	border:1px outset #CCCCCC;
	color:#666666;
	font-weight:bold;
	padding: 1px 2px;
	background-color:#D7D7D7;
    Filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#ffFFFFFF',EndColorStr='#D7D7D7');

}
.printbuttonon{
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	cursor:pointer;
	border:1px outset #CCCCCC;
	color:#9E9FA0;
	font-weight:bold;
	padding: 1px 2px;
	background-color:#EFEFEF;
    Filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#ffFFFFFF',EndColorStr='#EFEFEF');
<link rel="stylesheet" type="text/css" href="content.css">
}
.dotline {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #999999;
}

/*#####################################################################################################################*/
/*##################### Report Card ###################################################################################*/
/*#####################################################################################################################*/
.report_title {
		font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
		font-size: 20px;
		font-weight: normal;
		color: #000000;
	}

.report_contenttitle {
		font-family: "Arial", "Helvetica", "sans-serif";
		font-size: 13px;
		color: #000000;
		font-weight: bold;
	}

.report_formfieldtitle {
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: #000000;
	}

.summary_table {
		border-left: 1px solid #000000; 
		border-right: 1px solid #000000; 
		border-bottom: 1px solid #000000;
	}

.report_border {
		border: 1px solid #000000;
	}

.border_left {
		border-left: 1px solid #000000;
	}
.border_top {
		border-top: 1px solid #000000;
	}
.small_title {
		font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
		font-size: 11px;
		color: #000000;
		font-weight: bold;
	}
.small_text {
		font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
		font-size: 11px;
		color: #000000;
		}
.reportcard_text {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}	

/*#####################################################################################################################*/
/*##################### eSports Document ##############################################################################*/
/*#####################################################################################################################*/

.eSportprinttitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: normal;
	color: #000000;
}
.eSportprinttext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
}
.eSportprinttabletitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	background-color: #EEEEEE;
}
.eSporttdborder {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #333333;
	border-bottom-color: #333333;
}
.eSporttableborder {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
}
.eSportunderline {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}


/*###############################################2008/11/28##########################################################*/
.tabletop_print {
	font-weight: bold;
	color: #FFFFFF;
	font-size: 13px;
	color: #000000;
	background-color: #EEEEEE;

}
.tabletop_print td{
	padding:3px;
	border-bottom: 1px solid #999999;
	border-right: 1px solid #999999;
}
.tableborder_print {
	border-top: 2px solid #999999;
	border-left: 2px solid #999999;
	border-bottom: 1px solid #999999;
	border-right: 1px solid #999999;
}
.tableborder_print_alone {
	border: 2px solid #999999;

}
.row_underline {
	background-color: #FFFFFF;
	border-bottom: 1px solid #999999;

}
.row_print td{
	padding:3px;
	border-bottom: 1px solid #999999;
	border-right: 1px solid #999999;
}
.sectiontitle_print{
	font-size: 14px;
	font-weight: bold;

}
.page_title_print{
	font-size: 16px;
	font-weight: bold;
	text-align:center;
	padding-bottom:10px;
	padding-top:10px;

	text-decoration:underline

}
/*###############################################2009/01/16##########################################################*/

.form_sep_title_print{
	color:#999999;
	/*background-color:#FFFFFF;*/
	padding-right:3px;
	padding-left:3px;

	margin-top:10px;
	display:block
}

/*##########################################Print Table#################################################*/
.main_content{
	background-color:#FFFFFF;
	padding:10px 5px 10px 5px;
}
.report_show_option{
	background-color:#F5F5F5;
	border-bottom:1px dashed #999999
}
/********* Table Grey 20090702************/
.table_board{
	clear:both;
	margin:0px auto;
}
.common_table_list{
	width: 100%;
	border: 1px solid #CCCCCC;	
	margin:0 auto;
	border-collapse:separate;
	border-spacing: 0px;
 	*border-collapse: expression('separate', cellSpacing = '0px');
}
.common_table_list tr th{
	margin:0px;
	padding:3px;
	padding-top:5px;
	padding-bottom:5px;
	background-color: #A6A6A6;
	font-weight: normal;
	color: #FFFFFF;
	text-align:left;
	border-bottom: 1px solid #CCCCCC;	
	border-right: 1px solid #CCCCCC	;
}
.common_table_list tr th a{	color: #FFFFFF;}
.common_table_list tr th a.sort_asc {	font-weight: bold;display:block; float:left;
	background-image:url(../../../images/2020a/icon_table_sort_tool.gif); background-repeat:no-repeat; background-position:0px 0px; padding-left:15px; }

.common_table_list tr th a.sort_asc:hover {	 background-position:0px -80px; }
.common_table_list tr th a.sort_dec {	font-weight: bold;display:block; float:left;
	background-image:url(../../../images/2020a/icon_table_sort_tool.gif); background-repeat:no-repeat; background-position:0px -160px; padding-left:15px; }

.common_table_list tr th a.sort_dec:hover {	 background-position:0px -240px; }
.common_table_list  tr th a:hover{	color: #FF0000;}
.common_table_list tr td{
	margin:0px;
	padding:3px;
	background-color: #FFFFFF;	
	border-bottom: 1px solid #CCCCCC;	
	border-right: 1px solid #f1f1f1	;

	vertical-align:top;
	padding-top:5px;
	padding-bottom:5px;
}

.common_table_list a {	color: #2286C5;}
.common_table_list a:hover {	color: #FF0000;}
.common_table_list  .num_check{	width:20px;}
.common_table_list  .num_class{	width:40px;}
.common_table_list  .record_code{	width:150px;}
.common_table_list  .record_code_long{	width:250px;}
.common_table_list  .record_tool{	width:100px;}
.common_table_list  .record_title{	width:200px;}
.common_table_list tr.sub_header th{	background-color:#B3B3B3}
.common_table_list tr.sub_row td{ background-color:#f4f4f4;  border-right: 1px solid #cfcfcf}
.common_table_list tr.selected_row td{ background-color: #EFFDDB}
.common_table_list tr td.sub_function_row{ padding-left : 15px;}
.common_table_list tr td.rights_title_row{ background-color:#CCCCCC; width:120px; text-align:left}
.common_table_list tr td.rights_selected{ background-color: #EFFDDB}
.common_table_list tr td.rights_not_select{ color:#999999}
.common_table_list tr th.dummy_row { background-color:#CCCCCC; width:1px; padding:0px;}
.common_table_list tr td.dummy_row { background-color:#A6A6A6; width:1px; padding:0px; border-bottom-color:#A6A6A6}

.common_table_list tr.move_selected td{ background-color:#fbf786; border-top: 2px dashed #d3981a; border-bottom: 2px dashed #d3981a}
.common_table_list tr.sub_sub_row td{ background-color:#eeeeee}
.common_table_list tr.seperate_row td{ background-color:#B3B3B3; text-align:left; color:#FFFFFF; font-style:italic}
.common_table_list_form { width:95%}
.rights_table_list { width:95%}

/*table tool*/
.common_table_tool{
	font-size:11px;
	background:url(../../../images/2020a/table_tool_bg.gif);
	border-right:1px solid #bcbcbc; float:right; padding-left:11px;padding-right:3px; display:block;
}
.common_table_tool a{
		padding-left: 20px;
		height:20px;
		background-image: url(../../../images/2020a/icon_common_table_tool.gif);
		background-repeat:no-repeat;
		background-position:0px 0px;
		display:block; color:#2F7510;
		float:left;
		margin-left:2px;
}
.common_table_tool a:hover{

	color:#FF0000;
}
.common_table_tool  a.tool_edit		{ background-position:0px 0px;}
.common_table_tool  a.tool_delete	{ background-position:0px -20px;}
.common_table_tool  a.tool_move	{ background-position:0px -60px;}

.common_table_list tr th.sub_row_top { background-color:#7E7E7E}
.table_filter{
	float:left; padding-bottom:1px;
}
.table_filter select{
/* font-size:11px;*/
}
.table_filter span{	line-height:20px;}
.common_table_bottom{
 	background-color:#CCCCCC;height:20px; padding:2px; display:block; line-height:20px; font-size:0.92em; padding-left:5px; padding-right:5px;
 }
.common_table_bottom .record_no{
	float:left;
}
.common_table_bottom .page_no{
	float:right;
}
.common_table_bottom .page_no a{
	float:left; display:block; width:20px;height:18px; background-repeat:no-repeat; background-position:0px 0px; background-image: url(../../../images/2020a/icon_common_table_tool.gif)
}
.common_table_bottom .page_no span{
	display:block; float:left; padding-left:2px;
}
.common_table_bottom .page_no span select{
	border: 1px solid #CCCCCC;
	 font-size:0.9em;

}
.common_table_bottom .page_no a.prev{	 background-position:0px -480px;}
.common_table_bottom .page_no a.prev:hover{	 background-position:-20px -480px;}
.common_table_bottom .page_no a.next{	 background-position:0px -520px;}
.common_table_bottom .page_no a.next:hover{	 background-position:-20px -520px;}
.common_table_bottom .page_no a.first{	 background-position:0px -460px;}
.common_table_bottom .page_no a.first:hover{	 background-position:-20px -460px;}
.common_table_bottom .page_no a.last{	 background-position:0px -500px;}
.common_table_bottom .page_no a.last:hover{	 background-position:-20px -500px;}
.common_table_list tbody tr.table_row_group td{background-color: #E8E8E8; font-style:italic}
span.row_content{float:left; display:block; clear:both;}
div.row_content_tool{ clear:both;float:right; }
.row_content_tool a{float:right;}
.table_row_tool { float:left; display:block}
.table_row_tool a{ background-image: url(../../../images/2020a/icon_table_row_tool.gif); background-repeat:no-repeat; background-position:0px 0px; height:20px; width:20px; float:left; margin-right:2px; display:block}
.table_row_tool a.add{ background-position:0px -40px;}
.table_row_tool a.add:hover{ background-position:-20px -40px;}
.table_row_tool a.add_dim{ background-position:-40px -40px;}
.table_row_tool a.add_dim:hover{ background-position:0px -40px;}
.table_row_tool a.add_alert{ background-position:-60px -40px;}
.table_row_tool a.add_alert:hover{ background-position:0px -40px;}
.table_row_tool a.edit{ background-position:0px 0px;}
.table_row_tool a.edit:hover{ background-position:-20px 0px;}
.table_row_tool a.edit_dim{ background-position:-40px 0px;}
.table_row_tool a.edit_dim:hover{ background-position:0px 0px;}
.table_row_tool a.edit_alert{ background-position:-60px 0px;}
.table_row_tool a.edit_alert:hover{ background-position:0px 0px;}
.table_row_tool a.delete_dim{ background-position:-40px -20px;}
.table_row_tool a.delete_dim:hover{ background-position:0px -20px;}
.table_row_tool a.delete{ background-position:0px -20px;}
.table_row_tool a.delete:hover{ background-position:-20px -20px;}
.table_row_tool a.copy_dim{ background-position:-40px -80px;}
.table_row_tool a.copy_dim:hover{ background-position:0px -80px;}
.table_row_tool a.move_order{ background-position:0px -60px;}
.table_row_tool a.move_order:hover{ background-position:-20px -60px;}
.table_row_tool a.move_order_dim{ background-position:-40px -60px;}
.table_row_tool a.move_order_dim:hover{ background-position:0px -60px;}
.table_row_tool a.setting_row{ background-position:0px -100px;}
.table_row_tool a.setting_row:hover{ background-position:-20px -100px;}

.table_row_tool span{float:left; display:block; line-height:20px; color:#CCCCCC}

.subject_group_list_layer{position:absolute; visibility:hidden; width:auto; background-color:#e9eef2; border:1px solid #CCCCCC; line-height:20px; border-bottom-color:#000000}
.layer_detail{	position:absolute; visibility:hidden; width:250px;}
.layer_detail span{ float:left; display:block; padding:10px;   background-color:#e9eef2; border:1px solid #CCCCCC; line-height:20px; border-bottom-color:#000000; border-right-color:#000000}
a.alert_word{ color:#FF0000 }	
a.alert_word:hover{ text-decoration:underline}	

/********************/
.form_table{ width:97%;	margin:0 0;	border-collapse:separate;	border-spacing: 5px; 	*border-collapse: expression('separate', cellSpacing = '5px');}
.form_table tr td{	vertical-align:top;	text-align:left; line-height:18px;}
.form_table tr td a{ color: #9966CC;	}
.form_table tr td a:hover{ color: #FF0000;	}
.form_table col.field_title {width:120px;}
.form_table col.field_c {width:10px;}
.form_table tr td .textbox{	width:98%}
.input_period {line-height:20px;}
.input_period span{ color:#000000; float:left; padding:0px; padding-right:2px; display:block; }
span.start_end {width:40px;}
.target_list{background-color:#ecf9ff;border:2px solid #05abe1;	width:99%}

.detail_title_box {padding:5px; display:block; border:1px solid #CCCCCC; margin-top:10px;margin-bottom:10px; background-color:#eeeeee; line-height:20px}
.detail_title_box span{float:left; display:block}
/***********************************************************************************************************************/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> PRINT.CSS END <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/***********************************************************************************************************************/