/*For Current Project*/

.CustCommon.CustTopHeader#blkTop
{
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 1px 1px 10px rgba(70, 124, 191, 0.9);
}

.CustCommon.CustTopHeader#blkTop .headerSchName
{
  color:#8f1827;
  padding-left: 0;
}

.CustCommon.CustTopHeader #btnSetup
{
  color:#808080;
}

.CustCommon.CustTopHeader#blkTop .menu
{
  font-family: 'Century Gothic', "微軟正黑體", Century Gothic;
}

.CustCommon.CustTopHeader #btnSetup:hover > span,
.CustCommon.CustTopHeader #btnUserMenu:hover > span,
.CustCommon.CustMainContent .pageHeader,
.CustCommon #blkAppIconsHeader,
.CustCommon #blkAppTab ul,
.CustCommon #blkMoreSchoolNews a
{
  color:#2194ED !important;
}

.CustCommon.CustMainContent .pageHeader > .pageSubject
{
  color:#2B3990;
}

.CustCommon.CustTopHeader #blkUserSubMenu > ul > .menu_button.lang_button_current
{
  background-color:#5C77A4;
}

.CustCommon.CustMainContent::before
{
  background-image:url("../images/main_bg.jpg");
  background-size:cover;
  background-position: center top;
  background-attachment: fixed;
}

.CustCommon.CustMainContent #blkTab:before
{
  background-image: url("");
  opacity: 1;
  filter:brightness(1);
  -webkit-filter:brightness(1);
  background-color:rgba(70, 124, 191, 0.85);
}

.CustCommon.CustMainContent #blkTab a, .CustCommon.CustMainContent #blkTab span
{
  color:white;
  font-size: 20px;
}

.CustCommon.CustMainContent #blkTab a span:hover
{
  border-bottom: 4px solid rgba(212, 219, 239, 0.6);
}

.CustCommon.CustMainContent #blkTab span.tab_current
{
  border-bottom:4px solid rgba(212, 219, 239, 1) !important;
}

.CustCommon.CustMainContent #blkTab #imgNews img:nth-child(2)
{
  display: none;
}

.CustCommon.CustMainContent #blkTab #imgNews.tab_current img:nth-child(1)
{
  display: none;
}

.CustCommon.CustMainContent #blkTab #imgNews.tab_current img:nth-child(2)
{
  display: inline-block;
  opacity:1;
}

.CustCommon .accordion
{
  background: white;
  font-size: 19px;
}

.CustCommon .portalIcon
{
  font-size: 18px;
}

.CustCommon .portalIcon .addButton
{
  font-size: 15px;
}

.CustCommon .portalIcon .portalIcon_data
{
  font-size: 20px;
}

.CustCommon #tblAppSettings tbody tr
{
  border-bottom: 1px solid rgba(0,0,0,0);
  border-bottom: 1px solid #edf6f8;
}

.CustCommon #tblAppSettings tbody tr td:first-child
{
  background: white;
}

.CustCommon #tblAppSettings tbody tr td:last-child
{
  border-bottom: 1px solid #c9e2e9;
}

.CustCommon #tblAppSettings .appSettings-buttons
{
  border-right:1px solid rgba(0,0,0,0.1);
  font-size:16px;
}

.CustCommon.CustMainContent #blkModuleContainer.bgColor-1,
.CustCommon #tblApp tr:first-child td,
.CustCommon #blkAppTab ul li.active,
.CustCommon #tblAppSettings tbody tr td:last-child,
.CustCommon .accordion-page,
.CustCommon #lblSchoolNews,
.CustCommon #blkMoreSchoolNews
{
  background: rgba(255, 255, 255, 0.8)
}

.CustCommon #tblAppSettings tbody tr td:last-child
{
    background: rgba(242,250,255,0.9);
}

.CustCommon #blkAppIconsHeader
{
  background: transparent;
}

.CustCommon #blkAppTab ul
{
  background-color: transparent;
  background-image:url("../images/main_bg.jpg");
  background-size:cover;
  background-position: center top;
  background-attachment: fixed;
}

.CustCommon #blkAppIconsHeader,
.CustCommon #blkAppTab ul
{
  font-size:16px;
}

.CustCommon .schoolNews-item
{
  border-bottom:none;
  margin-bottom:4px;
}

.CustCommon .schoolNews-item::after
{
  display: block;
  content:"";
  position: absolute;
  bottom:-4px;
  left:0;
  right:0;
  border-bottom:4px solid rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 1110px)
{
  .CustCommon.CustMainContent #blkTab li:not(:nth-child(2))#blkApps
  {
    position: relative;
    margin-left: 10px;
  }
}

@media screen and (max-width: 1023px)
{
  .CustCommon.CustTopHeader#blkTop .headerSchName
  {
    font-size: 18px;
    padding-left: 0;
  }
}

@media screen and (max-width: 767px)
{
  /*White text in dark BG*/
  .CustCommon #blkAppTab ul li:not(.active) a
  {
    color:white !important;
  }
}

@media screen and (max-width: 459px)
{
  .CustCommon.CustTopHeader#blkTop .headerSchName
  {
    display: none;
  }
}
