@charset "utf-8";
/* CSS Document */
/* Replace "../images/" with "../../../../images/2020a/w2/" for images path */
body {	background-color: #ead8b5;	background-image: url(../../../../images/2020a/w2/skin/bg_watercolor.jpg); background-position:left top}
#user_name_tool {color: #333333; }
#user_name_tool span.st		{ color:#999999;}
#user_name_tool a	{	 background-image: url(../../../../images/2020a/w2/top/user_name_tool_dark.gif);}
#topmenu_main ul li a span{ color:#0066CC;  }
#topmenu_main ul li a span u{color:#429207;	}
#topmenu_main ul li a:hover span{	color:#FF0000;	 }
#topmenu_main ul li a:hover span u{	color:#006600;}
#topmenu_main ul li.current a span {	color:#000000;}
#topmenu_main ul li.current a span u {	color:#429207;	}
#topright_main a span{   background-image: url(../../../../images/2020a/w2/top/user_name_tool_dark.gif)};
#topmenu_setting ul li a span{color:#9e0f65;} /*menu setting link color*/
#topmenu_setting ul li a:hover span{	color:#FF0000;} /*menu setting link mouseover color*/
#topmenu_setting ul li.current a span {	color:#000000;} /*menu setting link selected color*/

#navigator a{	color:#0066CC;	background-image:url(../../../../images/2020a/w2/btn_natvigator_dark.gif);}
#navigator span{	color:#000000;	background-image:url(../../../../images/2020a/w2/btn_natvigator_dark.gif);}
#class_title{	color:#000000;}