/* Replace "../images/" with "../../../../images/2020a/w2/" for images path */

*{ padding: 0; margin: 0; }

#TB_window {
	font: 100% Arial, Helvetica, sans-serif;
	color: #333333;
}

#TB_secondLine {
	font: 90% Arial, Helvetica, sans-serif;
	color:#666666;
}

/*
#TB_window a:link {color: #666666;}
#TB_window a:visited {color: #666666;}
#TB_window a:hover {color: #ff0000;}
#TB_window a:active {color: #666666;}
#TB_window a:focus{color: #666666;}
*/

#TB_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	background-color:#000;
	filter:alpha(opacity=30);
	-moz-opacity: 0.3;
	opacity: 0.3;
	height:100%;
	width:100%;
}
* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
#TB_window {
	position: fixed;
	z-index: 102;
	display:none;
	text-align:left;
	top:50%;
	left:50%;
	padding: 10px 10px 0 0;
}
* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
#TB_window img#TB_Image {
	display:block;
}

/* added */
.display {
	background: #fff;
	padding: 5px 0 5px 5px;
}
#TB_closeWindowButton {
	position: absolute;
	top: 0px;
	right: -15px;
	background: url(../../../../images/2020a/w2/Resource/190_writing20/close.png) no-repeat;
	width: 50px;
	height: 50px;
}
#TB_prev a {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -37px;
	background: url(images/go-prev.png) no-repeat;
	display: block;
	width: 75px;
	height: 75px;
}
#TB_next a {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -37px;
	background: url(images/go-next.png) no-repeat;
	display: block;
	width: 75px;
	height: 75px;
}



#TB_caption {
	padding: 5px 0 0;
	font: 105%/100% Georgia, "Times New Roman", Times, serif;
}
#TB_caption small {
	font: 90%/100% Arial, Helvetica, sans-serif;
	color: #999999;
	display: block;
	padding-top: 3px;
}
#TB_ajaxWindowTitle{
	margin-bottom: 0px;
}
#TB_title{
	font: bold 110%/100% Georgia, "Times New Roman", Times, serif;
	color: #333333;
	border: none;
}
#TB_ajaxContent{
	clear:both;
	padding: 10px;
	overflow:auto;
	text-align:left;
}

#TB_ajaxContent.TB_modal{
	padding:15px;
}
#TB_load{
	position: fixed;
	display:none;
	height:13px;
	width:208px;
	z-index:103;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}

* html #TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
#TB_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}
* html #TB_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
#TB_iframeContent{
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
	_margin-bottom:1px;
}