body.childwindow { overflow:auto; overflow-y: auto; overflow-x: auto; }

.wrapper.special .tp-sidebar { display:none; }
.wrapper.special .tp-right { width: 100%; display:block; }

.wrapper.special .tp-menu li { width:13% }
.wrapper.special .tp-menu li:first-child { width:13% }


/* Common styles for all types */
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}

/* Tighten up space between multiple callouts */
.bs-callout + .bs-callout {
  margin-top: -5px;
}

/* Variations */
.bs-callout-danger {
  border-left-color: #ce4844;
}
.bs-callout-danger h4 {
  color: #ce4844;
}
.bs-callout-warning {
  border-left-color: #aa6708;
}
.bs-callout-warning h4 {
  color: #aa6708;
}
.bs-callout-info {
  border-left-color: #1b809e;
}
.bs-callout-info h4 {
  color: #1b809e;
}

.panel-primary {
	border-color: #1daba9;
}
.panel-primary>.panel-heading {
	background-color: #1daba9;
	border-color: #1daba9;
}
table.dataTable thead th, table.dataTable thead td { padding:8px 10px; font-size:1.1em; }
table.bdTable > tbody > tr > th, table.bdTable > tbody > tr > td { font-size:1.1em; }
table.childtable thead th, table.childtable thead td { font-size:1em; }
table.childtable > tbody > tr > th, table.childtable > tbody > tr > td { font-size:0.9em; }

a.btn { margin-top:1px; }
.toolbar { padding: 5px 25px 5px 25px; }
.content .title { padding-top:0px; }
.tp-menu li { height:50px; }

.printWrap { overflow:auto; } 

.printWrap.content { height: auto; }
.printWrap.content .dataTables_filter { display:none; }
.printWrap.content table thead th { font-size:1em; }

.printWrap.content .details-control { display:none!important; }
.printWrap .toolbar .actions { display: none; }
.dropdown-menu>li>a.active { background-color:#efefef; }
.dropdown-menu { max-height: 300px; overflow:hidden; overflow:auto; } 

.pringAllTable { padding-left:25px; padding-right:25px; }
.toolbar .actions li>a.btnExport { /* display: none; */ }
.pageheader { padding:0px; margin:0px; width:100%; }
.pageheader > thead { border-bottom:0px; }
.pageheader > tbody { border-bottom:0px; }
.pageheader > tbody > tr > td, .pageheader > thead > tr > th { padding:0px!important; }
.pageheader { border-bottom:0px; }

.txtred { color:#a94442; }
label.error input[type='checkbox'], label.error span.custom-check, .custom-check.error, input.error, textarea.error, select.error {
	border: 1px solid #a94442;
}
.user-photo { max-height: 200px; overflow:hidden; }
.user-photo img { width: 100%; display: block; }

.thrList { margin:10px; margin-right:30px; border: 0px solid #000; }

.user-lang { margin:10px; margin-right:30px; border: 0px solid #000; }
.user-lang .btn { margin-right: 0px; }
.user-lang .btn.btn-sm { padding:2px 5px; padding-left:10px; padding-right:10px; }

.user-mode { margin:10px; margin-right:30px; border: 0px solid #000; }
.user-mode .btn { margin-right: 0px; }
.user-mode .btn.btn-sm { padding:2px 5px; padding-left:10px; padding-right:10px; }
 
.btn-warning { background:#eb9b1a; }
.fa.text-warning { color:#eb9b1a; } 
.col-form-label i.fa {
	font-size: 0.4em;
	line-height: 8px;
	color:#a94442;
	vertical-align: top
}

.toolbar .actions li>a.label { color: #fff; min-width:80px; font-size:1em; }
.toolbar .actions li>a.label i { color:#fff; }
.toolbar .actions li>a.label.label-info { background-color:#1daba9;}

.dataTables_wrapper .dataTables_processing { position: relative; display: block; margin-top:25px; margin-left:0px; left:0px; width:100%; clear:both; font-size:1em; font-weight:normal; top:0px; padding-top:0px; }

table.dataTable thead th, table.dataTable tfoot th {
	font-weight: normal;
}

table.dataTable thead th, table.dataTable thead td {
	border-bottom: 4px solid #21bfbd;
}

table.childtable > thead > tr > th, table.childtable > thead > tr > td {
	border-bottom: 4px solid #eb9b1a;
	background-color:#fff4d1;
}

.childtable.table-hover>tbody>tr:hover { background-color: LightYellow; }
table.childtable tbody { border-bottom: 2px solid #eb9b1a; } 
table.dataTable.no-footer { border-bottom: 1px solid #21bfbd; }
table.dataTable thead .sorting_asc { background-image: none; }
table.dataTable thead .sorting_desc { background-image: none; }
table.dataTable thead .sorting { background-image: none; }

table.dataTable thead .tp-sort i { display:none; }
table.dataTable thead .sorting_asc .tp-sort i.fa-sort-asc { display:inline-block; }
table.dataTable thead .sorting_desc .tp-sort i.fa-sort-desc { display:inline-block; }
table.dataTable thead .sorting .tp-sort i.fa-unsorted { display:inline-block; }

.dataTables_wrapper .bottom { padding-top: 10px; background-color:#90dfde; padding:10px; padding-bottom:30px; min-height:40px; }
.dataTables_wrapper .bottom .dataTables_info { clear:none; }
.dataTables_wrapper .bottom label { font-size: 1em; }
.dataTables_wrapper .bottom select { padding: 0px; }
.dataTables_wrapper .bottom .dataTables_info { padding-top: 0px; padding-right: 50px; }
.dataTables_wrapper .bottom .dataTables_paginate { padding-top: 0px; }
.dataTables_wrapper .bottom .dataTables_paginate .paginate_button { border:0px; background-color:transparent; background:none; padding:0em 0px;}

.dataTables_wrapper .bottom .dataTables_paginate .paginate_button.current, .dataTables_wrapper .bottom .dataTables_paginate .paginate_button.current:active, .dataTables_wrapper .bottom .dataTables_paginate .paginate_button.current:hover {
	padding: 0em 0em;
}
.dataTables_wrapper .bottom .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .bottom .dataTables_paginate .paginate_button.current:active,
.dataTables_wrapper .bottom .dataTables_paginate .paginate_button.current:hover { border:0px; background-color:transparent; background:none; padding: 0em 0em; color:#21bfbd; }

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
	font-weight:normal;
	color:#efefef;
}

.dataTables_wrapper .bottom .dataTables_paginate .paginate_button:active,
.dataTables_wrapper .bottom .dataTables_paginate .paginate_button:hover {  color:#21bfbd; font-weight:bold; box-shadow:none!important; }
/* .dataTables_wrapper .container-fluid { background-color:#f8f8f8; padding:20px; margin-left:184px; } */
.dataTables_wrapper .container-fluid { background-color:#f8f8f8; padding:20px; }

.printWrap .dataTables_wrapper .container-fluid { margin-left:0px; }

table.dataTable tbody tr .btn-detail .fa-caret-up { display:none; }
table.dataTable tbody tr.shown > td { border-bottom:2px solid #afafaf!important; background-color:#efefef!important; }
table.dataTable tbody tr.shown .btn-detail .fa-caret-up { display:inline-block; }
table.dataTable tbody tr.shown .btn-detail .fa-caret-down { display:none; }
#bdTable thead tr th:first-child,
#bdTable tbody tr td:first-child { width:150px; }
#bdTable tbody tr td { vertical-align: top; }
table tbody tr.valid, table tbody tr.invalid, table tbody tr.duplicate { background:inherit!important; }
.label-primary { background-color:#1daba9; }
.btn-group-sm>.btn, .btn-sm {
	padding: 5px 10px;
    font-size: 1em;
    line-height: 1.5em;
    border-radius: 3px;
}

.btn-group-sm>.btn, .btn-xs {
	padding: 2px 5px;
	padding-left:10px; padding-right:10px;
    font-size: 1em;
    line-height: 1.5em;
    border-radius: 3px;
}

.uploadFileArea .progress { margin-bottom: 10px; height:5px; }

.teach-record table tbody tr:not(first-child) td:first-child,
.activities table tbody tr:not(first-child) td:first-child, .activities table tbody tr:not(first-child) td:nth-child(2),
.cpd table tbody tr:not(first-child) td:first-child, .cpd table tbody tr:not(first-child) td:nth-child(2),
.develop table tbody tr:not(first-child) td:first-child,
.performance table tbody tr:not(first-child) td:first-child,
.cert table tbody tr:not(first-child) td:first-child { background: inherit; }

#csvData th,
#csvData td,
#csvData label { font-size:11px; }

.performance table ul.attachment li { margin-top: 0px; }

/*************************************************************************/
ul.settingnav li {
	padding-bottom: 10px;
	float: left;
	margin-right: 20px;
}
/* ul.settingnav li a { color:#8f8f8f; }
ul.settingnav li a.active { color:#b46b01; } */
.bs-wizard { margin-top: 0px; }

/*Form Wizard*/
.bs-wizard { border-bottom: solid 1px #dfdfdf; margin-bottom:20px; padding: 0 0 10px 0; padding-bottom:20px; }
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%; z-index: 9999; } 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after { z-index: 9999; }
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}

.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }

.cust-label { background-color:#efefef; padding:5px; }
/*END Form Wizard*/

.others table th:last-child, .others table td:last-child {
	padding-top: 5px;
}

#drop-target {
	border: 2px dashed #999;
	text-align: center;
	color: #999;
	font-size: 1em;
	width: 400px;
	height: 100px;
	line-height: 100px;
	cursor: pointer;
	margin-bottom: 15px;
}
#drop-target.error { border:2px dashed #a94442; }
/************************************************************************/
.settings .form-group { clear: both; }
.settings .txt_remarks { display: block; margin-top:10px; margin-bottom:10px; color:#afafaf; }

.loadingObj { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background-color:#000; z-index: 9999; overflow:hidden; }
.loadingObj .loadingPanel { padding-top: 100%; position:relative; }
.loadingObj .loadingPanel .loadingMsg { position:absolute; top:50%; width:100%; }

body.dragging, body.dragging * {
	cursor: move !important;
}

.dragged {
	position: absolute;
	opacity: 0.5;
	z-index: 2000;
}

ol.cusSort { list-style: none; margin:0px; padding:5px; min-height:30px; border: 1px dotted #afafaf; }
ol.cusSort li { background-color:#efefef; border:1px solid #808080; margin-bottom: 2px; padding:5px; }
ol.cusSort li.white { background-color:transparent; border:0px; height:20px; }
ol.cusSort li.static { background-color:#bce8f1; }
ol.cusSort li.placeholder {
	position: relative;
}
ol.cusSort li.placeholder:before {
	position: absolute;
}

ol.cusSort li a.jqbutton { padding:2px; padding-left:10px; padding-right:10px; }
ol.cusSort li a.jqbutton .fa { font-size:1.25em; }
ol.cusSort li a.jqbutton.jqtrash { color:#afafaf; }
.jqbuttonPanel { display:none; }
.jqbuttonPanel .formtype { display:none; }

.special2 .content table.bdTable > thead > tr > th:last-child { width: auto; }
.special2 .content table.bdTable > tbody > tr > td:last-child { width: auto; }

select.form-control { font-size: 1em; /*border:0px;*/ }
input.ajaxAutoComplete { border: 1px solid #eb9b1a; }

.bootbox-body { font-size: 1.25em; }
/************************************************************************/
.steppanel { display: none; }
.qtip-red { color: #000; }
/************************************************************************/
#selectUser { display:none; padding:30px; }

#suggesstion-box {
	height: auto;
	max-height: 300px;
	padding:5px;
	margin-top:5px;
	border:1px solid #dfdfdf;
	display:none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#overlay { background-color:#000; position:absolute; top:0px; left:0px; width:100%; height:100%; display:none; }

@-ms-viewport       { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

@media only screen and (max-width: 1025px) {
	html, body {
		font-size: 13px;
	}
	.btn-group-sm>.btn, .btn-xs { 0.9em; }
}
@media only screen and (min-width: 1024px) and (max-width: 1367px) {
	html, body {
		font-size: 14px;
	}
	.btn-group-sm>.btn, .btn-xs { 0.9em; }
}

.modal-header {
	color:#fff;
	background-color: #1daba9;
	text-shadow: 2px 2px rgba(0,0,0,0.1);
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.modal-dialog {
  /* height: 80%; */
}

.modal-content {
  height: auto;
  min-height: 100%;
}

@media (min-width: 768px) {
	.modal-dialog { width:96%; margin-top:100px; }
	.bootbox .modal-dialog { max-width:768px; } 
}
@media (max-width: 480px) {
	.tp-header .logo { width:100%; }
	.tp-header .gradient { display:none; } 
}

@media print {
	html, body { overflow-y:auto; overflow-x:auto; height: auto; font-size:9px; }
	table, table thead th, table tbody td { font-size: 1em; }
	table.dataTable tbody th, table.dataTable tbody td { padding:5px 5px; font-size: 1em; }
	
	.user-lang { display: none; }
	.user-mode { display: none; }
	.thrList { display: none; }
	#devobj { display:none }
	.content { height: auto; }
	a[href]:after {
		content: none !important;
	}
	.user-lang, .user-mode, .thrList { display:none; }
	.tp-header .logo { padding-left:0px; }
	.pringAllTable { padding-left:0px; padding-right:0px; }
	.tab-pane, .content { padding-left:0px; padding-right:0px; }
	.tp-sidebar { display:none; }
	.nav { display: none; }
	
	.breadcrumb { border-radius:0px; border-bottom:1px solid #afafaf; border-left:1px solid #afafaf; }
	
	div { max-width:100%; }
	.toolbar { display:none; }
	.tp-right .tab-content .tab-pane { height:auto; }
	table { width:100%!important; }
}

html, body { height: auto; /*background-color:#f4f4f4;*/ background-color:#fff; }
.tp-right { background-color:#fff; }
div.panel div.panel-body { overflow-x:scroll; }