/* for .portalIcon */
.CustCommon .portalIcon_img
{
  background-size: 60px 60px;
  background-position: left top;
}

.CustCommon #btnSchool-SchoolYear .portalIcon_img
{
  background-image:url("../images/portalIcons/School-SchoolYear.png");
}

.CustCommon #btnSchool-Form .portalIcon_img
{
  background-image:url("../images/portalIcons/School-Form.png");
}

.CustCommon #btnSchool-Subject .portalIcon_img
{
  background-image:url("../images/portalIcons/School-Subject.png");
}

.CustCommon #btnSchool-Group .portalIcon_img
{
  background-image:url("../images/portalIcons/School-Group.png");
}

.CustCommon #btnSchool-Role .portalIcon_img
{
  background-image:url("../images/portalIcons/School-Role.png");
}

.CustCommon #btnSchool-Events .portalIcon_img
{
  background-image:url("../images/portalIcons/School-Events.png");
}

.CustCommon #btnSchool-Security .portalIcon_img
{
  background-image:url("../images/portalIcons/School-Security.png");
}

.CustCommon #btnSchool-Timezone .portalIcon_img
{
  background-image:url("../images/portalIcons/School-Timezone.png");
}

.CustCommon #btnSchool-Timetable .portalIcon_img
{
  background-image:url("../images/portalIcons/School-Timetable.png");
}

.CustCommon #btnSchool-Campus .portalIcon_img
{
  background-image:url("../images/portalIcons/School-Campus.png");
}

.CustCommon #btnAccount-Staff .portalIcon_img
{
  background-image:url("../images/portalIcons/Account-Staff.png");
}

.CustCommon #btnAccount-Student .portalIcon_img
{
  background-image:url("../images/portalIcons/Account-Student.png");
}

.CustCommon #btnAccount-StudentPhotos .portalIcon_img
{
  background-image:url("../images/portalIcons/Account-StudentPhotos.png");
}

.CustCommon #btnAccount-Parent .portalIcon_img
{
  background-image:url("../images/portalIcons/Account-Parent.png");
}

.CustCommon #btnClass-eClassroom .portalIcon_img
{
  background-image:url("../images/portalIcons/Class-eClassroom.png");
}

.CustCommon #btnAccessLog .portalIcon_img
{
  background-image:url("../images/portalIcons/AccessLog.png");
  background-color: #58c03b;
}

.CustCommon .portalIcon-SchoolNews .portalIcon_img
{
  background-image:url("../images/portalIcons/SchoolNews.png");
  background-color:#fcb704;
}

.CustCommon .portalIcon-SchoolCalendar .portalIcon_img
{
  background-image:url("../images/portalIcons/SchoolCalendar.png");
  background-color:#bc3a3a;
}

.CustCommon .portalIcon-Message .portalIcon_img
{
  background-image:url("../images/portalIcons/Message.png");
  background-color:#e41e04;
}

.CustCommon .portalIcon-eNotice .portalIcon_img
{
  background-image:url("../images/portalIcons/eNotice.png");
  background-color:#ff7e00;
}

.CustCommon .portalIcon-eHomework .portalIcon_img
{
  background-image:url("../images/portalIcons/eHomework.png");
  background-color:#d52b6b;
}

.CustCommon .portalIcon-eNotice .portalIcon_img
{
  background-image:url("../images/portalIcons/eNotice.png");
  background-color:#ff7e00;
}

.CustCommon .portalIcon-eAttendance .portalIcon_img
{
  background-image:url("../images/portalIcons/eAttendance.png");
  background-color: #3ea2b4;
}

.CustCommon .portalIcon-ePayment .portalIcon_img
{
  background-image:url("../images/portalIcons/ePayment.png");
  background-color: #c89b23;
}

.CustCommon .portalIcon-eBooking .portalIcon_img
{
  background-image:url("../images/portalIcons/eBooking.png");
  background-color: #48c425;
}

.CustCommon .portalIcon-eInventory .portalIcon_img
{
  background-image:url("../images/portalIcons/eInventory.png");
  background-color: #915be9;
}

.CustCommon .portalIcon-eEnrolment .portalIcon_img
{
  background-image:url("../images/portalIcons/eEnrolment.png");
  background-color: #ed3c75;
}

.CustCommon .portalIcon-StudentProfile .portalIcon_img
{
  background-image:url("../images/portalIcons/StudentProfile.png");
  background-color: #299b5c;
}

.CustCommon .portalIcon-eSchoolBus .portalIcon_img
{
  background-image:url("../images/portalIcons/eSchoolBus.png");
  background-color: #1d8424;
}

.CustCommon .portalIcon-ParentApp .portalIcon_img
{
  background-image:url("../images/portalIcons/ParentApp.png");
  border-radius: 0px 0px;
  background-color: transparent;
}

.CustCommon .portalIcon-StudentApp .portalIcon_img
{
  background-image:url("../images/portalIcons/StudentApp.png");
  border-radius: 0px 0px;
  background-color: transparent;
}

.CustCommon .portalIcon-TeacherApp .portalIcon_img
{
  background-image:url("../images/portalIcons/TeacherApp.png");
  border-radius: 0px 0px;
  background-color: transparent;
}
