/*** Pale Red ***/
a {color: #95713E;}

.tablelink {
	text-decoration: none;
	color: #95713E;
}

#sql_info_div {
	background: #FFC8A6 none repeat scroll 50%;
	border: 1px solid #FF995B;
	color: #FF6000;
	width: 47%;
	height: 100%;
	padding: 0px;
	top: 0px;
	left: 0px;
	overflow: auto;
	font-family: tahoma,arial,sans-serif;
	font-size: 11px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: normal;
}

#history_div {
	background: #FFC8A6 none repeat scroll 50%;
	border: 1px solid #FF995B;
	color: #FF6000;
	font-family: tahoma,arial,sans-serif;
	font-size: 11px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: normal;
	width: 29%;
	height: 100%;
	padding: 0px;
	top: 0px;
	left: 0px;
	float: left;
	overflow:auto;
}

#short_cut_div {
	background: #FFC8A6 none repeat scroll 50%;
	border: 1px solid #FF995B;
	color: #FF6000;
	font-family: tahoma,arial,sans-serif;
	font-size: 11px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: normal;
	padding: 0px;
	/* width: 230px; */
	width: 22%;
	/* height:180px; */
	height: 100%;
	top: 0px;
	left: 0px;
	float: left;
	overflow-x: hidden;
	overflow-y: auto;
}


.BlueTable thead th {
	text-align: center;
	background: #FF9D55;
	color: #CE5700;
	font-size: 100% !important;
}
.BlueTable tbody tr { 
	background: #FCFDFE; 
}
.BlueTable tbody tr.odd { 
	background: #FAF6EB; 
}
.BlueTable tbody tr:hover {
	background: #F6E5BF;
}
.BlueTable a:link {
	color: #95713E;
	text-decoration: none;
}
/*
.BlueTable a:visited {
	color: #718ABE;
	text-decoration: none;
}
*/
.BlueTable a:hover {
	color: #95713E;
	text-decoration: underline !important;
}

.hr_thin{
	border: 1px solid #F08855;
}
.hr_thick{
	border: 2px solid #FF8E56;
}

.ResultSetTable th td {
	border: 1px solid #FDEED8;
	border-collapse: collapse;
	font-family: "Trebuchet MS", Arial, sans-serif;
	color: #555;
	padding: 4px;
	vertical-align: top;
}
.ResultSetTable th {
	text-align: center;
	background: #FFAB79;
	color: #B44400;
	font-size: 100% !important;
	vertical-align: top;
	font-weight: bold;
}
.ResultSetTable tr { 
	background: #FCFDFE; 
}
.ResultSetTable tr.odd { 
	background: #FAF6EB; 
}
.ResultSetTable tr:hover {
	background: #F6E5BF;
}
.ResultSetTable a:link {
	color: #95713E;
	text-decoration: none;
}
.ResultSetTable a:visited {
	color: #95713E;
	text-decoration: none;
}
.ResultSetTable a:hover {
	color: #95713E;
	text-decoration: underline !important;
}