/*** Green ***/
a {color: #24C000;}

.tablelink {
	text-decoration: none;
	color: #24C000;
}

#sql_info_div {
	background: #BAFFAA none repeat scroll 50%;
	border: 1px solid #30FF00;
	color: #1C9400;
	width: 47%;
	height: 100%;
	padding: 0px;
	top: 0px;
	left: 0px;
	overflow: auto;
	font-family: tahoma,arial,sans-serif;
	font-size: 11px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: normal;
}

#history_div {
	background: #BAFFAA none repeat scroll 50%;
	border: 1px solid #30FF00;
	color: #1C9400;
	font-family: tahoma,arial,sans-serif;
	font-size: 11px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: normal;
	width: 29%;
	height: 100%;
	padding: 0px;
	top: 0px;
	left: 0px;
	float: left;
	overflow:auto;
}

#short_cut_div {
	background: #BAFFAA none repeat scroll 50%;
	border: 1px solid #30FF00;
	color: #1C9400;
	font-family: tahoma,arial,sans-serif;
	font-size: 11px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: normal;
	padding: 0px;
	/* width: 230px; */
	width: 22%;
	/* height:180px; */
	height: 100%;
	top: 0px;
	left: 0px;
	float: left;
	overflow-x: hidden;
	overflow-y: auto;
}


.BlueTable thead th {
	text-align: center;
	background: #2BE600;
	color: #177A00;
	font-size: 100% !important;
}
.BlueTable tbody tr { 
	background: #F6FFF4; 
}
.BlueTable tbody tr.odd { 
	background: #ECFFE8; 
}
.BlueTable tbody tr:hover {
	background: #A8FF94;
}
.BlueTable a:link {
	color: #1E9B01;
	text-decoration: none;
}
/*
.BlueTable a:visited {
	color: #718ABE;
	text-decoration: none;
}
*/
.BlueTable a:hover {
	color: #1E9B01;
	text-decoration: underline !important;
}

.hr_thin {
	border: 1px solid #89E474;
}
.hr_thick {
	border: 2px solid #8AE774;
}

.ResultSetTable th td {
	border: 1px solid #E5FFDA;
	border-collapse: collapse;
	font-family: "Trebuchet MS", Arial, sans-serif;
	color: #555;
	padding: 4px;
	vertical-align: top;
}
.ResultSetTable th {
	text-align: center;
	background: #84FD4F;
	color: #226F00;
	font-size: 100% !important;
	vertical-align: top;
	font-weight: bold;
}
.ResultSetTable tr { 
	background: #E9FFE4; 
}
.ResultSetTable tr.odd { 
	background: #D0FDC5; 
}
.ResultSetTable tr:hover {
	background: #B4FDA3;
}
.ResultSetTable a:link {
	color: #24C000;
	text-decoration: none;
}
.ResultSetTable a:visited {
	color: #24C000;
	text-decoration: none;
}
.ResultSetTable a:hover {
	color: #24C000;
	text-decoration: underline !important;
}