.eventEntry {
	position:absolute;
	z-index:6;
	text-overflow:clip;
	overflow:hidden;
	font-size: 11px;
}

table#daily, table#weekly {
	margin-left: 5px;
	margin-right: 5px;
	width: 100%;
}

table#monthly {
	width: 99%;
	padding: 3px;
}

.dayTitle, .weekTitle {
	background-color:#B6CAE4;
	height:15px;
	padding:2px;
	text-align:center;
}

.dayTitleText, .weekTitleText {
	color:#6A6A6A;
	font-family:Arial,Helvetica,sans-serif;
	font-size:9px;
	padding:2px;
	text-align:center;
}

.weekTitleText {
	width:13%;
	/*font-variant: small-caps;*/
}

.dayTitleToday, .weekTitleToday {
	background-color:#A4A4A4;
	height:23px;
	padding:2px;
	text-align:center;
}

.dayTitlePrint, .weekTitlePrint {
	border:1px solid #000000;
	height:23px;
	padding:2px;
	text-align:center;
	color:#000000;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	padding:0px;
	text-align:center;
}

.weekTitlePrint {
	width:13%;
}

.dayCellPrint, .dayFirstCellPrint, .dayLastCellPrint {
	border-width:1px;
	vertical-align:top;
	border-color:#000 #000 #000;
	width: 80%
}

.weekCellPrint {
	border-style:none solid dashed solid;
	border-width:1px;
	vertical-align:top;
	border-color:#000 #000 #000;
}

.dayCellPrint {
	border-style:none solid dashed solid;
}

.dayFirstCellPrint {
	border-style:solid solid dashed solid;
}

.dayLastCellPrint {
	border-style:none solid solid solid;
}

.weekLastCellPrint {
	border-style:none solid solid solid;
	border-width:1px;
	vertical-align:top;
	border-color:#000 #000 #000;
}

.weekFirstCell, .weekFirstCellToday, .weekCell, .weekCellToday {
	border-style:none solid dashed;
	border-width:1px;
	vertical-align: top;
}

.weekLastCell, .weekLastCellToday {
	border-style:solid;
	border-width:1px;
	vertical-align: top;
}

.dayFirstCell, .weekFirstCell {
	background-color:#A5ADC7;
	border-color:#D4D4D4 rgb(212, 212, 212) rgb(187, 187, 187);
}

.dayFirstCellToday, .weekFirstCellToday {
	background-color:#FFFCA5;
	border-color:#828282 rgb(130, 130, 130) rgb(187, 187, 187);
}

.dayLastCell, .weekLastCell {
	background-color:#FFFFFF;
	border-color:#FFFFFF rgb(212, 212, 212) rgb(212, 212, 212);
}

.dayLastCellToday, .weekLastCellToday {
	background-color:#FFFCA5;
	border-color:#FFFCA5 rgb(130, 130, 130) rgb(130, 130, 130);
}

.dayCell, .weekCell {
	background-color:#FFFFFF;
	border-color:#FFFFFF rgb(212, 212, 212) rgb(187, 187, 187);
}

.dayCellToday, .weekCellToday {
	background-color:#FFFCA5;
	border-color:#FFFCA5 rgb(130, 130, 130) rgb(187, 187, 187);
}

.dayCellHover, .weekCellHover {
	background-color:#EAEFFF;
	border:1px solid #0066C5;
	vertical-align: top;
}

.dayFirstCell, .dayFirstCellToday, .dayCell, .dayCellToday {
	border-style:solid solid dashed;
	border-width:1px;
	vertical-align: top;
	width:80%;
}

.dayLastCell, .dayLastCellToday {
	border-style:solid;
	border-width:1px;
	vertical-align: top;
	width:80%;
}

.monthCell {
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	height: 65px;
	vertical-align: top;
}

.monthCellPrint {
	border:1px solid #000000;
	height: 65px;
	vertical-align: top;
}

.monthTodayCell {
	background-color:#FFFCA5;
	border:1px solid #5E5F5E;
	height: 65px;
	vertical-align: top;
}

.monthTodayCellPrint {
	background-color:#FFFCA5;
	border:1px solid #000000;
	height: 65px;
	vertical-align: top;
}

.monthCellHover {
	background-color:#EAEFFF;
	border:1px solid #0066C5;
	height: 65px;
	vertical-align: top;
}

.dayTitleTextToday, .weekTitleTextToday {
	color:#FFFFFF;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	padding:0px;
	text-align:center;
}

.weekTitleTextToday {
	width:13%;
}

.normalDayNumber, .holidayNumber, .todayNumber {
	clear:both;
	margin:0px;
	padding:0px;
	width: 100%
}

.normalDayNumber div {
	background-color:#EAEAEA;
	color:#6A6A6A;
	font-size:9px;
	padding:0px;
	margin:0px;
	text-align:right;
	display: block;
	width:100%;
}

.holidayNumber div {
	background-color:#F9D6D6;
	color:#B41D23;
	font-size:9px;
	padding:0px;
	margin:0px;
	text-align:right;
	display: block;
	width:100%;
}

.todayNumber div {
	background-color:#F5C01A;
	color:#000000;
	font-size:9px;
	font-weight:bold;
	padding:0px;
	margin:0px;
	text-align:right;
	display: block;
	width:100%;
}

.timeRow2 {
	background-color:#E6E4E4;
	border-bottom:1px solid #FFFFFF;
	padding:2px;
}

.timeText {
	color:#818181;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
}

.timeRowPrint {
	background-color:#E6E4E4;
	border:1px solid #000000;
	padding:2px;
	color:#000000;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
}

.top_empty {
	font-size: 11px;
	width: 50px;
}

tr.day {
	color: #666;
	font-size: 9px;
	height: 46px;
}

tr.number {
	background: #ddd;
	color: #888;
	font-size: 10px;
	height: 15px;
	text-align: right;
	vertical-align: middle;
}

td.holidayNumber {
	color: red;
}