html { 
	padding:0px;
	margin:0px;
}

body {
	background-color: #FFFFFF;
	font-size: 12px;
	font-family: Arial,Helvetica,sans-serif;
	color:#564b47;
	padding:0px 0px;
	margin:0px;
	overflow: auto;
}

div#calendar_wrapper {
	width:100%;
	margin:0px;
}

table.eventToolTipTable {
	font-size: 12px;
}

.eventToolTipLabel {
	text-align: left;
	font-weight: bold;
	/*border-bottom: 1px solid #CCC;*/
}

#navigation td
{
	font-family: Arial,Helvetica,sans-serif;
}

#navigation a
{
	font-family: Arial,Helvetica,sans-serif;
	text-decoration: none;
}

#navigation a
{
	font-family: Arial,Helvetica,sans-serif;
	text-decoration: none;
	color: #33f;
	padding: 0 0 0 0px;
}

#navigation a:hover
{
	text-decoration: underline;
}

div#menu {
	position: absolute;
	width: 180px;
	left: 10px;
	padding:0px;
	margin-top:10px;
	background-color:#DDDDDD;
}

.topNavigationTabOff {
	color:#777878;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	font-weight:normal;
	text-decoration:none;
}

.topNavigationTabOff:hover {
	color:#FF0000;
}

.topNavigationTabOn {
	color:#033E96;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
}

.viewCalControlLink {
	color:#FFFFFF;
	text-decoration: none;
}

.viewCalControlLink:hover {
	text-decoration: underline;
}

#iCalendar_sidemenu td {
	font-size: 12px;
	font-family:"Arial","Helvetica","sans-serif";
}

.icalendar_title {
	color: #033E96;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: bold;
}

#quickAddEvent {
	position: absolute;
	z-index: 9;
	left:200px;
	top:100px;
	width:320px;
	background-color:#FFFFFF;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #E5E5E5;
	border-top: 1px solid #E5E5E5;
}

#quickAddEvent_handle {
	background-color:#E5E5E5;
	height:20px;
	text-align:center;
	font-weight:bold;
	color: #727272;
	vertical-align:middle;
	padding: 2px;
}

#quickAddEvent_handle span{
	font-size: 12px;
	font-family:"Arial","Helvetica","sans-serif";
}

#quickAddEvent_form {
	margin: 0px;
	padding: 2px;
}
	
#quickAddEvent_content {
	padding: 0px 0px 5px 0px;
}

#quickAddEvent_table {
	font-size: 12px;
	font-family:"Arial","Helvetica","sans-serif";
}

#quickAddEvent_close {
	float:right;
	text-decoration:none;
	color:#FFFFFF;
}

/* Style for different type of school event */
.schoolEventEntry, .academicEventEntry, .holidayEventEntry, .groupEventEntry {
	font-size:11px;
	font-weight:bold;
	margin:5px 1px 2px 1px;
	padding:2px;
	cursor:pointer;
}

.schoolEventEntry {
	color: #4F9313;
}

.academicEventEntry {
	color: #0D98B6;
}

.holidayEventEntry {
	color: #FF0000;
}

.groupEventEntry {
	color: #FF8401;
}

span.error {
	color: #FF0000;
}

label.error {
	color: red;
}

input.error {
	border:1px dotted red;
}

#errMessageBox {
	text-align: left;
	font-family:"Arial","Helvetica","sans-serif";
	font-size: 12px;
	color: red;
}