
.eventEntry {
	position:absolute;
	z-index:6;
	text-overflow:clip;
	overflow:hidden;
	font-size: 11px;
}

table#daily
{
	background: #fff;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #999;
	width: 100%;
}

.dayTitle {
	background-color:#D2D2D2;
	height:23px;
	padding:2px;
	text-align:center;
}

.dayTitleToday {
	background-color:#A4A4A4;
	height:23px;
	padding:2px;
	text-align:center;
}

.dayTitlePrint {
	border:1px solid #000000;
	height:23px;
	padding:2px;
	text-align:center;
	color:#000000;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	padding:0px;
	text-align:center;
}

.dayCellPrint, .dayFirstCellPrint, .dayLastCellPrint {
	border-width:1px;
	vertical-align:top;
	border-color:#000 #000 #000;
	width: 80%
}

.dayCellPrint {
	border-style:none solid dashed solid;
}

.dayFirstCellPrint {
	border-style:solid solid dashed solid;
}

.dayLastCellPrint {
	border-style:none solid solid solid;
}

.dayTitleText {
	color:#3B3C3C;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	padding:0px;
	text-align:center;
}

.dayTitleTextToday {
	color:#FFFFFF;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	padding:0px;
	text-align:center;
}

.dayFirstCell, .dayFirstCellToday, .dayCell, .dayCellToday {
	border-style:solid solid dashed;
	border-width:1px;
	vertical-align: top;
	width:80%;
}

.dayLastCell, .dayLastCellToday {
	border-style:solid;
	border-width:1px;
	vertical-align: top;
	width:80%;
}

.dayFirstCell {
	background-color:#FFFFFF;
	border-color:#D4D4D4 rgb(212, 212, 212) rgb(187, 187, 187);
}

.dayFirstCellToday {
	background-color:#FFFCA5;
	border-color:#828282 rgb(130, 130, 130) rgb(187, 187, 187);
}

.dayLastCell {
	background-color:#FFFFFF;
	border-color:#FFFFFF rgb(212, 212, 212) rgb(212, 212, 212);
}

.dayLastCellToday {
	background-color:#FFFCA5;
	border-color:#FFFCA5 rgb(130, 130, 130) rgb(130, 130, 130);
}

.dayCell {
	background-color:#FFFFFF;
	border-color:#FFFFFF rgb(212, 212, 212) rgb(187, 187, 187);
}

.dayCellToday {
	background-color:#FFFCA5;
	border-color:#FFFCA5 rgb(130, 130, 130) rgb(187, 187, 187);
}

.dayCellHover {
	background-color:#EAEFFF;
	border:1px solid #0066C5;
	vertical-align: top;
}

.timeRow2 {
	background-color:#E6E4E4;
	border-bottom:1px solid #FFFFFF;
	padding:2px;
}

.timeText {
	color:#818181;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
}

.timeRowPrint {
	background-color:#E6E4E4;
	border:1px solid #000000;
	padding:2px;
	color:#000000;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
}

.top_empty
{
	font-size: 11px;
	width: 50px;
}

td.event_grid
{
	/*background-image:url(images/weekly_grid_bg.gif);*/
}

tr.day
{
	color: #666;
	font-size: 9px;
	height: 46px;
}

