@charset "utf-8";
*:focus {outline:none !important;}
html, body {font-size:16px; color:#333; font-family: Verdana, "微軟正黑體"; height:100%; z-index:0;}
select, input, button {font-family:Verdana, "微軟正黑體"; color:#333; box-shadow:none!important;}


/*override angular materials*/
button {font-family: Verdana, "Microsoft JhengHei", "Heiti TC", sans-serif;}
.md-button {text-transform:none;}

/*Scroll bar*/
::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-track {background: #fff; -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);}
::-webkit-scrollbar-thumb {background: #ccc; -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);}
::-webkit-scrollbar-thumb:hover {background: #aaa;}
::-webkit-scrollbar-thumb:active {background: #888;-webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);}

/*Loading page progress circular*/
md-progress-circular.md-default-theme path, md-progress-circular path {stroke: rgb(255,255,255);}
md-progress-circular.md-default-theme .md-inner .md-left .md-half-circle, md-progress-circular .md-inner .md-left .md-half-circle {border-left-color: rgb(255,255,255);}
md-progress-circular.md-default-theme .md-inner .md-right .md-half-circle, md-progress-circular .md-inner .md-right .md-half-circle {border-right-color: rgb(255,255,255);}
md-progress-circular.md-default-theme .md-inner .md-gap, md-progress-circular .md-inner .md-gap {border-top-color: rgb(255,255,255); border-bottom-color: rgb(255,255,255);}
md-progress-circular.md-default-theme .md-inner .md-left .md-half-circle, md-progress-circular .md-inner .md-left .md-half-circle, md-progress-circular.md-default-theme .md-inner .md-right .md-half-circle, md-progress-circular .md-inner .md-right .md-half-circle {border-top-color: rgb(255,255,255);
}

.page-loading {background:rgba(255,255,255,0.6); height:100%; width:100%; position:absolute; z-index:1000;}
.page-loading md-progress-circular, .econtent-flippedchannels .modal-body md-progress-circular {position:absolute; left:50%; top:50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform:translate(-50%, -50%);}
.page-loading md-progress-circular.md-default-theme path, .page-loading md-progress-circular path {stroke: rgb(63, 171, 207);}
.page-loading md-progress-circular.md-default-theme .md-inner .md-left .md-half-circle, .page-loading md-progress-circular .md-inner .md-left .md-half-circle {border-left-color: rgb(63, 171, 207);}
.page-loading md-progress-circular.md-default-theme .md-inner .md-right .md-half-circle, .page-loading md-progress-circular .md-inner .md-right .md-half-circle {border-right-color: rgb(63, 171, 207);}
.page-loading md-progress-circular.md-default-theme .md-inner .md-gap, .page-loading md-progress-circular .md-inner .md-gap {border-top-color: rgb(63, 171, 207); border-bottom-color: rgb(63, 171, 207);}
.page-loading md-progress-circular.md-default-theme .md-inner .md-left .md-half-circle, .page-loading md-progress-circular .md-inner .md-left .md-half-circle, .page-loading md-progress-circular.md-default-theme .md-inner .md-right .md-half-circle, .page-loading md-progress-circular .md-inner .md-right .md-half-circle {border-top-color: rgb(63, 171, 207);}

/*============= LOGIN ===============*/
.login {width:100%; height:100%; background-color:#63c7cb; position:relative; text-align:center;}
.login .logo-microbit {width:304px; height:102px; background-image:url(../images/logo-microbit.png); background-size:304px 102px; position:absolute; right:0; bottom:0;-webkit-filter: drop-shadow(2px 2px 0 #63c7cb)
		drop-shadow(-2px 2px 0 #63c7cb)
		drop-shadow(2px -2px 0 #63c7cb)
      		drop-shadow(-2px -2px 0 #63c7cb);

	filter: drop-shadow(2px 2px 0 #63c7cb)
		drop-shadow(-2px 2px 0 #63c7cb)
		drop-shadow(2px -2px 0 #63c7cb)
       		drop-shadow(-2px -2px 0 #63c7cb);
}
.login .bg {width:100%; height:100%; background:url(../images/bg.png) no-repeat top center;}

.login .login-container {width:390px; text-align:center; display:inline-block;}
.login .login-container .logo {margin-top:30px;}

.login .box {margin:40px auto 0 auto; width:320px; padding-bottom:30px}
.login .box .user-box, .login .box .pin-box {position:relative;}
.login .box .login-alert {color:#cc7471; width:100%; text-align:center; font-size:.8em; position:absolute; top:100%; line-height:1em; text-shadow:-1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;}
.login .box input {border:1px solid #e0e0e0; height:40px; line-height:40px; color:#333; background:#f5f5f5; width:100%; padding:0 10px; margin-bottom:15px;}

.login .box .user-box .btn-login {width:100%; text-align:center; border:none; border-radius:5px; background:#ffa800; margin-bottom:10px;}
.login .box .user-box .btn-login span, .login .box .btn-login:hover span {color:#fff; line-height:40px;}
.login .box .user-box .btn-login:hover {background:#48afb3;}

.login .box .separator {position:relative; margin:30px 0;}
.login .box .separator:before {content:''; width:45%; height:1px; background:#ccc; display:inline-block; top:50%; left:0; position:absolute;}
.login .box .separator:after {content:''; width:45%; height:1px; background:#ccc; display:inline-block;  top:50%; right:0; position:absolute;}

.login .box .pin-box input {border-radius:0; margin-bottom:0;}
.login .box .pin-box {padding-bottom:15px;}
.login .box .pin-box .btn {height:40px; background:#48afb3; border-radius:0; padding:6px 10px;}
.login .box .pin-box .btn:hover {background:#ffa800;}

/* mobile view*/
@media (max-width:420px) {
  .login {background:linear-gradient(to bottom, #fff 0%, #fff 50%, #63c7cb 50%, #63c7cb 100%);}
  .login .bg {background-size:auto 90%; background-position:top 100px center;}
  .login .login-container {width:100%; padding:0 15px;}
  .login .login-container .logo {margin-top:10px;}
  .login .box {width:80%; margin-top:10px;}
  .login .login-container .logo img {max-width:100%; height:auto;}
}

/*mobile landscape*/
@media (max-width:1023px) and (orientation:landscape) {
  .login .logo-microbit {display:none;}
}
@media (orientation:landscape) {
  .login .bg {overflow:auto;}
}
@media (max-height:560px) {
  .login .logo-microbit {display:none;}
}
