@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900');
/* CSS Document */
/* Scroll bar style start */
::-webkit-scrollbar {width:3px; height:5px;}
::-webkit-scrollbar-track {background: #fff; -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1); width: 3px;}
::-webkit-scrollbar-thumb {background: #ccc; -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2); border-radius: 3px;}
::-webkit-scrollbar-thumb:hover {background: #aaa;}
::-webkit-scrollbar-thumb:active {background: #888;-webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);}
/* Scroll bar style end */

/* Overwrite bootstarp setting start */
:focus {outline: none;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {outline: none;}
.dropdown-menu > li > a:hover {background: #ebfffc;}
.modal .modal-dialog {top: 50% !important; transform: translate(0, -50%) !important; -ms-transform: translate(0, -50%) !important; -webkit-transform: translate(0, -50%) !important;}
.modal .modal-header {background: #3e88dc; border: 0; border-radius: 3px 3px 0 0; min-height: 40px; padding: 12px 15px 8px; position: relative;}
.modal .modal-title {color: #fff; font-size: 18px; font-weight: normal; line-height: 1; position: relative;}
.modal button.close {display: block; height: 40px; opacity: 1; position: absolute; right: 0; top: 2px; width: 40px; z-index: 2;}
.modal .close .icon {background: url(../images/einventory/eInventory_icon.png) -100px -100px no-repeat; background-size: auto 500px; display: block; height: 40px; margin-right: 8px; width: 40px;}
.modal .modal-content {border: none; border-radius: 3px; box-shadow: 3px 3px 9px rgba(0,0,0,0.2); color: #666;}
.bootstrap-select .dropdown-toggle:focus {outline: none !important;}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {outline: none;}
.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {background-color: #2675c4; border: 0;}

/* modal box */
.modal-footer {border: none; padding: 0 15px 15px; text-align: center;}
.modal-footer button {background: #f2f2f2; border: none; color: #666; font-size: 16px; width: 48%;}
.modal-footer > :not(:first-child) {margin-left: 2%; margin-bottom: 0;}
.modal-backdrop.in {opacity: .7; filter: alpha(opacity=70);}
/* Overwrite bootstarp setting end */

/* General style start */
body {background: #f1f1f1; font-family: 'Noto Sans TC', Helvetica, Arial, sans-serif; font-size: 16px; height: 100%; margin: 0!important; padding: 0!important; width: 100%;}
a, a:hover {color: #429dea; cursor: pointer; text-decoration: none;}

/* header */
#header {background: #429dea; color: #fff; display: block; font-size: 18px; margin-bottom: 0; min-height: 50px; width: 100vw;}
#header.inventory.edit {background: #3e88dc;}
#header #function {display: table-cell; height: 50px; vertical-align: middle;}
.headerIcon {display: table-cell; font-size: 16px; height: 50px; position: relative; text-align: center; vertical-align: middle; width: 50px;}
.headerIcon a {color: #fff;}
.headerTitle {color: #fff; display: table-cell; font-size: 18px; height: 50px; max-width: calc(100vw - 100px); padding-left: 15px; padding-top: 3px; vertical-align: middle;}
.headerTitle.withFunction {padding-left: 5px;}
.headerTitle.withIcon {max-width: calc(100vw - 150px);}
#button {display: table-cell; float: right; margin-top: -50px; position: relative; vertical-align: middle;}
.headerIcon span {display: table-cell; content: " "; font-size: 20px; height: 40px; position: relative; text-align: center; vertical-align: middle; width: 40px;}
#content {margin-top: 50px;}
#content.infoPage, #content.editItemPage {background: #fff; padding: 15px;}

/* fixed button */
.functionBtn {bottom: 0; display: table; height: 60px; position: fixed; right: 0;}
.functionBtn .btn {border-radius: 50%; box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2); display: inline-block; height: 50px; position: relative; margin-right: 10px; padding: 0; width: 50px;}
.functionBtn .btn .icon {display: block; height: 25px; left: 50%; margin: auto; position: absolute; top: 50%; transform: translate(-50%, -50%); width: 25px;}
.functionBtn .btn.add {background: #f7931e;}
.functionBtn .btn.add a {display: block; height: 50px; width: 50px;}
.submitBtn {padding: 10px 10px 0;}
.submitBtn .btn-primary {background: #429dea; border: none; font-size: 18px; padding: 9px 12px 6px; width: 100%;}

/* Icon */
.addRow:before {background: url(../images/einventory/eInventory_icon.png) -700px 0 no-repeat; background-size: auto 500px; content: " "; display: inline-block; height: 20px; margin-right: 5px; margin-top: -5px; vertical-align: middle; width: 20px;}
.addIcon {background: url(../images/einventory/eInventory_icon.png) -800px 0 no-repeat; background-size: auto 500px; content: " "; display: inline-block; height: 20px; margin-top: -5px; vertical-align: middle; width: 20px;}
.attachIcon {background: url(../images/einventory/eInventory_icon.png) -900px 0 no-repeat; background-size: auto 500px; content: " "; display: inline-block; float: left; height: 20px; margin-right: 5px; vertical-align: text-bottom; width: 20px;}
.bg-success {background: #e6ffe3;}
.bg-warning {background: #ffffe1;}
.alert .close {color: #7fd372; opacity: 0.9; filter: alpha(opacity=90);}
.alert.bg-warning {margin: 10px;}
.alert.bg-warning .close {color: #c69c6d; opacity: 0.9; filter: alpha(opacity=90);}
.functionBtn .btn.add .icon {background: url(../images/einventory/eInventory_icon.png) 0 -200px no-repeat; background-size: auto 500px;}


/* content */
.subTitle {background: #fff; border-bottom: 1px solid #10c6b4; color: #333; font-size: 16px; font-weight: 300; min-height: 35px; padding: 0 20px; width: 100%;}
.subTitle:before {content: " "; display: table-cell; font-family: "Font Awesome 5 Free"; font-style: normal; font-weight: bold; font-variant: normal; height: 35px; width: 35px;}
.subTitle .title {display: table-cell; padding: 5px 0 5px 5px; vertical-align: middle;}
#content .subTitle.subTitleFix {left: 0; padding: 0 10px; position: fixed; top: 50px; z-index: 999;}
.contentFixHeight {position: absolute; top: 0; width: 100%;}
.alertMsg .alert {margin: 65px 15px 15px; padding: 10px;}
.alertMsg .alert span {display: block; width: calc(100% - 20px);}
.itemTitle {color: #666; display: block; font-size: 18px; line-height: 1.5; position: relative;}
.notFound .itemTitle {padding-right: calc(33.33333333% + 10px);}
.mandatory {color: #ff6666;}
.remarks {font-size: 14px;}
.showMore, .hideInfo {display: block; font-size: 14px; height: 35px; padding-top: 10px; text-align: center;}
.moreInfo {display: none;}
.errorMsg {color: #ff7777; font-size: 15px;}
.errorMsg.location {background: #ffeeee; font-size: 15px; margin: 10px 0 20px; padding: 5px;}
.errorMsg.location .text {padding: 3px 0;}
.errorMsg.location p {margin: 5px 0 0;}
.tag.notFound {background: #c98181; border-radius: 3px; color: #fff; font-size: 12px; left: 66.66666667%; line-height: 12px; padding: 4px; position: absolute; top: 4px;}
/* General style end */

/* inventory style start */
/* header */
.headerIcon a .filter {background: url(../images/einventory/icon_filter.png) no-repeat center center; background-size: 100% auto; margin: auto; -webkit-transition: background .2s ease-in-out, transform .1s ease-in-out; -o-transition: background .2s ease-in-out, transform .1s ease-in-out; transition: background .2s ease-in-out, transform .1s ease-in-out;}
.headerIcon a[aria-expanded="true"] .filter, .headerIcon .filter.active {background: url(../images/einventory/icon_filterActive.png) no-repeat center center; background-size: 100% auto; transform: scale(1.1);}
.headerIcon a.next {font-weight: normal; padding-left: 15px; padding-right: 15px; white-space: nowrap; width: auto;}
.headerIcon a.delete {font-size: 16px;}
.headerIcon a .editItem {background: url(../images/einventory/eInventory_icon.png) 0 -100px no-repeat; background-size: auto 500px;}
.headerIcon a.submit {font-size: 20px;}
.headerIcon a .close {background: url(../images/einventory/eInventory_icon.png) -100px -100px no-repeat; background-size: auto 500px; opacity: 1;}

#filter {background: #e3f5ff; border-bottom: 5px solid #429dea; max-height: calc(100vh - 50px);}
#filter > ul {margin: 0; padding: 10px;}
#filter ul.fillerList > li:not(:last-child) {margin-bottom: 10px; width: 100%;}
#filter .dropdown-menu > li > a:not(.opt) {padding: 7px 12px;}
#filter .btn-group {width: 100%;}
#filter button {background: #fff; border: 0; padding-bottom: 7px; padding-top: 7px;}
#filter .btn-group.open button {background: #ebfffc; -webkit-box-shadow: none; box-shadow: none;}
#filter .dropdown-menu {border: none; margin: 0; padding: 0; width: 100%;}
#filter .text {white-space: normal;}
#filter .text:not(.dropdown-header) {display: block; position: relative; width: 100%;}
#filter .caret {color: #999;}
#filter .form-check {color: #333; font-size: 15px; padding: 10px;}
#filter label {display: inline-block; max-width: 100%; margin-bottom: 5px;}
#filter input[type="checkbox"] {display: none;}
#filter input[type="checkbox"] + .text:before {color: #fff; content: "\f0c8"; cursor: pointer; display: inline-block; font-family: "Font Awesome 5 Free"; font-style: normal; font-weight: bold; font-variant: normal; left: 0; line-height: 1; position: absolute; speak: none; top: 2px; text-transform: none; width: 1em; -webkit-font-smoothing: antialiased;}
#filter input[type="checkbox"]:checked + .text:before {color: #2e93d7; content: "\f14a"; width: 1em;}
#filter label .text {cursor: pointer; font-weight: normal; margin-left: 5px; padding-left: 20px;}
#filter .submitBtn {border-top: 1px solid #eee; padding: 10px 10px 20px;}
#filter .submitBtn .btn-primary {background: #429dea; border: none; font-size: 18px; padding: 9px 12px 6px; width: 100%;}

/* landing page */
.inventoryList {color: #666; list-style: none; margin-bottom: 2px; padding-left: 0;}
.inventoryList li {background: #fff; margin: 0 0 2px; padding: 10px 30px 10px 15px; position: relative;}
.inventoryList a {color: #666;}
.inventoryList .item > div {line-height: 1.6em; position: relative;}
.inventoryList .item > div.info {padding-left: 25px;}
.inventoryList .icon:before {display: block; left: 0; position: absolute; vertical-align: middle;}
.itemLocation .icon:before {color: #bbb; font-family: "Font Awesome 5 Free"; font-size: 14px; font-weight: 900;}
.itemLocation .icon:before {content: "\f5a0"; margin-left: 2px; top: -1px;}
.itemGroup .icon:before {background: url(../images/einventory/eInventory_icon.png) 0 0 no-repeat; background-size: auto 500px; content: " "; height: 20px; margin: 0; top: 2px; width: 20px;}
.itemStock .icon:before {background: url(../images/einventory/eInventory_icon.png) -100px 0 no-repeat; background-size: auto 500px; content: " "; height: 20px; margin: 0; top: 2px; width: 20px;}
.inventoryList li:after {background: url(../images/einventory/eInventory_icon.png) -200px 0 no-repeat; background-size: auto 500px; content: " "; display: block; height: 20px; position: absolute; top: 50%; right: 5px; transform: translateY(-50%); width: 20px;}

/* item detials page */
.itemImg {text-align: center;}
.itemImg img {max-height: 150px; max-width: 290px; margin: 0 auto;}
.infoPage .itemTitle {margin-top: 15px;}
.itemInfo {list-style: none; margin-top: 15px; padding: 0;}
.itemInfo li {border-top: 1px solid #dfeaed; padding: 5px;}
.itemInfo li:last-child {border-bottom: 1px solid #dfeaed;}
.itemInfo li.alert {border: 0; border-top: 1px solid #dfeaed; margin-bottom: 0;}
.itemInfo li.alert:last-child {border-bottom: 1px solid #dfeaed;}
.itemInfo .label {color: #999; display: block; font-size: 14px; font-weight: 300; padding: 3px 0; text-align: left; width: 100%;}
.itemInfo .alert .label {color: #ff7777;}
.itemInfo .text {color: #333; display: block; font-size: 15px; padding: 3px 0; width: 100%;}
.itemInfo .alert .text {color: #ff7777; display: block; font-size: 15px; padding: 3px 0; width: 100%;}

/* add or edit item page */
.itemInfoList {list-style: none; margin-bottom: 40px; margin-top: 5px; padding: 0;}
.itemInfoList .itemImg {display: table; height: 120px; margin: 0 auto 20px; position: relative; width: 100%;}
.itemInfoList .itemImg.upload {background: #f1f1f1;}
.itemInfoList .itemImg span:before {background: url(../images/einventory/eInventory_icon.png) -600px 0 no-repeat; background-size: auto 500px; content: " "; display: inline-block; height: 30px; margin-right: 5px; margin-top: -5px; vertical-align: middle; width: 30px;}
.itemInfoList .itemImg span {color: #333; display: table-cell; font-size: 15px; font-weight: 300; text-align: center; vertical-align: middle;}

.itemInfoList .label {color: #999; display: block; font-size: 14px; font-weight: normal; padding: 3px 6px; position: relative; text-align: left; width: 100%;}
.itemInfoList .label.mandatory:before {color: #ff6666; content: "*"; font-size: 20px; font-weight: bold; left: -4px;  position: absolute; top: 0;}
.itemInfoList .label i {color: #ccc; vertical-align: middle;}
.itemInfoList .text {display: block; font-size: 15px; font-weight: normal; position: relative; width: 100%;}
.itemInfoList .bs-caret {color: #999}
.itemInfoList .fieldInput, .itemInfoList .input-group {display: table; margin-bottom: 25px; margin-top: 5px; position: relative;}
.itemInfoList .fieldInput.list {clear: both; margin-top: 10px;}
.itemInfoList .fieldInput.withAddRow {margin-bottom: 10px;}
.itemInfoList .form-control {border: none; border-bottom: 1px solid #ccc; border-radius: 0; box-shadow: none; font-size: 16px; padding: 6px; width: 100%;}
.itemInfoList .infoMissing .form-control {background: #ffeeee; border-bottom: 1px solid #ff6666;}
.itemInfoList .form-control:active, .itemInfoList .form-control:focus, .itemInfoList .form-control:hover {border-bottom: 1px solid #429dea;}
.itemInfoList .fieldInput, .itemInfoList .bootstrap-select.btn-group:not(.input-group-btn), .itemInfoList .bootstrap-select.btn-group[class*=col-] {width: 100%;}
.itemInfoList .btn {border: 0; border-bottom: 1px solid #ccc; border-radius: 0; font-size: 16px; min-height: 35px; padding: 4px 6px; width: 100%;}
.itemInfoList .infoMissing .btn {background: #ffeeee; border-bottom: 1px solid #ff6666;}
.itemInfoList .btn-default:active, .itemInfoList .btn-default.active, .itemInfoList .open > .dropdown-toggle.btn-default, .itemInfoList .btn-default:focus, .itemInfoList .btn-default.focus {background: none; box-shadow: none;}
.itemInfoList .btn-group.open .dropdown-toggle {background: none; border: none; border-bottom: 1px solid #429dea; box-shadow: none; outline: none;}
.itemInfoList .infoMissing .btn-group.open .dropdown-toggle {background: #ffeeee;}
.itemInfoList .bootstrap-select .dropdown-toggle:focus {outline: none !important;}
.itemInfoList .fieldInput .dropdown-menu {border-radius: 0; margin: 0; -webkit-box-shadow: none; box-shadow: none;}
.itemInfoList input[type="checkbox"], .itemInfoList input[type="radio"] {display: none;}
.itemInfoList input[type="radio"] + .text:before {background: url(../images/einventory/icon_radio.png) no-repeat center center; background-size: 100% auto; content: " "; cursor: pointer; display: block; height: 25px; left: 0; line-height: 1; margin-right: 5px; position: absolute; speak: none; text-transform: none; top: 0; vertical-align: middle; width: 25px;}
.itemInfoList input[type="radio"] + .text {height: 25px; padding-left: 30px; padding-top: 2px; position: relative;}
.itemInfoList input[type="radio"]:checked + .text:before {background: url(../images/einventory/icon_radioChecked.png) no-repeat center center; background-size: 100% auto; content: " "; height: 25px; vertical-align: middle; width: 25px;}
.itemInfoList .addRow {display: block; margin-bottom: 20px;}
.itemInfoList .input-group-addon {background: #fff; border: 0; border-radius: 0; border-bottom: 1px solid #ccc; color: #ccc; font-size: 14px; padding: 6px;}
.itemInfoList .text.attachment { border-bottom: 1px solid #eee; padding: 6px 0; position: relative;}
.itemInfoList .text.attachment a {display: block; max-width: calc(100% - 45px); margin-left: 20px;}
.itemInfoList .removeBtn {position: absolute; right: 0; top: 0;}
.itemInfoList .itemTitle {margin-bottom: 20px;}
.itemInfoList .addAttachment {padding: 6px 0;}
.itemInfoList .removeBtn {color: #ccc; font-size: 14px; padding: 6px;}
.itemInfoList .row {position: relative;}
.itemInfoList .generate {bottom: 20px; left: 50%; position: absolute;}
.itemInfoList #locationField2 {margin-bottom: 0; margin-top: 10px;}

/* inventory style end */

/* Stocktake style start */
/* header & subtitle */
#filter .fillerList.stocktake {height: 145px;}
#filter .fillerList.stocktake .dropdown-menu {border-radius: 0; margin: 0; padding: 5px 0; -webkit-box-shadow: none; box-shadow: none;}
#filter .fillerList.stocktake .dropdown-header .text {font-size: 15px;}
#content.stocktake .subTitle.manGp {left: 0; padding: 0 10px; position: fixed; top: 50px; z-index: 999;}
.subTitle.manGp:before {background: url(../images/einventory/eInventory_icon.png) -600px -100px; background-size: auto 500px;}
#content.stocktake .subTitle.map {left: 0; padding: 0 10px; position: fixed; top: 50px; z-index: 999;}
.subTitle.map:before {color: #10c6b4; content: "\f5a0"; font-size: 20px; line-height: 35px; text-align: center;}

/* view stocktake listing */
#content.stocktake {padding-top: 36px;}
.stocktakeList {display: block; margin: 0; padding: 0 0 60px;}
.stocktakeList.finished {padding: 0;}
.stocktakeList > li > a {color: #333; font-size: 16px; font-weight: 300; display: block; padding: 10px 50px 10px 15px; position: relative;}
.stocktakeList > li > a.alert {border: 0; border-radius: 0; margin-bottom: 0;}
.stocktakeList > li > a.alert:before {background: url(../images/einventory/eInventory_icon.png) -300px 0 no-repeat; background-size: auto 500px; content: " "; height: 20px; position: absolute; right: 45px; top: calc(50% - 9px); width: 20px;}
.stocktakeList > li > a:after {color: #429dea; content: "\f078"; display: block; font-family: "Font Awesome 5 Free"; font-size: 14px; font-weight: bold; line-height: 18px; position: absolute; right: 0; text-align: center; text-decoration: none; transform: translateY(-50%); top: 50%; width: 40px;}
.stocktakeList > li > a[aria-expanded="true"]:after {content: "\f077";}
.process {list-style: none; margin-bottom: 0; padding: 0;}
.process li, .processDetails {background: #fff; margin-bottom: 2px; padding: 10px 30px 10px 15px; position: relative;}
.process li:after {background: url(../images/einventory/eInventory_icon.png) -200px -1px no-repeat; background-size: auto 500px; content: " "; display: block; height: 20px; position: absolute; top: 50%; right: 5px; transform: translateY(-50%); width: 20px;}
.process .locationName, .processDetails .locationName {color: #666; font-size: 18px; font-weight: 500; max-width: 100%;}
.process .processInfo, .processDetails .processInfo {color: #333; font-size: 16px; font-weight: normal; margin-top: 5px;}
.process .processInfo .label, .processDetails .processInfo .label {color: #999; font-size: 15px; font-weight: normal; padding: 0;}
.process .processInfo .alert, .processDetails .processInfo .alert, .nonStocktakeList .info .alert {border: 0; color: #ff7777; font-weight: normal; margin: 0; padding: 0;}
.process .processInfo .alert .label, .processDetails .processInfo .alert .label, .nonStocktakeList .info .alert .label {color: #ff7777;}
.process .processInfo .lastUpdate, .processDetails .processInfo .lastUpdate {color: #999; font-size: 12px;}
.processDetails {margin-bottom: 10px;}
/*.process a.complete{cursor: default;}*/

/* start stocktake */
.subTitle.stocktake {border-bottom: 1px solid #429dea; font-size: 16px; line-height: 24px; padding: 0 10px; z-index: 999;}
.subTitle.stocktake:before {display: none;}
.stocktakeList .alertMsg .alert {margin: 10px;}
.stocktakeList > span.info {color: #999; display: block; font-size: 16px; padding: 50px 0 10px; text-align: center; width: 100%;}

/* stocktake (read barcode area) */
#stocktakeArea {background: #f1f1f1; border-top: 1px solid #ccc; bottom: 0; height: 60px; position: fixed; width: 100%;}
#stocktakeArea .selectItem {display: block; float: left; height: 60px;width: 60px;}
#stocktakeArea .selectItem a {display: block; height: 60px; position: relative; width: 60px;}
#stocktakeArea .selectItem .icon {background: url(../images/einventory/eInventory_icon.png) -700px -100px no-repeat; background-size: auto 500px; display: block; height: 35px; left: 50%; margin: 0 auto; position: absolute; top: 50%; transform: translateX(-50%) translateY(-50%); width: 35px;}
#stocktakeArea .selectItem .number {display: block; font-size: 12px; font-weight: bold; padding: 0 2px; position: absolute; text-align: center; top: 10px; right: 5px;}
#stocktakeArea .selectItem .text {background: #ff6666; border-radius: 5px; color: #fff; display: inline-block; padding: 1px 2px 0; min-width: 17px;}
.inputBarcode  {float: left; padding: 10px 15px 10px 0; position: relative; width: calc(100% - 60px);}
.inputBarcode input {border: 0; color: #666; float: left; font-size: 18px; height: 40px; padding: 5px; width: 100%;}
.inputBarcode .cameraOn {background: #17a08f url(../images/einventory/eInventory_icon.png) -801px -100px; background-size: auto 500px; border-radius: 3px; display: block; height: 40px; position: absolute; right: 15px; width: 40px;}
.inputBarcode .submit {background: #17a08f; color: #fff; display: block; font-size: 20px; height: 40px; padding: 6px; position: absolute; right: 15px; width: 40px;}

/* Camera Modal */
#camModal {padding: 0 !important;}
#camModal .modal-dialog {height: 100%; margin: 0; top: 0 !important; transform: none !important; width: 100%; -ms-transform: none !important; -webkit-transform: none !important;}
#camModal .modal-header {background: #666; height: 50px; padding: 16px 15px 14px 50px;}
#camModal .back {color: #fff; display: block; font-size: 20px; height: 50px; left: 0; padding: 10px; position: absolute; text-align: center; top: 0; width: 50px;}
#camModal .modal-content {background: #333; border-radius: 0; height: 100%;}
/*#camera {height: 200px; margin: 50px auto 30px; max-width: 266px; width: 100%;}*/
#camera { width: 200px; height: 200px; margin: 2px auto 2px; max-width: 266px;}
#camModal .note {color: #ccc; font-size: 18px; text-align: center;}
#camModal .itemInfo {background: #fff; bottom: 0; display: table; left: 0; margin: 0; min-height: 120px; padding: 15px; position: absolute; width: 100%;}
#camModal .itemInfo:after {background: url(../images/einventory/eInventory_icon.png) -200px 0 no-repeat; background-size: auto 500px; content: " "; display: block; height: 20px; position: absolute; top: 50%; right: 5px; transform: translateY(-50%); width: 20px;}
#camModal .itemTitle {display: table-cell; vertical-align: middle;}
#camModal .itemInfoWithoutAfter {background: #fff; bottom: 0; display: table; left: 0; margin: 0; min-height: 120px; padding: 15px; position: absolute; width: 100%; height: 42%;}
#camModal .errorInfo {background: #fff; bottom: 0; display: table; left: 0; margin: 0; min-height: 120px; padding: 15px; position: absolute; width: 100%; height: 42%;}

/* Stocktake list */
.stocktaking .stocktakeList li {background: #fff; margin: 0 0 2px; padding: 10px 30px 10px 15px; position: relative;}
.stocktaking .stocktakeList li:after {background: url(../images/einventory/eInventory_icon.png) -200px 0 no-repeat; background-size: auto 500px; content: " "; display: block; height: 20px; position: absolute; top: 50%; right: 5px; transform: translateY(-50%); width: 20px;}
.stocktaking .stocktakeList .item > div {line-height: 1.6em; position: relative;}
.stocktaking .stocktakeList .processInfo {color: #333; font-size: 16px; font-weight: normal; margin-top: 5px;}
html:lang(en) .stocktaking .stocktakeList .processInfo {font-size: 15px;}
.stocktaking .stocktakeList .processInfo .funding {display: table;}
.stocktaking .stocktakeList .processInfo .funding span {display: table-cell;}
.stocktaking .stocktakeList .processInfo .label {color: #999; font-size: 15px; font-weight: normal; padding: 0;}
html:lang(en) .stocktaking .stocktakeList .processInfo .label {font-size: 14px;}
.stocktaking .stocktakeList .processInfo .alert {border: 0; color: #ff7777; font-weight: normal; margin: 0; padding: 0 0 0 10px;}
.stocktaking .stocktakeList .processInfo .alert .label {color: #ff7777;}

/* View Stocktake list Detail */
.stocktaking .stocktakeListDetail {padding-inline-start:0px;}
.stocktaking .stocktakeListDetail li {background: #fff; margin: 0 0 2px; padding: 10px 30px 10px 15px; position: relative;}
.stocktaking .stocktakeListDetail li:after {background-size: auto 500px; content: " "; display: block; height: 20px; position: absolute; top: 50%; right: 5px; transform: translateY(-50%); width: 20px;}
.stocktaking .stocktakeListDetail .item > div {line-height: 1.6em; position: relative;}
.stocktaking .stocktakeListDetail .processInfo {color: #333; font-size: 16px; font-weight: normal; margin-top: 5px;}
html:lang(en) .stocktaking .stocktakeListDetail .processInfo {font-size: 15px;}
.stocktaking .stocktakeListDetail .processInfo .funding {display: table;}
.stocktaking .stocktakeListDetail .processInfo .funding span {display: table-cell;}
.stocktaking .stocktakeListDetail .processInfo .label {color: #999; font-size: 15px; font-weight: normal; padding: 0;}
html:lang(en) .stocktaking .stocktakeListDetail .processInfo .label {font-size: 14px;}
.stocktaking .stocktakeListDetail .processInfo .alert {border: 0; color: #ff7777; font-weight: normal; margin: 0; padding: 0 0 0 10px;}
.stocktaking .stocktakeListDetail .processInfo .alert .label {color: #ff7777;}

#content.stockingDetails .subTitle.manGp, #content.stockingDetails .subTitle.map {left: 0; padding: 0 10px; position: fixed; top: 50px; z-index: 999;}
#content.stockingDetails {background: #fff; overflow: auto; padding: 15px;}
#content.stockingDetails.single, #content.stockingDetails.error {padding: 15px 15px 70px;}
#content.stockingDetails.bluk {padding: 15px 15px 140px;}
.stockingDetails .showMore, .stockingDetails .hideInfo {text-align: left; margin-bottom: 30px;}
#setProcessArea {background: #fff; bottom: 0; border-top: 1px solid #eee;  display: block; left: 0; position: fixed; width: 100%;}
#setProcessArea.single, #setProcessArea.error {height: 70px;}
#setProcessArea.bluk {height: 140px; padding: 10px 0;}
#setProcessArea .label {color: #999; display: block; font-size: 14px; font-weight: normal; margin-top: 3px; padding: 0; position: relative; text-align: left; width: 100%;}
#setProcessArea .variance {color: #333; display: block; font-size: 15px; font-weight: normal; padding: 0; position: relative; text-align: right; width: 100%;}
#setProcessArea .variance.alert {border: 0; border-radius: 0; color: #c98181; margin-bottom: 0;}
#setProcessArea .variance .label {color: #999; display: inline; font-size: 14px;}
#setProcessArea .variance.alert .label {color: #c98181;}
#setProcessArea .stocktakeQuantity {margin-top: 5px;}
#setProcessArea .stocktakeQuantity input {border: 1px solid #f2f2f2; box-shadow: none; color: #333; font-size: 20px; height: 30px; text-align: center;}
#setProcessArea .stocktakeQuantity button {background-color: #429dea; border: 0; color: #fff; font-size: 14px; height: 30px; padding: 6px; width: 30px;}
#setProcessArea .submitBtn:not(:last-child) {padding-right: 5px;}
#setProcessArea .submitBtn:last-child {padding-left: 5px;}
#setProcessArea .btn {height: 50px; position: relative;}
#setProcessArea .btn span {left: 50%; position: absolute; top: 50%; transform: translateX(-50%) translateY(-50%);}
#setProcessArea .btn.second {font-size: 16px;}

/* Non-stocktake items list */
.nonStocktakeList {color: #666; list-style: none; margin-bottom: 2px; overflow-y: auto; padding: 0 0 70px;}
.nonStocktakeList li {background: #fff; display: block; margin: 0 0 2px; padding: 10px 30px 10px 15px; position: relative;}
.nonStocktakeList .itemTitle {color: #666; font-weight: normal;}
.nonStocktakeList .info {color: #333; display: block; font-size: 16px; font-weight: normal; margin-top: 5px; max-width: calc(100% - 30px);}
html:lang(en) .nonStocktakeList .info {font-size: 15px;}
.nonStocktakeList .info .label {color: #999; font-size: 15px; font-weight: normal; padding: 0;}
html:lang(en) .nonStocktakeList .info .label {font-size: 14px;}
.nonStocktakeList .info .funding {display: table;}
.nonStocktakeList .info .funding span {display: table-cell;}
.nonStocktakeList .form-check {display: block; height: 100%; position: absolute; right: 0; top: 0; width: 50px;}
.nonStocktakeList input[type="checkbox"] {display: table; cursor: pointer; height: 100%; margin: 0; opacity: 0; top: 0; width: 100%;}
.nonStocktakeList input[type="checkbox"] + span {background: url(../images/einventory/icon_check.png) no-repeat center center; background-size: 100% auto; bottom: 0; cursor: pointer; height: 25px; left: 0; margin: auto; position: absolute; right: 0; top: 0; transform: scale(0.9); vertical-align: middle; width: 25px; -webkit-transition: background .2s ease-in-out, transform .1s ease-in-out; -o-transition: background .2s ease-in-out, transform .1s ease-in-out; transition: background .2s ease-in-out, transform .1s ease-in-out;}
.nonStocktakeList input[type="checkbox"]:checked + span {background: url(../images/einventory/icon_checked.png) no-repeat center center; background-size: 100% auto; transform: scale(1.1);}
.nonStocktakeList .stocktakeQuantity {color: #333;}
.nonStocktakeList .stocktakeQuantity i {color: #429dea; font-size: 14px; margin-left: 2px; margin-top: -5px; vertical-align: middle;}
.modal .modal-body img {display: block; margin: 15px auto 30px;}
/* Stocktake style end */
@media (max-width: 374px) {
	html:lang(en) ul.nonStocktakeList .info span {padding-right: 0;}
	html:lang(en) ul.stocktakeList .processInfo .info .label {display: block; text-align: left;}
}
@media (max-width: 768px) {
	.modal-dialog {margin: 10px auto; width: 80%;}
}
.line-break { display: none; }
@media (max-width: 375px) {
    .line-break-sm { display: inline; }
}