@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900');

/* student app modules CSS Document */
a, a:hover, a:focus {text-decoration: none;}

body {background: #f1f1f1; font-family:  Helvetica, Arial, 'Noto Sans TC', sans-serif;}
.module_landing .image {padding: 25px; text-align: center;}
.module_landing .image img {height: 225px; width: auto;}
.module_landing ul {list-style: none; padding-left: 0;}
.module_landing ul li {background: #fff; border-radius: 5px; margin-bottom: 10px; padding: 20px 15px; position: relative;}
.module_landing ul li.alertMsg {padding: 15px;}
.module_landing ul li span {color: #666; display: block; font-size: 18px; margin-left: 65px;}

.module_landing ul li span:before {content: " "; height: 45px; left: 15px; position: absolute; top: 10px; width: 45px;}

/* iPortfolio landing page start */
.module_landing ul li.inventory span:before {background: url(../images/einventory/eInventory_menu_icon.png) no-repeat; background-size: auto 45px;}
.module_landing ul li.stocktake span:before {background: url(../images/einventory/eInventory_menu_icon.png) no-repeat -45px 0; background-size: auto 45px;}
/* iPortfolio landing page end */

p.alertMsg {color: #c98181; display: block; line-height: 24px; margin: 0; padding-left: 85px; position: relative;}
p.alertMsg:before {background: url(../images/icon-alert.png) no-repeat left center; background-size: auto 13px; content: " "; display: block; float: left; height: 13px; left: 67px; position: absolute; top: 4.5px; width: 13px;}
