@charset "utf-8";
/* Varibles */
/*Parent App / Default*/
/*Student App*/
/*Teacher App*/
/* Effects */
/* Preset Classes*/
.fill {
  width: 100%;
  height: 100%;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.middle {
  vertical-align: middle;
}
.pointer {
  cursor: pointer;
}
.marginB10 {
  margin-bottom: 10px;
}
.marginB20 {
  margin-bottom: 20px;
}
.hide {
  display: none !important;
}
div.show {
  display: block !important;
}
span.show {
  display: inline-block !important;
}
.hidden {
  visibility: hidden;
}
.opacity0 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.floatR,
right {
  float: right;
}
.floatL,
left {
  float: left;
}
.hidden {
  visibility: hidden;
}
.roundCorners-5 {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.roundCorners-10 {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}
.bold {
  font-weight: bold;
}
/* Preset 2 */
.textColor1 {
  color: #45b00d;
}
.studentApp .textColor1 {
  color: #eaad1a;
}
.teacherApp .textColor1 {
  color: #60acee;
}
.textColor2 {
  color: #3f7d1f;
}
.studentApp .textColor2 {
  color: #d0870e;
}
.teacherApp .textColor2 {
  color: #0767c0;
}
.textColorSuccess {
  color: #25903d;
}
.textColorWarn {
  color: #dd2c00;
}
.bgColor1 {
  background-color: #16a30e;
}
.studentApp .bgColor1 {
  background-color: #eaaa12;
}
.teacherApp .bgColor1 {
  background-color: #429eed;
}
.bgColor2 {
  background-color: #3f7d1f;
}
.studentApp .bgColor2 {
  background-color: #d0870e;
}
.teacherApp .bgColor2 {
  background-color: #0767c0;
}
.bgColor3 {
  background-color: #4db835;
}
.studentApp .bgColor3 {
  background-color: #eaad1a;
}
.teacherApp .bgColor3 {
  background-color: #60acee;
}
.bgColor4 {
  background-color: #f19149;
}
.studentApp .bgColor4 {
  background-color: #0e6ca3;
}
.teacherApp .bgColor4 {
  background-color: #f19149;
}
@media screen and (min-width: 769px) {
  .hide-d {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .hide-m {
    display: none;
  }
}
/*============= GENERAL ===============*/
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
* {
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html,
body,
table,
select,
input,
textarea {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
html,
body {
  font-size: 12px;
}
table,
select,
input,
textarea {
  font-size: inherit;
}
table {
  width: 100%;
}
html,
body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
fieldset,
input,
hr {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
address,
caption,
cite,
code,
em,
strong,
th {
  font-weight: normal;
  font-style: normal;
}
ul,
ol {
  list-style: none;
}
li {
  list-style-position: outside;
}
fieldset,
img,
hr {
  border: none;
}
caption,
th {
  text-align: left;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
div {
  display: block;
}
span {
  display: inline-block;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:focus,
a:hover {
  text-decoration: none;
}
select {
  border: 1px solid #CCCCCC;
}
p.spacer {
  line-height: 0px;
  clear: both;
  display: block;
  padding: 0px;
  margin: 0px;
  height: 0px;
}
input[type="button"]:focus {
  outline: none;
}
/* Icon Web Font */
@font-face {
  font-family: 'Awesome';
  src: url('../fonts/fontawesome-webfont.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/fontawesome-webfont.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/fontawesome-webfont.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/fontawesome-webfont.svg') format('svg');
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
.icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*Scroll bar*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #fff;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
::-webkit-scrollbar-thumb:active {
  background: #888;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
}
/* For Current Project */
html,
body,
table,
select,
input,
textarea {
  font-family: 'Noto Sans TC', sans-serif, Arial, Helvetica, sans-serif;
  font-style: normal;
  color: #333;
}
html,
body {
  min-width: 320px;
  font-size: 16px;
  line-height: 1.4;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
  margin: 0 auto;
}
body {
  min-height: 100%;
  background-color: #f8f8f8;
  padding-top: 70px;
  padding-bottom: 80px;
  height: auto;
}
body.bodyLock {
  position: fixed;
  overflow-y: scroll;
}
input[type="text"],
input[type="password"],
textarea {
  background: transparent;
  border-width: 0;
  border-bottom: 1px solid #ccc;
  padding: 6px;
}
textarea {
  resize: none;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="file"]:focus,
select:focus,
textarea:focus {
  border-bottom: 1px solid #4db835;
  outline: 0;
}
.studentApp input[type="text"]:focus,
.studentApp input[type="password"]:focus,
.studentApp input[type="file"]:focus,
.studentApp select:focus,
.studentApp textarea:focus {
  border-color: #eaad1a;
}
.teacherApp input[type="text"]:focus,
.teacherApp input[type="password"]:focus,
.teacherApp input[type="file"]:focus,
.teacherApp select:focus,
.teacherApp textarea:focus {
  border-color: #60acee;
}
input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="file"]::placeholder,
select::placeholder,
textarea::placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="file"]::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="file"]::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="file"]:-ms-input-placeholder,
select:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input[type="text"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="file"]:-moz-placeholder,
select:-moz-placeholder,
textarea:-moz-placeholder {
  color: #aaa;
}
.selector {
  background: transparent;
  border-bottom: 1px solid #ccc;
  padding: 6px 0;
  z-index: 1;
  font-size: 16px;
  line-height: 24px;
}
.selector.focus {
  border-color: #4db835;
}
.studentApp .selector.focus {
  border-color: #eaad1a;
}
.teacherApp .selector.focus {
  border-color: #60acee;
}
.selector::before {
  display: inline-block;
  color: #6e7174;
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: smaller;
  text-align: center;
  line-height: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f078";
  padding: inherit;
}
.selector select {
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  padding-right: 30px;
  width: 100%;
  cursor: pointer;
  border-radius: 0;
  padding-left: 4px;
}
.selector select::-ms-expand {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.search {
  background-color: #fff;
}
.search input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0 !important;
  background: transparent !important;
  padding-right: 22px;
  width: 100%;
}
.search::before {
  display: inline-block;
  color: #6e7174;
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: inherit;
  text-align: center;
  line-height: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f002";
  padding: 6px;
}
input[type="checkbox"],
input[type="radio"] {
  display: none;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  padding-left: 23px;
  display: inline-block;
}
input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  display: inline-block;
  color: #6e7174;
  font: normal normal normal 14px/1 FontAwesome;
  top: 2px;
  position: absolute;
  left: 0;
  font-size: inherit;
  width: 23px;
  text-align: center;
  line-height: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: top;
}
input[type="checkbox"] + label::before {
  content: "\f096";
}
input[type="radio"] + label::before {
  content: "\f1db";
}
input[type="checkbox"][checked="checked"] + label::before,
input[type="checkbox"]:checked + label::before {
  content: "\f14a";
  color: #3f7d1f;
}
.studentApp input[type="checkbox"][checked="checked"] + label::before,
.studentApp input[type="checkbox"]:checked + label::before {
  color: #d0870e;
}
.teacherApp input[type="checkbox"][checked="checked"] + label::before,
.teacherApp input[type="checkbox"]:checked + label::before {
  color: #0767c0;
}
input[type="radio"][checked="checked"] + label::before,
input[type="radio"]:checked + label::before {
  content: "\f192";
  color: #3f7d1f;
}
.studentApp input[type="radio"][checked="checked"] + label::before,
.studentApp input[type="radio"]:checked + label::before {
  color: #d0870e;
}
.teacherApp input[type="radio"][checked="checked"] + label::before,
.teacherApp input[type="radio"]:checked + label::before {
  color: #0767c0;
}
input[type="radio"] + label + input[type="radio"] + label,
input[type="radio"] + label + input[type="checkbox"] + label,
input[type="checkbox"] + label + input[type="radio"] + label,
input[type="checkbox"] + label + input[type="checkbox"] + label {
  margin-left: 10px;
}
/*File upload using <label>*/
input[type="file"] {
  width: 0.1px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
  visibility: hidden;
  outline: 0 !important;
}
input[type="file"] + label {
  display: inline-block;
  float: left;
  padding: 10px 14px;
  text-align: center;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  background: rgba(0, 0, 0, 0.1);
  color: #555;
  font-weight: 400;
  font-size: inherit;
  border: 0;
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  cursor: pointer;
  font-size: 18px;
  line-height: 22px;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
input[type="file"]:hover + label,
input[type="file"]:focus + label {
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
}
/*Textbox with label*/
.textbox-withIcon {
  border-bottom-width: 1px;
}
.textbox-withIcon > input {
  padding-left: 20px;
  width: 100%;
}
.textbox-withIcon > input:focus + .icon {
  color: #4db835;
}
.textbox-withIcon .icon {
  position: absolute;
  top: 6px;
  left: 0;
  line-height: inherit;
  color: #aaa;
}
.textbox-floatlabel {
  padding-top: 12px;
}
.textbox-floatlabel > .textboxLabel {
  position: absolute;
  top: 12px;
  left: 0;
  padding: 6px 0;
  width: 100%;
  transition: all 0.2s ease;
  z-index: 0;
  color: #aaa;
  font-weight: 300;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.textbox-floatlabel input[type="text"],
.textbox-floatlabel input[type="password"],
.textbox-floatlabel textarea {
  background: transparent;
  border-width: 0;
  border-bottom-width: 1px;
  padding: 6px 0;
  z-index: 1;
  width: 100%;
}
.textbox-floatlabel input[type="text"]:focus + .textboxLabel,
.textbox-floatlabel input[type="password"]:focus + .textboxLabel,
.textbox-floatlabel textarea:focus + .textboxLabel {
  position: absolute;
  top: 0;
  padding-top: 0;
  font-size: 12px;
  color: #3f7d1f;
  font-weight: 400;
}
.studentApp .textbox-floatlabel input[type="text"]:focus + .textboxLabel,
.studentApp .textbox-floatlabel input[type="password"]:focus + .textboxLabel,
.studentApp .textbox-floatlabel textarea:focus + .textboxLabel {
  color: #d0870e;
}
.teacherApp .textbox-floatlabel input[type="text"]:focus + .textboxLabel,
.teacherApp .textbox-floatlabel input[type="password"]:focus + .textboxLabel,
.teacherApp .textbox-floatlabel textarea:focus + .textboxLabel {
  color: #0767c0;
}
.textbox-floatlabel input.notEmpty[type="text"] + .textboxLabel,
.textbox-floatlabel input.notEmpty[type="password"] + .textboxLabel,
.textbox-floatlabel textarea.notEmpty + .textboxLabel {
  position: absolute;
  top: 0;
  padding-top: 0;
  font-size: 12px;
  color: #777;
  font-weight: 400;
}
.button,
input[type=file].button:after {
  padding: 10px 14px;
  text-align: center;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  background-color: #4db835;
  color: #fff;
  font-weight: 400;
  font-size: inherit;
  border: 0;
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  cursor: pointer;
  font-size: 18px;
  line-height: 22px;
  min-width: 120px;
}
.studentApp .button,
.studentApp input[type=file].button:after {
  background-color: #eaad1a;
}
.teacherApp .button,
.teacherApp input[type=file].button:after {
  background-color: #60acee;
}
.button-secondary {
  background: white !important;
  color: #777;
  box-shadow: 0px 0px 0px 1px #dcdcdc;
}
.button:hover,
.icon-button:hover,
.link:hover,
a:hover {
  -webkit-filter: brightness(1.3);
  filter: brightness(1.3);
}
.button-disabled {
  cursor: default !important;
}
.icon-button {
  line-height: inherit;
  padding: inherit;
  color: #45b00d;
  cursor: pointer;
  padding: 3px 12px;
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
}
.studentApp .icon-button {
  color: #eaad1a;
}
.teacherApp .icon-button {
  color: #60acee;
}
.link,
a {
  color: #085078;
  cursor: pointer;
}
.text-1 {
  color: #2389ab;
  font-size: 26px;
  font-weight: bold;
}
.text-2 {
  color: #333;
  font-size: 20px;
}
.mainWidth {
  max-width: 1600px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .mainWidth {
    width: 100%;
  }
}
.mainBody {
  max-width: 1600px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .mainBody {
    width: 100%;
  }
}
table th a i.fa {
  float: right;
  line-height: inherit;
  padding-left: 3px;
}
table th a i {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
table th a:hover i,
table th a.sorted i {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.table > thead > tr > th {
  vertical-align: top;
}
.form-header {
  background: #dfdfdf;
  color: #45b00d;
  font-weight: 500;
  font-size: 20px;
  line-height: 50px;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 20px;
  padding-right: 20px;
}
.studentApp .form-header {
  color: #eaad1a;
}
.teacherApp .form-header {
  color: #60acee;
}
.card {
  background: white;
  color: #333;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.card-raise {
  background: white;
  color: #333;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}
.card-header {
  font-size: 14px;
  line-height: 16px;
  padding: 15px;
  border-bottom: 1px solid #f3f3f3;
  font-weight: normal;
}
.card-header-figure {
  font-size: 14px;
  line-height: 1;
  padding: 4px 2px;
  text-align: center;
  font-weight: bold;
  min-width: 22px;
  background-color: #777;
  color: #fff;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  margin: -3px 8px;
}
.card-footer {
  font-size: 14px;
  line-height: 16px;
  padding: 15px;
  border-top: 1px solid #f3f3f3;
  font-weight: normal;
}
/*Pages*/
.layout-m {
  max-width: 960px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.layout-s {
  max-width: 640px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.graphicWithThemeColor {
  text-align: center;
}
.graphicWithThemeColor > span {
  max-width: 90%;
}
.graphicWithThemeColor > span::before {
  position: absolute;
  display: block;
  content: "";
  background-color: #16a30e;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}
.studentApp .graphicWithThemeColor > span::before {
  background-color: #eaaa12;
}
.teacherApp .graphicWithThemeColor > span::before {
  background-color: #429eed;
}
.graphicWithThemeColor img {
  max-width: 100%;
}
.text-inst {
  color: #333;
  display: block;
  margin-bottom: 15px;
  font-weight: 500;
}
.remark {
  font-size: 12px;
  color: #aaa;
}
.remark-forButton {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  padding: 3px 14px;
}
.dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999999;
  text-align: center;
}
.dialog-container::after {
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 0;
  height: 100%;
  visibility: hidden;
  margin-right: -1px;
}
.dialog-container .dialog {
  display: inline-block;
  vertical-align: middle;
  max-width: 98%;
  box-shadow: rgba(0, 0, 0, 0.247059) 0px 14px 45px, rgba(0, 0, 0, 0.219608) 0px 10px 18px;
}
.dialog-container .dialog img {
  max-width: 100%;
}
.dialog-container .dialog-yesno {
  width: 90%;
  max-width: 500px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.247059) 0px 14px 45px, rgba(0, 0, 0, 0.219608) 0px 10px 18px;
  border-radius: 2px;
  padding: 30px 30px 5px 30px;
  text-align: left;
}
.dialog-container .dialog-yesno > div {
  margin-bottom: 25px;
}
.dialog-container .dialog-yesno .dialog-buttons {
  text-align: right;
}
.dialog-container .dialog-yesno .dialog-buttons::after {
  display: block;
  content: "";
  width: 100%;
  height: 0;
  visibility: hidden;
  clear: both;
}
.dialog-container .dialog-yesno .dialog-buttons .button {
  background: transparent !important;
  box-shadow: none;
  min-width: auto;
}
.dialog-container .dialog-yesno .dialog-buttons .button:not(.button-secondary) {
  color: #3f7d1f;
}
.studentApp .dialog-container .dialog-yesno .dialog-buttons .button:not(.button-secondary) {
  color: #d0870e;
}
.teacherApp .dialog-container .dialog-yesno .dialog-buttons .button:not(.button-secondary) {
  color: #0767c0;
}
.dialog-container .dialog-yesno .button {
  padding: 5px 10px;
  margin-left: 15px;
  float: right;
}
@media screen and (min-width: 769px) {
  .dialog-container .dialog-photo,
  .dialog-container .dialog-productPhoto {
    max-width: calc(100% - 90px);
  }
}
.dialog-container .dialog-photo .closeDialog-button {
  position: absolute;
  left: 100%;
  bottom: 100%;
  color: white;
  cursor: pointer;
  width: 35px;
}
.dialog-container .dialog-photo .closeDialog-button > img {
  width: 35px;
}
.dialog-container .dialog-productPhoto {
  box-shadow: none;
}
@media screen and (min-width: 769px) {
  .dialog-container .dialog-productPhoto {
    top: -20px;
  }
}
.dialog-container .dialog-productPhoto::after {
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
  content: "";
}
.dialog-container .dialog-productPhoto > img {
  max-width: calc(100% - 10px);
  max-height: calc(60vh - 40px);
  box-shadow: rgba(0, 0, 0, 0.247059) 0px 14px 45px, rgba(0, 0, 0, 0.219608) 0px 10px 18px;
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  .dialog-container .dialog-productPhoto > img {
    top: -10vh;
  }
}
.dialog-container .dialog-productPhoto .dialog-productPhoto-content {
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  text-align: center;
  height: calc(20% + 20px);
  position: fixed;
  top: calc(80% - 20px);
  width: 800px;
  max-width: 95%;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.dialog-container .dialog-productPhoto .dialog-productPhoto-content:before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  margin-left: -100vh;
  margin-right: -100vh;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 70%, rgba(0, 0, 0, 0.4) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 70%, rgba(0, 0, 0, 0.4) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 70%, rgba(0, 0, 0, 0.4) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#66000000', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.dialog-container .dialog-productPhoto .dialog-productPhoto-content::after {
  display: inline-block;
  vertical-align: bottom;
  content: "";
  width: 0;
  height: 100%;
  visibility: hidden;
  margin-right: -1px;
}
.dialog-container .dialog-productPhoto .dialog-productPhoto-content > span {
  display: inline-block;
  vertical-align: bottom;
  max-width: 98%;
  text-align: left;
}
.dialog-container .dialog-productPhoto .dialog-productPhoto-content > span .dialog-productPhoto-subject {
  height: 28px;
  padding-bottom: 6px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dialog-container .dialog-productPhoto .dialog-productPhoto-content > span .dialog-productPhoto-description {
  height: 34px;
  margin-bottom: 6px;
  line-height: 17px;
  font-size: 13px;
  overflow: hidden;
  font-weight: 300;
}
.dialog-container .dialog-productPhoto .dialog-productPhoto-content > span .dialog-productPhoto-expand {
  font-size: 16px;
  line-height: 16px;
  padding: 3px;
  height: 22px;
  margin: 0 auto 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.dialog-container .dialog-productPhoto .dialog-productPhoto-content.expand:before {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.dialog-container .dialog-productPhoto .dialog-productPhoto-content.expand > span {
  height: 100%;
}
.dialog-container .dialog-productPhoto .dialog-productPhoto-content.expand > span .dialog-productPhoto-description {
  height: calc(100% - 28px - 28px - 6px);
  overflow-y: auto;
}
.dialog-container .dialog-productPhoto .dialog-productPhoto-content.expand > span .dialog-productPhoto-expand {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media screen and (max-width: 768px) {
  .dialog-container .dialog-productPhoto .dialog-productPhoto-content {
    height: 30%;
    top: 70%;
  }
}
.dialog-container .dialog-productPhoto.noRemark .dialog-productPhoto-content > span .dialog-productPhoto-subject {
  height: 66px;
  padding-bottom: 0;
  line-height: 22px;
  margin-bottom: 6px;
  white-space: normal;
  text-overflow: initial;
}
.dialog-container .dialog-productPhoto.noRemark .dialog-productPhoto-content > span .dialog-productPhoto-description {
  display: none !important;
}
.dialog-container .dialog-productPhoto.noRemark .dialog-productPhoto-content.expand > span .dialog-productPhoto-subject {
  height: calc(100% - 24px - 6px);
  overflow-y: auto;
}
.dialog-container .dialog-productPhoto .closeDialog-button {
  position: absolute;
  left: 100%;
  bottom: 100%;
  color: white;
  cursor: pointer;
  width: 35px;
}
.dialog-container .dialog-productPhoto .closeDialog-button > img {
  width: 35px;
}
.page-topBar {
  padding: 25px 12px;
  border-bottom: 1px solid #ddd;
  font-size: 24px;
  line-height: 32px;
}
.page-topBar .page-back-btn,
.page-topBar .page-close-btn {
  width: 32px;
  height: 32px;
  background-size: 26px 26px;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}
@media screen and (min-width: 769px) {
  .page-topBar .page-back-btn:hover,
  .page-topBar .page-close-btn:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
  }
}
.page-topBar .page-back-btn {
  background-image: url("../images/icon-back-green.png");
  margin-right: 25px;
}
.studentApp .page-topBar .page-back-btn {
  -webkit-filter: hue-rotate(270deg);
  filter: hue-rotate(270deg);
}
.teacherApp .page-topBar .page-back-btn {
  -webkit-filter: hue-rotate(120deg);
  filter: hue-rotate(120deg);
}
.page-topBar .page-close-btn {
  background-image: url("../images/icon-close-green.png");
  margin-left: 25px;
}
.studentApp .page-topBar .page-close-btn {
  -webkit-filter: hue-rotate(270deg);
  filter: hue-rotate(270deg);
}
.teacherApp .page-topBar .page-close-btn {
  -webkit-filter: hue-rotate(120deg);
  filter: hue-rotate(120deg);
}
.page-topBar > div {
  overflow: hidden;
  color: #777;
}
.page-section {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.page-order-header {
  padding: 16px;
  line-height: 30px;
}
.page-order-header > .page-order-header-price {
  font-weight: bold;
  color: #fff;
  background-color: #f19149;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  padding: 0 8px;
}
.studentApp .page-order-header > .page-order-header-price {
  background-color: #0e6ca3;
}
.teacherApp .page-order-header > .page-order-header-price {
  background-color: #f19149;
}
.page-order-header > div {
  font-size: 18px;
  overflow: hidden;
}
@media screen and (min-width: 769px) {
  .page-order-header + .page-floatR {
    margin-top: 16px;
  }
}
.page-QRCode > .card-header {
  border-bottom: 0;
  padding-bottom: 8px;
}
.page-QRCode .page-QRCode-no {
  font-weight: 300;
  font-size: 30px;
  color: #777;
  padding: 0 17px;
}
.page-QRCode .page-QRCode-img {
  width: 200px;
  margin: 15px auto;
}
.page-QRCode .page-QRCode-img > img {
  width: 100%;
}
/* Product list */
.product-item-thumbnail {
  overflow: hidden;
}
.product-item-thumbnail:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=1);
  pointer-events: none;
}
.product-item-thumbnail > img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.product-item-thumbnail > img.portrait {
  width: 100%;
  height: auto;
}
.product-item-row {
  padding: 20px;
}
.product-item-row::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}
.product-item-row:not(:last-of-type) {
  border-bottom: 1px solid #f3f3f3;
}
.product-item-row left + div,
.product-item-row right + div {
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}
.product-item-row left + div > .product-name,
.product-item-row right + div > .product-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.product-item-row .remark {
  margin-top: 4px;
}
.product-item-row .product-item-thumbnail {
  width: 55px;
  height: 44px;
}
.product-item-row .product-item-amount {
  font-size: 24px;
  line-height: 24px;
  color: #45b00d;
  text-align: right;
  vertical-align: bottom;
}
.studentApp .product-item-row .product-item-amount {
  color: #eaad1a;
}
.teacherApp .product-item-row .product-item-amount {
  color: #60acee;
}
.product-item-row .product-item-amount:before {
  content: "×";
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  vertical-align: bottom;
}
.product-item-row .product-item-status {
  clear: both;
  float: left;
  font-size: 13px;
  line-height: 15px;
  min-height: 25px;
  color: #777;
  background-color: #eee;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  margin-top: 10px;
}
.product-item-row .product-item-status > span {
  padding: 5px 12px;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
}
.product-item-row .product-item-status .product-item-status-change {
  background-color: #f19149;
  color: #fff;
  float: left;
}
.product-item-row .product-item-status .product-item-status-change + span {
  display: block;
  overflow: hidden;
}
.product-item-row .product-item-status .product-item-status-return {
  background-color: #8a1a23;
  color: #fff;
  float: left;
}
.product-item-row.past .product-item-amount {
  color: #777;
}
.product-item-row.dim .product-name,
.product-item-row.dim .remark,
.product-item-row.dim right > * {
  color: #aaaaaa !important;
}
.notificationBox .product-item-row {
  cursor: pointer;
}
.notificationBox .product-item-row:hover {
  background: rgba(0, 0, 0, 0.03);
}
.product-item-block {
  background: white;
  color: #333;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  width: 200px;
  padding: 10px;
}
.product-item-block.in-6 {
  width: 16.66667%;
}
.product-item-block.in-5 {
  width: 20%;
}
.product-item-block.in-4 {
  width: 25%;
}
.product-item-block.in-3 {
  width: 33.3333%;
}
.product-item-block.in-2 {
  width: 50%;
}
.product-item-block.addedToCart .product-item-addToCart {
  color: #45b00d;
  /*&:focus, &:active*/
}
.studentApp .product-item-block.addedToCart .product-item-addToCart {
  color: #eaad1a;
}
.teacherApp .product-item-block.addedToCart .product-item-addToCart {
  color: #60acee;
}
.product-item-block.addedToCart .product-item-addToCart:hover {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.product-item-block.addedToCart .product-item-addToCart.adding {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.product-item-block.noRemark .product-item-thumbnail + .product-name {
  overflow: hidden;
  display: -webkit-box;
  white-space: normal;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: 53px;
  line-height: 24px;
  /* (height - padding) / 2 */
  padding-bottom: 2px;
}
.product-item-block.noRemark .remark {
  display: none !important;
}
.product-item-block.disabled right,
.product-item-block.disabled .product-price {
  color: #d2d2d2;
}
.product-item-block.disabled right > .prduction-item-addToCart {
  display: none !important;
}
.product-item-block .product-item-thumbnail {
  cursor: pointer;
  margin-bottom: 10px;
}
.product-item-block .product-item-thumbnail::before {
  content: "";
  display: block;
  padding-top: 66.6667%;
}
.product-item-block .product-item-thumbnail + .product-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 22px;
}
.product-item-block .product-item-thumbnail ~ * {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.product-item-block .product-item-thumbnail > img {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  transform: translate(-50%, -50%) scale(1.02);
  -webkit-transform: translate(-50%, -50%) scale(1.02);
  -ms-transform: translate(-50%, -50%) scale(1.02);
}
.product-item-block .product-item-thumbnail:hover > img {
  transform: translate(-50%, -50%) scale(1.15);
  -webkit-transform: translate(-50%, -50%) scale(1.15);
  -ms-transform: translate(-50%, -50%) scale(1.15);
}
.product-item-block .remark {
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 25px;
}
.product-item-block right {
  font-size: 16px;
  line-height: 30px;
}
.product-item-block .product-item-addToCart {
  font-size: 30px;
  line-height: 30px;
  color: #737970;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  z-index: 2;
  /*&:focus, &:active*/
}
.product-item-block .product-item-addToCart:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
}
.product-item-block .product-item-addToCart.adding {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  color: #45b00d;
}
.studentApp .product-item-block .product-item-addToCart.adding {
  color: #eaad1a;
}
.teacherApp .product-item-block .product-item-addToCart.adding {
  color: #60acee;
}
.product-item-block .product-price {
  line-height: 30px;
  overflow: hidden;
  z-index: 1;
}
.product-price {
  color: #45b00d;
  font-weight: 300;
}
.studentApp .product-price {
  color: #eaad1a;
}
.teacherApp .product-price {
  color: #60acee;
}
/* Cart */
.cart-item {
  padding: 15px;
  border-bottom: 1px solid #f3f3f3;
}
.cart-item > .product-name {
  margin-bottom: 8px;
}
.cart-item > .product-name ~ span {
  vertical-align: middle;
}
.cart-item > .product-name ~ span:first-of-type {
  width: calc((100% - 130px) / 2 + 10px);
}
.cart-item > .product-name ~ span:last-of-type {
  width: calc((100% - 130px) / 2 - 10px);
}
.cart-item > .product-name ~ span.cart-item-control {
  width: 130px;
  height: 38px;
  line-height: 38px;
}
.cart-item > .product-name ~ span.cart-item-control .cart-item-minus,
.cart-item > .product-name ~ span.cart-item-control .cart-item-plus {
  background-color: #dcdcdc;
  color: white;
  width: 38px;
  line-height: 38px;
  border-radius: 38px;
  -moz-border-radius: 38px;
  -webkit-border-radius: 38px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  cursor: pointer;
}
.cart-item > .product-name ~ span.cart-item-control .cart-item-minus:hover,
.cart-item > .product-name ~ span.cart-item-control .cart-item-plus:hover {
  background-color: #cbcbcb;
}
.cart-item > .product-name ~ span.cart-item-control .cart-item-minus:focus,
.cart-item > .product-name ~ span.cart-item-control .cart-item-plus:focus,
.cart-item > .product-name ~ span.cart-item-control .cart-item-minus:active,
.cart-item > .product-name ~ span.cart-item-control .cart-item-plus:active {
  background-color: #ededed;
}
.cart-item > .product-name ~ span.cart-item-control .cart-item-minus.disabled,
.cart-item > .product-name ~ span.cart-item-control .cart-item-plus.disabled {
  background-color: #f4f4f4;
  pointer-events: none;
  cursor: default;
}
.cart-item > .product-name ~ span.cart-item-control .cart-item-amount {
  width: 54px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  vertical-align: middle;
}
.cart-item .product-price,
.cart-item .remark {
  font-size: 14px;
}
.cart-item .cart-item-price {
  font-weight: bold;
  text-align: right;
  line-height: 38px;
}
#cHome {
  max-width: 1600px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
}
@media screen and (max-width: 768px) {
  #cHome {
    width: 100%;
  }
}
#cHome #pMain #blkTabs {
  margin-bottom: 10px;
  height: 127px;
  /* height of #tabScrollableContents */
  overflow: hidden;
  /* hide scrollbar */
}
@media screen and (max-width: 768px) {
  #cHome #pMain #blkTabs {
    height: 122px;
    /* height of #tabScrollableContents */
  }
}
#cHome #pMain #blkPage::after,
#cHome #pSearch #blkSearchResult::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}
#cHome #pMain #blkPage > .product-item-block,
#cHome #pSearch #blkSearchResult > .product-item-block {
  float: left;
  border-top: 1px solid #eee;
  min-width: auto;
}
#cHome #pSearch #blkSearchBox {
  margin: 10px 0;
}
#cHome #pSearch #blkSearchBox .textbox-withIcon {
  min-width: 250px;
}
@media screen and (max-width: 768px) {
  #cHome #pSearch #blkSearchBox {
    margin: 0 10px 10px 10px;
  }
  #cHome #pSearch #blkSearchBox .textbox-withIcon {
    width: 100%;
  }
}
#cHome #blkTray {
  background: white;
  color: #333;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 12px 12px 0 0;
  -moz-border-radius: 12px 12px 0 0;
  -webkit-border-radius: 12px 12px 0 0;
}
#cHome #blkTray #btnTrayToggle {
  height: 60px;
  background-color: #3f7d1f;
  color: white;
  cursor: pointer;
  border-radius: 12px 12px 0 0;
  -moz-border-radius: 12px 12px 0 0;
  -webkit-border-radius: 12px 12px 0 0;
  padding: 19px 15px;
  line-height: 22px;
  font-size: 18px;
}
.studentApp #cHome #blkTray #btnTrayToggle {
  background-color: #d0870e;
}
.teacherApp #cHome #blkTray #btnTrayToggle {
  background-color: #0767c0;
}
#cHome #blkTray #btnTrayToggle > left .fa {
  font-size: larger;
  line-height: inherit;
}
#cHome #blkTray #btnTrayToggle > left #lblNoOfSelectedItems1 {
  font-size: 14px;
  line-height: 1;
  padding: 4px 2px;
  text-align: center;
  font-weight: bold;
  min-width: 22px;
  background-color: white;
  color: #3f7d1f;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
}
@media screen and (min-width: 769px) {
  #cHome #blkTray #btnTrayToggle > left #lblNoOfSelectedItems1 {
    display: none;
  }
}
.studentApp #cHome #blkTray #btnTrayToggle > left #lblNoOfSelectedItems1 {
  color: #d0870e;
}
.teacherApp #cHome #blkTray #btnTrayToggle > left #lblNoOfSelectedItems1 {
  color: #0767c0;
}
#cHome #blkTray #btnTrayToggle > left > * {
  margin-left: 8px;
  vertical-align: middle;
}
#cHome #blkTray #btnTrayToggle > right.fa {
  line-height: inherit;
}
#cHome #blkTray #btnTrayToggle > #lblPrice1 {
  overflow: hidden;
  text-align: right;
  padding: 0 15px;
}
@media screen and (min-width: 769px) {
  #cHome #blkTray #btnTrayToggle > #lblPrice1 {
    display: none;
  }
}
#cHome #blkTray #blkCart {
  position: absolute;
  top: 60px;
  bottom: 112px;
  left: 0;
  right: 0;
  overflow-y: auto;
}
#cHome #blkTray #blkCart::-webkit-scrollbar {
  display: none;
}
#cHome #blkTray #blkCart > .card-header {
  font-size: 16px;
  text-align: right;
}
#cHome #blkTray #blkCart > .card-header #btnClearCart {
  color: #085078;
  cursor: pointer;
  color: #777777;
}
#cHome #blkTray #blkCart > .card-header #btnClearCart:hover {
  -webkit-filter: brightness(1.3);
  filter: brightness(1.3);
}
#cHome #blkTray #blkCart > .card-header #btnClearCart > span + span {
  margin-left: 5px;
}
#cHome #blkTray #blkCartPrice {
  border-top: 1px solid #f3f3f3;
  padding: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
#cHome #blkTray #blkCartPrice > left,
#cHome #blkTray #blkCartPrice > right {
  line-height: 24px;
  margin-bottom: 15px;
}
#cHome #blkTray #blkCartPrice > right {
  font-size: 24px;
  font-weight: bold;
}
#cHome #blkTray #blkCartPrice #lblNoOfSelectedItems2 {
  padding: 0 5px;
}
#cHome #blkTray #blkCartPrice #btnCheckout {
  clear: both;
}
#cHome #blkTray #blkBlankCart {
/*  display: none !important;*/
  text-align: center;
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0;
  right: 0;
}
#cHome #blkTray #blkBlankCart::after {
  height: 100%;
  width: 1px;
  margin-right: -10px;
  display: inline-block;
  content: "";
  vertical-align: middle;
}
#cHome #blkTray #blkBlankCart > span {
  vertical-align: middle;
  width: calc(100% - 5px);
}
#cHome #blkTray #blkBlankCart > span > img {
  width: 190px;
  margin-bottom: 20px;
}
@media (max-height: 550px) {
  #cHome #blkTray #blkBlankCart > span > img {
    height: 180px;
    width: auto;
  }
}
#cHome #blkTray #blkBlankCart > span > div {
  color: #AAA;
}
#cHome #blkTray.blankCart #blkCart,
#cHome #blkTray.blankCart #blkCartPrice {
  display: none !important;
}
#cHome #blkTray.blankCart #blkBlankCart {
  display: block !important;
}
@media screen and (min-width: 769px) {
  #cHome #pMain,
  #cHome #pSearch {
    display: inline-block;
    width: calc(100% - 365px);
    vertical-align: top;
    margin-right: 25px;
  }
  #cHome #blkTray {
    display: inline-block;
    width: 340px;
    vertical-align: top;
    min-height: 417px;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
  }
  #cHome #blkTray #btnTrayToggle {
    pointer-events: none;
  }
  #cHome #blkTray #btnTrayToggle > right.fa {
    display: none !important;
  }
}
@media screen and (min-width: 769px) and (min-height: 582px) {
  #cHome #blkTray {
    position: fixed;
    bottom: 60px;
    top: 105px;
  }
}
@media screen and (min-width: 769px) and (min-height: 582px) {
  #cHome ~ #blkFooter {
    position: fixed;
    bottom: 25px;
  }
}
#blkButtons.layout-m,
#blkFooter.layout-m {
  max-width: 960px;
}
#blkButtons {
  margin: 0 auto;
  margin-bottom: 30px;
}
#blkButtons::after {
  content: "";
  display: block;
  clear: both;
  height: 0px;
  visibility: hidden;
}
#blkButtons .floatR:not(:first-child) {
  margin-right: 15px;
}
#blkFooter {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: right;
  max-width: 1600px;
  width: 95%;
  margin: 0 auto;
}
#blkFooter #lbleClass {
  font-size: 12px;
  line-height: 18px;
  color: #777;
}
#blkFooter #lbleClass > * {
  vertical-align: top;
}
#blkFooter #lbleClass > * + * {
  margin-left: 5px;
}
#blkFooter #lbleClass img {
  height: 18px;
}
#blkTopBar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 70px;
  background-color: #16a30e;
  color: white;
  min-width: 320px;
  font-size: 16px;
  z-index: 10000;
}
.studentApp #blkTopBar {
  background-color: #eaaa12;
}
.teacherApp #blkTopBar {
  background-color: #429eed;
}
#blkTopBar.show {
  /*.opacity(0.9);*/
}
#blkTopBar > #btnLogout {
  line-height: 50px;
  color: #eaeaea;
  padding: 0 10px;
  cursor: pointer;
}
#blkTopBar > #btnLogout > span {
  font-family: 'Noto Sans TC', sans-serif, Arial, Helvetica, sans-serif;
  font-style: normal;
  margin-left: 5px;
}
@media screen and (max-width: 768px) {
  #blkTopBar > #btnLogout > span {
    display: none;
  }
}
#blkTopBar > #btnLogout + #blkTitle {
  overflow: hidden;
}
#blkTopBar > #blkTitle {
  line-height: 70px;
  color: #fff;
  font-weight: 200;
  letter-spacing: 0.5px;
  padding: 0 20px;
  vertical-align: top;
  white-space: nowrap;
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  #blkTopBar > #blkTitle {
    display: none;
  }
}
#blkTopBar > #blkMenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  padding-right: 20px;
  min-width: 320px;
  z-index: 1;
}
#blkTopBar > #blkMenu > a {
  margin-left: 20px;
  color: white;
  font-weight: 500;
  float: right;
}
#blkTopBar > #blkMenu > a:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 23px;
  width: 23px;
  text-align: center;
  line-height: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#blkTopBar > #blkMenu > a#btnMenu:after {
  content: "\f0c9";
}
#blkTopBar > #blkUser {
  font-size: 18px;
  padding: 0 20px;
}
@media screen and (min-width: 769px) {
  #blkTopBar > #blkUser {
    float: right;
  }
}
#blkTopBar > #blkUser::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}
#blkTopBar > #blkUser .topBarButtons,
#blkTopBar > #blkUser > #lblUsername {
  line-height: 70px;
}
#blkTopBar > #blkUser .topBarButtons {
  cursor: pointer;
}
#blkTopBar > #blkUser .topBarButtons:last-child {
  margin-left: 10px;
}
#blkTopBar > #blkUser .topBarButtons > .fa {
  line-height: inherit;
}
#blkTopBar > #blkUser .topBarButtons > .fa {
  font-size: 27px;
  padding: 0 10px;
}
#blkTopBar > #blkUser .topBarButtons .topBarButtons-number {
  position: absolute;
  bottom: 50%;
  left: 50%;
  font-size: 14px;
  line-height: 1;
  padding: 4px 2px;
  text-align: center;
  font-weight: bold;
  min-width: 18px;
  background-color: #eb1111;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
}
#blkTopBar > #blkUser #lblUsername {
  font-weight: 200;
}
#blkTopBar > #blkUser .notificationBox {
  position: fixed;
  top: 70px;
  right: 20px;
  width: calc(100% - 40px);
  max-width: 340px;
  max-height: calc(100% - 70px - 30px);
  background: white;
  color: #333;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  /*

      &.hidePending{
        .opacity(0);
        margin-top:-5px;
        pointer-events: none;
      }


      display: none;*/
}
#blkTopBar > #blkUser .notificationBox .calcHeight {
  top: -10000px;
  z-index: -1;
}
#blkTopBar > #blkUser .notificationBox:before {
  display: block;
  position: absolute;
  top: -10px;
  right: 12px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 9px 10px 9px;
  border-color: transparent transparent #ffffff transparent;
}
#blkTopBar > #blkUser .notificationBox .notificationItems {
  height: calc(100% - 47px);
  overflow-y: auto;
}
#blkTopBar > #blkUser .notificationBox .product-item-row {
  padding: 15px;
}
@media screen and (min-width: 769px) {
  #blkTopBar > #blkUser .notificationBox#blkPending {
    right: 64px;
  }
}
#blkTopBar > #blkUser .notificationBox#blkTopSearch {
  padding: 10px 18px 20px 18px;
}
@media screen and (min-width: 769px) {
  #blkTopBar > #blkUser .notificationBox#blkTopSearch {
    right: 108px;
  }
}
#blkTopBar > #blkUser + #blkTitle {
  overflow: hidden;
}
#blkAlipay {
  padding: 50px 20px 40px;
}
#blkAlipay > img {
  max-width: 100%;
  width: 360px;
  margin: 0 auto 30px;
  display: block;
}
#blkDeposit .card-header + div {
  text-align: center;
  padding: 40px 2.5%;
}
#blkDeposit .card-header + div > span {
  width: auto;
  max-width: 100%;
  text-align: left;
}
#blkDeposit .userBox > img {
  float: left;
  width: 60px;
  margin-right: 20px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}
#blkDeposit .userBox > img + div {
  overflow: hidden;
  font-size: 24px;
  line-height: 30px;
  padding: 15px 0;
  color: #555;
}
#blkDeposit .userBox ~ div {
  margin-left: 80px;
}
#blkDeposit .userBox ~ div#lblBalance {
  font-size: 14px;
}
#blkDeposit .userBox ~ div#lblToBePaid {
  font-size: 24px;
  color: #45b00d;
  font-weight: 200;
}
.studentApp #blkDeposit .userBox ~ div#lblToBePaid {
  color: #eaad1a;
}
.teacherApp #blkDeposit .userBox ~ div#lblToBePaid {
  color: #60acee;
}
#blkFinishPayment {
  line-height: 38px;
  font-size: 24px;
  color: #555;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 25px;
}
#blkFinishPayment > .fa {
  font-size: 38px;
  color: #45b00d;
  line-height: inherit;
  vertical-align: middle;
  margin-right: 15px;
}
#blkFinishPayment > span {
  vertical-align: middle;
}
#blkFinishPayment + .page-section.card {
  padding: 2.5%;
}
@media screen and (max-width: 768px) {
  #blkFinishPayment + .page-section.card > .page-QRCode {
    display: block;
  }
}
/*selectpicker*/
.selector .bootstrap-select .dropdown-toggle {
  background: transparent !important;
  border: 0 !important;
  outline: 0 !important;
  padding: 0;
  box-shadow: none;
  font-size: inherit;
}
.selector .bootstrap-select .caret {
  display: none;
}
.selector .bootstrap-select .dropdown-menu[role="combobox"] {
  border: 0;
  border-radius: 5px;
  box-shadow: 0px 3px 0px 3px rgba(51, 154, 188, 0.4);
  font-size: inherit;
  background: rgba(255, 255, 255, 0.95);
}
.selector .bootstrap-select .dropdown-menu[role="listbox"] {
  font-size: inherit;
  margin-top: 5px;
  background: transparent;
}
.selector .bootstrap-select input.form-control {
  border-radius: 0;
}
.selector .bootstrap-select input.form-control:active,
.selector .bootstrap-select input.form-control:focus {
  outline: none;
  box-shadow: none;
}
.selector .bootstrap-select li {
  margin-left: 0;
}
.selector .bootstrap-select li:hover {
  background: #f7f7f7;
}
.selector .bootstrap-select li a:focus {
  outline: none;
}
/*datepicker*/
#ui-datepicker-div {
  background: rgba(255, 255, 255, 0.95);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 0px 3px rgba(51, 154, 188, 0.4);
  border: none;
  max-width: 80%;
}
#ui-datepicker-div .ui-widget-header {
  border: none;
  background: #f7f7f7;
  color: #222222;
  font-weight: normal;
}
#ui-datepicker-div .ui-state-default,
#ui-datepicker-div .ui-widget-content #ui-datepicker-div .ui-state-default,
#ui-datepicker-div .ui-widget-header .ui-state-default {
  border: none;
  background: transparent;
  font-weight: normal;
  color: #555555;
}
.ui-datepicker td span,
.ui-datepicker td a {
  text-align: center;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: none;
  background: transparent;
  font-weight: normal;
  color: #212121;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  top: initial;
  text-align: center;
  cursor: pointer;
}
#ui-datepicker-div .ui-datepicker-prev::before {
  display: inline-block;
  color: #6e7174;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  width: 23px;
  text-align: center;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f053";
  vertical-align: middle;
}
#ui-datepicker-div .ui-datepicker-next::before {
  display: inline-block;
  color: #6e7174;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  width: 23px;
  text-align: center;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f054";
  vertical-align: middle;
}
#ui-datepicker-div .ui-datepicker-prev:after,
#ui-datepicker-div .ui-datepicker-next:after {
  display: inline-block;
  content: "";
  height: 100%;
  vertical-align: middle;
}
#ui-datepicker-div .ui-datepicker-prev > span,
#ui-datepicker-div .ui-datepicker-next > span {
  display: none;
}
@media screen and (max-width: 768px) {
  body {
    padding-top: 50px;
  }
  body.showTray {
    overflow: hidden;
  }
  body.showTray #cHome #blkTabs > #tabScrollable {
    overflow: hidden;
  }
  .table-resp,
  .table-resp tbody,
  .table-resp tr,
  .table-resp td {
    display: block;
    width: 100% !important;
  }
  .table-resp thead {
    display: none;
  }
  .table-resp tbody td {
    padding-left: 0;
    padding-right: 0;
  }
  .table-resp tbody td:not(.table-resp-tdFull) {
    border: none;
    padding-left: 40%;
    white-space: normal;
    text-align: left;
  }
  .table-resp tbody td:not(.table-resp-tdFull):before {
    position: absolute;
    top: 10px;
    left: 0;
    width: 35%;
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    content: attr(data-title);
  }
  .table-resp2,
  .table-resp2 tbody,
  .table-resp2 tr,
  .table-resp2 td {
    display: block;
    width: 100% !important;
  }
  .table-resp2 thead {
    display: none;
  }
  .table-resp2 tbody td {
    border: none;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
  }
  .table-resp2 tbody td:before {
    display: block;
    margin-bottom: 5px;
    content: attr(data-title);
    color: #333;
  }
  .button-primary {
    display: block;
  }
  .dialog-container .dialog-photo .closeDialog-button,
  .dialog-container .dialog-productPhoto .closeDialog-button {
    position: fixed;
    left: auto;
    bottom: auto;
    top: 8px;
    right: 8px;
  }
  .page-topBar {
    background-color: #16a30e;
    padding: 5px 10px 5px 5px;
    border-bottom: 0;
    font-size: 18px;
    line-height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10001;
  }
  .studentApp .page-topBar {
    background-color: #eaaa12;
  }
  .teacherApp .page-topBar {
    background-color: #429eed;
  }
  .page-topBar .page-back-btn,
  .page-topBar .page-close-btn {
    width: 40px;
    height: 40px;
    background-size: 20px 20px;
  }
  .page-topBar .page-back-btn {
    background-image: url("../images/icon-back.png");
    margin-right: 10px;
  }
  .page-topBar .page-close-btn {
    background-image: url("../images/icon-close.png");
    margin-left: 10px;
  }
  .page-topBar > div {
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
    font-weight: 300;
    margin-left: 10px;
    margin-right: 10px;
  }
  .page-floatL.remark {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .page-buttons {
    margin: 0 auto 30px;
    width: 95%;
  }
  .page-buttons::after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
  }
  .page-buttons .button {
    float: none;
    margin: 0 0 10px 0;
  }
  #cHome {
    padding-top: 20px;
    margin-bottom: 40px;
  }
  #cHome + #blkFooter {
    bottom: 80px;
  }
  #cHome #blkTray {
    position: fixed;
    z-index: 10001;
    top: 15px;
    bottom: 0;
    left: 10px;
    right: 10px;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    -webkit-transform: translateY(100%) translateY(-60px);
    -ms-transform: translateY(100%) translateY(-60px);
    transform: translateY(100%) translateY(-60px);
  }
  #cHome #blkTray #blkCart .card-header {
    visibility: hidden;
  }
  #cHome #blkTray.showTray {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    background: white;
    color: #333;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  }
  #cHome #blkTray.showTray #btnTrayToggle #lblNoOfSelectedItems1,
  #cHome #blkTray.showTray #btnTrayToggle #lblPrice1 {
    display: none !important;
  }
  #cHome #blkTray.showTray #btnTrayToggle > right.fa {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  #cHome #blkTray.showTray #blkCart .card-header {
    visibility: visible;
  }
  #blkButtons {
    width: 95%;
  }
  #blkButtons .button:first-child {
    float: none;
    margin-bottom: 10px;
  }
  #blkButtons .button-secondary.floatR {
    margin-right: 0;
  }
  #blkTopBar {
    height: 50px;
  }
  #blkTopBar > #blkTitle {
    line-height: 50px;
  }
  #blkTopBar #blkUser .topBarButtons,
  #blkTopBar #blkUser #lblUsername {
    line-height: 50px;
  }
  #blkTopBar > img.showTopMenu {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  #blkTopBar > #blkMenu > a {
    float: left;
  }
  #blkTopBar > #blkMenu > a:not(#btnMenu) {
    transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    top: -100px;
  }
  #blkTopBar > #blkMenu > a:not(#btnMenu).showTopMenu {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
  }
  #blkTopBar > #blkMenu > a#btnMenu.showTopMenu::after {
    content: "\f00d";
  }
  #blkTopBar > #blkMenu > a.showTopMenu {
    display: inline-block;
  }
  #blkTopBar #blkUser {
    padding: 0 10px;
  }
  #blkTopBar #blkUser #lblUsername {
    float: none;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  #blkTopBar #blkUser .notificationBox {
    top: 50px;
    right: 10px;
    width: calc(100% - 20px);
    max-height: calc(100% - 50px - 75px);
  }
  #blkTopBar #blkUser .notificationBox#blkPending::before {
    right: 56px;
  }
  #blkTopBar #blkUser .notificationBox#blkTopSearch::before {
    right: 101px;
  }
  .form-header {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (min-width: 769px) {
  .page-mainFlow {
    overflow: hidden;
  }
  .page-floatL {
    float: left;
    width: 100%;
    max-width: calc(100% - 370px);
    margin-right: 20px;
  }
  .page-floatR {
    float: right;
    width: 350px;
  }
  .page-buttons {
    margin-bottom: 30px;
  }
  .page-buttons::after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
  }
  .page-buttons .floatR:not(:first-child) {
    margin-right: 15px;
  }
}
@media screen and (min-width: 440px) {
  /*datepicker*/
  .ui-datepicker-title {
    margin: 0 1.8em !important;
  }
}
/* Scrollable Tab */
.tabScrollable {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  display: block;
}
.js .tabScrollable {
  /*-ms-overflow-style: -ms-autohiding-scrollbar;*/
}
.js .tabScrollable::-webkit-scrollbar {
  display: none;
}
.tabScrollableContents {
  float: left;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
  display: block;
}
@media screen and (max-width: 768px) {
  .tabScrollableContents {
    padding: 0 8px;
  }
}
.tabScrollableContents-no-transition {
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  -o-transition: all 0s ease;
  transition: all 0s ease;
}
.tabScrollable-link {
  text-decoration: none;
  color: #333;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  min-height: 44px;
  padding: 0 9px;
  width: 93px;
}
.tabScrollable-link:hover {
  -webkit-filter: brightness(1);
  filter: brightness(1);
}
.tabScrollable-link .tabScrollable-thumbnail {
  width: 75px;
  height: 75px;
  border: 2px solid transparent;
  padding: 3px;
  border-radius: 75px;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.tabScrollable-link .tabScrollable-thumbnail > .product-item-thumbnail {
  width: 65px;
  height: 65px;
  border-radius: 65px;
  -moz-border-radius: 65px;
  -webkit-border-radius: 65px;
}
.tabScrollable-link .tabScrollable-thumbnail + div {
  font-size: 14px;
  line-height: 16px;
  padding: 10px 0;
  height: 52px;
  white-space: normal;
}
.tabScrollable-link[aria-selected="true"] {
  color: #45b00d;
}
.studentApp .tabScrollable-link[aria-selected="true"] {
  color: #eaad1a;
}
.teacherApp .tabScrollable-link[aria-selected="true"] {
  color: #60acee;
}
.tabScrollable-link[aria-selected="true"] .tabScrollable-thumbnail {
  border: 2px solid #4db835;
  padding: 3px;
}
.studentApp .tabScrollable-link[aria-selected="true"] .tabScrollable-thumbnail {
  border-color: #eaad1a;
}
.teacherApp .tabScrollable-link[aria-selected="true"] .tabScrollable-thumbnail {
  border-color: #60acee;
}
.tabScrollable-link:hover .tabScrollable-thumbnail {
  border: 2px solid #4db835;
  padding: 3px;
}
.studentApp .tabScrollable-link:hover .tabScrollable-thumbnail {
  border-color: #eaad1a;
}
.teacherApp .tabScrollable-link:hover .tabScrollable-thumbnail {
  border-color: #eaad1a;
}
@media screen and (max-width: 768px) {
  .tabScrollable-link {
    padding: 0 5px;
    width: 80px;
  }
  .tabScrollable-link .tabScrollable-thumbnail {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
  }
  .tabScrollable-link .tabScrollable-thumbnail > .product-item-thumbnail {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
  }
}
.tabScrollable-button {
  /* Reset the button */
  appearance: none;
  background: transparent;
  padding: 0;
  border: 0;
  /* Now style it as needed */
  position: absolute;
  top: 0;
  bottom: 0;
  /* Set the buttons invisible by default */
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tabScrollable-button:focus {
  outline: 0;
}
.tabScrollable-button:hover {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .tabScrollable-button {
    display: none !important;
  }
}
.tabScrollable-button-left {
  left: -1px;
  padding-right: 20px;
  -webkit-transform: translateX(-30px);
  -ms-transform: translateX(-30px);
  transform: translateX(-30px);
  background: -moz-linear-gradient(left, #f8f8f8 0%, #fafafa 31%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(left, #f8f8f8 0%, #fafafa 31%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, #f8f8f8 0%, #fafafa 31%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#00ffffff', GradientType=1);
}
[data-overflowing="both"] ~ .tabScrollable-button-left,
[data-overflowing="left"] ~ .tabScrollable-button-left {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.tabScrollable-button-left .tabScrollable-button-icon {
  left: 1px;
}
.tabScrollable-button-right {
  right: -1px;
  padding-left: 20px;
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #fafafa 69%, #f8f8f8 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #fafafa 69%, #f8f8f8 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fafafa 69%, #f8f8f8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#f8f8f8', GradientType=1);
}
[data-overflowing="both"] ~ .tabScrollable-button-right,
[data-overflowing="right"] ~ .tabScrollable-button-right {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.tabScrollable-button-right .tabScrollable-button-icon {
  right: 1px;
}
.tabScrollable-button-icon {
  width: 15px;
  height: 33px;
  fill: rgba(0, 0, 0, 0.2);
}
.tabScrollable-button-icon.fa {
  font-size: 44px;
}
