﻿@charset "utf-8";

/*Scroll bar*/
::-webkit-scrollbar {width:3px; height:5px;}
::-webkit-scrollbar-track {background: #fff; -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1); width: 3px;}
::-webkit-scrollbar-thumb {background: #ccc; -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);}
::-webkit-scrollbar-thumb:hover {background: #aaa;}
::-webkit-scrollbar-thumb:active {background: #888;-webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);}

/* Button */
/* New update on 20180312 start*/
.searchIcon {background: url(../images/icon-header.png) no-repeat 0 center; background-size: auto 40px; display: inline-block; height: 40px; width: 40px;}
.filterIcon {background: url(../images/icon-header.png) no-repeat -40px center; background-size: auto 40px; display: inline-block; height: 40px; width: 40px;}
.editIcon {background: url(../images/icon-header.png) no-repeat -80px center; background-size: auto 40px; display: inline-block; height: 40px; width: 40px;}
.removeIcon {background: url(../images/icon-header.png) no-repeat -120px center; background-size: auto 40px; display: inline-block; height: 40px; width: 40px;}
.backIcon {background: url(../images/icon-header.png) no-repeat -160px center; background-size: auto 40px; display: block; height: 40px; width: 40px;}
.addIcon {background: url(../images/icon-header.png) no-repeat -200px center; background-size: auto 40px; display: inline-block; height: 40px; width: 40px;}
.settingIcon {background: url(../images/icon-header.png) no-repeat -240px center; background-size: auto 40px; display: inline-block; height: 40px; width: 40px;}
.saveIcon {background: url(../images/icon-header.png) no-repeat -280px center; background-size: auto 40px; display: inline-block; height: 40px; width: 40px;}
.applyIcon {background: url(../images/icon-header.png) no-repeat -320px center; background-size: auto 40px; display: inline-block; height: 40px; width: 40px;}
/* New update on 20180312 end*/

/* CSS Document */
body {font-family: Helvetica, Arial, "微軟正黑體", sans-serif; font-size: 16px; line-height: 1.5em;} /* font size update 20180312 */
a, a:hover, a:focus {color: #2e93d7; cursor: pointer; text-decoration: none;}
a:focus {outline: none;}
.bootstrap-select .dropdown-toggle:focus {outline: none;}
.bootstrap-select .dropdown-toggle:focus {outline: none;}
/*#header {background: #16a20d; color: #fff; display: block; font-size: 18px; min-height: 50px; position: fixed; width: 100vw;}*/ /* 20180612 */
#header {background: #16a20d; color: #fff; display: block; font-size: 18px; min-height: 50px;} /* 20180614 */
.headerTitle {color: #fff; display: table-cell; font-size: 18px; height: 50px; padding-left: 15px; padding-top: 3px; vertical-align: middle;}	/* 20180612 */
#header .text a, #header a .text {color: #fff;}
#header #filter a .text {color: #666;} /* 20180305 updated*/
#header.approved{background: #69b577; transition: background-color 1000ms;}
#header.processing{background: #967950; transition: background-color 1000ms;}
#header.rejected{background: #999999; transition: background-color 1000ms;}
#header.inner{background: #f8bd10; transition: background-color 1000ms;}
#header #function {display: table; height: 50px;}
#header #function > a {display: table-cell; vertical-align: middle;}
#header.approved, #header.processing, #header.rejected {min-height: 40px;}
#header .text {display: table-cell; vertical-align: middle;}
#header #function > span:first-child.text {padding-left: 15px;}
#header #button {padding-left: 0; padding-right: 0; text-align: right; position: absolute; right: 0; top: 5px;}
#header.approved #button, #header.processing #button, #header.rejected #button {top: 0;}
div#search {padding: 0 15px 8px;}
input#inputSearch {background: transparent; border: 0; border-bottom: 1px solid #fff; border-radius: 0; box-shadow: none; color: #fff;}
div#filter {padding: 0 15px 8px;}
div#filter .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {width: 49%;}
div#filter button.btn {background: transparent; color: #fff; border: 0; border-bottom: 1px solid #fff; border-radius: 0; box-shadow: none; padding: 6px;}
div#filter .dropdown-menu {border: none; border-radius: 0px; margin: 0; padding: 0; width: 100%;}
div#filter .dropdown-menu > li > a {padding: 6px;}
#esb-tab .nav-tabs {border-bottom: 0; height: 50px;}
#esb-tab .nav-tabs li {display: table; height: 50px; text-align: center;}
#esb-tab .nav-tabs > li > a {color: rgba(255,255,255,0.5); display: table-cell; padding: 5px; vertical-align: middle;}
#esb-tab .nav-tabs >  li.active > a, #esb-tab .nav-tabs > li.active > a:hover, #esb-tab .nav-tabs > li.active > a:focus {background: transparent; border: 0; color: #fff;}
#esb-tab .nav-tabs > li > a:hover {border: 0;}
#esb-tab .nav > li > a:hover, #esb-tab .nav > li > a:focus {background: transparent;}
#esb-tab .tab-content {background: #f1f1f1; overflow-y: auto;}

#esb-tab .tab-content:before {border-color: transparent transparent #f1f1f1 transparent; border-style: solid; border-width: 0 6.5px 7px 6.5px; content: ''; height: 0; margin-top: -7px; position: absolute; transform: translateX(-50%); width: 0;}
#esb-tab.schedule .tab-content:before {left: 25%;}
#esb-tab.applyLeave .tab-content:before {left: 75%;}


.schoolYear {color: #666; font-size: 18px; height: 40px; padding: 10px 20px;} /* font size update 20180312 */
.eventList {list-style: none; margin-bottom: 2px; padding-left: 0;}
.eventList .event > div {line-height: 1.6em;}
.eventList li {background: #fff; color: #666; margin: 2px 0; padding: 10px 20px;}
.eventTitle {color: #9e7b5e; font-size: 20px; font-weight: bold; line-height: 1.6em;} /* font size and line height update 20180312 */
.schoolEvent .eventCategory {width: 170px;}
.schoolEventTag {background: #8cc63f; color: #fff; float: right; height: 30px; margin-top: -19px; padding: 3px 10px;}

#alertMsg {background: #f1f1f1; font-size: 15px; line-height: 1.5em; min-height: 50px; padding: 10px 15px 5px;} /* font size and line-height update 20180312 */
.alertMsg:before {background: url(../images/icon-alert.png) no-repeat left center; background-size: auto 13px; content: " "; display: block; float: left; height: 13px; margin-left: -18px; margin-top: 3px; width: 13px;} /* background size update on 20180312 */
.alertMsg.collapsed:after {font-family: 'FontAwesome'; color: #999; content: "\f0d7"; float: right; right: 15px;}
.alertMsg:after {font-family: 'FontAwesome'; color: #999; content: "\f0d8"; float: right; right: 15px;}
.alertMsg {color: #c98181; display: block; font-weight: bold; padding-left: 18px;}
.alertMsg:hover, .alertMsg:focus {color: #c98181;}
.alertDetails {padding: 10px 15px 0;}

.reminder:before {background: url(../images/icon-alert.png) no-repeat right center; background-size: auto 13px; content: " "; content: " "; display: block; float: left; height: 13px; margin-left: -18px; margin-top: 3px; width: 13px;} /* bakcground size update on 20180312 */
.reminder {color: #bc8e31; display: block; margin-top: 5px; padding-left: 18px;}


#schoolEventTitle {background: #8cc63f; color: #fff; display: table; font-size: 18px; min-height: 35px; width: 100%;} /* font size update 20180312 */
#schoolEventTitle #button {height: 35px; text-align: right;}
#schoolEventTitle .searchIcon, #schoolEventTitle .filterIcon {height: 35px; width: 35px;}
#schoolEventTitle > div > .text {display: table-cell; height: 35px; vertical-align: middle;}
#main {background: #f1f1f1; overflow-y: auto;}

.applyNew {background: #4db835; border-radius: 50%; bottom: 20px; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); display: block; height: 50px; position: absolute; right: 20px; width: 50px;} /* 20180612 */
.applyNew .addIcon {margin: 5px;}
.remindText {font-weight: bold;}
.alertText {color: #ff6666; font-weight: bold;}

/*----- Add new records ----- */
#header.inner.edit {background: #3f7739; box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);}
#main.inner, #main.edit {display: block; height: calc(100% - 50px); position: absolute; top: 50px; overflow-y: auto; width: 100%;}
#main.detail, #main.edit {background: #fff;}
body .form-control {font-size: 16px;} /* font size update 20180312 */
.fieldTitle.mandatory:before {color: #ff6666; content: "*"; font-size: 20px; font-weight: bold; margin-left: -7px; margin-top: -5px;} /* font size update 20180312 */
.applicationForm .fieldTitle {color: #8c6239; margin: 20px 20px 5px 18px;}	/* 20180622 change left margin from 26x to 32px, 20190128 from 32px to 18px */
.applicationForm .pageTitle {color: #9e7b5e; font-size: 20px; font-weight: bold; margin: 20px 20px 5px 26px;} /* font size update 20180312 */
.applicationForm .fieldInfo {color: #333; font-size: 17px; line-height: 1.5em; margin: 0 20px 0 26px;} /* font size and line height update 20180312 */
.applicationForm a {color: #2e93d7; margin-left: 6px; text-decoration: none;}

/* selection box */
#main.edit .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {width: 100%;}
.applicationForm .bootstrap-select.btn-group .dropdown-toggle .filter-option {line-height: 2em;}
.applicationForm .fieldInput:not(.date) .dropdown-menu {border-radius: 0; margin: 0; max-height: 140px!important; padding: 0; -webkit-box-shadow: none; box-shadow: none;}
.applicationForm .fieldInput:not(.date) > .dropdown-menu {border: 1px solid #e8e8e8;}
.applicationForm .bootstrap-select > .dropdown-toggle.bs-placeholder, .applicationForm .bootstrap-select > .dropdown-toggle.bs-placeholder:active, .applicationForm .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .applicationForm .bootstrap-select > .dropdown-toggle.bs-placeholder:hover {border-color: #ccc; color: #666;}
.applicationForm .infoMissing .bootstrap-select > .dropdown-toggle.bs-placeholder {border-color: #F44336;} /* New class add on 20180312 */

.applicationForm .btn-default:active, .applicationForm .btn-default.active, .applicationForm .open > .dropdown-toggle.btn-default {background-color: #fafafa;}
.applicationForm .bootstrap-select.btn-group .dropdown-toggle .caret {color: #999; right: 8px; margin-top: -2px;}
.applicationForm .btn-default {border: none; border-bottom: 1px solid #ccc; border-radius: 0; padding: 2px 18px;}	/* 20190128 change padding from 6px to 18px */
.applicationForm .infoMissing .btn-default {border: none; border-bottom: 1px solid #F44336; border-radius: 0; padding: 2px 6px;}
.bootstrap-select .btn:focus {outline-color: transparent; outline-offset: 0;}
.bootstrap-select .dropdown-toggle:focus {outline: 0!important;}
.applicationForm .dropdown-menu > li:not(:last-child) {border-bottom: 1px solid #ccc;}
.applicationForm .dropdown-menu > li > a {color: #666;  padding: 10px 6px;}
.applicationForm .inputBox {background: #fafafa; font-style: italic;}
.applicationForm .form-check-label:hover {cursor: pointer;}
/*.applicationForm .timeSlotSelect {width: 33%;}*/	/* 20180619 added */

/* input box */
.applicationForm .dateFieldInput {margin: 0 20px; width: calc(67% - 40px);}	/* 20180619 added */
.applicationForm .fieldInput {margin: 0 10px; width: calc(100% - 40px);}	/* 20180622 change margin from 20px to 26px, 20190128: from 26px to 10px */
.applicationForm .fieldInput.checkboxInfoMissing {background: #dcf7e5; padding-top: 20px;} /* new class add on 20180312 */	/* 20180612 change background color */
.applicationForm .form-control.inputField {border: none; border-bottom: 1px solid #ccc; border-radius: 0; padding: 2px 6px; -webkit-box-shadow: none; box-shadow: none;}
.applicationForm .infoMissing .form-control.inputField {border-bottom: 1px solid #4db835;} /* New classed on 20180312 */ /* 20180612 change color */
.applicationForm .form-control.inputField.returnSelection {padding-right: 25px;}
.applicationForm .returnIcon {background: url(../images/icon-return.png) no-repeat center center; background-size: auto 15px; content: " "; display: block; float: left; height: 20px; margin-left: calc(100% - 20px); margin-top: -24px; width: 20px; z-index: 999;} /* background size update 20180312 */
#inputTitleField, #endDateFeild, #inputRoleField, #inputAwardsField {display: none;}
#endDateFeild table {width: 100%;}
#endDateFeild table .input-group {width: 100%;}
.applicationForm .input-group-addon {border: 0; border-radius: 0; border-bottom: 1px solid #ccc; background-color: #fff; font-size: 14px; color: #999; padding: 6px;} /* Font size update 20180312 */
.applicationForm .infoMissing .input-group-addon {border-bottom: 1px solid #F44336;} /* New class add on 20180312 */
/* date */
.applicationForm #inputDateField .datetimepicker {float: left; margin-right: 10px; margin-top: -5px; width: 50%;}
.applicationForm #inputDateField:after, .applicationForm #endDateFeild:after {content: " "; clear: both; display: block;}
.applicationForm #endDateFeild span {margin-right: 5px;}
.applicationForm #endDateFeild tr {height: 30px;}
.applicationForm #endDateFeild td:first-child {vertical-align: bottom; width: 35px;}
.applicationForm .datetimepicker .dropdown-menu {left: 0 !important;}
.applicationForm td:last-child .datetimepicker .dropdown-menu {left: auto !important;}
.applicationForm td:last-child .datetimepicker .dropdown-menu { right: 0;}
.applicationForm .btn {font-size: 16px;} /* font size update 20180312 */
.applicationForm .dropdown-menu {font-size: 16px;} /* font size update 20180312 */

/*Component*/
#selectComponentField {clear: both; margin-top: 10px;}
#selectComponentField .item {position: relative;}
#selectComponentField .item .text {color: #333; display: block; float: left; font-weight: normal; margin-left: 10px; margin-top: -4px;}
#selectComponentField .form-check {display: block; height: 100%; left: 0; position: relative; top: 0; width: 100%;}

/* input box */
/* new checkbox update on 20180312 start*/
.applicationForm #selectComponentField label {margin-bottom: 7px;}
.applicationForm input[type="checkbox"] {display: none;}
.applicationForm input[type="checkbox"] + .text:before {color: #999; content: "\f096"; cursor: pointer; display: inline-block; font-family: "FontAwesome"; font-style: normal; font-weight: normal; font-variant: normal; line-height: 1; -webkit-font-smoothing:antialiased; margin-right: 5px; speak: none; text-transform: none; width: 1em;}
.applicationForm input[type="checkbox"]:checked + .text:before {animation: effect 250ms ease-in; color: #2e93d7; content: "\f14a"; width: 1em;}
.applicationForm input[type="checkbox"]:disabled + .text:before {color: #aaa;}
.applicationForm input[type="checkbox"]:disabled + .text:before{color: #ccc; content: "\f0c8";}
@keyframes effect{
	0%{transform: scale(0);}
	25%{transform: scale(1);}
	75%{transform: scale(1.1);}
	100%{transform: scale(1);}
}
/* new checkbox update on 20180312 end*/
.applicationForm .mandatoryMsg {font-size: 14px; padding: 20px; width: calc(100% - 40px);} /* font size update 20180312 */
.applicationForm .submission-area {text-align: center; padding: 15px;}
.applicationForm .submission-area button {background: #4db835; color: #fff; font-size: 18px; margin: 20px auto; width: 220px;} /* font size update 20180312 */ /* 20180612 change background color */
.applicationForm .submission-area button a {color: #fff;}/* new style add 20180312 */
.applicationForm .submission-area #cancelButton {background: #dc3545;  width: 220px;} /* 20180620 */

/* attachment */
.applicationForm .attachment {border-bottom: 1px solid #cccccc; display: block; height: 30px; margin-bottom: 5px;}
.applicationForm .removeIcon {background: url(../images/icon-remove.png) no-repeat center center; background-size: 15px 15px; content: " "; display: block; float: left; height: 15px; margin-left: calc(100% - 17px); margin-top: -18px; width: 15px;} /* background size update 20180312*/

/* detail page*/
#main.inner .main {padding: 20px 15px;}
.pageTitle {color: #9e7b5e; font-size: 20px; font-weight: bold; margin-left: 6px;} /* font-size update 20180312 */
.tbl_recordDetails {margin-top: 15px; width: 100%;}
.tbl_recordDetails tr:last-child {border-bottom: 1px solid #eeeddd;}
.tbl_recordDetails td:first-child {width: 100px;}
.tbl_recordDetails .fieldTitle {border-top: 1px solid #eeeddd; color: #999; padding: 6px 6px 0;}
.tbl_recordDetails .fieldInfo {color: #333; font-size: 17px; line-height: 1.5em; padding: 6px;} /* font-size update 20180312 */


/* 20180612 */
/* General Settings for eSchoolBus */
.dim { background:#f1f1f1;}
.mandatoryStar {color: #ff6666; font-size: 20px; font-weight: bold;}
.pending {color: #3689E4}
.approved {color:#16a20d}
.cancelled, .rejected  {color:#ff0000}
.resizeCancel {with:20px; height:20px;}

#esb-tab {background: #16a20d;}
.busTakeSchedule {
    background: #fff;
    padding: 0px 0px;
}
.marginB10 {
    margin-bottom: 10px;
}
table.schedule th, table.schedule td {text-align:center;}
/* parent app */
table.schedule td {vertical-align: middle!important}

/* teacher app */ /* 2018-06-21 */
#esb-teacher-tab {background: #429eeb;}
#esb-teacher-tab .nav-tabs {border-bottom: 0; height: 50px;}
#esb-teacher-tab .nav-tabs li {display: table; height: 50px; text-align: center;}
#esb-teacher-tab .nav-tabs > li > a {color: rgba(255,255,255,0.5); display: table-cell; padding: 5px; vertical-align: middle;}
#esb-teacher-tab .nav-tabs >  li.active > a, #esb-teacher-tab .nav-tabs > li.active > a:hover, #esb-teacher-tab .nav-tabs > li.active > a:focus {background: transparent; border: 0; color: #fff;}
#esb-teacher-tab .nav-tabs > li > a:hover {border: 0;}
#esb-teacher-tab .nav > li > a:hover, #esb-teacher-tab .nav > li > a:focus {background: transparent;}
#esb-teacher-tab .tab-content {background: #f1f1f1; overflow-y: auto;}

#esb-teacher-tab .tab-content:before {border-color: transparent transparent #f1f1f1 transparent; border-style: solid; border-width: 0 6.5px 7px 6.5px; content: ''; height: 0; margin-top: -7px; position: absolute; transform: translateX(-50%); width: 0;}
#esb-teacher-tab.pending .tab-content:before {left: 25%;}
#esb-teacher-tab.handled .tab-content:before {left: 75%;}

#teacher-header {background: #429eeb; color: #fff; display: block; font-size: 18px; min-height: 50px;}
#teacher-header .text a, #teacher-header a .text {color: #fff;}
#teacher-header #filter a .text {color: #666;} /* 20180305 updated*/
#teacher-header.approved{background: #69b577; transition: background-color 1000ms;}
#teacher-header.processing{background: #967950; transition: background-color 1000ms;}
#teacher-header.rejected{background: #999999; transition: background-color 1000ms;}
#teacher-header.inner{background: #429eeb; transition: background-color 1000ms;}
#teacher-header #function {display: table; height: 50px;}
#teacher-header #function > a {display: table-cell; vertical-align: middle;}
#teacher-header.approved, #teacher-header.processing, #teacher-header.rejected {min-height: 40px;}
#teacher-header .text {display: table-cell; vertical-align: middle;}
#teacher-header #function > span:first-child.text {padding-left: 15px;}
#teacher-header #button {padding-left: 0; padding-right: 0; text-align: right; position: absolute; right: 0; top: 5px;}
#teacher-header.approved #button, #teacher-header.processing #button, #teacher-header.rejected #button {top: 0;}

#teacherSubmitButton {background: #429eeb; color: #fff; font-size: 18px; margin: 20px auto; width: 100px;}
#approveButton2 {background: #429eeb; color: #fff; font-size: 18px; margin: 8px auto; width: 220px;}
#cancelButton2 {background: #dc3545; color: #fff; font-size: 18px; margin: 8px auto; width: 220px;} /* 20180622 */
#rejectButton2 {background: #f0ad4e; color: #fff; font-size: 18px; margin: 8px auto; width: 220px;}

.applicationForm .infoMissing .form-control.inputField.teacher {border-bottom: 1px solid #429eeb;}  /* 20180622 */
.applicationForm .fieldTitle.teacher {color: #8c6239; margin: 20px 20px 5px 26px;}
span.fieldTitle {color: #8c6239;}
.applyNew.teacher {background: #429eeb; border-radius: 50%; bottom: 20px; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); display: block; height: 50px; position: absolute; right: 20px; width: 50px;} /* 20180622 */
