@charset "utf-8";
/* CSS Document */

/*
================================================================================ Print ========================================================================
*/
#print_header{
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 15px;
	width:99%;
	clear: left;
	float: left;
	font-size:11px;
	font-weight:bold;
	border-bottom: 1px solid #999999; 
}

.print_table_border{
   border-right-width: 1px;
   border-right-style: solid;
   border-right-color: #999999;
     border-top-width: 1px;
   border-top-style: solid;
   border-top-color: #999999;
}
.search_top_print{
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	color:#000000;
	border-left:1px solid #999999;
	border-bottom:2px solid #999999;
	background-color: #ffffff;
}

.search_row_print{
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
	color:#000000;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
}
.cas_row_print{
	padding-left: 5px;
	padding-right:5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: middle;
		color:#000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	color:#000000;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
	background-color: #ffffff;	

}

.system_row_print{
	padding-left: 5px;
	padding-right:5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: middle;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
	background-color: #ffffff;
}
.hori_line_dashed_print {
   border-bottom-width: 1px;
   border-bottom-style: dashed;
   border-bottom-color: #999999;
}
.search_row_total_print{
   border-top-width: 1px;
   border-top-style: solid;
   border-top-color: #000000;
}
.search_row_total{
   border-top-width: 1px;
   border-top-style: solid;
   border-top-color: #000000;
}
.student_list_entry_print{
	padding: 3px;
	background-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dfdfdf;
}
.summary_board_print{
	float:right;
	background-color: #FFFFFF;
	 border: 1px solid #999999; 
	 margin: 2px
}
.summary_board_print table{
	font-size:9px;
}
