@charset "utf-8";
/* CSS Document */

/* - set all table with border to debug layout
table {border: 1px solid black; collapse: collapse;}
tr {border: 1px solid}
td {border: 1px solid}
*/

#globalTable {width:800px;}
.pageBreakAfter {page-break-after: always;}
table {empty-cells:show;}
.periodAlign {text-align: center;}

/* ! handle table center */
#globalTable {margin-left:auto; margin-right:auto;} /* Firefox */
#globalDiv {text-align:center;} /* IE */

/* School Information */
#schoolInfoTable {width:100%; text-align:center; font-size:8pt;}
#schoolInfoTable .chineseInfo {font-family: "標楷體"}
#schoolInfoTable .englishInfo {font-family: "標楷體"; font-family: Serif;}
#schoolInfoTable .Column1 {width:30%}
#schoolInfoTable .Column3 {width:30%}
.schoolNameField {font-weight:bold; font-size:12pt;}
#reportTitle {font-size:14pt; font-family: Times New Roman;}

/* Student Information */
#studentInfoTable tr td {padding: 0px 8px 0px 8px; font-family: Times New Roman;font-size:12pt;}
#studentInfoTable {width:100%}
#studentInfoTable .Column1 {width:30%}
#studentInfoTable .Column2 {}
#studentInfoTable .Column3 {width:30%}

/* Report Content */
.aReportContent {height: 22cm}
#reportContentTable {width:100%;font-family: Times New Roman;font-size:12pt;}
#reportContentTable .noRecordCell {text-align:center;}
#reportContentTable table tr th, #reportContentTable table tr td {padding: 0px 8px 0px 8px;}
#reportContentTable table caption {text-align: left; font-size:12pt; padding: 10px 0px 5px 8px; font-family: "Arial Rounded MT Bold", Arial, sans-serif;}
.categoryContentTable {width:100%; border-collapse: collapse;}
.categoryContentTable tr td, .categoryContentTable tr th {border: 1px solid black;}

/*
#membershipTable .Column1 {width: 46%}
#membershipTable .Column2 {width: 12%}
#membershipTable .Column3 {width: 27%}
#membershipTable .Column4 {width: 15%}
*/
#membershipTable .Column1 {width: 55%}
#membershipTable .Column3 {width: 25%}
#membershipTable .Column4 {width: 20%}

#AS_by_SchoolTable .Column1 {width: 55%}
#AS_by_SchoolTable .Column2 {}
#AS_by_SchoolTable .Column3 {}

#internalCompTable .Column1 {width: 50%}
#internalCompTable .Column2 {}
#internalCompTable .Column3 {width: 15%}

#externalCompTable .Column1 {width: 50%}
#externalCompTable .Column2 {}
#externalCompTable .Column3 {width: 15%}

#internalExternalCompTable .Column1 {width: 55%}
#internalExternalCompTable .Column2 {width: 25%}
#internalExternalCompTable .Column3 {width: 20%}

#scholarshipTable .Column1 {width:55%}
#scholarshipTable .Column2 {width: 45%}

/* Principal and Date */
#principalAndDateTable {width:100%; table-collapse: collapse; text-align:center;}
#principalAndDateTable .Column1 {width:30%}
#principalAndDateTable .Column2 {}
#principalAndDateTable .Column3 {width:30%}
#principalField {border-top: 1px solid black;}
#dateField {border-top: 1px solid black;}
