{{{TEMPLATE_HOME_HEADER}}}

<table id="eclass_main_frame_table" name="eclass_main_frame_table" width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
<!-- temporary hide till IP 2.0 development starts
  <tr>
    <td background="web_root_path/images/2007a/topbar/top_bg.gif">{{{TEMPLATE_HOME_MENU}}}
<table width="100%" height="88" border="1" cellpadding="0" cellspacing="0">
        <tr>
          <td height="23"><table width="100%" height="23" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td width="10">&nbsp;</td>
                <td class="schoolname">BroadLearning Asia Secondary School</td>
                <td align="right" valign="top"> <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="18"><img src="web_root_path/images/2007a/topbar/langmenu_01.gif" width="18" height="19"></td>
                      <td background="web_root_path/images/2007a/topbar/langmenu_02.gif"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr align="center" valign="middle">
                            <td width="23"><a href="#" onMouseOver="MM_swapImage('t_ifolder','','web_root_path/images/2007a/topbar/icon_ifolder_on.gif',1)" onMouseOut="MM_swapImgRestore()"><img src="web_root_path/images/2007a/topbar/icon_ifolder.gif" alt="iFolder" name="t_ifolder" width="18" height="18" border="0" id="t_ifolder"></a></td>
                            <td  width="23"><a href="#" onMouseOver="MM_swapImage('t_lib','','web_root_path/images/2007a/topbar/icon_library_on.gif',1)" onMouseOut="MM_swapImgRestore()"><img src="web_root_path/images/2007a/topbar/icon_library.gif" alt="Library" name="t_lib" width="18" height="18" border="0" id="t_lib"></a></td>
                            <td width="23"><a href="#" onMouseOver="MM_swapImage('t_log','','web_root_path/images/2007a/topbar/icon_log_on.gif',1)" onMouseOut="MM_swapImgRestore()"><img src="web_root_path/images/2007a/topbar/icon_log.gif" alt="Login Record" name="t_log" width="18" height="18" border="0" id="t_log"></a></td>
                            <td width="23"><a href="#" onMouseOver="MM_swapImage('t_ipro','','web_root_path/images/2007a/topbar/icon_iportfolio_on.gif',1)" onMouseOut="MM_swapImgRestore()"><img src="web_root_path/images/2007a/topbar/icon_iportfolio.gif" alt="iPorfolio" name="t_ipro" width="18" height="18" border="0" id="t_ipro"></a></td>
                            <td width="23"><a href="#" onMouseOver="MM_swapImage('t_imail','','web_root_path/images/2007a/topbar/icon_imail_on.gif',1)" onMouseOut="MM_swapImgRestore()"><img src="web_root_path/images/2007a/topbar/icon_imail.gif" alt="iMail" name="t_imail" width="18" height="18" border="0" id="t_imail"></a></td>
                          </tr>
                        </table></td>
                      <td width="16"><img src="web_root_path/images/2007a/topbar/langmenu_03.gif" width="16" height="19"></td>
                      <td align="center" background="web_root_path/images/2007a/topbar/langmenu_04.gif"><a href="#" onMouseOver="MM_swapImage('t_help','','web_root_path/images/2007a/topbar/icon_help_on.gif',1)" onMouseOut="MM_swapImgRestore()"><img src="web_root_path/images/2007a/topbar/icon_help.gif" alt="eCommunity" name="t_help" width="18" height="18" border="0" id="t_help"></a></td>
                      <td width="17"><img src="web_root_path/images/2007a/topbar/langmenu_05.gif" width="17" height="19"></td>
                      <td background="web_root_path/images/2007a/topbar/langmenu_06.gif"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center" valign="middle" width="23"><a href="#" class="changelang">ENG&nbsp; </a></td>
                            <td><img src="web_root_path/images/2007a/topbar/langmenu_st.gif" width="2" height="19"></td>
							<td width="25" align="center"  valign="middle" ><a href="#" onMouseOver="MM_swapImage('t_logout','','web_root_path/images/2007a/topbar/icon_logout_on.gif',1)" onMouseOut="MM_swapImgRestore()"><img src="web_root_path/images/2007a/topbar/icon_logout.gif" alt="Logout" name="t_logout" width="16" height="15" border="0" id="t_logout"></a></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table> </td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td><table width="100%" height="65" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td width="200">
                  <table height="65" border="0" cellpadding="1" cellspacing="0">
                    <tr>
                      <td width="120" align="center" background="web_root_path/images/2007a/topbar/logobar_bg.gif"><img src="web_root_path/images/2007a/topbar/logo.gif" width="82" height="58"></td>
                      <td width="80" align="center" background="web_root_path/images/2007a/topbar/logobar_per_bg.gif"><img src="web_root_path/images/2007a/topbar/icon_teacher_en.gif" width="71" height="35"></td>
                    </tr>
                  </table>
                </td>
                <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="36">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="bottom" background="web_root_path/images/2007a/topbar/menubar_bg.gif">
<table border="0" cellspacing="0" cellpadding="5">
                                <tr>
                                  <td nowrap><a href="#" class="topmenuoff" onMouseOver="MM_swapImage('ihome','','web_root_path/images/2007a/topbar/icon_home_on.gif',1)" onMouseOut="MM_swapImgRestore()"><img src="web_root_path/images/2007a/topbar/icon_home_off.gif"  name="ihome" width="16" height="14" border="0" align="absmiddle" id="ihome">
                                    Home</a></td>
                                  <td nowrap><a href="#" class="topmenuon"><img src="web_root_path/images/2007a/topbar/icon_cube_on.gif" width="16" height="14" border="0" align="absmiddle">i-Sphere</a>
                                  </td>
                                  <td nowrap><a href="#" class="topmenuoff" onMouseOver="MM_swapImage('cube02','','web_root_path/images/2007a/topbar/icon_cube_on.gif',1)" onMouseOut="MM_swapImgRestore()"><img src="web_root_path/images/2007a/topbar/icon_cube_off.gif" name="cube02" width="16" height="14" border="0" align="absmiddle" id="cube02">eCommunity</a>
                                  </td>
                                  <td nowrap><a href="#" class="topmenuoff" onMouseOver="MM_swapImage('cube03','','web_root_path/images/2007a/topbar/icon_cube_on.gif',1)" onMouseOut="MM_swapImgRestore()"><img src="web_root_path/images/2007a/topbar/icon_cube_off.gif" name="cube03" width="16" height="14" border="0" align="absmiddle" id="cube03">eLearning</a>
                                  </td>
                                  <td nowrap><a href="#" class="topmenuoff" onMouseOver="MM_swapImage('cube04','','web_root_path/images/2007a/topbar/icon_cube_on.gif',1)" onMouseOut="MM_swapImgRestore()"><img src="web_root_path/images/2007a/topbar/icon_cube_off.gif" name="cube04" width="16" height="14" border="0" align="absmiddle" id="cube04">eAdmin</a></td>
                                </tr>
                              </table>
                            </td>
                            <td width="15"><img src="web_root_path/images/2007a/topbar/menubar_corner.gif" width="15" height="36"></td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      <td height="29" background="web_root_path/images/2007a/topbar/submenubar_bg.gif">
<table border="0" cellspacing="0" cellpadding="5">
                          <tr>
                            <td width="10" nowrap><img src="web_root_path/images/2007a/10x10.gif" width="10" height="10"></td>
                            <td nowrap><a href="#" class="topmenuon"><img src="web_root_path/images/2007a/topbar/icon_sub_arrow_on.gif" width="10" height="11" border="0" align="absmiddle">
                              i-Sphere</a> </td>
                            <td nowrap><a href="#" class="topsubmenuoff" onMouseOver="MM_swapImage('sub02','','web_root_path/images/2007a/topbar/icon_sub_arrow_on.gif',1)" onMouseOut="MM_swapImgRestore()"><img src="web_root_path/images/2007a/topbar/icon_sub_arrow_off.gif" name="sub02" width="10" height="11" border="0" align="absmiddle" id="sub02">
                              eCommunity</a> </td>
                            <td nowrap><a href="#" class="topsubmenuoff" onMouseOver="MM_swapImage('sub03','','web_root_path/images/2007a/topbar/icon_sub_arrow_on.gif',1)" onMouseOut="MM_swapImgRestore()"><img src="web_root_path/images/2007a/topbar/icon_sub_arrow_off.gif" name="sub03" width="10" height="11" border="0" align="absmiddle" id="sub03">
                              eLearning</a> </td>
                            <td nowrap><a href="#" class="topsubmenuoff" onMouseOver="MM_swapImage('sub04','','web_root_path/images/2007a/topbar/icon_sub_arrow_on.gif',1)" onMouseOut="MM_swapImgRestore()"><img src="web_root_path/images/2007a/topbar/icon_sub_arrow_off.gif" name="sub04" width="10" height="11" border="0" align="absmiddle" id="sub04">
                              eAdmin</a></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
-->
  <tr>
    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="50" valign="top"> {{{FUNC_MODULE_TITLE}}} </td>
        </tr>
        <tr>
          <td align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
              	<td>
					<div id="leftmenu" style="position:absolute; z-index:1; left: 0px; top: 90px;">
					{{{FUNC_MODULE_MENU}}}
					</div>
                <div id="content" style="padding-left: 150px; width=100%">
                <table width="99%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="13" height="27"><img src="web_root_path/images/2007a/content_01_t.gif" width="13" height="33"></td>
                      <td background="web_root_path/images/2007a/content_02_t.gif" height="33" valign="middle" style="padding-left: 5px">{{{FUNC_TITLE_TAGS}}}</td>
                      <td width="11" height="27"><img src="web_root_path/images/2007a/content_03_t.gif" width="11" height="33"></td>
                    </tr>
                    <tr>
                      <td width="13" background="web_root_path/images/2007a/content_04.gif"><img src="web_root_path/images/2007a/content_04.gif" width="13" height="13"></td>
                      <td align="center" bgcolor="#FFFFFF" height="350" valign="top">{{{HTML_BODY}}}
                      </td>
                      <td width="11" background="web_root_path/images/2007a/content_06.gif"><img src="web_root_path/images/2007a/content_06.gif" width="11" height="13"></td>
                    </tr>
                    <tr>
                      <td width="13" height="10"><img src="web_root_path/images/2007a/content_07.gif" width="13" height="10"></td>
                      <td background="web_root_path/images/2007a/content_08.gif" height="10"><img src="web_root_path/images/2007a/content_08.gif" width="13" height="10"></td>
                      <td width="11" height="10"><img src="web_root_path/images/2007a/content_09.gif" width="11" height="10"></td>
                    </tr>
                  </table>
                  </div>
                  </td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td>{{{TEMPLATE_HOME_FOOTER}}}</td>
  </tr>
</table>
</body>
</html>