{{{TEMPLATE_POPUP_HEADER}}}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="21"><img src="/images/2020a/popup/top_01.gif" width="21" height="31"></td>
    <td align="left" background="/images/2020a/popup/top_02.gif">
    	{{{FUNC_POPUP_TITLE}}}
	    <div id="system_message_box" class="SystemReturnMessage" style="display:block; visibility: hidden;"> 
				<div class="msg_board_left">
			  	<div class="msg_board_right" id="message_body"> 
			  	<a href="#" onclick="document.getElementById('system_message_box').style.display = 'none'; return false;">[Clear]</a>
			  	</div>
				</div>
			</div>
    </td>
    <td width="22"><img src="/images/2020a/popup/top_03.gif" width="22" height="31"></td>
  </tr>
  <tr>
    <td background="/images/2020a/popup/board04.gif"><img src="/images/2020a/popup/board04.gif" width="21" height="16"></td>
    <td align="center" bgcolor="#FFFFFF" class="main_content">
    	{{{HTML_BODY}}}
    </td>
    <td background="/images/2020a/popup/board06.gif"><img src="/images/2020a/popup/board06.gif" width="22" height="10"></td>
  </tr>
  <tr>
    <td height="10"><img src="/images/2020a/popup/board07.gif" width="21" height="10"></td>
    <td height="10" background="/images/2020a/popup/board08.gif"><img src="/images/2020a/popup/board08.gif" width="21" height="10"></td>
    <td height="10"><img src="/images/2020a/popup/board09.gif" width="22" height="10"></td>
  </tr>
</table>

{{{TEMPLATE_POPUP_FOOTER}}}
</body>
</html>