﻿/*>>>> CONTENT.CSS  <<<<*/
@charset "utf-8";
::-webkit-scrollbar {height: 6px; width: 6px;}
::-webkit-scrollbar-track {background: rgba(0,0,0,0.15); border-radius: 3px;}
::-webkit-scrollbar-thumb {background: #bbb; border-radius: 3px;}
body {background: url(/images/customization/standard_lms/module/organization/bg.png) center top repeat-x fixed, linear-gradient(#7ae8cc 40%, #4dc2d6 70%) fixed;}
body {margin:0;	padding:0;/* needed for container min-height */ min-width:990px;}
html, body, table, select, input, textarea {font-family: Verdana, Arial, Helvetica, sans-serif, "微軟正黑體", 新細明體, 細明體_HKSCS, mingliu;}
html, body, table, select, input, textarea {font-size:12px;}
a {cursor: pointer; text-decoration: none;}
a:hover {color: #FF0000;}
select {border: 1px solid #CCC;}
img {border:0}
p.spacer {clear:both; display:block; height:0px; line-height:0px; margin:0px; padding:0px;}
#container {margin:0 auto; display:block;}

/*********************************************************************************/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Top Bar START <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*********************************************************************************/
.top_banner {background: #fff; box-shadow: 0 0 5px #878686; height: 80px;}
.school_logo {float: left; line-height: 1px; margin-top: 8px; margin-left: 15px; width: 70px;}
.school_logo a {border: 0;}
.top_banner_right {float: right;}

.top_language {float: right; height: 80px;}
.top_language ul {line-height: 20px; list-style-type: none; margin: 29px 14px 0 0; padding: 0;}
.top_language ul li {display: inline; float: right}
.top_language ul li a {border:0px; border-radius: 2px; color: #8b8b8b; height:25px; margin-right: 4px; padding: 4px 6px; text-decoration: none;}
.top_language ul li a.top_language_current {background: #b6b6b6; color: #fff;}
.top_language ul li a.language_b5 {font-size:1.2em}
.top_language ul li a:hover {background: #cac9c9; color: #fff;}
.top_user {border-left: 1px solid #e7e7e7; float: right; height: 80px; position: relative;}
.top_user_group {display: block; margin-left: 7px; margin-right: 6px; padding-top: 23px;}
.top_user_group .selectbox_arrow {background:url(/images/customization/standard_lms/module/portal/top_user_selectbox_arrow.gif) no-repeat; display: block; float: right; height: 15px; margin-left: 4px; margin-right: 4px; margin-top: 9px; width: 15px;}
.top_user_name {color: #555; display: block; font-size: 1.1em; float: right; line-height: 33px;}
.top_user_photo {background: #FFF; border: 1px solid #cbcbcb; border-radius: 2px; float:right; height:32px; margin-left: 6px; margin-right: 6px; width:32px;}
.top_user_photo img {display: block; margin-left: auto; margin-right: auto; max-height: 32px; max-width: 32px;}
.top_user:hover {background: #FFF;}
.top_user:hover .selectbox_arrow {background:url(/images/customization/standard_lms/module/portal/top_user_selectbox_arrow_on.gif) no-repeat;}
.top_user:hover .top_user_name {color: #000}
.top_user:hover .top_user_photo {border-color: #9e9e9e}

/*########################## (for drop down menu) Start ##########################*/
.top_menu {float: left; font-size: 1.2em; padding-left: 32px; padding-top: 19px;}
.top_menu ul {list-style: none; margin: 0; padding: 0; position: relative;}
.top_menu ul li {display: table-cell; height: 40px; margin-right: 20px; padding-bottom: 20px; padding-right: 20px; position: relative; vertical-align: middle;}
.top_menu ul li a {border-radius: 5px; color: #333; line-height: 20px; padding: 10px 15px; text-decoration: none; vertical-align: middle;}
.top_menu ul li:hover a {background: #6b67c1; color: #fff;}
.top_menu ul li.current a {background: #4b48b1; color: #fff;}
.top_menu ul li.current a:hover {background: #6b67c1;}
.top_menu ul li.current:hover a {background: #6b67c1; color: #fff;}
.top_menu ul li:hover ul {display:block}
.top_menu ul li:hover ul li a {background: #fff; color: #333;}
.top_menu ul li ul {background: #fff; border-top: 4px solid #4b48b1; display: none; padding: 0; position: absolute; top: 53px; box-shadow: 0 0 5px #b9b9b9;}
.top_menu ul li ul li {border-bottom: 1px solid #d2d2d2; float: left; height:auto; margin: 0; padding:0; width: 100%;}
.top_menu ul li ul li a {border-radius: 0; color: #333; display:block; max-width:400px; text-decoration: none;}
.top_menu ul li ul li a span {text-align: left; white-space: nowrap;}
.top_menu ul li ul li:hover a {background: #ececec; color: #333;}
.top_menu ul li ul li:last-child {border-bottom: none}
.top_menu ul li.current:hover ul li a {background: #fff; color: #333}
.top_menu ul li.current ul li a {background: #fff; color: #333}
.top_menu ul li.current ul li:hover a {background: #ececec; color: #333;}
/*########################## (for user drop down menu) Start ##########################*/
.top_user:hover ul {display:block}
.top_user ul {background: #fff; box-shadow: 0 0 5px #b9b9b9; display: none; font-size: 1.2em; list-style-type: none; margin: 0; padding: 0; position: absolute; right: 0; top: 70px;}
.top_user ul li {border-bottom: 1px solid #d2d2d2; border-radius: 0; float: left; text-align: middle; width: 100%;}
.top_user ul li a {color: #333; display:block; line-height:20px; max-width: 400px; padding: 10px 15px; text-decoration: none;}
.top_user ul li a span {text-align: left; white-space: nowrap;}
.top_user ul li:hover a {background: #ececec; color: #333;}
.top_user ul li:last-child {border-bottom: none;}


/******************************************************************************/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Footer START <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/******************************************************************************/
.footer {bottom: 0; display:block; font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 0.9em; height:20px; margin-bottom: 2px; padding:5px 30px; right: 0;}
.footer span, .footer a {color:#323232; display: block; float: right; line-height:20px; padding:2px;}
.footer a {background:url("/images/customization/standard_lms/module/eclassLogo.png") no-repeat center; background-size: 40px auto; height: 20px; width: 40px;}


/******************************************************************************/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Portal START <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/******************************************************************************/
.board {clear:both; display:block;}
.board_main {display:block; min-height:350px; padding-left: 20px; padding-right: 20px;}
.board_main_content_left {float:left; width:57%}
.board_main_content_right {float:left; width:43%}
.board_main_content {background: #FFF; border: 1px solid #cbcbcb; border-radius: 5px; box-shadow: 0 0 2px #cdcdcd; margin-bottom: 15px; margin-top: 23px; min-height:150px;}
.board_main_content_left .board_main_content {margin-right:10px;}
.board_main_content_right .board_main_content {margin-left:10px;}
.main_content {clear:both; display: block;}

.main_tab {border-bottom:1px solid #d5d5d5; clear: both; font-size: 1.2em; height: 44px;}
.main_tab ul {display: table; list-style-type: none; margin: 0; padding: 0; text-align: center; width:100%;}
.main_tab ul li {border-right: 1px solid #d9d9d9; display: table-cell; height: auto; vertical-align: bottom; width: 25%; white-space: nowrap;}
.main_tab ul li a {border-bottom: 4px solid #fff; color:#01499f; display: block; height:32px; line-height: 42px; min-height: 100%; padding-bottom: 8px;}
.main_tab ul li.current a {border-bottom: 4px solid #119000; color:#108500;}
.main_tab ul li:hover a {border-bottom: 4px solid #28af16; color:#1aa207;}
.main_tab ul li:last-child {border-right:none;}
.tab_style1 ul li a {color:#108500;}
.tab_style1 ul li.current a {border-bottom: 4px solid #2a7766; color:#2a7766;}
.tab_style1 ul li.current:hover a {border-bottom: 4px solid #119000; color:#108500; cursor: default;}
.tab_style1 ul li:hover a {border-bottom: 4px solid #28af16; color:#1aa207;}
.tab_style2 ul li a {color:#01499f;}
.tab_style2 ul li.current a {border-bottom: 4px solid #3b86d2; color:#4175aa;}
.tab_style2 ul li.current:hover a {border-bottom: 4px solid #126dcb; color: #01499f; cursor: default;}
.tab_style2 ul li:hover a {border-bottom: 4px solid #2c90f7; color: #1364c5;}

.icon_attachment {background:url(/images/customization/standard_lms/module/icon_attachment.gif); display:inline-block; height:18px; margin-bottom: -2px; margin-left: 5px; width: 12px;}
.icon_lastvisit {background:url(/images/customization/standard_lms/module/portal_icon_lastvisit.png) no-repeat; color:#999; display:block; float:left; margin-top: 7px; padding-left: 25px;}
.icon_new {background:url(/images/customization/standard_lms/module/alert_new.gif); float: right; height:17px; width:33px;}

.portal_classroom_list {border-bottom:1px solid #d2d2d2; padding:10px 20px 12px 20px;}
.portal_classroom_list:last-child {border-bottom: none;}
.portal_classroom_list .classroom_group {clear:both; padding-left: 150px;}
.portal_classroom_list .classroom_photo {float: left; height: 130px; margin-left: -150px; margin-right: 18px; width: 130px;}
.portal_classroom_list .classroom_name {float:left; line-height:23px; width:100%;}
.portal_classroom_list .classroom_name a {color:#0077ca; clear:both; display:inline-block; font-size:1.3em;}
.portal_classroom_list .classroom_name a:hover {color:#57b0ef}
.portal_classroom_list .classroom_name em {color:#999; clear:both; display: block; font-style: normal; line-height: 18px; margin-top: 3px;}
.portal_classroom_list .classroom_icon_group {margin-top:10px}
.portal_classroom_list .classroom_icon_group span {background: url("/images/customization/standard_lms/module/organization/portal_icon_classroom_big.png") no-repeat; color:#2a7766; display:inline-block; font-size: 1.6em; height:30px; margin-right: 15px; padding-left:37px; width:34px;}
.portal_classroom_list .classroom_icon_group .icon_econtent {background-position: 0 0;}
.portal_classroom_list .classroom_icon_group .icon_assessment {background-position: 0 -90px;}
.portal_classroom_list .classroom_icon_group .icon_forum {background-position: 0 -180px;}
.portal_classroom_list .classroom_icon_group .icon_annoucement {background-position: 0 -270px;}
.portal_classroom_list .classroom_icon_group .icon_dim {color: #d0d0d0; cursor: default;}
.portal_classroom_list .classroom_icon_group .icon_dim.icon_econtent {background-position: 0 -60px;}
.portal_classroom_list .classroom_icon_group .icon_dim.icon_assessment {background-position: 0 -150px;}
.portal_classroom_list .classroom_icon_group .icon_dim.icon_forum {background-position: 0 -240px;}
.portal_classroom_list .classroom_icon_group .icon_dim.icon_annoucement {background-position: 0 -330px;}
.portal_classroom_list .classroom_bottom {margin-top:5px}
.portal_classroom_button {background:#f1a400; border: 0; border-radius: 4px; box-shadow: 0px 2px 0px 0px #d48c00; color:#fff; cursor:pointer; float: right; font-size: 1.2em; height:32px; padding: 4px 10px; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);}
.portal_classroom_button:hover {background:#ffb400;}

.portal_module_list {border-bottom: 1px solid #d2d2d2; padding: 10px 20px 10px 30px;}
.portal_module_list .module_icon {background: url(/images/customization/standard_lms/module/portal_list_module_icon.png) no-repeat; display:block; float:left; height:20px; margin-left: -20px; margin-top: 2px; width:20px;}
.portal_module_list .icon_annoucement {background-position: 0 0;}
.portal_module_list .icon_enotice {background-position: 0 -20px;}
.portal_module_list .module_group {float: left; margin-left: 8px; padding-right: 15px; width: 100%;}
.portal_module_list .module_name {line-height: 23px}
.portal_module_list .module_name a {clear:both; color:#0077ca; display:inline-block; font-size:1.3em;}
.portal_module_list .module_name a:hover {color:#57b0ef;}
.portal_module_list .module_name em {color: #999; clear:both; display: block; font-style: normal; line-height: 18px; margin-top: 5px;}
.portal_module_list .module_photo {border:1px solid #d9d9d9; display:block; float: left; margin-top: 5px;}
.portal_module_list .module_photo img {max-width: 352px;}
.portal_module_list .module_photo:hover {border: 1px solid #999;}
.portal_module_list_new {padding-right: 53px;}
.portal_module_list_more {clear:both; display: block; font-style: normal; margin: 12px 10px;}
.portal_module_list_more a {color:#0077ca;}
.portal_module_list_more a:hover {color:#57b0ef;}
.module_group_right {float: right; margin-right: -38px;}
.module_group_right .end_date {color:#666; display:block; float:left; font-size: 1.3em; margin-right: 8px; width: 160px;}
.module_group_right .end_date em {font-size: 0.8em; font-style:normal;}
.module_group_right .end_date_alert {color:#FF0000; clear:both; float: left; font-size: 1.1em; font-weight: bold;}
.main_content_enotice .portal_module_list {padding-right: 223px;}
.main_content_enotice .module_group_right {margin-right: -173px;}
.main_content_enotice .portal_module_list_new .module_group_right {margin-right: -206px;}

/******************************************************************************/
/*>>>>>>>>>>>>>>>>>>>>>>>>> Scholars Academy START <<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/******************************************************************************/
.school_logo img {height: auto; max-height: 65px; max-width: 83px; width: auto;}