/* Varibles */
/*Secondary / Default*/
/*Kindergarten*/
/*Primary*/
/* Effects */
/* Preset Classes*/
.fill {
  width: 100%;
  height: 100%;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.center {
  text-align: center;
}
.pointer {
  cursor: pointer;
}
.marginB10 {
  margin-bottom: 10px;
}
.marginB20 {
  margin-bottom: 20px;
}
.hide {
  display: none !important;
}
div.show {
  display: block !important;
}
span.show {
  display: inline-block !important;
}
.hidden {
  visibility: hidden;
}
.floatR,
right {
  float: right;
}
.floatL,
left {
  float: left;
}
/* Preset 2 */
.textColor1 {
  color: #085078;
}
.kindergarten .textColor1 {
  color: #652804;
}
.primary .textColor1 {
  color: #1d5d00;
}
.textColor2 {
  color: #3abfcd;
}
.kindergarten .textColor2 {
  color: #f29722;
}
.primary .textColor2 {
  color: #8aca3d;
}
.bgColor1 {
  background-color: #085078;
}
.kindergarten .bgColor1 {
  background-color: #e4860c;
}
.primary .bgColor1 {
  background-color: #62bc44;
}
.roundCorners-5 {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.roundCorners-10 {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/*datepicker*/
#tbxDatepicker {
  cursor: pointer;
}
.form {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto 30px auto;
  background: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}
.form .button {
  margin-bottom: 26px;
}
.kindergarten .form,
.primary .form {
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
}
.sheet {
  padding: 20px;
}
#instructionForm .sheet span, #blkWelcomeMsg span{
	display: inline;
}
#blkFinish #blkFinishMsg .remark span{
	display: inline;
}
.requiredLabel::before {
  position: absolute;
  right: 100%;
  margin-right: 2px;
  top: 0;
  /*
  content: "*";
  display: block;
  */
  padding: inherit;
}
.requiredLabel::after {
  margin-left: 2px;
  content: "*";
  display: inline-block;
}
.button-add::before {
  display: inline-block;
  content: "\f067";
  font-family: FontAwesome;
  font-size: inherit;
  line-height: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 8px;
}
.item {
  margin: 0 0 26px 0;
}
.item.item-half {
  display: inline-block;
  width: calc(50% - 2px);
  padding-right: 10px;
  vertical-align: top;
  border-right: 1px solid #eee;
}
.item.item-half:nth-of-type(2n) {
  padding-left: 10px;
  padding-right: 0;
  border-right: 0;
}
.item.item-half .itemInput {
  width: 100%;
  margin-bottom: 18px;
}
.item.item-In3 {
  display: inline-block;
  width: 33.3333%;
  padding-right: 8px;
  vertical-align: top;
}
@media screen and (min-width: 769px) {
  .item.item-In3 {
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
  }
}
.item.item-In3:nth-of-type(3n) {
  padding-right: 0;
  border-right: 0;
}
@media screen and (min-width: 1100px) {
  .item.item-In3:nth-of-type(3n) {
    margin-left: -1px;
    padding-left: 8px;
  }
}
@media screen and (max-width: 1099px) {
  .item.item-In3:nth-of-type(3n) {
    width: 100%;
    border-left: 0;
  }
}
@media screen and (min-width: 769px) {
  .item.item-In3:nth-of-type(3n-1) {
    padding-left: 8px;
    margin-left: -1px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1099px) {
  .item.item-In3:nth-of-type(3n-1) {
    width: 50%;
    padding-left: 10px;
    padding-right: 0;
    border-right: 0;
  }
}
.item.item-In3:nth-of-type(3n-2) {
  border-left: 0;
}
@media screen and (min-width: 769px) and (max-width: 1099px) {
  .item.item-In3:nth-of-type(3n-2) {
    width: 50%;
  }
}
.item.item-In3 .itemInput {
  width: 100%;
  margin-bottom: 18px;
}
.itemLabel {
  color: #777;
  font-weight: 300;
  margin-bottom: 7px;
}
.itemInput {
  width: 100%;
  vertical-align: top;
}
.itemInput.itemInput-half {
  width: 50%;
  padding-right: 20px;
  vertical-align: top;
}
.itemInput.itemInput-half:nth-of-type(3n) {
  padding-right: 0;
}
.itemInput input[type="text"],
.itemInput input[type="password"],
.itemInput textarea {
  width: 100%;
}
.itemInput input[type="text"] ~ .remark-warn,
.itemInput input[type="password"] ~ .remark-warn,
.itemInput textarea ~ .remark-warn {
  float: right;
}
.itemInput .remark {
  margin-top: 5px;
}
.itemInput .remark.remark-warn {
  color: #dd2c00;
}
.itemInput .remark.remark-warn + .remark {
  overflow: hidden;
}
.itemInput .remark-warn {
  float: right;
}
.itemInput-warn .textbox-floatlabel > input:not(.notEmpty):focus[type="text"] + .textboxLabel,
.itemInput-warn .textbox-floatlabel > input:not(.notEmpty):focus[type="password"] + .textboxLabel,
.itemInput-warn .textbox-floatlabel > textarea:not(.notEmpty):focus + .textboxLabel {
  color: #dd2c00 !important;
}
.itemInput-warn:not(.notEmpty) .remark-warn {
  display: block !important;
}
.itemInput-warn input:not(.notEmpty)[type="text"],
.itemInput-warn input:not(.notEmpty)[type="password"],
.itemInput-warn textarea:not(.notEmpty),
.itemInput-selector.itemInput-warn:not(.notEmpty) .selector {
  border-color: #dd2c00 !important;
}
.itemInput-choice > span:not(.remark),
.itemInput-choice > div:not(.remark) {
  display: inline-block;
}
.itemInput-choice input[type="checkbox"] + label,
.itemInput-choice input[type="radio"] + label {
  margin-right: 30px;
}
.itemInput-selector > .selector:not(:last-of-type) {
  margin-right: 15px;
}
.itemInput-complex {
  margin-bottom: 18px;
}
.itemLabel + .itemInput ~ .itemInput .itemInput-complex {
  border-top: 1px solid #eee;
  padding-top: 15px;
}
.itemInput-complex::after {
  display: block;
  content: "";
  clear: both;
  visibility: hidden;
  height: 0;
}
.itemInput-complex-order {
  float: left;
  line-height: inherit;
  font-size: x-large;
  margin-top: 15px;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 5px;
  color: #085078;
  font-weight: 300;
}
.kindergarten .itemInput-complex-order {
  color: #652804;
}
.primary .itemInput-complex-order {
  color: #1d5d00;
}
.itemLabel + .itemInput ~ .itemInput .itemInput-complex-order {
  margin-top: 30px;
}
.button-deleteComplex {
  float: right;
  line-height: inherit;
  font-size: x-large;
  margin-top: 15px;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 5px;
}
.itemLabel + .itemInput ~ .itemInput .button-deleteComplex {
  margin-top: 30px;
}
.button-deleteComplex + .itemInput-complex {
  overflow: hidden;
}
.itemInput-file {
  width: auto;
  display: inline-block;
}
.itemInput-file:::after {
  display: block;
  content: "";
  height: 0;
  visibility: hidden;
  clear: both;
}
.itemInput-file input[type="file"] {
  width: 0.1px;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
  visibility: hidden;
  outline: 0 !important;
}
.itemInput-file input[type="file"] + label {
  display: inline-block;
  float: left;
  padding: 3px 12px;
  text-align: center;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
  color: #555;
  font-weight: 400;
  font-size: inherit;
  border: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 16px;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.kindergarten .itemInput-file input[type="file"] + label {
  padding: 5px 16px;
  font-size: 18px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.itemInput-file input[type="file"]:hover + label,
.itemInput-file input[type="file"]:focus + label {
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
}
.uploadedFiles {
  margin-bottom: 10px;
  font-size: smaller;
}
.uploadedFiles .uploadedFile:last-child {
  display: inline-block;
  border-bottom: 1px solid #d2d2d2;
}
.uploadedFiles .uploadedFile .icon-button {
  color: #777;
}
.textbox-half,
.itemData-complex-half {
  width: calc(50% - 10px);
  display: inline-block;
}
.textbox-In3,
.itemData-complex-In3 {
  width: calc(33.3333% - 10px);
  display: inline-block;
}
.textbox-In4,
.itemData-complex-In4 {
  width: calc(25% - 10px);
  display: inline-block;
}
.textbox-In5,
.itemData-complex-In5 {
  width: calc(20% - 10px);
  display: inline-block;
}
.textbox-In6,
.itemData-complex-In6 {
  width: calc(16.6667% - 10px);
  display: inline-block;
}
.textbox-In7,
.itemData-complex-In7 {
  width: calc(14.2857% - 10px);
  display: inline-block;
}
.textbox-half,
.textbox-In3,
.textbox-In4,
.textbox-In5,
.textbox-In6,
.textbox-In7,
.itemData-complex-half,
.itemData-complex-In3,
.itemData-complex-In4,
.itemData-complex-In5,
.itemData-complex-In6,
.itemData-complex-In7 {
  margin-left: 5px;
  margin-right: 5px;
  float: left;
}
.textbox-half:first-of-type,
.itemData-complex-half:first-of-type {
  width: calc(50% - 5px);
  margin-left: 0;
}
.textbox-In3:first-of-type,
.itemData-complex-In3:first-of-type {
  width: calc(33.3333% - 5px);
  margin-left: 0;
}
.textbox-In4:first-of-type,
.itemData-complex-In4:first-of-type {
  width: calc(25% - 5px);
  margin-left: 0;
}
.textbox-In5:first-of-type,
.itemData-complex-In5:first-of-type {
  width: calc(20% - 5px);
  margin-left: 0;
}
.textbox-In6:first-of-type,
.itemData-complex-In6:first-of-type {
  width: calc(16.6667% - 5px);
  margin-left: 0;
}
.textbox-In7:first-of-type,
.itemData-complex-In7:first-of-type {
  width: calc(14.2857% - 5px);
  margin-left: 0;
}
.textbox-half:nth-child(2),
.itemData-complex-half:nth-child(2) {
  width: calc(50% - 5px);
  margin-right: 0;
}
.textbox-In3:nth-child(3),
.itemData-complex-In3:nth-child(3) {
  width: calc(33.3333% - 5px);
  margin-right: 0;
}
.textbox-In4:nth-child(4),
.itemData-complex-In4:nth-child(4) {
  width: calc(25% - 5px);
  margin-right: 0;
}
.textbox-In5:nth-child(5),
.itemData-complex-In5:nth-child(5) {
  width: calc(20% - 5px);
  margin-right: 0;
}
.textbox-In6:nth-child(6),
.itemData-complex-In6:nth-child(6) {
  width: calc(16.6667% - 5px);
  margin-right: 0;
}
.textbox-In7:nth-child(7),
.itemData-complex-In7:nth-child(7) {
  width: calc(14.2857% - 5px);
  margin-right: 0;
}
@media screen and (min-width: 769px) {
  .itemInput-file + .button {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 970px) {
  .textbox-In4:nth-child(1),
  .textbox-In4:nth-child(2),
  .textbox-In5:nth-child(1),
  .textbox-In5:nth-child(2),
  .textbox-In6:nth-child(1),
  .textbox-In6:nth-child(2),
  .textbox-In6:nth-child(3),
  .textbox-In7:nth-child(1),
  .textbox-In7:nth-child(2),
  .textbox-In7:nth-child(3),
  .textbox-In7:nth-child(4),
  .textbox-In7:nth-child(5),
  .itemData-complex-In4:nth-child(1),
  .itemData-complex-In4:nth-child(2),
  .itemData-complex-In5:nth-child(1),
  .itemData-complex-In5:nth-child(2),
  .itemData-complex-In6:nth-child(1),
  .itemData-complex-In6:nth-child(2),
  .itemData-complex-In6:nth-child(3),
  .itemData-complex-In7:nth-child(1),
  .itemData-complex-In7:nth-child(2),
  .itemData-complex-In7:nth-child(3),
  .itemData-complex-In7:nth-child(4),
  .itemData-complex-In7:nth-child(5) {
    margin-bottom: 18px;
  }
  .textbox-In4,
  .textbox-In5:nth-child(1),
  .textbox-In5:nth-child(2),
  .textbox-In7:nth-child(4),
  .textbox-In7:nth-child(5),
  .textbox-In7:nth-child(6),
  .textbox-In7:nth-child(7),
  .itemData-complex-In4,
  .itemData-complex-In5:nth-child(1),
  .itemData-complex-In5:nth-child(2),
  .itemData-complex-In7:nth-child(4),
  .itemData-complex-In7:nth-child(5),
  .itemData-complex-In7:nth-child(6),
  .itemData-complex-In7:nth-child(7) {
    width: calc(50% - 10px);
    display: inline-block;
  }
  .textbox-In4:nth-child(1),
  .textbox-In4:nth-child(3),
  .textbox-In5:nth-child(1),
  .textbox-In7:nth-child(4),
  .textbox-In7:nth-child(6),
  .itemData-complex-In4:nth-child(1),
  .itemData-complex-In4:nth-child(3),
  .itemData-complex-In5:nth-child(1),
  .itemData-complex-In7:nth-child(4),
  .itemData-complex-In7:nth-child(6) {
    width: calc(50% - 5px);
    margin-left: 0;
  }
  .textbox-In4:nth-child(2),
  .textbox-In4:nth-child(4),
  .textbox-In5:nth-child(2),
  .textbox-In7:nth-child(5),
  .textbox-In7:nth-child(7),
  .itemData-complex-In4:nth-child(2),
  .itemData-complex-In4:nth-child(4),
  .itemData-complex-In5:nth-child(2),
  .itemData-complex-In7:nth-child(5),
  .itemData-complex-In7:nth-child(7) {
    width: calc(50% - 5px);
    margin-right: 0;
  }
  .textbox-In5:nth-child(3),
  .textbox-In5:nth-child(4),
  .textbox-In5:nth-child(5),
  .textbox-In6,
  .textbox-In7:nth-child(1),
  .textbox-In7:nth-child(2),
  .textbox-In7:nth-child(3),
  .itemData-complex-In5:nth-child(3),
  .itemData-complex-In5:nth-child(4),
  .itemData-complex-In5:nth-child(5),
  .itemData-complex-In6,
  .itemData-complex-In7:nth-child(1),
  .itemData-complex-In7:nth-child(2),
  .itemData-complex-In7:nth-child(3) {
    width: calc(33.3333% - 10px);
    display: inline-block;
  }
  .textbox-In5:nth-child(3),
  .textbox-In6:nth-child(1),
  .textbox-In6:nth-child(4),
  .textbox-In7:nth-child(1),
  .itemData-complex-In5:nth-child(3),
  .itemData-complex-In6:nth-child(1),
  .itemData-complex-In6:nth-child(4),
  .itemData-complex-In7:nth-child(1) {
    width: calc(33.3333% - 5px);
    margin-left: 0;
  }
  .textbox-In5:nth-child(5),
  .textbox-In6:nth-child(3),
  .textbox-In6:nth-child(6),
  .textbox-In7:nth-child(3),
  .itemData-complex-In5:nth-child(5),
  .itemData-complex-In6:nth-child(3),
  .itemData-complex-In6:nth-child(6),
  .itemData-complex-In7:nth-child(3) {
    width: calc(33.3333% - 5px);
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .sheet {
    padding: 10px;
  }
  .item,
  .item.item-half,
  .item.item-half:nth-child(2n),
  .item.item-In3 {
    width: 100%;
    margin-bottom: 20px;
    padding-right: 0;
    padding-left: 0;
    border-right: 0;
  }
  .itemInput,
  .itemInput.itemInput-half {
    width: 100%;
  }
  .itemInput.itemInput-half {
    padding-right: 0;
  }
  .itemInput.itemInput-half + .itemInput-half {
    margin-top: 15px;
  }
  .itemInput-choice > span:not(.remark),
  .itemInput-choice > div:not(.remark),
  .itemInput-choice > table.table-resp td {
    display: block;
    padding-bottom: 8px;
  }
  .itemInput-choice input[type="checkbox"] + label,
  .itemInput-choice input[type="radio"] + label {
    margin-right: 0;
  }
  .itemInput-file + .button {
    margin-top: 10px;
  }
  .textbox-half,
  .textbox-In3,
  .textbox-In4,
  .textbox-In5,
  .textbox-In6,
  .textbox-In7,
  .itemData-complex-half,
  .itemData-complex-In3,
  .itemData-complex-In4,
  .itemData-complex-In5,
  .itemData-complex-In6,
  .itemData-complex-In7 {
    display: block;
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 18px;
  }
  .textbox-half:nth-child(2),
  .textbox-In3:nth-child(3),
  .textbox-In4:nth-child(4),
  .textbox-In5:nth-child(5),
  .textbox-In6:nth-child(6),
  .textbox-In7:nth-child(7),
  .itemData-complex-half:nth-child(2),
  .itemData-complex-In3:nth-child(3),
  .itemData-complex-In4:nth-child(4),
  .itemData-complex-In5:nth-child(5),
  .itemData-complex-In6:nth-child(6),
  .itemData-complex-In7:nth-child(7) {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 360px) {
  .itemInput-selector > .selector select {
    padding-right: 25px;
  }
}
@media screen and (max-width: 320px) {
  .itemInput-selector > .selector {
    margin-right: 0 !important;
    display: block;
  }
}
/*Confirmation*/
.itemData {
  width: 100%;
  vertical-align: top;
}
.item.item-half .itemData,
.item.item-In3 .itemData {
  width: 100%;
  margin-bottom: 18px;
}
.item.item-half .itemData:last-child,
.item.item-In3 .itemData:last-child {
  margin-bottom: 0;
}
.itemData-half {
  width: 50%;
  padding-right: 20px;
  vertical-align: top;
}
.itemData-half + .itemData-half {
  padding-right: 0;
}
.dataLabel {
  font-size: 12px;
  color: #777;
  font-weight: 400;
}
.itemData-complex {
  margin-bottom: 18px;
}
.itemLabel + .itemData ~ .itemData .itemData-complex {
  border-top: 1px solid #eee;
  padding-top: 15px;
}
.itemData-complex::after {
  display: block;
  content: "";
  clear: both;
  visibility: hidden;
  height: 0;
}
.itemData-complex-order {
  float: left;
  line-height: inherit;
  font-size: x-large;
  margin-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 5px;
  color: #085078;
  font-weight: 300;
}
.kindergarten .itemData-complex-order {
  color: #652804;
}
.primary .itemData-complex-order {
  color: #1d5d00;
}
.itemLabel + .itemData ~ .itemData .itemData-complex-order {
  margin-top: 18px;
}
.itemData-complex-order + .itemData-complex {
  overflow: hidden;
}
.dataValue {
  color: #085078;
}
.kindergarten .dataValue {
  color: #652804;
}
.primary .dataValue {
  color: #1d5d00;
}
.dataValue::after {
  display: block;
  content: "";
  position: absolute;
  top: -3px;
  left: 0px;
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px rgba(116, 197, 194, 0.2);
}
.dataLabel + .dataValue {
  margin-top: 5px;
}
.dataValue.dataValue-empty {
  padding: 0;
  background-color: transparent;
  color: #ddd;
}
.dataValue.uploadedFiles {
  font-size: inherit;
}
.dataValue.uploadedFiles .uploadedFile {
  margin-bottom: 2px;
}
.dataValue.uploadedFiles .uploadedFile::before {
  display: inline-block;
  content: "\f15b";
  font-family: FontAwesome;
  font-size: inherit;
  width: 23px;
  text-align: center;
  line-height: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: top;
  color: #085078;
}
.dataValue.uploadedFiles .uploadedFile:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  /*.itemData-half
  {
    width:100%;
    padding-right:0
  }

  .itemData-half+.itemData-half
  {
    margin-top: 15px;
  }*/
}
