/* Varibles */
/*Secondary / Default*/
/*Kindergarten*/
/*Primary*/
/* Effects */
/* Preset Classes*/
.fill {
  width: 100%;
  height: 100%;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.center {
  text-align: center;
}
.pointer {
  cursor: pointer;
}
.marginB10 {
  margin-bottom: 10px;
}
.marginB20 {
  margin-bottom: 20px;
}
.hide {
  display: none !important;
}
div.show {
  display: block !important;
}
span.show {
  display: inline-block !important;
}
.hidden {
  visibility: hidden;
}
.floatR,
right {
  float: right;
}
.floatL,
left {
  float: left;
}
/* Preset 2 */
.textColor1 {
  color: #085078;
}
.kindergarten .textColor1 {
  color: #652804;
}
.primary .textColor1 {
  color: #1d5d00;
}
.textColor2 {
  color: #3abfcd;
}
.kindergarten .textColor2 {
  color: #f29722;
}
.primary .textColor2 {
  color: #8aca3d;
}
.bgColor1 {
  background-color: #085078;
}
.kindergarten .bgColor1 {
  background-color: #e4860c;
}
.primary .bgColor1 {
  background-color: #62bc44;
}
.roundCorners-5 {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.roundCorners-10 {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body {
  padding-top: 0;
}
#blkWelcomeUpper {
  background: #155e81;
  background: -moz-linear-gradient(left, #155e81 0%, #74c5c2 100%);
  background: -webkit-linear-gradient(left, #155e81 0%, #74c5c2 100%);
  background: linear-gradient(to right, #155e81 0%, #74c5c2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@Color2', endColorstr='@Color4', GradientType=1);
  color: white;
  font-weight: 200;
  letter-spacing: 0.5px;
  vertical-align: top;
  font-size: 22px;
  padding-top: 70px;
  padding-bottom: 230px;
}
.kindergarten #blkWelcomeUpper {
  background: #da7e0a;
  background: -moz-linear-gradient(left, #da7e0a 0%, #ffd400 100%);
  background: -webkit-linear-gradient(left, #da7e0a 0%, #ffd400 100%);
  background: linear-gradient(to right, #da7e0a 0%, #ffd400 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@ColorK2', endColorstr='@ColorK4', GradientType=1);
}
.primary #blkWelcomeUpper {
  background: #56ab2f;
  background: -moz-linear-gradient(left, #56ab2f 0%, #a8e063 100%);
  background: -webkit-linear-gradient(left, #56ab2f 0%, #a8e063 100%);
  background: linear-gradient(to right, #56ab2f 0%, #a8e063 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@ColorP2', endColorstr='@ColorP4', GradientType=1);
}
#blkWelcomeUpper > div {
  width: 95%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
#blkWelcomeUpper #lblSchName-chi,
#blkWelcomeUpper #lblSchName-eng {
  font-weight: 400;
  vertical-align: top;
}
#blkWelcomeUpper #imgSchLogo {
  max-width: 75px;
  position: absolute;
  right: 100%;
  margin-right: 30px;
}
#blkWelcomeUpper #imgSchLogo + span {
  margin-top: 15px;
}
#blkWelcome {
  max-width: 1010px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -140px;
}
#blkWelcome #lblWelcomeTitle {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  color: white;
  margin-bottom: 10px;
  font-size: 20px;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
#blkWelcomeMsg ul {
  list-style: initial;
}
#blkWelcomeMsg ol {
  list-style: decimal;
}
#blkWelcomeMsg ul,
#blkWelcomeMsg ol {
  padding-left: 40px;
}
#blkWelcomeMsg li {
  margin: 15px 0;
}
@media screen and (max-width: 1200px) {
  #blkWelcomeUpper #imgSchLogo {
    position: relative;
    left: 0;
    right: auto;
  }
  #blkWelcomeUpper #imgSchLogo + span {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  #blkWelcomeUpper {
    text-align: center;
    font-size: 18px;
    padding-bottom: 40px;
    padding-top: 45px;
  }
  #blkWelcomeUpper #imgSchLogo {
    max-width: 65px;
    margin-right: 0;
  }
  #blkWelcome {
    margin-top: 20px;
  }
  #blkWelcome #lblWelcomeTitle {
    color: #085078;
    text-shadow: none;
    font-size: 18px;
  }
  #blkWelcomeMsg ul,
  #blkWelcomeMsg ol {
    padding-left: 25px;
  }
}
