@charset "utf-8";
/* Varibles */
/*Secondary / Default*/
/*Kindergarten*/
/*Primary*/
/* Effects */
/* Preset Classes*/
.fill {
  width: 100%;
  height: 100%;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.center {
  text-align: center;
}
.pointer {
  cursor: pointer;
}
.marginB10 {
  margin-bottom: 10px;
}
.marginB20 {
  margin-bottom: 20px;
}
.hide {
  display: none !important;
}
div.show {
  display: block !important;
}
span.show {
  display: inline-block !important;
}
.hidden {
  visibility: hidden;
}
.floatR,
right {
  float: right;
}
.floatL,
left {
  float: left;
}
/* Preset 2 */
.textColor1 {
  color: #085078;
}
.kindergarten .textColor1 {
  color: #652804;
}
.primary .textColor1 {
  color: #1d5d00;
}
.textColor2 {
  color: #3abfcd;
}
.kindergarten .textColor2 {
  color: #f29722;
}
.primary .textColor2 {
  color: #8aca3d;
}
.bgColor1 {
  background-color: #085078;
}
.kindergarten .bgColor1 {
  background-color: #e4860c;
}
.primary .bgColor1 {
  background-color: #62bc44;
}
.roundCorners-5 {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.roundCorners-10 {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/*============= GENERAL ===============*/
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
* {
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html,
body,
table,
select,
input,
textarea {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
html,
body {
  font-size: 12px;
}
table,
select,
input,
textarea {
  font-size: inherit;
}
table {
  width: 100%;
}
html,
body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
fieldset,
input,
hr {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
address,
caption,
cite,
code,
em,
strong,
th {
  font-weight: normal;
  font-style: normal;
}
ul,
ol {
  list-style: none;
}
li {
  list-style-position: outside;
}
fieldset,
img,
hr {
  border: none;
}
caption,
th {
  text-align: left;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
div {
  display: block;
}
span {
  display: inline-block;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:focus,
a:hover {
  text-decoration: none;
}
select {
  border: 1px solid #CCCCCC;
}
p.spacer {
  line-height: 0px;
  clear: both;
  display: block;
  padding: 0px;
  margin: 0px;
  height: 0px;
}
input[type="button"]:focus {
  outline: none;
}
/* Icon Web Font */
@font-face {
  font-family: 'Awesome';
  src: url('../fonts/fontawesome-webfont.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/fontawesome-webfont.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/fontawesome-webfont.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/fontawesome-webfont.svg') format('svg');
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
.icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*Scroll bar*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #fff;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
::-webkit-scrollbar-thumb:active {
  background: #888;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
}
/* For Current Project */
html,
body,
table,
select,
input,
textarea {
  font-family: 'Noto Sans TC', sans-serif, Arial, Helvetica, sans-serif;
  font-style: normal;
  color: #333;
}
html,
body {
  min-width: 320px;
  font-size: 17px;
  line-height: 1.4;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
  margin: 0 auto;
}
body {
  min-height: 100%;
  background-color: #f3f3f3;
  padding-top: 50px;
  padding-bottom: 50px;
  height: auto;
}
input[type="text"],
input[type="password"],
textarea {
  background: #fff;
  border: 1px solid #ccc;
  padding: 6px;
}
textarea {
  resize: none;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="file"]:focus,
select:focus,
textarea:focus {
  border: 1px solid #3abfcd;
  outline: 0;
}
.kindergarten input[type="text"]:focus,
.kindergarten input[type="password"]:focus,
.kindergarten input[type="file"]:focus,
.kindergarten select:focus,
.kindergarten textarea:focus {
  border-color: #f29722;
}
.primary input[type="text"]:focus,
.primary input[type="password"]:focus,
.primary input[type="file"]:focus,
.primary select:focus,
.primary textarea:focus {
  border-color: #8aca3d;
}
.selector {
  background: transparent;
  border-bottom: 1px solid #ccc;
  padding: 6px 0;
  z-index: 1;
  font-size: 17px;
  line-height: 24px;
}
.selector.focus {
  border-color: #3abfcd;
}
.kindergarten .selector.focus {
  border-color: #f29722;
}
.primary .selector.focus {
  border-color: #8aca3d;
}
.selector::before {
  display: inline-block;
  color: #6e7174;
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: smaller;
  text-align: center;
  line-height: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f078";
  padding: inherit;
}
.selector select {
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  padding-right: 30px;
  width: 100%;
  cursor: pointer;
  border-radius: 0;
  padding-left: 4px;
}
.selector select::-ms-expand {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.search {
  background-color: #fff;
}
.search input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0 !important;
  background: transparent !important;
  padding-right: 22px;
  width: 100%;
}
.search::before {
  display: inline-block;
  color: #6e7174;
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: inherit;
  text-align: center;
  line-height: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f002";
  padding: 6px;
}
input[type="checkbox"],
input[type="radio"] {
  display: none;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  padding-left: 23px;
  display: inline-block;
}
input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  display: inline-block;
  color: #6e7174;
  font: normal normal normal 14px/1 FontAwesome;
  top: 2px;
  position: absolute;
  left: 0;
  font-size: inherit;
  width: 23px;
  text-align: center;
  line-height: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: top;
}
input[type="checkbox"] + label::before {
  content: "\f096";
}
input[type="radio"] + label::before {
  content: "\f1db";
}
input[type="checkbox"][checked="checked"] + label::before,
input[type="checkbox"]:checked + label::before {
  content: "\f14a";
  color: #3abfcd;
}
.kindergarten input[type="checkbox"][checked="checked"] + label::before,
.kindergarten input[type="checkbox"]:checked + label::before {
  color: #f29722;
}
.primary input[type="checkbox"][checked="checked"] + label::before,
.primary input[type="checkbox"]:checked + label::before {
  color: #8aca3d;
}
input[type="radio"][checked="checked"] + label::before,
input[type="radio"]:checked + label::before {
  content: "\f192";
  color: #3abfcd;
}
.kindergarten input[type="radio"][checked="checked"] + label::before,
.kindergarten input[type="radio"]:checked + label::before {
  color: #f29722;
}
.primary input[type="radio"][checked="checked"] + label::before,
.primary input[type="radio"]:checked + label::before {
  color: #8aca3d;
}
input[type="radio"] + label + input[type="radio"] + label,
input[type="radio"] + label + input[type="checkbox"] + label,
input[type="checkbox"] + label + input[type="radio"] + label,
input[type="checkbox"] + label + input[type="checkbox"] + label {
  margin-left: 10px;
}
/*File upload using <label>*/
input[type="file"] {
  width: 0.1px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
  visibility: hidden;
  outline: 0 !important;
}
input[type="file"] + label {
  display: inline-block;
  float: left;
  padding: 3px 12px;
  text-align: center;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
  color: #555;
  font-weight: 400;
  font-size: inherit;
  border: 0;
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  cursor: pointer;
  font-size: 16px;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
input[type="file"]:hover + label,
input[type="file"]:focus + label {
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
}
/*Textbox with label*/
.textbox-floatlabel {
  padding-top: 12px;
}
.textbox-floatlabel > .textboxLabel {
  position: absolute;
  top: 12px;
  left: 0;
  padding: 6px 0;
  width: 100%;
  transition: all 0.2s ease;
  z-index: 0;
  color: #aaa;
  font-weight: 300;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.textbox-floatlabel input[type="text"],
.textbox-floatlabel input[type="password"],
.textbox-floatlabel textarea {
  background: transparent;
  border-width: 0;
  border-bottom-width: 1px;
  padding: 6px 0;
  z-index: 1;
}
.textbox-floatlabel input[type="text"]:focus + .textboxLabel,
.textbox-floatlabel input[type="password"]:focus + .textboxLabel,
.textbox-floatlabel textarea:focus + .textboxLabel {
  position: absolute;
  top: 0;
  padding-top: 0;
  font-size: 12px;
  color: #3abfcd;
  font-weight: 400;
}
.kindergarten .textbox-floatlabel input[type="text"]:focus + .textboxLabel,
.kindergarten .textbox-floatlabel input[type="password"]:focus + .textboxLabel,
.kindergarten .textbox-floatlabel textarea:focus + .textboxLabel {
  color: #f29722;
}
.primary .textbox-floatlabel input[type="text"]:focus + .textboxLabel,
.primary .textbox-floatlabel input[type="password"]:focus + .textboxLabel,
.primary .textbox-floatlabel textarea:focus + .textboxLabel {
  color: #8aca3d;
}
.textbox-floatlabel input.notEmpty[type="text"] + .textboxLabel,
.textbox-floatlabel input.notEmpty[type="password"] + .textboxLabel,
.textbox-floatlabel textarea.notEmpty + .textboxLabel {
  position: absolute;
  top: 0;
  padding-top: 0;
  font-size: 12px;
  color: #777;
  font-weight: 400;
}
.button,
input[type=file].button:after {
  padding: 3px 14px;
  text-align: center;
  border-radius: 5px;
  background-color: #085078;
  color: #fff;
  font-weight: 400;
  font-size: inherit;
  border: 0;
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  cursor: pointer;
  font-size: 16px;
}
.kindergarten .button,
.kindergarten input[type=file].button:after {
  background-color: #e4860c;
}
.primary .button,
.primary input[type=file].button:after {
  background-color: #62bc44;
}
.kindergarten .button,
.kindergarten input[type=file].button:after {
  padding: 5px 16px;
  font-size: 18px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.button-secondary {
  background: rgba(0, 0, 0, 0.1) !important;
  color: #555;
}
.button:hover,
.icon-button:hover,
.link:hover,
a:hover {
  -webkit-filter: brightness(1.3);
  filter: brightness(1.3);
}
.button-disabled {
  cursor: default !important;
}
.icon-button {
  line-height: inherit;
  padding: inherit;
  color: #085078;
  cursor: pointer;
  padding: 3px 12px;
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
}
.kindergarten .icon-button {
  color: #652804;
}
.primary .icon-button {
  color: #1d5d00;
}
.link,
a {
  color: #085078;
  cursor: pointer;
}
.text-1 {
  color: #2389ab;
  font-size: 26px;
  font-weight: bold;
}
.text-2 {
  color: #333;
  font-size: 20px;
}
.waveBg-w {
  width: 100%;
  height: 242px;
  background-image: url(../images/bg_wave_w.png);
  background-size: 1024px 242px;
  background-position: top center;
  background-repeat: repeat-x;
  z-index: 0;
  margin-bottom: -150px;
}
table th a i.fa {
  float: right;
  line-height: inherit;
  padding-left: 3px;
}
table th a i {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
table th a:hover i,
table th a.sorted i {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.table > thead > tr > th {
  vertical-align: top;
}
.form-header {
  background: #dfdfdf;
  color: #085078;
  font-weight: 500;
  font-size: 20px;
  line-height: 50px;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 20px;
  padding-right: 20px;
}
.kindergarten .form-header {
  color: #652804;
}
.primary .form-header {
  color: #1d5d00;
}
.kindergarten .form-header,
.primary .form-header {
  border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -webkit-border-radius: 15px 15px 0 0;
}
#blkButtons.layout-m,
#blkFooter.layout-m {
  max-width: 960px;
}
#blkButtons {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 100px;
}
#blkButtons::after {
  content: "";
  display: block;
  clear: both;
  height: 0px;
  visibility: hidden;
}
#blkButtons .button-secondary.floatR {
  margin-right: 15px;
}
#blkFooter {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: right;
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}
#blkFooter #lbleClass {
  font-size: 13px;
  line-height: 18px;
  color: #777;
}
#blkFooter #lbleClass > * {
  vertical-align: top;
}
#blkFooter #lbleClass > * + * {
  margin-left: 5px;
}
#blkFooter #lbleClass img {
  height: 18px;
}
#blkTopBar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  background: #155e81;
  background: -moz-linear-gradient(left, #155e81 0%, #74c5c2 100%);
  background: -webkit-linear-gradient(left, #155e81 0%, #74c5c2 100%);
  background: linear-gradient(to right, #155e81 0%, #74c5c2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@Color2', endColorstr='@Color4', GradientType=1);
  z-index: 10000;
  min-width: 320px;
  font-size: 16px;
}
.kindergarten #blkTopBar {
  background: #da7e0a;
  background: -moz-linear-gradient(left, #da7e0a 0%, #ffd400 100%);
  background: -webkit-linear-gradient(left, #da7e0a 0%, #ffd400 100%);
  background: linear-gradient(to right, #da7e0a 0%, #ffd400 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@ColorK2', endColorstr='@ColorK4', GradientType=1);
}
.primary #blkTopBar {
  background: #56ab2f;
  background: -moz-linear-gradient(left, #56ab2f 0%, #a8e063 100%);
  background: -webkit-linear-gradient(left, #56ab2f 0%, #a8e063 100%);
  background: linear-gradient(to right, #56ab2f 0%, #a8e063 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@ColorP2', endColorstr='@ColorP4', GradientType=1);
}
#blkTopBar.show {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
#blkTopBar > #blkTitle {
  line-height: 50px;
  color: #fff;
  font-weight: 200;
  letter-spacing: 0.5px;
  padding: 0 10px;
  vertical-align: top;
  white-space: nowrap;
}
#blkTopBar > #blkTitle #lblSchName-chi,
#blkTopBar > #blkTitle #lblSchName-eng {
  font-weight: 400;
  vertical-align: top;
}
#blkTopBar #imgSchLogo {
  height: 40px;
  margin-top: 5px;
  margin-right: 10px;
  z-index: 2;
  vertical-align: top;
}
#blkTopBar > #blkMenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  padding-right: 20px;
  min-width: 320px;
  z-index: 1;
}
#blkTopBar > #blkMenu > a {
  margin-left: 20px;
  color: white;
  font-weight: 500;
  float: right;
}
#blkTopBar > #blkMenu > a:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 23px;
  width: 23px;
  text-align: center;
  line-height: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#blkTopBar > #blkMenu > a[href="orderList.html"]:after {
  content: "\f015";
}
#blkTopBar > #blkMenu > a#btnMenu:after {
  content: "\f0c9";
}
#blkSteps {
  text-align: center;
  margin-bottom: 40px;
  padding-top: 40px;
}
#blkSteps::before {
  content: "";
  display: block;
  position: absolute;
  top: 52px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #dddddd;
}
.kindergarten #blkSteps::before {
  top: 55px;
}
#blkSteps .step {
  width: 105px;
  margin: 0 10px;
  vertical-align: top;
}
#blkSteps .step .step-order {
  width: 25px;
  height: 25px;
  line-height: 25px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  background-color: #085078;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.kindergarten #blkSteps .step .step-order {
  background-color: #e4860c;
}
.primary #blkSteps .step .step-order {
  background-color: #62bc44;
}
.kindergarten #blkSteps .step .step-order {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
}
#blkSteps .step.step-past .step-order {
  background-color: #bbbbbb;
}
#blkSteps .step.step-current .step-order {
  background-color: #085078;
}
.kindergarten #blkSteps .step.step-current .step-order {
  background-color: #e4860c;
}
.primary #blkSteps .step.step-current .step-order {
  background-color: #62bc44;
}
#blkSteps .step .step-description {
  font-size: 18px;
  font-weight: 300;
  color: #777777;
  line-height: 1;
}
#blkSteps .step .step-description > div + div {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: -5px;
  margin-right: -5px;
  letter-spacing: -0.2px;
}
#blkSteps .step.step-past .step-description {
  color: #bbbbbb;
}
#blkSteps .step.step-current .step-description {
  color: #333333;
  font-weight: 500;
}
#blkSteps .step.clickable {
  cursor: pointer;
}
#blkSteps .step.clickable > * {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#blkSteps .step.clickable:hover .step-description {
  color: #333333;
}
#blkSteps .step.clickable .step-order::after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid transparent;
  border-radius: 100% 100%;
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
}
#blkSteps .step.clickable:hover .step-order::after {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  border-color: #085078;
}
.kindergarten #blkSteps .step.clickable:hover .step-order::after {
  border-color: #e4860c;
}
.primary #blkSteps .step.clickable:hover .step-order::after {
  border-color: #62bc44;
}
#blkSteps .step .step-past.clickable:hover .step-order::after {
  border-color: #bbbbbb;
}
#blkSteps #btnPrevStep,
#blkSteps #btnNextStep {
  font-size: 25px;
  color: #085078;
  margin-top: -33px;
  display: none;
}
.kindergarten #blkSteps #btnPrevStep,
.kindergarten #blkSteps #btnNextStep {
  color: #e4860c;
}
.primary #blkSteps #btnPrevStep,
.primary #blkSteps #btnNextStep {
  color: #62bc44;
}
#blkSteps #btnPrevStep {
  position: absolute;
  left: 0;
}
#blkSteps #btnNextStep {
  position: absolute;
  right: 0;
}
/*selectpicker*/
.selector .bootstrap-select .dropdown-toggle {
  background: transparent !important;
  border: 0 !important;
  outline: 0 !important;
  padding: 0;
  box-shadow: none;
  font-size: inherit;
}
.selector .bootstrap-select .caret {
  display: none;
}
.selector .bootstrap-select .dropdown-menu[role="combobox"] {
  border: 0;
  border-radius: 5px;
  box-shadow: 0px 3px 0px 3px rgba(51, 154, 188, 0.4);
  font-size: inherit;
  background: rgba(255, 255, 255, 0.95);
}
.selector .bootstrap-select .dropdown-menu[role="listbox"] {
  font-size: inherit;
  margin-top: 5px;
  background: transparent;
}
.selector .bootstrap-select input.form-control {
  border-radius: 0;
}
.selector .bootstrap-select input.form-control:active,
.selector .bootstrap-select input.form-control:focus {
  outline: none;
  box-shadow: none;
}
.selector .bootstrap-select li {
  margin-left: 0;
}
.selector .bootstrap-select li:hover {
  background: #f7f7f7;
}
.selector .bootstrap-select li a:focus {
  outline: none;
}
/*datepicker*/
#ui-datepicker-div {
  background: rgba(255, 255, 255, 0.95);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 0px 3px rgba(51, 154, 188, 0.4);
  border: none;
  max-width: 80%;
}
#ui-datepicker-div .ui-widget-header {
  border: none;
  background: #f7f7f7;
  color: #222222;
  font-weight: normal;
}
#ui-datepicker-div .ui-state-default,
#ui-datepicker-div .ui-widget-content #ui-datepicker-div .ui-state-default,
#ui-datepicker-div .ui-widget-header .ui-state-default {
  border: none;
  background: transparent;
  font-weight: normal;
  color: #555555;
}
.ui-datepicker td span,
.ui-datepicker td a {
  text-align: center;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: none;
  background: transparent;
  font-weight: normal;
  color: #212121;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  top: initial;
  text-align: center;
  cursor: pointer;
}
#ui-datepicker-div .ui-datepicker-prev::before {
  display: inline-block;
  color: #6e7174;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  width: 23px;
  text-align: center;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f053";
  vertical-align: middle;
}
#ui-datepicker-div .ui-datepicker-next::before {
  display: inline-block;
  color: #6e7174;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  width: 23px;
  text-align: center;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f054";
  vertical-align: middle;
}
#ui-datepicker-div .ui-datepicker-prev:after,
#ui-datepicker-div .ui-datepicker-next:after {
  display: inline-block;
  content: "";
  height: 100%;
  vertical-align: middle;
}
#ui-datepicker-div .ui-datepicker-prev > span,
#ui-datepicker-div .ui-datepicker-next > span {
  display: none;
}
/*Pages*/
.layout-m {
  max-width: 960px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.layout-s {
  max-width: 640px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.graphicWithThemeColor {
  text-align: center;
}
.graphicWithThemeColor > span {
  max-width: 90%;
}
.graphicWithThemeColor > span::before {
  position: absolute;
  display: block;
  content: "";
  background-color: #085078;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}
.kindergarten .graphicWithThemeColor > span::before {
  background-color: #e4860c;
}
.primary .graphicWithThemeColor > span::before {
  background-color: #62bc44;
}
.graphicWithThemeColor img {
  max-width: 100%;
}
.text-inst {
  color: #333;
  display: block;
  margin-bottom: 15px;
  font-weight: 500;
}
.remark {
  font-size: 12px;
  color: #aaa;
}
.dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999999;
  text-align: center;
}
.dialog-container::after {
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 0;
  height: 100%;
  visibility: hidden;
  margin-right: -1px;
}
.dialog-container .dialog {
  display: inline-block;
  vertical-align: middle;
  max-width: 98%;
  box-shadow: rgba(0, 0, 0, 0.247059) 0px 14px 45px, rgba(0, 0, 0, 0.219608) 0px 10px 18px;
}
.dialog-container .dialog img {
  max-width: 100%;
}
.dialog-container .dialog-yesno {
  width: 90%;
  max-width: 500px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.247059) 0px 14px 45px, rgba(0, 0, 0, 0.219608) 0px 10px 18px;
  border-radius: 2px;
  padding: 30px 30px 5px 30px;
  text-align: left;
}
.dialog-container .dialog-yesno > div {
  margin-bottom: 25px;
}
.dialog-container .dialog-yesno .dialog-buttons {
  text-align: right;
}
.dialog-container .dialog-yesno .dialog-buttons::after {
  display: block;
  content: "";
  width: 100%;
  height: 0;
  visibility: hidden;
  clear: both;
}
.dialog-container .dialog-yesno .button {
  padding: 5px 10px;
  margin-left: 15px;
  float: right;
}
.dialog-container .dialog-photo .closeDialog-button {
  position: absolute;
  left: 100%;
  bottom: 100%;
  color: white;
  cursor: pointer;
  width: 35px;
}
.dialog-container .dialog-photo .closeDialog-button > img {
  width: 35px;
}
#lblSubmitInst {
  color: #777;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding-bottom: 20px;
}
#blkPay {
  text-align: center;
  color: #085078;
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 100px;
}
.kindergarten #blkPay {
  color: #652804;
}
.primary #blkPay {
  color: #1d5d00;
}
#blkPay #lblApplicationFee {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 25px;
}
#blkPayment #lblPayment {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}
#blkPayment #lblPayment > div {
  font-size: larger;
  color: #085078;
}
.kindergarten #blkPayment #lblPayment > div {
  color: #652804;
}
.primary #blkPayment #lblPayment > div {
  color: #1d5d00;
}
#blkPayment .remark {
  margin: 0 auto;
  max-width: 460px;
}
#blkPaypal {
  margin: 30px 0 100px 0;
}
#blkFinish .form {
  max-width: 960px;
}
#blkFinish #blkApplicationNo {
  font-size: 18px;
  color: #085078;
  font-weight: 500;
  max-width: 640px;
  width: 95%;
  margin: 0 auto 40px auto;
}
.kindergarten #blkFinish #blkApplicationNo {
  color: #652804;
}
.primary #blkFinish #blkApplicationNo {
  color: #1d5d00;
}
#blkFinish #blkApplicationNo > span {
  vertical-align: top;
}
#blkFinish #blkApplicationNo > span .graphicWithThemeColor + span {
  margin-top: 30px;
  margin-left: 20px;
}
#blkFinish #blkFinishMsg div + div {
  margin-top: 30px;
}
@media screen and (min-width: 1440px) {
  #blkSteps .step {
    width: 150px;
  }
}
@media screen and (max-width: 768px) {
  .hide-m {
    display: none;
  }
  .table-resp,
  .table-resp tbody,
  .table-resp tr,
  .table-resp td {
    display: block;
    width: 100% !important;
  }
  .button-primary {
    display: block;
  }
  .dialog-container .dialog-photo .closeDialog-button {
    position: fixed;
    left: auto;
    bottom: auto;
    top: 8px;
    right: 8px;
  }
  #blkButtons .button:first-child {
    float: none;
    margin-bottom: 10px;
  }
  #blkButtons .button-secondary.floatR {
    margin-right: 0;
  }
  #blkTopBar > img.showTopMenu {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  #blkTopBar > #blkTitle {
    padding: 0 5px;
    white-space: nowrap;
  }
  #blkTopBar > #blkTitle #lblSchName-chi,
  #blkTopBar > #blkTitle #lblSchName-eng {
    display: none;
  }
  #blkTopBar #imgSchLogo {
    margin-right: 5px;
  }
  #blkTopBar > #blkMenu > a {
    float: left;
  }
  #blkTopBar > #blkMenu > a:not(#btnMenu) {
    transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    top: -100px;
  }
  #blkTopBar > #blkMenu > a:not(#btnMenu).showTopMenu {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
  }
  #blkTopBar > #blkMenu > a#btnMenu.showTopMenu::after {
    content: "\f00d";
  }
  #blkTopBar > #blkMenu > a.showTopMenu {
    display: inline-block;
  }
  #blkSteps .step {
    width: auto;
  }
  #blkSteps .step:not(.step-current) {
    display: none;
  }
  #blkSteps #btnPrevStep,
  #blkSteps #btnNextStep {
    display: block;
  }
  #blkFinish #blkApplicationNo > span.graphicWithThemeColor {
    text-align: center;
    display: block;
  }
  #blkFinish #blkApplicationNo > span.graphicWithThemeColor + span {
    margin-left: 0;
    text-align: center;
    display: block;
  }
  #blkFinish #blkApplicationNo #btnPrint {
    display: block;
  }
  .form-header {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (min-width: 769px) {
  .hide-d {
    display: none;
  }
}
@media screen and (min-width: 440px) {
  /*datepicker*/
  .ui-datepicker-title {
    margin: 0 1.8em !important;
  }
}
