@charset "utf-8";
/* CSS Document */

html{height:100%}
body { background:#efefef url(../images/bg.jpg) center top no-repeat; margin:0; padding:0; min-width:990px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:15px;}
input, select, textarea {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:15px;}
a { text-decoration:none; color:#1160a5}
a:hover {  color:#ff0000}
p.spacer{clear:both; display:block; line-height:0px; font-size:0px; padding:0; margin:0; height:0px}
.edit_bottom {  padding:3px; display:block; clear:both;  text-align:center; border-top:5px dotted #CCC; margin-top:5px; padding-top:10px;}
.edit_bottom_save { display:block; clear:both;  text-align:right; padding-right:5px; padding-top:-70px;}
.edit_bottom span { float:left; clear:both; display:block; font-size:0.92em; color:#666666}
.formbutton{cursor:pointer;		color:#893207;	height:30px;	padding:3px 10px 5px 10px; 
	background-color: #FFCC00;
    background: -moz-linear-gradient(
		top,
		#ffd99d 0%,
		#ff9f37);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffd99d),
		to(#ff9f37));
	-moz-border-radius: 8px; 
    -webkit-border-radius: 8px;
    border-radius: 8px; 
	border: 1px solid #e26613;
	-moz-box-shadow:
		0px 1px 3px #525252,
		inset 0px -1px 3px #f1f1f1;
	-webkit-box-shadow:
		0px 1px 3px #525252,
		inset 0px -1px 3px #f1f1f1;
	box-shadow:
		0px 1px 3px #525252,
		inset 0px -1px 3px #f1f1f1;
	/*text-shadow:
		
		0px 1px 0px #FFF;*/
	 font-weight:bold 

}


.formbutton:hover{ background-color: #ff9f37;
   background: -moz-linear-gradient(
		bottom,
		#ffd99d 0%,
		#ff9f37);
	background: -webkit-gradient(
		linear, left bottom, left top, 
		from(#ffd99d),
		to(#ff9f37));
	color:#990000
	
}

.formsubbutton{cursor:pointer;		color:#737373;	height:30px;	padding:3px 10px 5px 10px; 
	background-color: #ececec;
    background: -moz-linear-gradient(
		top,
		#ececec 0%,
		#d2d2d2);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ececec),
		to(#d2d2d2));
	-moz-border-radius: 8px; 
    -webkit-border-radius: 8px;
    border-radius: 8px; 
	border: 1px solid #c5c5c5;
	-moz-box-shadow:
		0px 1px 3px #525252,
		inset 0px -1px 3px #f1f1f1;
	-webkit-box-shadow:
		0px 1px 3px #525252,
		inset 0px -1px 3px #f1f1f1;
	box-shadow:
		0px 1px 3px #525252,
		inset 0px -1px 3px #f1f1f1;
	 font-weight:bold 

}


.formsubbutton:hover{ background-color: #d2d2d2;
   background: -moz-linear-gradient(
		bottom,
		#ececec 0%,
		#d2d2d2);
	background: -webkit-gradient(
		linear, left bottom, left top, 
		from(#ececec),
		to(#d2d2d2));
	color:#000
}

.formsmallbutton{cursor:pointer;		color:#737373;	height:25px;	padding:3px 7px 3px 7px; 
font-size:0.9em;
	background-color: #ececec;
    background: -moz-linear-gradient(
		top,
		#ececec 0%,
		#d2d2d2);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ececec),
		to(#d2d2d2));
	-moz-border-radius: 8px; 
    -webkit-border-radius: 8px;
    border-radius: 8px; 
	border: 1px solid #c5c5c5;
	-moz-box-shadow:
		0px 1px 3px #525252,
		inset 0px -1px 3px #f1f1f1;
	-webkit-box-shadow:
		0px 1px 3px #525252,
		inset 0px -1px 3px #f1f1f1;
	box-shadow:
		0px 1px 3px #525252,
		inset 0px -1px 3px #f1f1f1;

}


.formsmallbutton:hover{ background-color: #d2d2d2;
   background: -moz-linear-gradient(
		bottom,
		#ececec 0%,
		#d2d2d2);
	background: -webkit-gradient(
		linear, left bottom, left top, 
		from(#ececec),
		to(#d2d2d2));
	color:#000
}
.table_board {min-height:200px; display:block; width:95%; margin:0 auto	}
.form_table{margin:0 auto;	border-collapse:separate;	border-spacing: 3px; width:97%; 	*border-collapse: expression('separate', cellSpacing = '3px'); }
.form_table tr td{	vertical-align:top;	text-align:left; line-height:18px; padding-top:3px; padding-bottom:3px;}
.form_table tr td a{ color: #9966CC;	}
.form_table tr th a{ color: #FFFFFF;	}
.form_table tr td a:hover{ color: #FF0000;	}
.form_table col.field_title {width:150px;}
.form_table col.field_c {width:10px;}
.form_table tr td .textbox{	width:98%; border:1px solid #CCCCCC; border-radius: 5px;-moz-border-radius: 5px;  -webkit-border-radius: 5px; box-shadow: #e1e1e1 0 0 3px inset; height:20px; line-height:20px; padding:2px 8px 2px 8px;}
.form_table tr td .textbox:focus{ background-color:#FFFF99; color:#000;font-style:normal}

.selection{ display:block; position:relative}
.selection_filter { display:block;}
.selection_filter a{border:1px solid #CCCCCC; border-radius: 5px;-moz-border-radius: 5px;  -webkit-border-radius: 5px; box-shadow: #e1e1e1 0 0 3px inset; height:20px; line-height:20px; padding:2px 25px 2px 8px; background:url(../images/select_arrow.png) no-repeat right 3px #FFF; float:left; min-width:200px; color:#003399; z-index:1}
.selection_filter a:hover, .selection_filter a:active { background-color:#FFFF99; color:#000}


//.selection_layer { display:block; position:absolute; visibility:hidden; width:100%; background: #f7ffef; height:220px; border-radius: 5px;-moz-border-radius: 5px;  -webkit-border-radius: 5px; border:1px solid #E8E8E8; box-shadow:0 0 3px #ccc; z-index:2}
//.selection_layer ul { display:block; padding:15px; margin:0; height:137px; overflow:auto}
.selection_layer { display:block; position:absolute; visibility:hidden; width:100%; background: #f7ffef; height:280px; border-radius: 5px;-moz-border-radius: 5px;  -webkit-border-radius: 5px; border:1px solid #E8E8E8; box-shadow:0 0 3px #ccc; z-index:2}/*20130503*/
.selection_layer ul { display:block; padding:15px; margin:0; height:197px; overflow:auto}/*20130503*/

.selection_layer ul  li { display:block; padding:5px 10px 5px 25px; position:relative; width:130px; list-style-type:none; float:left;} 
.selection_layer ul  li input { position:absolute; left:5px; top:5px;}
.selection_layer .edit_bottom{ background:#a0d86a; border:none; border-radius:0px 0px 5px  5px; height:35px;}

.selection_filter a.selected_value { color:#009900; font-weight:bold} /*20130503*/



#container{ display:block; width:990px; margin:0 auto;}
.footer { display:block; height:25px; display:block; text-align:right; padding:5px 10px; line-height:25px; color:#010101;font-size:11px;}
.footer a { display:block; float:right; background:url(../images/logo_eclass.png) no-repeat; width:50px;; height:25px; }

.title_header { display:block; height:90px; position:relative;} /*20130426*/
.title_header_logo { display:block; float:left;}
.title_header_logo a.apf_logo { display:block; background:url(../images/logo.png) no-repeat left top; height:70px; width:340px;}
.title_header_logo_chn a.apf_logo { background-image:url(../images/logo_chn.png)}/*20130426*/
.title_header_logo a.apf_logo:hover, .title_header_logo a.apf_logo:active { margin-top:-1px;}

.search_bar { display:block; float:right; padding-top:10px; clear:none;  padding-right:0px; margin-right:-10px;}/*20130426*/
.search_bar input{ display:block; float:right; width:180px; border:1px solid #CCCCCC; border-radius: 10px;-moz-border-radius: 10px;  -webkit-border-radius: 10px; box-shadow: #e1e1e1 0 0 3px inset; background:url(../images/icon_search.png) no-repeat 5px center #FFF; height:20px; line-height:20px; padding:2px 8px 2px 25px;}
.search_bar input:focus{ background-color:#FFFF99; color:#000;font-style:normal}
.search_bar a{ display:block; float:right; clear:both; color:#1160a5; font-size:0.9em; padding-left:5px; padding-top:5px;}/*20130426*/
.search_bar a:hover, .search_bar a:active { text-decoration:underline}

.navigator { display:block; float:left;}
.navigator span, .navigator a{ display:block; float:left; margin-right:10px; padding-left:20px;}
.navigator span { background:url(../images/icon_arrow_on.png) no-repeat left top; color:#af0f0f; font-weight:bold}
.navigator a { background:url(../images/icon_arrow.png) no-repeat left top; color:#0b4a5a}
.navigator .nav_search { background-image:url(../images/icon_search_nav.png); color:#29800b}
.tool_box { display:block; float:right;}
.tool_box a { display:block; float:right; margin-left:10px; background: url(../images/tool_btn.png) no-repeat left top; padding-left:25px;}
.tool_box a.btn_prev { background-position:left top}
.tool_box a.btn_prev:hover, .tool_box a.btn_prev:active { background-position:left -25px;}
.tool_box a.btn_next { background-position:right -50px;padding-left:0; padding-right:25px; margin-left:30px;}
.tool_box a.btn_next:hover, .tool_box a.btn_next:active { background-position:right -75px;}
.tool_box a.btn_remove_all_bookmark { background-position:left -100px; color:#FF0000}
.tool_box a.btn_remove_all_bookmark:hover, .tool_box a.btn_remove_bookmark:active { text-decoration:underline}
.tool_box a.btn_add_bookmark { background-position:left -150px; font-size:0.9em;}
.tool_box a.btn_add_bookmark:hover, .tool_box a.btn_add_bookmark:active { background-position:left -175px}
.tool_box a.btn_remove_bookmark { background-position:left -200px; color:#666666; font-size:0.9em;}
.tool_box a.btn_remove_bookmark:hover, .tool_box a.btn_remove_bookmark:active { background-position:left -225px; color:#FF0000}
span.btn_remove_bookmark { z-index:2; display:block; position:absolute; right:0px; top:0px; width:35px; height:25px; background: url(../images/btn_remove_bookmark.png) no-repeat left top; background-position:left top; color:#666666; font-size:0.9em; border:none;}
span.btn_remove_bookmark:hover, .tool_box a.btn_remove_bookmark:active { background-position:left bottom; color:#FF0000}



.main_board { display:block;  margin-top:-20px;}
.main_board_top{ background:url(../images/board_top_left.png) left bottom no-repeat; padding-left:33px; min-height:56px; display:block}
.main_board_top_right{ background:url(../images/board_top_right.png) right bottom no-repeat; padding-right:33px; min-height:56px; display:block}
.main_board_top_bg{ background:url(../images/board_top_bg.png) bottom repeat-x;  min-height:56px; display:block}
.main_board_content{ background:url(../images/board_left.png) left top no-repeat; padding-left:33px; min-height:450px; display:block}
.main_board_content_right{ background:url(../images/board_right.png) right top no-repeat; padding-right:33px; min-height:450px; display:block}
.main_board_content_bg{ background:url(../images/board_bg.png) top repeat-x;  min-height:450px; display:block; padding-bottom:20px;}

.board_tab { display:block;}
.board_tab  ul { margin:0; padding:0;} 
.board_tab  ul li{ display:block; float:left; margin-right:10px; list-style-type:none;}
.board_tab  ul li a{ display:block; background:url(../images/tab.png) left -1000px no-repeat; padding-left:38px; height:40px;}
.board_tab  ul li a span{ display:block; background:url(../images/tab.png) right -1000px no-repeat; padding-right:18px; height:28px; padding-top:12px;  position:relative}
.board_tab  ul li a span em{ display:block; position:absolute; width:25px; height:25px; background:url(../images/tab_icon.png) no-repeat; left:-25px; top:10px;}
.board_tab  ul li.current_tab a{ background-position:left top}
.board_tab  ul li.current_tab a span{ background-position:right bottom; color:#000}
.board_tab  ul li.current_tab a:hover span, .board_tab  ul li.current_tab a:active span { color:#ff0000}
.board_tab  ul li a.tab_cat span em{ background-position:left 0px;}
.board_tab  ul li.current_tab a.tab_cat span em{ background-position:left -25px;}
.board_tab  ul li a.tab_cat:hover span em, .board_tab  ul li a.tab_cat:active span em{ background-position:left -50px;}
.board_tab  ul li a.tab_local span em{ background-position:left -75px;}
.board_tab  ul li.current_tab a.tab_local span em{ background-position:left -100px;}
.board_tab  ul li a.tab_local:hover span em, .board_tab  ul li a.tab_local:active span em{ background-position:left -125px;}
.board_tab  ul li a.tab_bookmark span em{ background-position:left -150px;}
.board_tab  ul li.current_tab a.tab_bookmark span em{ background-position:left -175px;}
.board_tab  ul li a.tab_bookmark:hover span em, .board_tab  ul li a.tab_bookmark:active span em{ background-position:left -200px;}
     
.cat_board { display:block; padding-left:200px;}
.main_content{ display:block; }
.cat_list { display:block; float:left; margin-left:-205px; background:url(../images/left_bg.png) no-repeat right top; width:170px; padding-right:10px; overflow:auto}/*20130916*/
.cat_list ul { margin:0; padding:0;}
.cat_list ul li { display:block; list-style-type:none; clear:both; margin-bottom:10px;}
.cat_list ul li a { display:block; background:url(../images/icon_arrow.png) no-repeat left top; padding-left:20px; color:#0b4a5a;} /*20130916*/
.cat_list ul li a em{ font-style:normal; font-size:0.9em}
.cat_list ul li a:hover, .cat_list ul li a:active { color:#FF0000}
.cat_list ul li a.cat_all{ background:none; padding-left:0;}
.cat_list ul li.selected_cat a{ background-image:url(../images/icon_arrow_on.png); color:#af0f0f; font-weight:bold}
.cat_list ul li.selected_cat a.cat_all{ background:none; color:#af0f0f}
.cat_board .main_content{ display:block; width:100%; float:left}
.toggle { display:block; float:left; padding-bottom:10px; min-height:25px; margin-left:-20px; padding-top:3px;} /*20130430*/
.toggle a, .toggle span{ display:block; float:right; margin:0 8px;}
.toggle a { color:#9d9d9d; padding-bottom:3px; border-bottom: 4px solid #FFF;}
.toggle a.selected_toggle { color:#af0f0f; border-bottom-color:#af0f0f}  
.toggle span { color:#9d9d9d; font-size:0.9em; padding-top:3px;}
.toggle a:hover, .toggle a:active { color:#FF0000}

/*20130430 start*/
.toggle_view { display:block; float:right; height:30px; line-height:25px; color:#9d9d9d;}   
.toggle_view ul { float:right; display:block; margin:0; padding:0;}         	
.toggle_view ul li{ display:block; float:right; list-style-type:none; margin-right:2px;}
.toggle_view ul li a { display:block; height:30px; width:30px; background:url(../images/icon_toggle.png) no-repeat left top;}
.toggle_view ul li a.view_cover { background-position:left top}
.toggle_view ul li a.view_cover:hover, .toggle_view ul li.selected a.view_cover { background-position:right top}
.toggle_view ul li a.view_list {background-position:left -30px;}
.toggle_view ul li a.view_list:hover, .toggle_view ul li.selected a.view_list {background-position:right -30px;}
/*20130430 end*/

.video_list{ display:block; clear:both; padding-top:10px;}
.video_list a{ display:block; float:left; min-height:160px;position:relative; width:170px; margin:0 20px; margin-top:5px;border-radius:10px; padding:10px;}/*20130430*/
span.video_thumb{ display:block; width:170px; height:95px; border:1px solid #ccc; box-shadow:0px 0px 3px #ccc; position:relative; margin:0 auto; }
span.video_thumb em { display:none; background:url(../images/icon_new.png) no-repeat; width: 45px; height: 25px; position:absolute; right:0; bottom:0;}
.video_list h1 { margin:0; padding:0; font-weight:normal; font-size:1em; min-height:20px; line-height:18px; max-height:36px; padding:2px 0; overflow:hidden}

span.video_viewed { display:block; min-width:75px; float:left; font-size:11px; color:#565656;line-height:20px; }/*20130502*/
span.video_date { display:block;  float:right;font-size:11px; background:url(../images/icon_upload.png) no-repeat left 2px; padding-left:13px; color:#565656; line-height:20px;}/*20130502*/

.video_list a.video_new span.video_thumb em{ display:block}
.video_list a:hover, .video_list a:active { background:#ffe2e2}
.video_list a:hover span.video_thumb, .video_list a:active span.video_thumb { border-color:#ff0000; box-shadow:0px 0px 3px #ffe2e2}
.video_list a.btn_show_more{ width:85%; clear:both; margin:0 auto; float:none;  background:#dedede; text-align:center; color:#0c5e94; min-height:20px; padding:5px 0; font-size:0.9em; margin-top:10px;}
.video_list a.btn_show_more:hover, .video_list a.btn_show_more:active { background:#ffe2e2; color:#FF0000}

/*20130430 start*/
.view_brief_summary { display:none;}
.view_list_detail a { display:block; clear:both; width:auto; padding-left:190px; float:none; min-height:95px;}
.view_list_detail span.video_thumb { float:left; margin-left:-180px;}
.view_list_detail span.video_viewed {min-width: 100px;}
.view_list_detail span.video_date { float:left;}
.view_list_detail .view_brief_summary { display: block;height: 49px;overflow: hidden;color: #666666;float: left;width: 100%;font-size: 0.85em;}
/*20130430 end*/

#video_board { display:block;  padding-top:15px;}
#video_board h1 { display:block; padding:0; padding-bottom:10px; min-height:25px;  font-size:1.2em; font-weight:normal}
.video_content { display:block; float:left; }
.video_clip { display:block; min-height:390px; clear:both; margin-bottom:10px;}

.video_board_summary {margin-left:660px;}
.video_board_summary h1 { margin:0; margin-left: -640px;}
.video_board_summary .video_content {margin-left:-640px; width:640px;}
.video_board_summary .video_clip{min-width:640px; }

.video_board_script {margin-left:500px;}
.video_board_script h1 { margin:0; margin-left: -480px;}
.video_board_script .video_content {margin-left:-480px; width:480px;}
.video_board_script .video_clip{min-width:480px; }

#video_board span.video_viewed { display:block; float:left; margin-right:10px; font-size:1em; width:auto; }
#video_board span.video_date { background-position: left 2px; display:block; float:left; margin-right:10px; font-size:1em;width:auto; }
#video_board span.tag_list { display:block; clear:left; float:left;color:#565656; padding-top:5px }
#video_board span.tag_list  a { padding:0 5px;}
                                     
.video_script_board { display:block; float:left; width:100%;}
.script_board_top { background:url(../images/script_board_top_left.png) no-repeat left bottom; min-height:54px; padding-left:21px;}
.script_board_top_right { background:url(../images/script_board_top_right.png) no-repeat right bottom; min-height:54px; padding-right:21px;}
.script_board_top_bg { background:url(../images/script_board_top_bg.png) repeat-x bottom; min-height:54px;}
.script_board_content { background:url(../images/script_board_left.png) no-repeat left bottom; min-height:320px; padding-left:15px;}
.script_board_content_right { background:url(../images/script_board_right.png) repeat-y right ; min-height:320px; padding-right:15px;}
.script_board_content_bg { background:url(../images/script_board_bg.png); min-height:320px;}
.script_board_bottom { background:url(../images/script_board_bottom_left.png) no-repeat left bottom; min-height:28px; padding-left:163px;} /*20130426*/
.script_board_bottom_right { background:url(../images/script_board_bottom_right.png) no-repeat right bottom; min-height:28px; padding-right:66px;}/*20130426*/
.script_board_bottom_bg { background:url(../images/script_board_bottom_bg.png) repeat-x bottom; min-height:28px;}/*20130426*/
.script_board_bottom_bg span { display:block; margin-left:-100px; padding-top:5px; margin-right:-55px; font-size:0.8em; text-align:right; color: #000} /*20130430*/

.script_tab { display:block;margin-left: -21px; margin-right: -21px}
.script_tab ul{ margin:0; padding:0; display:block}
.script_tab ul li { display:block; padding:0; margin:0; float:left; width:50%; list-style-type:none;}
.script_tab ul li a{ display:block; background:url(../images/script_tab.png) no-repeat left -1000px; height:42px; padding-left:10px;}
.script_tab ul li a span{ display:block; background:url(../images/script_tab.png) no-repeat right -1000px; height:30px; padding-top:12px; padding-right:10px; text-align:center}
.script_tab ul li a span u {text-decoration:none}
.script_tab ul li a.tab_left span{ padding-left:21px;}
.script_tab ul li a.tab_right span{ padding-right:21px;}
.script_tab ul li.current_tab a{ background-position:left top; }
.script_tab ul li.current_tab a span{ background-position:right bottom; font-weight:bold; color:#000;  }
.script_tab ul li.current_tab a span u { border-bottom:3px solid #969696; padding-bottom:3px; }

.script_tab ul li.current_tab a.tab_left span{padding-left:0px; padding-right:10px;}
.script_tab ul li.current_tab a.tab_right span{ padding-right:21px; padding-left:10px;}

.script_content{ display:block; padding:5px; overflow:auto; height:320px; font-size:0.9em;}

.common_table_bottom{ margin-top:10px;	background-color: #E6E6E6; border-radius:0 0 5px 5px; min-height:20px; padding:5px; display:block; line-height:20px; font-size:0.92em; padding-left:5px; padding-right:5px;}
.common_table_bottom .record_no{	float:left;}
.common_table_bottom .page_no{	float:right;}
.common_table_bottom .page_no a{ padding:0; margin:0; float:left; display:block; min-height:18px; width:20px;height:18px; background: url(../images/icon_common_table_tool.gif) no-repeat 0px 0px}
.common_table_bottom .page_no span{	display:block; float:left; padding-left:2px;}
.common_table_bottom .page_no span select{	border: 1px solid #CCCCCC;	 font-size:0.9em;}
.common_table_bottom .page_no a.prev{	 background-position:0px -480px;}
.common_table_bottom .page_no a.prev:hover{	 background-position:-20px -480px;}
.common_table_bottom .page_no a.next{	 background-position:0px -520px;}
.common_table_bottom .page_no a.next:hover{	 background-position:-20px -520px;}
.common_table_bottom .page_no a.first{	 background-position:0px -460px;}
.common_table_bottom .page_no a.first:hover{	 background-position:-20px -460px;}
.common_table_bottom .page_no a.last{	 background-position:0px -500px;}
.common_table_bottom .page_no a.last:hover{	 background-position:-20px -500px;}
.common_table_list tbody tr.table_row_group td{background-color: #E8E8E8; font-style:italic}


/* terms & condition 20130426*/
.terms_conditon { display:block; position:absolute; right:130px; top:35px; font-size:0.8em; width:200px; text-align:right;} /*20130430*/
.terms_conditon  a{ color:#fff}
.terms_conditon  a:hover { text-decoration:underline}
body.bg_terms { background:#efefef; padding:30px 15px 15px 15px;  min-width:500px;}
.terms_board { padding:30px;  background:#FFF; box-shadow:0 0 5px #888; display:block}
.terms_title { display:block; position:absolute; left:0; top:0; width:100%; height:40px; background:#0075d6; box-shadow:0 0 5px #888; border-radius : 0 0 10px 10px}
.terms_title h1 { display:block; padding:10px 20px; margin:0; font-size:1.2em; font-weight:normal; color:#FFF; background: url(../images/logo_afp.png) no-repeat 15px 5px; padding-left:110px;}
.terms_content { overflow:auto; height:400px; padding:10px; background:#EEFBFF;border-radius:8px; }
.terms_accept {display:block; padding-left:25px; text-align:left; width:450px; margin:0 auto; position:relative}
.terms_accept span {left:0; top:2px; position:absolute}