#blkTab { position:relative; }
#blkTab ul { margin:0px; padding:0px; list-style:none; height:60px; }
#blkTab ul li { float:left; height:60px; margin-left:0px; }
#blkTab ul li a {
	display:block;
  	font-size:24px;
  	color:white;
  	height:60px;
}
#blkTab ul li a span { line-height:56px; padding-left:25px; padding-right:25px; display:block; }
#blkTab ul li.active a span { border-bottom:4px solid rgba(255, 255, 255, 0.5); }
#blkTab ul li a:hover { background-color: rgba(255, 255, 255, 0.2); }

#blkRightMenu ul { margin:0px; padding:0px; list-style:none; }
#blkRightMenu ul li { float:left; margin-left:0px; }
#blkRightMenu ul li:hover a { color:#2f83e1; }
#blkRightMenu ul li.divider { height: 75px; width: 0; border-left: 1px solid #ddd; }

#btnUserMenu .lblInfo { position:relative; display:inline-block; }
#blkTop #blkUserSubMenu
{
	border:1px solid transparent; 
  	position:absolute;
  	top:75px;
  	right:0;
  	text-align: left;
  	min-width: 200px;
  	white-space: nowrap;
  	z-index: 9999;
  	display:none;
}
#blkUserSubMenu ul { margin:0px; padding:0px; background-color:#fff; }
#blkUserSubMenu ul li { float:none; display:block; margin-left:0px; margin-right:0px; clear:both; }
#blkUserSubMenu ul li a.lang_button { float:left; }
#blkUserSubMenu ul li a.lang_button { width:50%; text-align:center; }
#blkUserSubMenu ul li a.lang_button_current { background-color:#2f83e1; color:#fff; }
#blkUserSubMenu ul li a.lang_button_current::before {
	display: inline-block;
	content:"\f00c";
	margin-right: 10px;
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#blkUserSubMenu .menu_button {
	padding:12px 20px;
	background: #fff;
	border-bottom:1px solid rgba(0,0,0,0.2);
}
#blkUserSubMenu .menu_button:hover:not(.lang_button_current) {
	background-color:#eee;
}
#leftmenu { display:none!important; }