/* For Overwritting IP Style */
#eclass_main_frame_table .main_content *
{
  font-size:14px;
}

#eclass_main_frame_table th a, #eclass_main_frame_table .tabletop a
{
  color: white;
  white-space: nowrap;
}

.form_table_v30 tr td.field_title
{
  background: #f0f8fe;
  padding:5px;
}

.formsubbutton, .formbutton_v30, .formbutton
{
  background-image: url();
  border: 1px solid rgba(0,0,0,0.2);
  background-color: #e4e4e4;
  color: #333;
  padding-left: 10px;
  padding-right: 10px;
}

.formsubbutton:hover, .formbutton_v30:hover, .formbutton:hover
{
  background-color: #eee;
  color: #333;
}

.formbuttonon
{
  background-image: url();
  border: 1px solid rgba(0,0,0,0.2);
  background-color: #eee;
  color: #333;
  padding-left: 10px;
  padding-right: 10px;
}

.formbutton_alert
{
  background-image: url();
  background-color: #b52b2b;
  color: white;
  border-style: solid;
}

.formbutton_alert:hover
{
  background-color:#922727;
  color: white;
}

.online_help
{
    position: relative;
    right: -5px;
}

.online_help a
{
  color:white !important;
}

.online_help .help_board ul li a
{
    color: #62a21d !important;
}

input, textarea, select, .formtextbox
{
  border: 1px solid rgba(0,0,0,0.2);
  background-color: white;
  padding: 8px;
}

select
{
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-right:5px;
}

input:focus, textarea:focus, select:focus
{
  outline: 0;
}

input[type="checkbox"]
{
  transform: scale(1.9);
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  transform-origin: center center;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  margin: 7px;
  border: 0;
  background-color: transparent;
  padding: 0;
}

input[type="radio"]
{
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  transform-origin: center center;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  margin: 7px;
  border: 0;
  background-color: transparent;
  padding: 0;
}

.main_content #buttonDiv, .edit_bottom_v30, .edit_bottom
{
  padding:10px 0;
}

.main_content #buttonDiv input.formbutton_v30,
.edit_bottom_v30 input.formbutton_v30,
input.formbutton_v30[type="submit"],
.edit_bottom input.formbutton
{
  background-color:#2f83e1;
  color:white;
}

.main_content #buttonDiv input.formbutton_v30:hover,
.edit_bottom_v30 input.formbutton_v30:hover,
input.formbutton_v30[type="submit"]:hover,
.edit_bottom input.formbutton:hover
.edit_bottom input.formbuttonon
{
  background-color:#4599f7;
  color:white;
}

input.formbutton_v30[value="Cancel"],
input.formbutton_v30[value="取消"],
input.formbutton_v30[value="Back"],
input.formbutton_v30[value="返回"],
input.formbutton_v30[value="Reset"],
input.formbutton_v30[value="重設"],
input.formbutton[value="Cancel"],
input.formbutton[value="取消"],
input.formbutton[value="Back"],
input.formbutton[value="返回"],
input.formbutton[value="Reset"],
input.formbutton[value="重設"]
{
  background-color: #f3f3f3;
  color:#999;
}

.formsmallbutton
{
  background-image: url();
  height: auto;
  padding: 5px 10px;
  border-style: solid;
}

.formsmallbuttonon
{
  background-image: url();
  background-color:#4599f7;
  color:white;
  height: auto;
  padding: 5px 10px;
  border-style: solid;
}

div#content > table > tbody > tr:first-child > td
{
    background-image: url() !important;
    background-color: white;
    border-bottom:1px solid rgba(0,0,0,0.2);
    padding: 10px 0;
}

div#content > table > tbody > tr:nth-child(2) > td:first-child
{
    background-image: url() !important;
    background-color: white;
}

div#content > table > tbody > tr:nth-child(2) > td:first-child *
{
  display:none;
}

div#content > table > tbody > tr:nth-child(2) > td:last-child
{
    background-image: url() !important;
    background-color: white;
}

div#content > table > tbody > tr:nth-child(2) > td:last-child *
{
  display:none;
}

div#content > table > tbody > tr:nth-child(3)
{
    display:none
}

.Conntent_search input
{
  background-image:url("../images/content_icon.png");
  padding: 8px 5px 8px 30px;
  background-position: 0px -106px;
  background-size: 27px 513px;
}

th
{
  padding: 10px 5px !important;
}

.table_filter
{
  margin-bottom:10px;
}

#Content_tab *
{
    background-image: url() !important;
}

#Content_tab > a
{
    color: #0083e8;
}

#Content_tab
{
    background-color: #f0f8fe;
}

#Content_tab a span
{
    padding: 10px 20px;
    font-size: 16px;
    line-height: 30px;
    margin: 0;
    color: #0083e8;
}

#Content_tab a
{
    margin: 0;
    padding: 0;
}

#Content_tab #current a span
{
    background-color: #0083e8;
    color: white;
    padding: 10px 20px;
}

.common_table_bottom
{
    height: auto;
    padding:10px
}

.common_table_bottom:after
{
    display: block;
    content: "";
    width: 100%;
    height: 0;
    clear: both;
}

.common_table_list tr td
{
  vertical-align: middle;
  padding:5px;
}

.shadetabs li a
{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background: transparent;
    background-image: url();
    font-size: 16px;
    line-height: 1.5;
    padding: 0 15px;
}

.shadetabs li.selected
{
  top:0
}

.shadetabs li.selected a
{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background: transparent;
    background-image: url();
    color: #666 !important;
}

/*For Better position of help_board*/
table { position:relative; }
.help_board
{
  left:auto!important;
  right:-6px!important;
  top: 35px !important;
  max-width: none;
}

/*Thick Box*/
.TB_overlayBG
{
  background-color:white !important;
}

#TB_window
{
  border:0 !important;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}

#TB_title
{
  background-color:#2f83e1 !important;
  color:white !important;
  height:40px !important;
  line-height: 40px !important;
  font-size: 16px !important;
}

#TB_title *
{
  line-height: 40px !important;
  padding: 0 10px !important;
  margin-bottom: 0 !important;
  height: 40px !important;
}

#TB_window a
{
  color:white !important;
}

#TB_window a:hover
{
  color:rgba(255,255,255,0.8) !important;
}

#TB_window a#TB_closeWindowButton
{
  color:transparent !important;
  line-height: 40px !important;
}

#TB_window a#TB_closeWindowButton::after
{
  display: inline-block;
  content:"\f00d";
  width:100%;
  margin-left:-100%;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 20px;
  line-height: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:white!important;
  cursor:pointer;
}

.edit_pop_board
{
  height:auto !important;
}

.edit_pop_board > h1
{
  height:auto !important;
  padding:10px 10px 10px 10px !important;
  font-size: 20px !important;
  line-height: 1;
  background:transparent !important;
  border-bottom:1px solid rgba(0,0,0,0.3) !important;
}
