@charset "utf-8";
/*font*/
@font-face {
	font-family: 'Open Sans';
	src: url('../webfonts/OpenSans.eot');
	src: url('../webfonts/OpenSans.eot?#iefix') format('embedded-opentype'),
		url('../webfonts/OpenSans.woff') format('woff'),
		url('/webfonts/OpenSans.ttf') format('truetype'),
    url('/webfonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*scroll bar*/
::-webkit-scrollbar {width:10px; height:10px;}
::-webkit-scrollbar-track {background: #fff; -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);}
::-webkit-scrollbar-thumb {background: #ccc; -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);}
::-webkit-scrollbar-thumb:hover {background: #aaa;}
::-webkit-scrollbar-thumb:active {background: #888;-webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);}
/*alerts*/
.alert {border:none;}
.alert-danger {color:#e5422c;}
.alert-warning {color:#d48602;}
.alert-info {color:#3b6a90;}
.alert-success {color:#25903d;}
/*tooltip*/
.tooltip-inner {background-color:#444;}
.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {border-top-color:#444;}

/*General*/
html, body {background:#fff; font-size:14px; line-height:1.5em; color:#333; margin:0; padding:0; font-family:"Open Sans", "Microsoft JhengHei", Verdana, "Heiti TC", sans-serif; position:relative;    overflow-x:hidden;}
body {-ms-overflow-style: scrollbar !important;}/*fix ie scrollbar covering content*/
a, a:hover, a:focus {text-decoration:none;}
a {color:#0077ca;}
a:hover, a:focus {color:rgba(0,119,202,0.7);}
*:hover {-webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out}
*:focus {outline:none!important; box-shadow:none;}
ul {margin:0; padding:0; list-style:none;}
button, input, select, option, textarea {font-family:"Open Sans", "Microsoft JhengHei", Verdana, "Heiti TC", sans-serif; letter-spacing:0.5px;}
.truncate {white-space:nowrap; overflow:hidden;}
.ellipsis {white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
p {color:#666;}

/*BG and main box*/
.status-bg {background:linear-gradient(to bottom, #71b2cf 1%,#207cca 280px,#207cca 280px,#f2f2f2 280px,#f2f2f2 100%); padding-top:60px;}
#main {background:#fff; position:relative; min-height:400px; padding:50px 30px 30px 30px; box-shadow:0px 0px 5px 0px rgba(0,0,0,0.2);}
.cloud-shape {font-size:1rem; width:3.5em; height:1.5em; background:#fff; border-radius:1em; margin:1em; position:absolute; top:-3.5em; left:-2em; z-index:1;}
.cloud-shape:after {content:''; position:absolute; background:#fff; width:2em; height:2em; top:-.7em; left:.7em; border-radius:1em; z-index:-1;}
.cloud-shape.big {font-size:7.5rem; left:inherit; right:-1.6em; top:-1.2em; padding-left:.45em; padding-top:.1em;}
.cloud-shape.big img {width:230px; height:140px;}
/*spacing*/
#header-area, #alert-area, #plan-area, #storage-area {margin-bottom:3rem;}
/*Content*/
#user-area {position:absolute; top:-60px; right:0; text-align:right; z-index:1; padding-top:2px; padding-right:50px; color:#6b8fb3; font-size:1.1rem; text-shadow:-1px -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff, 1px 1px 1px #fff;}
#header-area {padding-right:300px;}
@media (max-width:767px) {#header-area {padding-right:0; padding-top:110px;}}
#plan-area .plan-name {color:#488fa8; font-size:1.15rem;}
#storage-area .title {display:inline-block;}
#storage-area .info {float:right;}
#storage-area .progress {margin:1rem 0; height:2rem;}
#storage-area .progress .progress-bar+.progress-bar {border-left:2px solid #fff;}
#storage-area .progress .bg-1 {background-color:#ff9661;}
#storage-area .progress .bg-2 {background-color:#ffc476;}
#storage-area .progress .bg-3 {background-color:#63c7ea;}
#storage-area .progress .bg-4 {background-color:#76dd76;}
#storage-area .progress .bg-5 {background-color:#da94ff;}
#storage-area .progress .bg-6 {background-color:#aaa;}
#storage-area .recommend .left {padding-right:0;}
#storage-area .recommend .nav-link {color:#666; padding:.2rem 1rem .2rem 0; position:relative; border-bottom:2px solid transparent; display:table; width:100%;}
#storage-area .recommend .nav-link:not(.active):hover {opacity:.7;}
#storage-area .recommend .nav-link.active {background-color:inherit; border-bottom:2px solid #cee7ef; font-weight:bold;}
#storage-area .recommend .nav-link.active:after {display:inline-block; content:''; width:17px; height:17px; background:linear-gradient(to top left, rgba(206,231,239,0) 0%, rgba(206,231,239,0) calc(50% - 2px), rgba(206,231,239,1) 50%, rgba(206,231,239,0) calc(50% + 2px), rgba(206,231,239,0) 100%); position:absolute; right:-16px; bottom:-2px;}
#storage-area .recommend .nav-link span {display:table-cell;}
#storage-area .recommend .space {color:#488fa8; width:100px; text-align:right;}
#storage-area .recommend .space.danger {color:#e5422c;}
#storage-area .recommend .legend {width:20px; padding:0 10px 0 5px;}
#storage-area .recommend .legend.box1 {color:#ff9661;}
#storage-area .recommend .legend.box2 {color:#ffc476;}
#storage-area .recommend .legend.box3 {color:#63c7ea;}
#storage-area .recommend .legend.box4 {color:#76dd76;}
#storage-area .recommend .legend.box5 {color:#da94ff;}
#storage-area .recommend .legend.box6 {color:#aaa;}
#storage-area .recommend .tab-pane {margin-top:7px; padding-top:1rem; padding-left:2rem; border-left:2px solid #cee7ef; min-height:140px;}
#storage-area .recommend .title {color:#4d7d82;}
#storage-area .recommend ol {color:#666;}
@media (max-width:767px) {
	#storage-area .info {float:none; display:block; text-align:right;}
	#storage-area .recommend .nav-link.active:after {display:none;}
	#storage-area .recommend .tab-pane {border-left:none; padding-left:1rem; min-height:inherit;}}
#traffic-area .nav-tabs {border-bottom:1px solid #e6e6e6; font-size:16px;}
#traffic-area .nav-link, #traffic-area .nav-link:hover {color:#666; border:none; border-bottom:2px solid transparent;}
#traffic-area .nav-link:not(.active):hover {opacity:.7;}
#traffic-area .nav-link.active {border:none; border-bottom:2px solid #71b2cf; color:#488fa8; font-weight:bold;}
#traffic-area .tab-pane {padding:1rem 0;}
#traffic-area img {max-width:100%;}
#footer {text-align:right; font-size:.8rem; padding:.7rem 0;}
