/***********************************************************************************************************************/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> BARCHAR.CSS START <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/***********************************************************************************************************************/
.barnum {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #4C9A12;
}
.barname {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #000000;
	padding-top: 2px;
	padding-right: 5px;
	padding-left: 5px;
}
.barxytext {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #118799;
}
.barremarkbox {
	border: 1px solid #D3E2E7;
}
.barremarktext {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #000000;
}
.barnameh {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #000000;
	padding-top: 5px;
	padding-right: 2px;
	padding-bottom: 5px;

}
.barxytexth {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #118799;
	text-decoration: underline;

}
.y_border {
	border-right: 1px solid #666666;
}
.x_border {
	border-bottom: 1px solid #666666;
}
.Chart_title{
	font-size:13px;
	color:#000000;
	border-bottom:1px solid #666666;
}
/***********************************************************************************************************************/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> BARCHAR.CSS END <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/***********************************************************************************************************************/
