/* body elements */

BODY {font-family: Arial, Verdana, sans-serif; font-size: 12px; color: #333333}
DIV {font-family:Arial, Verdana, sans-serif}
P, TD, TH, LI, UL, OL {font-size: 12px; color:#333333; font-family: Arial, Verdana, Helvetica, sans-serif}
td.fine {font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #999999;}
td.lbldark {font-family: Arial, Verdana, sans-serif; font-size: 14px; font-weight: bold; color: #FFFFFF; background-color: #999999; ; word-spacing: 4px}
.split {  border-color: #FFFFFF #F0F0F0; background-color: #F0F0F0; border-style: solid; border-top-width: 0px; border-right-width: 2px; border-bottom-width: 0px; border-left-width: 2px}
.split2 {  border-color: #F0F0F0; border-style: solid; border-bottom-width: thin}
P.space {line-height: 150%; }


/* link elements */

A:link {color: #6699CC;  }
A:active {color: #333333;  }
A:visited {color: #CC6699; }
A:hover { color: #333333; text-decoration: none; }


/* font style elements */

sup {vertical-align: super; font-size: 66%;}


/* class declarations */

.Container {position:absolute; left:80px; top:85px; width:auto; height: 500px;}
.nuCont {position: absolute; left: 85px; top: 5px; right: auto; bottom: auto; width: 100%; height: 500px; }

.Quicktips {font-family:Arial, Verdana, sans-serif; color: #333333}
.Error {font-family: Arial, Verdana, sans-serif; font-size: 12px; color:#FF0000; font-weight: bold;}
.Banner {background-color: #6699CC; font-size: 14px; font-weight: bold; color: #FFFFFF}

.smallHeaderText {color:#666666; font-size: 14px; font-weight: bold}
.largeHeaderText {color:#666666; font-size: 14px; font-weight: bold}
.genhd { font-size: 16px; color: #666666; font-family: Arial, Verdana, sans-serif; font-weight: bold }
.smhd {color:#666666; font-size: 14px; font-weight: bold}

.heading {font-family: Arial, Verdana, sans-serif; font-size: 20px; color: #666666; font-weight: bold}
.category {font-family: Arial, Verdana, sans-serif; font-size: 18px; font-weight: bold; color: #666666}

.acttitle {font-size: 16px; color: #666666; font-family: Arial, Verdana, sans-serif; font-weight: bold}
.plntxt {font-family: Arial, Verdana, sans-serif; font-size: 12px; color: #666666}
.plntxtlt {font-family: Arial, Verdana, sans-serif; font-size: 12px; color: #9B9B9B}
.listtext {font-family: Arial, Verdana, sans-serif; font-size: 12px; font-weight: bold; color: #666666}

.newshd { font-size: 16px; color: #666666; font-family: Arial, Verdana, sans-serif; font-weight: bold }
.math { font-family: "Times New Roman", Times, serif; font-size: 12px; color: #595959 }
.pcdo {  font-family: "Courier New", Courier, mono; font-size: 12px; color: #333333; font-weight: bold}

/*small font declarations.  many of these are duped */

.smalltxt {font-family: Verdana, Arial, sans-serif; font-size: 11px; color: #666666;}
.fineprint {font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #999999;}
.fine {font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #999999;}
.legalstuff {font-family: Verdana, Arial, sans-serif;font-size: 10px; color: #999999;}


/* hilites */

.tip {  background: #FFFFCC; }
.hilite { background: #FFCCFF; font-weight: bold; color: #333333;}
.sol { background: #F0F0F0; font-color: #CC9966 ; color: #CC6699; font-weight: bold}
.boxit {  border: 2px #999999 outset; background-color: #F0F0F0}

/* style type */
.back {  background-attachment: scroll; background-color: #FFFFFF; background-repeat: no-repeat; }
.ltgray { font-family: Verdana, sans-serif; font-size: 12px; color: #333333; background-color: #FOFOFO; border-color: #F0F0F0; border-style: solid; border-top-width: 2px; border-right-width: 0px; border-bottom-width: 2px; border-left-width: 2px}
.ltgray2 { font-family: Arial, Verdana, sans-serif; font-size: 16px; font-weight: bold; color: #333333; background-color: #FOFOFO; border-color: #F0F0F0; border-style: solid; border-top-width: 2px; border-right-width: 0px; border-bottom-width: 2px; border-left-width: 2px}
.grn {background-color: #CCFFCC; }
.gray {background-color: #F0F0F0;}
.brdr {  border: #CCCCCC; border-style: solid; border-top-width: 3px; border-right-width: 3px; border-bottom-width: 3px; border-left-width: 3px}
.brdrblu {  border: #6699CC; border-style: solid; border-top-width: 3px; border-right-width: 3px; border-bottom-width: 3px; border-left-width: 3px}
.brdrgrn {  border: #9966CC; border-style: solid; border-top-width: 3px; border-right-width: 3px; border-bottom-width: 3px; border-left-width: 3px}
.listhd {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF; letter-spacing: 2px; background-color: #6699CC}
.smlblk {  font-family: Verdana, sans-serif; font-size: 10px; color: #000000}
