textarea, select {
}

.file, .password, .text {

}

.button, .reset, .submit {
	margin: 1px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

.button, .reset, .submit {
	color: #FFFFFF;
	background-color: #666666;
}

