/*======================== DynCalendar ========================*/
.dynCalendar_dayname, .dynCalendar_day, .dynCalendar_today, .dynCalendar_sunday, .dynCalendar_todaysun, .dynCalendar_header {
	font-family: "Verdana", "Arial", "Helvetica", "Mingliu", "Sans-Serif";
	font-size: 9px;
	color: #787878;
	text-align: center;
}

.dynCalendar_dayname, .dynCalendar_today, .dynCalendar_todaysun{
	background-color: #FFDCAF;
}

.dynCalendar_today {
	background-color: #FFEECC;
}

.dynCalendar_header{
	font-size: 11px;
	color: black;
}

.dynCalendar{
	visibility: hidden;
	position: absolute;
	top: 1px;
	left: 1px;
}

A.dynCalendar_today:link {
	font-weight: bold;
	COLOR: black;
}
A.dynCalendar_today:visited {
	COLOR: black;
}
A.dynCalendar_today:hover {
	COLOR: #4477FF;
}
A.dynCalendar_today:active {
	COLOR: black;
}

A.dynCalendar_day:link {
	COLOR: #787878;
}
A.dynCalendar_day:visited {
	COLOR: #787878;
}
A.dynCalendar_day:hover {
	COLOR: #4477FF;
}
A.dynCalendar_day:active {
	COLOR: #787878;
}

A.dynCalendar_sunday:link {
	COLOR: #EE6C40;
}
A.dynCalendar_sunday:visited {
	COLOR: #EE6C40;
}
A.dynCalendar_sunday:hover {
	COLOR: #4477FF;
}
A.dynCalendar_sunday:active {
	COLOR: #EE6C40;
}

A.dynCalendar_todaysun:link {
	COLOR: #EE6C40;
}
A.dynCalendar_todaysun:visited {
	COLOR: #EE6C40;
}
A.dynCalendar_todaysun:hover {
	COLOR: #4477FF;
}
A.dynCalendar_todaysun:active {
	COLOR: #EE6C40;
}
