.chinese_11 {
	font-family: Verdana, Arial, Helvetica, sans-serif, serif, "新細明體";
	font-size: 11px;
	color: #000000;
	font-weight: none;
}
.chi_urhere {
	font-family: Verdana, Arial, Helvetica, sans-serif, serif, "新細明體";
	font-size: 13px;
	color: #ffffff;
	letter-spacing: 1px;
}

.chi_demo_hints_13 {
	font-family: Verdana, Arial, Helvetica, sans-serif, serif, "新細明體";
	font-size: 13px;
	color: #0000ff;
	font-weight: none;
	line-height: normal;
	word-spacing: normal;
	letter-spacing: 1px;
}

.summary_13_blue {
	font-family: Verdana, Arial, Helvetica, sans-serif, serif, "新細明體";
	font-size: 13px;
	color: #1133EE;
	font-weight: none;
	line-height: normal;
	word-spacing: normal;
	letter-spacing: 1px;
}

.chi_content_13 {
	font-family: Verdana, Arial, Helvetica, sans-serif, serif, "新細明體";
	font-size: 13px;
	color: #000000;
	font-weight: none;
	line-height: normal;
	word-spacing: normal;
	letter-spacing: 1px;
}

.chi_content_15 {
	font-family: "Arial", "sans-serif", "新細明體";
	font-size: 15px;
	color: #000000;
	font-weight: none;
	line-height: 22px;
	word-spacing: normal;
	letter-spacing: 1px;
}

.chi_content_18b {
	font-family: "Arial", "sans-serif", "新細明體";
	font-size: 18px;
	color: #000000;
	font-weight: none;
	line-height: 24px;
	word-spacing: normal;
	letter-spacing: 1px;
}
.chi_content_10 {
	font-family: Verdana, Arial, Helvetica, sans-serif, serif, "新細明體";
	font-size: 10px;
	color: #000000;
	font-weight: none;
	line-height: 20px;
	word-spacing: normal;
	letter-spacing: 1px;
}
.chi_content_12 {
	font-family: Verdana, Arial, Helvetica, sans-serif, serif, "新細明體";
	font-size: 12px;
	color: #000000;
	font-weight: none;
	line-height: 20px;
	word-spacing: normal;
	letter-spacing: 1px;
}
.chi_content_12_red {	font-size: 12px;
	color: #CC6600;
	font-weight: bold;
}
.chi_subhead_15b {
	font-family: Verdana, Arial, Helvetica, sans-serif, serif, "新細明體";
	font-size: 15px;
	color: #000000;
	font-weight: bold;
}

.chi_subhead_15b_blue {
	font-family: Verdana, Arial, Helvetica, sans-serif, serif, "新細明體";
	font-size: 15px;
	color: #333399;
	font-weight: bold;
}

.chi_subhead_13b_blue {
	font-family: Verdana, Arial, Helvetica, sans-serif, serif, "新細明體";
	font-size: 13px;
	color: #333399;
	font-weight: bold;
}


.chi_subhead_15b_red {
	font-family: Verdana, Arial, Helvetica, sans-serif, serif, "新細明體";
	font-size: 15px;
	color: #990000;
	font-weight: bold;
}

