BODY {
	background-color: #C68A28;
	SCROLLBAR-FACE-COLOR: #E1D3B9;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #B99D4A;
	SCROLLBAR-3DLIGHT-COLOR: #B99D4A;
	SCROLLBAR-ARROW-COLOR: #ffffff;
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
	SCROLLBAR-BASE-COLOR: #995D0A;
	SCROLLBAR-TRACK-COLOR: #FFF5E3;
}

.h-15-brownbold {
	font-family: "Verdana", "Arial", "Helvetica", "Mingliu", "Sans-Serif";
	font-size: 15px;
	font-weight: bold;
	color: #725900;
}
.h-13-lightblue {
	font-family: "Verdana", "Arial", "Helvetica", "Mingliu", "Sans-Serif";
	font-size: 13px;
	color: #D4F2FE;
}
.h-13-black {
	font-family: "Verdana", "Arial", "Helvetica", "Mingliu", "Sans-Serif";
	font-size: 13px;
	color: #000000;
}
.h-11-grey {
	font-family: "Verdana", "Arial", "Helvetica", "Mingliu", "Sans-Serif";
	font-size: 11px;
	color: #3673A5;
}
.tbheading {
	font-family: "Verdana", "Arial", "Helvetica", "Mingliu", "Sans-Serif";
	font-size: 13px;
	font-weight: bold;
	color: #258890; BACKGROUND-COLOR: #9FD3D7;
}
.tblink {
	font-family: "Verdana", "Arial", "Helvetica", "Mingliu", "Sans-Serif";
	font-size: 13px;
	font-weight: bold;
	color: #0073D2;
	TEXT-DECORATION: none;
}
.tbbg-purplelight {
	BACKGROUND-COLOR: #EBF4FF;
	BORDER-TOP: #FFFFFF 1px solid;
	BORDER-LEFT: #FFFFFF 1px solid;
}
.tbbg-purpledark {
	BACKGROUND-COLOR: #E0EDFF;
	BORDER-TOP: #FFFFFF 1px solid;
	BORDER-LEFT: #FFFFFF 1px solid;
}
A {
	font-family: "Verdana", "Arial", "Helvetica", "Mingliu", "Sans-Serif";
	font-size: 13px;
	font-weight: bold;
	TEXT-DECORATION: none;
}
A:link {
	COLOR: #0073D2;
}
A:visited {
	COLOR: #685FC2;
}
A:hover {
	COLOR: #2D8CDB;
}
A:active {
	COLOR: #2D8CDB;
}
.link2 {
	font-family: "Verdana", "Arial", "Helvetica", "Mingliu", "Sans-Serif";
	font-size: 13px;
	font-weight: normal;
	TEXT-DECORATION: none;
}
A.link2:link {
	COLOR: #20398B;
}
A.link2:visited {
	COLOR: #20398B;
}
A.link2:hover {
	COLOR: #2B49AD;
}
A.link2:active {
	COLOR: #2B49AD;
}
