html, body {height:100%;}
body {font-family: 'Muli', 'GOTHIC', sans-serif; font-size: 18px; background:#83754f;}
/*a {color:#83754f;}*/
*	{    position: relative;	}
date {font-size:0.9em; color:#888;}
.sub-info {font-size:0.9em; color:#888;}
.tiny-info {font-size:0.8em; color:#888;}
.text-danger {color:#FF0000;}
.logo {font-family: 'Didact Gothic', 'GOTHIC', sans-serif;}
.container  {min-height:100%; height:100%; width:100%}
.back-to-top {position:fixed; right:20px; bottom:30px;}
.back-to-top .btn-back-to-top {color:white; background:black; padding:15px 17px; opacity:0.2;}
.back-to-top .btn-back-to-top:active {opacity:0.5;}
.text-highlight	{	color:#f8bd10;	}

/*Scroll bar*/
::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-track {background: #f3d273; -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);}
::-webkit-scrollbar-thumb {background: #c79604; -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);}
::-webkit-scrollbar-thumb:hover {background: #866c23;}
::-webkit-scrollbar-thumb:active {background: #866c23; -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);}

vert {display:table-cell; vertical-align:middle; height:inherit; padding:0px 20px; line-height:1.4em;}

/*icons*/
.act-icon {background: url(../images/icon-activities.png) no-repeat; width: 25px; height: 25px; float:left; margin: 0 5px 0 0;}
.act-icon.fa-li {left:-1.65em; top:0}
.act-icon.i-video {background-position:0 0}
.act-icon.i-sound {background-position:0 -25px}
.act-icon.i-webpage {background-position:0 -50px}
.act-icon.i-econtent {background-position:0 -75px}
.act-icon.i-lesson {background-position:0 -100px}
.act-icon.i-file {background-position:0 -125px}
.act-icon.i-discuss {background-position:0 -150px}
.act-icon.i-quiz {background-position:0 -175px}
.act-icon.i-filesubmission {background-position:0 -200px}
.act-icon.i-courseware {background-position:0 -225px}
.act-icon.i-powerboard {background-position:0 -250px}
.act-icon.i-powerconcept {background-position:0 -275px}
.act-icon.i-powervoice {background-position:0 -300px}
.act-icon.i-poll {background-position:0 -325px}
.act-icon.i-sentenceauction {background-position:0 -350px}
.act-icon.i-powergame {background-position:0 -375px}
.act-icon.i-openendedques {background-position:0 -400px}
.act-icon.i-answersheet {background-position:0 -425px}
.act-icon.i-targetvocab {background-position: 0 -450px;}
.act-icon.i-writing {background-position: 0 -475px;}

/*Bootstrap cust*/
.embed-responsive
{
	width:100%;
}


.top-nav-bar {border-top:5px #83754f solid; background:#897849; color:white;}
.top-nav-bar+.nav-block-obj {margin-bottom:-7px;}
.top-nav-bar .nav-block-obj {display:inline-block; height:45px; margin:5px 0px 0px 7px;}
.top-nav-bar .nav-block-obj vert {padding:0px;}
.top-nav-bar a.nav-block-obj {cursor:pointer;}
.top-nav-bar a.nav-block-obj:active {background:#E9E9E9;}
.top-nav-bar a.nav-block-obj:active icon {color:#83754f;}
.top-nav-bar icon {color:white; width:55px; text-align:center;}
.top-nav-bar icon.course-icon-s {margin-left:15px; width:45px;}
.top-nav-bar .nav-block-obj.pos-right {float:right; margin:12px 20px 0px 0px; border-top-left-radius:5px; border-top-right-radius:5px; cursor:pointer;}
.top-nav-bar .nav-block-obj.pos-right icon {font-size:1.3em; width:50px;}
.top-nav-bar .nav-block-obj.pos-right:active, .top-nav-bar .nav-block-obj.pos-right.on {background:#E9E9E9;}
.top-nav-bar .nav-block-obj.pos-right:active icon,
.top-nav-bar .nav-block-obj.pos-right.on icon {color:#83754f;}

.home-bg-gradient {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#83754f+0,948459+100 */
background: #83754f; /* Old browsers */
background: -moz-linear-gradient(top,  #83754f 0%, #948459 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #83754f 0%,#948459 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #83754f 0%,#948459 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83754f', endColorstr='#948459',GradientType=0 ); /* IE6-9 */ }

/*
.classroom-list {padding:0px; z-index:1;}
.classroom-list .list-group {border-radius:0px; margin:0;}
.classroom-list .list-group .list-group-item {border-radius:0px; color:white; padding:0px; border:0px; margin-bottom:2px; background:none;}
.classroom-list .list-group .list-group-item .classroom-icon {vertical-align:top; width:95px; height:65px; display:inline-block; background:rgba(0, 0, 0, .5);}
.classroom-list .list-group .list-group-item .classroom-icon .course-icon {margin:3px 0px 0px 35px;}
.course-icon {display:inline-block; width:45px; height:48px; background:url(../images/portal_icon.png) -83px -160px;}
.course-icon.t1 {background-position:-83px -150px;}
.course-icon.t2 {background-position:-83px -210px;}
.course-icon.t3 {background-position:-83px -270px;}
.course-icon.t4 {background-position:-83px -330px;}
.course-icon.t5 {background-position:-83px -390px;}
.course-icon.t6 {background-position:-83px -450px;}
.course-icon.t7 {background-position:-83px -510px;}
.classroom-list .list-group .list-group-item .word {vertical-align:top; width:calc(100% - 135px); height:65px; display:inline-block; background:rgba(0, 0, 0, .6);}
.classroom-list .list-group .list-group-item .word.arrow {width:40px; color:#83754f;}
.classroom-list .list-group .list-group-item .word.arrow vert {padding:0 10px;}
.classroom-list .list-group .list-group-item:hover .classroom-icon,
.classroom-list .list-group .list-group-item:active .classroom-icon {background:rgba(0, 0, 0, .3);}
.classroom-list .list-group .list-group-item:hover .word,
.classroom-list .list-group .list-group-item:active .word {background:rgba(0, 0, 0, .4);}
.classroom-bg {height:100%;}
.classroom-bg .cent-watermark {position:absolute; display:block; right:10px; top:10px; background:url(../images/logo3.png); width:350px; height:220px;}
.classroom-bg .cent-logo {position:fixed; display:block; right:10px; bottom:10px; background:url(../images/logo2.png); width:350px; height:58px;}
*/

.updates-view {background:#FFF; padding:0; margin-bottom:0;}
.updates-view.col-lg-8, .updates-view.col-sm-10 {margin-bottom:5px;}
.updates-view .panel {margin:0; border:0;}
.updates-view .panel .panel-heading {background:#948459; color:white; padding:15px 20px 15px 20px; border:0; border-radius:0px;}
.updates-view .panel .panel-heading .classroom-icon {	float:right;	}
.updates-view .panel .panel-heading .classroom-icon img	{	height: 33px;	}
.updates-view .panel .panel-heading .panel-title {font-size:1.1em;	line-height: 33px;	display: block;	overflow: hidden;	}
.updates-view .panel .panel-body {padding:0; border:0;}
.updates-view .panel .panel-body .list-group {margin:0;}
.updates-view .panel .panel-body .list-group-item {border:0; border-top:2px #E0E0E0 solid; padding:15px 20px;}
.updates-view .panel .panel-body .list-group-item .list-group-item-heading {color:#83754f; font-weight:bold;}
.updates-view .panel .panel-body .list-group-item .list-group-item-heading .course-icon-s {float:right;}
.updates-view .panel .panel-body .list-group-item .list-group-item-text {	font-size: 14px;	}
.course-icon-s {display:inline-block; vertical-align:middle; width:32px; height:33px; background:url(../images/portal_icon.png) -100px -150px;}
.course-icon-s.t1 {background-position:-280px -150px;}
.course-icon-s.t2 {background-position:-280px -200px;}
.course-icon-s.t3 {background-position:-280px -250px;}
.course-icon-s.t4 {background-position:-280px -300px;}
.course-icon-s.t5 {background-position:-280px -350px;}
.course-icon-s.t6 {background-position:-280px -400px;}
.course-icon-s.t7 {background-position:-280px -450px;}
.updates-view .btn-enterClassroom	{    text-align: right;	background: #eeeeee;	border-top: 2px #E0E0E0 solid;	font-size: 15px;	font-weight: bold;	padding: 10px 15px;	}
.updates-view .btn-enterClassroom	a	{	color: #777	};

.classroom-view-main {height:calc(100% - 62px);}
.classroom-view-main .col-sm-12 {height:calc(100% - 0px); padding:0 15px; overflow:auto;} /* update : 2016/10/25 */
.classroom-view-main .list-group {border-radius:0px;}
.classroom-view-main .list-group .list-group-item {padding:10px; border-radius:0px; margin-top:10px; border:2px #69C1BB solid;}
.classroom-view-main .list-group .list-group-item>div {display:inline-block; vertical-align:top;}
.classroom-view-main .list-group .list-group-item>div:first-child {width:33px; height:47px; text-align:center;} /* update : 2016/10/25 */
.classroom-view-main .list-group .list-group-item>div:last-child {width:calc(100% - 40px);}
.classroom-view-main .list-group .list-group-item icon {font-size:1.1em; color:#7FB2AF;}
.classroom-view-main .list-group .list-group-item .list-group-item-heading {line-height:1.5;}
.classroom-view-main .list-group .list-group-item .list-group-item-text {font-size:0.9em; color:#666;}

.classroom-view-main .classroom-view-nav {background:white; margin:10px; border:2px #69C1BB solid; border-radius:5px;}
.classroom-view-main .classroom-view-nav .page-header {color:#9C8038; padding:0px; margin:10px 0px; border-bottom:2px #9C8038 solid;}
.classroom-view-main .classroom-view-nav .list-group .list-group-item {border-color:#9C8038;}
.classroom-view-main .classroom-view-nav .list-group .list-group-item icon {font-size:1.1em; color:#9C8038;}
.classroom-view-main .classroom-view-nav .list-group .list-group-item>div {height:auto;}
.classroom-view-main .classroom-view-nav .list-group .list-group-item>div:last-child {width:calc(100% - 50px);}
.classroom-view-main .classroom-view-nav .list-group .list-group-item .list-group-item-heading {margin-bottom:0px;}





.econtent {height:100%; padding:0; margin:0 auto;}
.econtent .row {margin:0;}
.econtent-con {overflow-x:hidden; overflow-y:hidden; height:calc(100% - 62px); background:white; /* Prevent scroll on narrow devices */}
.econtent-con .row-offcanvas {height:100%;}
@media screen and (max-width: 1023px) {
	.row-offcanvas {position: relative;
	-webkit-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;}
	.row-offcanvas-right {right: 0;}
	.row-offcanvas-left {left: 0;}
	.row-offcanvas-right .sidebar-offcanvas {right: -100%; /* 6 columns */}
	.row-offcanvas-left .sidebar-offcanvas {left: -100%; /* 6 columns */}
	.row-offcanvas-right.active {right: 100%; /* 6 columns */}
	.row-offcanvas-left.active {left: 100%; /* 6 columns */}
	.sidebar-offcanvas {position: absolute; top: 0; width: 100%; /* 6 columns */}
}
@media screen and (min-width: 1024px) {
	.econtent .top-nav-bar .nav-block-obj.pos-right.hide {display:block!important;}
	.econtent #icon-econtent {display:inline-block!important;}
	.econtent #back-econtent {display:none!important;}
}
.econtent-con .tree-list {overflow-y:auto; height:100%; padding:0; padding-top:0px;}
.econtent-con .tree-list .list-group {}
.econtent-con .tree-list .list-group .list-group-item {border:0; padding:12px 0px; color:#897849; border-radius:0;}
.econtent-con .tree-list .list-group .list-group-item:hover {background-color:#FFF;}
.econtent-con .tree-list .list-group .list-group-item.active {color: #fff; background-color: #897849; border-color: #897849; background-image:none;}

.econtent-con .tree-list .list-group .list-group-item vert {float:left; padding:0px 17px;}
/*.econtent-con .tree-list .list-group .list-group-item vert .glyphicon-minus {font-size:0.8em;}*/
.econtent-con .tree-list .list-group .list-group-item vert .icon-point {width:8px; height:8px; background:#897849; border-radius:100%; margin:0px 0px 0px 6px; top:-2px;}
.econtent-con .tree-list .list-group .list-group-item.active vert .icon-point {background:#FFF;}
.econtent-con .tree-list .list-group .list-group-item vert+div {display:inline-block; width:calc(100% - 60px);}
.econtent-con .tree-list .tree-block>.tree-block {margin-left:25px;}
.econtent-con .econtent-main {overflow-y:auto; padding:0; height:100%;}
.econtent-con .econtent-main .content-title {background:#ECECEC; padding:15px 0px 10px 0px;}
.econtent-con .econtent-main .content-title>a {display:inline-block; padding-top:15px; color:#999; vertical-align:middle;}
.econtent-con .econtent-main .content-title>a:active {color:#333;}
.econtent-con .econtent-main .content-title>a vert {padding:0px 15px;}
.econtent-con .econtent-main .content-title>div {display:inline-block; width:calc(100% - 108px); vertical-align:middle;}
.econtent-con .econtent-main .content-title>div .list-group-item-text {font-size:0.9em; color:#666;}
.econtent-con .econtent-main .list-group {padding:0px 20px;}
.econtent-con .econtent-main .list-group .list-group-item {border:0; padding:15px 0px;}
.econtent-con .econtent-main .list-group .list-group-item+.list-group-item {border-top:1px #CCC solid;}
.econtent-con .econtent-main .item-title {}
.econtent-con .econtent-main .item-title img {padding-right:5px;}
.btn-collapse {display:inline-block; float:right; padding:5px;}
.btn-collapse:active {background:#EEE;}
.btn-collapse>div {width:16px; height:16px; background:url(../images/icon-show-hide-drag.png) left top no-repeat;}
.btn-collapse>div.btn-show {background-position:left -16px;}
.econtent-con .econtent-main .item-title .btn-collapse {}
.econtent-con .econtent-main .item-title > .item-fileType	{	display: block;	overflow: hidden;	font-weight: bold;	color:#aaa;	font-size: 14px;	}
.econtent-con .econtent-main .item-content {margin-top:5px;}
.econtent-con .econtent-main .item-content .screen-size {width:100%;}
.econtent-con .econtent-main .item-content iframe {border:0;}
.econtent-con .econtent-main .item-content iframe.no-wrapper {border:1px #CCC solid; width:100%; height:450px; overflow:auto; -webkit-overflow-scrolling:touch;}
.econtent-con .econtent-main .item-content .iframe-wrapper {border:1px #CCC solid; width:100%; height:450px; overflow:auto; -webkit-overflow-scrolling:touch;}
.econtent-con .econtent-main .item-content .iframe-wrapper iframe {height:calc(100% - 8px);}

.econtent-con .econtent-ref {padding:0; overflow-y:auto; padding:0; height:100%;}
.econtent-con .econtent-ref .panel {margin:0; border:0; box-shadow:none; border-radius:0;}
.econtent-con .econtent-ref .panel+.panel {border-top:5px #CCC solid;}
.econtent-con .econtent-ref .panel .panel-heading {display:block; padding:20px; border:0; border-radius:0px; background-image:none; background:#E9E9E9; color:#666; border-bottom:2px #CCC solid;}
.econtent-con .econtent-ref .panel .panel-heading .btn-collapse {}
.econtent-con .econtent-ref .panel .panel-heading .btn-collapse:active {background:#FFF;}
.econtent-con .econtent-ref .panel .panel-body {padding:0; border:0;}
.econtent-con .econtent-ref .panel .panel-body .list-group {margin:0; box-shadow:none;}
.econtent-con .econtent-ref .panel .panel-body .list-group-item {border:0; padding:20px; border-radius:0;}
.econtent-con .econtent-ref .panel .panel-body .list-group-item+.list-group-item {border-top:2px #CCC solid;}
.econtent-con .econtent-ref .panel .panel-body .list-group-item .list-group-item-heading {padding:0; margin-bottom:13px;}
.econtent-con .econtent-ref .panel .panel-body .list-group-item .list-group-item-text {padding:0; font-size:0.9em;}
.econtent-con .econtent-ref p {padding:0; margin:0;}
.econtent-con .econtent-ref .post {margin:15px 20px; line-height:1.3em;}
.econtent-con .econtent-ref .blog-msg {margin:20px 20px 0px 20px; line-height:1.3em;}
.econtent-con .econtent-ref .post date {line-height:2em;}
.econtent-con .econtent-ref textarea {width:calc(100% - 40px); margin:20px 20px 12px 20px;}
.econtent-con .econtent-ref .btn {width:calc(100% - 40px); margin:0px 20px 10px 20px; font-size:1em; background:#8acd38; color:#fff;}
.econtent-con .econtent-ref .btn:active {background:#82bf37;}
.econtent-con .econtent-ref .goto-blog {margin:15px 20px 20px 20px;}




.blog {height:100%; padding:0; margin:0 auto; background:#FFF;}
.blog .top-nav-bar {margin:0;}
.blog * {border-radius:0!important;}
.blog .blog-con {padding:10px 20px; overflow-y:auto; height:calc(100% - 62px);}
.blog .blog-con .btn-add {width:100%; background:#FFF; color:#83754f; font-size:1em; margin:0; padding:10px 20px; text-align:left;}
.blog .blog-con .btn-add:active {background:#EEE;}
.blog .blog-con .list-group {margin-top:10px;}
.blog .blog-con .list-group .list-group-item {margin-bottom:20px; background:#e9fefd; box-shadow:0px 2px 2px #CCC; border:0;}
.blog .blog-con .list-group .list-group-item:hover {box-shadow:0px 4px 4px #CCC;}
.blog .blog-con .list-group .list-group-item:active {box-shadow:0px 1px 2px #CCC;}
.blog .blog-con .list-group .list-group-item>div:first-child {max-height:83px;}
.blog .blog-con .date-con {text-align:right; margin-top:10px;}
.over-trim-text {overflow:hidden;}
.over-trim-text>p {margin:0; padding:5px;}
.blog .blog-con .tool-bar {text-align:right;}
.blog .blog-con .tool-bar .btn {background:#FFF;}
.blog .blog-con .tool-bar .btn:active {background:#EEE;}
.blog .blog-con .tool-bar .btn icon {font-size:1.5em; color:#83754f;}
.blog .blog-con .view {margin:10px 0px;}
.blog .blog-con .view.edit {border:1px #CCC solid; padding:10px; height:calc(100% - 120px);}
.blog .blog-con .btn-set {}
.blog .blog-con .btn-set .btn {width:calc(50% - 10px); margin:10px 0px; font-size:1em; background:#8acd38; color:#fff;}
.blog .blog-con .btn-set .btn:active {background:#82bf37;}
.blog .blog-con .btn-set .btn+.btn {margin-left:20px;}
.blog .blog-con .btn-set .btn.btn-cancel {background:#DDD; color:#666;}
.blog .blog-con .btn-set .btn.btn-cancel:active {background:#CCC;}




.assessment {height:100%; padding:0; margin:0 auto;}
.assessment div.flex-width {display:inline-block; width:auto;}
.assessment .row {margin:0;}
.assessment-view-main {overflow-x:hidden; overflow-y:auto; height:calc(100% - 61px); background:white; padding:20px;}
.assessment-view-main .tab-gp {border-bottom:1px #9C8038 solid; margin:0px -20px 10px -20px;}
.assessment-view-main .tab-gp .btn {display:inline-block; border-bottom:5px #FFF solid; width:50%; font-size:1.2em; color:#999; padding:3px; border-radius:0;}
.assessment-view-main .tab-gp .btn.active {color:#9C8038; border-bottom:5px #9C8038 solid; box-shadow:none;}
.assessment-view-main .tab-gp .btn:active {box-shadow:none; background:#EEE;}
.assessment-view-main .filter-gp {width:100%; margin-bottom:10px;}
.assessment-view-main .filter-gp>div {display:inline-block; width:calc(100% / 3 - 10px); vertical-align:top;}
.assessment-view-main .filter-gp>div+div {margin-left:15px;}
@media (max-width: 767px) {
	.assessment-view-main .filter-gp>div {width:100%;}
	.assessment-view-main .filter-gp>div+div {margin-left:0px;}
}
.assessment-view-main .dropdown-toggle {position:relative;}
.assessment-view-main .dropdown-menu {top:inherit; left:inherit;}

.pull-down {padding:5px 10px; border:1px #CCC solid; width:auto; border-radius:5px; cursor:pointer; background:#FFF; margin-bottom:10px;}
.pull-down>.current {display:inline-block; width:calc(100% - 35px);}
.pull-down>.menu {z-index:1; position:absolute; border:1px #CCC solid; width:inherit; padding:5px 8px; margin:8px 0px 0px -9px; border-radius:5px; background-color:white; display:none;}
.pull-down>.menu>li {padding:7px 0px; list-style:none; border-radius:5px;}
.pull-down>.menu>li:hover {background-color:#83754f; color:white;}
.search-bar {padding:4px 10px 5px 10px; border:1px #CCC solid; text-align:left; width:100%; border-radius:5px; background:#FFF;}
.search-bar>input {width:calc(100% - 35px); border:0; outline:0;}
.pull-down>.icon-con, .search-bar>.icon-con {display:inline-block; background:#FFF; color:#888;}
.pull-down>.icon-con>icon, .search-bar>.icon-con>icon {padding:5px; cursor:pointer;}
.pull-down:active>.icon-con, .search-bar>.icon-con:active {color:#333;}


.assessment-view-main .list-group .list-group-item {padding:12px 20px; border-radius:0px; margin-top:10px; border:0; box-shadow:0px 2px 2px #CCC; background:#efece6;}
.assessment-view-main .my-work .list-group .list-group-item:active {box-shadow:0px 1px 2px #CCC;}
.assessment-view-main .list-group .list-group-item .row>div {padding:0;}
@media (min-width: 992px) {
	.assessment-view-main .list-group .list-group-item .row>div:first-child {padding-right:10px;}
}
.assessment-view-main .right-align {text-align:right;}
.assessment-view-main .btn-add {width:100%; background:#FFF; color:#83754f; font-size:1em; margin:0; padding:10px 20px; text-align:left; outline:none;}
.assessment-view-main .btn-add:active {background:#EEE; outline:none;}
.assessment-view-main .self-test .list-group .list-group-item .btn {display:block; position:absolute; right:10px; top:10px; color:#999; font-size:1.0em; padding:5px 10px;}
.assessment-view-main .self-test .list-group .list-group-item .row a {padding:0 40px 0 0; font-size:1.1em; margin-bottom:5px;}
@media (min-width: 992px) {
	.assessment-view-main .self-test .list-group .list-group-item .row a {margin-bottom:0px;}
}
@media (max-width: 389px) {
	.assessment-view-main .self-test .list-group .list-group-item .row .col-xs-7 {width:100%;}
	.assessment-view-main .self-test .list-group .list-group-item .row .col-xs-5 {width:100%;}
}

.assessment-view-main .top-grey-title {background:#EFEFEF; margin:-20px -20px 0px -20px; padding:10px 20px;}
.assessment-view-main .top-grey-title .row>div {padding:0;}
.assessment-view-main .top-grey-title .row>.sub-info span {color:#777;}
/* new 2015-11-18 */
.assessment-view-main .top-grey-title .btn-desc {color:#8acd38; text-decoration:none;}
.assessment-view-main .top-grey-title .btn-desc:hover,
.assessment-view-main .top-grey-title .btn-desc:active {color:#7FB2AF;}
.assessment-view-main .top-grey-title .btn-desc>.glyphicon:last-child {font-size:0.8em;}
.assessment-view-main .top-grey-title .desc-area {color:#897849; font-size:0.9em;}

.assessment-view-main .result-bar {background:#FDE9B6; margin:0px -20px; padding:10px 20px;}
.assessment-view-main .result-bar span {font-size:1.1em; margin-left:10px;}
.assessment-view-main .result-bar.sublevel {padding:10px 40px; margin-bottom:10px;	margin-top:10px;	}
.assessment-view-main .phase {margin:0px -20px; padding:0;}
.assessment-view-main .phase-selector {}
.assessment-view-main .phase-selector .pull-down {border-radius:0; margin:0; border:0; padding:0; background:#9C8038; color:#FFF;}
.assessment-view-main .phase-selector .pull-down .current {background:#9C8038; margin:0; padding:15px 20px; width:calc(100% - 75px); font-size:1.1em;}
.assessment-view-main .phase-selector .pull-down .icon-con {background:#9C8038; padding:15px 20px; color:#FFF;}
.assessment-view-main .phase-selector .pull-down .menu {margin:0; position:relative; border-radius:0; padding:0; border:0; border-top:2px #B59749 solid; width:100%;}
.assessment-view-main .phase-selector .pull-down .menu>li {background:#9C8038; padding:10px 20px; border-radius:0;}
.assessment-view-main .phase-selector .pull-down .menu>li:hover,
.assessment-view-main .phase-selector .pull-down .menu>li:active {background:#B59749;}
.assessment-view-main .phase-detail {background:#CBB376; padding:10px 20px; color:#473300;}
.assessment-view-main .phase-detail .sub-info {color:#84671F;}
.assessment-view-main .phase-detail .sub-info span {color:#473300;}
.assessment-view-main .phase-result {background:#DAC590; padding:10px 20px; color:#473300;}
.assessment-view-main .task {margin:0px -20px; padding:0px 20px;}
.assessment-view-main .task+.task {border-top:2px #DDD solid; margin-top:20px;}
.assessment-view-main .task>li {list-style:none;}
.assessment-view-main .task .sub-info {margin-top:10px;}
.assessment-view-main .task .sub-info.lbl-NoSubmission	{	margin-bottom: 10px;	}
.assessment-view-main .task .title-row {margin:10px 0px 5px 0px;}
.assessment-view-main .task .title-row .mark-weight {display:inline-block; float:right; font-size:0.9em;}
.assessment-view-main .task .title-row .title {font-size:1.5em; line-height:1.2em; display:inline-block;}

.assessment-view-main .task .row>div {margin:0; padding:0;}
.assessment-view-main .task .act-type {color:#83754f; font-size:1.1em; margin:5px 0px;}
.assessment-view-main .task .act-type icon {display:inline-block;}
.assessment-view-main .task .btn {width:100%; font-size:1em; background:#8acd38; color:#fff; outline:none;}
.assessment-view-main .task .btn:active {background:#82bf37;}
.assessment-view-main .task .btn+.btn {margin-left:20px;}
.assessment-view-main .task .submit-area {background:#EFEFEF; border-radius:5px; margin:10px 0px; padding:10px 20px;}
.assessment-view-main .attempts-pop {width:100vw; height:100vh; position:absolute; left:0px; top:0px; display:table; vertical-align:middle;}
.assessment-view-main .attempts-pop .shield {background:#000; opacity:0.3; width:100%; height:100%; position:absolute;}
.assessment-view-main .attempts-pop .bg-vert-con {width:95%; height:auto; display:table-cell; vertical-align:middle;}
.assessment-view-main .attempts-pop .bg {background:#EEE; position:relative; width:95%; height:auto; padding:20px; box-shadow:3px 3px 2px #888;}
.assessment-view-main .attempts-pop .btn-close {display:inline-block; float:right; padding:10px 15px; margin:-10px -10px 0 0; font-size:1em;	color:#777;}
.assessment-view-main .attempts-pop .record-gp {padding:0; margin:0;}
.assessment-view-main .attempts-pop .record-gp .row {background:#FFF; list-style:none; margin-top:20px; box-shadow:2px 2px 2px #CCC; padding:10px 20px; cursor:pointer;}
.assessment-view-main .attempts-pop .record-gp .row:active {box-shadow:0px 0px 2px #CCC;}
.assessment-view-main .attempts-pop .record-gp .row>div {padding:0; line-height:1.8em;}
.assessment-view-main .attempts-pop .record-gp .row>div>span {margin-left:20px;}




.assessment-view-doing {overflow-x:hidden; overflow-y:auto; height:calc(100% - 61px); background:white; padding:0;}
.assessment-view-doing .top-grey-title {background:#EFEFEF; margin:0px -20px 0px -20px; padding:15px 20px 10px 25px;}
.assessment-view-doing .top-grey-title>* {vertical-align:top;}
.assessment-view-doing .top-grey-title a {color:#333; display:inline-block; padding:8px 0px;}
.assessment-view-doing .top-grey-title a:active {color:#888;}
.assessment-view-doing .top-grey-title .row {width:calc(100% - 100px); display:inline-block; font-size:1.1em;}
.assessment-view-doing .top-grey-title .row>div {padding:5px 0px;}
.assessment-view-doing .top-grey-title .row>.sub-info span {color:#777;}
.assessment-view-doing .content {margin:0; padding:20px; max-height:calc(100% - 185px); overflow-y:auto;}
.assessment-view-doing .content>li {list-style:none; margin-bottom:20px;}
.assessment-view-doing .content .row>div {padding:0;}
.assessment-view-doing .content .row>div::after	{	display: block;	content: "";	height:0;	clear:both;	visibility: hidden;}
.assessment-view-doing .content .item-content+.item-title	{	border-top:1px solid #ddd;	}
.assessment-view-doing .content .item-content	{	padding:10px 0;	}
.assessment-view-doing .content button {width:100%; font-size:1em; background:#8acd38; color:#fff; outline:none;}
.assessment-view-doing .content button:active {background:#82bf37; outline:none;}
.assessment-view-doing .content .button>button {background:#FFF; text-align:left; padding-left:0;}
.assessment-view-doing .content .button>button:active {background:#EEE; outline:none;}
.assessment-view-doing .content .button>button.btn-add {	margin-left: -5px;	margin-right:-5px;	padding-left: 5px;	    color: #897849;	}
.assessment-view-doing .content .button>button.btn-add > span	{	color:#8acd38;	}
.assessment-view-doing .content .attachment>div+div {padding-left:5px;}
.assessment-view-doing .content .attachment>div:last-child {	overflow: hidden;display:block	}
.assessment-view-doing .content .attachment>div:nth-child(2) {	float: right;	}
.assessment-view-doing .content .attachment>div:first-child	{	float:left;	}
.assessment-view-doing .content .attachment button {background:#FFF;  color:#777; border:0; outline:none; padding:3px 10px;}

.assessment-view-doing .btn-set {border-top:2px #DDD solid; padding:12px 20px; width:100%; position:fixed; bottom:0px;	background: #fff;}
.assessment-view-doing .btn-set .btn {width:calc(50% - 10px); margin:10px 0px; font-size:1em; background:#8acd38; color:#fff; outline:none;}
.assessment-view-doing .btn-set .btn:active {background:#82bf37; outline:none;}
.assessment-view-doing .btn-set .btn+.btn {margin-left:20px;}

.assessment-view-doing .ctn-recorder	{padding:12px 0 0 0 ; width:100%; position:fixed; bottom:-50%; left:0;		text-align:center; transition: 0.3s ease all;}
.assessment-view-doing .ctn-recorder.show	{	bottom:0;	}

.assessment-view-quiz {overflow-x:hidden; overflow-y:auto; height:calc(100% - 61px); background:white; padding:0;}
.assessment-view-quiz .top-grey-title {background:#EFEFEF; margin:0 0 0 -20px; padding:15px 20px 10px 25px;}
.assessment-view-quiz .top-grey-title>* {vertical-align:top;}
.assessment-view-quiz .top-grey-title a {color:#333; display:inline-block; padding:8px 0px;}
.assessment-view-quiz .top-grey-title a:active {color:#888;}
.assessment-view-quiz .top-grey-title .row {width:calc(100% - 100px); display:inline-block; font-size:1.1em;}
.assessment-view-quiz .top-grey-title .row>div {padding:5px 0px;}
.assessment-view-quiz .top-grey-title .row>.sub-info span {color:#777;}
.assessment-view-quiz .top-grey-title.self-test {font-size:0.8em; margin:0; padding:10px 20px;}
.assessment-view-quiz .top-grey-title.self-test .row {width:100%;}
.assessment-view-quiz .top-grey-title.self-test span {font-size:1.2em;}
.assessment-view-quiz .top-grey-title.self-test .row>div {padding:3px 0px;}
.assessment-view-quiz .assessment-instructions {	margin:15px 20px;}
.assessment-view-quiz .assessment-instructions>div::after	{	display: block;	content: "";	height:0;	clear:both;	visibility: hidden;}
.assessment-view-quiz .assessment-instructions .item-content+.item-title	{	border-top:1px solid #ddd;	}
.assessment-view-quiz .assessment-instructions .item-content	{	padding:10px 0;	}
.assessment-view-quiz .question_area {margin:0; padding:0;}
.assessment-view-quiz .question_area .question {list-style:none; padding:0 20px;}
.assessment-view-quiz .question_area .question+.question {border-top:2px #CCC solid; margin-top:20px;}
.assessment-view-quiz .question_area .question:last-child {margin-bottom:20px;}
.assessment-view-quiz .question_area .question p {margin:0;}
.assessment-view-quiz .question_area .question .num {color:#888; font-size:1.4em; font-weight:bold; margin:10px 0;}
.assessment-view-quiz .question_area .question .edit-area {font-size:1.1em;}
.assessment-view-quiz .question_area .question .attach-area {}
.assessment-view-quiz .question_area .question .pulldown {border:1px #CCC solid;}
.assessment-view-quiz .question_area .question .pulldown option {}
.assessment-view-quiz .question_area .question .input-area {width:100%; height:60px; border-radius:5px; background:#EEE; border-color:#CCC;}
.assessment-view-quiz .question_area .question .input-area:focus {background:#FFF;}
.assessment-view-quiz .question_area .question marking {width:0px; overflow:visible; position:relative; padding-left:3px;}
.assessment-view-quiz .question_area .question marking.center {padding-right:20px;}
.assessment-view-quiz .question_area .question marking .glyphicon {position:absolute; top:3px;}
.assessment-view-quiz .question_area .question marking .glyphicon-ok {color:#6AB753;}
.assessment-view-quiz .question_area .question marking .glyphicon-remove {color:#CA3248;}
.assessment-view-quiz .question_area .question .answer {color:#CA3248; font-weight:bold;}
.assessment-view-quiz .question_area .question .comments {background:#EEE; border:1px #CCC solid; padding:12px 20px; margin-top:10px;}

.assessment-view-quiz .question_area .option-area {padding:0; margin-top:10px;}
.assessment-view-quiz .question_area .option-area .option {list-style:none;}
.assessment-view-quiz .question_area .option-area .option+.option {margin-top:5px;}
.assessment-view-quiz .question_area .option-area .option label {margin:0;}
.assessment-view-quiz .question_area .option-area .option .edit-area {max-width:calc(100% - 60px); display:inline-block; vertical-align:top;}
.assessment-view-quiz .question_area .option-area .option input[type="checkbox"] {display:none;}
.assessment-view-quiz .question_area .option-area .option input[type="checkbox"]+span {display:inline-block; border-radius:100%; border:1px #AAA solid; width:23px; height:23px; margin:0px 4px 0px 0px; vertical-align:top; cursor:pointer; line-height:10px;}
.assessment-view-quiz .question_area .option-area .option input[type="checkbox"]+span icon {display:none; width:11px; height:11px; border-radius: 100% 100%; background: #fff; position: absolute;	top:5px;	left:5px;	}
.assessment-view-quiz .question_area .option-area .option input[type="checkbox"]:checked+span {background:#4786D9; border-color:#4786D9;}
.assessment-view-quiz .question_area .option-area .option input[type="checkbox"]:checked+span icon {display:inline-block;}
.assessment-view-quiz .question_area .option-area .option input[type="radio"] {display:none;}
.assessment-view-quiz .question_area .option-area .option input[type="radio"]+span {display:inline-block; border-radius:100%; border:1px #AAA solid; width:23px; height:23px; margin:0px 4px 0px 0px; vertical-align:top; cursor:pointer; line-height:10px;}
.assessment-view-quiz .question_area .option-area .option input[type="radio"]+span icon {display:none; width:11px; height:11px; border-radius: 100% 100%; background: #fff; position: absolute;	top:5px;	left:5px;	}
.assessment-view-quiz .question_area .option-area .option input[type="radio"]:checked+span {background:#4786D9; border-color:#4786D9;}
.assessment-view-quiz .question_area .option-area .option input[type="radio"]:checked+span icon {display:inline-block;	}
.assessment-view-quiz .question_area .option-area .option op-mark {font-weight:bold; color:#4EABE9; font-family:Arial; font-size:1.3em; vertical-align:top; line-height:23px; padding:0px 4px;}

.assessment-view-quiz .question_area .tf .option-area .option {list-style:none; display:inline-block;}
.assessment-view-quiz .question_area .tf .option-area .option+.option {margin-left:30px;}

.assessment-view-quiz .question_area .question.matching .option-row {padding:0; margin:10px 0px 20px 0;}
.assessment-view-quiz .question_area .question.matching .option-row .box {list-style:none; width:100%; display:inline-block; border:1px #DDD solid; border-radius:5px; padding:3px 10px; position:relative; vertical-align:top;}
.assessment-view-quiz .question_area .question.matching .option-row .box+.box {margin:18px 0 0 0;}
.assessment-view-quiz .question_area .question.matching .option-row .fill {background:#EEE; border-color:#CCC;}
.assessment-view-quiz .question_area .question.matching .option-row .box.set-a:after {
content:''; width:0; height:0; border-style:solid; border-width:7px 4px 0 4px; border-color:#999 transparent transparent transparent; position:absolute;
left:calc((100% - 15px) / 2); right:inherit; top:inherit; margin-top:10px;}
.assessment-view-quiz .question_area .question.matching .option-row .link {list-style:none; color:#666; height:19px; margin-left:50%; font-size:0.9em;}
.assessment-view-quiz .question_area .question.matching .option-choices {padding:0;}
.assessment-view-quiz .question_area .question.matching .option-choices .option-row {margin:13px 0 0 0; list-style:none; width:100%; background:#EEE; border:1px #CCC solid; border-radius:5px; padding:3px 10px;}
@media (min-width: 768px) {
.assessment-view-quiz .question_area .question.matching .option-row .box {display:inline-block; width:calc(50% - 12px);}
.assessment-view-quiz .question_area .question.matching .option-row .box+.box {margin:0 0 0 15px;}
.assessment-view-quiz .question_area .question.matching .option-row .link {display:inline-block; margin-left:inherit;}
.assessment-view-quiz .question_area .question.matching .option-row .box.set-a:after {
border-width:4px 0 4px 7px; border-color:transparent transparent transparent #999; right:-15px; top:2px; left:inherit;}
.assessment-view-quiz .question_area .question.matching .option-choices .option-row {width:calc(50% - 12px); display:inline-block;}
.assessment-view-quiz .question_area .question.matching .option-choices .option-row:nth-child(even) {margin-left:15px;}
}

.assessment-view-quiz .question_area .question.ordering .option-area {margin:10px 0 0 0;}
.assessment-view-quiz .question_area .question.ordering .option-row {padding:0;}
.assessment-view-quiz .question_area .question.ordering .option-row .box {list-style:none; border:1px #CCC solid; border-radius:5px; padding:10px 15px;}
.assessment-view-quiz .question_area .question.ordering .option-row .box+.box,
.assessment-view-quiz .question_area .question.ordering .option-row marking+.box {margin:20px 0 0 0;}
.assessment-view-quiz .question_area .question.ordering.sentence .option-row .box {display:inline-block; padding:5px 12px; margin:15px 10px 0 0;}
.assessment-view-quiz .question_area .question.ordering.sentence .option-area {margin:0;}

.assessment-view-quiz .question_area .question.cloze .edit-area {line-height:2em;}
.assessment-view-quiz .question_area .question.cloze input.text {line-height:1.6em; padding:0px 5px; border:1px #CCC solid; width:120px;}
.assessment-view-quiz .question_area .question.cloze .pulldown {padding:2px;}

.assessment-view-quiz .question_area .question.writing .edit-area {margin-bottom:15px;}
.assessment-view-quiz .question_area .question.writing .input-area {height:auto;	min-height:40vh;	background: transparent;	border:1px #CCC solid;}

.assessment-view-quiz .btn-set {border-top:1px #CCC solid; padding:12px 20px; width:100%;}
.assessment-view-quiz .btn-set .btn {width:calc(50% - 10px); margin:10px 0px; font-size:1em; background:#8acd38; color:#fff; outline:none;}
.assessment-view-quiz .btn-set .btn:active {background:#82bf37; outline:none;}
.assessment-view-quiz .btn-set .btn+.btn {margin-left:20px;}
.assessment-view-quiz .btn-set .btn-cancel {background:#FFF; color:#333; border-color:#CCC;}
.assessment-view-quiz .btn-set .btn-cancel:active {background:#EEE; border-color:#BBB;}
.assessment-view-quiz.new .btn-set {border:0px;}
.assessment-view-quiz.preview .btn-set {padding-top:5px;}
.assessment-view-quiz.preview .btn-set .btn {width:calc(100% / 3 - 10px); margin:10px 0 0 0;}
.assessment-view-quiz.preview .btn-set .btn+.btn {margin-left:15px;}
@media (max-width: 767px) {
.assessment-view-quiz.preview .btn-set .btn,
.assessment-view-quiz.preview .btn-set .btn+.btn {width:100%; margin:10px 0 0 0;}
.assessment-view-quiz.preview .btn-set .btn+.btn-cancel {margin:10px 0 0 0;}
}

.assessment-view-quiz .question_area.answer .question .input-area {width:calc(100% - 15px);}
.assessment-view-quiz .question_area.answer .question.ordering.paragraph .option-row .box {display:inline-block; width:calc(100% - 15px);}
.assessment-view-quiz .question_area.answer .question.ordering.paragraph .option-row .box+marking {display:inline-block; height:15px;}
.assessment-view-quiz .question_area.answer .question.ordering .answer {margin-top:20px;}
.assessment-view-quiz .question_area.answer .question.cloze marking.center {padding:0px;}
.assessment-view-quiz .question_area.answer .question.cloze marking+span {padding-left:15px;}
.assessment-view-quiz .question_area.answer .question.matching .option-row .box {width:calc(100% - 15px);}
.assessment-view-quiz .question_area.answer .question.matching .option-row .box.set-ans {margin-top:10px; color:#CA3248; border-color:#CA3248; background:#EEE;}
.assessment-view-quiz .question_area.answer .question.matching marking {top:22px;}
@media (min-width: 768px) {
.assessment-view-quiz .question_area.answer .question.matching .option-row .box {width:calc(50% - 20px);}
.assessment-view-quiz .question_area.answer .question.matching .option-row .box.set-ans {margin-left:50%;}
.assessment-view-quiz .question_area.answer .question.matching marking {top:4px;}
}

.assessment-view-quiz.new-selftest .top-grey-title {padding:15px 20px; margin:0;}
.assessment-view-quiz.new-selftest.new .step1 {padding:15px 20px;}
.assessment-view-quiz.new-selftest.new .step2 {padding:15px 20px 0 20px;}
.assessment-view-quiz.new-selftest.new .step2 input {border:1px #BBB solid; width:100%; text-align:center; font-size:1.1em; padding:4px 20px;}
.assessment-view-quiz.new-selftest.new .select-gp {width:100%; padding:0 20px;}
.assessment-view-quiz.new-selftest.new .select-gp label {width:100%; font-weight:normal;}
.assessment-view-quiz.new-selftest.new .select-gp input[type="checkbox"] {display:none;}
.assessment-view-quiz.new-selftest.new .select-gp input[type="checkbox"]+span {color:#FFF; padding:3px 3px 1px 3px; font-size:0.8em; background:#FFF; border:1px #AAA solid;}
.assessment-view-quiz.new-selftest.new .select-gp input[type="checkbox"]:checked+span {background:#83754f; border-color:#83754f;}
.assessment-view-quiz.new-selftest.new .select-gp .group-title {list-style:none;}
.assessment-view-quiz.new-selftest.new .select-gp .group-title>label {background:#DDD; padding:8px 10px;}
.assessment-view-quiz.new-selftest.new .select-gp .group-title>label input[type="checkbox"]+span {margin-right:10px;}
.assessment-view-quiz.new-selftest.new .select-gp .group-title .select-child {padding:0;}
.assessment-view-quiz.new-selftest.new .select-gp .group-title .select-child label {padding:0px 10px;}
.assessment-view-quiz.new-selftest.new .select-gp .group-title .select-child .child-title {list-style:none;}
.assessment-view-quiz.new-selftest.new .select-gp .group-title .select-child .child {list-style:none;}
.assessment-view-quiz.new-selftest.new .select-gp .group-title .select-child .child-title label input[type="checkbox"]+span {margin-right:10px;}
.assessment-view-quiz.new-selftest.new .select-gp .group-title .select-child .child label input[type="checkbox"]+span {margin-right:30px;}
.assessment-view-quiz.new-selftest.new .select-total {padding:0; width:100%;}
.assessment-view-quiz.new-selftest.new .select-total>li {width:100%;}
.assessment-view-quiz.new-selftest.new .select-total>li span {float:right;}
.assessment-view-quiz.new-selftest.new .select-total .item {list-style:none; padding:0 22px;}
.assessment-view-quiz.new-selftest.new .select-total .summary {list-style:none; padding:10px 22px; margin:10px 0px; background:#EEE;}
@media (min-width: 768px) {
.assessment-view-quiz.new-selftest.new .select-gp .group-title .select-child .child {width:calc(100% / 2 - 5px); display:inline-block;}
.assessment-view-quiz.new-selftest.new .select-total {width:50%;}
}
