// out: ../css/style.css, sourcemap: false
@charset "utf-8";
body {font-size:13px; color:#333;}
a, a:focus, a:hover {text-decoration:none;}
a {color:#216bd1;}
a:focus, a:hover {opacity:.7;}
*:focus {outline:none!important; box-shadow:none;}
.text-right {text-align:right!important;}

.table {
    border-collapse:collapse; width:100%; max-width:100%; margin-bottom:1rem; background-color:transparent;
    td, th {text-align:left;}
    td:first-child, th:first-child {padding-left:1rem;}
}
.table-multi-levels {
    vertical-align:top; background:#fff; border-color:#fff;
    .text {display:inline-block;}
    tr+tr td {border-top:2px solid #fff;}
    thead th {border-bottom:4px solid #aeaeae;}
    tbody td {background-color:#e9e9e9; vertical-align:middle; height:40px;}
    tbody:not(:first-of-type) td {border-top:4px solid #fff;}
    .c-icon {width:60px; text-align:center;}
    .c-selected {width:100px;}
    .c-input {width:100px;}
    /*btns*/
    .btn-table-expand {
        font-size:1.8rem; padding:.3rem .9rem;
        &:not(.collapsed) {color:#999; background:none;}
        &:before {color:#aeaeae; content:"\f0d7"; font-family:'Font Awesome 5 Free'; font-weight:bold; display:inline-block;}
        &:not(.collapsed):before {content:"\f0d8";}
        &:hover, &:focus {opacity:.7; color:#999;}
        &:not(.collapsed):hover, &:not(.collapsed):focus {opacity:.7; color:#999;}
    }
    .btn-edit {font-size:1rem; padding:.3rem .9rem; color:#7a7a7a;}
    .btn-edit:hover {opacity:.7;}
    .btn-select {
        font-size:1.3rem; padding:.3rem .9rem; position:relative;
        &:before {color:#eee; content:"\f0c8"; font-family:'Font Awesome 5 Free'; font-weight:bold; display:inline-block;}
        &.selected:not(.all):after {font-size:.9rem; color:#44ab42; content:"\f00c"; font-family:'Font Awesome 5 Free'; font-weight:bold; display:inline-block; position:absolute; left:1.05rem; top:.55rem;}
        &.all.selected:before {color:#44ab42; content:"\f14a";}
    }
    /*tick*/
    .indent {width:13px; display:inline-block; color:#44ab42; margin-right:1rem;}
    .indent.not-ready {color:#a0a0a0;}
    /*levels*/
    .collapsible:not(.show) {display:none;}
    tr.level-1 td {
        background-color:#f3f3f3;
        .btn-table-expand {font-size:1.3rem; padding:.3rem 1rem;}
        .btn-table-expand:before {content:"\f0d7";}
        .btn-table-expand:not(.collapsed):before {content:"\f0d8";}
        .indent {margin-left:2rem;}
    }
    tr.level-2 td {
        background-color:#fff;
        .indent {margin-left:4rem;}
    }
    tr.level-3 td { /*just in case*/
        background-color:#fff;
        .indent {margin-left:6rem;}
    }
}
.legend {
    color:#666;
    span {vertical-align:middle;}
}

.table-multi-levels
.table-multi-levels .c-tick {
  width: 2rem;
}
