table.sortable tbody {
    counter-reset: sortabletablescope;
}
table.sortable thead tr::before {
    content: "#";
    display: table-cell;
}
table.sortable thead tr::before {
	margin: 0px;
	padding: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #A6A6A6;
	font-weight: normal;
	color: #FFFFFF;
	text-align: left;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	width:1%
}
table.sortable tbody tr::before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
}
table.sortable tbody tr::before {
	margin: 0px;
	padding: 3px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #f1f1f1;
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px;
}