html,body{
	margin:0;
	padding:0;
	background-color: #a19e9e;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}


#container{
	background-color: #FFFFFF;
	width:100%;
	min-width:790px;
}
#container0{

	background-image: url(../images/2007a/admin_console/bg0.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}

#container1{

	background-image: url(../images/2007a/admin_console/bg1.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}
#container2{
	background-image: url(../images/2007a/admin_console/bg2.gif);
	background-repeat: repeat-y;
	background-position: right;
}
#langbar {
	margin: 0px;
	padding: 0px;
	background-color: #656565;
	height: 24px;
}
#schoolname {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	float: left;
	padding: 2px;
}
#langbtn{
	margin: 0;
	padding: 0;
}

#langbtn ul{
	background: url(../images/2007a/admin_console/top_btn_bg.gif) repeat-x;
	padding: 0;
	margin: 0;
	float: right;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	vertical-align: bottom;
}

#langbtn ul li{
	display: inline;
}


#langbtn ul li a{
	float: left;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	background: url(../images/2007a/admin_console/top_btn_divider.gif) top right no-repeat;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 5px;
}

#langbtn ul li a#leftcorner{
	padding-left: 15px;
	padding-right: 15px;
	background: url(../images/2007a/admin_console/top_btn_leftcorner.gif) top left no-repeat;
}

#langbtn ul li a#rightcorner{
	padding-right: 10px;
	background: url(../images/2007a/admin_console/top_btn_bg.gif) top right no-repeat;
}

#langbtn ul li a:hover{
	color: #0066CC;
	text-decoration: none;
}

#langbtn:after{ /*Add margin between menu and rest of content in Firefox*/
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

#mainmenu
{
	background-image: url(../images/2007a/admin_console/top_menu_bg.gif);
	margin: 0px;
	height: 58px;
}
#logo
{
	background-color: #c0c0c0;
	height: 50px;
	padding-left: 5px;
	float: left;
}
#user{
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	padding-top: 12px;
	padding-right: 20px;
}

#menu {
	float:left;
	font-size:12px;
	font-weight: bold;
	padding-top: 16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#menu ul{
	list-style-type: none;
	margin:0;
	margin-left: 0px;
	padding:0;
}

#menu li{
	display:inline;
	margin-right: 20;
	margin-bottom: 0;
	margin-left: 0;
}

#menu a {
	float:left;
	margin:0;
	text-decoration:none;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 21px;
	background:url(../images/2007a/admin_console/tab_left_off.gif) no-repeat left top;
}

#menu a span {
	float:left;
	display:block;
	font-weight:bold;
	color:#565656;
	padding-top: 3px;
	padding-right: 24px;
	padding-bottom: 4px;
	padding-left: 5px;
	background:url(../images/2007a/admin_console/10x10.gif) no-repeat left top;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#menu a span {float:none;}
/* End IE5-Mac hack */


#menu #current a {
	background:url(../images/2007a/admin_console/tab_left.gif) no-repeat left top;
}

#menu #current a span {
	background:url(../images/2007a/admin_console/tab_right.gif) no-repeat right top;
	color: #ffffff;
}

#menu a:hover {
	background:url(../images/2007a/admin_console/tab_left.gif) no-repeat left top;
}

#menu a:hover span {
	background:url(../images/2007a/admin_console/tab_right.gif) no-repeat right top;
	color: #ffffff;
}


#wrapper{
	float:left;
	width:100%;
}

#leftmenu{

	float:left;
	width:160px;
	margin-left:-100%;
	margin-bottom: 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #b6b6b6;

}
#submenu {
	margin: 0px;
	padding: 0px;
}

#submenu ul {
	margin: 0;
	padding:inherit;
	list-style: none;
	padding-top: 5px;
	padding-bottom: 5px;
}

#submenu li {
	display: block;
    padding: 0px;
	padding-bottom: 1px;
}

#submenu a {
	display: block;
	width: 120px;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #7a7a7a;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 20px;
	background-image: url(../images/2007a/admin_console/submenu_icon.gif);
	background-repeat: no-repeat;
	background-position: 5px 50%;
}

#submenu a:hover {
	color: #1c83bf;

	background-image: url(../images/2007a/admin_console/submenu_icon_up.gif);
	background-repeat: no-repeat;
	background-position: 2px 50%;
}
#submenu #current a {
	color: #2e63a2;
	background-image: url(../images/2007a/admin_console/submenu_icon_up.gif);
	background-repeat: no-repeat;
	background-position: 2px 50%;
	font-weight: bold;
}
#submenu #sectiontitle_current span {
	display: block;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	color: #FFFFFF;
	background-color: #7c8cbf;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 135px;
}
#submenu #sectiontitle span {
	display: block;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	color: #000000;
	background-color: #d4d3d3;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 135px;
}
#content{
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 1px;
	margin-left: 168px;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #bfbfbf;
}
#contenttitle{
	background-color: #e3edf9;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #bfbfbf;
	height: 42px;
	padding-left: 10px;


}
#pagetitle{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #0026a0;
	float: left;
	padding-top: 6px;
}

#navigation{
	margin: 0;
	float: right;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	padding-right: 10px;
	padding-top: 2px;
}

#navigation a{
	background: transparent url(../images/2007a/admin_console/icon_arrow.gif) no-repeat center right;
	text-decoration: none;
	padding-right: 15px; 
	color: #7a7a7a;
}

#navigation a:hover{
	text-decoration: underline;
	color: #009900;

}
#show_content {
	padding: 10px;
}




p.cssform{
	margin: 0;
	padding-left: 160px;
	height: 1%;
	padding-top: 3px;
	padding-right: 0;
	padding-bottom: 3px;
}
p.dotline{
	margin: 0;
	height: 1%;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 5px;
	border-top: 1px dashed gray;
}
.cssform label{
font-weight: normal;
float: left;
margin-left: -160px; /*width of left column*/
width: 155px; /*width of labels. Should be smaller than left column (160px) to create some right margin*/
}

input.cssform{ /*width of text boxes. IE6 does not understand this attribute*/
	width: 90%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.cssform textarea{
width: 90%;
height: 150px;
}

.formbutton{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	cursor:pointer;
	border:1px outset #82A4BC;
	color:#384C95;
	font-weight:bold;
	padding: 2px 3px;
	background-color:#BBDBF2;
    Filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#ffFFFFFF',EndColorStr='#BBDBF2');

}
.formbuttonon{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	cursor:pointer;
	border:1px outset #82A4BC;
	color:#0084CF;
	font-weight:bold;
	padding: 2px 3px;
	background-color:#D4E5F1;
    Filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#ffFFFFFF',EndColorStr='#D4E5F1');
}
.formsubbutton{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	cursor:pointer;
	border:1px outset #CCCCCC;
	color:#666666;
	font-weight:bold;
	padding: 1px 2px;
	background-color:#D7D7D7;
    Filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#ffFFFFFF',EndColorStr='#D7D7D7');

}
.formsubbuttonon{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	cursor:pointer;
	border:1px outset #CCCCCC;
	color:#9E9FA0;
	font-weight:bold;
	padding: 1px 2px;
	background-color:#EFEFEF;
    Filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#ffFFFFFF',EndColorStr='#EFEFEF');

}






#footer {
	background-color: #a19e9e;
	color: #FFFFFF;
	clear:left;
	width:100%;
	text-align: center;
	height: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-top-width: 8px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	padding-top: 2px;
}

#footer a {
	color: #FFFFFF;
	text-decoration: none;
}
#footer a:hover {
	color: #fffc00;
	text-decoration: none;
