h1,h2,h3,h4,h5,h6,pre,code { font-size:1em; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input
{ margin:0; padding:0 }

body {
	font-family: Arial, "Lucida Console", Sans-Serif;
	text-align: center;
}

h1 {
	font-size: 20px;
	font-family: arial, "lucida console", sans-serif;
	margin: 0px;
	padding-top: 3px;
	padding-bottom: 10px;
}

.report_div_portrait {
	margin: 0 auto;
	width: 760px;
}
.report_div_landscape {
	margin: 0 auto;
	width: 1050px;
}

.border_table {
	border-collapse:collapse;
	border:1px solid #000000;
	
	font-family: "Arial", "Times New Roman", "Lucida Console";	
	font-size: 12px;
}

.border_table tr td, .border_table tr th {
	border:1px solid #000000;
}
.text_12px {
	font-family: "Arial", "Lucida Console";	
	font-size: 12px;
}