/***********************************************************************************************************************/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> TOPBAR.CSS START <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/***********************************************************************************************************************/
.schoolname {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.topmenuoff {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-weight: bold;
	color: #23A300;
	text-decoration: none;
}
.topmenuoff:hover {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}
.topmenuon {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-weight: bold;
	color: #044BAC;
	text-decoration: none;
}
.topmenuon:hover {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}
.topsubmenuoff {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #878787;
	text-decoration: none;
}
.topsubmenuoff:hover {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
}
.changelang {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 13px;
	color: #638DBD;
	text-decoration: none;
	font-weight: bold;
}
.changelang:hover {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 13px;
	color: #23AD33;
	text-decoration: none;
	font-weight: bold;
}
/***********************************************************************************************************************/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> TOPBAR.CSS END <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/***********************************************************************************************************************/