
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * General page setup
 */
#dt_ResultSetTable {
	font: 80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
}


#dt_ResultSetTable #container {
	width: 800px;
	margin: 30px auto;
	padding: 0;
}


#dt_ResultSetTable #footer {
	margin: 50px auto 0 auto;
	padding: 0;
}

#dt_ResultSetTable #demo {
	margin: 30px auto 0 auto;
}

#dt_ResultSetTable .big {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.6em;
	color: #4E6CA3;
}

#dt_ResultSetTable .spacer {
	height: 20px;
	clear: both;
}

#dt_ResultSetTable .clear {
	clear: both;
}

#dt_ResultSetTable pre {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

#dt_ResultSetTable h1 {
	margin-top: 2em;
	font-size: 1.3em;
	font-weight: normal;
	line-height: 1.6em;
	color: #4E6CA3;
	border-bottom: 1px solid #B0BED9;
	clear: both;
}

#dt_ResultSetTable h2 {
	font-size: 1.2em;
	font-weight: normal;
	line-height: 1.6em;
	color: #4E6CA3;
	clear: both;
}

#dt_ResultSetTable a {
	color: #0063DC;
	text-decoration: none;
}

#dt_ResultSetTable a:hover {
	text-decoration: underline;
}

#dt_ResultSetTable ul {
	color: #B0BED9;
}