body, html, table, textarea, input {
	font-family: tahoma,arial,sans-serif;
	font-size:13px;
	font-weight:normal;
}

select {
	border: 1px solid #CCCCCC;
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	padding: 1px 2px;
}

a:hover {color: #FF0000;}

a img {
	border: 1px solid #CCC;
	padding: 2px;
}

.dotline {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #999999;
}

.textboxnum {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #000000;
	width: 30px;
}

.counter_text {
	text-align: center;
	width: 20px;
}

.selectbox_layer{
	background-color: #f3f3f3;
	padding: 3px;
	clear: both;
	float: left;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #999999;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #999999;
	position: absolute;
	display: none;
}

.tablelink {
	text-decoration: none;
	color: #2286C5;
}

#sql_info_div {
	background: #DFE8F6 none repeat scroll 50%;
	border: 1px solid #99BBE8;
	color: #15428B;
	float: left;
	font-family: tahoma,arial,sans-serif;
	font-size: 11px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: normal;
	padding: 10px;
	width: 450px;
	height:180px;
	top: 0px;
	left: 0px;
	overflow:auto;
}

#history_div {
	background: #DFE8F6 none repeat scroll 50%;
	border: 1px solid #99BBE8;
	color: #15428B;
	float: middle;
	font-family: tahoma,arial,sans-serif;
	font-size: 11px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: normal;
	padding: 10px;
	width: 270px;
	height:180px;
	top: 0px;
	left: 0px;
	overflow:auto;
}

/* 
	Cusco Sky table styles
	written by Braulio Soncco http://www.buayacorp.com
	History Table
*/
.BlueTable th td {
	border: 1px solid #D4E0EE;
	border-collapse: collapse;
	font-family: "Trebuchet MS", Arial, sans-serif;
	color: #555;
}
.BlueTable caption {
	font-size: 150%;
	font-weight: bold;
	margin: 5px;
}
.BlueTable td th {
	padding: 4px;
}
.BlueTable thead th {
	text-align: center;
	background: #9abaef;
	color: #15428B;
	font-size: 100% !important;
}
.BlueTable tbody th {
	font-weight: bold;
}
.BlueTable tbody tr { 
	background: #FCFDFE; 
}
.BlueTable tbody tr.odd { 
	background: #eaf3fb; 
}
.BlueTable tbody tr:hover {
	background: #bad6f2;
}
.BlueTable a:link {
	color: #718ABE;
	text-decoration: none;
}
.BlueTable a:visited {
	color: #718ABE;
	text-decoration: none;
}
.BlueTable a:hover {
	color: #718ABE;
	text-decoration: underline !important;
}
.BlueTable tfoot th, tfoot td {
	font-size: 100%;
}

/* 
	Cusco Sky table styles
	written by Braulio Soncco http://www.buayacorp.com
	Data Set Table
*/
#ResultSetTable {
	border: 1px solid #D4E0EE;
	border-collapse: collapse;
	width: 100%
}
#ResultSetTable th td {
	border: 1px solid #D4E0EE;
	border-collapse: collapse;
	font-family: "Trebuchet MS", Arial, sans-serif;
	color: #555;
}
#ResultSetTable caption {
	font-size: 150%;
	font-weight: bold;
	margin: 5px;
}
#ResultSetTable td th {
	padding: 4px;
}
#ResultSetTable th {
	text-align: center;
	background: #9abaef;
	color: #15428B;
	font-size: 100% !important;
}
#ResultSetTable th {
	font-weight: bold;
}
#ResultSetTable tr { 
	background: #FCFDFE; 
}
#ResultSetTable tr.odd { 
	background: #eaf3fb; 
}
#ResultSetTable tr:hover {
	background: #bad6f2;
}
#ResultSetTable a:link {
	color: #718ABE;
	text-decoration: none;
}
#ResultSetTable a:visited {
	color: #718ABE;
	text-decoration: none;
}
#ResultSetTable a:hover {
	color: #718ABE;
	text-decoration: underline !important;
}
#ResultSetTable th, td {
	font-size: 85%;
}
.border_bottom {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}

/* Short Cut */
#short_cut_div {
	background: #DFE8F6 none repeat scroll 50%;
	border: 1px solid #99BBE8;
	color: #15428B;
	float: left;
	font-family: tahoma,arial,sans-serif;
	font-size: 11px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: normal;
	padding: 10px;
	width: 230px;
	height:180px;
	top: 0px;
	left: 0px;
	overflow:auto;
}
#short_cut_div a:link {
	color: #718ABE;
	text-decoration: none;
}
#short_cut_div a:visited {
	color: #718ABE;
	text-decoration: none;
}
#short_cut_div a:hover {
	color: #718ABE;
	text-decoration: underline !important;
}


/* ================================================================ 
This copyright notice must be kept untouched in the stylesheet at 
all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.stunicholls.com/menu/vertical-concertina-6.html
Copyright (c) 2005-2008 Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements.
=================================================================== */

/* #slide height = (number of top level links - 1) * height of links + inner div height */
#slide {padding:0; margin:0; list-style:none; width:170px; height:315px; border:1px solid #ccc; position:relative; overflow:hidden; font-family: verdana, sans-serif; font-size:11px; }

#slide li.quick_search_menu_sub,
#slide li.quick_search_menu_top
{display:block; float:left; height:24px; line-height:24px; width:190px; color:#000; background:#eee; text-decoration:none;border-bottom:1px solid #fff; text-indent:20px; overflow:hidden; cursor:pointer;}

#slide li.quick_search_menu_sub {background:#eee url(../images/quick_search_menu/out.gif) no-repeat 5px 8px;}

#slide li.quick_search_menu_top a {text-decoration:none; color:#000; display:block; background:url(../images/quick_search_menu/out.gif) no-repeat 5px 8px;}
#slide li.quick_search_menu_top a:hover {color:#069; background:#ddd url(../images/quick_search_menu/out-over.gif) no-repeat 5px 8px;}

#slide li.quick_search_menu_clicked {color:#800; background:#ddd url(../images/quick_search_menu/down.gif) no-repeat 5px 8px;}

/* #slide li.sub div height = (maximum sub lines * sub line height) + top level link height(variable fY in jQuery) */
#slide li.quick_search_menu_sub div {background:#fff; height:165px; width:140px; padding:0 5px; line-height:1.2em; font-family: verdana, sans-serif; text-indent:0;}

#slide li div ul {padding:0; margin:0; list-style:none;}
#slide li div ul li {float:left; height:20px; width:100%;}
#slide li div ul li a {padding:0; margin:0;color:#888; text-decoration:none; background:#fff url(../images/quick_search_menu/out.gif) no-repeat 5px 6px; font-size:10px; display:block; border-bottom:1px solid #ddd; height:19px; line-height:19px; width:100%; text-indent:20px;}
#slide li div ul li a:hover {color:#069; background:#fff url(../images/quick_search_menu/out-over.gif) no-repeat 5px 6px;}

#quick_search_input_div{
	background-color: #FFFFFF;
	padding: 3px;
	float: left;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #999999;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #999999;
	width: 365px;
	height: 310px;
	vertical-align: top;
}

#quick_search_input_table tr {
	vertical-align: middle;
}

.quick_search_title {
	color: #6f5dfe;
	font-size: 150%;
	font-weight: bold;
	margin: 5px;
}

.quick_search_textbox {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #000000;
	width: 150px;
}

.formsmallbutton {
	cursor:pointer;
	border:1px outset #CCCCCC;
	color:#000000;
	height:20px;
	padding-top:1px;
	padding-bottom:2px;
	background-image: url(../images/small_btn_bg.gif);
	background-position:0px -60px; 

}
.formsmallbuttonon {
	cursor:pointer;
	border:1px outset #CCCCCC;
	color:#000000;
	height:20px;
	padding-top:1px;
	padding-bottom:2px;
	background-image: url(../images/small_btn_bg.gif);
	background-position:0px -90px;
}

.quick_search_hr {
	color: #6f5dfe;
	background-color: #6f5dfe;
	height: 3px;
}

.remark_grey {
	font-family: 'Arial';
	font-size: 12px;
	color: #999999;
}