@charset "utf-8";

ul,ol { list-style:none }
h1,h2,h3,h4,h5,h6,pre,code { font-size:1em; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input { margin:0; padding:0 }
a img,:link img,:visited img { border:none }
address { font-style:normal }
body {
	font-family: "新細明體", Arial, "Lucida Console", Sans-Serif;
	text-align: center;
	font-size: 14px;
}

table {
	font-family: "新細明體", Arial, "Lucida Console", Sans-Serif;
	font-size: 14px;
}


div.container {
	margin: 0 auto;
	width: 760px;
}

.border_left {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #000000;
}

.border_right {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
}

.border_top {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
}

.border_bottom {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}

.cover_title {
	font-family: "新細明體", Arial, "Lucida Console", Sans-Serif;
	font-size: 28px;
}

.cover_justify
{
	height:1.1em;
	overflow:hidden;
	text-align:justify;
	text-justify :distribute-all-lines;
	width:56px;
}

.photo_frame {
	border: 3px solid #000000;
}

.school_info {
	font-family: "新細明體", Arial, "Lucida Console", Sans-Serif;
	font-size: 16px;
}

.font_16px {
	font-size: 16px;
}

.no_mark_td {
	background-color: #C0C0C0;
}