/* For index.html */

body
{
  min-width: 320px;
  margin: 0 auto;
  min-height: 100%;
  height:auto;
  background-color: #e3e4e5;
  background-image:url("../images/bg_gradient.jpg");
  background-size:100% 1100px;
  background-position: top center;
  background-repeat: no-repeat;
}

body::before
{
  display:none;
  content:"";
  position:fixed;
  top:0; left:0; right:0; bottom:0;
  background-image:url("../images/main_bg_pattern.png");
  background-size:133px 116px;
  background-position: center center;
  background-repeat: repeat;
  z-index: 0;
}

#blkTop:before
{
  display: block;
  content:"";
  width:100%;
  height:112px;
  background-image: url("../images/bg_wave_w-2.png");
  background-repeat: repeat-x;
  background-size: 1200px 112px;
  background-position: center center;
}

#blkTop:after
{
  display: block;
  content:"";
  position: absolute;
  top: 87%;
  left: 0;
  width: 100%;
  height: 242px;
  background-image: url(../images/bg_wave_w.png);
  background-repeat: repeat-x;
  background-size: 1024px 242px;
  background-position: center center;
  z-index: 0;
}

#blkTop > div
{
  max-width: 1024px;
  margin: -105px auto 0 auto;
  z-index: 1;
}

#blkMain
{
  width:100%;
  max-width: 1024px;
  margin:0 auto;
  padding-top:30px;
}

#blkFooter
{
  width:100%;
  min-height:266px;
  background-image: url(../images/login_footer_bg.png);
  background-size: 1024px 266px;
  background-position: top center;
  background-repeat: repeat-x;
  z-index: 0;
  padding-bottom:50px;
}

#blkFooter:before
{
    display: block;
    content:"";
    position: absolute;
    top: 266px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #2d9a8a;
}


#blkTopBar
{
  top:-100px;
}

#blkTopBar.show
{
  top:0;
}

#blkMain .passage
{
  width:90%;
  max-width: 768px;
  margin:20px auto;
}

#blkMain .featureDetail
{
  width:25%;
  padding:25px;
  vertical-align: top;
}

#blkMain .featureDetail:nth-child(2n)
{
  padding-top:75px;
}

#blkMain .featureDetail > img
{
  width:100%;
  margin-bottom:10px;
}

#blkMain .featureDetail > img + div
{
  color:#1f6582;
  font-size: larger;
}

#imgTitle
{
  width:600px;
  max-width: 98%;
  display: block;
  margin:50px auto;
}

#blkFooter > div
{
  width: 870px;
  max-width: 90%;
  margin:0 auto;
  color:white;
  font-size: 20px;
}

#blkFooter > div:nth-child(1)
{
  text-align: center;
  padding-top: 92px;
  margin-bottom:20px;
  font-size: 27px;
}

#blkFooter .role > img
{
  vertical-align:middle;
}

#blkFooter .role > img + span
{
  text-align:left;
  vertical-align:middle
}

#blkFooter #blkRoles
{
  margin-top: -87px;
}

#blkRoles > span
{
  width:50%;
}

#blkRoles > span + span
{
  padding-left: 30px;
}

#blkFooter #blkRoles .role > img + span
{
  font-size: 17px;
  max-width: 290px;
  margin-left:5px;
}

#blkFooter #blkRoles .role:nth-child(2n+1)
{
  left:30px;
}

#blkFooter .button
{
  color:#2d9a8a;
  background-color:#f7f7f7;
}

@media screen and (min-width: 769px) and (max-width:969px)
{
  #blkMain .featureDetail
  {
    padding:10px;
  }
}

@media screen and (min-width: 769px)
{

}

@media screen and (max-width: 768px)
{
  #blkMain .featureDetail
  {
    width:50%;
    padding:5% !important;
  }

  #blkRoles > span
  {
    width: 100%;
    display: block;
    max-width: 400px;
    margin: 0 auto;
  }

  #blkFooter #blkRoles
  {
    margin-top:0;
  }

  #blkFooter #blkRoles .role > img + span
  {
    max-width: calc(100% - 80px);
  }

  #blkFooter #blkRoles .role:nth-child(2n+1)
  {
    left:15px;
  }
}
