/* For index.html */

body
{
  min-width: 320px;
  margin: 0 auto;
  min-height: 100%;
  background-image: url(../images/main_bg.png);
  background-size: cover;
  background-attachment: fixed;
}

body::before
{
  display:block;
  content:"";
  position:fixed;
  top:0; left:0; right:0; bottom:0;
  background-image:url("../images/main_bg_pattern.png");
  background-size:133px 116px;
  background-position: center center;
  background-repeat: repeat;
  z-index: 0;
}

#blkMain
{
  width:100%;
  max-width: 1024px;
  margin:0 auto;
}

#blkFooter
{
  width:100%;
  height:266px;
  background-image: url(../images/login_footer_bg.png);
  background-size: 1024px 266px;
  background-position: top center;
  background-repeat: repeat-x;
  z-index: 0;
}

#blkTopBar
{
  top:-100px;
}

#blkTopBar.show
{
  top:0;
}

#imgTitle
{
  width:440px;
  max-width: 98%;
  display: block;
  margin:50px auto;
}

.homeDetails
{
  width:90%;
  max-width: 650px;
  margin:-30px auto;
  padding-left:102px;
}

.homeDetails:after
{
  display: block;
  content:"";
  clear:both;
  visibility: hidden;
}

.homeDetails > img
{
  position: absolute;
  left:0;
  top:0;
  height:114px;
}

.homeDetails > div
{
  padding-left: 20px;
}

.homeDetails > div > span
{
  vertical-align: middle;
}

.homeDetails .text-1
{
  width:25%;
  line-height: 114px;
}

.homeDetails+div:not([class="homeDetails"])
{
  margin-top:70px;
  margin-bottom:30px;
}

#blkFooter > div
{
  width: 700px;
  max-width: 90%;
  margin:0 auto;
  padding-top:95px;
  color:white;
  font-size: 20px;
}

#blkFooter > div > span:first-child
{
  float: left;
}

#blkFooter > div > span:last-of-type
{
  float: right;
}

@media screen and (min-width: 769px)
{
  .homeDetails:nth-child(2n+1) > img
  {
    left:28px;
  }

  .homeDetails:nth-child(2n+1) .text-1
  {
    left:28px;
  }
}

@media screen and (max-width: 768px)
{
  .homeDetails
  {
    padding-left:25%;
    margin:10px auto;
  }

  .homeDetails > img
  {
    width:25%;
    max-width: 102px;
    height:auto;
  }

  .homeDetails > div > span
  {
    width: 100% !important;
    line-height: 1.3 !important;
  }

  .homeDetails .text-1
  {
    padding: 30px 0 20px 0px;
  }

  #blkFooter > div > span
  {
    float: none !important;
    display: block;
  }

}
