/* For login.html */

body
{
  background: #2a9b8a;
}

#blkCanvas
{
  min-width: 320px;
  margin: 0 auto;
  height: 100%;
  min-height: 810px;
  background-image:url("../images/main_bg.png");
  background-size:cover;
}

#blkCanvas::before
{
  display:block;
  content:"";
  position:absolute;
  top:0; left:0; right:0; bottom:0;
  background-image:url("../images/main_bg_pattern.png");
  background-size:133px 116px;
  background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed;
  z-index: 0;
}

#blkCanvas::after
{
  display: block;
  content: "";
  position: absolute;
  top: 61%; top: calc(50% + 125px); left: 0; right: 0;  bottom:0;
  background: -moz-linear-gradient(top,  rgba(42,155,138,0) 0%, rgba(42,155,138,0) 36%, rgba(42,155,138,1) 40%, rgba(42,155,138,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(42,155,138,0) 0%,rgba(42,155,138,0) 36%,rgba(42,155,138,1) 40%,rgba(42,155,138,1) 100%);
  background: linear-gradient(to bottom,  rgba(42,155,138,0) 0%,rgba(42,155,138,0) 36%,rgba(42,155,138,1) 40%,rgba(42,155,138,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002a9b8a', endColorstr='#2a9b8a',GradientType=0 );
  background-position: center center;
  background-repeat: repeat-x;
  z-index: 0;
}

#blkContainer
{
  padding-top:30px;
  padding-bottom:200px;
  z-index: 1;
}

#blkContainer::before
{
  display: block;
  content: "";
  position: absolute;
  top: 61%; top: calc(50% + 148px); left: 0; right: 0;  bottom:0;
  background-image: url(../images/login_footer_bg.png);
  background-size: 1024px 266px;
  background-position: top center;
  background-repeat: repeat-x;
  z-index: 0;
}


#blkContainer::after
{
  display: inline-block;
  content:"";
  height:100%;
  width:0;
  vertical-align: middle;
}

#blkContainer > *
{
  vertical-align: middle;
}

#blkContainer > #blkLoginWrapper
{
  width:98%;
  left:1%;
}

#blkLoginWrapper img[alt="logo"]
{
  display: inline-block;
  width:440px;
  max-width: 96%;
  vertical-align: bottom;
}

#blkLoginWrapper > #blkLogo
{
  text-align: center;
  height:250px;
  padding-bottom:50px;
}

#blkLoginWrapper > #blkLogo::after
{
  display: inline-block;
  content:"";
  height:100%;
  width:0;
  vertical-align: bottom;
}

#blkLogin
{
  width:401px;
  height:315px;
  margin-left:auto;
  margin-right: auto;
  background-image: url("../images/login_bg.png");
  background-size:401px 315px;
  padding:43px 50px;
  font-size: 18px;
  line-height: 22px;
}

#blkLogin input[type="text"],#blkLogin input[type="password"]
{
  width:100%;
  margin-bottom:17px;
}

#blkLogin .invaidMsg
{
  float:right;
  color:red;
  font-size:14px;
  line-height: 16px;
}

#blkLogin .invaidMsg + div
{
  overflow: hidden;
}

#blkLogin > input
{
  width:100%;
}

#blkLogin > .forgot_password
{
  color:#4db2d4;
  font-size: 16px;
  line-height: 39px;
  float: left;
}

#blkLogin > .forgot_password:hover
{
  color:#ea6557;
}

#blkLogin > .login_button
{
  width:auto;
  float:right;
  padding:7px 20px;
  min-width:110px;
  border-radius: 15px;
  background-color:#4db2d4;
  color:white;
  border:0;
}

#blkLogin > .login_button, #blkLogin > .forgot_password
{
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
}

#blkLogin > .login_button:hover
{
  background-color:#ea6557;
}

#blkLogin + #lbleClass
{
  font-size:14px;
  clear: both;
  width:401px;
  margin-left:auto;
  margin-right: auto;
  margin-top:5px;
  text-align: right;
}

#blkLogin + #lbleClass *
{
  vertical-align: middle;
  margin-right:5px;
}

#blkLogin + #lbleClass img
{
  width:44px;
}

@media screen and (max-width: 768px)
{
  #blkContainer::before
  {
    background-size: 1000px 259px;
    min-height:100px;
  }
}

@media screen and (max-width: 480px)
{
  #blkLogin, #blkLogin + #lbleClass
  {
    width:95%;
  }

  #blkLogin
  {
    background-size:100% 315px;
    padding:20px 20px;
  }

  #blkLogin > .login_button
  {
    float: none;
    margin: 0px auto 20px auto;
    width: 100%;
    display: block;
  }

  #blkLogin > .forgot_password
  {
    margin: 0 auto 15px auto;
    display: block;
    text-align: center;
    line-height: 22px;
    float: none;
  }
}
