/* For order.html */

body
{
  min-width: 320px;
  margin: 0 auto;
  min-height: 100%;
  background-image: url(../images/main_bg.png);
  background-size: cover;
  background-attachment: fixed;
  padding-top:200px;
}

body::before
{
  display:block;
  content:"";
  position:fixed;
  top:0; left:0; right:0; bottom:0;
  background-image:url("../images/main_bg_pattern.png");
  background-size:133px 116px;
  background-position: center center;
  background-repeat: repeat;
  z-index: 0;
}

#blkInfo
{
  width:95%;
  max-width: 596px;
  margin:0 auto;
  background-image:url("../images/orderInfo_bg.png");
  background-size:100% 100%;
  background-position: center center;
  padding: 60px 70px 45px 70px;
}

#blkForm
{
  width:95%;
  max-width: 750px;
  margin:0 auto;
  margin-bottom:30px;
}

#blkFooter
{
  width:100%;
  height:266px;
  background-image: url(../images/login_footer_bg.png);
  background-size: 1024px 266px;
  background-position: top center;
  background-repeat: repeat-x;
  z-index: 0;
}

#imgTitle
{
  width: 410px;
  max-width: 98%;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -205px;
  top: -70px;
}

#blkInfo .w5
{
  width:50%;
}

#blkInfo .w5:first-of-type
{
  padding-right: 15px;
}

#blkInfo .w5:last-of-type
{
  padding-left: 15px;
}

#blkInfo input[type="text"], textarea
{
  width:100%;
}

#blkInfo .invaidMsg
{
  float:right;
  color:red;
  font-size:14px;
  line-height: inherit;
}

#blkInfo .invaidMsg + div
{
  overflow: hidden;
}

#blkForm > div
{
  margin-bottom: 10px;
}

#blkForm > div.table-header > span
{
  padding:0 10px;
}

#blkForm > .table-header > span:last-of-type
{
  text-align: right;
}

#blkForm.unchecked > div.table-header #blkForm-Class
{
  width:46.5% !important;
}

#blkForm > div.student
{
  padding:8px 50px;
  font-size: 20px;
  line-height: 36px;
  color:#777;
  border-radius: 5px;
  box-shadow: 0px 3px 0px rgba(51,154,188,0.2)
}

#blkForm > div.checked
{
  background: white;
  box-shadow: 0px 5px 0px rgba(51,154,188,0.3);
  font-weight: bold;
  color:#333 !important;
}

#blkForm > div.student right
{
    float: right;
    display: block;
    visibility: hidden;
}

#blkForm.unchecked > div.student right
{
    display: none;
}

#blkForm > div.checked.student right
{
    visibility: visible;
    display: block;
}

#blkForm > div.student left
{
    float: left;
    display: block;
}

#blkForm > div.student right + div, #blkForm > div.student left + div
{
    overflow: hidden;
}

#blkForm > div.student left:after
{
  display: block;
  content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

#blkForm > div.student left > *
{
  vertical-align: top;
}

#blkForm > div.student.checked .order-item .text-thin
{
  font-weight: lighter;
}

#blkForm > div.student .order-extra
{
  display: none;
  vertical-align: top;
  text-align: center;
}

#blkForm > div.student div.order-item .order-extra
{
  background: #f3f3f3;
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  border-radius: 5px;
  margin:1px 0;
  line-height: 34px;
}

#blkForm > div.student div.order-item .order-extra.addExtra
{
  background:rgba(204,239,157,0.4);
}

#blkForm > div.checked .order-extra
{
  display: inline-block;
}

#blkForm .addAccount_button
{
  padding:0 10px;
  border-radius: 10px;
  background: #9ecb63;
  color:#fff;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  border: 0;
  cursor: pointer;

  line-height: 26px;
  margin:4px 0;

  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
}

#blkForm .addAccount_button:hover
{
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
}

#blkForm .extraField
{
  display: none;
}

#blkForm .extraField span
{
  vertical-align: top;
}

#blkForm .extraField input[type="text"]
{
  width: 70px;
  text-align: center;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  background: white;
}

#blkForm .extraField .cancel_addAccount_button::after
{
  display:inline-block;
  color:#6e7174;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  width: 23px;
  text-align: center;
  line-height: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content:"\f014";
  padding-left:5px;
  vertical-align: top;
}

#blkForm .extraField .cancel_addAccount_button:hover::after
{
  content:"\f1f8";
}

#blkForm div.student div.order-item:first-of-type .extraField > span:last-of-type .cancel_addAccount_button::before
{
  display: inline-block;
  content:"_";
  visibility: hidden;
  vertical-align: top;
}

.showWhenChecked
{
  display: none;
}

#blkTotal
{
  font-weight: 600;
  text-align: right;
  padding: 20px 50px 10px 50px;
}

#blkTotal > #lblTotal
{ display: inline-block;}

input[name="cancel"].button
{
  background: #9ecb63;
  min-width: 100px;
  margin-right: 20px;
}

#blkFooter > div
{
  width: 700px;
  max-width: 90%;
  margin:0 auto;
  padding-top:95px;
  color:white;
  font-size: 20px;
}

#blkFooter > div > span:first-child
{
  float: left;
}

#blkFooter > div > span:last-of-type
{
  float: right;
}

/*datepicker*/
#tbxDatepicker
{
  cursor: pointer;
}

@media screen and (min-width: 769px)
{
  #blkForm > div.table-header > span:first-child
  {
    padding-left: 50px !important;
    width:15%;
  }

  #blkForm > div.table-header > span:last-of-type
  {
    padding-right: 50px !important;
    text-align: right;
  }

  #blkForm > div.student left
  {
    width: 31.2%;
    transition: 0.3s ease width;
    -webkit-transition: 0.3s ease width;
    -moz-transition: 0.3s ease width;
  }

  #blkForm.unchecked > div.student left
  {
    width: 65%;
  }

  #blkForm > div.student left > span:first-child
  {
    width: 73px;
  }

  #blkForm > div.student .order-item > span:first-child
  {
    width: 37%;
    overflow: hidden;
    white-space: nowrap;
  }

  #blkForm > div.checked .order-item .order-extra
  {
    width:46%;
  }
}

@media screen and (max-width: 768px)
{
  #blkInfo
  {
    height:auto;
    padding-left: 8%;
    padding-right: 8%;
  }

  #blkInfo .w5
  {
    width:100%;
    padding:0 !important;
  }

  #blkForm > .table-header > span:first-child,
  #blkForm > .table-header > span:last-of-type
  {
    width: 50%!important;
  }

  #blkForm > div.student
  {
    padding:0 10px;
  }

  #blkForm > div.student left
  {
    float:none;
    padding-left:10px;
  }

  #blkForm > div.student left > span:first-child
  {
    width: 40px;
  }

  #blkForm > div.student left + div
  {
    padding-left:50px;
  }

  #blkForm > div.student .order-item > span:first-child
  {
    width:100%;
  }

  #blkForm > div.student .order-item > span:first-child + span
  {
    padding:0 15px;
  }

  #blkForm > div.student div.order-item:first-of-type .order-extra,
  #blkForm > div.student div.order-item:last-of-type .order-extra
  {
    border-radius: 5px;
    margin-bottom:10px;
    padding: 0 5px;
  }

  #blkForm .extraField .cancel_addAccount_button::after
  {
    width:auto;
  }

  #blkTotal
  {
    padding: 20px 10px 10px 10px !important;
  }

  #blkFooter > div > span
  {
    float: none !important;
    display: block;
  }
}

@media screen and (max-width: 440px)
{
  #imgTitle
  {
    width: 98%;
    left: 50%;
    margin-left: -49%;
    top: -10%;
  }

  #blkInfo input[type="radio"] + label
  {
    display: block;
    margin-left: 0;
  }

  #blkForm > div.student .order-extra
  {
    text-align: left;
  }
}
