{{{TEMPLATE_ELIBPLUS2_HEADER}}}
<!--CONTENT starts-->
<div class="elib-index"> 
{{{HTML_BODY}}}
</div>
<!--CONTENT ends--> 
<!--FOOTER starts-->
<div class="footer container"> <span>Powered by <a href="http://www.eclass.com.hk" target="_blank"><img src="/images/2009a/eLibplus2/logo_eclass_footer.gif" width="39" height="15" border="0" align="absmiddle"></a></span></div>
<!--FOOTER ends--> 

<!--tablet:hover state-->
<script type="text/javascript">
jQuery(document).ready( function($) {
 jQuery('.book-covers .book-box').attr("onclick","return true");
});
</script>
</body>
</html>