<link href="../../theme/css/common.css" rel="stylesheet" type="text/css">
<link href="../../theme/css/common_cammy.css" rel="stylesheet" type="text/css">
<link href="../../theme/css/layout_grey.css" rel="stylesheet" type="text/css">
<link href="../../theme/css/font_size_normal.css" rel="stylesheet" type="text/css">
<link href="../../theme/css/font_face_verdana.css" rel="stylesheet" type="text/css">
<link href="../../theme/css/font_color_layout_grey.css" rel="stylesheet" type="text/css">
	
<link rel="stylesheet" href="css/main.css" type="text/css" />
<link rel="stylesheet" href="css/display_calendar.css" type="text/css" />

<script language="Javascript">
<!--
// slide tool
var slide_ie4 = (document.all) ? true : false;
var slide_ns4 = (document.layers) ? true : false;
var slide_ns6 = (document.getElementById && !document.all) ? true : false;
var pa = "parent";
var sliding = {MyTools:false}
var hide = "hidden";
var show = "visible";


function logout()
{
	if(confirm(globalAlertMsg16))
	{
				newWindow('http://project7.broadlearning.com/logout.php',31);
				window.location="/logout.php";
	}	
}
function movelayer(lay,h){
        if (slide_ie4) {heig=document.all[lay].style.left;}
        if (slide_ns4) {heig=document.layers[pa].document.layers[lay].left;}
        if (slide_ns6) {heig=document.getElementById([lay]).style.left;}
        ih = parseInt(heig) + h;
        if (slide_ie4) {document.all[lay].style.left=ih+'px';}
        if (slide_ns4) {document.layers[pa].document.layers[lay].left = ih;}
        if (slide_ns6) {document.getElementById([lay]).style.left=ih+'px';}
}


function slide(lay, h, speed, up) {
        if (slide_ie4) {
                heig=document.all[lay].style.left;
                it=4;
        }
        if (slide_ns4) {heig=document.layers[pa].document.layers[lay].left; it=6;}
        if (slide_ns6) {heig=document.getElementById([lay]).style.left; it=10;}
        ih = parseInt(heig);

        if (up == 0){
                if (ih != h)
                        movelayer(lay, it);
                if (ih < h) {
                        setSliding(lay, 1);
                        setTimeout("slide('"+lay+"',"+h+","+speed+",0)",speed);
                } else
                        setSliding(lay, 0);
        } else {
                if (ih != 25)
                        movelayer(lay, -it);
                if (ih > 25) {
                        setSliding(lay, 1);
                        setTimeout("slide('"+lay+"',"+h+","+speed+",1)",speed);
                } else
                        setSliding(lay, 0);
        }
}


function setSliding(lay, on_off) {
        is_sliding = "sliding." + lay;
        is_sliding += (on_off==0) ? "=false" : "=true";
        eval (is_sliding);
}


function getSliding(lay) {
        is_sliding = "sliding." + lay;
        return eval(is_sliding);
}


function move(lay,h){
        if (getSliding(lay))
                return;
        if (slide_ie4) {
                heig=document.all[lay].style.left;
                speed=1;
        }
        if (slide_ns4) {heig=document.layers[pa].document.layers[lay].left; speed=1;}
        if (slide_ns6) {heig=document.getElementById([lay]).style.left;speed=1;}
        ih = parseInt(heig);
        if (ih<=25)
                slide(lay,h,speed,0);
        else if (ih>=h)
                slide(lay,h,speed,1);
}

function openFileWindow()
{
         newWindow('/home/profile/cabinet/',10);
}
function open_readingrm()
{
         newWindow('/home/eclass/readingrm.php',8);
}
function open_lslp()
{
	var intWidth = screen.width;
 	var intHeight = screen.height;

	window.open("/home/asp/lslp.php","","width="+intWidth+",height="+intHeight+",fullscreen=yes,scrollbars,location=0");
}
// --->
</SCRIPT>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head><title>eClass IP</title>

<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv='content-type' content='text/html; charset=big5' />
<script language="JavaScript" src="../../templates/script.js"></script>
<script language="JavaScript" src="../../templates/2007script.js"></script>
<script language="JavaScript" src="../../templates/ajax_yahoo.js"></script>
<script language="JavaScript" src="../../templates/ajax_connection.js"></script>
<script language="JavaScript" src="../../templates/2009a/js/SpryValidationTextField.js"></script>
<script language="JavaScript" src="../../lang/script.en.js"></script>
<link href="../../templates/2009a/css/content.css" rel="stylesheet" type="text/css" />
<link href="../../templates/2009a/css/topbar.css" rel="stylesheet" type="text/css" />
<link href="../../templates/2009a/css/leftmenu.css" rel="stylesheet" type="text/css" />

<link href="../../templates/2009a/css/footer.css" rel="stylesheet" type="text/css" />
<link href="../../templates/2009a/css/barchar.css" rel="stylesheet" type="text/css" />
<link href="../../templates/2009a/css/misc.css" rel="stylesheet" type="text/css" />
<link href="../../templates/2009a/css/iportfolio/iportfolio.css" rel="stylesheet" type="text/css" />
<link href="../../templates/2009a/css/iportfolio/iportfolio_icon_css.php" rel="stylesheet" type="text/css" />
<link href="../../templates/2009a/css/iportfolio/content_css.php" rel="stylesheet" type="text/css" />
<link href="../../templates/2009a/css/ereportcard.css" rel="stylesheet" type="text/css" />
<link href="../../templates/2009a/css/discipline.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
function support()
{
         newWindow("/home/support.php?US_SystemType=0&US_URL=192.168.0.245:52001/home/icalendar/index.php",10);
}
/*
function intranet_PreloadImages()
{
                  MM_preloadImages('/images/header/moving/ma_studentid_o.gif','/images/header/moving/ma_schoolrecord_o.gif','/images/header/moving/ma_sls_o.gif','/images/header/moving/ma_participation_o.gif','/images/header/moving/ma_campusmail_o.gif','/images/header/moving/ma_webmail_o.gif','/images/header/moving/ma_personalprofile_o.gif');
}
*/
</script>
</head>

<link rel="stylesheet" href="/templates/2007a/css/topbar.css" />
<!--
<body bgcolor="#FFFFFF" text="#000000" topmargin=0 leftmargin=0 marginheight=0 marginwidth=0 onLoad="" >
-->
<body background="../../images/2009a/bg.gif" style="background-repeat: no-repeat" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="MM_preloadImages('../../images/2009a/leftmenu/btn_arrow_expand_on.gif','../../images/2009a/leftmenu/icon_hide_on.gif','../../images/2009a/leftmenu/btn_arrow_more_on.gif','../../images/2009a/icon_sort_a_on.gif','../../images/2009a/icon_sort_d_on.gif','../../images/2009a/icon_prev_on.gif','../../images/2009a/icon_next_on.gif','../../images/2009a/topbar/icon_cube_on.gif','../../images/2009a/topbar/icon_home_on.gif','../../images/2009a/topbar/icon_log_on.gif','../../images/2009a/topbar/icon_ifolder_on.gif','../../images/2009a/topbar/icon_library_on.gif','../../images/2009a/topbar/icon_iportfolio_on.gif','../../images/2009a/topbar/icon_imail_on.gif','../../images/2009a/topbar/icon_help_on.gif','../../images/2009a/topbar/icon_logout_on.gif','../../images/2009a/leftmenu/icon_hide_arrow_on.gif');"  >

<!--
<script language=javascript src=/templates/menu/sniffer.js></script>
<script language=javascript src=/templates/menu/setting_fn.js></script>
-->

<script language="javascript1.2" >
isToolTip = true;
function showTipsiPortfolio(myText)
{
        if (document.readyState=="complete")
        {
                tt= "<table border='0' cellspacing='0' cellpadding='1'>\n";
                tt += "<tr><td class='tipborder'><table width='100%' border='0' cellspacing='0' cellpadding='5'>\n";
                tt += "<tr><td class='tipbg' valign='top'>" + myText + "</td></tr>";
                tt += "</table></td></tr></table>\n";
                showTip('ToolTip', tt);
        }
}

//if (!exclude) {
// hide for ip20 header



//addMainItem("/home/eclass/index_ssr.php","<img src=/images/header/icon_specialroom.gif border=0>",75,"center","_blank","",0,0);
//defineSubmenuProperties(120,"left","left",0,0);
//addSubmenuItem("javascript:newWindow('/home/eclass/index_ssr.php',8)","Special Survey Room","","");

//}
</script>

<!--
<script language=javascript1.2 src=/templates/menu/style.js></script>
<script language=javascript1.2 src=/templates/menu/menu.js></script>
-->


<table width="100%" border="0" cellspacing="0" cellpadding="0" >
<!--
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
-->
<tr>
    <td height="88" background="/images/2009a/topbar/top_bg.gif" style="background-repeat: no-repeat" >
    <table width="100%" height="88" border="0" cellpadding="0" cellspacing="0">
           <!---------------------------------- Start of Top blue bar ---------------------------------->
       		<!---------------------------------- End of Top blue bar ---------------------------------->

<script language="javascript">
function plklsp_app_open(url, win_name)
{
         lspapp_window = window.open (url, win_name, 'resizable,scrollbars,status,top=0,left=0,width='+screen.availWidth+',height='+screen.availHeight);
}
</script><!---------------------------------- Start of Top grey bar ---------------------------------->
<!---------------------------------- End of Top grey bar ---------------------------------->
<tr><td style="background-image: url(/images/2009a/bg.gif)" style="background-repeat: no-repeat" >


<table id="eclass_main_frame_table" name="eclass_main_frame_table" width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <!--<tr>
          <td height="50" valign="top"></td>
        </tr>-->
        <tr> 
			    <td valign="top">
			    	 {{{FUNC_MODULE_TITLE}}} 
			    <div id="system_message_box" class="SystemReturnMessage" style="display:block; visibility: hidden;"> 
						<div class="msg_board_left">
					  	<div class="msg_board_right" id="message_body"> 
					  	<a href="#" onclick="document.getElementById('system_message_box').style.display = 'none'; return false;">[Clear]</a>
					  	</div>
						</div>
					</div>
					</td>
				</tr>
        <tr>
          <td align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
              	<td>
					<div id="leftmenu" style="position:absolute; z-index:1; left: 0px; top: 90px;">
					{{{FUNC_MODULE_MENU}}}
					</div>
                <div id="content" style="padding-left: 150px; width=100%">
                <table width="99%" border="0" cellspacing="0" cellpadding="0">
                	<!--
                    <tr>
                      <td width="13" height="27"><img src="web_root_path/images/2009a/content_01.gif" width="13" height="27"></td>
                      <td background="web_root_path/images/2009a/content_02.gif" height="27" valign="middle" style="padding-left: 5px">{{{FUNC_TITLE_TAGS}}}</td>
                      <td width="11" height="27"><img src="web_root_path/images/2009a/content_03.gif" width="11" height="27"></td>
                    </tr>
                    -->

                    <tr>
                      <td height="27" background="web_root_path/images/2009a/content_01_bg.gif"><img src="web_root_path/images/2009a/10x10.gif" width="13" height="27"></td>
                      <td background="web_root_path/images/2009a/content_02_bg.gif" height="33" valign="middle" style="padding-left: 5px">
                      	<div id="Content_tab">
                      	{{{FUNC_TITLE_TAGS}}}
                      	</div>
                      </td>
                      <td height="27" background="web_root_path/images/2009a/content_03_bg.gif"><img src="web_root_path/images/2009a/10x10.gif" width="11" height="27"></td>
                    </tr>
                    <!--
                    <tr> 
                      <td width="13" height="1"><img src="web_root_path/images/2009a/content_01_u.gif" width="13" height="1"></td>
                      <td background="web_root_path/images/2009a/content_02_u.gif" height="1"><img src="/images/2009a/content_02_u.gif" width="13" height="1"></td>
                      <td width="11" height="1"><img src="web_root_path/images/2009a/content_03_u.gif" width="11" height="1"></td>
                    </tr>
                    -->
                    <tr>
                      <td width="13" background="web_root_path/images/2009a/content_04.gif"><img src="web_root_path/images/2009a/content_04.gif" width="13" height="13"></td>
                      <td align="center" bgcolor="#FFFFFF" height="350" valign="top">{{{HTML_BODY}}}
                      </td>
                      <td width="11" background="web_root_path/images/2009a/content_06.gif"><img src="web_root_path/images/2009a/content_06.gif" width="11" height="13"></td>
                    </tr>
                    <tr>
                      <td width="13" height="10"><img src="web_root_path/images/2009a/content_07.gif" width="13" height="10"></td>
                      <td background="web_root_path/images/2009a/content_08.gif" height="10"><img src="web_root_path/images/2009a/content_08.gif" width="13" height="10"></td>
                      <td width="11" height="10"><img src="web_root_path/images/2009a/content_09.gif" width="11" height="10"></td>
                    </tr>
                  </table>
                  </div>
                  </td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td>{{{TEMPLATE_HOME_FOOTER}}}</td>
  </tr>
</table>
</body>
</html>