{{{TEMPLATE_POPUP_HEADER}}}
<link href="web_root_path/templates/2009a/css/IES.css" rel="stylesheet" type="text/css">
<link href="web_root_path/templates/2009a/css/IES_font_L.css" rel="stylesheet" type="text/css">
<script language="JavaScript" src="web_root_path/templates/ies.js"></script>

<table id="eclass_main_frame_table" name="eclass_main_frame_table" width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top">
      {{{HTML_BODY}}}
    </td>
  </tr>
  <tr>
    <td>{{{TEMPLATE_IES_FRONTEND_FOOTER}}}</td>
  </tr>
</table>
</td>
</tr>
</table>
</body>
</html>