{{{TEMPLATE_POPUP_HEADER}}}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
	<td height="10"><img src="/images/2007a/10x10.gif"></td>
</tr>
<tr>
	<td height="37">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td width="14" height="37"><img src="/images/2007a/index/popup/top_01.gif" width="14" height="37"></td>
		<td height="37" align="center" nowrap background="/images/2007a/index/popup/top_02.gif" class="indexpoptitle">
		{{{FUNC_POPUP_TITLE}}}
		</td>
		<td width="9" height="37"><img src="/images/2007a/index/popup/top_03.gif" width="9" height="37"></td>
		<td width="100%" height="37" nowrap background="/images/2007a/index/popup/top_04.gif">&nbsp;</td>
		<td width="13" height="37"><img src="/images/2007a/index/popup/top_05.gif" width="13" height="37"></td>
	</tr>
	</table>
	</td>
</tr>
<tr>
	<td>
	<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td width="14" background="/images/2007a/index/popup/board_01.gif"><img src="/images/2007a/index/popup/board_01.gif" width="14" height="17"></td>
		<td align="center" bgcolor="#FFFFFF">
		<br />
		<table width="95%" height="100%" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="7" height="7"><img src="/images/2007a/index/popup/grey_board_01.gif" width="7" height="7"></td>
			<td height="7" bgcolor="#f5f5f5"><img src="/images/2007a/10x10.gif" width="7" height="7"></td>
			<td width="7" height="7"><img src="/images/2007a/index/popup/grey_board_03.gif" width="7" height="7"></td>
		</tr>
		<tr>
			<td width="7" bgcolor="#f5f5f5"><img src="/images/2007a/10x10.gif" width="7" height="7"></td>
			<td valign="top" bgcolor="#f5f5f5">
			<table width="100%" border="0" cellspacing="0" cellpadding="10">
			<tr>
			<td>
			{{{HTML_BODY}}}
			</td>
			</tr>
			</table>
			<td width="7" bgcolor="#f5f5f5"><img src="/images/2007a/10x10.gif" width="7" height="7"></td>
		</tr>
		<tr>
			<td width="7" height="7"><img src="/images/2007a/index/popup/grey_board_07.gif" width="7" height="7"></td>
			<td height="7" bgcolor="#f5f5f5"><img src="/images/2007a/10x10.gif" width="7" height="7"></td>
			<td width="7" height="7"><img src="/images/2007a/index/popup/grey_board_09.gif" width="7" height="7"></td>
		</tr>
		</table>
		<br />
		</td>
		<td width="13" background="/images/2007a/index/popup/board_03.gif"><img src="/images/2007a/index/popup/board_03.gif" width="13" height="15"></td>
	</tr>
	<tr>
		<td width="14" height="15"><img src="/images/2007a/index/popup/board_04.gif" width="14" height="15"></td>
		<td height="15" background="/images/2007a/index/popup/board_05.gif"><img src="/images/2007a/index/popup/board_05.gif" width="14" height="15"></td>
		<td width="13" height="15"><img src="/images/2007a/index/popup/board_06.gif" width="13" height="15"></td>
	</tr>
	</table>
	</td>
</tr>
<tr>
	<td height="10"><img src="/images/2007a/10x10.gif"></td>
</tr>

  
</table>

{{{TEMPLATE_POPUP_FOOTER}}}
</body>
</html>